<!-- wrapper -->
<div class="create-wrapper create-wrapper-large">

    <img id="create-img-content" class="create-img" src="/static/images/create.png"/>

    <div id="create-buttons">

        <div id="create-petition-button" class="button-placeholder">
            <img src="/static/images/create/petitionsicon.png"/>
        </div>

        <div id="create-news-button" class="button-placeholder">
            <img src="/static/images/create/newsicon.png"/>
        </div>

        <div id="create-group-button" class="button-placeholder">
            <img src="/static/images/questionIcons/socialissues/soc_default.png"/>
        </div>

    </div>

    {% include 'deployment/pieces/create_petition.html' %}
    {% include 'deployment/pieces/create_news.html' %}
    <!-- {% include 'deployment/pieces/create_group.html' %} -->

</div>