<html>

<head>
<meta charset="utf-8">

<title>LoveGov Upgrade your Browser</title>

<link rel="stylesheet" href="/static/css/compiled/master.css">

</head>


<body>

<div style="margin-left:auto; margin-right:auto; width:600px;">
	<div style="width:425px; margin-left:auto; margin-right:auto;">
	<img src="http://dev.lovegov.com/static/images/login/splashlogo.png">
</div>

<div style="margin-top: 20px; width:600px; text-align:center; ">
	<h3>Welcome to LoveGov</h3>
	<h3>Unfortunately, we don't support your browser at this time. <br> To use LoveGov, please download one of the following browsers:</h3>
</div>

<div style="margin-left: 100px; margin-right:auto; text-align:center; width: 600px;">
	
	<div style="float:left;  text-align:center;width: 250px;">
		
		<a style="float:left;margin-left: 15px;" href="http://www.mozilla.org/en-US/firefox/new/">
			<img style="" src="http://www.mozilla.org/img/covehead/firefox/brand-toolkit/download/logo-only-preview.png"><p style="margin:none;">
			Download Firefox</p></a>
	</div>
	<div style="float:left; text-align:center;width: 250px;">
		
		<a style="float:left;margin-left: 15px;" href="https://www.google.com/intl/en/chrome/browser/">
			<img style="" src="/static/images/icons/chrome_logo.png">
			<p style="margin:none;">Download Chrome</p></a>
 	</div>

    <a href='/continue' class="continue" style="margin-top:100px;">
        or continue at your own risk.
    </a>
</div>

</div>

</body></html>