<!-- wrapper -->
<div class="create-wrapper">

    <div class="modal-close create_modal_close" ></div>

    <div id="create-buttons">

        <div id="create_news_button" class="button-placeholder">
            <img src="/static/images/create/news.png"/>
            <span>Post News</span>
        </div>

        <div id="create_petition_button" class="button-placeholder">
            <img src="/static/images/create/petitions.png"/>
            <span>Post a Petition</span>
        </div>

        <div id="create_group_button" class="button-placeholder">
            <img src="/static/images/create/groups.png"/>
            <span>Create a Group</span>
        </div>

        <div id="create_question_button" class="button-placeholder">
            <img src="/static/images/create/question.png"/>
            <span>Post a Question</span>
        </div>

        <div id="create_poll_button" class="button-placeholder">
            <img src="/static/images/create/poll.png"/>
            <span>Post a Poll</span>
        </div>

        <div style="clear:both"></div>

    </div>

    {% include 'site/pieces/create_modal/create_news.html' %}
    {% include 'site/pieces/create_modal/create_petition.html' %}
    {% include 'site/pieces/create_modal/create_group.html' %}

</div>