<!-- wrapper -->
<div class="create-wrapper">

    <div class="modal-close create_modal_close" ></div>

    <div id="create-buttons">

        <div id="create_news_button" class="button-placeholder">
            <img src="{{ STATIC_URL }}/images/create/news.png"/>
        </div>

        <div id="create_petition_button" class="button-placeholder">
            <img src="{{ STATIC_URL }}/images/create/petitions.png"/>
        </div>

        <div id="create_group_button" class="button-placeholder">
            <img src="{{ STATIC_URL }}/images/create/groups.png"/>
        </div>

    </div>

    {% include 'site/pieces/create_modal/create_news.html' %}
    {% include 'site/pieces/create_modal/create_petition.html' %}
    {% include 'site/pieces/create_modal/create_group.html' %}

</div>