{% extends 'site/frame/splash_frame.html' %}

{% block content %}

    <div id="lovegov"><img src="{{ STATIC_URL }}/images/aboutlovegov.png" /></div>

    <p><h1>Participating is easy. </h1> </p>

    <table width="700px" border=0 style="padding-bottom: 40px;">
    <tr><td><img src="{{ STATIC_URL }}/images/informed.png"/></td>
    <td width="350px"><h1>Get Informed</h1>
    <p class="paragraph">
        Democracy works best when citizens know what's happening in their government.
        With all the information on the Internet and in traditional media outlets, you’d think
        keeping current with political issues would be easier than ever. But, it’s not. We
        want to change that. At LoveGov, we're simplifying politics by filtering information
        relevant to your interests. You’ll be able to stay on top of the news, track legislation,
        and mark upcoming elections, <strong> all in one place </strong>.
    </p></td></tr></table>

    <table width="700px" border=0 style="padding-bottom: 40px;">
    <tr>
    <td><img src="{{ STATIC_URL }}/images/connected.png"/></td>
    <td width="350px"><h1>Build Connections</h1>
    <p class="paragraph">
        Getting informed is the first step towards making a difference, but a single voice
        — no matter how informed — is hard to hear in a loud crowd of people. LoveGov <strong>filters the noise. </strong>
        Through our social
        networking tools, you'll be able to connect with like-minded folks as well
        as with advocacy groups, politicians, and government agencies involved in the
        issues you care about. Together, you’ll find ways to address and solve your country's
        problems.
    </p>
    </td>
    </tr>
    </table>

    <table width="700px" border=0 style="padding-bottom: 10px;">
    <tr><td> <img src="{{ STATIC_URL }}/images/involved.png" /></td>
    <td width="350px"><h1>Enact Change</h1>
    <p class="paragraph">
        When informed people unite, change happens. But, we don’t think it’s enough
        to simply bring people together. At LoveGov, we provide you and your new allies with
        powerful tools to more easily enact change. You’ll find resources to assist you in
        organizing events, writing and circulating petitions, engaging your representatives
        and much, much more. <strong> Your views matter </strong> and your activity on LoveGov can and will
        contribute to creating a better democracy.
    </p>
    </td>
    </tr>
    </table>


{% endblock %}
