{% extends 'site/frame/splash_frame.html' %}

{% block content %}
    <div id="lovegov"><img src="{{ STATIC_URL }}/images/lovegov.png" /></div>
    <table>
        <tr>
            <td valign="top" style="padding-right:30px;">
                <h1>Politics Simplified</h1>
                <p id="summary">We're no-nonsense realists with an itch to fix politics. We believe participating in democracy doesn't need to be difficult — we believe it should be simple and engaging, even a little fun. LoveGov will inform you on the issues, keep you current with legislation that you care about, and connect you with your representatives. We're making it easy to get involved. <div id="learnmore"><a href="/learnmore/">Learn More</a>.</div>
                </p>
            </td>
            <td>
                <img src="{{ STATIC_URL }}/images/qaweb.png" width="350px" height="350px" style="margin-top:-20px;" />
            </td>
        </tr>
    </table>
    <div class="alphalink"><h2>We are pleased to announce that we are currently in Beta!</h2></div>
    <div class="alphalink"><h2>If you are a Beta user looking for the login page or want to sign up, <a id="clickhere" href="/home/">Click Here</a></h2></div>
{% endblock %}