
{% extends 'site/frame/frame.html' %}

{% block content %}

<div class="main">
    <div class="leg-title">
        <h3><span>US Senate - S 2999</span></h3>
    </div>
    <div class="level1-summary">
        <div class="bill-summary">
            <h4>
            <span>Summary</span>
            </h4>
        </div>
    </div>
    <div class="level1-summary-div">
        <div class="summary long_text more"><span>
            Providing for consideration of the bill (<a href="">H.R. 3463</a>) to
            reduce Federal spending and the deficit by terminating taxpay
           er financing of presidential election campaigns and party con-
            ventions and by terminating the Election Assistance Commis
           sion; providing for consideration of the bill (<a href="">H.R. 527</a>) to amend
            chapter 6 of title 5, United States Code (commonly known as
            the Regulatory Flexibility Act), to ensure complete analysis of
            potential impacts on small entities of rules, and for other pur
            poses; and providing for consideration of the bill (<a href="">H.R. 3010</a>) to
            reform the process by which Federal agencies analyze and for
           mulate new regulations and guidance documents.</span>
        </div>
    </div>
    <div class="level1-bill-view-stats">
        <div class="bill-views">
            <h4 class="views">432</h4>
            <h4>views</h4>
        </div>
        <div class="bill-outlook">
            <div class="spectrum">
            </div>
            <div class="spectrum-select">
            </div>
        </div>
        <div class="spectrum-labels">
            <div class="gridlock">
                <h4 class="gridlock">gridlock</h4>
            </div>
            <div class="consensus">
                <h4 class="consensus">consensus</h4>
            </div>
        </div>
    </div>
    <div class="level1-sponsor">
        <div class="bill-sponsor">
            <h4>
                <span>Sponsor</span>
            </h4>
        </div>
    </div>
    <div class="level1-sponsor-div">
        <div class="sponsor"><span><img src="/static/images/old/presidential/santorum.jpg"></span>
        </div>
    </div>
    <div class="sponsor-caption">
        <h6><span>Sen. Tom Smith<br>Democratic Party<br>Alabama<br></a><a href="">Co-Sponsors (2)</a></span></h6>
    </div>
    <div class="level1-subjects">
        <div class="bill-subjects-title">
            <h4>
                <span>Related Subjects</span>
            </h4>
        </div>
    </div>
    <div class="level1-subjects-div">
        <div class="subjects">
            <span>
                <ul>
                    <li><a href="">Campaign Finance</a></li>
                    <li><a href="">National Elections</a></li>
                    <li><a href="">National Security</a></li>
                </ul>
            </span>
        </div>
    </div>
    <div class="level1-committees">
        <div class="bill-committees-title">
            <h4>
                <span>Committees</span>
            </h4>
        </div>
    </div>
    <div class="level1-committees-div">
        <div class="committees">
            <span>
                <ul>
                    <li><a href="">Homeland Security and Governmental Affairs</a></li>
                </ul>
            </span>
        </div>
    </div>
    <div class="level1-progress">
        <div class="bill-progress-title">
            <h4>
                <span>Status</span>
            </h4>
        </div>
    </div>
    <div class="level1-progress-div">
        <div class="progress">
            <h3 class="progress">Initiated</h3>
            <img src="/static/images/legislation/status-arrow3.png">
            <h3 class="progress">Passed in House</h3>
            <img src="/static/images/legislation/status-arrow3.png">
            <h3 class="progress">Passed in Senate</h3>
            <img src="/static/images/legislation/status-arrow4.png">
            <h3 class="progress">Signed into Law</h3>
        </div>
    </div>
    <div class="bill-stats">
        <div class="bill-stats-div">
            <div class="support-stats">
                <h3 class="number">88%</h3>
                <h3>support</h3>
            </div>
            <div class="oppose-stats">
                <h4 class="number">12%</h4>
                <h4>oppose</h4>
            </div>
            <div class="button support">
                <span>support</span>
            </div>
            <div class="button oppose">
                <span>oppose</span>
            </div>
        </div>
    </div>
    <div class="bill-share">
        <div class="bill-share-div">
            <div class="button share">
                <span>share</span>
            </div>
            <div class="share-icons">
                <img src="/static/images/footer/facebook.png">
                <img src="/static/images/footer/twitter.png">
                <img src="/static/images/old/feed/plusHeartBlue.png">
            </div>
        </div>
    </div>
    <div class="bill-other-actions">
        <div class="bill-other-actions-div">
            <div class="button follow">
                <span>follow</span>
            </div>
            <div class="button contact">
                <span>contact  your representative</span>
            </div>
        </div>
    </div>
</div>
<div class="secondary">
    <div class="level2-bill-text">
        <div class="bill-text">
            <h4>
                <span>Bill Text</span>
            </h4>
        </div>
    </div>
    <div class="level2-bill-text-div">
        <div class="bill-text long_text more"><span>
            Providing for consideration of the bill (<a href="">H.R. 3463</a>) to
            reduce Federal spending and the deficit by terminating taxpay
           er financing of presidential election campaigns and party con-
            ventions and by terminating the Election Assistance Commis
           sion; providing for consideration of the bill (<a href="">H.R. 527</a>) to amend
            chapter 6 of title 5, United States Code (commonly known as
            the Regulatory Flexibility Act), to ensure complete analysis of
            potential impacts on small entities of rules, and for other pur
            poses; and providing for consideration of the bill (<a href="">H.R. 3010</a>) to
            reform the process by which Federal agencies analyze and for
           mulate new regulations and guidance documents.</span>
        </div>
    </div>
    <div class="level2-recent-actions">
        <div class="bill-recent-actions">
            <h4>
                <span>Recent Actions</span>
            </h4>
        </div>
    </div>
    <div class="level2-recent-actions-div">
        <div class="recent-actions">
            <span>
                <ul>
                    <li><a href="">Senate Vote</a></li>
                    <li><a href="">Vote in Committee</a></li>
                    <li><a href="">Vote in House</a></li>
                </ul>
            </span>
        </div>
        <div class="recent-action-dates">
            <span>
                <ul>
                    <li><a>8/12/12</a></li>
                    <li><a>8/10/12</a></li>
                    <li><a>8/09/12</a></li>
                </ul>
            </span>
        </div>
        <div class="recent-action-results">
            <span>
                <ul>
                    <li><a>Passed</a></li>
                    <li><a>Passed</a></li>
                    <li><a>Passed</a></li>
                </ul>
            </span>
        </div>
    </div>
    <div class="level2-bill-amendments">
        <div class="bill-amendments">
            <h4>
                <span>Amendments</span>
            </h4>
        </div>
    </div>
    <div class="level2-bill-amendments-div">
        <div class="amendment-name">
            <span>
                <ul>
                    <li><a href="">S.Amdt.1886</a></li>
                    <li><a href="">S.Amdt.1885</a></li>
                    <li><a href="">S.Amdt.1884</a></li>
                </ul>
            </span>
        </div>
        <div class="amendment-type">
            <span>
                <ul>
                    <li><a>In the nature of a substitute.</a></li>
                    <li><a>In the nature of a substitute.</a></li>
                    <li><a>In the nature of a substitute.</a></li>
                </ul>
            </span>
        </div>
        <div class="amendment-result">
            <span>
                <ul>
                    <li><a>Passed</a></li>
                    <li><a>Passed</a></li>
                    <li><a>Passed</a></li>
                </ul>
            </span>
        </div>
    </div>
</div>


<!--Bill title
Description
Title: Providing for consideration of the bill (H.R. 3463) to
reduce Federal spending and the deficit by terminating taxpay-
er financing of presidential election campaigns and party con-
ventions and by terminating the Election Assistance Commis-
sion; providing for consideration of the bill (H.R. 527) to amend
chapter 6 of title 5, United States Code (commonly known as
the Regulatory Flexibility Act), to ensure complete analysis of
potential impacts on small entities of rules, and for other pur-
poses; and providing for consideration of the bill (H.R. 3010) to
reform the process by which Federal agencies analyze and for-
mulate new regulations and guidance documents.
Type: official
11/29/2011--Introduced.
Sets forth the rule for consideration of the bill (H.R. 3463) to reduce Fed-
eral spending and the deficit by terminating taxpayer financing of presi-
dential election campaigns and party conventions and by terminating the
Election Assistance Commission; providing for consideration of the bill
(H.R. 527) to amend chapter 6 of title 5, United States Code (commonly
known as the Regulatory Flexibility Act), to ensure complete analysis of
potential impacts on small entities of rules, and for other purposes; and
providing for consideration of the bill (H.R. 3010) to reform the process by
which Federal agencies analyze and formulate new regulations and guid-
ance documents.
Legislative Actions
As: introduced
Action: A
Committee: None
Datetime: Nov. 29, 2011, 7:36 p.m.
Description: The House Committee on Rules reported an original measure,
H. Rept. 112-296, by Mr. Woodall.
Action: A
Committee: None
Datetime: Nov. 29, 2011, 7:36 p.m.
Description: Measure provides for consideration of H.R. 3463 with one
hour of general debate, equally divided and controlled; bill is closed to
amendments. Provides for consideration of H.R. 527 with one hour of
general debate, equally divided and controlled; specified amendments are
in order. Provides for consideration of H.R. 3010 with one hour of general
debate, equally divided and controlled; specified amendments are in
order.
Action: A
Committee: None
Datetime: Nov. 30, 2011, 1:22 p.m.
Description: Considered as privileged matter.
Action: A
Committee: None
Datetime: Nov. 30, 2011, 1:29 p.m.
Description: DEBATE - The House proceeded with one hour of debate on
H. Res. 477.
Action: A
Committee: None
Datetime: Nov. 30, 2011, 2:25 p.m.
Description: POSTPONED PROCEEDINGS - At the conclusion of debate on
H. Res. 477, the Chair put the question on ordering the previous question
and by voice vote, announced the noes had prevailed. Mr. Woodall
demanded the yeas and nays and the Chair postponed further proceed-
ings on ordering the previous question until a time to be announced.
Action: A
Committee: None
Datetime: Nov. 30, 2011, 6:07 p.m.
Description: Considered as unfinished business.
Action: A
Committee: None
Datetime: Nov. 30, 2011, 6:14 p.m.
Description: On ordering the previous question Agreed to by the Yeas and
Nays: 239 - 184 (Roll no. 870).
Action: A
Committee: None
Datetime: Nov. 30, 2011, 6:21 p.m.
Description: Motion to reconsider laid on the table Agreed to without
objection.
Action: C
Committee: None
Datetime: Nov. 29, 2011, 7:40 p.m.
Description: Placed on the House Calendar, Calendar No. 94.
Action: V
Committee: None
Datetime: Nov. 30, 2011, 6:21 p.m.
Description: On agreeing to the resolution Agreed to by recorded vote:
239 - 178 (Roll no. 871).
Misc Info
Last updated: March 23, 2012, 11:42 a.m.
Introduced: Nov. 29, 2011
Sponsor: Rob Woodall
Current state: PASSED:SIMPLERES
Status: V
Datetime: Nov. 30, 2011, 6:21 p.m.
Sponsor
Rob Woodall
Co-sponsors
None.
Committees
Name: House Committee on Rules
Code: HSRU
Type: H
Members:
Amendments
No amendments for this bill.

Bill Summary:
sj 3 House of Representatives Resolution sj 18 House of Representatives Committee Bill sj 32 Senate Joint Bill sj 17 sj 15 Senate Committee Bill
110th Congress
Senate Resolution House of Representatives Joint Bill
109th Congress
sj 23 "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
do eiusmod tempor incididunt ut labore et dolore magna
aliqua. Ut enim ad minim veniam, quis nostrud exercitation
ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
cupidatat non proident, sunt in culpa qui officia deserunt
mollit anim id est laborum."
-->

<script> rebind='legislation-view'; </script>
{% endblock %}



