<div class="stub-container">
    <div class="sponsor">
        <div class="sponsor-img">
            {% include 'site/pieces/avatar.html' with user=l.sponsor width="80" height="80" %}
         </div>
        <div class="sponsor-info">
            <a href='{{l.sponsor.get_url}}'><h6 class="sponsor-name"> Sponsor<br>{{l.sponsor.get_name}}</h6></a>
        </div>
    </div>
    <div class="bill-stub-text">
        <div class="politician-action">
            <h5 class="politician-vote"><span>Politician voted:</span></h5>
        </div>
        <div class="bill-title long_text">

                {% if l.bill_type == "s" %}
                    <h5><span>Session {{l.congress_session_id}} S {{l.bill_number}} - {{l.full_title}}</span></h5>
                {% elif l.bill_type = "h" %}
                    <h5><span>Session {{l.congress_session_id}} H.R. {{l.bill_number}} - {{l.full_title}}</span></h5>
                {% elif l.bill_type == "hr" %}
                    <h5><span>Session {{l.congress_session_id}} H.Res. {{l.bill_number}} - {{l.full_title}}</span></h5>
                {% elif l.bill_type == "sr" %}
                    <h5><span>Session {{l.congress_session_id}} S.Res. {{l.bill_number}} - {{l.full_title}}</span></h5>
                {% elif l.bill_type == "hc" %}
                    <h5><span>Session {{l.congress_session_id}} H.Con.Res. {{l.bill_number}} - {{l.full_title}}</span></h5>
                {% elif l.bill_type == "sc" %}
                    <h5><span>Session {{l.congress_session_id}} S.Con.Res. {{l.bill_number}} - {{l.full_title}}</span></h5>
                {% elif l.bill_type == "hj" %}
                    <h5><span>Session {{l.congress_session_id}} H.J.Res. {{l.bill_number}} - {{l.full_title}}</span></h5>
                {% elif .bill_type == "sj" %}
                    <h5><span>Session {{l.congress_session_id}} S.J.Res. {{l.bill_number}} - {{l.full_title}}</span></h5>
                {% endif %}

        </div>
        <div class="bill-summary long_text">
            <h6><span><span class="summary-intro">Summary: </span>{{l.bill_summary}}</span></h6>
        </div>
    </div>
    <a href="/legislation/{{ l.id }}/">
        <div class="bill-expand-link">
            <span class="detail-link">Detail</span>
        </div>
    </a>
</div>