{% extends 'site/frame/frame.html' %}

{% block content %}

<div id="content-leg-div">
    <div class="content-filter-box menu_toggle">
        <p><h3>filter legislation by:</h3></p>
    </div>
<div class="column1">
    <p><h4>session</h4></p>
    <ul class="leg-filter-dropdown drop_down">
        {% for session in sessions %}
            <li><input type="checkbox" class="checkbox"/><h5>session {{ session }}</h5></li>
        {% endfor %}
    </ul>
</div>
<div class="column2">
    <p><h4>session</h4></p>
    <ul class="leg-filter-dropdown drop_down">
        {% for session in sessions %}
            <li><input type="checkbox" class="checkbox"/><h5>session {{ session }}</h5></li>
        {% endfor %}
    </ul>
</div>
<div class="column3">
    <p><h4>session</h4></p>
    <ul class="leg-filter-dropdown drop_down">
        {% for session in sessions %}
            <li><input type="checkbox" class="checkbox"/><h5>session {{ session }}</h5></li>
        {% endfor %}
    </ul>
</div>
<div class="column4">
    <p><h4>session</h4></p>
    <ul class="leg-filter-dropdown drop_down">
        {% for session in sessions %}
            <li><input type="checkbox" class="checkbox"/><h5>session {{ session }}</h5></li>
        {% endfor %}
    </ul>
</div>

</div>
    
{% endblock %}



