{% extends 'site/frame/frame.html' %}

{% block content %}


<div class="main-block">
    <div class="legislation_filter">
        <div class="filter_prompt">
            <h6 class="no-hover">
                filter legislation by:
            </h6>
        </div>
        <div class="session_filter filter_box unchecked" data-selector="session_selector">
            <span>session</span>
        </div>
        <div class="type_filter filter_box unchecked" data-selector="type_selector">
            <span>type</span>
        </div>
        <div class="subject_filter filter_box unchecked" data-selector="subject_selector">
            <span>subjects</span>
        </div>
        <div class="committee_filter filter_box unchecked" data-selector="committee_selector">
            <span>committees</span>
        </div>
        <div class="introduced_filter filter_box unchecked" data-selector="introduced_selector">
            <span>dates</span>
        </div>
        <div class="sponsor_filter filter_box unchecked" data-selector="sponsor_selector">
            <span>sponsor</span>
        </div>
    </div>
    <div class="legislation_selector">
        <div class="session_selector">
            <select multiple class="session_select">
                <optgroup label="Congress Sessions" id="bill_sessions">
                    {% for session in sessions %}
                        <option class="bill-sessions" value='{{ session }}'>{{ session }}</option>
                    {% endfor %}
                </optgroup>
            </select>
        </div>
        <div class="type_selector">
            <select multiple class="type_select">
                <optgroup label="Bill Types" id="bill_types">
                    {% for type in types %}
                        <option class="bill-types" value='{{ type }}'>{{ type }}</option>
                    {% endfor %}
                </optgroup>
            </select>
        </div>
        <div class="subject_selector">
            <select multiple class="subject_select">
                <optgroup label="Bill Subjects" id="bill_subjects">
                    {% for subject in subjects %}
                        <option class="bill-subjects" value='{{ subject.related_name }}'>{{ subject.related_name }}</option>
                    {% endfor %}
                </optgroup>
            </select>
        </div>
        <div class="committee_selector">
            <select multiple class="committee_select">
                <optgroup label="Committees" id="bill-committees">
                    {% for committee in committees %}
                        <option class="committees" value='{{ committee.related_name }}'>{{ committee.related_name }}</option>
                    {% endfor %}
                </optgroup>
            </select>
        </div>
        <div class="introduced_selector">
            <ul>
                <li><input type="form" class="datepicker" id="datepicker1" placeholder="Choose a date"><label for="datepicker1"><h5>from</h5></label>
                    <input type="form" class="datepicker" id="datepicker2" placeholder="Choose a date"><label for="datepicker2"><h5>to</h5></label></li>
                <li><input type="form" class="datepicker" id="datepicker3" placeholder="Choose a date"><label for="datepicker3"><h5>from</h5></label>
                    <input type="form" class="datepicker" id="datepicker4" placeholder="Choose a date"><label for="datepicker4"><h5>to</h5></label></li>
                <li><input type="form" class="datepicker" id="datepicker5" placeholder="Choose a date"><label for="datepicker5"><h5>from</h5></label>
                    <input type="form" class="datepicker" id="datepicker6" placeholder="Choose a date"><label for="datepicker6"><h5>to</h5></label></li>
            </ul>
        </div>
        <div class="sponsor_selector">
            <ul>
                <li>
                    <select multiple class="sponsor_select_body">
                        <optgroup label="Sponsor body" id="bill_sponsor_body">
                                <option class="sponsors" value='Senate'>US Senate</option>
                                <option class="sponsors" value='House'>US House of Representatives</option>
                        </optgroup>
                    </select>
                </li>
                <li>
                    <select multiple class="sponsor_select_name">
                        <optgroup label="Sponsor name" id="bill_sponsor_name">
                            {% for sponsor in sponsors %}
                                <option class="sponsors" value='{{ sponsor.get_name }}'>{{ sponsor.get_name }}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                </li>
                <li>
                    <select multiple class="sponsor_select_party">
                        <optgroup label="Sponsor party" id="bill_sponsor_party">
                            {% for sponsor in sponsors %}
                                <option class="sponsors" value='{{ sponsor.getParty }}'>{{ sponsor.getParty }}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                </li>
                <li>
                    <select multiple class="sponsor_select_district">
                        <optgroup label="Sponsor district" id="bill_sponsor_district">
                            {% for sponsor in sponsors %}
                                <option class="sponsors" value='{{ sponsor.getDistrict }}'>{{ sponsor.getDistrict }}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="filter-results">
    <div class="results-heading-">
        <h6 class="no-hover">
            results:
        </h6>
        <p>
        <div class="legislation-feed-wrapper">
            {% include 'site/pages/legislation/feed_legislation.html' with special_feed="getLegislation" %}
        </div>
        </p>
    </div>
</div>
<!-- Javascript -->
<script> rebind='legislation'; </script>


{% endblock %}