{% load thumbnail %}

{% with creator=item.getCreator %}

    <div class="linear">

        <div class="linear-main">

            <div class="linear-left">

                <div class="linear-picture">

                    {% include 'site/pages/feed/feed_image.html' %}

                    <div class="header-topic">
                        {% with topic=item.getMainTopic %}
                            {% thumbnail item.getMainTopic.image "50x50" format="PNG" as im %}
                                <img src="{{ im.url }}" title="{{topic.topic_text}}" class="tooltip-top"/>
                            {% empty %}
                                <p> ? </p>
                            {% endthumbnail %}
                        {% endwith %}
                    </div>

                </div>

                <!-- footer -->
                {% include 'site/pages/feed/social_bar.html' %}

                <div style="clear:both"></div>

            </div>


            <div class="linear-right">

                <!-- title -->
                {% include 'site/pages/feed/feed_title.html' %}

                <!-- summary -->
                {% include 'site/pages/feed/feed_summary.html' %}

                <!-- top-comment -->
                <!--
                {% with top_comment=item.getTopComment %}
                    {% if top_comment %}

                        {% include 'site/pages/feed/top_comment.html' %}

                    {% endif %}
                {% endwith %}
                -->

                <!-- avatar -->
                <div class="avatar">
                    {% include 'site/pages/feed/feed_avatar.html' %}
                    <div style="clear:both"></div>
                </div>

            </div>

            <div style="clear:both"></div>

        </div>

    </div>

{% endwith %}



