{% load humanize %}
{% load thumbnail %}
<div class="action">
<table class="action-container">
<tr>

    <!-- Commented -->
    {% if type == 'CO' %}
        <td class="action-thumbnail">
            {% thumbnail from_user.getImage "25x25" crop="center" as im %}
                <img src="{{ im.url }}" class="icon-small"/>
            {% endthumbnail %}
        </td>
        <td class="action-text">
            {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            commented on
            {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
        </td>

    <!-- Voted -->
    {% elif type == 'VO' %}
        {% if modifier == 'L' %}
            <td class="action-thumbnail"><img src="/static/images/feed/heart-small.png"/></td>
            <td class="action-text">
                {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                liked
                {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% elif modifier == 'D' %}
            <td class="action-thumbnail"><img src="/static/images/feed/heart-small.png"/></td>
            <td class="action-text">
                {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                disliked
                {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% else %}
            <td class="action-thumbnail"><img src="/static/images/feed/heart-small.png"/></td>
            <td class="action-text">
                {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                unvoted
                {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% endif %}

    <!-- Followed -->
    {% elif type == 'FO' %}
        <td class="action-thumbnail">
            {% thumbnail to_user.getImage "25x25" crop="center" as im %}
                <img src="{{ im.url }}" class="icon-small"/>
            {% endthumbnail %}
        </td>
        <td class="action-text">
            {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            {% if modifier == 'I' %}
                {% if from_you %}
                    were invited to follow
                {% else %}
                    was invited to follow
                {% endif %}
            {% elif modifier == 'R' %}
                requested to follow
            {% elif modifier == 'D' %}
                followed
            {% elif modifier == 'N' %}
                refused to follow
            {% elif modifier == 'X' %}
                {% if from_you %}
                    were rejected from following
                {% else %}
                    was rejected from following
                {% endif %}
            {% elif modifier == 'A' %}
                {% if from_you %}
                    were accepted to follow
                {% else %}
                    was accepted to follow
                {% endif %}
            {% elif modifier == 'S' %}
                stopped following
            {% endif %}
            {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
        </td>

    <!-- Group Follow -->
    {% elif type == 'JO' %}
        <td class="action-thumbnail">
            {% thumbnail to_user.getImage "25x25" crop="center" as im %}
                <img src="{{ im.url }}" class="icon-small"/>
            {% endthumbnail %}
        </td>
        <td class="action-text">
        {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
        {% if modifier == 'I' %}
            {% if from_you %}
                were invited to join
            {% else %}
                was invited to join
            {% endif %}
        {% elif modifier == 'R' %}
            requested to join
        {% elif modifier == 'D' %}
            joined
        {% elif modifier == 'N' %}
            declined joining
        {% elif modifier == 'X' %}
            {% if from_you %}
                were rejected from
            {% else %}
                was rejected from
            {% endif %}
        {% elif modifier == 'S' %}
            left
        {% elif modifier == 'A' %}
            {% if from_you %}
                were accepted to join
            {% else %}
                was accepted to join
            {% endif %}
        {% endif %}
        {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
        </td>

    <!-- Events -->
    {% elif type == 'AE' %}
        {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true%}
        {% if modifier == 'I' %}
            {% if from_you %}
                 were invited to attend
            {% else %}
                was invited to attend
            {% endif %}
        {% elif modifier == 'R' %}
            requested to attend
        {% elif modifier == 'D' %}
            {% if from_you %}
                are attending
            {% else %}
                is attending
            {% endif %}
        {% elif modifier == 'N' %}
            refused to attend
        {% elif modifier == 'X' %}
            {% if from_you %}
                were rejected from attending
            {% else %}
                was rejected from attending
            {% endif %}
        {% endif %}
        {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}

<!-- Debate Section -->
    {% elif type == 'JD' %}
        {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true%}
        {% if modifier == 'I' %}
            was invited to debate
        {% elif modifier == 'R' %}
            requested to debate
        {% elif modifier == 'D' %}
            is debating
        {% elif modifier == 'N' %}
            declined to debate
        {% elif modifier == 'X' %}
            was rejected from debating
        {% endif %}
        {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}

    {% elif type == 'FC' %}
        {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true%}
        followed
        {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}

    {% elif type == 'MV' %}
        {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
        voted on
        {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}

    {% elif type == 'DV' %}
        {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
        voted on
        {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}

    {% elif type == 'DM' %}
        {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
        responded in
        {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}

    {% elif type == 'SI' %}
        <td class="action-thumbnail"><img src="/static/images/feed/check-small.png"/></td>
        <td class="action-text">
            {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            signed
            {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
        </td>

    {% elif type == 'SH' %}
        <td class="action-thumbnail"><img src="/static/images/feed/share.png"/></td>
        <td class="action-text">
            {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            {% if tally == 2 %}
                and one other person
            {% elif tally > 2 %}
                and {{ tally|add:"-1" }} other people
            {% endif %}
            shared
            {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you capital=true %}
        </td>

    {% elif type == 'CR' %}
        {% if to_user.type == 'R' %}
            <td class="action-thumbnail"><img src="/static/images/feed/answered.png"/></td>
            <td class="action-text">
                {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                answered
                {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% elif to_user.type == 'P' %}
            <td class="action-thumbnail"><img src="/static/images/feed/petition-small.png"/></td>
            <td class="action-text">
                {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                created
                {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% elif to_user.type == 'N' %}
            <td class="action-thumbnail"><img src="/static/images/feed/news-small.png"/></td>
            <td class="action-text">
                {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                created
                {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% elif to_user.type == 'G' %}
            <td class="action-thumbnail">
                {% thumbnail to_user.getImage "25x25" crop="center" as im %}
                    <img src="{{ im.url }}" class="icon-small"/>
                {% endthumbnail %}
            </td>
            <td class="action-text">
                {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                created
                {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% else %}
            {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            created
            {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
        {% endif %}

    {% elif type == 'ED' %}
        <td class="action-thumbnail"><img src="/static/images/feed/edit-feed.png"/></td>
        <td class="action-text">
            {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            edited
            {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
        </td>

    {% elif type == 'XX' %}
        {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
        deleted
        {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}

    {% endif %}
</tr>
<tr>
    <td colspan="3" class="action-timestamp">
        {{ timestamp|naturaltime }}
    </td>
</tr>
</table>
</div>
