{% if you %}
    {% if possesive %}
        {% if capital %}
            Your
        {% else %}
            your
        {% endif %}
    {% else %}
        {% if capital %}
            You
        {% else %}
            you
        {% endif %}
    {% endif %}
{% else %}
    {% if not private %}
        <a href="{{ user.get_url }}" class="action_name do-ajax-link">
            {% if possesive %}
                {{ user.get_name }}'s
            {% else %}
                {{ user.get_name }}
            {% endif %}
        </a>
    {% else %}
        Anonymous
    {% endif %}
{% endif %}