{% load customtags %}
{% load thumbnail %}
<a href="{{ question.getUrl }}">
    <div class="autocomplete-question autocomplete-div">
    	{% with full_url=host_full|add:question.getMainTopic.getImageRef %}
	    	{% thumbnail full_url "20x20" crop="center" format="PNG" as im %}
	    	<img src="{{im.url}}">
	    	{% endthumbnail %}
    	{% endwith %}
        <div class="autocomplete-name">
            {{question.question_text|truncate_chars:80}}
        </div>
        <div style="clear:both"></div>
    </div>
</a>