{% load customtags %}
{% load thumbnail %}
<a href="{{ news.getUrl }}">
    <div class="autocomplete-news autocomplete-div">
        {% with full_url=host_full|add:news.getMainTopic.getImageRef %}
            {% thumbnail full_url "20x20" crop="center" format="PNG" as im %}
            <img src="{{im.url}}">
            {% endthumbnail %}
        {% endwith %}
        <div class="autocomplete-name">
            {{news.title|truncate_chars:80}}
        </div>
        <div style="clear:both"></div>
    </div>
</a>