{% load thumbnail %}

<div class="avatar-box">

    {% with width|add:"x"|add:height as geometry %}

        {% if private %}

            {% thumbnail user.getProfileImage.image geometry crop="center" as im %}
                <img class="has_hover_comparison avatar-image"  data-href="{{ user.get_url }}" data-display_name="{{ user.get_name }}"
                     src="{{ im.url }}"/>
            {% endthumbnail %}

        {% else %}

            {% thumbnail defaultProfileImage geometry crop="center" as im %}
                <img class="avatar-image" src="{{ im.url }}"/>
            {% endthumbnail %}

        {% endif %}

    {% endwith %}

</div>