{% load thumbnail %}

<div class="avatar-box">

    {% thumbnail user.getProfileImage.image "50x50" crop="center" as im %}
        <img class="has_hover_comparison avatar-image"  data-href="{{ user.get_url}}" data-display_name="{{ user.get_name }}"
             src="{{ im.url }}"/>
    {% empty %}
        <img class="has_hover_comparison avatar-image"  data-href="{{ user.get_url}}" data-display_name="{{ user.get_name }}"
             src="{{ user.getProfileImage.image.url }}" width="50px" height="50px"/>
    {% endthumbnail %}

</div>