{% load thumbnail %}

<div class="avatar-box">

    {% with width|add:"x"|add:height as geometry %}

        {% if private %}

            {% thumbnail defaultProfileImage geometry crop="center" as im %}
                <img class="avatar-image" src="{{ im.url }}"/>
            {% empty %}
                {{ defaultProfileImage }}
            {% endthumbnail %}

        {% else %}
            {% with full_url=host_full|add:user.getImageURL %}
                {% thumbnail full_url geometry crop="center" as im %}
                    <img class=" {% if not hoveroff %} has_hover_comparison {% endif %} avatar-image"
                         data-href="{{ user.get_url }}" data-display_name="{{ user.get_name }}"
                         src="{{ im.url }}"/>
                {% empty %}
                    {{ full_url }}
                {% endthumbnail %}
            {% endwith %}

        {% endif %}

    {% endwith %}

</div>