<div class="comment {% if depth|divisibleby:'2' %}level1 {% else %}level2 {% endif %} {% if depth < 1 %}toplevel {% endif %}" style="margin-left:{{ margin }}px;width:{{ width }}px">
    <div class="comment-username feed-username"> 
        {% load thumbnail %}
        {% if public and comment.active %}
            {% thumbnail creator.getProfileImage.image "40x40" crop="center" as im %}
                <img class="user-img" class="user-menu-pointer" src="{{ im.url }}"/>
            {% empty %}
            	<img class="user-img" class="user-menu-pointer" src="http://lovegov.com/static/images/profile_default.jpg" width="40px" height="40px"/>
            {% endthumbnail %}
        {% else %}
        	<img class="user-img" class="user-menu-pointer" src="http://lovegov.com/static/images/profile_default.jpg" width="40px" height="40px"/>        {% endif %}
        {% if comment.active %}
            <a href="{% if public %}{{creator.get_url}}{% endif %}">{{ display_name}}</a>
        {% else %}
            <a> deleted </a>
        {% endif %}
    </div>
    <span class="flag tooltip-top" data-commentid="{{comment.id}}" title="Flag this comment">⚐</span>
    <span class="timestamp">
        {{comment.created_when}}
    </span>
    <div class="clearfix"></div>
    <div>
        <div class="comment-text inline_hide">
            {% if comment.active %}
                {{ comment.text|linebreaks }}

            {% else %}
                deleted
        {% endif %}
        </div>
        {% if comment.getCreator == viewer %}
        <div class="edit_button edit-link"></div>
        <div class="inline-edit-input inline_edit" data-model="Content" data-id="{{comment.id}}">
            <textarea style="width:{{ width }}px" class="comment-textarea edit_input" type="text" name="text" maxlength='1000'>{{comment.text}}</textarea>
            <input type="button" class="tab-button edit-link submit_inline_edit" style="float: right" value="Save">
            <input type="button" class="tab-button cancel_inline_edit alt" style="float: right; margin-right: 10px" value="Cancel">
            <div style="clear:both"></div>
        </div>
        {% endif %}
    </div>
    <div class="comment-reply">
        <div class="reply">
            reply
        </div>
        <div class="share">
        	share
        </div>
    {% if owner and comment.active %}
        <div class="commentdelete">
            delete
            <input type="hidden" class="delete_id" name="delete_id" value="{{ comment.id }}"/>
        </div>
    {% endif %}
    </div>
    <div class="comment-footer">

            {% include "deployment/snippets/hearts.html" with content=comment %}

        </div>

    <form class="replyform" name="postcomment" action="/comment/" method="post"> {% csrf_token %}
        <textarea style="width:{{ width }}px" class="comment-textarea" type="text" name="comment">what's your opinion?</textarea>
        <input class="hidden_id" type="hidden" name="c_id" value="{{ comment.id }}"/>
        <input class="tab-button" type="submit" value="Save" style="float: right;" />
        <input class="tab-button alt" type="button" value="Cancel" style="float: right; margin-right: 10px" /><div class="clearfix"></div>
    </form>
</div>

