<div class="feed-item not-processed">
    <div class="feed-avatar">
        {% load thumbnail %}
        <a href="{{ item.getMainTopic.get_url }}">
            {% thumbnail item.getMainImage.image "65x65" format="PNG" as im %}
                <img src="{{ im.url }}"/>
            {% empty %}
                <p> no pic </p>
            {% endthumbnail %}
        </a>
    </div>
    <div class="feed-content">
        <div>
            <a class="feed-item-username" href="{{ item.get_url }}"> {{ item.title|safe }} </a>
        </div>
        <p class="feed-item-text">
            {{ item.summary|linebreaks|truncatechars:250|safe }}
        </p>
        <div class="links">
            <div class="link-img">
                {% thumbnail news.link_screenshot "235x180" format="PNG" as im %}
                    <img src="{{ im.url }}"/>
                {% empty %}
                    no pic
                {% endthumbnail %}
                <a style="display:none" href="{{ news.link }}">{{ news.link }}</a>
            </div>
            <div class="link-content">
                <h3>{{ news.title|safe }}</h3>
                <p>
                    {{ news.link_summary|truncatechars:400|safe }}
                </p>
            </div>
        </div >
        <div class="meta-div">
            <div class="feed-username">
                {% with creator=item.getCreator %}
                    {% if item.privacy == 'PUB' %}
                        {% load thumbnail %}
                        {% thumbnail creator.getProfileImage.image "40x40" crop="center" as im %}
                            <img class="user-img" class="user-menu-pointer" src="{{ im.url }}"/>
                        {% empty %}
                            {% load thumbnail %}
                            {% thumbnail defaultImage "40x40" crop="center" as im %}
                                <img class="user-img" class="user-menu-pointer" src="{{ im.url }}"/>
                            {% endthumbnail %}
                        {% endthumbnail %}
                        <a href="{{ creator.getAlphaURL }}" class="user-link do-ajax-link"> {{ creator.get_name }} </a>
                    {% else %}
                        {% load thumbnail %}
                        {% thumbnail defaultImage "40x40" crop="center" as im %}
                            <img class="user-img" class="user-menu-pointer" src="{{ im.url }}"/>
                        {% endthumbnail %}
                        <a class="user-link"> Anonymous </a>
                    {% endif %}
                {% endwith %}
            </div>
            <div class="metadata">
                <img class="heart blue plus {% if my_vote == 1 %} show {% else %} hide {% endif %}"
                     src="/static/images/feed/plusHeartBlue.png"/>
                <img class="heart grey plus  {% if my_vote == 1 %} hide {% else %} show {% endif %}"
                     src="/static/images/feed/plusHeartGrey.png"/>
            </div>
            <div class="metadata">
                <img class="heart blue minus {% if my_vote == -1 %} show {% else %} hide {% endif %}"
                     src="/static/images/feed/minusHeartBlue.png"/>
                <img class="heart grey minus {% if my_vote == -1 %} hide {% else %} show {% endif %}"
                     src="/static/images/feed/minusHeartGrey.png"/>
            </div>
            <div class="metadata">
                <span class="post-score"> {{ item.status }} </span>
            </div>
            <input type="hidden" class="c_id" name="c_id" value="{{ item.id }}"/>
        </div>
    </div>
</div>