{% load thumbnail %}

<div id="news-link-generation-image" class="news-link-generation-div">
    <div>
        {% for image in imglink %}
            {% thumbnail image "250" crop="center" as img %}
                <img src="{{ img.url }}"/>
            {% endthumbnail %}
        {% endfor %}



        <!--<img id="news-link-image-src" src="{{ imglink.0.path }}">-->
    </div>
</div>
<div id="news-link-generation-text-container" class="news-link-generation-div">
    <input id="news-input-title" type="hidden" name="title" value="{{ title|safe }}">
    <div id="news-link-generation-title">{{ title|safe }}</div>
    <div id="news-link-generation-description">{{ description|safe }}</div>
    <div style="margin-left:auto;margin-right:auto;">
        <span style="font-weight:bold;margin-right:10px">select thumbnail: </span>
        <button id="cycle-img-left" style="width:40px;margin-right:5px">&lt;</button>
        <span id="cycle-img-span" style="margin-right:5px;font-size:10px">1 / {{ imglink|length }}</span>
        <button id="cycle-img-right" style="width:40px;margin-right:5px">&gt;</button>
    </div>
</div>