{% load humanize %}
{% load thumbnail %}
{% if not viewed %}
    <div class="notification" style="font-weight:bold">
{% else %}
    <div class="notification">
{% endif %}

<table class="notification-container">

<tr>
    <!-- Commented -->
    {% if type == 'CO' %}
        <td class="notification-thumbnail">
            {% include "deployment/snippets/avatar.html" with user=from_user width="25" height="25" hoveroff=hover_off %}
        </td>
        <td class="notification-text">
            {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            {% if tally == 2 %}
                and one other person
            {% elif tally > 2 %}
                and {{ tally|add:"-1" }} other people
            {% endif %}
            commented on
            {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
        </td>

    <!-- Voted -->
    {% elif type == 'VO' %}
        {% if modifier == 'L' %}
            <td class="notification-thumbnail">
                <img src="/static/images/feed/heart-small.png"/>
            </td>
            <td class="notification-text">
                {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                {% if tally == 2 %}
                    and one other person
                {% elif tally > 2 %}
                    and {{ tally|add:"-1" }} other people
                {% endif %}
                liked
                {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% elif modifier == 'D' %}
            <td class="notification-thumbnail">
                <img src="/static/images/feed/heart-small.png"/>
            </td>
            <td class="notification-text">
                {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                {% if tally == 2 %}
                    and one other person
                {% elif tally > 2 %}
                    and {{ tally|add:"-1" }} other people
                {% endif %}
                disliked
                {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% else %}
            <td class="notification-thumbnail">
                <img src="/static/images/feed/heart-small.png"/>
            </td>
            <td class="notification-text">
                {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                {% if tally == 2 %}
                    and one other person
                {% elif tally > 2 %}
                    and {{ tally|add:"-1" }} other people
                {% endif %}
                unvoted
                {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% endif %}

    <!-- Followed -->
    {% elif type == 'FO' %}
        {% if modifier == 'R' %}
            <td class="notification-thumbnail">
                {% include "deployment/snippets/avatar.html" with user=from_user width="25" height="25" hoveroff=hover_off %}
            </td>
            <td class="notification-text notification_text">
                {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                requested to follow
                {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
                <div class='notification-append notification_append_y'>They are now following you</div>
                <div class='notification-append notification_append_n'>Request declined</div>
            </td>
            {% if not follow.rejected and not follow.confirmed and follow.requested %}
                <td class="notification-buttons notification_buttons">
                    <div class="notification-follow-response notification_follow_response_y">accept</div>
                    <div class="notification-follow-response bottom notification_follow_response_n">decline</div>
                    <input type="hidden" class="user_follow_id" value="{{ from_user.id }}"/>
                </td>
            {% endif %}
        {% elif modifier == 'D' %}
            <td class="notification-thumbnail">
                {% include "deployment/snippets/avatar.html" with user=from_user width="25" height="25" hoveroff=hover_off %}
            </td>
            <td class="notification-text notification_text">
                {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                followed
                {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
                <div class='notification-append notification_append'>You have followed them back</div>
            </td>
                {% if not anon and not reverse_follow.confirmed and not reverse_follow.requested %}
                    <td class="notification-buttons notification_buttons">
                        <div class="notification-follow-response notification_user_follow">follow</div>
                        <input type="hidden" class="user_follow_id" value="{{ from_user.id }}"/>
                    </td>
                {% endif %}
        {% elif modifier == 'X' %}
            <td class="notification-thumbnail">
                {% include "deployment/snippets/avatar.html" with user=to_user width="25" height="25" hoveroff=hover_off %}
            </td>
            <td class="notification-text">
                {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                {% if from_you %}
                    were rejected from following
                {% else %}
                    was rejected from following
                {% endif %}
                {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% elif modifier == 'S' %}
            <td class="notification-thumbnail">
                {% include "deployment/snippets/avatar.html" with user=from_user width="25" height="25" hoveroff=hover_off %}
            </td>
            <td class="notification-text">
                {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                stopped following
                {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% endif %}

    <!-- Group Follow -->
    {% elif type == 'JO' %}
        {% if modifier == 'I' %}
            {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            {% if from_you %}
                were invited to join
            {% else %}
                was invited to join
            {% endif %}
            {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
        {% elif modifier == 'R' %}
            <td class="notification-thumbnail">
                {% include "deployment/snippets/avatar.html" with user=from_user width="25" height="25" hoveroff=hover_off %}
            </td>
            <td class="notification-text notification_text">
                {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                requested to join
                {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
                <div class='notification-append notification_append_y'>They have joined your group</div>
                <div class='notification-append notification_append_n'>Request declined</div>
            </td>
            {% if not group_join.rejected and not group_join.confirmed and group_join.requested %}
                <td class="notification-buttons notification_buttons">
                    <div class="notification-follow-response notification_group_response_y">accept</div>
                    <div class="notification-follow-response bottom notification_group_response_n">decline</div>
                    <input type="hidden" class="follow-id" value="{{ from_user.id }}"/>
                    <input type="hidden" class="group-id" value="{{ to_user.id }}"/>
                </td>
            {% endif %}
        {% elif modifier == 'A' %}
            <td class="notification-thumbnail">
                {% include "deployment/snippets/avatar.html" with user=to_user width="25" height="25" hoveroff=hover_off %}
            </td>
            <td class="notification-text">
                {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you capital=true %}
                accepted
                {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you possesive=true %}
                join request
            </td>
        {% elif modifier == 'D' %}
            <td class="notification-thumbnail">
                {% include "deployment/snippets/avatar.html" with user=from_user width="25" height="25" hoveroff=hover_off %}
            </td>
            <td class="notification-text">
                {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                joined
                {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% elif modifier == 'N' %}
            <td class="notification-thumbnail">
                {% include "deployment/snippets/avatar.html" with user=from_user width="25" height="25" hoveroff=hover_off %}
            </td>
            <td class="notification-text">
                {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                declined to join
                {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% elif modifier == 'X' %}
            <td class="notification-thumbnail">
                {% include "deployment/snippets/avatar.html" with user=to_user width="25" height="25" hoveroff=hover_off %}
            </td>
            <td class="notification-text">
                {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                {% if from_you %}
                    were rejected from
                {% else %}
                    was rejected from
                {% endif %}
                {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% elif modifier == 'S' %}
            <td class="notification-thumbnail">
                {% include "deployment/snippets/avatar.html" with user=from_user width="25" height="25" hoveroff=hover_off %}
            </td>
            <td class="notification-text">
                {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                left
                {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% endif %}

    <!-- Events -->
    {% elif type == 'AE' %}
        {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true%}
        {% if modifier == 'I' %}
            {% if from_you %}
                 were invited to attend
            {% else %}
                was invited to attend
            {% endif %}
        {% elif modifier == 'R' %}
            requested to attend
        {% elif modifier == 'D' %}
            {% if from_you %}
                are attending
            {% else %}
                is attending
            {% endif %}
        {% elif modifier == 'N' %}
            refused to attend
        {% elif modifier == 'X' %}
            {% if from_you %}
                were rejected from attending
            {% else %}
                was rejected from attending
            {% endif %}
        {% endif %}
        {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}

<!-- Debate Section -->
    {% elif type == 'JD' %}
        {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true%}
        {% if modifier == 'I' %}
            was invited to debate
        {% elif modifier == 'R' %}
            requested to debate
        {% elif modifier == 'D' %}
            is debating
        {% elif modifier == 'N' %}
            declined to debate
        {% elif modifier == 'X' %}
            was rejected from debating
        {% endif %}
        {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}

    {% elif type == 'FC' %}
        {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true%}
        followed
        {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}

    {% elif type == 'MV' %}
        {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
        voted on
        {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}

    {% elif type == 'DV' %}
        {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
        voted on
        {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}

    {% elif type == 'DM' %}
        {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
        responded in
        {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}

    {% elif type == 'SI' %}
        <td class="notification-thumbnail">
            <img src="/static/images/feed/check-small.png"/>
        </td>
        <td class="notification-text">
            {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            {% if tally == 2 %}
                and one other person
            {% elif tally > 2 %}
                and {{ tally|add:"-1" }} other people
            {% endif %}
            signed
            {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
        </td>

    {% elif type == 'SH' %}
        <td class="notification-thumbnail">
            <img src="/static/images/feed/share.png"/>
        </td>
        <td class="notification-text">
            {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            {% if tally == 2 %}
                and one other person
            {% elif tally > 2 %}
                and {{ tally|add:"-1" }} other people
            {% endif %}
            shared <a href="{{content.get_url}}"> {{ content.title }} </a>
            with you
        </td>

    {% elif type == 'CR' %}
        {% if to_user.type == 'R' %}
            <td class="notification-thumbnail"><img src="/static/images/feed/answered.png"/></td>
            <td class="notification-text">
            {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            answered
            {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% elif to_user.type == 'P' %}
            <td class="notification-thumbnail"><img src="/static/images/feed/petition-small.png"/></td>
            <td class="notification-text">
            {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            created
            {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% elif to_user.type == 'N' %}
            <td class="notification-thumbnail"><img src="/static/images/feed/news-small.png"/></td>
            <td class="notification-text">
            {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            created
            {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% endif %}

    {% elif type == 'ED' %}
        <td class="notification-thumbnail"><img src="/static/images/feed/edit-feed.png"/></td>
        <td class="notification-text">
        {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
        edited
        {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
        </td>

    {% elif type == 'XX' %}
        {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
        deleted
        {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}

    {% endif %}
</tr>
<tr>
    <td colspan="3" class="action-timestamp">
        {{ timestamp|naturaltime }}
    </td>
</tr>
</table>
{% if not viewed %}
    </div>
{% else %}
    </div>
{% endif %}
