<div class="notification">
    <!-- Commented -->
    {% if type == 'CO' %}
        {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
        commented on
        {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}

    <!-- Voted -->
    {% elif type == 'VO' %}
        {% if modifier == 'L' %}
            {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            liked
            {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
        {% elif modifier == 'D' %}
            {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            disliked
            {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
        {% else %}
            {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            unvoted
            {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
        {% endif %}

    <!-- Followed -->
    {% elif type == 'FO' %}
        {% if modifier == 'R' %}
            {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            requested to follow
            {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
            <div class="notification-follow-response">
                <a href="" class="notification-follow-response-y"> I accept! </a> ||
                <a href="" class="notification-follow-response-n"> I decline! </a>
                <input type="hidden" class="user-follow-id" value="{{ from_user.id }}"/>
            </div>
        {% elif modifier == 'D' %}
            {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            followed
            {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
            <div class="notification-follow">
                <a href="" class="notification-user-follow">
                    follow them back!
                </a>
                <input type="hidden" class="user-follow-id" value="{{ from_user.id }}"/>
            </div>
        {% elif modifier == 'X' %}
            {% if from_you %}
                {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                were rejected from following
                {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
            {% else %}
                {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                was rejected from following
                {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
            {% endif %}
        {% elif modifier == 'S' %}
            {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            stopped following
            {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
        {% endif %}

    <!-- Group Follow -->
    {% elif type == 'JO' %}
        {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
        {% if modifier == 'I' %}
            {% if from_you %}
                were invited to join
            {% else %}
                was invited to join
            {% endif %}
        {% elif modifier == 'R' %}
            requested to join
        {% elif modifier == 'D' %}
            joined
        {% elif modifier == 'N' %}
            declined to join
        {% elif modifier == 'X' %}
            {% if from_you %}
                were rejected from
            {% else %}
                was rejected from
            {% endif %}
        {% elif modifier == 'S' %}
            left
        {% endif %}
        {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}

    <!-- Events -->
    {% elif type == 'AE' %}
        {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true%}
        {% if modifier == 'I' %}
            {% if from_you %}
                 were invited to attend
            {% else %}
                was invited to attend
            {% endif %}
        {% elif modifier == 'R' %}
            requested to attend
        {% elif modifier == 'D' %}
            {% if from_you %}
                are attending
            {% else %}
                is attending
            {% endif %}
        {% elif modifier == 'N' %}
            refused to attend
        {% elif modifier == 'X' %}
            {% if from_you %}
                were rejected from attending
            {% else %}
                was rejected from attending
            {% endif %}
        {% endif %}
        {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}

<!-- Debate Section -->
    {% elif type == 'JD' %}
        {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true%}
        {% if modifier == 'I' %}
            was invited to debate
        {% elif modifier == 'R' %}
            requested to debate
        {% elif modifier == 'D' %}
            is debating
        {% elif modifier == 'N' %}
            declined to debate
        {% elif modifier == 'X' %}
            was rejected from debating
        {% endif %}
        {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}

    {% elif type == 'FC' %}
        {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true%}
        followed
        {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}

    {% elif type == 'MV' %}
        {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
        voted on
        {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}

    {% elif type == 'DV' %}
        {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
        voted on
        {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}

    {% elif type == 'DM' %}
        {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
        responded in
        {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}

    {% elif type == 'SI' %}
        {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
        signed
        {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}

    {% elif type == 'SH' %}
        {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
        shared
        {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}

    {% elif type == 'CR' %}
        {% if to_user.type == 'R' %}
            {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            answered
            {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
        {% else %}
            {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            created
            {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}
        {% endif %}

    {% elif type == 'ED' %}
        {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
        edited
        {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}

    {% elif type == 'XX' %}
        {% include "deployment/snippets/action_name_snippet.html" with user=from_user you=from_you capital=true %}
        deleted
        {% include "deployment/snippets/action_name_snippet.html" with user=to_user you=to_you %}

    {% endif %}
</div>
