{% load thumbnail %}

<div class="avatar-strip">

    <div class="avatar-image">
        {% include 'site/pieces/avatar.html' with user=user height="50" width="50" %}
    </div>

    <div class="avatar-strip-main">
        <div class="avatar-strip-top">
            <a href="{{ user.get_url }}"><span class="user-name"> {{ user.get_name }} </span></a>
        </div>
        <div class="avatar-strip-bottom">
            <span class="user-title"> {% if user.location.state %} {{ user.location.state }}, {% endif %}MA, {{ user.political_title }} </span>
            <span class="heart-icon"> </span>
            <span class="heart-score"> {{ user.upvotes }}</span>
            <span class="parties-wrapper">
                {% for p in user.parties.all %}
                    {% with full_url=p.party_label %}
                        <a href="{{ p.get_url }}">
                            {% thumbnail full_url "x20" format="PNG" as im %}
                                <img src="{{ im.url }}" class="party-label"/>
                            {% endthumbnail %}
                        </a>
                    {% endwith %}
                {% endfor %}
            </span>
        </div>
    </div>

    {% if scorecard_strip %}
        <div class="scorecard-match">
            <div class="scorecard-match-number">
                {{ user.comparison.result}}<span class="match-percent">%</span>
            </div>
        </div>
        <a class="view-all-answers"> view all answers </a>
    {% else %}
        <div class='avatar-match'>
            <div class="match-number">
                {{ user.comparison.result}}<span class="match-percent">%</span>
            </div>
        </div>
    {% endif %}

    <div style="clear:both;"></div>
</div>
