{% load thumbnail %}

<div class="avatar-strip">

    {% with comparison=user.comparison %}
        {% if comparison %}
            <div class="strip-far-left">

                <div class='avatar-match {% if scorecard_strip %} scorecard-match {% endif %}'>
                    <div class="match-number">
                        {{ comparison.result}}<span class="match-percent">%</span>
                    </div>
                </div>

                {% if scorecard_strip  %}
                    <div class="before-match before-scorecard-match">
                        {% if not scorecard_compare %}
                            <a class="view-all-answers" href="{{ user.scorecard_comparison_url }}"> view all answers </a>
                            <span class="match-from"> {{ comparison.num_q }} questions </span>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="before-match">
                        <span class="match-from"> {{ comparison.num_q }} questions </span>
                    </div>
                {% endif %}

            </div>
        {% endif %}
    {% endwith %}

    <div class="avatar-image">
        {% include 'site/pieces/avatar.html' with user=user height="50" width="50" %}
    </div>

    <div class="avatar-strip-main">
        <div class="avatar-strip-top">
            <a href="{{ user.get_url }}"><span class="user-name"> {{ user.get_name }} </span></a>
            <span class="parties-wrapper">
                {% for p in user.parties.all %}
                    {% with full_url=p.party_label %}
                        <a href="{{ p.get_url }}" class="party-label-wrapper">
                            {% thumbnail full_url "x20" format="PNG" as im %}
                                <img src="{{ im.url }}" class="party-label"/>
                            {% endthumbnail %}
                        </a>
                    {% endwith %}
                {% endfor %}
            </span>
        </div>
        <div class="avatar-strip-bottom">
            <span class="user-title"> {% if user.location.state %} {{ user.location.state }}, {% endif %} {{ user.political_title }} </span>
            <span class="heart-icon"> </span>
            <span class="heart-score"> {{ user.upvotes }}</span>
        </div>
    </div>

    <div style="clear:both;"></div>
</div>
