{% comment %}
 
<!--    

    Snippet paramaters: 
        user: reference to the owner UserProfile
        width: string representing the width of the avatar image in pixels (e.g. '40')
        height: string representing the height of the avatar image in pixels (e.g. '40')
        hoveroff: if True, turns off hover comparison
     -->


{% endcomment %}


{% load thumbnail %}
{% load customtags %}

<div class="avatar-box">

    {% with width|add:"x"|add:height as geometry %}

        {% if private %}

            {% thumbnail defaultProfileImage geometry crop="center" format="PNG" as im %}
                <img class="avatar-image" src="{{ im.url }}" />
            {% empty %}
                {{ defaultProfileImage }}
            {% endthumbnail %}

        {% else %}
            {% with full_url=user.getImageURL|media_url:MEDIA_PREFIX %}
                {% thumbnail full_url geometry crop="center" format="PNG" as im %}
                    <img class=" {% if not hoveroff %} has_hover_comparison {% endif %} avatar-image"
                         data-href="{{ user.get_url }}" data-display_name="{{ user.get_name }}"
                         data-src="{{ full_url }}"
                         src="{{ im.url }}" />
                {% empty %}
                    <img class=" {% if not hoveroff %} has_hover_comparison {% endif %} avatar-image"
                         data-href="{{ user.get_url }}" data-display_name="{{ user.get_name }}"
                         src="{{ full_url }}" />
                {% endthumbnail %}
            {% endwith %}

        {% endif %}

    {% endwith %}

</div>