<div class="comment {% if depth|divisibleby:'2' %}level1 {% else %}level2 {% endif %} {% if depth < 1 %}toplevel {% endif %}">
    <div class="comment-username feed-username">
        {% load thumbnail %}
        {% if comment.active %}
            {% include 'site/pieces/avatar.html' with user=creator width='40' height='40' %}
        {% else %}
            <img class="user-img" class="user-menu-pointer" src="http://lovegov.com/static/images/profile_default.jpg" width="40px" height="40px"/>
        {% endif %}
        {% if comment.active %}
            <a href="{{creator.get_url}}">{{ display_name}}</a>
        {% else %}
            <a> deleted </a>
        {% endif %}
    </div>
    {% ifequal viewer comment.creator %}
        <div class="content-privacy-wrapper">
            {% include 'site/pieces/content-privacy.html' with content=comment %}
        </div>
    {% endifequal %}
    <span class="flag tooltip-top" data-commentid="{{comment.id}}" title="Flag this comment">⚐</span>
    <span class="timestamp tooltip-top" title="{{comment.created_when}}">
        {% load humanize %}
        {{comment.created_when|naturaltime}}
    </span>
    <div>
        <div class="comment-text inline_hide">
            {% if comment.active %}
                {{ comment.text|urlize|linebreaks }}
            {% else %}
                deleted
            {% endif %}
        </div>
    </div>
    <div class="comment-actions">
        <div class="reply-action">
            reply
        </div>
        {% if creator.you and comment.active %}
            <div class="append-action" data-cid="{{comment.id}}">
                append
            </div>
            <div class="delete-action" data-cid="{{comment.id}}">
                delete
            </div>
        {% endif %}
    </div>
    <div class="comment-footer">

       <span class="collapse" title="Collapse comment and replies">[-]</span>

        <div class="item-ranking" data-c_id="{{ comment.id }}">

            <div class="heart-plus heart_plus{% if my_vote == 1 %} clicked{% endif %}"></div>
            <div class="heart-number heart_number">{{ comment.status }}</div>
            <div class="heart-minus heart_minus{% if my_vote == -1 %} clicked{% endif %}"></div>

        </div>

    </div>

    {% if creator.you %}
    {% include 'site/pieces/reply-form.html' with width=width cancel_button=1 hidden=1 content=comment depth=depth placeholder="Add more to this comment" class="reply-append" %}
    {% endif %}
    {% include 'site/pieces/reply-form.html' with width=width cancel_button=1 hidden=1 content=comment depth=depth class="reply-reply" %}

</div>

