<div id="comparison-hover-div" style="display:none">
    <img id="comparison-hover-pointer-up" class="select-none" src="{{ STATIC_URL }}/images/icons/pointers/comparison-pointer-up.png" style="display:none;z-index:0"/>
    <img id="comparison-hover-loading-img" src="{{ STATIC_URL }}/images/gifs/ajax-loader.gif" />
    <div id="comparison-hover">

    </div>
    <img id="comparison-hover-pointer-down" class="select-none" src="{{ STATIC_URL }}/images/icons/pointers/comparison-pointer.png"/>
</div>