{% load macros %}


{% macro textbox label class name placeholder %}

    <div class="form-row">
        <div class="label">{{ label }}</div>
        <div class="field"><input type="text" class="{{ class }}" name="{{ name }}" placeholder="{{ placeholder }}"></div>
    </div>

{% endmacro %}

{% macro textarea label class name %}

    <div class="form-row">
        <div class="label">{{ label }}</div>
        <div class="field"><textarea class="{{ class }}" name="{{ name }}"></textarea></div>
    </div>

{% endmacro %}

{% macro post-to groups selected_group %}

    <div class="form-row">
        <div class="label">Post to:</div>
        <div class="field">
            <select class="post-to" name="post_to">
            {% for group in groups %}
                <option value="{{ group.id }}" {% if selected_group == group.id|slugify %} selected {% endif %}>{{ group.title }} </option>
            {% endfor %}
            </select>
        </div>
    </div>

{% endmacro %}

{% macro post-as %}

    <div class="form-row">
        <div class="label">Post as:</div>
        <div class="field">
            <span class="post-as selected" data-poster="user">
                {% include 'site/pieces/avatar.html' with user=viewer width='40' height='40' hoveroff="True" %}
                <span class="post-as-label">{{ viewer.get_name }}</span>
            </span>
            <span class="post-as" data-poster="anonymous">
                {% include 'site/pieces/avatar.html' with private="True" width='40' height='40' hoveroff="True" %}
                <span class="post-as-label">Anonymous</span>
            </span>
        </div>
    </div>

{% endmacro %}

{% macro optional-label %}

    <span class="optional-label">Optional</span>

{% endmacro %}

{% macro image %}

    <div class="form-row">
        <div class="label">Add image:</div>
        <div class="field">
            <input type="file" value="Choose a file" class="content-image" name="content-image">
        </div>
    </div>

{% endmacro %}

{% macro topic main_topics %}

    <div class="form-row">
        <div class="label">Topic:</div>
        <div class="field">
            {% for t in main_topics %}

                <span class="topic_button tooltip-top" data-t_alias="{{ t.alias }}" title="{{ t.topic_text }}">
                    {% include 'site/pieces/topic_icon.html' with topic=t width="30" height="30" %}
                </span>

            {% endfor %}
        </div>
    </div>

{% endmacro %}

{% macro save %}

    <div class="save">Save</div><div class="error_msg"></div>

{% endmacro %}

{% macro link-image %}

    <div class="form-row link-image">
        <div class="label">Link image: </div>
        <div class="field">
            link image appears here
        </div>
    </div>

{% endmacro %}

{% macro modgroup label name group %}

    <div class="form-row">
        <div class="label">{{ label }}</div>
        <div class="field">
            <input type="hidden" name="{{ name }}" value="{{ group.id }}">
          {{ group.title }}
        </div>
    </div>

{% endmacro %}

{% macro polls label name all_polls %}

    <div class="form-row">
        <div class="label">{{ label }}</div>
        <div class="field">
            {% if all_polls|length > 0 %}
                <select class="poll-select" name="poll">
                    <optgroup label="Polls">
                        <option></option>
                        {% for poll in all_polls %}
                            <option value='{{ poll.id }}'>{{ poll.title }}</option>
                        {% endfor %}
                    </optgroup>
                </select>
            {% else %}
                There are no polls to select.
            {% endif %}
        </div>
    </div>

{% endmacro %}

{% macro select_states label name states %}

    <div class="form-row">
        <div class="label">{{ label }}</div>
        <div class="field">
            {% if states|length > 0 %}
                <select class="state-select" name="{{ name }}">
                    <optgroup label="States">
                        <option></option>
                        {% for state in states %}
                            <option value='{{ state.0 }}'>{{ state.1 }}</option>
                        {% endfor %}
                    </optgroup>
                </select>
            {% else %}
                There are no states to select.
            {% endif %}
        </div>
    </div>

{% endmacro %}

{% macro date label class name placeholder  %}

    <div class="form-row">
        <div class="label">{{ label }}</div>
        <div class="field">
            <input type="text" class="{{ class }}" name="{{ name }}" placeholder="{{ placeholder }}" value="11/6/2012">
            <span class="date_autofill_label"></span>
            <input type="hidden" name="gendate" value="">
        </div>
    </div>

{% endmacro %}