<span class="discuss">Discuss</span>
{% include 'site/pieces/reply-form.html' with width="100%" depth='-1' content=content class="reply-new" %}
<!-- comment thread -->
<div class="thread" data-cid="{{ content.id }}" data-num-showing="0">
    {{ thread_html|safe }}
</div>
<div class="load-more-comments">load more comments</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('div.load-more-comments').click();
    });
    // New comments loaded - prevents them from being
    var new_comments = [];
</script>