<span class="discuss">Discuss
<div class="thread-refresh">
    refresh comment thread
</div>
    <div class="thread-filters"><label>sort comments by:</label>
        <select><option {% if content.default_sort == 'h' %}selected{% endif %}>hot</option>
            <option {% if content.default_sort == 'n' %}selected{% endif %}>new</option></select> </div>
</span>
{% include 'site/pieces/reply-form.html' with width="100%" depth='-1' content=content class="reply-new" %}
<!-- comment thread -->
<div class="thread" data-cid="{{ content.id }}" data-num-showing="0">
    <div class="top-show-new-replies">show <span class="num-new-replies">0</span> new comments</div>
    {{ thread_html|safe }}
</div>
<div class="load-more-comments">load more comments</div>
<script type="text/javascript">
    $(document).ready(function() {
        loadMoreComments();
        setInterval(fetchAndUpdateNewComments, 10000);
    });
    // New comments loaded - prevents them from being loaded again
    var new_comments = [];


</script>
