{% extends 'site/pages/content/content_detail.html' %}

{% block content_detail %}

    <h3> {{ motion.title }} </h3>

    <p id="motion-text">
        {{ motion.full_text|urlize|linebreaks }}
    </p>

    {% if not motion.passed and not motion.expired %}
        <h4> To Pass </h4>

        <div class="to-pass">
        {% with group=motion.group %}
            <p> needs {{ group.participation_threshold }}% of group to upvote </p>
            <p> needs {{ group.agreement_threshold }}% of votes to be upvotes </p>
            <p> passes or expires {{ motion.expiration_date}}</p>
        {% endwith %}
        </div>
    {% elif motion.passed %}
        <h4> PASSED </h4>
    {% else %}
        <h4> EXPIRED </h4>
    {% endif %}

    <h4> In Favor: </h4> <span> {{ motion.motion_upvotes }}</span>
    <h4> Against: </h4> <span> {{ motion.motion_downvotes }}</span>

    <script> rebind='motion'; </script>

{% endblock %}