{% extends 'site/pages/content/content_detail.html' %}

{% block content_detail %}

    <div id="question-text">
        <div id="question">
            <h3>{{ question.question_text }}</h3>
        </div>

        <form action="/action/" method="post" id="questionform">
            {% csrf_token %}
            {% for a in answers %}
                <div class="answer-container">
                    <div class="answer-container-input-div">
                        <input style="display:none" type=radio name="choice" value="{{ a.id }}"
                                {% if a.id == response.most_chosen_answer_id %}
                               CHECKED
                                {% endif %}
                                />
                        <div class="answer-text">{{ a.text }}</div>
                    </div>
                    <div class="percent">
                        chosen by {{ a.percent }}% of users
                    </div>
                </div>
            {% endfor %}
            <textarea name="explanation" id="explanation"> {{ response.explanation }}</textarea>
            <input type="hidden" name="q_id" value="{{ question.id }}"/>
            <input type="hidden" name="action" value="answer"/>

            <div style="clear:both"></div>

            <p id="next-wrapper"><a class="button submit do-ajax-link" id="nextquestion" href="/nextquestion/">next</a></p>

        </form>
    </div>

    <script> rebind='question'; </script>

{% endblock %}


