{% extends 'deployment/templates/javascript.html' %}

{% block body %}
    <body>
    <!-- Header -->
    {% include 'deployment/pieces/new-header.html' %}
    <!-- End Header -->

    <!-- Left Side Bar -->
    {% include 'deployment/pieces/left_sidebar.html' %}
    <!-- End Left Side Bar -->

    <!-- Loading Image -->
    {% include 'deployment/snippets/loading.html' %}
    <!-- End Loading Image -->

    <!-- Content -->
    <div id="main-content">
        {% block content %}
            {{ center }}
        {% endblock %}
    </div>
    <!-- End Content -->

    <!-- Comparison Hover -->
    {% include "deployment/snippets/comparison_hover.html" %}
    <!-- End Comparison Hover -->

    <!-- share -->
    <div id="share_id" data-share_id=""></div>
    <div class="overdiv"></div>
    <div class="shareModal">
        {% include 'deployment/pieces/share.html' %}
    </div>

    <div id="user-upload-avatar-modal"></div>

    <div id="dev-debug"></div>

    </body>

    <script> frame=true; </script>
{% endblock %}