<!DOCTYPE html>
<html>
<head>

    <!-- title -->
    <title>lovegov: alpha</title>

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/static/css/deployment/boilerplate.css">
    <link rel="icon" type="image/icon" href="/static/images/favicon.ico"/>
    <link rel="Stylesheet" type="text/css" href="/static/jquery/css/smoothness/jquery-ui-1.8.18.custom.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/deployment/frame.css"/>

    <!-- meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="Lovegov, lovegov, lovegov.com, Government, Politics, Simplified, One Stop Shop, Participate, Informed, Connected, Involved, Social, Social Network, Political Network, Legislation, Democracy, Democracy 2.0, Vote, Advocacy Groups, Coalitions, Change" />
    <meta name="description" content="We're no-nonsense realists with an itch to fix politics. We believe participating in democracy doesn't need to be difficult — we believe it should be simple and engaging, even a little fun. Lovegov will inform you on the issues, keep you current with legislation that you care about, and connect you with your representatives. We're making it easy to get involved." />

    <!-- javascript libraries -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/kinetic-v3.8.2.min.js"></script>
    <script type="text/javascript" src="/static/jquery/js/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="/static/jquery/js/jquery.hoverIntent.js"></script>
    <script type="text/javascript" src="/static/jquery/js/jquery.bindWithDelay.js"></script>
    <script type="text/javascript" src="/static/jquery/js/jquery.ba-outside-events.js"></script>
    <script type="text/javascript" src="/static/jquery/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/jquery/history/scripts/bundled/html5/jquery.history.js"></script>
    <script type='text/javascript' src="/static/jquery/js/jquery.jsPlumb-1.3.7-all-min.js"></script>
    <script type="text/javascript" src="/static/js/deployment/inheritance.js"></script>
    <script type="text/javascript" src="/static/jquery/js/jquery.dragscrollable.js"></script>
    <script type="text/javascript" src="/static/jquery/js/jquery.livequery.js"></script>
    <script type="text/javascript" src="/static/jquery/js/jquery.scrollsync.js"></script>
    <script type="text/javascript" src="/static/jquery/js/jquery.scrollview.js"></script>
    <script type='text/javascript' src="/static/jquery/js/jquery.ba-outside-events.js"></script>
    <script type='text/javascript' src="/static/jquery/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="/static/js/QueryData.compressed.js"></script>
    <script type="text/javascript" src="/static/jquery/bootstrap-tooltips.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/compiled/master.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/compiled/1140.css" />

    <!-- Google Analytics -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ google }}']);
        _gaq.push(['_trackPageview']);

        (function()
        {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <!-- Our JavaScript -->
    <script type="text/javascript" src="/static/js/javascript.js"></script>
    <script type="text/javascript" src="/static/js/deployment/visualcomparison.js"></script>

    <!-- For script variables -->
    <script>
        var pageTitle = '{{ pageTitle }}';
        var csrf = '{{ csrf_token|escapejs }}';
        var path = '{{ request.path }}';
    </script>

</head>

<!-- page body -->
{% block body %}

{% endblock %}

</html>