<!DOCTYPE html>
<html>

<!-- html header -->
{% include 'deployment/templates/html-header.html' %}

<body>
<div id="main">
    <div id="no-frame-top">
        <a href="/home/"><img id="logo" src="/static/images/login/splashlogo.png"></a>
        <div class="top-right">
            <div class="sign-in">
                <p> have an account? </p> <a href="#" id="sign_in_button" class="sign-in-button sign_in_button"> Sign In </a> <div style="clear:both"></div>
                {% include 'deployment/pages/login/sign-in-dialogue.html' %}
            </div>
            <div class="mission-statement">
                <p>
                    We are committed to non-partisanship,
                    government transparency & the right to
                    personal privacy.
                </p>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
    {% block content %}

    {% endblock %}
</div>

</body>
</html>