<div id="content">
    <div id="content-left">
    {% if content.active %}
        <div class="row"><div class="tencol"><a href='/feed'><span class='content_header'>Back to Your Feed</span></a></div></div>
        <div class="content-left-side">
        	{% load thumbnail %}
            {% with full_url=host_full|add:content.getImageURL %}
        	{% thumbnail full_url "250x150" upscale=False format="PNG" crop="center" as im %}
            	<div class="content-image-area" style="background-image: url('{{im.url}}')">
            {% endthumbnail %}
            {% endwith %}
            {% with topic=content.getMainTopic %}
                <a href="{{topic.get_url}}">
                    <div id="content-topic-img" class="tooltip-top" title="{{topic.topic_text}}">
                        <img src="{{ topic.getImageRef }}"/>
                    </div>
                </a>
            {% endwith %}
            </div>
            {% include 'deployment/center/feed/social_bar.html' with item=content %}

            <div class="content-submitted-by-wrapper">
                {% include 'deployment/snippets/avatar.html' with user=content.creator height='50' width='50' %}
                {% load humanize %}
                <span class="submitter">{{content.creator.get_name}}</span>
                <br><span class="submit-time">Submitted <span class="tooltip-right" title="{{content.created_when}}">{{content.created_when|naturaltime}}</span></span>
            </div>

            {% block petition_detail %}

            {% endblock %}
        </div>

        <div id="content-div">
            {% block content_detail %}
                <!-- content detail -->
            {% endblock %}
        </div>

        <div class="content_separator"></div>


        <div id="comment-thread">

            <span class="discuss">Discuss</span>

            <form id="commentform" name="postcomment" action="/comment/" method="post"> {% csrf_token %}
                <textarea style="width:700px;" class="comment-textarea" rows="7" cols="80" name="comment" placeholder="what's your opinion?"></textarea>
                <input id="content_id" type="hidden" name="c_id" value="{{ content.id }}">
                <br>
                <input class="tab-button" type="submit" value="Save" style="float: right;" /><div class="clearfix"></div>
            </form>

            <!-- comment thread -->
            <div id="thread">
                {{ thread_html|safe }}
            </div>

        </div>

    {% else %}
        <h3> This content has been deleted. </h3>
    {% endif %}
    </div>
</div>

{% include "deployment/snippets/comparison_hover.html" %}

<!-- Right Block -->
{% include 'deployment/pieces/right_sidebar.html' %}

<!-- created by makeThreadHTML -->
<!-- <div id="threadHTML" style="margin-top:30px">             </div> -->

<!-- For script variables -->
<style>
    .answer-container-selected
    {
        background-color:#EBEBEB;
    }

    .answer-container-hover
    {
        background-color:#EBEBEB;
    }
</style>
<script>
    var c_id = '{{ content.id }}';
    var right_sidebar_topic = '{{ content.getMainTopic.alias }}';
    var threadJSON = '{{ thread|escapejs }}';
</script>