{% load thumbnail %}

<div class="histogram-main" xmlns="http://www.w3.org/1999/html">

    <div class="histogram-wrapper histogram" data-metadata="{{ histogram_metadata }}">

        <div class="histogram-body">

            <div class="count histogram_count"> 0 </div>

            <div class="histogram-topic-selector-wrapper topic-icons-wrapper">
                {% for t in main_topics %}
                    <div class="histogram-topic-icon-wrapper topic-icon-wrapper" data-t_id="{{ t.id }}" data-t_alias="{{ t.alias }}" data-t_text="{{t.topic_text }}">
                        {% thumbnail t.image "50x50" format="PNG" as im %}
                            <img class="topic-img normal histogram-topic-img tooltip-top" title="{{ t.topic_text }}" src="{{ im.url }}"/>
                        {% endthumbnail %}
                        {% thumbnail t.selected "50x50" format="PNG" as im %}
                            <img class="topic-img selected histogram-topic-img tooltip-top" title="{{ t.topic_text }}" src="{{ im.url }}"/>
                        {% endthumbnail %}
                    </div>
                {% endfor %}
            </div>

            <div class="histogram-bars">
                {% for bucket in buckets %}
                    <div class="bar" data-bucket="{{ bucket }}" data-num="0">

                        <div class="white_bar"></div>
                        <div class="red_bar tooltip-top" title="whatup"></div>
                        <div class="label bar_label"> {{ bucket }}% </div>

                    </div>
                {% endfor %}
                <div style="clear:both"></div>
            </div>


        </div>


        <div class="histogram-footer">

            <p class="histogram-title">
                <a class="group_link" href="{{ group.get_url }}"> {{ group.title|truncatechars:20}} </a>
            </p>

            <p class="breakdown"> Match Percentage Breakdown </p>

            <p class="histogram-topic"> All Topics </p>

        </div>

    </div>


    <div class="members-header">
        <div class="members-avatars-header">
            <h3> <span class="num_members"> All </span>
                Members
                <span class="in_percentile"></span> </h3>
        </div>

        <div class="identical-avatars-header">
            <h3 class="identical identical_count"> <span class="histogram_identical"> </span> Identical </h3>
        </div>

        <div style="clear:both"></div>
    </div>

    <div class="group-members-wrapper">
        <div class="members-avatars">
            {% include 'deployment/snippets/histogram/avatars_helper.html' with users=group.getMembers %}
        </div>

        <div class="identical-avatars"> </div>
    </div>

        </div>

        <div style="clear:both"></div>
        <!--<a href="" class="get_more_members"> more </a>-->
    </div>

    <script> rebind='histogram'; </script>

</div>