<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/deployment/match.css" />




<!-- HTML -->
<div id="userlist-main">

    <div class="match-header-div">
        <h1>My Presidential Candidates</h1>
        {% for candidate in presidential_users %}
            <div class="user-list-div {% cycle 'user-list-div-left' 'user-list-div-center' 'user-list-div-right' %}">
                <div class="user-list-item">
                    <div class="user-list-item-name-big">
                        <span class="match-rank">#{{ forloop.counter }}</span> <a href="{{ candidate.get_url }}" class="do-ajax-link">You & {{ candidate.get_name }}</a>
                    </div>
                    {% include 'deployment/snippets/match-compare-visual-div.html' with userProfile=candidate %}
                </div>
            </div>
            <script>
                var json = eval('(' + '{{ candidate.compare|escapejs }}' + ')');
                var profileComparison = new VisualComparison("{{ candidate.alias }}-canvas",json);
                profileComparison.draw();
            </script>
        {% endfor %}
    </div>

    <div class="match-header-div">
        <h1 style="margin-bottom:5px">My Congress</h1>
        <p class="find-header-paragraph">
            <span class="find-header-span">Find your Congressmen</span>
            <span class="find-header-span-input">Your Address: <input id="findCongress-address" class="find-rep-input" type="text" name="findCongress-address" value=""></span>
            <span class="find-header-span-input">Your Zip Code: <input id="findCongress-zip" class="find-rep-input" type="text" name="findCongress-zip" value=""></span>
            <a id="findcongressmen" href="" class="left-sidebar-button">Find</a>
        </p>
        <div id="your-congress">
        {% if congressmen %}
            {% for member in congressmen %}
                <div class="user-list-div {% cycle 'user-list-div-left' 'user-list-div-center' 'user-list-div-right' %}">
                    <div class="user-list-item">
                        <div>
                            {% if member.title == "S" %}Your Senator{% else %}Your Representative &nbsp;[&nbsp;<a id="see-congressional-map">See Map</a>&nbsp;]{% endif %}
                        </div>

                        <div class="user-list-item-name-big">
                            <a href="{{ member.get_url }}" class="do-ajax-link">You & {{ member.get_name }}</a>
                        </div>

                        {% include 'deployment/snippets/match-compare-visual-div.html' with userProfile=member %}
                    </div>
                </div>
                <script>
                    new VisualComparison("{{ member.alias }}-canvas",eval('(' + '{{ member.json|escapejs }}' + ')')).draw();
                </script>
            {% endfor %}

            {% include 'deployment/snippets/district-map.html' with state=state district=district %}
        {% endif %}
        </div>
    </div>

    <div class="match-header-div">
        <h1>My Networks</h1>
        <div class="user-list-div user-list-div-left">
            <div class="user-list-item">
                <div class="user-list-item-name-big">
                    <a href="{{ network.get_url }}" class="do-ajax-link">You & {{ network.get_name }}</a>
                </div>

                <div id="{{ network.title|slugify }}-canvas">

                </div>

            </div>
        </div>
        <div class="user-list-div user-list-div-center">
            <div class="user-list-item">
                <div class="user-list-item-name-big">
                    <a href="{{ congress.get_url }}" class="do-ajax-link">You & {{ congress.get_name }}</a>
                </div>

                <div id="{{ congress.title|slugify }}-canvas">

                </div>
            </div>
        </div>
        <div class="user-list-div user-list-div-right">
            <div class="user-list-item">
                <div class="user-list-item-name-big">
                    <a href="{{ lovegov.get_url }}" class="do-ajax-link">You & The LoveGov Network</a>
                </div>

                <div id="{{ lovegov.alias|slugify }}-canvas">

                </div>
            </div>
        </div>
        <script>
            var json = eval('(' + '{{ network.compare|escapejs }}' + ')');
            new VisualComparison("{{ network.title|slugify }}-canvas",json).draw();
            var json2 = eval('(' + '{{ congress.compare|escapejs }}' + ')');
            new VisualComparison("{{ congress.title|slugify }}-canvas",json2).draw();
            var json3 = eval('(' + '{{ lovegov.compare|escapejs }}' + ')');
            new VisualComparison("{{ lovegov.alias|slugify }}-canvas",json3).draw();
        </script>
    </div>

    <div class="match-header-div">
        <h1 style="margin-bottom:5px">My Friends</h1>

        <div>
            {% for friend in fb_friends %}
                <div class="user-list-div {% cycle 'user-list-div-left' 'user-list-div-center' 'user-list-div-right' %}">
                    <div class="user-list-item">

                        <div class="user-list-item-name-big">
                            <a href="{{ friend.get_url }}" class="do-ajax-link">You & {{ friend.get_name }}</a>
                        </div>

                        {% include 'deployment/snippets/match-compare-visual-div.html' with userProfile=friend %}
                    </div>
                </div>
                <script>
                    new VisualComparison("{{ friend.alias }}-canvas",eval('(' + '{{ friend.compare|escapejs }}' + ')')).draw();
                </script>
            {% endfor %}
        </div>
    </div>

    <div class="match-header-div">
        <h1>My Top Matches</h1>
        To be implemented soon.
    </div>

    <script type="text/javascript">

        function findCongressMen()
        {
            var address = $('#findCongress-address').val();
            var zip = $('#findCongress-zip').val();
            if (address != "" || zip != "")
            {
                $('#your-congress').html("Loading your Congressmen, please wait...");
                $.ajax
                        ({
                            url:'/actionGET/',
                            type:'GET',
                            data: {action:'getCongressmen',address:address,zip:zip},
                            success: function(data)
                            {
                                var json = eval('(' + data + ')');
                                $('#your-congress').html(json.html);
                            },
                            error: function(jqXHR, textStatus, errorThrown)
                            {
                                $('#your-congress').html("Error finding your congressmen from inputted address or zip code");
                            }
                        });
            }
            else
            {
                $('#your-congress').html("Please enter your address or zip code");
            }
        }

        $('#findcongressmen').click(function(event)
        {
            event.preventDefault();
            findCongressMen();
        });

        $(".find-rep-input").keypress(function(event)
        {
            if (event.keyCode==13)
            {
                findCongressMen();
            }
        });
    </script>

</div>

<script> rebind='match'; </script>