{% extends 'deployment/center/content_detail.html' %}

{% block content_detail %}

    <h3> {{ petition.title }} </h3>

    <p id="petition-text">
        {{ petition.full_text|urlize|linebreaks }}
    </p>

    <hr></hr>

    <!-- finalize button -->
    {% if iown %}
        <div id="finalize">
            {% if not petition.finalized %}
                <p>
                    Finalize this petition to allow others to sign it,
                </p>
                <div class="submit">
                    <a href="" class='red-button' id="finalize-button"> finalize </a>
                </div>
            {% else %}
                This petition is finalized and ready to be signed.
            {% endif %}
        </div>
    {% endif %}

    <!-- sign -->
    <div id="signers">
        {% if petition.finalized %}
            <div>
                <h4> Signers </h4>
                <div id="num-signers"> {{ signers.count }} signed </div>
            </div>

            <div id="signer-names">
                {% for signer in signers %}
                    {% include 'deployment/snippets/signer.html' %}
                {% empty %}
                    <span id="be-first-signer-message">Be the first to sign this petition.</span>
                {% endfor %}
            </div>

            <div class="sign">
                {% if not i_signed %}
                    <div class="submit">
                        <a href="" class='red-button' id="sign-button"> sign </a>
                    </div>
                {% else %}
                    You have signed this petition.
                {% endif %}
            </div>

        {% else %}
            {% if not iown %}
                This petition has not yet been finalized by its creator. Once finalized, you can sign!
            {% endif %}
        {% endif %}
    </div>

{% endblock %}