<div id="qaweb-interactive">
    <div id="dragger">

        <div id="first_user" class="first-user-box" data-state="left">

            <div id="first_user_intro">

                <h4>Welcome to the Q&A Web</h4>
                <p class="first-user-text">
                    Define your political beliefs by answering
                    questions about political issues. Questions are
                    based off legislation that has appeared in
                    congress over the past few years.
                </p>
                <p class="small-margin">
                    <a id="learn_how_it_works" class="button-red">Learn how it works</a>
                <p>
                <p class="no-margin">
                    or <a id="skip_qaweb" class="text-underline red-link">skip</a>
                </p>

            </div>

            <div id="first_user_progress" style="display:none">

                <div id="progress_number">
                    <h2>1</h2>
                </div>

                <div class="first_user_progress_text">
                    <span class="bold">Topic </span><span class="no-bold">- click one of the topic icons to see questions</span>
                </div>

                <div class="end-of-web end_of_web" style="display:none">
                    <h2>That's the Web!</h2>
                    <p>
                        Next, answer at least 3 questions
                        from each topic to begin accurate
                        matching.
                    </p>
                </div>

                <div id="progress_bar">

                </div>

            </div>

        </div>

        <!-- QAWeb graphical components go here -->
    </div>
</div>

<div id="topic_progress" class="topic-progress-div">

    <div class="progress-header">
        <div class="progress-div">
            <h6 class="bold text-gray">Web Progress</h6>
            <h6 class="text-gray" style="font-style:italic">Weak Matching</h6>
        </div>
        <div class="progress-div" id="topic_progress_fill">
            <div></div>
        </div>
        <div id="progress-canvas-div">
        </div>
    </div>

</div>


<script type="text/javascript">
    var progressBar =  '<div class="progress_bar_fill" style="width:70px">&nbsp;</div>';
    var progressBarDivider = '<div class="progress_bar_divider" style="width:5px">&nbsp;</div>';
    var progressNum = 1;

    function firstUserExperience()
    {

        $('#skip_qaweb').click(function()
        {
            $('#first_user').fadeOut('slow');
            $('._topic_label').remove();
        });

        $('#learn_how_it_works').click(function()
        {
            var div = $('#first_user');
            var offset = div.offset();
            $('#qaweb-interactive').parent().append(div.detach().offset(offset));
            var newPosition = $('.top-logo').offset();
            newPosition.top+=70;
            div.animate(newPosition);
            $('#first_user_intro').hide();
            $('#first_user_progress').show();
            $('._topic_label').addClass("step-one").show('bounce',300);
        });
    }
    firstUserExperience();

    function nextStep()
    {
        $('#progress_bar').append(progressBar).append(progressBarDivider);
        $('#progress_number h2').text(++progressNum);
    }

    function stepTwo()
    {
        nextStep();
        $('.first_user_progress_text').children(".bold").text("Question ");
        $('.first_user_progress_text').children(".no-bold").text("- Unanswered questions appear as question marks, once answered a check mark graphic appears.");
    }

    function stepThree()
    {
        nextStep();
        $('.first_user_progress_text').children(".bold").text("Importance ");
        $('.first_user_progress_text').children(".no-bold").text("- Adjusting the importance affects how we weight your answers and help us match you more accurately.");
    }

    function stepFour()
    {
        nextStep();
        $('.first_user_progress_text').children(".bold").text("Answers ");
        $('.first_user_progress_text').children(".no-bold").text("- These answers are the basis for comparisons between politicians, friends and networks.");
    }

    function stepFive()
    {
        nextStep();
        $('.first_user_progress_text').children(".bold").text("Navigation ");
        $('.first_user_progress_text').children(".no-bold").text("- click and drag your mouse to move around the web.  You can also click next to jump to the next question.");
    }

    function stepSix()
    {
        $('#progress_bar').append(progressBar);
        $('#progress_number').hide();
        $('.first_user_progress_text').hide();
        $('.end_of_web').show();
        $('#first_user').fadeOut(10000);

    }


</script>

<div id="qawebhover" class="everything" style="cursor:default;position:absolute;display:none;z-index:500;">
    <div class="dialogue-wrapper">
        <div id="dialogue-main">
            <div style="height:10px">
                <span id="dialogue-exit-span">X</span>
            </div>
            <div id="question">
                <!-- question text goes here -->
            </div>

            <p id="dialogue-loading" style="display:none">
                <img src="/static/images/ajax-loader.gif" />
            </p>
            <div id="answer-div">
                <form class="qaweb-answerform" action="" method="post">
                    <div id="question-weight-div" style="display:none;">
                        <span style="margin-right:15px;font-size:13px">Importance</span>
                        <div id="question-weight-slider" style="width:275px;display:inline-block"></div>
                        <input id="weight-input" type="hidden" name="weight" value="5"/>
                    </div>
                    <div id="answers">
                        <ul id="answers-ul">

                        </ul>

                        <div id="value_statement" style="display:none">
                            <h6>Explanation</h6>
                            <textarea style="width:400px;height:70px" id="user_explanation" class="explanation" name="explanation" placeholder="(Optional) Enter your view on this question here."></textarea>
                        </div>
                        <input type="hidden" name="action" value="answer"/>
                        <input id="q_id" type="hidden" name="q_id" value=""/>

                    </div>

                    <div id="qa-buttons" style="display:none">
                        <span id="answer-saved" style="float:left;display:none">Answer Saved</span>
                        <a class="dialogue-buttons" href="">learn more</a>
                        <a class="discuss dialogue-buttons" href="">discuss</a>
                        <a id="next_button" class="dialogue-buttons" href="">next</a>
                    </div>
                </form>
            </div>
            <div id="answer-reply" style="display:none;">
                <div id="answer-reply-canvas">

                </div>
                <div id="answer-reply-text" align="center" style="font-size:14pt;">
                    <span></span>
                    <a class="discuss dialogue-buttons" href="/alpha/question/">discuss</a>
                </div>
            </div>
        </div>

        <div id="dialogue-pointer">
            <img src="/static/catherine/environment/env_dialogue-pointer.png">
        </div>

    </div>
</div>

<div id="qawebtopichover" class="everything" style="cursor:default;position:absolute;display:none;z-index:900;">
    <div id="dialogue-wrapper">
        <div id="topic-main">
            <div id="topic-text">

            </div>
        </div>

        <div id="topic-pointer">
            <img src="/static/catherine/environment/env_dialogue-pointer.png">
        </div>
    </div>
</div>



<script type="text/javascript">
    rebind = 'qaweb';
    $("#question-weight-slider").slider({value: 5, min: 0, max: 10, height:20});
    var questionsArray = eval('(' + "{{ questionsArray|escapejs }}" + ')');
</script>

<!-- Web -->
<script type='text/javascript' src="/static/js/deployment/qaweb.js"></script>