{% extends 'site/pages/home/header_expandable.html' %}
{% load humanize %}
{% load thumbnail %}

{% block header_summary %}

    <div class="group-main">


            <div class="group-top">

                <span class="group-title"> {{ group.title }} </span>
                <span class="group-scale"> {{ group.getScaleVerbose }} </span>
                <span class="group-num-members"> {{ group.num_members }} member{{ group.num_members|pluralize }} </span>

                <div class="group-take-poll"> take poll </div>

            </div>

            <div class="group-info">

                <div class="group-image">
                    {% thumbnail group.getImageURL "140x100" crop="center" as im %}
                        <img src="{{ im.url }}" />
                    {% endthumbnail %}
                </div>

                <div class="group-match">

                    <div class="match-number">
                        {{ group_comparison.result }}
                    </div>

                    <div class="match-title">match</div>

                </div>

                <div class="group-summary">

                    <div class="group-info-title">Description</div>
                    <p class="group-summary-text">
                        {{ group.summary|truncatechars:100 }}
                    </p>
                </div>

                <!-- float right -->
                <div class="group-actions">

                    {% if is_user_admin %}
                        <div class="group-action group_invite_members"> invite/add members </div>
                        <a href="edit/" class="group-action"> edit group settings </a>
                    {% endif %}

                    {% if is_user_confirmed %}
                    <div class="group-action"> create motion </div>
                    {% endif %}

                    {% if is_user_rejected or not is_user_confirmed and not is_user_requested %}
                        <div class="group-action group_join" data-g_id="{{ group.id }}"> join group </div>
                    {% elif is_user_confirmed %}
                        <div class="group-action group_leave" data-g_id="{{ group.id }}"> leave group </div>
                    {% elif is_user_requested %}
                        <div class="group-action group_leave" data-g_id="{{ group.id }}"> un-request group </div>
                    {% endif %}

                </div>

                <div class="group-moderators">
                    <div class="group-info-title">Moderators</div>
                    {% for admin in group_admins %}
                        {% include 'site/pieces/avatar-with-name.html' with user=admin height="38" width="38" %}
                    {% endfor %}

                </div>

            </div>

    </div>

{% endblock %}


{% block header_expanded %}

    <div class="group-expanded-info">

        <div class="group-histogram">
            histogram
        </div>

        <div class="group-members">
            <div class="group-info-title">Members</div>
            {% for member in group_members %}
                <div class="group-member-avatar">
                    {% include 'site/pieces/avatar.html' with user=member width="40" height="40" %}
                </div>
            {% endfor %}
            <div style="clear:both"></div>
        </div>

        <div class="group-description">
            <div class="group-info-title">About Us</div>
            {{ group.full_text }}
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam blandit porttitor blandit. Proin feugiat mattis leo, non semper massa eleifend vel. Nunc tincidunt vehicula mauris, quis aliquam ante convallis vitae. Maecenas velit arcu, porttitor a facilisis non, euismod ultrices elit. Donec non mi sem, et congue ante. Vestibulum mollis interdum dapibus. Maecenas at risus metus, quis ullamcorper urna. Pellentesque et felis in dolor scelerisque cursus.

            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque euismod nibh sit amet justo iaculis ut egestas lectus sagittis. In tincidunt imperdiet sem, et iaculis ante aliquam vel. Proin eleifend tortor sed magna tristique pharetra. Curabitur ligula diam, sollicitudin eu euismod non, lobortis a enim. Vivamus dapibus urna non lorem scelerisque at malesuada enim volutpat. Morbi imperdiet sollicitudin tortor eget consequat. Sed aliquam posuere nisi ac faucibus.

            Proin consectetur congue massa, eget volutpat eros ornare eget. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque egestas, orci nec eleifend rutrum, tortor diam malesuada neque, at tincidunt quam ligula vitae enim. Vestibulum at arcu eget tortor rutrum consequat. Sed ipsum lorem, accumsan in lacinia vitae, rhoncus sit amet odio. Vivamus sit amet felis diam. Mauris accumsan metus leo, ac posuere risus.

        </div>

        <div style="clear:both;"></div>

    </div>

{% endblock %}
