<div class="expandable_wrapper">
<div class="home_header_top home-header-top">
    {% block header_top %}
        this is home header
    {% endblock %}
    <div class="minimize-button hide_info"> - minimize info </div>
</div>

<div class="home_header_info home-header-info" {% if info_height %} data-height="{{ info_height }}" {% else %} data-height="110px" {% endif %}>
    {% block header_info %}
        this is home header expanded shown
    {% endblock %}
</div>

<div class="expand-info expand_info">
    <p class="expand-text"> + expand info </p>
</div>
</div>
