
{% comment %}
<div class="random-dismissible-header dismissible_header">

    <div class="dismissible-x dismissible_x"> X </div>

    {% if dismissible_header == 'congress_teaser' %}
        {% include 'site/pages/dismissible_headers/congress_header.html' %}
    {% endif %}

</div>
{% endcomment %}


{% include 'site/pages/dismissible_headers/dismissible_header_switch.html' %}

<div class="home-body">
    {% include 'site/pages/feed/feed.html' with feed_boxed=1 %}
</div>

<script>
    rebind="home";
</script>