{% extends 'site/pages/home/focus.html' %}

{% block home_header %}

    {% if see_congratulations %}
        {% include 'site/pages/dismissible_headers/congratulations_header.html' %}
    {% elif not hide_intros %}
        {% include 'site/pages/home/introduction_home_header.html' with intro_title="My Home Page" %}
    {% else %}
        <div class="home-page-header">
            {% include 'site/pages/dismissible_headers/dismissible_header_switch.html' %}
        </div>
    {% endif %}

{% endblock %}



{% block home_feed %}

    {% include 'site/pages/feed/feed.html' with like_minded_filter=1 %}

    <script> rebind="home"; </script>

{% endblock %}
