{% extends 'site/pages/dismissible_headers/introduction_header.html' %}

{% block introduction_content %}

    <p class="introduction-text">
        This is your home page, a feed of the most popular news, questions, and discussions on LoveGov.
    <p>
        All of the content here was posted to specific groups or elections by other LoveGov users.
        <a href="/groups/"> Join groups </a> and <a href="/elections/"> follow elections </a> to find
        content specifically relevant to you.
    <p>
    {% comment %}
    </p>
        You can limit the feed to just content posted by people who match similarly to you by
        using the <a class="like_minded_link dummy_link" id="like_minded_link_id2"> only like-minded </a> filter.
    </p>
    {% endcomment %}

{% endblock %}