{% load customtags %}
<div class="left-navbar">

    <div class="home_reloading home-reloading"></div>

    {% include 'site/pages/helper_bubbles/navbar_helper_bubble.html' with which_bubble="navbar_helper_bubble" arrow_direction="up" %}

    {% comment %}<div class="navbar-divider-line"></div> {% endcomment %}

    {% comment %}
    <div class="navbar-section navbar_section groups_section">
        <a class="home_link dummy_link left_link section_title" href="/home/" data-sequence="{{ sequence|increment }}">
            <span class="lil-goob"></span>
            <div class="navbar_title navbar-title"> Home </div>
        </a>
    </div>
    {% endcomment %}

    <div class="navbar-section navbar_section elections_section">
        <a class="home_link dummy_link left_link section_title" href="/my_elections/" data-sequence="{{ sequence|increment }}">
            <span class="lil-goob"></span>
            <div class="navbar_title navbar-title"> My Elections </div> </a>
        <span class="red_triangle red-triangle"></span>
        <div class="navbar_links_wrapper elections_wrapper">
            {% for x in election_subscriptions %}
                {% include 'site/pages/home/navbar_snippet.html' %}
            {% endfor %}
            {% comment %}
                <a href="#" class="create-link create_election_link"> + Create an Election </a>
            {% endcomment %}
            <a href="/elections/" class="create-link"> + Find Elections </a>
        </div>
    </div>

    <div class="navbar-section navbar_section groups_section">
        <a class="home_link dummy_link left_link section_title" href="/my_groups/" data-sequence="{{ sequence|increment }}">
            <span class="lil-goob"></span>
            <div class="navbar_title navbar-title"> My Groups </div> </a>  <span class="red_triangle red-triangle"></span>
        <div class="navbar_links_wrapper groups_wrapper">
            {% include 'site/pages/home/navbar_snippet.html' with section_url="/like_minded/" section_title="Like Minded" %}
            {% for x in group_subscriptions %}
                {% include 'site/pages/home/navbar_snippet.html' %}
            {% endfor %}
            {% comment %}
                <a href="#" class="create-link create_group_link"> + Create a Group </a>
            {% endcomment %}
            <a href="/groups/" class="create-link"> + Find Groups </a>
        </div>
    </div>

    {% comment %}
    <div class="navbar-section navbar_section discover_section">
        <a class="home_link dummy_link left_link section_title" href="/match/" data-sequence="{{ sequence|increment }}">
            <span class="lil-goob"></span>
            <div class="navbar_title navbar-title"> Match </div> </a>
        <span class="red_triangle red-triangle"></span>
        <div class="navbar_links_wrapper discover_wrapper">
            {% include 'site/pages/home/navbar_snippet.html' with section_url="/representatives/" section_title="Match with Representatives" %}
            {% include 'site/pages/home/navbar_snippet.html' with section_url="/congress/histogram/" section_title="Match with Congress" outside_link=1 %}
            {% include 'site/pages/home/navbar_snippet.html' with section_url="/friends/" section_title="Match with Friends" %}
        </div>
    </div>
    {% endcomment %}

    {% comment %}
    <div class="navbar-section navbar_section">
        <a class="home_link left_link section_title" href="/congress/" data-sequence="{{ sequence|increment }}"> <div class="navbar_title navbar-title"> Politicians </div> </a> <span class="red_triangle red-triangle"></span>
        <div class="navbar_links_wrapper politicians_wrapper">
            {% include 'site/pages/home/navbar_snippet.html' with section_url="/representatives/" section_title="representatives" %}
        </div>
    </div>
    {% endcomment %}

    <p class="asterisk_pointer asterisk-pointer">*</p>

    {% comment %}
    <div class="navbar-section navbar_section">
        <a class="home_link left_link section_title" href="/friends/" data-sequence="{{ sequence|increment }}"> <div class="navbar_title navbar-title"> Friends  </div> </a>
    </div>
    {% endcomment %}

    {% if viewer.facebook_id %}
        {% include 'site/pages/friends/fb_invite_sidebar.html' %}
    {% endif %}



    <div class="left-toggles">
        <a class="left-toggle sidebar-invite-email invite_toggle leftside_tab_toggle">
            invite by email
        </a>

        <a class="left-toggle sidebar-feedback feedback_toggle leftside_tab_toggle">
            send us feedback
        </a>

        <a href="/about/" class="left-toggle sidebar-feedback">
            about us
        </a>

        <a class="left-toggle sidebar-feedback" href="https://register.rockthevote.com/?partner=20437&source=embed-rtv234x60v1" target="_blank" style="margin-top: 40px">
            register to vote
        </a>
    </div>

    {% comment %}
    <!-- lg poll progress, if not finished -->
    {% include 'site/pages/home/lgpoll_progress_snippet.html' %}
    {% endcomment %}

    <!-- topic stat box -->
    {% comment %}
    <div class="sidebar-question-stats-wrapper">
        {% include 'site/pages/qa/poll_progress_by_topic.html' with poll=lgpoll %}
    </div>
    {% endcomment %}

</div>