<div class="november-welcome">

    <div class="november-welcome-header">
        Welcome to LoveGov
    </div>

    <div class="choose-a-state-text">
        First, choose a state so we can customize the site to politics relevant to you.
    </div>

    {% include 'site/pieces/select_location.html' %}

    <div style="text-align: center; margin: 20px 0;">
        <a href="/match/">or skip this step</a>
    </div>

</div>


{% comment %}
<!-- lovegov login explanation -->
{% include 'site/pages/login/screenshots.html' %}
{% endcomment %}