<div class="november-welcome">

    <div class="november-welcome-header">
        Welcome to LoveGov
    </div>

    <div class="choose-a-state">
        <div class="choose-a-state-text">
            First, choose a state so we can customize the site to politics relevant to you.
        </div>
        <div class="choose-a-state-below-text">
            <div style="position: absolute; font-size: 24px;" class="us_state_label"></div>
            <object data="/static/svg/usmap.svg" type="image/svg+xml" id="usmapsvg" style="margin: 60px 0;">
            </object>
            <script src="{{ STATIC_URL }}/js/usmap.js">
            </script>
            <div class="address-fields">
                {% include 'site/pages/politicians/representatives_dismissible_header.html' with button_text="save" no_dismissible_x=1 %}
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>

    <div class="skip-to-matching">
        or skip to our political matching.
    </div>



</div>


{% comment %}
<!-- lovegov login explanation -->
{% include 'site/pages/login/screenshots.html' %}
{% endcomment %}