<div id="match-selection">

    <div class="match-selection-box match-selection-box-left">
        <div class="match-selection-box-inner">
            <h2>Election Center</h2>
            <div class="match-selection-box-inner-content">
                <p>
                    Find and compare yourself to your government representatives.
                </p>
                <div style="height:100px;width:100px;background-color:#528CE0;float:left">
                    <!-- Placeholder image  -->
                </div>
            </div>
        </div>

    </div>

    <div class="match-selection-box match-selection-box-center">
        <div class="match-selection-box-inner">
            <h2>Friends & Networks</h2>
            <div class="match-selection-box-inner-content">
                <p>
                    Find and compare yourself to your government representatives.
                </p>
                <div style="height:100px;width:100px;background-color:#528CE0;float:left">
                    <!-- Placeholder image  -->
                </div>
            </div>
        </div>

    </div>

    <div class="match-selection-box match-selection-box-right">
        <div class="match-selection-box-inner">
            <h2>Your Causes</h2>
            <div class="match-selection-box-inner-content">
                <p>
                    Find and compare yourself to your government representatives.
                </p>
                <div style="height:100px;width:100px;background-color:#528CE0;float:left">
                    <!-- Placeholder image  -->
                </div>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript">
    $('.match-selection-box').bind('click',function()
    {
        $('.match-selection-box').removeClass('match-selection-box-selected');
        $(this).addClass('match-selection-box-selected');
        $('.circle-div').removeClass("circle-div-red").addClass("circle-div-gray");
        var circle;
        if ($(this).hasClass('match-selection-box-left'))
        {
            circle = $('.circle-div-left');

        }
        else if ($(this).hasClass("match-selection-box-center"))
        {
            circle = $('.circle-div-center');
        }
        else
        {
            circle = $('.circle-div-right');
        }
        circle.removeClass('circle-div-gray');
        circle.addClass("circle-div-red");
    });
</script>