@charset "UTF-8";
/* CSS Document */

@font-face
{
  font-family: "Gill Sans Std Light";
  src: url(GillSansSTD-Light.otf);
  }

@font-face
{
  font-family: "Gill Sans Std";
  src: url(GillSansSTD.otf);
  }



body
{
	font-family:"Gill Sans Std", Helvetica, Verdana;
	font-size:14pt;
	color:#005468;
}

.title
{
	font-family:"Gill Sans Std Light", Helvetica, Verdana, sans-serif;
	font-size: 20pt;
	padding-bottom:10px;
	color:#959595;
}

.alpha
{
	font-family:"Gill Sans Std Light", Helvetica, Verdana;
	font-size:12pt;
	color:#f0503b;
}

.button
{
	-moz-border-radius: 7px;
	-webkit-border-radius:7px;
	-khtml-border-radius:7px;
	border-radius:7px;
	padding-top:8px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:6px;
	font-size:12.5pt;
	font-family:"Gill Sans Std Light", Verdana, sans-serif;
}

/* -- LAYOUT DIVS */



#main
{
	position:relative;
	top:45px;
	width:800px;
	margin-left:auto;
	margin-right:auto;
	overflow:visible;
	padding-bottom:40px;
}

/* TOP MODULE */
#top
{
	position:relative;
	width:700px;
	padding-bottom:15px;
	height:100px;
}

#alpha-top
{
	position:relative;
    right:5px;
    bottom:5px;
}

/* LEFT MODULE */

#left
{
	position:relative;
	float:left;
	width:360px;
	padding: 20px;
	height:280px;
	border:1px solid #ccc;
	
	font-family:"Gill Sans Std Light", Helvetica, Verdana;
	font-size:14pt;
	color:#f0503b;
}

#log-in
{
	margin-left:35px;
}

#wrapper
{
	margin-top:50px;
	margin-bottom:50px;
}

#left table
{
	margin-left:auto;
	margin-right:auto;
}

.inputs
{
	border:1px solid #ccc;
	width:200px;
	height:22px;
    vertical-align: middle;
}

input:focus
{
    outline: none;
}

#submit:visited, #submit:active, #submit:link
{
	margin-left:265px;
	background-color:#f0503b;
	color:#fff;
	text-decoration:none;
}

#submit:hover
{
	background-color:#fff;
	color:#f0503b;
	text-decoration:none;
}

/* RIGHT MODULE */
#right
{
	position:relative;
	float:right;
	margin-top:23px;
	width:360px;
	padding-left:20px;
	line-height:150%;
	
}





