{% extends 'site/pages/login/login.html' %}

{% block middle %}

    <div class="upper">

        <div id="middle-left">
            <iframe src="http://player.vimeo.com/video/45207529?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="425" height="239" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            <p style="text-align:center;">Want to learn more? <a id="what-is-lovegov" href="/try/about/" class="invert_link">Click here</a>.</p>
        </div>

        <div id="middle-right">

            <div id="create-account-div" class="state-div" style="display:block;">
                {% include 'site/pages/login/create-account.html' %}
            </div>

            <div id="sign-up-div" class="state-div">
                {% include 'site/pages/login/sign-up.html' %}
            </div>

            <div id="register-div" class="state-div">
                {% include 'site/pages/login/login-register.form.html' %}
            </div>

            <div id="post-twitter-div" class="state-div">
                {% include 'site/pages/login/post-twitter.html' %}
            </div>

            <div id="need-confirmation-div" class="state-div">
                <h3> {{ confirmation_message  }} </h3>
                <br><br>
                <h3> or </h3>
                <br><br>
                <h3> <a href="/logout/"> sign in as another user. </a> </h3>
            </div>

        </div>

        <div style="clear:both"></div>

    </div>

    <!-- Fade-in Divs -->
    {% include 'site/pages/login/login-about.html' %}
    {% include 'site/pages/login/screenshots.html' %}
    {% include 'site/pages/login/login-privacy.html' %}

    <script type="text/javascript">
        $(document).ready(function()
        {
            var register_state = "{{ state }}";
            if (register_state == 'register_error') {
                $(".state-div").hide();
                $("#register-div").show();
            }
            if (register_state == 'post-twitter') {
                $(".state-div").hide();
                $("#post-twitter-div").show();
            }
            if (register_state == 'need-confirmation') {
                $(".state-div").hide();
                $("#need-confirmation-div").show();
            }

            if (login_state == 'login_error') {
                $(".sign_in_dialogue").show();
            }
        });
    </script>

{% endblock %}