<div class="form-div">
    <h2 class="register-title">Register</h2>
    <form action="" method="POST" id="registerform">{% csrf_token %}
        <table class="register-form">
            <tr>
                <td>
                    <input type="text" id="fullname-input" class="login-input" name="fullname" value="{% if not registerform.fullname.errors and registerform.fullname.value %}{{ registerform.fullname.value }}{% elif registerform.fullname.errors %}{{ registerform.fullname.errors|striptags }}{% endif %}" placeholder="full name"/>
                </td>
            </tr>

            <tr></tr>

            <tr>
                <td>
                    <input type="text" id="email-input" class="login-input" name="email" value="{% if not registerform.email.errors and registerform.email.value %}{{ registerform.email.value }}{% elif registerform.email.errors %}{{ registerform.email.errors|striptags }}{% endif %}" placeholder="email"/>
                </td>
            </tr>

            <tr></tr>

            <tr>
                <td>
                    <input type="text" id="email2-input" class="login-input" name="email2" value="{% if not registerform.email2.errors and registerform.email2.value %}{{ registerform.email2.value }}{% elif registerform.email2.errors %}{{ registerform.email2.errors|striptags }}{% endif %}" placeholder="email again"/>
                </td>
            </tr>

            <tr></tr>

            <tr>
                <td>
                    <input type="password" id="password-register-input" class="login-input" name="passwordregister" placeholder="password"/>
                </td>
            </tr>

            <tr></tr>

            <tr>
                <td>
                    <input type="text" id="age-register-input" class="login-input" name="ageregister" placeholder="age" value="{% if not registerform.age.errors and registerform.age.value %}{{ registerform.age.value }}{% elif registerform.age.errors %}{{ registerform.age.errors|striptags }}{% endif %}"/>
                    <input type="text" id="zip-register-input" class="login-input" name="zipregister" placeholder="zip [optional]"/>
                </td>
                <td>

                </td>
            </tr>

            <tr></tr>

            <tr class="privacy-policy">
                <td>
                    <input type="hidden" name="button" value="register"/>
                    <input type="checkbox" name="privacy"/>
                    <span class="privacy-agree">I agree to the <a class="invert_link privacy_policy">Privacy Policy</a></span>
                    <span class="dark" style="color:#F0503B;margin-top:16px;margin-left:5px">{{ registerform.privacy.errors|striptags}}</span>
                    <input class="button-red register-button" type="submit" value="register"/>
                </td>
            </tr>
        </table>
    </form>
</div>
