{% load thumbnail %}
{% load customtags %}

<div class="screenshots-div _fade">

    <div class="bottom-box get-started-container-left">
        <div class="screenshot qa_screenshot">
            {% with full_url='/static/images/screenshots/questions_screen.png'|media_url:MEDIA_PREFIX %}
                {% thumbnail full_url "300x300" as im %}
                    <img src="{{ im.url }}"/>
                {% endthumbnail %}
            {% endwith %}
        </div>
        <h4 class="explanation-header"> 1. Q&A </h4>
        <p class="explanation">
            Define your political beliefs by answering questions about the issues. Questions
            are based off legislation that has appeared in congress over the past few years.
        </p>
    </div>

    <div class="bottom-box get-started-container-center">
        <div class="screenshot match_screenshot">
            {% with full_url='/static/images/screenshots/presidential_screen.png'|media_url:MEDIA_PREFIX %}
                {% thumbnail full_url "300x300" as im %}
                    <img src="{{ im.url }}"/>
                {% endthumbnail %}
            {% endwith %}
        </div>
        <h4 class="explanation-header"> 2. Match </h4>
        <p class="explanation">
            See where you stand in the political world. Compare yourself to the presidential candidates,
            your congressmen, local organizations, and your friends.
        </p>
    </div>

    <div class="bottom-box get-started-container-right">
        <div class="screenshot discuss_screenshot">
            {% with full_url='/static/images/screenshots/feed_screen.png'|media_url:MEDIA_PREFIX %}
                {% thumbnail full_url "300x300" as im %}
                    <img src="{{ im.url }}"/>
                {% endthumbnail %}
            {% endwith %}
        </div>
        <h4 class="explanation-header"> 3. Take Action </h4>
        <p class="explanation">
            Poll your communities, sign petitions, share news, track legislation,
            create scorecards, discuss the issues, and message your representatives. Let's use the internet to fix government.
        </p>
    </div>

</div>