<div class="sign-in-dialogue sign_in_dialogue">


    <div class="dialogue-pointer">
        <div class="border"></div>
        <div class="inner"></div>
    </div>

    <div class="connect-buttons">

        <a href="/fb/redirect{{ request.path }}" class="sign-in-fb log_in_button"> </a>
        <a href="/twitter/redirect/" class="sign-in-twitter log_in_button"> </a>
        <div style="clear:both;"></div>

    </div>

    <p>
        OR
    </p>

    <form id="loginform"> {% csrf_token %}


        <input type="text" class="sign-in-input sign_in_email_input" name="username" placeholder="email" {% if login_email %}value="{{login_email}}"{% endif %}/>
        <input type="password" class="sign-in-input password-input sign_in_password_input" name="password" placeholder="password"/>

        <div class="dialogue-bottom">
            <div class="signing_in_gif heart-gif"></div>
            <a class="login-button email_login_button log_in_button">log in</a>
            <a class="account-actions forgot-link" id="forgot-password" href="/password_recovery/">forgot password?</a>
            <span class="login-error login_error">
            </span>
            {% comment %}
                <span class="new-to-lg"> Don't have an account? <a href="/sign_up/">Sign up</a>.</span>
            {% endcomment %}
        </div>
    </form>

</div>
