{% extends 'site/pages/home/focus.html' %}

{% block home_header %}

    {% if presidential_election and not hide_intros %}
        {% include 'site/pages/elections/introduction_election_header.html' with intro_title="Presidential" %}
    {% endif %}

    {% include 'site/pages/elections/election_header.html' with info_height="285px" info_expanded=1 no_expand=1 %}

{% endblock %}

{% block home_feed %}

    {% if not ABOVE_QUESTIONS_THRESHOLD and presidential_election %}

        {% include 'site/pages/dismissible_headers/not_enough_questions.html' with of_what="news" %}

        <div class="normal_feed" style="display:none;">
            {% include 'site/pages/feed/feed.html' with feed_boxed=1 g_id=group.id %}
        </div>

    {% else %}

        {% include 'site/pages/feed/feed.html' with feed_boxed=1 g_id=group.id %}

    {% endif %}

{% endblock %}