{% extends 'site/pages/home/header_expandable.html' %}
<!-- CSS for this file is in group.scss -->

{% load humanize %}
{% load thumbnail %}

{% block header_top %}

    <div class="group-top">

        <span class="group-title">
            <a href="{{ group.get_url }}">
                <div class="inline-div inline_hide">
                    {{ group.title }}
                </div>
            </a>
            {% if info.is_user_admin %}
                <div class="edit-link edit_button"></div>
                <div class="inline-edit-input inline_edit" data-model="Content" data-id="{{ group.id }}">
                    <input type="text" maxlength="200" value="{{ group.title }}" class="edit_input" name="title"/>
                    <a href="" class="edit-link submit_inline_edit">submit</a>
                    <a href="" class="edit-link cancel_inline_edit">cancel</a>
                </div>
            {% endif %}
        </span>


        <span class="group-scale"> {{ group.getLocationVerbose }} </span>
        <span class="group-num-members"> {{ group.num_followers }} follower{{ group.num_followers|pluralize }} </span>

    </div>

{% endblock %}


{% block header_info %}

    <div class="group-expanded">

        <div class="election-info">
            <div class="election-info-left">
                <div class="election-date">
                    {{ info.election.election_date|date:"jS F" }}
                </div>
                {% with creator=info.election.creator %}
                    <div class="election-created-by">
                        created by <a href="{{ creator.get_url }}"> {{ creator.get_name }} </a>
                    </div>
                {% endwith %}
            </div>

            <div class="election-description-wrapper">
                {% if info.running %}
                    {% with leader=info.running.0 %}
                        <div class="election-leader">
                            <span class="leader-name"> {{ leader.get_name }} </span> is currently leading with
                            <span class="leader-num">  {{ leader.num_supporters }} </span> supporters.
                        </div>
                    {% endwith %}
                {% endif %}
                <div class="election-description">
                    {{ info.election.full_text }}
                </div>
            </div>

            <div class="election-buttons group-actions">
                {% if viewer.politician and not group.system and not viewer.running_for %}
                    {% include 'site/pages/elections/run_for_button.html' %}
                {% elif viewer.running_for_id == info.election.id %}
                    {% include 'site/pages/elections/run_for_button.html' %}
                {% endif %}
                {% include 'site/pages/group/group_follow_button.html' with is_user_following=info.is_user_following %}
                {% if viewer == info.election.creator %}
                    {% include 'site/pages/elections/invite_to_run_for_button.html' %}
                {% endif %}
                {% if not viewer.politician and not group.system and not viewer.running_for %}
                    Are you a politician running for office? <a href="/settings/i_am_a_politician/">Update your profile</a> to run for this election.
                {% endif %}
            </div>

            <div style="clear:both;"></div>
        </div>

        <div class="running">
            {% for user in info.running %}
                <div class="election-card-wrapper {% if forloop.last %} last {% endif %}">
                    {% include 'site/pages/elections/election_card.html'  %}
                </div>
            {% empty %}
                <div class="no-one-running"> No one is running in this election yet. </div>
            {% endfor %}
            <div style="clear:both;"></div>
        </div>

    </div>

{% endblock %}
