<link href="/static/css/compiled/about.css" rel="stylesheet" type="text/css"/>

<div class="main-div">

    <div class="nav-top-div">
        <div class="top-nav-left">
            <div class="div-button"><span>How it works?</span></div>
            <div id="who-are-we-button" class="div-button"><span>Who are we?</span></div>
            <div class="div-button"><span>Contact</span></div>
            <div id="privacy-button" class="div-button"><span>Privacy</span></div>
        </div>
        <div class="top-nav-right">
            <div>
                <h1>What is LoveGov?</h1>
                <img src=/static/images/login/banner-425x287.png>
            </div>
            <p>
                LoveGov will inform you on issues, keep you current with legislation that you care about and connect
                you with your representatives. We're making it easy to get involved.
            </p>

        </div>
    </div>

    <div class="nav-top-div-border"></div>

    <div id="about-content">

        {% include 'deployment/pages/login/login-privacy.html' %}
        {% include 'deployment/center/about/who-are-we.html' %}

    </div>

</div>

<script type="text/javascript">
    function textFadeIn(ele,text,spd)
    {
        var size = 0;
        var speed = spd;
        function countdown()
        {
            if(size < text.length)
            {
                ele.append(text[size++]);
                setTimeout(countdown, speed);
            }
        }
        countdown();
    }

    function aboutPage()
    {
        var center_x = {{ x|add:side_half }};
        var center_y = {{ y|add:side_half }};

        var developerDivs = $('.who-are-we-circle-div');
        var h3 = $('.who-are-we-circle-div-center h3');


        developerDivs.each(function()
        {
            $(this).hover
            (
                function()
                {
                    var json = $(this).data('json');
                    $(this).addClass($(this).attr("class") + '-hover');
                    $('.who-are-we-circle-div-center').css('background-color','white');
                    $('.who-are-we-circle-div-center div').show();
                    $('.who-are-we-circle-div-center div').children('h5').text(json['first_name'] + " " + json['last_name']);
                    $('.who-are-we-circle-div-center div').children('h6').text(json['user_title']);
                    h3.hide();
                },
                function()
                {
                    $(this).removeClass($(this).attr("class").split(' ')[1] + '-hover');
                    $('.who-are-we-circle-div-center').css('background-color','');
                    $('.who-are-we-circle-div-center div').hide();
                    h3.show();
            });

        });

        $('.div-button').click(function()
        {
            $('.fade').hide();
            var div = '#' + $(this).attr('id').replace('button','div');
            $(div).show();
            if (div=='#who-are-we-div')
            {
                developerDivs.each(function()
                {
                    var json = $(this).data('json');
                    $(this).animate({'left':json.x,'top':json.y});
                });

                $('.mission p').each(function()
                {
                    var text = $(this).text().split('');
                    $(this).empty();
                    textFadeIn($(this),text,25);
                });
            }
            else
            {
                developerDivs.each(function()
                {
                    $(this).css({'left':center_x,'top':center_y});
                });
            }
        });
    }

    aboutPage();

</script>