{% load customtags %}
{% load thumbnail %}

<div class="who-are-we-circle" id="who_are_we_circle">
    {% for developer in developers %}
        <div class="who-are-we-circle-div {% cycle_list colors_cycle as color %}{{ color }}"
             style="left:{{ x|add:side_half }}px;top:{{ y|add:side_half }}px;width:{{ side }}px;height:{{ side }}px;border-radius:{{ side_half }}px;z-index:2"
             data-json='{"first_name":"{{developer.first_name}}","last_name":"{{ developer.last_name }}","user_title":"{{ developer.user_title }}","x":"{{ developer.x }}","y":"{{ developer.y }}"}' >
            {% thumbnail developer.getProfileImage.image "300x300" crop="center" format="PNG" as img %}
                <img src="{{ img.url }}" style="border-radius:{{ side_half }}px;width:{{ side }}px"/>
            {% endthumbnail %}
        </div>

        {% cycle_list colors as col %}

        <div style="-ms-transform:rotate({{ developer.angle }}deg);
                -moz-transform:rotate({{ developer.angle }}deg);
                -webkit-transform:rotate({{ developer.angle }}deg);
                -o-transform:rotate({{ developer.angle }}deg);
                background-color:{{ col }};
                position:absolute;
                top:{{ developer.y2|add:70 }}px;
                left:{{ developer.x2 }}px;
                width:{{ side }}px;
                height:2px;
                z-index:1;">
        </div>

    {% endfor %}
    <div class="who-are-we-circle-div-center" style="z-index:3;left:{{ x }}px;top:{{ y }}px;width:{{ main_side }}px;height:{{ main_side }}px;border-radius:{{ main_side_half }}px">
        <div style="display:none; text-align:center; margin-top:70px;">
            <h5 class="text-blue"></h5>
            <h6></h6>
        </div>
        <h3 class="capitalize-text" style="position:relative;color:white;text-align:center;top:70px">The Team</h3>
    </div>
    &nbsp;
</div>

<div class="mission">
    <h2 class="capitalize-text bold small-margin">our mission</h2>
    <p class="huge">
        LoveGov’s goal is to develop tools that facilitate democracy. We are committed to non-partisanship, government transparency and the right to individual privacy.


        We believe that the best democracy has the most active and informed citizens. This means that political information must be easily accessible, understandable and actionable. The tools and user interface must be intuitive, enjoyable and rewarding. Today, politics is way too time consuming, frustrating, and complicated, removing many people from the political discourse. By making politics fun, and simplifying the process of staying informed and taking action, we hope to increase everyone’s involvement in politics. Our goal is to make each of our users feel like they actually made a difference.


        Non-Partisanship

        LoveGov has no agenda; we strive for no tool, mechanism or question to favor one worldview over another. We are maintaining a constant vigilance to ensure that our team member’s views to not enter the design of the platform. However, we cannot deny that we all have political views, so each team member is encouraged to have active user accounts where they can express themselves. We ask that you, the user, help us in preserving this non-partisanship and tell us when you have any concerns so that we can immediately address them.

        This is especially important in our Q&A web. Writing questions that are non-partisan is extremely difficult. This is why we started with questions based on legislation. This is by no means perfect, so we are working on implementing a Wikipedia style interface for our users to generate/edit questions and to build their own Q&A webs. This way, we can transition out of the role of framing the issues and allow our users to find the optimal phrasing.


        Government Transparency

        Voters need to be able to know if their representative’s actions are consistent with their claims, what impact legislation is having on their lives and how the political process actually works. Otherwise they cannot possibly be effective voters and hold their representatives accountable for their actions. This is why one of LoveGov’s primary goals is simplifying the process of accessing, understanding, sharing, and tracking legislation.

        Right to Individual Privacy

        There is a reason that democracies are founded on the principle that citizens privately cast their ballots. People need to have the option of expressing their views without fear of consequences from their community or government; otherwise the minority viewpoints will go unconsidered in the political process. This is why we have a strong privacy policy. We will NEVER sell or share your personal information. On LoveGov, citizens are able to express themselves while knowing that they are in control of their information.

        Our privacy settings are simple. In public mode, everyone can see your activity. In private mode, nobody can see your activity: you are anonymous. That’s it. We have abandoned custom privacy settings because they are too convoluted, and are ultimately not foolproof in protecting your information. If you are doing something on LoveGov that you don’t want anyone to know about, then do it in private mode.

        Please see our blog for further discussions of our mission/policies and to learn about what features will come next!
    </p>
</div>