@charset "UTF-8";
@font-face {
  font-family: "Gill Sans Std Light";
  src: url(../GillSansStd-Light.otf); }

@font-face {
  font-family: "Gill Sans Std";
  src: url(../GillSansStd.otf); }

@font-face {
  font-family: "Sonus Light";
  src: url(../SonusLig.otf); }

/* Main Colors */
/* Topic Colors */
/* Fonts */
@font-face {
  font-family: "Gill Sans Std Light";
  src: url(../GillSansStd-Light.otf); }

@font-face {
  font-family: "Gill Sans Std";
  src: url(../GillSansStd.otf); }

@font-face {
  font-family: "Sonus Light";
  src: url(../SonusLig.otf); }

/* Main Colors */
/* Topic Colors */
/* Fonts */
/* Mixins */
.create_content_div {
  display: none; }

.create-wrapper {
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 9pt;
  color: #959595;
  background-color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  margin: 20px; }
  .create-wrapper #create-main {
    margin-top: 18px;
    margin-left: 0px;
    margin-right: 40px;
    margin-bottom: 40px;
    padding: 30px;
    border: 1px solid #ef503b; }
  .create-wrapper #create-buttons {
    text-align: center;
    width: 100%; }
  .create-wrapper .button-placeholder {
    display: inline-block;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    margin: 10px;
    padding: 10px;
    width: 120px;
    cursor: pointer;
    border: 1px solid white;
    background-color: white; }
    .create-wrapper .button-placeholder:hover {
      background-color: #f0f0f0;
      border: 1px dotted #353535; }
    .create-wrapper .button-placeholder:active {
      background-color: #cccccc; }
    .create-wrapper .button-placeholder img {
      width: 75px;
      height: 75px; }
    .create-wrapper .button-placeholder span {
      margin-top: 10px;
      text-align: center;
      display: block;
      font-family: "Sonus Light", Helvetica, Arial, Verdana, sans-serif;
      font-size: 18px;
      color: #005468; }
    .create-wrapper .button-placeholder.selected {
      background-color: #cccccc; }

div.create-error {
  color: #ef503b;
  font-size: 12px;
  display: none; }

div.create-info {
  color: #cccccc;
  font-size: 12px; }

/* Group-Create */
table.create-table {
  width: 775px; }
  table.create-table td {
    padding: 10px; }
  table.create-table td.create-title {
    text-align: right;
    width: 150px; }
  table.create-table td.create-input {
    width: 500px; }
  table.create-table .custom-radio {
    display: none; }
  table.create-table div.create-radio {
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    -khtml-border-radius: 9px;
    float: left;
    padding: 10px 10px 0px 10px;
    font-size: 18px;
    font-family: "Gill Sans Std";
    color: white;
    background-color: #cccccc;
    margin-right: 10px;
    cursor: pointer; }
  table.create-table div.create-radio:hover {
    background-color: #e0e0e0; }
  table.create-table div.create-radio-selected {
    background-color: #ef503b; }
  table.create-table div.create-radio-selected:hover {
    background-color: #fc8a81; }
  table.create-table .title-input {
    width: 372px;
    padding: 5px; }
  table.create-table .full-text-input {
    width: 372px;
    padding: 5px;
    height: 100px; }

div.submit-button {
  float: right;
  margin-bottom: 30px; }

.create-topic-div {
  position: relative;
  height: 65px; }

.create-topic-text {
  position: relative;
  width: 130px;
  float: left; }

.topic-images img {
  padding-right: 3px; }

/* TOPIC IMAGE SELECT */
.create-topic-icon-wrapper {
  position: relative;
  float: left;
  margin-left: 3px; }

.create-topic-img {
  cursor: pointer; }

.topic-radio {
  display: none; }

tr.post-to-wrapper div.post-to-selected {
  float: left; }
tr.post-to-wrapper div.post-to-choices {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border: 1px solid #e0e0e0;
  padding: 20px;
  margin-right: 50px; }
  tr.post-to-wrapper div.post-to-choices div.group-box {
    margin-top: 0px; }
  tr.post-to-wrapper div.post-to-choices div.group-box.clicked {
    border-color: #ef503b; }
  tr.post-to-wrapper div.post-to-choices div.group-box:hover {
    border-color: #ef503b; }
