@charset "UTF-8";
@font-face {
  font-family: "Gill Sans Std Light";
  src: url(../GillSansStd-Light.otf); }

@font-face {
  font-family: "Gill Sans Std";
  src: url(../GillSansStd.otf); }

@font-face {
  font-family: "Sonus Light";
  src: url(../SonusLig.otf); }

/* Main Colors */
/* Topic Colors */
/* Fonts */
/* Mixins */
div.invite-modal {
  min-height: 300px;
  border: 1px solid #ef503b;
  position: absolute;
  top: 100px;
  float: left;
  background-color: white;
  z-index: 103;
  -moz-box-shadow: 10px 10px 5px #959595;
  -webkit-box-shadow: 10px 10px 5px #959595;
  box-shadow: 10px 10px 5px #959595;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: none;
  border: 1px solid #ef503b;
  position: absolute;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 50px; }
  div.invite-modal div.invite-modal-container {
    text-align: center; }
    div.invite-modal div.invite-modal-container div.invite-modal-header {
      font-family: "Sonus Light";
      color: #005468;
      font-size: 26px;
      margin-bottom: 10px; }
    div.invite-modal div.invite-modal-container div.invite-select-container {
      margin-bottom: 15px; }
    div.invite-modal div.invite-modal-container div.invite-submit-container {
      margin-bottom: 15px; }
    div.invite-modal div.invite-modal-container div.invite-submit-message {
      color: #adadad;
      font-size: 14px;
      display: none; }
    div.invite-modal div.invite-modal-container div.invite-explanation {
      color: #adadad;
      font-size: 14px; }
    div.invite-modal div.invite-modal-container a.invite-button-modal {
      font-size: 18px;
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      -khtml-border-radius: 10px;
      padding: 10px 15px 10px 15px; }
    div.invite-modal div.invite-modal-container a.invite-button-modal:hover {
      background-color: #e0e0e0; }
    div.invite-modal div.invite-modal-container select.invite-select {
      width: 600px; }
