@charset "UTF-8";
/*

                       8?
                       8?
                       8?
                       8?                                                 ,7777   I7777
                       8?    88I  888   8       8.  88~  88    I8Z Z8.   7777777+7777777  8       8
                       8?   8~      O8  OZ     O8  87     ~8   8     8   7777777777777777 88     =8
                       8?  O8        8:  8     8  $8???????8  $?     ~8  7777777777777777  8     8
                       8?  8~        88   8   8   88           8     8   777777777777777    8   8,
                       8?  +8        8    Z8 $8   ,8            I888$     7777777777777     88 88
                       8?   88      88     8 8     88          8+          .7777777777       8~8
                       8?    =888888.       8=       8888888   88             77777?          8.
                                                               8I    88         I                  :=
                                                              8       88
                                               :  =           8.      8
                        +:.:  :, I :  :: ?:: :,: 7, : ~I        88888,
                         .I~?7,.  +               ?+   .
                                            ?

                             _______  _______  _______ _________ _______  _______
                            (       )(  ___  )(  ____ \__   __/(  ____ \(  ____ )
                            | () () || (   ) || (    \/   ) (   | (    \/| (    )|
                            | || || || (___) || (_____    | |   | (__    | (____)|
                            | |(_)| ||  ___  |(_____  )   | |   |  __)   |     __)
                            | |   | || (   ) |      ) |   | |   | (      | (\ (
                            | )   ( || )   ( |/\____) |   | |   | (____/\| ) \ \__
                            |/     \||/     \|\_______)   )_(   (_______/|/   \__/

                             _______  _______  _______    _______           _______  _______ _________
                            (  ____ \(  ____ \(  ____ \  (  ____ \|\     /|(  ____ \(  ____ \__   __/
                            | (    \/| (    \/| (    \/  | (    \/| )   ( || (    \/| (    \/   ) (
                            | |      | (_____ | (_____   | (_____ | (___) || (__    | (__       | |
                            | |      (_____  )(_____  )  (_____  )|  ___  ||  __)   |  __)      | |
                            | |            ) |      ) |        ) || (   ) || (      | (         | |
                            | (____/\/\____) |/\____) |  /\____) || )   ( || (____/\| (____/\   | |
                            (_______/\_______)\_______)  \_______)|/     \|(_______/(_______/   )_(

*/
@font-face {
  font-family: "Gill Sans Std Light";
  src: url(../GillSansStd-Light.otf); }

@font-face {
  font-family: "Gill Sans Std";
  src: url(../GillSansStd.otf); }

@font-face {
  font-family: "Sonus Light";
  src: url(../SonusLig.otf); }

/* Main Colors */
/* Topic Colors */
/* Fonts */
@font-face {
  font-family: "Gill Sans Std Light";
  src: url(../GillSansStd-Light.otf); }

@font-face {
  font-family: "Gill Sans Std";
  src: url(../GillSansStd.otf); }

@font-face {
  font-family: "Sonus Light";
  src: url(../SonusLig.otf); }

/* Main Colors */
/* Topic Colors */
/* Fonts */
/* Mixins */
.main-div {
  width: 1000px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto; }

.text-blue {
  color: #005468; }

.text-gray {
  color: #959595; }

a.text-red {
  color: #ef503b; }
  a.text-red:hover {
    color: #fc8a81; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  color: #353535;
  font-size: 13px; }

a, a:visited, a:active, a:link {
  text-decoration: none;
  color: #0094a3; }

a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #005468; }

a.red-link, a.red-link:visited, a.red-link:active, a.red-link:link {
  text-decoration: none;
  color: #ef503b; }

a.red-link:hover {
  text-decoration: none;
  cursor: pointer;
  color: #fc8a81; }

a.clear-link, a.clear-link:visited, a.clear-link:active, a.clear-link:link {
  text-decoration: none;
  color: #005468; }

a.clear_link_red, a.clear_link_red:visited, a.clear_link_red:active, a.clear_link_red:link, a.clear_link_red:hover {
  color: #ef503b; }

a.invert_link, a.invert_link:visited, a.invert_link:active, a.invert_link:link {
  color: #005468; }

a.invert_link:hover {
  color: #0094a3; }

a.big_link, a.big_link:visited, a.big_link:active, a.big_link:link, a.big_link:hover {
  font-size: 20px; }

p {
  margin-bottom: 13px; }

p.huge {
  font-family: "Gill Sans Std Light";
  color: #353535;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 25px; }

p.really-big {
  font-family: "Gill Sans Std Light";
  color: #959595;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 20px; }

p.big {
  font-family: "Gill Sans Std Light";
  color: #005468;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 18px; }

ol, ul {
  padding-left: 30px; }

ul.list_none {
  list-style-type: none;
  padding-left: 0; }

hr {
  height: 1px;
  border: 0px;
  background-color: #ccc;
  margin-bottom: 10px;
  margin-top: 10px; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

span.bignum {
  /* extra big numbers - percents etc */
  font-size: 50px;
  font-weight: bold;
  font-family: Helvetica, Arial, Verdana, sans-serif; }

blockquote {
  color: #959595;
  font-style: italic;
  padding-left: 13px;
  padding-bottom: 13px;
  padding-right: 13px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Sonus Light";
  font-weight: normal;
  font-style: normal; }

h1 {
  color: #005468;
  font-size: 50px; }

h2 {
  color: #ef503b;
  font-size: 32px; }

h3 {
  color: #005468;
  font-size: 26px; }

h4 {
  color: #ef503b;
  font-size: 22px; }

h5 {
  color: #959595;
  font-size: 18px; }

h6 {
  color: #005468;
  font-size: 13px; }

input[type="text"], input[type="password"] {
  border: 1px solid #cccccc;
  outline: none;
  cursor: text;
  color: #353535; }

input[type="text"]:focus, input[type="password"]:focus {
  border: 1px solid #ef503b;
  outline: none; }

input[type="submit"]:hover {
  cursor: pointer; }

textarea {
  border: 1px solid #cccccc;
  outline: none;
  padding: 0;
  cursor: text;
  outline-offset: 0;
  color: #353535; }

textarea:focus {
  border: 1px solid #ef503b;
  outline: none; }

.button, .button-red, .button-red:link, .button-red:active, .button-red:visited, .button-gray, .button-gray:link, .button-gray:active, .button-gray:visited {
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  -khtml-border-radius: 9px;
  border-radius: 9px;
  padding: 12px;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: "Sonus Light";
  color: white;
  text-decoration: none;
  outline: none;
  border: 0; }

.button-red, .button-red:link, .button-red:active, .button-red:visited {
  background-color: #ef503b; }

.button-red:hover {
  background-color: #fc8a81; }

.button-gray, .button-gray:link, .button-gray:active, .button-gray:visited {
  background-color: #adadad; }

.button-gray:hover {
  background-color: #cccccc; }

.button-small, .button-small-red, .button-small-red:link, .button-small-red:active, .button-small-red:visited, a.long-box, a.long-button-gray, a.long-button-gray:link, a.long-button-gray:active, a.long-button-gray:visited {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  text-align: center;
  padding: 5px; }

.button-small-red, .button-small-red:link, .button-small-red:active, .button-small-red:visited {
  font-weight: bold;
  color: white;
  background-color: #ef503b; }

.button-small-red:hover {
  background-color: #fc8a81; }

a.long-box, a.long-button-gray, a.long-button-gray:link, a.long-button-gray:active, a.long-button-gray:visited {
  display: block;
  font-style: italic;
  color: #353535; }

a.long-button-gray, a.long-button-gray:link, a.long-button-gray:active, a.long-button-gray:visited {
  background-color: #cccccc; }

a.long-button-gray:hover {
  background-color: #e0e0e0; }

img.icon-really-big {
  width: 75px;
  height: 75px; }

img.icon-big {
  width: 50px;
  height: 50px; }

img.icon-med {
  width: 38px;
  height: 38px; }

img.icon-small {
  width: 25px;
  height: 25px; }

img.rounded {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px; }

.no-margin {
  margin-bottom: 0;
  margin-top: 0; }

.small-margin {
  margin-bottom: 10px;
  margin-top: 10px; }

.mid-margin {
  margin-bottom: 25px;
  margin-top: 25px; }

.big-num {
  /*tribute to cs17 project bignum. rest in peace. */
  font-weight: bold;
  font-size: 52px;
  color: #ef503b; }

.logo {
  width: 425px;
  height: 165px; }

.capitalize-text {
  text-transform: uppercase; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clear-both {
  clear: both; }

div.round-container {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px; }

.tool-tip {
  background-color: #f0503b;
  color: white; }

span.small {
  font-size: 12px;
  font-color: #959595; }

span.big {
  font-size: 18px; }

.bold {
  font-weight: bold; }

.preload-images {
  display: none; }

.select-none, input[type="text"].input_focus {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; }

input[type="text"].input_default {
  color: #adadad; }

input[type="text"].input_focus {
  border-color: #ef503b;
  color: #e0e0e0; }

input[type="text"].input_typing {
  color: #353535; }

div.heart {
  display: inline-block;
  background-size: 100%;
  cursor: pointer; }

div.heart_minus {
  background-image: url("/static/images/icons/minusheart-gray.png"); }

div.heart_minus.clicked {
  background-image: url("/static/images/icons/minusheart-red.png"); }

div.heart_minus:hover {
  background-image: url("/static/images/icons/minusheart-red.png"); }

div.heart_plus {
  background-image: url("/static/images/icons/plusheart-gray.png"); }

div.heart_plus.clicked {
  background-image: url("/static/images/icons/plusheart-red.png"); }

div.heart_plus:hover {
  background-image: url("/static/images/icons/plusheart-red.png"); }

div.overdiv {
  filter: alpha(opacity=35);
  -moz-opacity: .35;
  opacity: .35;
  background-color: #000;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none; }

span.content_header {
  color: #cccccc;
  font-size: 28px;
  font-family: "Gill Sans Std Light", Helvetica, Arial, Verdana, sans-serif;
  margin-bottom: 20px;
  display: block; }

input.tab-button, a.tab-button, span.tab-button {
  background-color: #ef503b;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-bottom-right-radius: 8px;
  -moz-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  -khtml-border-bottom-left-radius: 8px;
  color: white;
  padding: 8px;
  border: none;
  margin-bottom: 6px; }
  input.tab-button.alt, a.tab-button.alt, span.tab-button.alt {
    background-color: #cccccc; }
  input.tab-button:hover, a.tab-button:hover, span.tab-button:hover {
    padding-top: 14px;
    margin-bottom: 0; }

.tooltip {
  position: absolute;
  z-index: 1020;
  display: block;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible; }

.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80); }

.tooltip.top {
  margin-top: -2px; }

.tooltip.right {
  margin-left: 2px; }

.tooltip.bottom {
  margin-top: 2px; }

.tooltip.left {
  margin-left: -2px; }

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top: 5px solid #000000;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent; }

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000000; }

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000000;
  border-left: 5px solid transparent; }

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-right: 5px solid #000000;
  border-bottom: 5px solid transparent; }

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0; }

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -ms-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear; }

.fade.in {
  opacity: 1; }

.sub-title {
  font-family: "Gill Sans Std", Helvetica, Verdana, sans-serif;
  font-weight: normal;
  font-size: 18pt;
  color: #cccccc; }

span#email-label {
  font-family: "Sonus Light";
  font-weight: normal;
  font-size: 24px;
  color: #005468; }

.inline-edit-input {
  display: none; }

div.edit-link {
  background-image: url("/static/images/edit-pencil.png");
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: inline-block; }
  div.edit-link:hover {
    background-image: url("/static/images/edit-pencil-blue.png"); }

.inline-div {
  display: inline; }

div.modal {
  z-index: 103;
  position: fixed;
  left: 50%;
  top: 50%;
  padding: 15px;
  background-color: white;
  -moz-box-shadow: 10px 10px 5px #959595;
  -webkit-box-shadow: 10px 10px 5px #959595;
  box-shadow: 10px 10px 5px #959595;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  display: none;
  border: 1px solid #ef503b; }

div.first-login-modal {
  z-index: 103;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 30px;
  background-color: white;
  -moz-box-shadow: 10px 10px 5px #959595;
  -webkit-box-shadow: 10px 10px 5px #959595;
  box-shadow: 10px 10px 5px #959595;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  display: none;
  border: 1px solid #ef503b;
  -moz-opacity: 0.92;
  -khtml-opacity: 0.92;
  opacity: 0.92;
  max-width: 750px;
  color: #ef503b;
  font-family: "Sonus Light", Helvetica, Arial, Verdana, sans-serif;
  font-size: 20px; }
  div.first-login-modal a.first-login-restart {
    float: right;
    margin-top: 150px;
    display: none; }
  div.first-login-modal h2 {
    text-align: center;
    margin-bottom: 15px; }
  div.first-login-modal .modal-close {
    position: absolute;
    top: 15px;
    right: 15px; }
  div.first-login-modal button.tutorial-button {
    display: block;
    background-color: #ef503b;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    padding: 10px 30px;
    color: white;
    border: 0px;
    margin: 25px;
    margin-left: auto;
    margin-right: auto; }
    div.first-login-modal button.tutorial-button:hover {
      background-color: #0094a3; }
  div.first-login-modal div.zip-code-form {
    text-align: center; }
    div.first-login-modal div.zip-code-form input {
      height: 40px;
      width: 150px;
      margin-right: 20px;
      text-align: center;
      float: none; }
    div.first-login-modal div.zip-code-form button.tutorial-button {
      display: inline; }
  div.first-login-modal div.skip-tutorial {
    text-align: center;
    color: #353535;
    font-size: 14px; }
  div.first-login-modal img.privacy-img {
    float: left;
    margin-right: 10px; }
  div.first-login-modal.slim-modal {
    max-width: 500px; }
  div.first-login-modal div.zip-code-error-msg {
    color: #959595;
    font-size: 16px; }

div.modal-close {
  float: right;
  height: 10px;
  width: 10px;
  background-image: url("/static/images/icons/x.png");
  cursor: pointer; }
  div.modal-close:hover {
    background-image: url("/static/images/icons/x_hover.png"); }

div.agg-notifications-modal {
  min-height: 300px;
  border: 1px solid #ef503b;
  position: absolute;
  top: 100px;
  float: left;
  background-color: white;
  z-index: 103;
  -moz-box-shadow: 10px 10px 5px #959595;
  -webkit-box-shadow: 10px 10px 5px #959595;
  box-shadow: 10px 10px 5px #959595;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: none;
  border: 1px solid #ef503b;
  position: absolute;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 50px; }
  div.agg-notifications-modal div.modal-section-title {
    font-family: "Sonus Light";
    color: #ef503b;
    font-size: 22px;
    margin-bottom: 10px; }
  div.agg-notifications-modal table.group-request-table td {
    vertical-align: middle;
    padding: 10px; }
  div.agg-notifications-modal div.modal-horizontal-separator {
    border-bottom: 1px solid #cccccc;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0; }
  div.agg-notifications-modal div.aggregate-users-container {
    margin-top: 20px; }
    div.agg-notifications-modal div.aggregate-users-container table.user-container {
      margin-right: 20px;
      float: left; }
      div.agg-notifications-modal div.aggregate-users-container table.user-container td {
        vertical-align: middle;
        padding: 10px 10px 10px 2px; }

div.autocomplete-header {
  font-family: "Sonus Light", Helvetica, Arial, Verdana, sans-serif;
  font-size: 18px;
  width: 90%;
  padding: 6px;
  margin-left: auto;
  margin-right: auto;
  color: #353535;
  text-transform: uppercase;
  text-align: center; }

div.autocomplete-user {
  position: relative;
  padding: 5px;
  height: 50px; }
  div.autocomplete-user img {
    float: left; }
  div.autocomplete-user div.autocomplete-name span {
    position: absolute;
    bottom: 0;
    left: 70px;
    font-size: 20px;
    color: #959595;
    font-family: "Sonus Light", Helvetica, Arial, Verdana, sans-serif; }
  div.autocomplete-user:hover {
    background-color: #f0f0f0; }
    div.autocomplete-user:hover div span {
      color: #353535; }

div.autocomplete-petition, div.autocomplete-news, div.autocomplete-question, div.autocomplete-group {
  padding: 5px;
  position: relative; }
  div.autocomplete-petition div.autocomplete-image-wrapper, div.autocomplete-news div.autocomplete-image-wrapper, div.autocomplete-question div.autocomplete-image-wrapper, div.autocomplete-group div.autocomplete-image-wrapper {
    height: 100%;
    float: left;
    margin-right: 10px; }
  div.autocomplete-petition div.autocomplete-name, div.autocomplete-news div.autocomplete-name, div.autocomplete-question div.autocomplete-name, div.autocomplete-group div.autocomplete-name {
    font-size: 14px;
    font-family: "Sonus Light", Helvetica, Arial, Verdana, sans-serif;
    color: #959595; }
    div.autocomplete-petition div.autocomplete-name strong, div.autocomplete-news div.autocomplete-name strong, div.autocomplete-question div.autocomplete-name strong, div.autocomplete-group div.autocomplete-name strong {
      text-decoration: underline; }
  div.autocomplete-petition:hover, div.autocomplete-news:hover, div.autocomplete-question:hover, div.autocomplete-group:hover {
    background-color: #f0f0f0; }
    div.autocomplete-petition:hover div, div.autocomplete-news:hover div, div.autocomplete-question:hover div, div.autocomplete-group:hover div {
      color: #353535; }

div.autocomplete-div.autocomplete-more-results {
  padding: 5px;
  width: 325px;
  font-family: "Sonus Light", Helvetica, Arial, Verdana, sans-serif;
  height: 20px;
  font-size: 18px; }
  div.autocomplete-div.autocomplete-more-results:hover {
    background-color: #f0f0f0; }

div.qaweb {
  text-align: center;
  border-radius: 17px;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  -khtml-border-radius: 17px;
  margin-bottom: 23px; }
  div.qaweb div.see-answers {
    width: 100%;
    margin-bottom: 5px;
    display: none; }

div.qaweb:hover {
  background-color: #f0f0f0;
  cursor: pointer;
  margin-bottom: 0px; }
  div.qaweb:hover div.see-answers {
    color: #005468;
    display: block; }

div.modal-box {
  display: none; }
