@charset "UTF-8";
@font-face {
  font-family: "Gill Sans Std Light";
  src: url(../GillSansStd-Light.otf); }

@font-face {
  font-family: "Gill Sans Std";
  src: url(../GillSansStd.otf); }

@font-face {
  font-family: "Sonus Light";
  src: url(../SonusLig.otf); }

/* Main Colors */
/* Topic Colors */
/* Fonts */
@font-face {
  font-family: "Gill Sans Std Light";
  src: url(../GillSansStd-Light.otf); }

@font-face {
  font-family: "Gill Sans Std";
  src: url(../GillSansStd.otf); }

@font-face {
  font-family: "Sonus Light";
  src: url(../SonusLig.otf); }

/* Main Colors */
/* Topic Colors */
/* Fonts */
/* Mixins */
#header-notifications {
  float: right;
  margin-top: 5px; }
  #header-notifications #notifications-dropdown-button {
    border-top: solid 1px;
    border-left: solid 1px;
    border-color: #cccccc;
    width: 30px;
    height: 33px;
    padding-top: 8px;
    margin: 0px;
    display: block;
    text-align: center; }
    #header-notifications #notifications-dropdown-button #notifications-number {
      line-height: 16px; }
    #header-notifications #notifications-dropdown-button #notifications-dropdown-arrow {
      background-image: url(/static/images/user-menu/downarrow.png);
      display: block;
      width: 12px;
      height: 8px;
      margin-left: auto;
      margin-right: auto;
      top: -5px; }
  #header-notifications #notifications-dropdown {
    border-left: solid 1px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    border-color: #cccccc;
    position: absolute;
    color: #353535;
    font-size: 13px;
    top: 47px;
    width: 279px;
    min-height: 200px;
    z-index: 100;
    background-color: white; }
    #header-notifications #notifications-dropdown div.notification {
      border-bottom: solid 1px;
      border-color: #cccccc;
      background-color: white;
      padding-top: 10px;
      padding-left: 10px; }
    #header-notifications #notifications-dropdown div.notification:hover {
      background-color: #e0e0e0; }
    #header-notifications #notifications-dropdown div.see-more-notifications {
      border-bottom: solid 1px;
      border-color: #cccccc;
      background-color: white;
      padding-top: 5px;
      padding-bottom: 5px;
      text-align: center; }
    #header-notifications #notifications-dropdown div.see-more-notifications:hover {
      background-color: #e0e0e0; }
