@charset "UTF-8";
@font-face {
  font-family: "Gill Sans Std Light";
  src: url(../GillSansStd-Light.otf); }

@font-face {
  font-family: "Gill Sans Std";
  src: url(../GillSansStd.otf); }

@font-face {
  font-family: "Sonus Light";
  src: url(../SonusLig.otf); }

/* Main Colors */
/* Topic Colors */
/* Fonts */
/* Mixins */
div.notification {
  padding: 15px 10px 0px 10px; }

table.notification-container {
  width: 100%; }

div.notification:hover {
  background-color: #e0e0e0; }

div.notification-follow-response {
  border: #cccccc solid 1px;
  background-color: white;
  padding: 5px;
  color: #ef503b;
  text-align: center;
  cursor: pointer; }

div.bottom {
  border-width: 0 1px 1px 1px; }

div.notification-follow-response:hover {
  color: white;
  background-color: #ef503b; }

td.notification-buttons {
  text-align: right;
  padding-left: 10px;
  width: 50px; }

td.notification-thumbnail {
  padding-right: 10px;
  width: 25px;
  height: 25px;
  vertical-align: middle; }

td.notification-text {
  vertical-align: middle; }

div.notification-append {
  color: #adadad;
  display: none; }
