@charset "UTF-8";
@font-face {
  font-family: "Gill Sans Std Light";
  src: url(../GillSansStd-Light.otf); }

@font-face {
  font-family: "Gill Sans Std";
  src: url(../GillSansStd.otf); }

@font-face {
  font-family: "Sonus Light";
  src: url(../SonusLig.otf); }

/* Main Colors */
/* Topic Colors */
/* Fonts */
/* Mixins */
div.profile-section-title, div.followers-modal div.modal-section-title {
  font-family: "Sonus Light";
  color: #ef503b;
  font-size: 22px;
  color: #005468; }

/* LEFT MODULE */
div.middle-left {
  position: relative;
  float: left;
  width: 650px;
  /* Basic Info */
  /* Profile Bottom */ }
  div.middle-left div.basic-info {
    position: relative;
    margin-bottom: 5px;
    margin-left: 30px;
    min-height: 250px;
    /* Info Left Side */
    /* Info Main Contents */ }
    div.middle-left div.basic-info div.basic-info-left {
      float: left;
      margin-right: 20px; }
      div.middle-left div.basic-info div.basic-info-left div.profile-follows-you {
        font-size: 9px;
        margin-top: 2px;
        text-align: center;
        color: #959595; }
    div.middle-left div.basic-info div.basic-info-main {
      float: left;
      max-width: 520px;
      /* Profile Stat Boxes */
      /* Profile Buttons */ }
      div.middle-left div.basic-info div.basic-info-main span.plus-color {
        color: #959595;
        font-weight: bold; }
      div.middle-left div.basic-info div.basic-info-main div.profile-username {
        font-family: "Sonus Light";
        color: #ef503b;
        font-size: 32px;
        margin-bottom: 5px; }
      div.middle-left div.basic-info div.basic-info-main div.profile-location {
        font-family: "Sonus Light";
        color: #959595;
        font-size: 18px;
        color: #005468;
        margin-left: 2px; }
      div.middle-left div.basic-info div.basic-info-main div.profile-school {
        font-family: "Sonus Light";
        color: #959595;
        font-size: 18px;
        margin-left: 2px; }
      div.middle-left div.basic-info div.basic-info-main div.profile-summary {
        color: #959595;
        font-style: italic;
        width: 380px; }
        div.middle-left div.basic-info div.basic-info-main div.profile-summary textarea.bio-inline-edit {
          height: 50px;
          width: 350px; }
      div.middle-left div.basic-info div.basic-info-main div.profile-parties {
        margin-top: 5px; }
        div.middle-left div.basic-info div.basic-info-main div.profile-parties div.party-image {
          float: left;
          margin-right: 10px;
          margin-top: 5px; }
      div.middle-left div.basic-info div.basic-info-main div.profile-stats {
        margin-top: 20px;
        height: 80px; }
        div.middle-left div.basic-info div.basic-info-main div.profile-stats div.stat-box {
          border-radius: 20px;
          -moz-border-radius: 20px;
          -webkit-border-radius: 20px;
          -khtml-border-radius: 20px;
          height: 70px;
          width: 70px;
          display: block;
          text-align: center;
          float: left;
          padding: 0px 5px 0px 5px;
          width: auto;
          min-width: 60px;
          border-width: 2px;
          border-color: #cccccc;
          border-style: solid;
          background-color: #cccccc;
          margin-right: 10px; }
          div.middle-left div.basic-info div.basic-info-main div.profile-stats div.stat-box div.profile-stats-number {
            /* extra big numbers - percents etc */
            font-size: 50px;
            font-weight: bold;
            font-family: Helvetica, Arial, Verdana, sans-serif;
            color: white;
            position: relative;
            line-height: 52px; }
          div.middle-left div.basic-info div.basic-info-main div.profile-stats div.stat-box div.profile-stats-title {
            font-size: 12px;
            color: #959595;
            position: relative;
            top: -3px; }
        div.middle-left div.basic-info div.basic-info-main div.profile-stats div.stat-box:hover {
          background-color: #e0e0e0;
          border-color: #e0e0e0; }
        div.middle-left div.basic-info div.basic-info-main div.profile-stats div.followers-stat {
          cursor: pointer;
          background-color: white; }
          div.middle-left div.basic-info div.basic-info-main div.profile-stats div.followers-stat div.followers-number {
            color: #ef503b; }
        div.middle-left div.basic-info div.basic-info-main div.profile-stats div.followers-stat:hover {
          background-color: white;
          border-color: #cccccc; }
          div.middle-left div.basic-info div.basic-info-main div.profile-stats div.followers-stat:hover div.followers-number {
            color: #fc8a81; }
      div.middle-left div.basic-info div.basic-info-main div.profile-buttons {
        margin-top: 10px;
        height: 50px;
        position: relative; }
        div.middle-left div.basic-info div.basic-info-main div.profile-buttons a.politician-button {
          float: left;
          margin-left: 15px; }
        div.middle-left div.basic-info div.basic-info-main div.profile-buttons a.message-sent {
          color: #ef503b;
          float: left;
          display: none;
          padding: 15px 0 0 15px; }
        div.middle-left div.basic-info div.basic-info-main div.profile-buttons div.message-dialogue {
          display: none;
          position: absolute;
          top: 0px;
          left: 70px;
          width: 450px;
          height: 310px;
          background-color: white;
          border-radius: 10px;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
          -khtml-border-radius: 10px;
          border: 1px solid #353535;
          z-index: 10;
          padding: 10px;
          text-align: center; }
          div.middle-left div.basic-info div.basic-info-main div.profile-buttons div.message-dialogue div.message-header-wrapper {
            display: block; }
            div.middle-left div.basic-info div.basic-info-main div.profile-buttons div.message-dialogue div.message-header-wrapper h4.message-header {
              float: left;
              margin-left: 30px; }
            div.middle-left div.basic-info div.basic-info-main div.profile-buttons div.message-dialogue div.message-header-wrapper div.message_x {
              float: right;
              width: 12px;
              height: 12px;
              background-image: url("/static/images/icons/x.png");
              background-size: cover; }
            div.middle-left div.basic-info div.basic-info-main div.profile-buttons div.message-dialogue div.message-header-wrapper div.message_x.clicked {
              background-image: url("/static/images/icons/x_hover.png"); }
            div.middle-left div.basic-info div.basic-info-main div.profile-buttons div.message-dialogue div.message-header-wrapper div.message_x:hover {
              background-image: url("/static/images/icons/x_hover.png");
              cursor: pointer; }
          div.middle-left div.basic-info div.basic-info-main div.profile-buttons div.message-dialogue textarea.message-textarea {
            margin-top: 15px;
            padding: 8px;
            display: block;
            width: 400px;
            height: 190px;
            margin: 10px 0 0 15px; }
          div.middle-left div.basic-info div.basic-info-main div.profile-buttons div.message-dialogue a.message-send {
            display: block;
            margin-top: 15px; }
  div.middle-left div.profile-bottom {
    float: left;
    display: block;
    margin-top: 50px;
    /* Activity Feed */
    /* Groups Container */ }
    div.middle-left div.profile-bottom div.profile-activity-container {
      float: left;
      display: block;
      width: 400px;
      margin-right: 30px; }
      div.middle-left div.profile-bottom div.profile-activity-container div.profile-activity-feed {
        display: block; }
        div.middle-left div.profile-bottom div.profile-activity-container div.profile-activity-feed div.action-separator {
          border-bottom: 1px solid #cccccc;
          width: 400px;
          margin-left: 0;
          margin-top: 0;
          margin-bottom: 0; }
    div.middle-left div.profile-bottom div.profile-group-container {
      float: left;
      width: 200px; }
      div.middle-left div.profile-bottom div.profile-group-container a.profile-group-link, div.middle-left div.profile-bottom div.profile-group-container a.profile-group-link:link, div.middle-left div.profile-bottom div.profile-group-container a.profile-group-link:active, div.middle-left div.profile-bottom div.profile-group-container a.profile-group-link:visited {
        border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        -khtml-border-radius: 20px;
        height: 80px;
        width: 80px;
        display: block;
        text-align: center;
        float: left;
        margin: 3px 13px 13px 3px;
        border: hidden 3px #cccccc; }
      div.middle-left div.profile-bottom div.profile-group-container a.profile-group-link:hover {
        border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        -khtml-border-radius: 20px;
        height: 80px;
        width: 80px;
        display: block;
        text-align: center;
        float: left;
        margin: 0px 10px 10px 0px;
        border-style: solid; }
      div.middle-left div.profile-bottom div.profile-group-container img.rounded {
        border-radius: 18px;
        -moz-border-radius: 18px;
        -webkit-border-radius: 18px;
        -khtml-border-radius: 18px;
        height: 80px;
        width: 80px; }

/* Activity Feed */
div.profile-activity-container {
  float: left;
  display: block;
  width: 400px;
  margin-right: 50px; }
  div.profile-activity-container div.profile-activity-feed {
    display: block; }
    div.profile-activity-container div.profile-activity-feed div.action-separator {
      border-bottom: 1px solid #cccccc;
      width: 400px;
      margin-left: 0;
      margin-top: 0;
      margin-bottom: 0; }

/* RIGHT MODULE */
div.middle-right {
  float: left;
  width: 300px;
  margin-left: 20px; }
  div.middle-right div.right-separator {
    border-bottom: 1px solid #cccccc;
    width: 300px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0; }
  div.middle-right div.follow-requests-container {
    width: 300px; }
    div.middle-right div.follow-requests-container div.follow-request {
      padding: 15px 0px 15px 10px; }
  div.middle-right div.matching {
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-width: 3px;
    border-color: #cccccc;
    border-style: solid;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: 0; }
    div.middle-right div.matching div#qaweb {
      z-index: 0;
      position: relative;
      width: 300px;
      height: 300px;
      text-align: left; }
    div.middle-right div.matching div#qaweb-title {
      border-bottom-right-radius: 18px;
      border-bottom-left-radius: 18px;
      -moz-border-bottom-right-radius: 18px;
      -moz-border-bottom-left-radius: 18px;
      -webkit-border-bottom-right-radius: 18px;
      -webkit-border-bottom-left-radius: 18px;
      -khtml-border-bottom-right-radius: 18px;
      -khtml-border-bottom-left-radius: 18px;
      position: relative;
      background-color: #cccccc;
      padding-top: 10px;
      padding-bottom: 2px;
      font-family: "Sonus Light";
      color: #959595;
      font-size: 18px;
      z-index: -1;
      color: white; }
  div.middle-right div.matching:hover {
    border-color: #353535;
    cursor: pointer; }
    div.middle-right div.matching:hover div#qaweb-title {
      border-color: #353535; }

div.followers-modal {
  min-height: 300px;
  border: 1px solid #ef503b;
  position: absolute;
  top: 100px;
  float: left;
  background-color: white;
  z-index: 103;
  -moz-box-shadow: 10px 10px 5px #959595;
  -webkit-box-shadow: 10px 10px 5px #959595;
  box-shadow: 10px 10px 5px #959595;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: none;
  border: 1px solid #ef503b;
  position: absolute;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 50px; }
  div.followers-modal div.modal-section-title {
    margin-bottom: 10px; }
  div.followers-modal div.modal-horizontal-separator {
    border-bottom: 1px solid #cccccc;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0; }
  div.followers-modal div.followers-container {
    margin-top: 20px; }
    div.followers-modal div.followers-container table.user-container {
      margin-right: 20px;
      float: left; }
      div.followers-modal div.followers-container table.user-container td {
        vertical-align: middle;
        padding: 10px 10px 10px 2px; }

div.profile-img-modal {
  float: left;
  background-color: white;
  z-index: 103;
  -moz-box-shadow: 10px 10px 5px #959595;
  -webkit-box-shadow: 10px 10px 5px #959595;
  box-shadow: 10px 10px 5px #959595;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: none;
  border: 1px solid #ef503b;
  position: absolute;
  position: fixed;
  top: 100px;
  display: none;
  min-height: 50px;
  min-width: 50px;
  left: 50%; }
