@charset "UTF-8";
@font-face {
  font-family: "Gill Sans Std Light";
  src: url(../GillSansStd-Light.otf); }

@font-face {
  font-family: "Gill Sans Std";
  src: url(../GillSansStd.otf); }

@font-face {
  font-family: "Sonus Light";
  src: url(../SonusLig.otf); }

/* Main Colors */
/* Topic Colors */
/* Fonts */
@font-face {
  font-family: "Gill Sans Std Light";
  src: url(../GillSansStd-Light.otf); }

@font-face {
  font-family: "Gill Sans Std";
  src: url(../GillSansStd.otf); }

@font-face {
  font-family: "Sonus Light";
  src: url(../SonusLig.otf); }

/* Main Colors */
/* Topic Colors */
/* Fonts */
/* Mixins */
div#first_user_intro {
  width: 350px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px; }

div#first_user_progress {
  width: 370px;
  text-align: left; }
  div#first_user_progress div#progress_number {
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    -moz-border-radius: 22.5px;
    -webkit-border-radius: 22.5px;
    -khtml-border-radius: 22.5px;
    background-color: #ef503b;
    position: absolute;
    left: -15px;
    top: -15px;
    text-align: center; }
    div#first_user_progress div#progress_number h2 {
      margin-top: 5px;
      color: white; }
  div#first_user_progress div.first_user_progress_text {
    padding-left: 40px;
    padding-top: 10px;
    padding-right: 20px; }
  div#first_user_progress p {
    font-size: 16px;
    color: #ef503b;
    text-align: center;
    padding: 0 15px; }
  div#first_user_progress h2 {
    text-align: center;
    margin-top: 10px; }
  div#first_user_progress span {
    font-size: 16px;
    color: #ef503b; }
  div#first_user_progress span.bold {
    font-weight: bold; }
  div#first_user_progress div#progress_bar {
    margin-top: 15px;
    height: 10px;
    border-top: 2px #ef503b solid; }
    div#first_user_progress div#progress_bar div.progress_bar_base, div#first_user_progress div#progress_bar div.progress_bar_fill, div#first_user_progress div#progress_bar div.progress_bar_divider {
      float: left;
      height: 10px; }
    div#first_user_progress div#progress_bar div.progress_bar_fill {
      background-color: #ef503b; }
    div#first_user_progress div#progress_bar div.progress_bar_divider {
      background-color: white; }

div.first-user-box {
  background-color: white;
  opacity: 0.85;
  border: 2px #ef503b solid;
  text-align: center;
  position: absolute;
  left: 1150px;
  top: 910px;
  z-index: 2000; }
  div.first-user-box h4 {
    margin-top: 25px;
    font-weight: bold;
    margin-bottom: 5px; }
  div.first-user-box h5 {
    text-align: left; }
  div.first-user-box p.first-user-text {
    color: #ef503b;
    font-size: 16px;
    margin-bottom: 25px; }
  div.first-user-box a {
    margin-bottom: 20px; }
  div.first-user-box a:hover {
    color: white; }
  div.first-user-box a.red-link {
    text-decoration: underline; }
  div.first-user-box a.red-link:hover {
    text-decoration: underline;
    color: #fc8a81; }

div._topic_label {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  padding: 7px;
  font-weight: bold;
  z-index: 700;
  max-width: 220px; }
  div._topic_label div.label-pointer {
    width: 20px;
    height: 20px;
    position: absolute;
    right: -20px;
    top: 9px; }
    div._topic_label div.label-pointer div.border {
      position: absolute;
      border-style: solid;
      border-width: 10px;
      border-color: transparent transparent transparent white; }
    div._topic_label div.label-pointer div.inner {
      position: absolute;
      border-style: solid;
      border-width: 10px;
      border-color: transparent transparent transparent white;
      right: 1px; }

div.topic-progress-div {
  border: 1px #cccccc solid;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 100px;
  right: 0;
  background-color: white;
  z-index: 50; }
  div.topic-progress-div span {
    color: #959595; }
  div.topic-progress-div div.progress-div {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px; }
  div.topic-progress-div div#topic_progress_fill {
    background-color: white;
    height: 4px; }
    div.topic-progress-div div#topic_progress_fill div {
      height: 4px;
      width: 0;
      background-color: #ef503b; }
  div.topic-progress-div div.progress_topic_bar {
    height: 25px;
    width: 35px; }
  div.topic-progress-div div#progress-canvas-div {
    margin-top: 5px;
    width: 100px;
    height: 485px; }

div.qaweb-pointer-box {
  position: absolute;
  width: 200px;
  height: 25px;
  background-color: #ef503b;
  color: white;
  text-align: center;
  font-size: 14px;
  padding-top: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px; }
  div.qaweb-pointer-box div.qaweb-pointer {
    width: 14px;
    height: 14px;
    position: absolute;
    right: -14px;
    top: 9px; }
    div.qaweb-pointer-box div.qaweb-pointer div.border {
      position: absolute;
      border-style: solid;
      border-width: 7px;
      border-color: transparent transparent transparent #ef503b; }
    div.qaweb-pointer-box div.qaweb-pointer div.inner {
      position: absolute;
      border-style: solid;
      border-width: 7px;
      border-color: transparent transparent transparent #ef503b;
      right: 1px; }

div.comparison_web_header {
  position: absolute;
  z-index: 300;
  padding: 8px;
  background-color: white;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border: 1px #cccccc solid; }
