@charset "UTF-8";
@font-face {
  font-family: "Gill Sans Std Light";
  src: url(../GillSansStd-Light.otf); }

@font-face {
  font-family: "Gill Sans Std";
  src: url(../GillSansStd.otf); }

@font-face {
  font-family: "Sonus Light";
  src: url(../SonusLig.otf); }

/* Main Colors */
/* Topic Colors */
/* Fonts */
@font-face {
  font-family: "Gill Sans Std Light";
  src: url(../GillSansStd-Light.otf); }

@font-face {
  font-family: "Gill Sans Std";
  src: url(../GillSansStd.otf); }

@font-face {
  font-family: "Sonus Light";
  src: url(../SonusLig.otf); }

/* Main Colors */
/* Topic Colors */
/* Fonts */
/* Mixins */
div.share-modal {
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  height: 250px;
  top: 10%;
  display: block;
  background-color: white;
  border: 1px solid #ef503b;
  z-index: 103;
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: none;
  position: fixed; }

div.share-modal-container {
  padding: 20px;
  text-align: center; }

div.share-modal-header {
  text-align: center;
  font-family: "Sonus Light";
  color: #005468;
  font-size: 26px;
  margin-bottom: 10px; }

div.share-select-container {
  margin-bottom: 15px; }

div.share-submit-container {
  margin-bottom: 15px; }

div.share-submit-message {
  color: #adadad;
  font-size: 14px;
  display: none; }

a.share-button-modal {
  font-size: 18px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  padding: 10px 15px 10px 15px; }

a.share-button-modal:hover {
  background-color: #e0e0e0; }

div.shareModal div.share_content {
  margin: 20px; }

select.share_select {
  width: 600px; }
