@charset "UTF-8";
/* CSS Document */

@font-face
{
  font-family: "Sonus Light";
  src: url(SonusLig.otf);
}

body
{
	font-family: Helvetica, Verdana, sans-serif;
	font-size:11pt;
	background:#ebebeb;
}

a, a:link, a:visited, a:active
{
	color:#959595;
}

a:hover
{
	color:#f0503b;
}

h1
{
	font-weight:normal;
	margin:0;
	font-size:14pt;
	font-family:"Sonus Light", Helvetica, Verdana, sans-serif;
	color:#959595;
}

/* -- BUTTON & TAB CLASSES -- */
.button
{
	-moz-border-radius: 10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	border-radius:10px;
	padding:10px;
	padding-bottom:7px;
	font-size:14pt;
	font-family:"Sonus Light", Verdana, sans-serif;
}

#logout
{
	
}

/* LAYOUT ELEMENTS */
#top-wrapper
{
	position:relative;
	background-color:#fff;
	padding-bottom:20px;
}

/* Header */
#header
{
	position:relative;
	top:45px;
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:15px;
	border-bottom:1px solid #ccc;
	height:45px;
	font-family:"Sonus Light", Verdana, sans-serif;
	font-size:14pt;
}

#header a, #header a:link, #header a:active, #header a:visited
{
	position:relative;
	float:right;
	color:#f0503b;
	text-decoration:none;
	padding:10px;
	margin-left:30px;
}

#header a:hover
{
	padding-top:7px;
    padding-bottom:8px;
	background-color:#f0503b;
	color:#fff;
}

#header img
{
	position:relative;
	float:left;
}

/* Sub Header*/

#sub-head
{
	position:relative;
	width:1000px;
	padding-top:10px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	margin-bottom:20px;
	
}

#public-private
{
	float:right;
	font-size:10pt;
	color:#959595;
	background-color:#fff;
}

.security-unselected, .security-unselected:active, .security-unselected:visited
{
    color:#f0503b;
    text-decoration:none;
    padding:5px;
}

.security-unselected:hover
{
    padding-top:5px;
    padding-bottom:5px;
    background-color:#f0503b;
    color:#fff;
    cursor:pointer;
}

.security-selected, .security-selected:active, .security-selected:visited
{
    padding:5px;
    padding-top:5px;
    padding-bottom:5px;
    background-color:#f0503b;
    color:#fff;
    cursor:pointer;
}

/* Middle */

#middle
{
    position:relative;
    top:40px;
}

#questions-wrapper
{
	position:relative;
	float:right;
	background:#fff;
	width:300px;
	height:200px;
	margin-top:20px;
}

#questions
{
	border:1px solid #f0503b;
	padding:20px;
	margin:20px;
}

#feedback
{

}



