{% extends 'site/pages/feed/feed.html' %}


{% block sort_buttons %}
    <div class='buttons-container-text'>Sort by:</div>
    <div class="sort-button feed_button question_button" data-rank="I" >Important</div>
    <div class="sort-button feed_button question_button" data-rank="R">Recently Answered</div>
    <div class="sort-button feed_button question_button" data-rank="A">Agreed</div>
    <div class="sort-button feed_button question_button last-button" data-rank="D">Disagreed</div>
{% endblock %}


{% block filter_buttons %}
    <div class='buttons-container-text'>Filter by:</div>
    {% for t in main_topics %}
        <a href="#" class="topic-button feed_button topic_button tooltip-top" data-t_alias="{{ t.alias }}" title="{{ t.topic_text }}">
            {% include 'site/pieces/topic_icon.html' with topic=t width="30" height="30" %}
        </a>
    {% endfor %}
{% endblock %}


{% block right_button %}
    {% if not worldview_detail %}
        <a href="{{ to_compare.getQuestionsURL }}" class="view-all"> view all questions </a>
    {% else %}
        <!-- this is where a search bar could go -->
        <a href="/questions/" class="browse-all"> browse all questions </a>
    {% endif %}
{% endblock %}

