{% extends 'site/pages/feed/feed.html' %}

{% block filter_buttons %}
    <div class='buttons-container-text'>Filter by:</div>
    {% for t in main_topics %}
        <a href="#" class="topic-button feed_button topic_button tooltip-top" data-t_alias="{{ t.alias }}" title="{{ t.topic_text }}">
            {% include 'site/pieces/topic_icon.html' with topic=t width="30" height="30" %}
        </a>
    {% endfor %}

    <span class="answered-filter only_unanswered"> only unanswered </span>

{% endblock %}


