<!-- if default_display=your_response then display none if you haven't responded, else display the response if you have -->
{% if default_display == 'your_response' %}
    {% if your_response %}
        {% with default_display="responses" %}
            {% include 'site/pages/qa/question_stub.html' %}
        {% endwith %}
    {% else %}
        {% with default_display="none" %}
            {% include 'site/pages/qa/question_stub.html' %}
        {% endwith %}
    {% endif %}
{% else %}
    {% include 'site/pages/qa/question_stub.html' %}
{% endif %}