<div class="question-stub question_stub {% if first_question %} qa_tutorial_question {% endif %}"
        data-q_id="{{ question.id }}"
        {% if default_display %} data-default_display="{{ default_display }}" {% else  %} data-default_display="none" {% endif %}
        {% if your_response %} data-your_response="1" data-privacy="{{ your_response.privacy }}" {% else %} data-your_response="0" {% endif %}>

    <!-- qa_tutorial -->
    {% if first_question %}
        {% include 'site/pages/helper_bubbles/qa/qa_tutorial.html' %}
    {% endif %}

    <!-- question text -->
    <div class="question-header qa_this_is_title_parent">
        <table class="valign">
            <tr>
                <td class="question-column">
                    <span class="question-topic"> {% include 'site/pieces/topic_icon.html' with topic=question.main_topic width="30" height="30"%}</span>
                </td>
                <td class="question-title-wrapper">
                    <a href="{{ question.get_url }}" class="question-title dummy_link do_ajax_link"> {{ question.get_name }}</a>
                </td>
                <td class="saved-message-wrapper">
                    <span class="saved-message saved_message"> saved </span>
                    <span class="saving-gif saving_gif"></span>
                </td>
                <td>
                    {% if single_item %}
                        {% comment %}
                            <div class="single-item-fetching feed_next"></div>
                        {% endcomment %}
                    {% else %}
                        {% if your_response %}
                            <a href="#" class="stub-button button-reanswer answer_button dummy_link"> re-answer</a>
                        {% else %}
                            <a href="#" class="stub-button button-answer answer_button dummy_link"> answer </a>
                        {% endif %}
                        {% if default_display != "choose" %}
                            <a href="#" class="stub-button button-cancel hide_button dummy_link"> cancel </a>
                        {% else %}
                            <div class="num-responses num_responses"> <span class="num"> {{ question.num_responses }}</span> response{{ question.num_responses|pluralize }} </div>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <!-- inline expansion for choosing answer, stage1 -->
    <div class="question_expanded_choose question_expanded">
        <div class="answers-wrapper qa_these_are_answers_parent">
            {% with your_response_id=your_response.most_chosen_answer.id %}
                {% for a in question.answers.all %}
                    <div class="answer-choice answer_choice {% if forloop.first %} first {% endif %}
                        {% if your_response_id == a.id %} clicked{% endif %}" data-a_id="{{ a.id }}">
                        <span class="answer-text"> {{ a.answer_text }}</span>
                    </div>
                {% endfor %}
            {% endwith %}

            <!-- editable explanation -->
            <div class="explanation-wrapper qa_add_explanation_parent">
                {% include 'site/pages/qa/answer_explanation_editable.html' %}
            </div>

        </div>
        <div class="answer-actions answer_actions">

            {% if your_response %}
                {% include 'site/pages/qa/answer_privacy.html' with q_id=question.id anonymous=your_response.getPrivate %}
            {% else %}
                {% include 'site/pages/qa/answer_privacy.html' with q_id=question.id anonymous=anonymous_mode %}
            {% endif %}

            <div class="discuss-question a-action">
                <span class="action-icon discuss-icon"></span>
                <span class="action-text">
                    <a href="{{ question.get_url }}" class="action-text-upper "> Discuss Question </a>
                    <span class="action-text-lower"> {{ question.num_comments }} comment{{ question.num_comments|pluralize }}</span>
                </span>
                <span style="clear:both;"></span>
            </div>

            <div class="answer-importance a-action importance_wrapper qa_importance_parent">
                <span class="action-icon answer-importance-num importance_percent"> {% if your_response %}{{ your_response.weight }}{% else %}50{% endif %}%</span>
                <span class="action-text">
                    <a class='action-text-upper how-important'> How important is this question to you? </a>
                    <div class="importance-bar-wrapper">
                        <div class="importance-bar importance_bar" {% if your_response %} data-weight="{{ your_response.weight }}"
                        {% else %} data-weight="50" {% endif %}></div>
                        <div class="importance-axis">
                            <span class="low"> low </span>
                            <span class="high"> high </span>
                        </div>
                    </div>
                </span>
                <span style="clear:both;"></span>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>

    <!-- display inputted responses to this question -->
    <div class="question-responses question_expanded_responses question_expanded">
        {% for x in compare_responses %}
            {% include 'site/pages/qa/response_stub.html' %}
        {% endfor %}
    </div>

</div>