<div class="question-stub question_stub" data-q_id="{{ question.id }}">
    <!-- question displayed -->
    <div class="question-header">
        <table class="valign">
            <tr>
                <td>
                    <span class="question-topic"> {% include 'site/pieces/topic_icon.html' with topic=question.main_topic width="30" height="30"%}</span>
                </td>
                <td>
                    <a href="{{ question.get_url }}" class="question-title"> {{ question.get_name }}</a>
                </td>
                <td>
                    <span class="saved-message saved_message"> saved </span>
                </td>
                <td>
                    {% if your_response %}
                        <a href="#" class="stub-button button-reanswer answer_button dummy_link"> re-answer</a>
                    {% else %}
                        <a href="#" class="stub-button button-answer answer_button dummy_link"> answer </a>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <!-- inline expansion for answering questions -->
    <div class="answer_expanded">
        <div class="answers-wrapper">
            {% for a in question.answers.all %}
                <div class="answer-wrapper">
                    <span class="question-checkbox
                    answer_checkbox{% if your_response.most_chosen_answer.id == a.id %} clicked{% endif %}" data-a_id="{{ a.id }}"></span>
                    <span class="answer-text"> {{ a.answer_text }}</span>
                </div>
            {% endfor %}
        </div>
        <div class="answer-details">
            <textarea class="explanation">{% if your_response.explanation %}{{ your_response.explanation }}{% else %}explain your answer{% endif %}</textarea>
            <div class="importance importance_wrapper">
                <div class="how-important">
                    how important is this question to you?
                </div>
                <div class="importance-bar importance_bar" {% if your_response %} data-weight="{{ your_response.weight }}"
                {% else %} data-weight="50" {% endif %}></div>
                <div class="importance-axis">
                    <span class="low"> low </span> <span class="importance_percent importance-percent">
                    {% if your_response %}{{ your_response.weight }}%{% else %}50%{% endif %}</span><span class="high"> high </span>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="answer-bottom">
            <span class="answer-button save-button save_button"> save </span>
            <span class="answer-button cancel-button cancel_button"> cancel </span>
            <span class="privacy-text"> Answer this question Privately</span>
            <span class="question-checkbox privacy_checkbox {% if your_response.getPrivate %} clicked {% endif %}"></span>
            <div style="clear:both"></div>
        </div>
        <div style="clear:both"></div>
    </div>

    <!-- displays your two responses to this question -->
    {% if their_response %}
        <div class="question-comparison question_comparison {% if their_response and your_response %} displayed {% endif %}">
            <!-- their response -->
            <div class="their-response a-response">
                <a class="response-avatar" href="{{ to_compare.get_url }}">
                    {% include 'site/pieces/avatar.html' with user=to_compare width="30" height="30" %}
                </a>
                <div class="response-wrapper">
                    <span class="response-text {% if disagree %} disagree {% endif %}">{{ their_response.most_chosen_answer.answer_text }}</span>
                    <div class="response-explanation">
                        {% if their_response.explanation %}"{{ their_response.explanation }}"{% endif %}
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <!-- your response -->
            <div class="your-response a-response">
                <a class="response-avatar" href="{{ viewer.get_url }}">
                    {% include 'site/pieces/avatar.html' with user=viewer width="30" height="30" %}
                </a>
                <div class="response-wrapper">
                    <span class="response-text"> {% if your_response.most_chosen_answer %}
                        {{ your_response.most_chosen_answer.answer_text }} {% else %} <b> Chose not to answer. </b> {% endif %} </span>
                    <div class="response-explanation">
                        {% if your_response.explanation %}"{{ your_response.explanation}}"{% endif %}
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
    {% endif %}
</div>