{% extends 'site/pages/home/top_sidebar_main.html' %}


{% block top %}
{% endblock %}


{% block sidebar %}
    <div class="questions-sidebar">
        <div class="sidebar-header">
            Answer questions to define your political views.
            To match yourself with politicians, take the <a href="{{ lgpoll.get_url }}"> LoveGov Poll </a>.
            You can also create your own polls and questions.
        <!-- topic stat box -->
        {% include 'site/pages/qa/poll_progress_by_topic.html' %}
    </div>
{% endblock %}


{% block main %}

    <div class="questions-main">

        <div class="questions-header">

            <div class="questions-left">
                <div class="header-title">
                    Questions
                </div>
                <div class="questions-explanation">
                    Answer questions to define your political views.
                    To match yourself with politicians, take the <a href="{{ lgpoll.get_url }}"> LoveGov Poll </a>.
                    You can also create your own polls and questions.
                </div>
            </div>

            <div class="questions-links">
                <a href="/presidential_election/" class="question-link"> match with presidential candidates </a>
                <a href="/representatives/" class="question-link"> match with your representatives </a>
                <a href="/congress/" class="question-link"> match with congress </a>
            </div>

            <div style="clear:both;"></div>

        </div>

        {% comment %}
        <div class="main-top">
            <div class="header-title"> Questions </div>
            <div class="red-line"></div>
        </div>
        {% endcomment %}

        <div class="questions-wrapper">
            {% include 'site/pages/qa/feed_browse_questions.html' with special_feed="getQuestions" default_display="choose" %}
        </div>
    </div>

    <script> rebind="questions"; </script>

{% endblock %}