{% extends 'site/pages/helper_bubbles/helper_bubble.html' %}

{% block helper_text %}
    <p>
        Add an explanation to your response if neither answer captures exactly how you feel.
    </p>
    <p>
        Your explanation will appear as a comment on the question and will
        also be visible to other users when they are browsing your responses.
    </p>

    <div class="switch-buttons">
        <a class="continue_tutorial previous-button" data-next="qa_privacy">previous</a>
        <span class="tutorial-progress"> 4/5 </span>
        <a class="continue_tutorial next-button" data-next="qa_importance">next</a>
        <div style="clear:both;"></div>
    </div>

{% endblock %}