{% extends 'site/pages/helper_bubbles/helper_bubble.html' %}

{% block helper_text %}
    <p> When this box is checked, you're only looking at questions you haven't answered. </p>

    <p> This can be useful if you want to find new questions, or answer a bunch of questions without scrolling around,
    but because questions will disappear after you choose an answer, if you are adding explanations or changing
    your question importance, then you might want to uncheck this filter. </p>

    <div class="switch-buttons">
        <a class="continue_tutorial previous-button" data-next="qa_these_are_answers">previous</a>
        <span class="tutorial-progress"> 2.5/5 </span>
        <a class="continue_tutorial next-button" data-next="qa_privacy">next</a>
        <div style="clear:both;"></div>
    </div>

{% endblock %}