{% extends 'site/pages/helper_bubbles/helper_bubble.html' %}

{% block helper_text %}
    <p> Click this icon to change the privacy of your responses. </p>

    <p> If your answer is public then other people can
    see which answer you chose and it will be taken into account in their match percentages with you.
    </p>

    <p> If your answer is private then it will appear to others as though you didn't answer this question.
        Your private responses still contribute to the match percentages that you see but will be
        ignored in the calculation when other people match themselves with you.
    </p>

    <div class="switch-buttons">
        <a class="continue_tutorial previous-button" data-next="qa_these_are_answers">previous</a>
        <span class="tutorial-progress"> 3/5 </span>
        <a class="continue_tutorial next-button" data-next="qa_add_explanation">next</a>
        <div style="clear:both;"></div>
    </div>

{% endblock %}