{% extends 'site/pages/helper_bubbles/helper_bubble.html' %}

{% block helper_text %}
    <p>
        These are the possible answers. Click an answer to select it as your response.
    </p>

    <p>
        If the question disappeared after you answered, then that means the
        <a class="continue_tutorial" data-next="qa_only_unanswered"> only-unanswered </a> filter is checked.
    </p>

    <div class="switch-buttons">
        <a class="continue_tutorial previous-button" data-next="qa_this_is_title">previous</a>
        <span class="tutorial-progress"> 2/5 </span>
        <a class="continue_tutorial next-button" data-next="qa_privacy">next</a>
        <div style="clear:both;"></div>
    </div>

{% endblock %}