{% extends 'site/pages/helper_bubbles/helper_bubble.html' %}

{% block helper_text %}
    <p> This is the actual question. As a user of LoveGov you can create your own questions. If a question
    seems biased or poorly worded, just don't answer it. Questions which more people answer
    will get promoted and be seen by more people. </p>

    <p> Click <a class="continue_tutorial" data-next="qa_these_are_answers"> here </a> to continue the tutorial. </p>

    <span class="qa-tutorial-progress"> 1/7 </span>
{% endblock %}