{% extends 'emails/frame.html' %}

{% block content %}

    <p> lovegov usage summary from {{ time_start }} until {{ time_end }} </p>

    <p style="margin-top:20px;border-top:1px solid black;">
        <br><br>
        <h2> total ips visited:     {{ num_ips_visited}} </h2>
        <h2> new ips visited:     {{ num_new_ips_visited}} </h2>
        <h2> users registered:     {{ num_registered }} </h2>
        <h2> users registered & then logged in:     {{ num_registered_and_logged_in }} </h2>
        <h2> presidential matched:     {{ num_presidential_matched }} </h2>
        <h2> presidential matched & then registered:     {{ num_presidential_matched_and_registered }} </h2>
        <h2> returning users logged in:     {{ num_returning_visited}} </h2>
    </p>

    <p style="margin-top:20px;border-top:1px solid black;">
        <br><br>
    <h2> users registered:     {{ registered.count }} </h2>
    <ul>
        <li> NAME - # TIME OF REGISTRATION </li>
        {% for x in registered %}
            <li>
                {{ x.get_name }} - {{ x.created_when }} {% if x.facebook_id %} (FACEBOOK) {% elif x.twitter_user_id %} (TWITTER) {% endif %}
            </li>
        {% endfor %}
    </ul>
    </p>

    <p style="margin-top:50px;border-top:1px solid black;">
        <br><br>
    <h2> users logged in:     {{ accessed|length }} </h2>
        <ul>
            <li> NAME - # TOTAL SESSIONS FOR USER </li>
            {% for x in accessed %}
                <li> {{ x.user.get_name }} - {{ x.session_length }} - {{ x.user.getNumSessions }} </li>
            {% endfor %}
        </ul>
    </p>

    <p style="margin-top:50px;border-top:1px solid black;">
        <br><br>
    <h2> anon visited:     {{ anon_activity|length }} </h2>
    </p>

    <p style="margin-top:50px;border-top:1px solid black;">
        <br><br>
    <h2> metrics </h2>
    {{ metrics_html }}
    </p>


    <p style="margin-top:50px;border-top:1px solid black;">
        <br><br>
    <h2> details </h2>
    {% for x in accessed %}
        {% if not x.user.developer %}
            {% include 'emails/daily_summary/session_summary.html' with session=x.session user=x.user session_length=x.session_length %}
        {% endif %}
    {% endfor %}
    <div style="clear:both"></div>
    </p>

    {% if anon_activity %}
        <p style="margin-top:50px;border-top:1px solid black;">
            <br><br>
        <h2> anonymous activity </h2>
        {% for x in anon_activity %}
            {% include 'emails/daily_summary/session_summary.html' with session=x.session ipaddress=x.ipaddress  %}
        {% endfor %}
        <div style="clear:both"></div>
    {% endif %}

    {% if load_times_html %}
        <p style="margin-top:50px;border-top:1px solid black;">
            <br><br>
        <h2> load times (ms) </h2>
        <p>
            {{ load_times_html }}
        </p>
        <div style="clear:both"></div>
    {% endif %}

    <p style="border-top:1px solid black;height:10px;width:100%;"> </p>


{% endblock %}