{% if user %}
    {% with num_sessions=user.getNumSessions %}
        <p {% if num_sessions == 1 %} style="color:red" {% endif %}> ----------- daily usage for, <br>
            id: {{ user.id }} <br>
            session #: {{ num_sessions }} <br>
            session start: {{ session.getSessionStart }} <br>
            location: {{ user.getLocationVerbose }} <br>
        </p> <br>
    {% endwith %}
{% else %}
    <p> ----------- daily usage for, <br>
        ip: {{ ipaddress }}
    </p> <br>
{% endif %}
