@charset "UTF-8";
@import 'master-variables';
@import 'master-mixins';
@import "compass";

div.dismissible-header {
  margin-bottom:10px;
}

div.find-your-reps {

  div.error-message {
    margin-left: 130px;
    display:none;
  }
  div.find-your-reps-title {
    @include fontSize(20px);
  }
  div.find-your-reps-form {
    padding-top:10px;
    padding-left:30px;
    padding-bottom:50px;
    input.reps-input {
      float:left;
      margin-right:25px;
      height:30px;
      padding-left:5px;
    }
    input.street-input {
      width:250px;
    }
    input.city-input {
      width:150px;
    }
    input.state-input {
      width:100px;
    }
    input.zip-input {
      width:100px;
    }
    a.find-button {
      float:left;
      background-color:$black;
      color:white;
      @include fontSize(16px);
      text-align:center;
      padding:5px;
      width:100px;
      &:hover {
        background-color:$light-gray;
        color:$black;
      }
    }
  }
}


div.reps-top {
  div.reps-header {
    @include fontSize(20px);
    float:left;
    text-transform:uppercase;
  }
  div.reps-where {
    float:left;
    color:$gray;
    margin-left: 25px;
    @include fontSize(16px);
    margin-top: 4px;
  }
  a.enter-new-address {
    float:left;
    margin-top: 4px;
    margin-left: 240px;
  }
}


div.reps-wrapper {
  div.congressman-wrapper {
    float:left;
    margin-left:45px;
  }
  div.congressman-wrapper.first {
    margin-left:0px;
  }
}

div.google-maps-wrapper {
  margin-top:4px;
  margin-bottom:10px;
  float:left;
  div.google-map {
    width:1000px;
    height:300px;
  }
}