@charset "UTF-8";
@import 'master-variables';
@import 'master-mixins';
@import "compass";

/* content detail sidebar */
div.content-detail-sidebar {

  div.back-buttons {
    margin-top:10px;
  }

  a.back-to-button {
    position:relative;
    div.back-container {
      padding:8px;
      background-color:$light-gray;
      color:white;
      font-size: 16px;
      margin-bottom:10px;
      @include border-radius(8px);
      text-align:center;
    }
    div.gray-triangle {
      $triangle-size:23px;
      @include triangle('left', $light-gray, $triangle-size + -1px);
      position: absolute;
      left:-15px;
      top:-1px;
    }
    &:hover {
      text-decoration:none;
      div.back-container {
        background-color:$gray;
      }
      div.gray-triangle {
        border-right-color:$gray;
      }
    }

  }


  div.sidebar-header {
    margin-top:5px;
    margin-bottom:5px;
    font-size: 22px;
  }
  div.liked-wrapper {
    padding:10px 10px 10px 0;
    a.liked-avatar {
      float:left;
      margin-right:15px;
    }
  }
}