<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<script>
var scrollbar = new Control.ScrollBar('scrollbar_content','scrollbar_track');
$('scroll_down_50').observe('click',function(event){
scrollbar.scrollBy(-50);
event.stop();
});

///Read more: JavaScript Scrolling Bar | eHow.com http://www.ehow.com/info_12213975_javascript-scrolling-bar.html#ixzz1iklBhzyF
</script>

</head>

<body>
<div id="scrollbar_container">
<div id="scrollbar_track" style="background-color:#000000;"><div id="scrollbar_handle" style="background-color:#CCCCCC;"></div></div>
<div style="width:200; height:800; overflow: auto;" id="scrollbar_content">
  <p>xzczcczczcxzcx</p>
  <p>&nbsp;</p>
  <p>c</p>
  <p>z</p>
  <p>&nbsp;</p>
  <p>cxz</p>
  <p>xzc</p>
  <p>&nbsp;</p>
  <p>zxc</p>
  <p>x</p>
  <p>z</p>
  <p>&nbsp;</p>
  <p>cxz</p>
  <p>xcz</p>
  <p>cx</p>
  <p>c</p>
  <p>xz</p>
  <p>cxz</p>
  <p>cxz</p>
  <p>cx</p>
  <p>z</p>
  <p>cxz</p>
  <p>cxz</p>
  <p>cxz</p>
  <p>&nbsp;</p>
  <p>cxz</p>
  <p>cxz</p>
  <p>cxz</p>
  <p>&nbsp;</p>
  <p>cxz</p>
  <p>cxz</p>
  <p>cxz</p>
  <p>cxz</p>
  <p>&nbsp;</p>
  <p>cxz</p>
  <p>cxz</p>
  <p>xz</p>
</div>
</div>


</body>
</html>
