<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
.menuselection {
	width: 140px;
}
</style>
</head>

<body>
<table border="0" cellspacing="0" cellpadding="0" style="width:140px;">
    <tr>
      <td id="friendslink" height="34" class="involvementsidebar" onmouseover="hilite('friendslink'); javascript:showDivfriends();"  onmouseout="javascript:hideDivfriends(); mouseoff('friendslink');" onClick="javascript:showfriendspage(); highlighted('friendslink');"><img src="friendsicon.png" width="31" height="31" alt="friendsicon" /></td>
     <td height="30" bgcolor="#BBAD93" class="involvementdescriptions" id="friendslabel" style="display:none;" >Connections</td>
    </tr>
    <tr>
      <td height="2"></td>
      <td></td>
    </tr>
    <tr>
      <td height="34" class="involvementsidebar" id="groupslink" onmouseover="hilite('groupslink'); javascript:showDivgroups();" onmouseout="mouseoff('groupslink'); javascript:hideDivgroups(); " onclick="javascript:showgroupspage(); highlighted('groupslink');"><img src="groupsicon.png" width="31" height="31" alt="groupsicon" /></td>
      <td height="30" valign="middle" bgcolor="#BBAD93" class="involvementdescriptions" id="groupslabel" style="display:none;">Groups</td>
    </tr>
    <tr>
      <td height="2"></td>
      <td></td>
    </tr>
    <tr>
      <td height="34" class="involvementsidebar" id="petitionslink" onmouseover="hilite('petitionslink'); javascript:showDivpetitions();" onmouseout="mouseoff('petitionslink'); javascript:hideDivpetitions(); " onclick="javascript:showpetitionspage(); highlighted('petitionslink');"><img src="petitionsicon.png" width="31" height="31" alt="petitionsicon" /></td>
      <td height="30" bgcolor="#BBAD93" class="involvementdescriptions" id="petitionslabel" style="display:none;">Petitions</td>
    </tr>
    <tr>
      <td height="2"></td>
      <td></td>
    </tr>
    <tr>
      <td height="34" class="involvementsidebar" id="billslink" onclick="javascript:showbillspage(); highlighted('billslink');" onmouseover="hilite('billslink'); javascript:showDivbills();" onmouseout="mouseoff('billslink'); javascript:hideDivbills();"><img src="billsicon.png" width="31" height="31" /></td>
      <td height="30" bgcolor="#BBAD93" class="involvementdescriptions" id="billslabel" style="display:none;">Bills</td>
    </tr>
    <tr>
      <td height="2"></td>
      <td></td>
    </tr>
    <tr>
      <td height="34" class="involvementsidebar" id="politicianslink" onmouseover="hilite('politicianslink'); javascript:showDivpoliticians();" onmouseout="mouseoff('politicianslink'); javascript:hideDivpoliticians();" onclick="javascript:showpoliticianspage(); highlighted('politicianslink');"><img src="politiciansicon.png" width="31" height="31" alt="politiciansicon" /></td>
      <td height="30" bgcolor="#BBAD93" class="involvementdescriptions" id="politicianslabel" style="display:none;">Politicians</td>
    </tr>
    <tr>
      <td height="34"></td>
      <td style="width:102px; border:2px solid; border-color:transparent;></td>
    </tr>
    <tr>
      <td height="2"></td>
      <td></td>
    </tr>
  </table>






<div class="menuselection" id="connections"><table border="0" cellspacing="0" cellpadding="0" style="width:140px;">
    <tr>
      <td id="friendslink" height="34" class="involvementsidebar" onmouseover="hilite('friendslink'); javascript:showDivfriends();"  onmouseout="javascript:hideDivfriends(); mouseoff('friendslink');" onClick="javascript:showfriendspage(); highlighted('friendslink');"><img src="friendsicon.png" width="31" height="31" alt="friendsicon" /></td>
     <td height="30" bgcolor="#BBAD93" class="involvementdescriptions" id="friendslabel" style="display:none;" >Connections</td>
    </tr>
    <tr>
      <td height="2"></td>
      <td></td>
    </tr> </table></div><br>
    





<div class="menuselection" id="groups"><table border="0" cellspacing="0" cellpadding="0" style="width:140px;"><tr>
      <td height="34" class="involvementsidebar" id="groupslink" onmouseover="hilite('groupslink'); javascript:showDivgroups();" onmouseout="mouseoff('groupslink'); javascript:hideDivgroups(); " onclick="javascript:showgroupspage(); highlighted('groupslink');"><img src="groupsicon.png" width="31" height="31" alt="groupsicon" /></td>
      <td height="30" valign="middle" bgcolor="#BBAD93" class="involvementdescriptions" id="groupslabel" style="display:none;">Groups</td>
    </tr>
    <tr>
      <td height="2"></td>
      <td></td>
    </tr></table>
</div>










</body>
</html>
