<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style>
#apDiv20 {
	position:relative;
	width:400px;
	height:241px;
	z-index:8;
	left: 10px;
	top: 10px;
	background-color: #F9F9F9;
	line-height: 20px;
	border: 1px dotted;
	border-color: #CCCCCC;
	vertical-align: bottom;
	font-family: Verdana, Geneva, sans-serif;
	padding: 10px;
	overflow: auto;
}
</style>
</head>

<body>
<div id="apDiv20" class="flexcroll">
  <center>
  <div style="width:200px; height:25px; background-color:#426464; margin:0 auto; font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-weight: bold; color: #CCCCCC; padding-top: 2px;"><center>Create Group</center>
  </div><br />
  <div style="width:381px; height:15px; background-color:#FFFFFF; border:1px solid; border-color:#CCCCCC; border-bottom:none;">
  </div>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid; border-top:none; border-bottom:none; border-color:#CCCCCC;">
    <tr style="background-color:#FFFFFF;">
      <td width="241" valign="middle" id="groupanddescription" style="padding-left: 30px;  width:200px; line-height: 25px;" ><b><font style="color:#304949;">Group Name</font></b>
      <br />
      <div style="padding-left: 10px; line-height: 20px; width:200px; color:#426464;"><font style="font-size:13px;"><b>Members</b> 54<br />
        <b>Active Discussions</b> 10<br />
        <b>Cause</b> Global Warming
      </font></div></td>
      <td width="10" style="width:10px;"></td>
      <td width="104" style="width:100px; height:100px; border: 2px solid; border-color:#999999;"><img src="file:///C|/Users/Owner/Documents/novavote/end/groupimg.jpg" alt="" width="100" height="100" /></td>
      <td width="43" style="width:45px;"></td>
    </tr>
  </table><table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid; border-top:none; border-color:#CCCCCC;">
  <tr>
    <td align="center" style="font-size:14px; padding-top:10px; background-color:#FFFFFF; padding-bottom: 4px;">&quot;We believe Global Warming Exists!&quot;</td>
  </tr>
</table>

  <br />
  <div style="border:1px solid; border-top:none; border-left:none; border-right:none; border-bottom-color:#CCCCCC; width:200px; margin:0 auto;"></div>

  <br />
<div style="width:381px; height:15px; background-color:#FFFFFF; border:1px solid; border-color:#CCCCCC; border-bottom:none;">
  </div>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid; border-top:none; border-bottom:none; border-color:#CCCCCC;">
    <tr style="background-color:#FFFFFF;">
      <td width="241" valign="middle" id="groupanddescription" style="padding-left: 30px;  width:200px; line-height: 25px;" ><b><font style="color:#304949;">Group Name</font></b>
      <br />
      <div style="padding-left: 10px; line-height: 20px; width:200px; color:#426464;"><font style="font-size:13px;"><b>Members</b> 54<br />
        <b>Active Discussions</b> 10<br />
        <b>Cause</b> Global Warming
      </font></div></td>
      <td width="10" style="width:10px;"></td>
      <td width="104" style="width:100px; height:100px; border: 2px solid; border-color:#999999;"><img src="file:///C|/Users/Owner/Documents/novavote/end/groupimg.jpg" alt="" width="100" height="100" /></td>
      <td width="43" style="width:45px;"></td>
    </tr>
  </table><table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid; border-top:none; border-color:#CCCCCC;">
  <tr>
    <td align="center" style="font-size:14px; padding-top:10px; background-color:#FFFFFF; padding-bottom: 4px;">&quot;We believe Global Warming Exists!&quot;</td>
  </tr>
</table>

  <br />
  <div style="border:1px solid; border-top:none; border-left:none; border-right:none; border-bottom-color:#CCCCCC; width:200px; margin:0 auto;"></div>

  <br />
</div>

</div>

</body>
</html>
