{% extends 'deployment/templates/frame.html' %}

{% block content %}

<!-- CSS stylesheet -->
<link rel="stylesheet" type="text/css" href="/static/css/deployment/legislation.css" />

<div id="content-leg-div">

{% if error %}

<span style="color:red">{{error}}</span>

{% else %}

Session: {{session}}
<br>
	Type: {{type}}
</br>
<br>
	Number: {{number}}
</br>
<br>

<p><strong>Bill Information</strong>

{% for title in leg_titles %}
<p>Bill title
<ul>
	<li>Title: {{title.title}}</li>
	<li>Type: {{title.title_type}}</li>
	<li>As: {{title.title_as}}</li>
</ul>
{% endfor %}



<ul>
	<li>Last updated: {{leg.bill_updated}}</li>
	<li>State datetime: {{leg.state_datetime}}</li>
	<li>Current state: {{leg.state_text}}</li>
	<li>
		<ul>
			<li>Status: {{leg.bill_status.status_text}}</li>
			<li>Datetime: {{leg.bill_status.datetime}}</li>
			<li>Where: {{leg.bill_status.where}}</li>
			<li>Result: {{leg.bill_status.result}}</li>
			<li>How: {{leg.bill_status.how}}</li>
			<li>Roll: {{leg.bill_status.roll}}</li>
		</ul>
	</li>
</ul>

{% endif %}

</div>

{% endblock %}