{% extends 'deployment/templates/frame.html' %}

{% block content %}

<!-- CSS stylesheet -->
<link rel="stylesheet" type="text/css" href="/static/css/deployment/legislation.css" />

<div id="content-leg-div">

Session: {{session}}

<p>Please select a type of legislation issued for the <strong>{{session}}th Congress</strong>.

<ul>
	{% for type in types %}
	<li><a href='/legislation/{{session}}/{{type}}'>{{type}}</a></li>
	{% empty %}
	<li>Congressional bill type data is unavailable for the given congressional session.</li>
	{% endfor %}
</ul>
</div>

{% endblock %}