{% extends 'deployment/templates/frame.html' %}

{% block content %}

<!-- CSS stylesheet -->
<link rel="stylesheet" type="text/css" href="/static/css/deployment/legislation.css" />

<div id="content-leg-div">

Session: {{session}}
<br>
	Type: {{type}}
</br>
<br>
	Please select a bill.

<ul>
	{% for num in numbers %}
	<li><a href='/legislation/{{session}}/{{type}}/{{number}}'>{{type}} {{number}}</a></li>
	{% empty %}
	<li>Congressional bill data is unavailable for the provided session and bill type.</li>
	{% endfor %}
</ul>
</br>
<br>

</div>

{% endblock %}