{% extends 'deployment/templates/javascript.html' %}


{% block body %}

    <div id="main">

        <!--
<h3> UPDATE IN PROGRESS, come back in a few hours... beta will be here soon! </h3> -->

        <div id="top">
            <img id="logo" src="/static/images/login/lovegovlogo.png">
            <form action="" method="post" id="loginform"> {% csrf_token %}
                <table id="logintable">
                    <tr>
                        <td>email</td>
                        <td><input type="text" id="username-input" class="login-input" name="username" value="{{ username }}"/></td>
                    </tr>
                    <tr>
                        <td>password</td>
                        <td><input type="password" id="password-input" class="login-input" name="password"/></td>
                    </tr>
                    <tr>
                        <td colspan=2>
                            <div class="error-message">{% autoescape off %}{{ error }}{% endautoescape %}</div>
                            <input type="hidden" name="button" value="login"/>
                            <input class="submit-button" id="submit-login" type="submit" value="log in"/>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </form>
        </div>

        <div id="middle">
            {% block middle %}

            {% endblock %}
        </div>

        <div id="bottom">
            <div id="footer">
                <div style="float:left;margin-top:5px;">
                    <span id="mailingList" class="dark">Join our mailing list:</span>
                    <form id='emailForm' action="" method='post'>
                        <input id="emailInput" name="email" type="text" value=""/>
                        <input id="emailSubmit" type="submit" value="Submit" name="submitemail"/>
                    </form>
                    <div style="clear:both;padding-top:15px;">
                        <a href="http://www.facebook.com/pages/Lovegov/368496463180373" target="_blank"><img src="/static/images/facebook.png" ></a>
                        <a href="http://twitter.com/welovegov" target="_blank"><img src="/static/images/twitter.png"/></a>
                        <span id="emailMessage" class="dark">{{ emailMessage }}</span>
                    </div>
                </div>
                <div style="float:right">
                    <div class="footer-title">
                        development team
                    </div>
                    <div>
                        <div class="team team-left">
                            <div class="dark">Joschka Tryba</div>
                            <div class="light">Chief Executive Officer</div>
                            <a class="light" href="mailto:joschka@lovegov.com">joschka@lovegov.com</a>
                        </div>
                        <div class="team team-center">
                            <div class="dark">Clayton Dunwell</div>
                            <div class="light">Product Developer</div>
                            <a class="light" href="mailto:clay@lovegov.com">clay@lovegov.com</a>
                        </div>
                        <div class="team team-center">
                            <div class="dark">Maximus Fowler</div>
                            <div class="light">Product Developer</div>
                            <a class="light" href="mailto:max@lovegov.com">max@lovegov.com</a>
                        </div>
                        <div class="team team-right">
                            <div class="dark">Catherine Schmidt</div>
                            <div class="light">Lead Designer</div>
                            <a class="light" href="mailto:cat@lovegov.com">cat@lovegov.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" type="text/css" href="/static/css/deployment/login.css" />
    <script type="text/javascript" src="/static/js/deployment/submit_mail.js"></script>

    <script> rebind="login"; </script>


{% endblock %}