{% extends 'deployment/pages/login.html' %}

{% block middle %}

    <div style="margin-left:auto;margin-right:auto;width:305px;padding:100px">
        {% if sentRecoveryEmail %}
            test
        {% else %}
        Enter your email and we can send you a link to reset your password.
        <form style="margin-top:25px;" action="" method="POST" id="password-reset-form"> {% csrf_token %}
            <table>
                <tr>
                    <td>email</td>
                    <td><input type="text" class="login-input" name="email" value=""/></td>
                </tr>
            </table>
        </form>
        {% endif %}
    </div>

{% endblock %}