{% extends 'deployment/pages/login.html' %}

{% block middle %}

<div id="middle-left">
    <div style="width:350px;float:left">
        <a href="{{ fb_link }}" id="">
            <input type="image" id="facebook-button" src="/static/images/login/signup-facebook-md.png" />
            <input type="hidden" value="{{ request.path }}" name="next" />
        </a>
    </div>

    <h1>register:</h1>
    <form action="" method="post" id="registerform"> {% csrf_token %}
        <table>
            <tr>
                <td>first name</td>
                <td>
                    <input type="text" class="login-input" name="firstname" value="{% if registerform.firstname.errors %}{{ registerform.firstname.errors|striptags }}{% elif registerform.firstname.value %}{{ registerform.firstname.value }}{% else %}{% endif %}"/>
                </td>
            </tr>

            <tr>
            </tr>

            <tr>
                <td>last name</td>
                <td>
                    <input type="text" class="login-input" name="lastname" value="{% if registerform.lastname.errors %}{{ registerform.lastname.errors|striptags }}{% elif registerform.lastname.value %}{{ registerform.lastname.value }}{% else %}{% endif %}"/>
                </td>
            </tr>

            <tr>
            </tr>

            <tr>
                <td>email</td>
                <td>
                    <input type="text" class="login-input" name="email" value="{% if registerform.email.errors %}{{ registerform.email.errors|striptags }}{% elif registerform.email.value %}{{ registerform.email.value }}{% else %}{% endif %}"/>
                </td>
            </tr>

            <tr>
            </tr>

            <tr>
                <td>email again</td>
                <td>
                    <input type="text" class="login-input" name="email2" value="{% if registerform.email2.errors %}{{ registerform.email2.errors|striptags }}{% elif registerform.email2.value %}{{ registerform.email2.value }}{% else %}{% endif %}"/>
                </td>
            </tr>

            <tr>
            </tr>

            <tr>
                <td>password</td>
                <td>
                    <input type="password" class="login-input" name="passwordregister"/>
                </td>
            </tr>

            <tr>
            </tr>

            <tr>
                <td>passcode</td>
                <td>
                    <input type="text" class="login-input" name="registercode" value="{% if registerform.registercode.errors %}{{ registerform.registercode.errors|striptags }}{% elif registerform.registercode.value %}{{ registerform.registercode.value }}{% else %}{% endif %}"/>
                </td>
            </tr>

            <tr>
            </tr>

            <tr>
                <td style="text-align:left;" colspan="2">
                    <span style="width:175px;float:left;margin-top:17px;margin-left:10px" class="dark">I agree to the <a class="light" href="/privacypolicy/">privacy policy</a></span>
                    <input style="margin-top:20px" type="checkbox" name="privacy"/>
                    <span class="dark" style="color:#F0503B;float:left;margin-top:19px;margin-left:5px">{{ registerform.privacy.errors|striptags}}</span>
                    <input type="hidden" name="button" value="register"/>
                    <input class="submit-button" type="submit" value="register"/>
                </td>
                <td></td>
            </tr>
        </table>
    </form>
</div>
<div id="middle-right">
    <img style="width:425px" src="/static/images/login/banner.png"/>
    <p>LoveGov will inform you on the issues, keep you current with legislation that you care about, and connect you with your representatives. We're making it easy to get involved.</p>
</div>

{% endblock %}