<button id='back'>Back</button>
<h3> QUESTION-RESPONSE by {{ object.responder }}{{ object.content.title }} </h3>

    <!-- QUESTION -->
    {{ object.question.question_text }}

    <!-- ANSWERS  -->
    {% for a in object.question.answers.all %}
        <p  {% if forloop.counter|stringformat:"s" == object.answer_val %}
                style="color:blue"
            {% else %}
                style="color:black"
            {% endif %}
                >
            {{ a.value }}- {{ a.answer_text }}
        </p>
    {% endfor %}

    <p>
        Explanation: {{ object.explanation }}
    </p>

<script>

    $('#back').click(function(){
        $('#base').html(window['{{ back }}']);
    });

</script>

