{% extends 'usable/default.html' %}
{% block content_block %}

<div id='hoverQuestion'>
    <span id="hoverQuestionText"></span>
    <span id="hoverYourName"></span><span id="hoverYourAnswer"></span>
    <span id="hoverTheirName"></span><span id="hoverTheirAnswer"></span>
    <span id="hoverStatistics"></span>
</div>
<div id="viewport">

    <div id="base" style='height:320px; width:600px; position:relative; border-style:solid; border-width:0px; overflow: auto'>

    </div>

</div>

{% endblock %}
{% block javascript %}
<script>
    // cached html to navigate web components client-side
    var myviews = '{{ myviews|escapejs }}';
    var Economy = '{{ economy|escapejs }}';
    var Education = '{{ education|escapejs }}';
    var Energy = '{{ energy|escapejs }}';
    var Social_Issues = '{{ social_issues|escapejs }}';
    var Health_Care = '{{ health_care|escapejs }}';
    var Foreign_Policy = '{{ foreign_policy|escapejs }}';
    var Reform = '{{ reform|escapejs }}';
    var Environment = '{{ environment|escapejs }}';

    var TOPIC_ANIMATION_SPEED = 300;
    var TOPICS = ["Economy", "Education", "Energy", "Social_Issues", "Health_Care", "Foreign_Policy", "Reform", "Environment"];
</script>
<script>

    /* DOC SETUP */
    $(document).ready(function()
    {
        // initialize web to the first view
        $('#base').hide();
        $('#base').html(myviews);
        $('#base').show('scale',800);
    });

    $('#base img').livequery('click', function()
    {
        displayDiv(this.id);
    });


    function displayDiv(id)
    {
        // regexp to match q###
        var qpattern = new RegExp("q([0-9]|[1-9][0-9]|[1-9][0-9][0-9])");
        if (qpattern.exec(id))
        {
            getQuestion(id);
        }
        else
        {
            // get global variable from id
            var toDisplay = window[id.toString()];
            if (id == 'myviews')
            {
                $('#base').html(toDisplay);
            }
            else
            {
                $('#' + id).css('z-index', 2);
                $('#' + id).css('width', 100).css("height",100).css('z-index',2);
                animateTopics(id, toDisplay);
            }
        }
    }

    // AJAX get function
    getQuestion = function(id)
    {
        // regexp to get question number ('q###'->'###')
        var qnum = id.match("q[0-9]|[1-9][0-9]|[1-9][0-9][0-9]");
        qnum = qnum.toString().substring(1);
        // get return topic
        var returnTopic = $('#' + id).parent().children('img').attr('class');
        $.get('/getQuestion/', {q_id: qnum, back: returnTopic},
                // call back function
                function(data)
                {
                    $('#base').html(data);
                });
    };

    function animateTopics(topic, toDisplay)
    {
        if (topic == 'Economy')
        {
            $("#Economy").animate({top: "+=110px", left:"-=10px"}, TOPIC_ANIMATION_SPEED);
            //setTimeout(function(){$("#Economy").animate({top: "+=110px", left:"-=10px"}, TOPIC_ANIMATION_SPEED)},150);
        }
        else
        {
            $("#Economy").animate({top: "+=120px", left:"-=0px"}, TOPIC_ANIMATION_SPEED);
        }

        if (topic == 'Education')
        {
            $("#Education").animate({top: "+=76px", left:"+=80px"}, TOPIC_ANIMATION_SPEED);
        }
        else
        {
            $("#Education").animate({top: "+=90px", left:"+=90px"}, TOPIC_ANIMATION_SPEED);
        }

        if (topic == 'Energy')
        {
            $("#Energy").animate({bottom: "+=76px", right:"+=80px"}, TOPIC_ANIMATION_SPEED);
        }
        else
        {
            $("#Energy").animate({bottom: "+=90px", right:"+=90px"}, TOPIC_ANIMATION_SPEED);
        }

        if (topic == 'Social_Issues')
        {
            $("#Social_Issues").animate({bottom: "+=110px", right: "-=10px"}, 300);
        }
        else
        {
            $("#Social_Issues").animate({bottom: "+=120px"}, 300);
        }

        if (topic == 'Health_Care')
        {
            $("#Health_Care").animate({left: "+=120px", bottom:"-=10px"}, TOPIC_ANIMATION_SPEED);
        }
        else
        {
            $("#Health_Care").animate({left: "+=120px"}, TOPIC_ANIMATION_SPEED);
        }

        if (topic == 'Foreign_Policy')
        {
            $("#Foreign_Policy").animate({bottom: "+=76px", left:"+=80px"}, TOPIC_ANIMATION_SPEED);
        }
        else
        {
            $("#Foreign_Policy").animate({bottom: "+=90px", left:"+=90px"}, TOPIC_ANIMATION_SPEED);
        }

        if (topic == 'Reform')
        {
            $("#Reform").animate({top: "+=76px", right:"+=80px"}, TOPIC_ANIMATION_SPEED);
        }
        else
        {
            $("#Reform").animate({top: "+=90px", right:"+=90px"}, TOPIC_ANIMATION_SPEED);
        }

        if (topic == 'Environment')
        {
            $("#Environment").animate({right:"+=120px", top:"-=10px"}, TOPIC_ANIMATION_SPEED);
        }
        else
        {
            $("#Environment").animate({right:"+=120px"}, TOPIC_ANIMATION_SPEED);
        }

        setTimeout(function(){$('#base').html(toDisplay)},TOPIC_ANIMATION_SPEED);
    }

</script>
{% endblock %}