@charset "UTF-8";
@import 'master-variables';
@import 'master-mixins';

@mixin circleDiv($side)
{
  width:$side;
  height:$side;
  position:absolute;
  border-radius:$side/2;

  img
  {
    border-radius:$side/2;
  }
}

div.div-button, div.div-button:active, div.div-button:link, div.div-button:visited
{
  @include div-button($radius:10px,$width:250px,$height:53px,$font-size:23px,$color:$black);
  margin-bottom:15px;



  span
  {
    display:inline-block;
    margin-top:16px;
    margin-left:10px;
  }

  &:hover
  {
    color:white;
    background-color:$red;
    cursor:pointer;
  }
}

$nav-margin:30px;
div.top-nav
{
  float:left;
}

div.nav-top-div
{
  padding-bottom:15px;
  display:inline-block;
}

div.nav-top-div-border
{
  @include horizontalSeparator($width:800px,$color:$gray,$margin-left:100px,$margin-top:10px,$margin-bottom:10px);
}

div.top-nav-left
{
  @extend .top-nav;
  margin-right: $nav-margin;
  width:250px;
}

div.top-nav-right
{
  @extend .top-nav;
  margin-left: $nav-margin;
  width:690px;

  h1
  {
    float:left;
    margin-top:35px;
  }

  div
  {
    width:690px;
    float:left;
  }

  img
  {
    float:left;
    width:200px;
    margin-left:65px;
  }

  p
  {
    font-size:24px;
    color:$deep-gray;
    font-family:$gill-light;
    float:left;
    margin-top:25px;
  }

}

div#about-content
{
  margin-top:25px;
  display:inline-block;

  p.privacy_p
  {
    margin-top:5px;
    margin-bottom:25px;
    margin-left:25px;
    margin-right:25px;
  }

  div.privacy-column
  {
    width:475px;
    float:left;
  }

  h4
  {
    font-size:18px;
  }

  h6
  {
    color:$deep-gray;
  }

  div.about-content-block
  {
    display:inline-block
  }

  div.about-content-left
  {
    @extend .about-content-block;
    width:475px;
    margin-right:25px;
  }

  div.who-are-we-circle
  {
    position:relative;
    min-width:475px;
    margin-right:25px;
    float:left;
  }

  div.mission
  {
    margin-top:25px;
    position:relative;
    width:475px;
    margin-left:25px;
    float:left;
  }

  div.who-are-we-circle-div
  {
    @include circleDiv(200px)
  }

  @each $color-name in $color-name-list
  {
    $color:colorMap($color-name);

    div.who-are-we-circle-div-#{$color-name}
    {
      border: 2px $color solid;
    }

    div.who-are-we-circle-div-#{$color-name}-hover
    {
      -moz-box-shadow: 0 0 40px 5px $color;
      -webkit-box-shadow: 0 0 40px 5px $color;
      box-shadow: 0 0 40px 5px $color;
    }
  }

  div.who-are-we-circle-div-center
  {
    @include circleDiv(250px);
    background-color:$red;
    border: 2px $red solid;
  }

  div.about-content-right
  {
    @extend .about-content-block;
    width:475px;
    margin-left:25px;
  }
}

