@charset "UTF-8";
@import 'master-variables';
@import 'master-mixins';

div.former-team {

  div.past-contributor {

    float:left;
    width:40%;
    margin-bottom:10px;

    div.past-contributor-img {
      float:left;
      margin-right:20px;
    }

    a.past-contributor-name {
      float:left;
      font-size:18px;
      margin-top:30px;
      color:$black;
      &:hover {
        color:black;
      }
    }

  }

}

@mixin circleDiv($side)
{
  width:$side;
  height:$side;
  position:absolute;
  border-radius:$side/2;

  img
    {
    border-radius:$side/2;
  }
}

div.who-are-we-circle
  {
  position:relative;
  min-width:475px;
  margin-right:25px;
  float:left;
  height:500px;
}

div.who-are-we-circle-div
  {
  @include circleDiv(200px)
}


@each $color-name in $color-name-list
{
  $color:colorMap($color-name);

  div.who-are-we-circle-div-#{$color-name}
    {
    border: 2px $color solid;
  }

  div.who-are-we-circle-div-#{$color-name}-hover
    {
    -moz-box-shadow: 0 0 40px 5px $color;
    -webkit-box-shadow: 0 0 40px 5px $color;
    box-shadow: 0 0 40px 5px $color;
  }
}

div.who-are-we-circle-div-center
  {
  @include circleDiv(250px);
  background-color:$red;
  border: 2px $red solid;
}

div.about-content-right
  {
  @extend .about-content-block;
  width:475px;
  margin-left:25px;
}


div.about-section {
  display: none;
}

div.about-div-button
  {
  @include div-button($radius:0px,$width:230px,$height:53px,$font-size:20px,$color:$black);
  margin-bottom:15px;
  float: left;
  margin: 10px 10px;
  text-align: center;
  span
    {
    display:inline-block;
    margin-top:16px;
  }

  &:hover
    {
    color:white;
    background-color:$red;
    cursor:pointer;
  }
  &:active {
    background-color: $orange;
  }
  &.active {
    background-color: $red;
    color: white;
    &:hover {
      background-color: $orange-light;
    }
  }
}

$nav-margin:30px;
div.top-nav
  {
  float:left;
}

div.nav-top-div
  {
  padding-bottom:15px;
  display:inline-block;
}

div.nav-top-div-border
  {
  @include horizontalSeparator($width:800px,$color:$gray,$margin-left:100px,$margin-top:10px,$margin-bottom:10px);
}

div.top-nav-left
  {
  @extend .top-nav;
  margin-right: $nav-margin;
  width:1000px;
}

div#about-content
  {
  margin-top:25px;
  display:inline-block;
  min-height:400px;

  div#video-div {
    width:1000px;
    text-align:center;
  }

  div.about-section.starting-section {
    display:block;
    width: 1400px;
    text-align: center;
    font-size: 30px;
    padding-top: 80px;
    position: relative;
    left: -196px;
  }

  li
    {
    border:0;
  }

  p.privacy_p
    {
    margin-top:5px;
    margin-bottom:25px;
    margin-left:25px;
    margin-right:25px;



  }

  div.privacy-column
    {
    width:475px;
    float:left;

    h3
      {
      font-size:21px;
    }

  }

  h4
    {
    font-size:18px;
  }

  h6
    {
    color:$deep-gray;
  }

  div.about-content-block
    {
    display:inline-block
  }

  div.about-content-left
    {
    @extend .about-content-block;
    width:475px;
    margin-right:25px;
  }

  div.mission
    {
    margin-top:25px;
    position:relative;
    margin-left:25px;

    h3
      {
      margin-bottom:5px;
    }
  }
}


div#contact-div {
  div.press-wrapper {
    width:700px;
    margin: 20px 0 0 0;
    h4 {
      font-size: 30px;
    }
    p.press-text {
      margin: 10px 0 0 0;
      font-size: 30px;
    }
  }
  h4.find-us {
    font-size: 30px;
    margin:40px 0 20px 0;
  }
}

a.about-link {
  width:200px;
  height:200px;
}
a.about-link:hover {
  background-color:$light-gray;
}

div.faq-question {
  margin: 30px 0;
  p {
    margin: 10px 0;
    font-size: 14px;
  }

}