@import 'master-variables';
@import 'master-mixins';
@import "compass";

$autocomplete-width: 335px;
div.search {
  div.search-dropdown {
    position: absolute;
    top: 29px;
    right: 0;
    background-color: white;
    border: 1px solid $gray;
    border-top: 1px solid $deep-gray;
    min-width: 335px;
    @include clearfix;
    display: none;
    @include box-shadow(0 50px 200px 10px #ccc);
    z-index: 1;
  }
}

div.autocomplete-header {
  font-size: 18px;
  width: 90%;
  padding: 8px 6px 6px 6px;
  color: $black;
  text-transform: uppercase;

}

div.autocomplete-user
{
  position: relative;
  height: 50px;
  img {
    float: left;
  }
  div.autocomplete-name {
    span {
      position: absolute;
      bottom: 0;
      left: 70px;
      font-size: 20px;
      color: $deep-gray;
    }
  }
  &:hover {
    background-color: $white-gray;
    div span {
      color: $black;
    }
  }
}

div.autocomplete-petition, div.autocomplete-news, div.autocomplete-question, div.autocomplete-group {
  padding: 5px;
  position: relative;
  div.autocomplete-image-wrapper {
    height: 100%;
    float: left;
    margin-right: 10px;
  }
  div.autocomplete-name {
    font-size: 14px;
    color: $deep-gray;
    strong {
      text-decoration: underline;
    }
  }
  &:hover {
    background-color: $white-gray;
    div {
      color: $black;
    }
  }
}

div.autocomplete-div.autocomplete-more-results
{
  $padding: 5px;
  padding: $padding;
  font-size: 18px;
  &:hover {
    background-color: $white-gray;
  }
}

div.autocomplete-noresults {
  padding: 5px;
  font-size: 180x;
}