@import 'master-variables';

#blog_left
{
  width:200px;
  margin-right:50px;
  float:left;
}

.blog_left_div
{
  margin-bottom:40px;
}

#blog_right
{
  width:750px;
  float:left;
}

.blog_item
{
  float:left;
  width:775px;
  margin-bottom:25px;
}

.blog_item_left
{
  width:550px;
  margin-right:25px;
  float:left;
}

.blog_item_right
{
  width:200px;
  float:left;
}

.blog_input
{
  width:520px;
  font-size:16px;
}

.blog_text_input
{
  @extend .blog_input;
  height:30px;
}

.blog_textarea_input
{
  @extend .blog_input;
  height:225px;
  padding:0;
}

.blog_checkbox
{
  float:right;
  margin-left:10px;
  margin-right:10px;
  margin-top:2px;
}

.blog_span
{
  font-size:15px;
  float:right;
}

li.blog-li
{
  padding-top:7px;
  padding-bottom:7px;
  border-bottom:1px #CCC dashed;
}

.blog_creator
{
  margin-bottom:5px;
  img {
    vertical-align: top;
  }
}

.blog_creator a
{
  position:relative;
  font-size:16px;
}

table.blog-table td
{
  padding-bottom:5px;
}

#blogform
{
  margin-bottom:15px;
}

.blog_posted
{
  position:relative;
  margin-bottom:10px;
}

#postnew
{
  cursor:pointer;
}

div.no-login-footer {
  clear: both;
  width: 1140px;
  margin: auto;
}