@charset "UTF-8";
@import 'master-variables';
@import 'master-mixins';
@import "compass";

div.browse-all {

  div.main-top {
    div.red-line {
      width:760px;
    }
  }

  div.browse-all-wrapper {
    padding-top:0px;

    div.group-item-wrapper {
      border-bottom:1px solid $gray;
      margin-bottom:25px;
      position:relative;

      div.num-label {
        position:absolute;
        top: -5px;
        left: -27px;
        @include fontSize(22px);
        display:none;
      }
    }

    div.feed-main {
      padding:0px;
    }

  }
}