@import 'master-variables';
@import 'master-mixins';

.border {
  border:solid;
  border-color:red;
  border-width:1px;
}


.box {
  border:solid;
  border-color:$light-gray;
  border-width:1px;
}


.feed-main-div {
  @include main-div();
  margin-top:5px;
}


.feed-header {

  margin-bottom:10px;

  p.your-feed {
    @include really-big();
    margin-top:20px;
    margin-left:5px;
    margin-bottom:0px;
    float:left;
    @include fontSize(25px);
  }

  div.sorting-buttons {
    float:left;
    margin: 15px 0px 0px 20px;

    div.sorting-button {
      @extend .button-gray;
      background-color:$light-gray;
      float:left;
      width:40px;
      height:20px;
      margin: 0 0 0 15px;

      p.sorting-text {
        margin: 0 0 7px 1px;
      }
    }

    div.sorting-button.clicked {
      background-color:$red;
    }
  }

  div.sort-by {
    margin: 18px 0 0 25px;
    float:left;
  }

  div.sort-by-choice {
    position:relative;
    float:left;
    height:35px;
    width:70px;
    margin: 11px 0 0 12px;
    @extend .box;

    p.feed-menu-title {
      @include fontSize(18px);
      margin-top:5px;
      margin-left:7px;
      margin-bottom:0px;
      float:left;
    }

    div.triangle-selector {
      float:right;
      margin: 13px 7px 0 7px;
    }

    div.sort-menu {
      top:36px;
      div.menu-option {
        width:67px;
        p.menu-option-title {
          margin: 8px 0px 0px 17px;
        }
      }
    }
  }


  div.options-box {
    @extend .box;
    width:140px;
    height:35px;

    margin-top:11px;
    margin-bottom:0px;

    float:left;
    margin-left:20px;

    @include fontSize(18px);

    p.options-title {
      margin-top:5px;
      margin-left:6px;
      margin-bottom:0px;
      float:left;
    }

    div.triangle-selector {
      float:left;
      margin-left:4px;
      margin-top:13px;
    }
  }

  div.saved-filters-box {
    position:relative;
    margin-top:11px;
    margin-bottom:0px;
    margin-left:10px;
    float:left;

    div.saved-filter-selector {
      margin-top:0px;
      width:200px;

      p.saved-filter-title {
        float:left;
        width:165px;
        margin: 8px 0 0 10px;
      }

      div.x-button {
        float:right;
        width:12px;
        height:12px;
        margin: 14px 10px 0 0;
        background-image: url('/static/icons/x.png');
        background-size:cover;
      }
      div.x-button:hover {
        background-image: url('/static/icons/x_hover.png');
      }
    }

    div.menu {
        top:36px;
    }

  }

  a.more-feed-button {
    margin-top:26px;
    margin-bottom:0px;

    float:left;
    margin-left:18px;
  }

  a.how-does {
    @include really-big();
    @include fontSize(12px);
    text-decoration: underline;
    float:right;
    margin-top:21px;
    margin-right:10px;
    margin-bottom:0px;
  }
  a.how-does:hover {
    color:$black;
  }

  div.create-box {

    @extend div.options-box;
    border-color:red;
    width:110px;

    margin-top:11px;
    margin-bottom:0px;

    float:right;
    margin-right:10px;

    p.options-title {
      color:$red;
      margin: 5px 0 0 28px;
      text-align:center
    }
  }

  div.create-box.clicked {
    background-color:$red;
    border-color:$light-gray;
    p.create-title {
      color:black;
    }
  }
  div.create-box:hover {
    background-color:$light-gray;
    border-color:black;
    p.create-title {
      color:black;
    }
  }

  div.display-box {
    @extend div.options-box;

    margin-top:11px;
    margin-bottom:0px;

    width:70px;
    height:35px;
    float:right;
    div {
      float:left;
      margin-left:14px;
      margin-top:2px;
    }
  }
}

div.more-options-wrapper {

  margin-top:0px;
  padding:0px;
  width:1000px;
  height:120px;
  @extend .box;
  overflow:hidden;

  div.more-options-selector {

    height:50px;
    width:980px;
    margin-left:10px;
    margin-top:10px;

    div.filter-by {
      float:left;
      margin-top:10px;
      margin-left:10px;
      margin-right:15px;
    }

    div.filter-by-group {
      position:relative;
      float:left;
      margin-left:10px;
      height:30px;
      width:80px;
      padding-top:10px;
      @extend .box;

      p.feed-menu-title {
        float:left;
        margin-left:10px;
      }

      div.triangle-selector {
        float:left;
        margin-left:6px;
        margin-top:4px;
      }
    }

    div.filter-by-network {
      position:relative;
      float:left;
      height:30px;
      width:90px;
      padding-top:10px;
      @extend .box;

      p.feed-menu-title {
        float:left;
        margin-left:10px;
      }

      div.triangle-selector {
        float:left;
        margin-left:6px;
        margin-top:4px;
      }
    }

    div.filter-by-political {
      position:relative;
      float:left;
      width:80px;
      height:30px;
      padding-top:10px;
      @extend .box;

      p.feed-menu-title {
        float:left;
        margin-left:10px;
      }

      div.triangle-selector {
        float:left;
        margin-left:6px;
        margin-top:4px;
      }

      div.menu-option {
        width:77px;
        p.menu-option-title {
          margin-left:10px;
        }
      }

    }
    div.filter-by-content {
      position:relative;
      float:left;
      width:80px;
      height:30px;
      padding-top:10px;
      @extend .box;

      p.feed-menu-title {
        float:left;
        margin-left:10px;
      }

      div.triangle-selector {
        float:left;
        margin-left:6px;
        margin-top:4px;
      }

      div.menu-option {
        width:77px;
        p.menu-option-title {
          margin: 10px 0 0 7px;
        }

      }

    }

    div.filter-topic {
      margin-top:10px;
      float:right;
    }

  }

  div.current-selection {
    height:50px;
    width:950px;
    margin-left:20px;
    @extend .box;

    div.current-filter {
      margin-top:0px;
      margin-left:12px;
      height:50px;
      width:130px;
      float:left;
      border-right: 1px solid $light-gray;
      p.current-filter-text {
        @include really-big();
        margin-left:0px;
        margin-top:12px;
      }
    }

    div.current-options-images {
      float:left;
      width:550px;
      height:50px;
      margin: 0;
      border-right: 1px solid $light-gray;
    }

    input.save_filter_input {
      float:right;
      margin-right:15px;
      margin-top:10px;
      margin-left:0px;
      height:30px;
      color:blue;
    }

    div.current-options {
      float:right;
      margin-top:8px;
      margin-right:12px;

      a.feed-clear {
        display:block;
      }

      a.feed-save {
        display:block;
      }
    }

  }

}

div.group-menu {
  width:120px;
  padding-bottom:10px;
}

$linkborder: 2px;
div.group-box {
  @include rounded(10px);
  @extend .box;
  border:hidden;
  margin: 10+$linkborder $linkborder $linkborder 10+$linkborder;
  width:40px;
  height:40px;
  overflow:hidden;
  float:left;
}

div.group-box:hover {
  border:solid;
  border-color:$gray;
  border-width:$linkborder;
  margin: 10px 0 0 10px;
}

div.group-box.clicked {
  border:solid;
  margin: 10px 0 0 10px;
  border-width:$linkborder;
  border-color:$red;
}

div.menu-option {
  @extend .box;
  @include really-big();
  @include fontSize(16px);
  border-width:1px;
  background-color: white;
  width:80px;
  height:40px;
  margin:0px;
  z-index:20;

  p.menu-option-title {
    margin: 10px 0 0 20px;
  }
}

div.menu-option:hover {
  background-color: $white-gray;
}

div.menu-option.clicked {
  background-color: $white-gray;
}

div.menu {
  position:absolute;
  top:40px;
  left:0px;
  background-color:white;
  @extend .box;
  z-index:20;
}

div.feed-body {

}

div.pinterest-wrapper {

  display: block;
  position:relative;
  top:20px;
  left:0px;
}

/* positioning */
div.pinterest_card {
  position:absolute;
  top:0px;
  left:0px;

  div.pinterest {

    @extend .box;
    box-shadow: 3px 3px 3px #f0f0f0;
    width:320px;

    div.pinterest-main {

      padding: 15px 0px 0px 0px;
      margin-bottom:0px;
      padding-bottom:0px;
      background-color:white;

      // header
      div.pinterest-header {
        margin-left:20px;
        height:50px;

        div.header-topic {
          float:left;
          margin-left:20px;
        }
      }

      // below header
      div.pinterest-image {
        margin: 15px 0px 0px 20px;

        div.img-wrapper {
          float:left;
        }
      }

      div.pinterest-title {
        clear:both;
        margin: 12px 0px 0px 18px;

      }

      div.pinterest-summary {
        margin: 5px 0px 0px 20px;
        p {
          @include really-big();
          line-height: 18px;
          margin: 0 0 0 0;
        }
      }

      div.pinterest-top-comment {
        padding: 12px 12px 15px 15px;
        margin: 10px 20px 0px 20px;

      }

    }
  }
}

div.menu-toggle.clicked {
  background-color:$red;
  p.menu-title {
    color:white;
  }
  div.triangle-selector {
    border-top-color: white;
  }
}
div.menu-toggle:hover {
  background-color:$red;
  p.menu-title {
    color:white;
  }
  div.triangle-selector {
    border-top-color: white;
  }
}


div.feed-topic-icon-wrapper {
  float:right;
  margin-left:10px;
  margin-bottom:10px;
}


div.linear-wrapper {
  width:1000px;

  div.linear {
    width:800px;
    height:210px;
    overflow:hidden;
    border-bottom: 1px solid $light-gray;
    margin-bottom:40px;

    div.linear-left {
      width:320px;
      overflow:hidden;
      float:left;

      div.linear-picture {
        display:block;
        height:100px;

        div.pinterest-image {
          width:250px;
        }

        div.header-topic {
          position:absolute;
          top:10px;
          left:20px;
        }

      }

      div.pinterest-footer {
        display:block;
        margin-top:60px;
      }
    }

    div.linear-right {
      float:left;
      margin: 0px 0px 0px 20px;
      width:400px;

      div.pinterest-summary {
        width:450px;
        height:100px;
        padding:0px;
        margin: 0 0 0 0;
        overflow:hidden;

        p.summary-text {
          margin:0px;
        }
      }

      div.pinterest-top-comment {
        margin-top:10px;
      }

      div.avatar {
        background-color:blue;
        margin-top:10px;

        div.prof-image {
          float:left;
        }
      }

    }

  }

}

div.comments-wrapper {
  @include rounded(10px);
  @extend .box;
}

div.pinterest-top-comment {
  @extend .box;
  @include rounded(10px);

  padding: 5px;

  div.comment-header {
    height:20px;

    div.comment-image{
      float:left;
      margin-bottom:0px;
    }

    div.comment-creator {
      float:left;
      margin: 2px 0px 0px 10px;
    }
  }

  div.comment-text {
    @include fontSize(12px);
    clear:both;
    margin: 5px 0px 0px 0px;
    color:$light-gray;
  }
}

div.prof-image{
  float:left;
  margin-bottom:0px;
}

div.header-middle {
  float:left;
  margin: 7px 0 0px 12px;
  width:150px;
  height:50px;
  overflow:hidden;

  p.submitted {
    color:$light-gray;
    text-decoration: underline;
    margin: 0 0 5px 0;
  }

  div.user-name {
    @include really-big();
    margin: 0 0 0 0;

    a {
      color:$black;
    }

    a:hover {
      color:black;
    }
  }
}

// footer
div.pinterest-footer {
  height:50px;
  border-top: 1px solid $light-gray;
  margin: 15px 0px 0px 0px;

  div.hearts {
    float:left;
    width:90px;
    height:50px;
    border-right: 1px solid $light-gray;

    div.hearts-wrapper {
      margin-left:10px;
      margin-top: 15px;

      div.heart {
        width:20px;
        height:18px;
        background:contain;
      }

      span.status {
        @include fontSize(20px);
        width:20px;
        overflow:hidden;
        margin:auto;
      }

    }

  }

  div.comments {
    float:left;
    width:130px;
    height:50px;
    border-right: 1px solid $light-gray;

    div.comments-wrapper {
      margin:auto;
      margin-top:10px;
      width:90px;
      height:30px;

      div.text-wrapper {
        margin: 5px 0px 0 0;
        span.comments-text {
          margin-left:8px
        }

        span.comments-num {
          color:$red;
        }
      }
    }

  }

  div.share {
    float:left;
    width:80px;
    height:50px;
    border-left: 1px solid $light-gray;

    a.share_button {
      @include div-button($radius:10px,$width:150px,$height:50px,$font-size:18px,$color:white,$background-color:$white-gray);
      position:relative;
      top:17px;
      margin: 10px;

    }
  }
}

.mini {
  @include fontSize(20px);
}

div.heart {
  width:20px;
  height:18px;
  background:contain;
}

div.create-modal {
  position: fixed;
  @include modal;
  border:1px solid $red;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
}

