@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway-Thin'), url(http://themes.googleusercontent.com/static/fonts/raleway/v5/RJMlAoFXXQEzZoMSUteGWLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

 @font-face {
 	font-family: 'Sonus-Light';
 	src: url('/static/fonts/23BAE8_0_0.eot');
 	src: 	url('/static/fonts/23BAE9_0_0.eot?#iefix') format('embedded-opentype'),
 			url('/static/fonts/23BAE9_0_0.woff') format('woff'),
 			url('/static/fonts/23BAE9_0_0.ttf') format('truetype');
 }

 @font-face {
 	font-family: 'Sonus-ExtraLight';
 	src: url('/static/fonts/23BAE7_0_0.eot');
 	src: 	url('/static/fonts/23BAE7_0_0.eot?#iefix') format('embedded-opentype'),
 			url('/static/fonts/23BAE7_0_0.woff') format('woff'),
 			url('/static/fonts/23BAE7_0_0.ttf') format('truetype');
 }


 @font-face {
 	font-family: 'Sonus-Regular';
 	src: url('/static/fonts/23BAE8_0_0.eot');
 	src: 	url('/static/fonts/23BAE8_0_0.eot?#iefix') format('embedded-opentype'),
 			url('/static/fonts/23BAE8_0_0.woff') format('woff'),
 			url('/static/fonts/23BAE8_0_0.ttf') format('truetype');
 }
