.glyphicon-sprite {
    background: url(glyphicons.png) no-repeat;

    .sprite-glyphicons_000_glass-png {
        width: 24px;
        height: 24px;
        background-position: -315px -534px;
    }

    .sprite-glyphicons_001_leaf-png {
        width: 24px;
        height: 25px;
        background-position: -176px -359px;
    }

    .sprite-glyphicons_002_dog-png {
        width: 26px;
        height: 25px;
        background-position: -181px -254px;
    }

    .sprite-glyphicons_003_user-png {
        width: 23px;
        height: 22px;
        background-position: -669px -596px;
    }

    .sprite-glyphicons_004_girl-png {
        width: 22px;
        height: 22px;
        background-position: -704px -498px;
    }

    .sprite-glyphicons_005_car-png {
        width: 26px;
        height: 22px;
        background-position: -350px -567px;
    }

    .sprite-glyphicons_006_user_add-png {
        width: 28px;
        height: 22px;
        background-position: -434px -323px;
    }

    .sprite-glyphicons_007_user_remove-png {
        width: 26px;
        height: 22px;
        background-position: -634px -534px;
    }

    .sprite-glyphicons_008_film-png {
        width: 22px;
        height: 26px;
        background-position: -601px -534px;
    }

    .sprite-glyphicons_009_magic-png {
        width: 24px;
        height: 24px;
        background-position: -280px -534px;
    }

    .sprite-glyphicons_010_envelope-png {
        width: 24px;
        height: 16px;
        background-position: -735px -599px;
    }

    .sprite-glyphicons_011_camera-png {
        width: 26px;
        height: 20px;
        background-position: -282px -39px;
    }

    .sprite-glyphicons_012_heart-png {
        width: 24px;
        height: 22px;
        background-position: -659px -311px;
    }

    .sprite-glyphicons_013_beach_umbrella-png {
        width: 25px;
        height: 25px;
        background-position: -622px -254px;
    }

    .sprite-glyphicons_014_train-png {
        width: 20px;
        height: 27px;
        background-position: -428px -601px;
    }

    .sprite-glyphicons_015_print-png {
        width: 24px;
        height: 24px;
        background-position: -245px -534px;
    }

    .sprite-glyphicons_016_bin-png {
        width: 20px;
        height: 28px;
        background-position: -643px -0px;
    }

    .sprite-glyphicons_017_music-png {
        width: 21px;
        height: 25px;
        background-position: -655px -344px;
    }

    .sprite-glyphicons_018_note-png {
        width: 18px;
        height: 25px;
        background-position: -738px -138px;
    }

    .sprite-glyphicons_019_cogwheel-png {
        width: 24px;
        height: 24px;
        background-position: -210px -534px;
    }

    .sprite-glyphicons_020_home-png {
        width: 27px;
        height: 26px;
        background-position: -577px -70px;
    }

    .sprite-glyphicons_021_snowflake-png {
        width: 28px;
        height: 28px;
        background-position: -214px -0px;
    }

    .sprite-glyphicons_022_fire-png {
        width: 20px;
        height: 26px;
        background-position: -675px -417px;
    }

    .sprite-glyphicons_023_cogwheels-png {
        width: 26px;
        height: 26px;
        background-position: -407px -143px;
    }

    .sprite-glyphicons_024_parents-png {
        width: 32px;
        height: 22px;
        background-position: -577px -38px;
    }

    .sprite-glyphicons_025_binoculars-png {
        width: 24px;
        height: 24px;
        background-position: -175px -534px;
    }

    .sprite-glyphicons_026_road-png {
        width: 28px;
        height: 24px;
        background-position: -144px -217px;
    }

    .sprite-glyphicons_027_search-png {
        width: 24px;
        height: 24px;
        background-position: -140px -534px;
    }

    .sprite-glyphicons_028_cars-png {
        width: 36px;
        height: 25px;
        background-position: -0px -0px;
    }

    .sprite-glyphicons_029_notes_2-png {
        width: 20px;
        height: 27px;
        background-position: -397px -601px;
    }

    .sprite-glyphicons_030_pencil-png {
        width: 25px;
        height: 25px;
        background-position: -586px -254px;
    }

    .sprite-glyphicons_031_bus-png {
        width: 32px;
        height: 25px;
        background-position: -171px -0px;
    }

    .sprite-glyphicons_032_wifi_alt-png {
        width: 26px;
        height: 26px;
        background-position: -370px -143px;
    }

    .sprite-glyphicons_033_luggage-png {
        width: 20px;
        height: 27px;
        background-position: -366px -601px;
    }

    .sprite-glyphicons_034_old_man-png {
        width: 23px;
        height: 24px;
        background-position: -205px -601px;
    }

    .sprite-glyphicons_035_woman-png {
        width: 22px;
        height: 22px;
        background-position: -703px -465px;
    }

    .sprite-glyphicons_036_file-png {
        width: 19px;
        height: 24px;
        background-position: -733px -67px;
    }

    .sprite-glyphicons_037_credit-png {
        width: 26px;
        height: 24px;
        background-position: -397px -290px;
    }

    .sprite-glyphicons_038_airplane-png {
        width: 24px;
        height: 25px;
        background-position: -141px -359px;
    }

    .sprite-glyphicons_039_notes-png {
        width: 20px;
        height: 25px;
        background-position: -707px -164px;
    }

    .sprite-glyphicons_040_stats-png {
        width: 26px;
        height: 25px;
        background-position: -144px -254px;
    }

    .sprite-glyphicons_041_charts-png {
        width: 27px;
        height: 24px;
        background-position: -329px -254px;
    }

    .sprite-glyphicons_042_pie_chart-png {
        width: 26px;
        height: 25px;
        background-position: -70px -254px;
    }

    .sprite-glyphicons_043_group-png {
        width: 35px;
        height: 22px;
        background-position: -253px -0px;
    }

    .sprite-glyphicons_044_keys-png {
        width: 24px;
        height: 26px;
        background-position: -362px -290px;
    }

    .sprite-glyphicons_045_calendar-png {
        width: 23px;
        height: 25px;
        background-position: -456px -534px;
    }

    .sprite-glyphicons_046_router-png {
        width: 27px;
        height: 26px;
        background-position: -319px -70px;
    }

    .sprite-glyphicons_047_camera_small-png {
        width: 22px;
        height: 24px;
        background-position: -659px -276px;
    }

    .sprite-glyphicons_048_dislikes-png {
        width: 26px;
        height: 24px;
        background-position: -325px -290px;
    }

    .sprite-glyphicons_049_star-png {
        width: 25px;
        height: 24px;
        background-position: -105px -359px;
    }

    .sprite-glyphicons_050_link-png {
        width: 21px;
        height: 23px;
        background-position: -703px -599px;
    }

    .sprite-glyphicons_051_eye_open-png {
        width: 31px;
        height: 17px;
        background-position: -0px -571px;
    }

    .sprite-glyphicons_052_eye_close-png {
        width: 31px;
        height: 24px;
        background-position: -373px -0px;
    }

    .sprite-glyphicons_053_alarm-png {
        width: 28px;
        height: 26px;
        background-position: -203px -38px;
    }

    .sprite-glyphicons_054_clock-png {
        width: 24px;
        height: 24px;
        background-position: -105px -534px;
    }

    .sprite-glyphicons_055_stopwatch-png {
        width: 23px;
        height: 27px;
        background-position: -586px -290px;
    }

    .sprite-glyphicons_056_projector-png {
        width: 28px;
        height: 25px;
        background-position: -615px -70px;
    }

    .sprite-glyphicons_057_history-png {
        width: 25px;
        height: 26px;
        background-position: -639px -217px;
    }

    .sprite-glyphicons_058_truck-png {
        width: 32px;
        height: 27px;
        background-position: -47px -0px;
    }

    .sprite-glyphicons_059_cargo-png {
        width: 25px;
        height: 26px;
        background-position: -603px -217px;
    }

    .sprite-glyphicons_060_compass-png {
        width: 24px;
        height: 24px;
        background-position: -70px -534px;
    }

    .sprite-glyphicons_061_keynote-png {
        width: 20px;
        height: 30px;
        background-position: -473px -323px;
    }

    .sprite-glyphicons_062_attach-png {
        width: 26px;
        height: 24px;
        background-position: -288px -290px;
    }

    .sprite-glyphicons_063_power-png {
        width: 22px;
        height: 24px;
        background-position: -675px -241px;
    }

    .sprite-glyphicons_064_lightbulb-png {
        width: 20px;
        height: 26px;
        background-position: -675px -380px;
    }

    .sprite-glyphicons_065_tag-png {
        width: 24px;
        height: 24px;
        background-position: -35px -534px;
    }

    .sprite-glyphicons_066_tags-png {
        width: 30px;
        height: 24px;
        background-position: -494px -38px;
    }

    .sprite-glyphicons_067_cleaning-png {
        width: 24px;
        height: 25px;
        background-position: -70px -359px;
    }

    .sprite-glyphicons_068_ruller-png {
        width: 27px;
        height: 14px;
        background-position: -214px -299px;
    }

    .sprite-glyphicons_069_gift-png {
        width: 24px;
        height: 25px;
        background-position: -35px -359px;
    }

    .sprite-glyphicons_070_umbrella-png {
        width: 26px;
        height: 28px;
        background-position: -166px -38px;
    }

    .sprite-glyphicons_071_book-png {
        width: 22px;
        height: 24px;
        background-position: -675px -206px;
    }

    .sprite-glyphicons_072_bookmark-png {
        width: 16px;
        height: 24px;
        background-position: -740px -564px;
    }

    .sprite-glyphicons_073_signal-png {
        width: 31px;
        height: 23px;
        background-position: -535px -38px;
    }

    .sprite-glyphicons_074_cup-png {
        width: 22px;
        height: 24px;
        background-position: -674px -171px;
    }

    .sprite-glyphicons_075_stroller-png {
        width: 25px;
        height: 26px;
        background-position: -567px -217px;
    }

    .sprite-glyphicons_076_headphones-png {
        width: 24px;
        height: 24px;
        background-position: -0px -534px;
    }

    .sprite-glyphicons_077_headset-png {
        width: 24px;
        height: 28px;
        background-position: -109px -217px;
    }

    .sprite-glyphicons_078_warning_sign-png {
        width: 29px;
        height: 24px;
        background-position: -160px -106px;
    }

    .sprite-glyphicons_079_signal-png {
        width: 24px;
        height: 24px;
        background-position: -630px -499px;
    }

    .sprite-glyphicons_080_retweet-png {
        width: 30px;
        height: 15px;
        background-position: -503px -668px;
    }

    .sprite-glyphicons_081_refresh-png {
        width: 25px;
        height: 26px;
        background-position: -531px -217px;
    }

    .sprite-glyphicons_082_roundabout-png {
        width: 27px;
        height: 27px;
        background-position: -605px -0px;
    }

    .sprite-glyphicons_083_random-png {
        width: 28px;
        height: 20px;
        background-position: -490px -567px;
    }

    .sprite-glyphicons_084_heat-png {
        width: 29px;
        height: 25px;
        background-position: -413px -38px;
    }

    .sprite-glyphicons_085_repeat-png {
        width: 24px;
        height: 26px;
        background-position: -253px -290px;
    }

    .sprite-glyphicons_086_display-png {
        width: 28px;
        height: 24px;
        background-position: -70px -217px;
    }

    .sprite-glyphicons_087_log_book-png {
        width: 22px;
        height: 24px;
        background-position: -674px -136px;
    }

    .sprite-glyphicons_088_adress_book-png {
        width: 22px;
        height: 24px;
        background-position: -654px -101px;
    }

    .sprite-glyphicons_089_magnet-png {
        width: 21px;
        height: 23px;
        background-position: -708px -565px;
    }

    .sprite-glyphicons_090_table-png {
        width: 24px;
        height: 24px;
        background-position: -595px -499px;
    }

    .sprite-glyphicons_091_adjust-png {
        width: 26px;
        height: 26px;
        background-position: -333px -143px;
    }

    .sprite-glyphicons_092_tint-png {
        width: 23px;
        height: 26px;
        background-position: -319px -359px;
    }

    .sprite-glyphicons_093_crop-png {
        width: 26px;
        height: 26px;
        background-position: -296px -143px;
    }

    .sprite-glyphicons_094_vector_path_square-png {
        width: 24px;
        height: 24px;
        background-position: -560px -499px;
    }

    .sprite-glyphicons_095_vector_path_circle-png {
        width: 24px;
        height: 24px;
        background-position: -525px -499px;
    }

    .sprite-glyphicons_096_vector_path_polygon-png {
        width: 26px;
        height: 25px;
        background-position: -494px -217px;
    }

    .sprite-glyphicons_097_vector_path_line-png {
        width: 24px;
        height: 24px;
        background-position: -490px -499px;
    }

    .sprite-glyphicons_098_vector_path_curve-png {
        width: 24px;
        height: 24px;
        background-position: -455px -499px;
    }

    .sprite-glyphicons_099_vector_path_all-png {
        width: 24px;
        height: 24px;
        background-position: -420px -499px;
    }

    .sprite-glyphicons_100_font-png {
        width: 27px;
        height: 23px;
        background-position: -548px -290px;
    }

    .sprite-glyphicons_101_italic-png {
        width: 14px;
        height: 24px;
        background-position: -315px -697px;
    }

    .sprite-glyphicons_102_bold-png {
        width: 19px;
        height: 24px;
        background-position: -740px -0px;
    }

    .sprite-glyphicons_103_text_underline-png {
        width: 20px;
        height: 24px;
        background-position: -442px -668px;
    }

    .sprite-glyphicons_104_text_strike-png {
        width: 20px;
        height: 22px;
        background-position: -731px -328px;
    }

    .sprite-glyphicons_105_text_height-png {
        width: 26px;
        height: 24px;
        background-position: -177px -290px;
    }

    .sprite-glyphicons_106_text_width-png {
        width: 22px;
        height: 24px;
        background-position: -664px -66px;
    }

    .sprite-glyphicons_107_text_resize-png {
        width: 26px;
        height: 26px;
        background-position: -259px -143px;
    }

    .sprite-glyphicons_108_left_indent-png {
        width: 24px;
        height: 22px;
        background-position: -674px -33px;
    }

    .sprite-glyphicons_109_right_indent-png {
        width: 24px;
        height: 22px;
        background-position: -674px -0px;
    }

    .sprite-glyphicons_110_align_left-png {
        width: 24px;
        height: 21px;
        background-position: -662px -661px;
    }

    .sprite-glyphicons_111_align_center-png {
        width: 24px;
        height: 21px;
        background-position: -558px -661px;
    }

    .sprite-glyphicons_112_align_right-png {
        width: 24px;
        height: 21px;
        background-position: -407px -661px;
    }

    .sprite-glyphicons_113_justify-png {
        width: 24px;
        height: 21px;
        background-position: -372px -661px;
    }

    .sprite-glyphicons_114_list-png {
        width: 24px;
        height: 21px;
        background-position: -337px -661px;
    }

    .sprite-glyphicons_115_text_smaller-png {
        width: 22px;
        height: 16px;
        background-position: -232px -697px;
    }

    .sprite-glyphicons_116_text_bigger-png {
        width: 24px;
        height: 22px;
        background-position: -627px -634px;
    }

    .sprite-glyphicons_117_embed-png {
        width: 30px;
        height: 14px;
        background-position: -73px -328px;
    }

    .sprite-glyphicons_118_embed_close-png {
        width: 30px;
        height: 24px;
        background-position: -453px -38px;
    }

    .sprite-glyphicons_119_adjust-png {
        width: 23px;
        height: 24px;
        background-position: -171px -601px;
    }

    .sprite-glyphicons_120_message_full-png {
        width: 24px;
        height: 28px;
        background-position: -35px -217px;
    }

    .sprite-glyphicons_121_message_empty-png {
        width: 24px;
        height: 28px;
        background-position: -0px -217px;
    }

    .sprite-glyphicons_122_message_in-png {
        width: 24px;
        height: 28px;
        background-position: -635px -178px;
    }

    .sprite-glyphicons_123_message_out-png {
        width: 24px;
        height: 28px;
        background-position: -600px -178px;
    }

    .sprite-glyphicons_124_message_plus-png {
        width: 29px;
        height: 23px;
        background-position: -263px -217px;
    }

    .sprite-glyphicons_125_message_minus-png {
        width: 29px;
        height: 23px;
        background-position: -223px -217px;
    }

    .sprite-glyphicons_126_message_ban-png {
        width: 29px;
        height: 23px;
        background-position: -183px -217px;
    }

    .sprite-glyphicons_127_message_flag-png {
        width: 27px;
        height: 23px;
        background-position: -510px -290px;
    }

    .sprite-glyphicons_128_message_lock-png {
        width: 28px;
        height: 24px;
        background-position: -561px -178px;
    }

    .sprite-glyphicons_129_message_new-png {
        width: 28px;
        height: 22px;
        background-position: -214px -323px;
    }

    .sprite-glyphicons_130_inbox-png {
        width: 24px;
        height: 23px;
        background-position: -136px -601px;
    }

    .sprite-glyphicons_131_inbox_plus-png {
        width: 27px;
        height: 27px;
        background-position: -567px -0px;
    }

    .sprite-glyphicons_132_inbox_minus-png {
        width: 27px;
        height: 27px;
        background-position: -529px -0px;
    }

    .sprite-glyphicons_133_inbox_lock-png {
        width: 26px;
        height: 28px;
        background-position: -129px -38px;
    }

    .sprite-glyphicons_134_inbox_in-png {
        width: 24px;
        height: 26px;
        background-position: -142px -290px;
    }

    .sprite-glyphicons_135_inbox_out-png {
        width: 24px;
        height: 26px;
        background-position: -107px -290px;
    }

    .sprite-glyphicons_136_computer_locked-png {
        width: 28px;
        height: 24px;
        background-position: -522px -178px;
    }

    .sprite-glyphicons_137_computer_service-png {
        width: 28px;
        height: 24px;
        background-position: -483px -178px;
    }

    .sprite-glyphicons_138_computer_proces-png {
        width: 28px;
        height: 24px;
        background-position: -444px -178px;
    }

    .sprite-glyphicons_139_phone-png {
        width: 15px;
        height: 25px;
        background-position: -735px -626px;
    }

    .sprite-glyphicons_140_database_lock-png {
        width: 26px;
        height: 28px;
        background-position: -39px -38px;
    }

    .sprite-glyphicons_141_database_plus-png {
        width: 27px;
        height: 27px;
        background-position: -491px -0px;
    }

    .sprite-glyphicons_142_database_minus-png {
        width: 27px;
        height: 27px;
        background-position: -453px -0px;
    }

    .sprite-glyphicons_143_database_ban-png {
        width: 26px;
        height: 27px;
        background-position: -282px -70px;
    }

    .sprite-glyphicons_144_folder_open-png {
        width: 30px;
        height: 22px;
        background-position: -344px -217px;
    }

    .sprite-glyphicons_145_folder_plus-png {
        width: 29px;
        height: 25px;
        background-position: -373px -38px;
    }

    .sprite-glyphicons_146_folder_minus-png {
        width: 29px;
        height: 25px;
        background-position: -242px -38px;
    }

    .sprite-glyphicons_147_folder_lock-png {
        width: 28px;
        height: 26px;
        background-position: -0px -38px;
    }

    .sprite-glyphicons_148_folder_flag-png {
        width: 27px;
        height: 25px;
        background-position: -558px -143px;
    }

    .sprite-glyphicons_149_folder_new-png {
        width: 28px;
        height: 24px;
        background-position: -635px -143px;
    }

    .sprite-glyphicons_150_check-png {
        width: 22px;
        height: 18px;
        background-position: -397px -328px;
    }

    .sprite-glyphicons_151_edit-png {
        width: 24px;
        height: 21px;
        background-position: -302px -661px;
    }

    .sprite-glyphicons_152_new_window-png {
        width: 26px;
        height: 22px;
        background-position: -564px -534px;
    }

    .sprite-glyphicons_153_more_windows-png {
        width: 23px;
        height: 23px;
        background-position: -527px -601px;
    }

    .sprite-glyphicons_154_show_big_thumbnails-png {
        width: 22px;
        height: 22px;
        background-position: -706px -432px;
    }

    .sprite-glyphicons_155_show_thumbnails-png {
        width: 22px;
        height: 22px;
        background-position: -706px -399px;
    }

    .sprite-glyphicons_156_show_thumbnails_with_lines-png {
        width: 24px;
        height: 15px;
        background-position: -35px -697px;
    }

    .sprite-glyphicons_157_show_lines-png {
        width: 24px;
        height: 15px;
        background-position: -0px -697px;
    }

    .sprite-glyphicons_158_playlist-png {
        width: 29px;
        height: 24px;
        background-position: -120px -106px;
    }

    .sprite-glyphicons_159_picture-png {
        width: 24px;
        height: 20px;
        background-position: -709px -36px;
    }

    .sprite-glyphicons_160_imac-png {
        width: 26px;
        height: 22px;
        background-position: -527px -534px;
    }

    .sprite-glyphicons_161_macbook-png {
        width: 28px;
        height: 15px;
        background-position: -253px -328px;
    }

    .sprite-glyphicons_162_ipad-png {
        width: 20px;
        height: 27px;
        background-position: -335px -601px;
    }

    .sprite-glyphicons_163_iphone-png {
        width: 14px;
        height: 24px;
        background-position: -290px -697px;
    }

    .sprite-glyphicons_164_iphone_transfer-png {
        width: 29px;
        height: 24px;
        background-position: -80px -106px;
    }

    .sprite-glyphicons_165_iphone_exchange-png {
        width: 29px;
        height: 24px;
        background-position: -40px -106px;
    }

    .sprite-glyphicons_166_ipod-png {
        width: 14px;
        height: 22px;
        background-position: -527px -697px;
    }

    .sprite-glyphicons_167_ipod_shuffle-png {
        width: 15px;
        height: 13px;
        background-position: -149px -726px;
    }

    .sprite-glyphicons_168_ear_plugs-png {
        width: 20px;
        height: 24px;
        background-position: -137px -668px;
    }

    .sprite-glyphicons_169_albums-png {
        width: 28px;
        height: 18px;
        background-position: -669px -567px;
    }

    .sprite-glyphicons_170_step_backward-png {
        width: 14px;
        height: 18px;
        background-position: -27px -726px;
    }

    .sprite-glyphicons_171_fast_backward-png {
        width: 25px;
        height: 18px;
        background-position: -0px -328px;
    }

    .sprite-glyphicons_172_rewind-png {
        width: 23px;
        height: 18px;
        background-position: -363px -328px;
    }

    .sprite-glyphicons_173_play-png {
        width: 16px;
        height: 18px;
        background-position: -662px -697px;
    }

    .sprite-glyphicons_174_pause-png {
        width: 10px;
        height: 16px;
        background-position: -175px -726px;
    }

    .sprite-glyphicons_175_stop-png {
        width: 14px;
        height: 14px;
        background-position: -124px -726px;
    }

    .sprite-glyphicons_176_forward-png {
        width: 23px;
        height: 18px;
        background-position: -329px -328px;
    }

    .sprite-glyphicons_177_fast_forward-png {
        width: 25px;
        height: 18px;
        background-position: -731px -299px;
    }

    .sprite-glyphicons_178_step_forward-png {
        width: 14px;
        height: 18px;
        background-position: -748px -697px;
    }

    .sprite-glyphicons_179_eject-png {
        width: 18px;
        height: 17px;
        background-position: -552px -697px;
    }

    .sprite-glyphicons_180_facetime_video-png {
        width: 24px;
        height: 16px;
        background-position: -575px -328px;
    }

    .sprite-glyphicons_181_download_alt-png {
        width: 24px;
        height: 24px;
        background-position: -385px -499px;
    }

    .sprite-glyphicons_182_mute-png {
        width: 22px;
        height: 16px;
        background-position: -199px -697px;
    }

    .sprite-glyphicons_183_volume_down-png {
        width: 16px;
        height: 16px;
        background-position: -0px -733px;
    }

    .sprite-glyphicons_184_volume_up-png {
        width: 24px;
        height: 26px;
        background-position: -72px -290px;
    }

    .sprite-glyphicons_185_screenshot-png {
        width: 27px;
        height: 27px;
        background-position: -415px -0px;
    }

    .sprite-glyphicons_186_move-png {
        width: 24px;
        height: 24px;
        background-position: -350px -499px;
    }

    .sprite-glyphicons_187_more-png {
        width: 22px;
        height: 7px;
        background-position: -0px -270px;
    }

    .sprite-glyphicons_188_brightness_reduce-png {
        width: 20px;
        height: 20px;
        background-position: -736px -533px;
    }

    .sprite-glyphicons_189_brightness_increase-png {
        width: 24px;
        height: 24px;
        background-position: -315px -499px;
    }

    .sprite-glyphicons_190_circle_plus-png {
        width: 26px;
        height: 26px;
        background-position: -222px -143px;
    }

    .sprite-glyphicons_191_circle_minus-png {
        width: 26px;
        height: 26px;
        background-position: -185px -143px;
    }

    .sprite-glyphicons_192_circle_remove-png {
        width: 26px;
        height: 26px;
        background-position: -148px -143px;
    }

    .sprite-glyphicons_193_circle_ok-png {
        width: 26px;
        height: 26px;
        background-position: -111px -143px;
    }

    .sprite-glyphicons_194_circle_question_mark-png {
        width: 26px;
        height: 26px;
        background-position: -74px -143px;
    }

    .sprite-glyphicons_195_circle_info-png {
        width: 26px;
        height: 26px;
        background-position: -37px -143px;
    }

    .sprite-glyphicons_196_circle_exclamation_mark-png {
        width: 26px;
        height: 26px;
        background-position: -0px -143px;
    }

    .sprite-glyphicons_197_remove-png {
        width: 26px;
        height: 26px;
        background-position: -615px -106px;
    }

    .sprite-glyphicons_198_ok-png {
        width: 26px;
        height: 26px;
        background-position: -578px -106px;
    }

    .sprite-glyphicons_199_ban-png {
        width: 26px;
        height: 26px;
        background-position: -541px -106px;
    }

    .sprite-glyphicons_200_download-png {
        width: 26px;
        height: 26px;
        background-position: -504px -106px;
    }

    .sprite-glyphicons_201_upload-png {
        width: 26px;
        height: 26px;
        background-position: -467px -106px;
    }

    .sprite-glyphicons_202_shopping_cart-png {
        width: 26px;
        height: 23px;
        background-position: -282px -359px;
    }

    .sprite-glyphicons_203_lock-png {
        width: 21px;
        height: 26px;
        background-position: -303px -601px;
    }

    .sprite-glyphicons_204_unlock-png {
        width: 21px;
        height: 26px;
        background-position: -271px -601px;
    }

    .sprite-glyphicons_205_electricity-png {
        width: 11px;
        height: 24px;
        background-position: -610px -697px;
    }

    .sprite-glyphicons_206_ok_2-png {
        width: 25px;
        height: 19px;
        background-position: -315px -399px;
    }

    .sprite-glyphicons_207_remove_2-png {
        width: 18px;
        height: 18px;
        background-position: -392px -697px;
    }

    .sprite-glyphicons_208_cart_out-png {
        width: 26px;
        height: 25px;
        background-position: -457px -217px;
    }

    .sprite-glyphicons_209_cart_in-png {
        width: 26px;
        height: 24px;
        background-position: -35px -290px;
    }

    .sprite-glyphicons_210_left_arrow-png {
        width: 20px;
        height: 18px;
        background-position: -168px -697px;
    }

    .sprite-glyphicons_211_right_arrow-png {
        width: 20px;
        height: 18px;
        background-position: -184px -328px;
    }

    .sprite-glyphicons_212_down_arrow-png {
        width: 18px;
        height: 20px;
        background-position: -95px -697px;
    }

    .sprite-glyphicons_213_up_arrow-png {
        width: 18px;
        height: 20px;
        background-position: -744px -35px;
    }

    .sprite-glyphicons_214_resize_small-png {
        width: 24px;
        height: 24px;
        background-position: -280px -499px;
    }

    .sprite-glyphicons_215_resize_full-png {
        width: 24px;
        height: 24px;
        background-position: -245px -499px;
    }

    .sprite-glyphicons_216_circle_arrow_left-png {
        width: 26px;
        height: 26px;
        background-position: -430px -106px;
    }

    .sprite-glyphicons_217_circle_arrow_right-png {
        width: 26px;
        height: 26px;
        background-position: -393px -106px;
    }

    .sprite-glyphicons_218_circle_arrow_top-png {
        width: 26px;
        height: 26px;
        background-position: -356px -106px;
    }

    .sprite-glyphicons_219_circle_arrow_down-png {
        width: 26px;
        height: 26px;
        background-position: -319px -106px;
    }

    .sprite-glyphicons_220_play_button-png {
        width: 26px;
        height: 26px;
        background-position: -237px -106px;
    }

    .sprite-glyphicons_221_unshare-png {
        width: 24px;
        height: 18px;
        background-position: -149px -328px;
    }

    .sprite-glyphicons_222_share-png {
        width: 24px;
        height: 18px;
        background-position: -114px -328px;
    }

    .sprite-glyphicons_223_thin_right_arrow-png {
        width: 15px;
        height: 22px;
        background-position: -366px -697px;
    }

    .sprite-glyphicons_224_thin_arrow_left-png {
        width: 15px;
        height: 22px;
        background-position: -340px -697px;
    }

    .sprite-glyphicons_225_bluetooth-png {
        width: 14px;
        height: 24px;
        background-position: -265px -697px;
    }

    .sprite-glyphicons_226_euro-png {
        width: 22px;
        height: 23px;
        background-position: -671px -522px;
    }

    .sprite-glyphicons_227_usd-png {
        width: 17px;
        height: 26px;
        background-position: -738px -174px;
    }

    .sprite-glyphicons_228_bp-png {
        width: 17px;
        height: 24px;
        background-position: -737px -467px;
    }

    .sprite-glyphicons_229_retweet_2-png {
        width: 33px;
        height: 21px;
        background-position: -620px -38px;
    }

    .sprite-glyphicons_230_moon-png {
        width: 22px;
        height: 25px;
        background-position: -642px -394px;
    }

    .sprite-glyphicons_231_sun-png {
        width: 24px;
        height: 24px;
        background-position: -210px -499px;
    }

    .sprite-glyphicons_232_cloud-png {
        width: 27px;
        height: 17px;
        background-position: -467px -366px;
    }

    .sprite-glyphicons_233_direction-png {
        width: 26px;
        height: 26px;
        background-position: -200px -106px;
    }

    .sprite-glyphicons_234_brush-png {
        width: 25px;
        height: 23px;
        background-position: -420px -534px;
    }

    .sprite-glyphicons_235_pen-png {
        width: 24px;
        height: 24px;
        background-position: -175px -499px;
    }

    .sprite-glyphicons_236_zoom_in-png {
        width: 25px;
        height: 25px;
        background-position: -550px -254px;
    }

    .sprite-glyphicons_237_zoom_out-png {
        width: 25px;
        height: 25px;
        background-position: -514px -254px;
    }

    .sprite-glyphicons_238_pin-png {
        width: 10px;
        height: 25px;
        background-position: -727px -697px;
    }

    .sprite-glyphicons_239_riflescope-png {
        width: 25px;
        height: 25px;
        background-position: -478px -254px;
    }

    .sprite-glyphicons_240_rotation_lock-png {
        width: 27px;
        height: 24px;
        background-position: -291px -254px;
    }

    .sprite-glyphicons_241_flash-png {
        width: 14px;
        height: 25px;
        background-position: -70px -697px;
    }

    .sprite-glyphicons_242_google_maps-png {
        width: 15px;
        height: 24px;
        background-position: -730px -662px;
    }

    .sprite-glyphicons_243_anchor-png {
        width: 24px;
        height: 25px;
        background-position: -0px -359px;
    }

    .sprite-glyphicons_244_conversation-png {
        width: 25px;
        height: 18px;
        background-position: -729px -270px;
    }

    .sprite-glyphicons_245_chat-png {
        width: 24px;
        height: 19px;
        background-position: -493px -399px;
    }

    .sprite-glyphicons_246_male-png {
        width: 22px;
        height: 22px;
        background-position: -706px -366px;
    }

    .sprite-glyphicons_247_female-png {
        width: 16px;
        height: 27px;
        background-position: -741px -211px;
    }

    .sprite-glyphicons_248_asterisk-png {
        width: 20px;
        height: 20px;
        background-position: -736px -502px;
    }

    .sprite-glyphicons_249_divide-png {
        width: 18px;
        height: 16px;
        background-position: -581px -697px;
    }

    .sprite-glyphicons_250_snorkel_diving-png {
        width: 27px;
        height: 25px;
        background-position: -520px -143px;
    }

    .sprite-glyphicons_251_scuba_diving-png {
        width: 27px;
        height: 24px;
        background-position: -253px -254px;
    }

    .sprite-glyphicons_252_oxygen_bottle-png {
        width: 22px;
        height: 27px;
        background-position: -504px -359px;
    }

    .sprite-glyphicons_253_fins-png {
        width: 31px;
        height: 27px;
        background-position: -129px -0px;
    }

    .sprite-glyphicons_254_fishes-png {
        width: 28px;
        height: 30px;
        background-position: -90px -0px;
    }

    .sprite-glyphicons_255_boat-png {
        width: 24px;
        height: 24px;
        background-position: -140px -499px;
    }

    .sprite-glyphicons_256_delete_point-png {
        width: 26px;
        height: 17px;
        background-position: -36px -328px;
    }

    .sprite-glyphicons_257_sheriffs_-star-png {
        width: 24px;
        height: 26px;
        background-position: -0px -290px;
    }

    .sprite-glyphicons_258_qrcode-png {
        width: 24px;
        height: 24px;
        background-position: -105px -499px;
    }

    .sprite-glyphicons_259_barcode-png {
        width: 24px;
        height: 24px;
        background-position: -70px -499px;
    }

    .sprite-glyphicons_260_pool-png {
        width: 24px;
        height: 24px;
        background-position: -35px -499px;
    }

    .sprite-glyphicons_261_buoy-png {
        width: 24px;
        height: 24px;
        background-position: -0px -499px;
    }

    .sprite-glyphicons_262_spade-png {
        width: 24px;
        height: 24px;
        background-position: -630px -464px;
    }

    .sprite-glyphicons_263_bank-png {
        width: 24px;
        height: 24px;
        background-position: -595px -464px;
    }

    .sprite-glyphicons_264_vcard-png {
        width: 22px;
        height: 24px;
        background-position: -594px -634px;
    }

    .sprite-glyphicons_265_electrical_plug-png {
        width: 18px;
        height: 25px;
        background-position: -738px -102px;
    }

    .sprite-glyphicons_266_flag-png {
        width: 21px;
        height: 26px;
        background-position: -239px -601px;
    }

    .sprite-glyphicons_267_credit_card-png {
        width: 26px;
        height: 19px;
        background-position: -694px -336px;
    }

    .sprite-glyphicons_268_keyboard_wireless-png {
        width: 27px;
        height: 19px;
        background-position: -665px -492px;
    }

    .sprite-glyphicons_269_keyboard_wired-png {
        width: 27px;
        height: 25px;
        background-position: -482px -143px;
    }

    .sprite-glyphicons_270_shield-png {
        width: 22px;
        height: 24px;
        background-position: -525px -634px;
    }

    .sprite-glyphicons_271_ring-png {
        width: 21px;
        height: 24px;
        background-position: -270px -661px;
    }

    .sprite-glyphicons_272_cake-png {
        width: 22px;
        height: 24px;
        background-position: -492px -634px;
    }

    .sprite-glyphicons_273_drink-png {
        width: 23px;
        height: 24px;
        background-position: -102px -601px;
    }

    .sprite-glyphicons_274_beer-png {
        width: 23px;
        height: 24px;
        background-position: -68px -601px;
    }

    .sprite-glyphicons_275_fast_food-png {
        width: 28px;
        height: 24px;
        background-position: -596px -143px;
    }

    .sprite-glyphicons_276_cutlery-png {
        width: 13px;
        height: 24px;
        background-position: -503px -697px;
    }

    .sprite-glyphicons_277_pizza-png {
        width: 26px;
        height: 29px;
        background-position: -336px -0px;
    }

    .sprite-glyphicons_278_birthday_cake-png {
        width: 26px;
        height: 29px;
        background-position: -299px -0px;
    }

    .sprite-glyphicons_279_tablet-png {
        width: 25px;
        height: 25px;
        background-position: -442px -254px;
    }

    .sprite-glyphicons_280_settings-png {
        width: 24px;
        height: 24px;
        background-position: -560px -464px;
    }

    .sprite-glyphicons_281_bullets-png {
        width: 27px;
        height: 23px;
        background-position: -472px -290px;
    }

    .sprite-glyphicons_282_cardio-png {
        width: 25px;
        height: 26px;
        background-position: -421px -217px;
    }

    .sprite-glyphicons_283_t-shirt-png {
        width: 28px;
        height: 23px;
        background-position: -367px -254px;
    }

    .sprite-glyphicons_284_pants-png {
        width: 19px;
        height: 24px;
        background-position: -697px -668px;
    }

    .sprite-glyphicons_285_sweater-png {
        width: 29px;
        height: 24px;
        background-position: -0px -106px;
    }

    .sprite-glyphicons_286_fabric-png {
        width: 27px;
        height: 22px;
        background-position: -429px -359px;
    }

    .sprite-glyphicons_287_leather-png {
        width: 23px;
        height: 24px;
        background-position: -34px -601px;
    }

    .sprite-glyphicons_288_scissors-png {
        width: 24px;
        height: 27px;
        background-position: -218px -254px;
    }

    .sprite-glyphicons_289_podium-png {
        width: 28px;
        height: 21px;
        background-position: -537px -359px;
    }

    .sprite-glyphicons_290_skull-png {
        width: 22px;
        height: 24px;
        background-position: -459px -634px;
    }

    .sprite-glyphicons_291_celebration-png {
        width: 24px;
        height: 25px;
        background-position: -620px -323px;
    }

    .sprite-glyphicons_292_tea_kettle-png {
        width: 26px;
        height: 23px;
        background-position: -245px -359px;
    }

    .sprite-glyphicons_293_french_press-png {
        width: 23px;
        height: 25px;
        background-position: -386px -534px;
    }

    .sprite-glyphicons_294_coffe_cup-png {
        width: 25px;
        height: 19px;
        background-position: -210px -399px;
    }

    .sprite-glyphicons_295_pot-png {
        width: 27px;
        height: 22px;
        background-position: -391px -359px;
    }

    .sprite-glyphicons_296_grater-png {
        width: 18px;
        height: 24px;
        background-position: -739px -361px;
    }

    .sprite-glyphicons_297_kettle-png {
        width: 23px;
        height: 24px;
        background-position: -0px -601px;
    }

    .sprite-glyphicons_298_hospital-png {
        width: 24px;
        height: 24px;
        background-position: -525px -464px;
    }

    .sprite-glyphicons_299_hospital_h-png {
        width: 24px;
        height: 24px;
        background-position: -490px -464px;
    }

    .sprite-glyphicons_300_microphone-png {
        width: 17px;
        height: 24px;
        background-position: -739px -432px;
    }

    .sprite-glyphicons_301_webcam-png {
        width: 19px;
        height: 24px;
        background-position: -632px -668px;
    }

    .sprite-glyphicons_302_temple_christianity_church-png {
        width: 24px;
        height: 25px;
        background-position: -540px -323px;
    }

    .sprite-glyphicons_303_temple_islam-png {
        width: 25px;
        height: 24px;
        background-position: -504px -323px;
    }

    .sprite-glyphicons_304_temple_hindu-png {
        width: 24px;
        height: 24px;
        background-position: -455px -464px;
    }

    .sprite-glyphicons_305_temple_buddhist-png {
        width: 28px;
        height: 22px;
        background-position: -620px -290px;
    }

    .sprite-glyphicons_306_electrical_socket_eu-png {
        width: 23px;
        height: 23px;
        background-position: -493px -601px;
    }

    .sprite-glyphicons_307_electrical_socket_us-png {
        width: 23px;
        height: 23px;
        background-position: -459px -601px;
    }

    .sprite-glyphicons_308_bomb-png {
        width: 27px;
        height: 26px;
        background-position: -76px -70px;
    }

    .sprite-glyphicons_309_comments-png {
        width: 24px;
        height: 23px;
        background-position: -634px -567px;
    }

    .sprite-glyphicons_310_flower-png {
        width: 19px;
        height: 25px;
        background-position: -473px -668px;
    }

    .sprite-glyphicons_311_baseball-png {
        width: 25px;
        height: 26px;
        background-position: -385px -217px;
    }

    .sprite-glyphicons_312_rugby-png {
        width: 23px;
        height: 24px;
        background-position: -563px -567px;
    }

    .sprite-glyphicons_313_ax-png {
        width: 27px;
        height: 25px;
        background-position: -444px -143px;
    }

    .sprite-glyphicons_314_table_tennis-png {
        width: 24px;
        height: 24px;
        background-position: -420px -464px;
    }

    .sprite-glyphicons_315_bowling-png {
        width: 24px;
        height: 24px;
        background-position: -385px -464px;
    }

    .sprite-glyphicons_316_tree_conifer-png {
        width: 21px;
        height: 24px;
        background-position: -238px -661px;
    }

    .sprite-glyphicons_317_tree_deciduous-png {
        width: 20px;
        height: 25px;
        background-position: -707px -128px;
    }

    .sprite-glyphicons_318_more-items-png {
        width: 21px;
        height: 24px;
        background-position: -206px -661px;
    }

    .sprite-glyphicons_319_sort-png {
        width: 25px;
        height: 25px;
        background-position: -406px -254px;
    }

    .sprite-glyphicons_320_filter-png {
        width: 20px;
        height: 24px;
        background-position: -699px -633px;
    }

    .sprite-glyphicons_321_gamepad-png {
        width: 27px;
        height: 19px;
        background-position: -319px -39px;
    }

    .sprite-glyphicons_322_playing_dices-png {
        width: 27px;
        height: 23px;
        background-position: -434px -290px;
    }

    .sprite-glyphicons_323_calculator-png {
        width: 21px;
        height: 24px;
        background-position: -105px -661px;
    }

    .sprite-glyphicons_324_tie-png {
        width: 11px;
        height: 26px;
        background-position: -421px -697px;
    }

    .sprite-glyphicons_325_wallet-png {
        width: 25px;
        height: 20px;
        background-position: -697px -97px;
    }

    .sprite-glyphicons_326_share-png {
        width: 22px;
        height: 22px;
        background-position: -708px -237px;
    }

    .sprite-glyphicons_327_sampler-png {
        width: 27px;
        height: 22px;
        background-position: -353px -359px;
    }

    .sprite-glyphicons_328_piano-png {
        width: 23px;
        height: 24px;
        background-position: -529px -567px;
    }

    .sprite-glyphicons_329_web_browser-png {
        width: 24px;
        height: 22px;
        background-position: -136px -634px;
    }

    .sprite-glyphicons_330_blog-png {
        width: 21px;
        height: 23px;
        background-position: -704px -531px;
    }

    .sprite-glyphicons_331_dashboard-png {
        width: 24px;
        height: 24px;
        background-position: -350px -464px;
    }

    .sprite-glyphicons_332_certificate-png {
        width: 17px;
        height: 25px;
        background-position: -739px -396px;
    }

    .sprite-glyphicons_333_bell-png {
        width: 24px;
        height: 24px;
        background-position: -315px -464px;
    }

    .sprite-glyphicons_334_candle-png {
        width: 20px;
        height: 25px;
        background-position: -709px -0px;
    }

    .sprite-glyphicons_335_pin_classic-png {
        width: 24px;
        height: 24px;
        background-position: -280px -464px;
    }

    .sprite-glyphicons_336_iphone_shake-png {
        width: 24px;
        height: 24px;
        background-position: -245px -464px;
    }

    .sprite-glyphicons_337_pin_flag-png {
        width: 30px;
        height: 22px;
        background-position: -303px -217px;
    }

    .sprite-glyphicons_338_turtle-png {
        width: 28px;
        height: 16px;
        background-position: -593px -668px;
    }

    .sprite-glyphicons_339_rabbit-png {
        width: 26px;
        height: 22px;
        background-position: -490px -534px;
    }

    .sprite-glyphicons_340_globe-png {
        width: 24px;
        height: 24px;
        background-position: -210px -464px;
    }

    .sprite-glyphicons_341_briefcase-png {
        width: 24px;
        height: 21px;
        background-position: -171px -661px;
    }

    .sprite-glyphicons_342_hdd-png {
        width: 24px;
        height: 21px;
        background-position: -70px -661px;
    }

    .sprite-glyphicons_343_thumbs_up-png {
        width: 24px;
        height: 21px;
        background-position: -35px -661px;
    }

    .sprite-glyphicons_344_thumbs_down-png {
        width: 24px;
        height: 21px;
        background-position: -0px -661px;
    }

    .sprite-glyphicons_345_hand_right-png {
        width: 26px;
        height: 19px;
        background-position: -694px -306px;
    }

    .sprite-glyphicons_346_hand_left-png {
        width: 26px;
        height: 19px;
        background-position: -692px -276px;
    }

    .sprite-glyphicons_347_hand_up-png {
        width: 19px;
        height: 26px;
        background-position: -708px -200px;
    }

    .sprite-glyphicons_348_hand_down-png {
        width: 19px;
        height: 27px;
        background-position: -665px -454px;
    }

    .sprite-glyphicons_349_fullscreen-png {
        width: 24px;
        height: 24px;
        background-position: -175px -464px;
    }

    .sprite-glyphicons_350_shopping_bag-png {
        width: 23px;
        height: 26px;
        background-position: -211px -359px;
    }

    .sprite-glyphicons_351_book_open-png {
        width: 25px;
        height: 23px;
        background-position: -350px -534px;
    }

    .sprite-glyphicons_352_nameplate-png {
        width: 24px;
        height: 21px;
        background-position: -664px -629px;
    }

    .sprite-glyphicons_353_nameplate_alt-png {
        width: 24px;
        height: 22px;
        background-position: -629px -601px;
    }

    .sprite-glyphicons_354_vases-png {
        width: 24px;
        height: 24px;
        background-position: -140px -464px;
    }

    .sprite-glyphicons_355_announcement-png {
        width: 25px;
        height: 20px;
        background-position: -697px -66px;
    }

    .sprite-glyphicons_356_dumbbell-png {
        width: 26px;
        height: 16px;
        background-position: -292px -328px;
    }

    .sprite-glyphicons_357_suitcase-png {
        width: 24px;
        height: 22px;
        background-position: -594px -601px;
    }

    .sprite-glyphicons_358_file_import-png {
        width: 22px;
        height: 24px;
        background-position: -561px -601px;
    }

    .sprite-glyphicons_359_file_export-png {
        width: 23px;
        height: 24px;
        background-position: -420px -567px;
    }

    .sprite-glyphicons_360_pinterest-png {
        width: 24px;
        height: 24px;
        background-position: -105px -464px;
    }

    .sprite-glyphicons_361_dropbox-png {
        width: 24px;
        height: 24px;
        background-position: -70px -464px;
    }

    .sprite-glyphicons_362_google__alt-png {
        width: 24px;
        height: 24px;
        background-position: -35px -464px;
    }

    .sprite-glyphicons_363_jolicloud-png {
        width: 24px;
        height: 24px;
        background-position: -0px -464px;
    }

    .sprite-glyphicons_364_yahoo-png {
        width: 24px;
        height: 24px;
        background-position: -630px -429px;
    }

    .sprite-glyphicons_365_blogger-png {
        width: 24px;
        height: 24px;
        background-position: -595px -429px;
    }

    .sprite-glyphicons_366_picasa-png {
        width: 24px;
        height: 24px;
        background-position: -560px -429px;
    }

    .sprite-glyphicons_367_amazon-png {
        width: 24px;
        height: 24px;
        background-position: -525px -429px;
    }

    .sprite-glyphicons_368_tumblr-png {
        width: 24px;
        height: 24px;
        background-position: -490px -429px;
    }

    .sprite-glyphicons_369_wordpress-png {
        width: 24px;
        height: 24px;
        background-position: -455px -429px;
    }

    .sprite-glyphicons_370_instapaper-png {
        width: 24px;
        height: 24px;
        background-position: -420px -429px;
    }

    .sprite-glyphicons_371_evernote-png {
        width: 24px;
        height: 24px;
        background-position: -385px -429px;
    }

    .sprite-glyphicons_372_xing-png {
        width: 24px;
        height: 24px;
        background-position: -350px -429px;
    }

    .sprite-glyphicons_373_zootool-png {
        width: 24px;
        height: 24px;
        background-position: -315px -429px;
    }

    .sprite-glyphicons_374_dribbble-png {
        width: 24px;
        height: 24px;
        background-position: -280px -429px;
    }

    .sprite-glyphicons_375_deviantart-png {
        width: 24px;
        height: 24px;
        background-position: -245px -429px;
    }

    .sprite-glyphicons_376_read_it_later-png {
        width: 24px;
        height: 24px;
        background-position: -210px -429px;
    }

    .sprite-glyphicons_377_linked_in-png {
        width: 24px;
        height: 24px;
        background-position: -175px -429px;
    }

    .sprite-glyphicons_378_forrst-png {
        width: 24px;
        height: 24px;
        background-position: -140px -429px;
    }

    .sprite-glyphicons_379_pinboard-png {
        width: 24px;
        height: 24px;
        background-position: -105px -429px;
    }

    .sprite-glyphicons_380_behance-png {
        width: 24px;
        height: 24px;
        background-position: -70px -429px;
    }

    .sprite-glyphicons_381_github-png {
        width: 24px;
        height: 24px;
        background-position: -35px -429px;
    }

    .sprite-glyphicons_382_youtube-png {
        width: 24px;
        height: 24px;
        background-position: -0px -429px;
    }

    .sprite-glyphicons_383_skitch-png {
        width: 24px;
        height: 24px;
        background-position: -607px -394px;
    }

    .sprite-glyphicons_384_4square-png {
        width: 24px;
        height: 24px;
        background-position: -572px -394px;
    }

    .sprite-glyphicons_385_quora-png {
        width: 24px;
        height: 24px;
        background-position: -537px -394px;
    }

    .sprite-glyphicons_386_google_plus-png {
        width: 24px;
        height: 24px;
        background-position: -458px -394px;
    }

    .sprite-glyphicons_387_spootify-png {
        width: 24px;
        height: 24px;
        background-position: -423px -394px;
    }

    .sprite-glyphicons_388_stumbleupon-png {
        width: 24px;
        height: 24px;
        background-position: -388px -394px;
    }

    .sprite-glyphicons_389_readability-png {
        width: 24px;
        height: 24px;
        background-position: -353px -394px;
    }

    .sprite-glyphicons_390_facebook-png {
        width: 24px;
        height: 24px;
        background-position: -280px -394px;
    }

    .sprite-glyphicons_391_twitter_t-png {
        width: 24px;
        height: 24px;
        background-position: -245px -394px;
    }

    .sprite-glyphicons_392_twitter-png {
        width: 24px;
        height: 24px;
        background-position: -175px -394px;
    }

    .sprite-glyphicons_393_buzz-png {
        width: 24px;
        height: 24px;
        background-position: -140px -394px;
    }

    .sprite-glyphicons_394_vimeo-png {
        width: 24px;
        height: 24px;
        background-position: -105px -394px;
    }

    .sprite-glyphicons_395_flickr-png {
        width: 24px;
        height: 24px;
        background-position: -70px -394px;
    }

    .sprite-glyphicons_396_last_fm-png {
        width: 24px;
        height: 24px;
        background-position: -35px -394px;
    }

    .sprite-glyphicons_397_rss-png {
        width: 24px;
        height: 24px;
        background-position: -0px -394px;
    }

    .sprite-glyphicons_398_skype-png {
        width: 24px;
        height: 24px;
        background-position: -611px -359px;
    }

    .sprite-glyphicons_399_e-mail-png {
        width: 24px;
        height: 24px;
        background-position: -576px -359px;
    }
}