.glyphicon-sprite {
    background: url(/static/images/glyphicons.png) no-repeat;

    &.sprite-glyphicon_000_glass-png {
        width: 24px;
        height: 24px;
        background-position: -315px -534px;
    }

    &.sprite-glyphicon_001_leaf-png {
        width: 24px;
        height: 25px;
        background-position: -176px -359px;
    }

    &.sprite-glyphicon_002_dog-png {
        width: 26px;
        height: 25px;
        background-position: -181px -254px;
    }

    &.sprite-glyphicon_003_user-png {
        width: 23px;
        height: 22px;
        background-position: -669px -596px;
    }

    &.sprite-glyphicon_004_girl-png {
        width: 22px;
        height: 22px;
        background-position: -704px -498px;
    }

    &.sprite-glyphicon_005_car-png {
        width: 26px;
        height: 22px;
        background-position: -350px -567px;
    }

    &.sprite-glyphicon_006_user_add-png {
        width: 28px;
        height: 22px;
        background-position: -434px -323px;
    }

    &.sprite-glyphicon_007_user_remove-png {
        width: 26px;
        height: 22px;
        background-position: -634px -534px;
    }

    &.sprite-glyphicon_008_film-png {
        width: 22px;
        height: 26px;
        background-position: -601px -534px;
    }

    &.sprite-glyphicon_009_magic-png {
        width: 24px;
        height: 24px;
        background-position: -280px -534px;
    }

    &.sprite-glyphicon_010_envelope-png {
        width: 24px;
        height: 16px;
        background-position: -735px -599px;
    }

    &.sprite-glyphicon_011_camera-png {
        width: 26px;
        height: 20px;
        background-position: -282px -39px;
    }

    &.sprite-glyphicon_012_heart-png {
        width: 24px;
        height: 22px;
        background-position: -659px -311px;
    }

    &.sprite-glyphicon_013_beach_umbrella-png {
        width: 25px;
        height: 25px;
        background-position: -622px -254px;
    }

    &.sprite-glyphicon_014_train-png {
        width: 20px;
        height: 27px;
        background-position: -428px -601px;
    }

    &.sprite-glyphicon_015_print-png {
        width: 24px;
        height: 24px;
        background-position: -245px -534px;
    }

    &.sprite-glyphicon_016_bin-png {
        width: 20px;
        height: 28px;
        background-position: -643px -0px;
    }

    &.sprite-glyphicon_017_music-png {
        width: 21px;
        height: 25px;
        background-position: -655px -344px;
    }

    &.sprite-glyphicon_018_note-png {
        width: 18px;
        height: 25px;
        background-position: -738px -138px;
    }

    &.sprite-glyphicon_019_cogwheel-png {
        width: 24px;
        height: 24px;
        background-position: -210px -534px;
    }

    &.sprite-glyphicon_020_home-png {
        width: 27px;
        height: 26px;
        background-position: -577px -70px;
    }

    &.sprite-glyphicon_021_snowflake-png {
        width: 28px;
        height: 28px;
        background-position: -214px -0px;
    }

    &.sprite-glyphicon_022_fire-png {
        width: 20px;
        height: 26px;
        background-position: -675px -417px;
    }

    &.sprite-glyphicon_023_cogwheels-png {
        width: 26px;
        height: 26px;
        background-position: -407px -143px;
    }

    &.sprite-glyphicon_024_parents-png {
        width: 32px;
        height: 22px;
        background-position: -577px -38px;
    }

    &.sprite-glyphicon_025_binoculars-png {
        width: 24px;
        height: 24px;
        background-position: -175px -534px;
    }

    &.sprite-glyphicon_026_road-png {
        width: 28px;
        height: 24px;
        background-position: -144px -217px;
    }

    &.sprite-glyphicon_027_search-png {
        width: 24px;
        height: 24px;
        background-position: -140px -534px;
    }

    &.sprite-glyphicon_028_cars-png {
        width: 36px;
        height: 25px;
        background-position: -0px -0px;
    }

    &.sprite-glyphicon_029_notes_2-png {
        width: 20px;
        height: 27px;
        background-position: -397px -601px;
    }

    &.sprite-glyphicon_030_pencil-png {
        width: 25px;
        height: 25px;
        background-position: -586px -254px;
    }

    &.sprite-glyphicon_031_bus-png {
        width: 32px;
        height: 25px;
        background-position: -171px -0px;
    }

    &.sprite-glyphicon_032_wifi_alt-png {
        width: 26px;
        height: 26px;
        background-position: -370px -143px;
    }

    &.sprite-glyphicon_033_luggage-png {
        width: 20px;
        height: 27px;
        background-position: -366px -601px;
    }

    &.sprite-glyphicon_034_old_man-png {
        width: 23px;
        height: 24px;
        background-position: -205px -601px;
    }

    &.sprite-glyphicon_035_woman-png {
        width: 22px;
        height: 22px;
        background-position: -703px -465px;
    }

    &.sprite-glyphicon_036_file-png {
        width: 19px;
        height: 24px;
        background-position: -733px -67px;
    }

    &.sprite-glyphicon_037_credit-png {
        width: 26px;
        height: 24px;
        background-position: -397px -290px;
    }

    &.sprite-glyphicon_038_airplane-png {
        width: 24px;
        height: 25px;
        background-position: -141px -359px;
    }

    &.sprite-glyphicon_039_notes-png {
        width: 20px;
        height: 25px;
        background-position: -707px -164px;
    }

    &.sprite-glyphicon_040_stats-png {
        width: 26px;
        height: 25px;
        background-position: -144px -254px;
    }

    &.sprite-glyphicon_041_charts-png {
        width: 27px;
        height: 24px;
        background-position: -329px -254px;
    }

    &.sprite-glyphicon_042_pie_chart-png {
        width: 26px;
        height: 25px;
        background-position: -70px -254px;
    }

    &.sprite-glyphicon_043_group-png {
        width: 35px;
        height: 22px;
        background-position: -253px -0px;
    }

    &.sprite-glyphicon_044_keys-png {
        width: 24px;
        height: 26px;
        background-position: -362px -290px;
    }

    &.sprite-glyphicon_045_calendar-png {
        width: 23px;
        height: 25px;
        background-position: -456px -534px;
    }

    &.sprite-glyphicon_046_router-png {
        width: 27px;
        height: 26px;
        background-position: -319px -70px;
    }

    &.sprite-glyphicon_047_camera_small-png {
        width: 22px;
        height: 24px;
        background-position: -659px -276px;
    }

    &.sprite-glyphicon_048_dislikes-png {
        width: 26px;
        height: 24px;
        background-position: -325px -290px;
    }

    &.sprite-glyphicon_049_star-png {
        width: 25px;
        height: 24px;
        background-position: -105px -359px;
    }

    &.sprite-glyphicon_050_link-png {
        width: 21px;
        height: 23px;
        background-position: -703px -599px;
    }

    &.sprite-glyphicon_051_eye_open-png {
        width: 31px;
        height: 17px;
        background-position: -0px -571px;
    }

    &.sprite-glyphicon_052_eye_close-png {
        width: 31px;
        height: 24px;
        background-position: -373px -0px;
    }

    &.sprite-glyphicon_053_alarm-png {
        width: 28px;
        height: 26px;
        background-position: -203px -38px;
    }

    &.sprite-glyphicon_054_clock-png {
        width: 24px;
        height: 24px;
        background-position: -105px -534px;
    }

    &.sprite-glyphicon_055_stopwatch-png {
        width: 23px;
        height: 27px;
        background-position: -586px -290px;
    }

    &.sprite-glyphicon_056_projector-png {
        width: 28px;
        height: 25px;
        background-position: -615px -70px;
    }

    &.sprite-glyphicon_057_history-png {
        width: 25px;
        height: 26px;
        background-position: -639px -217px;
    }

    &.sprite-glyphicon_058_truck-png {
        width: 32px;
        height: 27px;
        background-position: -47px -0px;
    }

    &.sprite-glyphicon_059_cargo-png {
        width: 25px;
        height: 26px;
        background-position: -603px -217px;
    }

    &.sprite-glyphicon_060_compass-png {
        width: 24px;
        height: 24px;
        background-position: -70px -534px;
    }

    &.sprite-glyphicon_061_keynote-png {
        width: 20px;
        height: 30px;
        background-position: -473px -323px;
    }

    &.sprite-glyphicon_062_attach-png {
        width: 26px;
        height: 24px;
        background-position: -288px -290px;
    }

    &.sprite-glyphicon_063_power-png {
        width: 22px;
        height: 24px;
        background-position: -675px -241px;
    }

    &.sprite-glyphicon_064_lightbulb-png {
        width: 20px;
        height: 26px;
        background-position: -675px -380px;
    }

    &.sprite-glyphicon_065_tag-png {
        width: 24px;
        height: 24px;
        background-position: -35px -534px;
    }

    &.sprite-glyphicon_066_tags-png {
        width: 30px;
        height: 24px;
        background-position: -494px -38px;
    }

    &.sprite-glyphicon_067_cleaning-png {
        width: 24px;
        height: 25px;
        background-position: -70px -359px;
    }

    &.sprite-glyphicon_068_ruller-png {
        width: 27px;
        height: 14px;
        background-position: -214px -299px;
    }

    &.sprite-glyphicon_069_gift-png {
        width: 24px;
        height: 25px;
        background-position: -35px -359px;
    }

    &.sprite-glyphicon_070_umbrella-png {
        width: 26px;
        height: 28px;
        background-position: -166px -38px;
    }

    &.sprite-glyphicon_071_book-png {
        width: 22px;
        height: 24px;
        background-position: -675px -206px;
    }

    &.sprite-glyphicon_072_bookmark-png {
        width: 16px;
        height: 24px;
        background-position: -740px -564px;
    }

    &.sprite-glyphicon_073_signal-png {
        width: 31px;
        height: 23px;
        background-position: -535px -38px;
    }

    &.sprite-glyphicon_074_cup-png {
        width: 22px;
        height: 24px;
        background-position: -674px -171px;
    }

    &.sprite-glyphicon_075_stroller-png {
        width: 25px;
        height: 26px;
        background-position: -567px -217px;
    }

    &.sprite-glyphicon_076_headphones-png {
        width: 24px;
        height: 24px;
        background-position: -0px -534px;
    }

    &.sprite-glyphicon_077_headset-png {
        width: 24px;
        height: 28px;
        background-position: -109px -217px;
    }

    &.sprite-glyphicon_078_warning_sign-png {
        width: 29px;
        height: 24px;
        background-position: -160px -106px;
    }

    &.sprite-glyphicon_079_signal-png {
        width: 24px;
        height: 24px;
        background-position: -630px -499px;
    }

    &.sprite-glyphicon_080_retweet-png {
        width: 30px;
        height: 15px;
        background-position: -503px -668px;
    }

    &.sprite-glyphicon_081_refresh-png {
        width: 25px;
        height: 26px;
        background-position: -531px -217px;
    }

    &.sprite-glyphicon_082_roundabout-png {
        width: 27px;
        height: 27px;
        background-position: -605px -0px;
    }

    &.sprite-glyphicon_083_random-png {
        width: 28px;
        height: 20px;
        background-position: -490px -567px;
    }

    &.sprite-glyphicon_084_heat-png {
        width: 29px;
        height: 25px;
        background-position: -413px -38px;
    }

    &.sprite-glyphicon_085_repeat-png {
        width: 24px;
        height: 26px;
        background-position: -253px -290px;
    }

    &.sprite-glyphicon_086_display-png {
        width: 28px;
        height: 24px;
        background-position: -70px -217px;
    }

    &.sprite-glyphicon_087_log_book-png {
        width: 22px;
        height: 24px;
        background-position: -674px -136px;
    }

    &.sprite-glyphicon_088_adress_book-png {
        width: 22px;
        height: 24px;
        background-position: -654px -101px;
    }

    &.sprite-glyphicon_089_magnet-png {
        width: 21px;
        height: 23px;
        background-position: -708px -565px;
    }

    &.sprite-glyphicon_090_table-png {
        width: 24px;
        height: 24px;
        background-position: -595px -499px;
    }

    &.sprite-glyphicon_091_adjust-png {
        width: 26px;
        height: 26px;
        background-position: -333px -143px;
    }

    &.sprite-glyphicon_092_tint-png {
        width: 23px;
        height: 26px;
        background-position: -319px -359px;
    }

    &.sprite-glyphicon_093_crop-png {
        width: 26px;
        height: 26px;
        background-position: -296px -143px;
    }

    &.sprite-glyphicon_094_vector_path_square-png {
        width: 24px;
        height: 24px;
        background-position: -560px -499px;
    }

    &.sprite-glyphicon_095_vector_path_circle-png {
        width: 24px;
        height: 24px;
        background-position: -525px -499px;
    }

    &.sprite-glyphicon_096_vector_path_polygon-png {
        width: 26px;
        height: 25px;
        background-position: -494px -217px;
    }

    &.sprite-glyphicon_097_vector_path_line-png {
        width: 24px;
        height: 24px;
        background-position: -490px -499px;
    }

    &.sprite-glyphicon_098_vector_path_curve-png {
        width: 24px;
        height: 24px;
        background-position: -455px -499px;
    }

    &.sprite-glyphicon_099_vector_path_all-png {
        width: 24px;
        height: 24px;
        background-position: -420px -499px;
    }

    &.sprite-glyphicon_100_font-png {
        width: 27px;
        height: 23px;
        background-position: -548px -290px;
    }

    &.sprite-glyphicon_101_italic-png {
        width: 14px;
        height: 24px;
        background-position: -315px -697px;
    }

    &.sprite-glyphicon_102_bold-png {
        width: 19px;
        height: 24px;
        background-position: -740px -0px;
    }

    &.sprite-glyphicon_103_text_underline-png {
        width: 20px;
        height: 24px;
        background-position: -442px -668px;
    }

    &.sprite-glyphicon_104_text_strike-png {
        width: 20px;
        height: 22px;
        background-position: -731px -328px;
    }

    &.sprite-glyphicon_105_text_height-png {
        width: 26px;
        height: 24px;
        background-position: -177px -290px;
    }

    &.sprite-glyphicon_106_text_width-png {
        width: 22px;
        height: 24px;
        background-position: -664px -66px;
    }

    &.sprite-glyphicon_107_text_resize-png {
        width: 26px;
        height: 26px;
        background-position: -259px -143px;
    }

    &.sprite-glyphicon_108_left_indent-png {
        width: 24px;
        height: 22px;
        background-position: -674px -33px;
    }

    &.sprite-glyphicon_109_right_indent-png {
        width: 24px;
        height: 22px;
        background-position: -674px -0px;
    }

    &.sprite-glyphicon_110_align_left-png {
        width: 24px;
        height: 21px;
        background-position: -662px -661px;
    }

    &.sprite-glyphicon_111_align_center-png {
        width: 24px;
        height: 21px;
        background-position: -558px -661px;
    }

    &.sprite-glyphicon_112_align_right-png {
        width: 24px;
        height: 21px;
        background-position: -407px -661px;
    }

    &.sprite-glyphicon_113_justify-png {
        width: 24px;
        height: 21px;
        background-position: -372px -661px;
    }

    &.sprite-glyphicon_114_list-png {
        width: 24px;
        height: 21px;
        background-position: -337px -661px;
    }

    &.sprite-glyphicon_115_text_smaller-png {
        width: 22px;
        height: 16px;
        background-position: -232px -697px;
    }

    &.sprite-glyphicon_116_text_bigger-png {
        width: 24px;
        height: 22px;
        background-position: -627px -634px;
    }

    &.sprite-glyphicon_117_embed-png {
        width: 30px;
        height: 14px;
        background-position: -73px -328px;
    }

    &.sprite-glyphicon_118_embed_close-png {
        width: 30px;
        height: 24px;
        background-position: -453px -38px;
    }

    &.sprite-glyphicon_119_adjust-png {
        width: 23px;
        height: 24px;
        background-position: -171px -601px;
    }

    &.sprite-glyphicon_120_message_full-png {
        width: 24px;
        height: 28px;
        background-position: -35px -217px;
    }

    &.sprite-glyphicon_121_message_empty-png {
        width: 24px;
        height: 28px;
        background-position: -0px -217px;
    }

    &.sprite-glyphicon_122_message_in-png {
        width: 24px;
        height: 28px;
        background-position: -635px -178px;
    }

    &.sprite-glyphicon_123_message_out-png {
        width: 24px;
        height: 28px;
        background-position: -600px -178px;
    }

    &.sprite-glyphicon_124_message_plus-png {
        width: 29px;
        height: 23px;
        background-position: -263px -217px;
    }

    &.sprite-glyphicon_125_message_minus-png {
        width: 29px;
        height: 23px;
        background-position: -223px -217px;
    }

    &.sprite-glyphicon_126_message_ban-png {
        width: 29px;
        height: 23px;
        background-position: -183px -217px;
    }

    &.sprite-glyphicon_127_message_flag-png {
        width: 27px;
        height: 23px;
        background-position: -510px -290px;
    }

    &.sprite-glyphicon_128_message_lock-png {
        width: 28px;
        height: 24px;
        background-position: -561px -178px;
    }

    &.sprite-glyphicon_129_message_new-png {
        width: 28px;
        height: 22px;
        background-position: -214px -323px;
    }

    &.sprite-glyphicon_130_inbox-png {
        width: 24px;
        height: 23px;
        background-position: -136px -601px;
    }

    &.sprite-glyphicon_131_inbox_plus-png {
        width: 27px;
        height: 27px;
        background-position: -567px -0px;
    }

    &.sprite-glyphicon_132_inbox_minus-png {
        width: 27px;
        height: 27px;
        background-position: -529px -0px;
    }

    &.sprite-glyphicon_133_inbox_lock-png {
        width: 26px;
        height: 28px;
        background-position: -129px -38px;
    }

    &.sprite-glyphicon_134_inbox_in-png {
        width: 24px;
        height: 26px;
        background-position: -142px -290px;
    }

    &.sprite-glyphicon_135_inbox_out-png {
        width: 24px;
        height: 26px;
        background-position: -107px -290px;
    }

    &.sprite-glyphicon_136_computer_locked-png {
        width: 28px;
        height: 24px;
        background-position: -522px -178px;
    }

    &.sprite-glyphicon_137_computer_service-png {
        width: 28px;
        height: 24px;
        background-position: -483px -178px;
    }

    &.sprite-glyphicon_138_computer_proces-png {
        width: 28px;
        height: 24px;
        background-position: -444px -178px;
    }

    &.sprite-glyphicon_139_phone-png {
        width: 15px;
        height: 25px;
        background-position: -735px -626px;
    }

    &.sprite-glyphicon_140_database_lock-png {
        width: 26px;
        height: 28px;
        background-position: -39px -38px;
    }

    &.sprite-glyphicon_141_database_plus-png {
        width: 27px;
        height: 27px;
        background-position: -491px -0px;
    }

    &.sprite-glyphicon_142_database_minus-png {
        width: 27px;
        height: 27px;
        background-position: -453px -0px;
    }

    &.sprite-glyphicon_143_database_ban-png {
        width: 26px;
        height: 27px;
        background-position: -282px -70px;
    }

    &.sprite-glyphicon_144_folder_open-png {
        width: 30px;
        height: 22px;
        background-position: -344px -217px;
    }

    &.sprite-glyphicon_145_folder_plus-png {
        width: 29px;
        height: 25px;
        background-position: -373px -38px;
    }

    &.sprite-glyphicon_146_folder_minus-png {
        width: 29px;
        height: 25px;
        background-position: -242px -38px;
    }

    &.sprite-glyphicon_147_folder_lock-png {
        width: 28px;
        height: 26px;
        background-position: -0px -38px;
    }

    &.sprite-glyphicon_148_folder_flag-png {
        width: 27px;
        height: 25px;
        background-position: -558px -143px;
    }

    &.sprite-glyphicon_149_folder_new-png {
        width: 28px;
        height: 24px;
        background-position: -635px -143px;
    }

    &.sprite-glyphicon_150_check-png {
        width: 22px;
        height: 18px;
        background-position: -397px -328px;
    }

    &.sprite-glyphicon_151_edit-png {
        width: 24px;
        height: 21px;
        background-position: -302px -661px;
    }

    &.sprite-glyphicon_152_new_window-png {
        width: 26px;
        height: 22px;
        background-position: -564px -534px;
    }

    &.sprite-glyphicon_153_more_windows-png {
        width: 23px;
        height: 23px;
        background-position: -527px -601px;
    }

    &.sprite-glyphicon_154_show_big_thumbnails-png {
        width: 22px;
        height: 22px;
        background-position: -706px -432px;
    }

    &.sprite-glyphicon_155_show_thumbnails-png {
        width: 22px;
        height: 22px;
        background-position: -706px -399px;
    }

    &.sprite-glyphicon_156_show_thumbnails_with_lines-png {
        width: 24px;
        height: 15px;
        background-position: -35px -697px;
    }

    &.sprite-glyphicon_157_show_lines-png {
        width: 24px;
        height: 15px;
        background-position: -0px -697px;
    }

    &.sprite-glyphicon_158_playlist-png {
        width: 29px;
        height: 24px;
        background-position: -120px -106px;
    }

    &.sprite-glyphicon_159_picture-png {
        width: 24px;
        height: 20px;
        background-position: -709px -36px;
    }

    &.sprite-glyphicon_160_imac-png {
        width: 26px;
        height: 22px;
        background-position: -527px -534px;
    }

    &.sprite-glyphicon_161_macbook-png {
        width: 28px;
        height: 15px;
        background-position: -253px -328px;
    }

    &.sprite-glyphicon_162_ipad-png {
        width: 20px;
        height: 27px;
        background-position: -335px -601px;
    }

    &.sprite-glyphicon_163_iphone-png {
        width: 14px;
        height: 24px;
        background-position: -290px -697px;
    }

    &.sprite-glyphicon_164_iphone_transfer-png {
        width: 29px;
        height: 24px;
        background-position: -80px -106px;
    }

    &.sprite-glyphicon_165_iphone_exchange-png {
        width: 29px;
        height: 24px;
        background-position: -40px -106px;
    }

    &.sprite-glyphicon_166_ipod-png {
        width: 14px;
        height: 22px;
        background-position: -527px -697px;
    }

    &.sprite-glyphicon_167_ipod_shuffle-png {
        width: 15px;
        height: 13px;
        background-position: -149px -726px;
    }

    &.sprite-glyphicon_168_ear_plugs-png {
        width: 20px;
        height: 24px;
        background-position: -137px -668px;
    }

    &.sprite-glyphicon_169_albums-png {
        width: 28px;
        height: 18px;
        background-position: -669px -567px;
    }

    &.sprite-glyphicon_170_step_backward-png {
        width: 14px;
        height: 18px;
        background-position: -27px -726px;
    }

    &.sprite-glyphicon_171_fast_backward-png {
        width: 25px;
        height: 18px;
        background-position: -0px -328px;
    }

    &.sprite-glyphicon_172_rewind-png {
        width: 23px;
        height: 18px;
        background-position: -363px -328px;
    }

    &.sprite-glyphicon_173_play-png {
        width: 16px;
        height: 18px;
        background-position: -662px -697px;
    }

    &.sprite-glyphicon_174_pause-png {
        width: 10px;
        height: 16px;
        background-position: -175px -726px;
    }

    &.sprite-glyphicon_175_stop-png {
        width: 14px;
        height: 14px;
        background-position: -124px -726px;
    }

    &.sprite-glyphicon_176_forward-png {
        width: 23px;
        height: 18px;
        background-position: -329px -328px;
    }

    &.sprite-glyphicon_177_fast_forward-png {
        width: 25px;
        height: 18px;
        background-position: -731px -299px;
    }

    &.sprite-glyphicon_178_step_forward-png {
        width: 14px;
        height: 18px;
        background-position: -748px -697px;
    }

    &.sprite-glyphicon_179_eject-png {
        width: 18px;
        height: 17px;
        background-position: -552px -697px;
    }

    &.sprite-glyphicon_180_facetime_video-png {
        width: 24px;
        height: 16px;
        background-position: -575px -328px;
    }

    &.sprite-glyphicon_181_download_alt-png {
        width: 24px;
        height: 24px;
        background-position: -385px -499px;
    }

    &.sprite-glyphicon_182_mute-png {
        width: 22px;
        height: 16px;
        background-position: -199px -697px;
    }

    &.sprite-glyphicon_183_volume_down-png {
        width: 16px;
        height: 16px;
        background-position: -0px -733px;
    }

    &.sprite-glyphicon_184_volume_up-png {
        width: 24px;
        height: 26px;
        background-position: -72px -290px;
    }

    &.sprite-glyphicon_185_screenshot-png {
        width: 27px;
        height: 27px;
        background-position: -415px -0px;
    }

    &.sprite-glyphicon_186_move-png {
        width: 24px;
        height: 24px;
        background-position: -350px -499px;
    }

    &.sprite-glyphicon_187_more-png {
        width: 22px;
        height: 7px;
        background-position: -0px -270px;
    }

    &.sprite-glyphicon_188_brightness_reduce-png {
        width: 20px;
        height: 20px;
        background-position: -736px -533px;
    }

    &.sprite-glyphicon_189_brightness_increase-png {
        width: 24px;
        height: 24px;
        background-position: -315px -499px;
    }

    &.sprite-glyphicon_190_circle_plus-png {
        width: 26px;
        height: 26px;
        background-position: -222px -143px;
    }

    &.sprite-glyphicon_191_circle_minus-png {
        width: 26px;
        height: 26px;
        background-position: -185px -143px;
    }

    &.sprite-glyphicon_192_circle_remove-png {
        width: 26px;
        height: 26px;
        background-position: -148px -143px;
    }

    &.sprite-glyphicon_193_circle_ok-png {
        width: 26px;
        height: 26px;
        background-position: -111px -143px;
    }

    &.sprite-glyphicon_194_circle_question_mark-png {
        width: 26px;
        height: 26px;
        background-position: -74px -143px;
    }

    &.sprite-glyphicon_195_circle_info-png {
        width: 26px;
        height: 26px;
        background-position: -37px -143px;
    }

    &.sprite-glyphicon_196_circle_exclamation_mark-png {
        width: 26px;
        height: 26px;
        background-position: -0px -143px;
    }

    &.sprite-glyphicon_197_remove-png {
        width: 26px;
        height: 26px;
        background-position: -615px -106px;
    }

    &.sprite-glyphicon_198_ok-png {
        width: 26px;
        height: 26px;
        background-position: -578px -106px;
    }

    &.sprite-glyphicon_199_ban-png {
        width: 26px;
        height: 26px;
        background-position: -541px -106px;
    }

    &.sprite-glyphicon_200_download-png {
        width: 26px;
        height: 26px;
        background-position: -504px -106px;
    }

    &.sprite-glyphicon_201_upload-png {
        width: 26px;
        height: 26px;
        background-position: -467px -106px;
    }

    &.sprite-glyphicon_202_shopping_cart-png {
        width: 26px;
        height: 23px;
        background-position: -282px -359px;
    }

    &.sprite-glyphicon_203_lock-png {
        width: 21px;
        height: 26px;
        background-position: -303px -601px;
    }

    &.sprite-glyphicon_204_unlock-png {
        width: 21px;
        height: 26px;
        background-position: -271px -601px;
    }

    &.sprite-glyphicon_205_electricity-png {
        width: 11px;
        height: 24px;
        background-position: -610px -697px;
    }

    &.sprite-glyphicon_206_ok_2-png {
        width: 25px;
        height: 19px;
        background-position: -315px -399px;
    }

    &.sprite-glyphicon_207_remove_2-png {
        width: 18px;
        height: 18px;
        background-position: -392px -697px;
    }

    &.sprite-glyphicon_208_cart_out-png {
        width: 26px;
        height: 25px;
        background-position: -457px -217px;
    }

    &.sprite-glyphicon_209_cart_in-png {
        width: 26px;
        height: 24px;
        background-position: -35px -290px;
    }

    &.sprite-glyphicon_210_left_arrow-png {
        width: 20px;
        height: 18px;
        background-position: -168px -697px;
    }

    &.sprite-glyphicon_211_right_arrow-png {
        width: 20px;
        height: 18px;
        background-position: -184px -328px;
    }

    &.sprite-glyphicon_212_down_arrow-png {
        width: 18px;
        height: 20px;
        background-position: -95px -697px;
    }

    &.sprite-glyphicon_213_up_arrow-png {
        width: 18px;
        height: 20px;
        background-position: -744px -35px;
    }

    &.sprite-glyphicon_214_resize_small-png {
        width: 24px;
        height: 24px;
        background-position: -280px -499px;
    }

    &.sprite-glyphicon_215_resize_full-png {
        width: 24px;
        height: 24px;
        background-position: -245px -499px;
    }

    &.sprite-glyphicon_216_circle_arrow_left-png {
        width: 26px;
        height: 26px;
        background-position: -430px -106px;
    }

    &.sprite-glyphicon_217_circle_arrow_right-png {
        width: 26px;
        height: 26px;
        background-position: -393px -106px;
    }

    &.sprite-glyphicon_218_circle_arrow_top-png {
        width: 26px;
        height: 26px;
        background-position: -356px -106px;
    }

    &.sprite-glyphicon_219_circle_arrow_down-png {
        width: 26px;
        height: 26px;
        background-position: -319px -106px;
    }

    &.sprite-glyphicon_220_play_button-png {
        width: 26px;
        height: 26px;
        background-position: -237px -106px;
    }

    &.sprite-glyphicon_221_unshare-png {
        width: 24px;
        height: 18px;
        background-position: -149px -328px;
    }

    &.sprite-glyphicon_222_share-png {
        width: 24px;
        height: 18px;
        background-position: -114px -328px;
    }

    &.sprite-glyphicon_223_thin_right_arrow-png {
        width: 15px;
        height: 22px;
        background-position: -366px -697px;
    }

    &.sprite-glyphicon_224_thin_arrow_left-png {
        width: 15px;
        height: 22px;
        background-position: -340px -697px;
    }

    &.sprite-glyphicon_225_bluetooth-png {
        width: 14px;
        height: 24px;
        background-position: -265px -697px;
    }

    &.sprite-glyphicon_226_euro-png {
        width: 22px;
        height: 23px;
        background-position: -671px -522px;
    }

    &.sprite-glyphicon_227_usd-png {
        width: 17px;
        height: 26px;
        background-position: -738px -174px;
    }

    &.sprite-glyphicon_228_bp-png {
        width: 17px;
        height: 24px;
        background-position: -737px -467px;
    }

    &.sprite-glyphicon_229_retweet_2-png {
        width: 33px;
        height: 21px;
        background-position: -620px -38px;
    }

    &.sprite-glyphicon_230_moon-png {
        width: 22px;
        height: 25px;
        background-position: -642px -394px;
    }

    &.sprite-glyphicon_231_sun-png {
        width: 24px;
        height: 24px;
        background-position: -210px -499px;
    }

    &.sprite-glyphicon_232_cloud-png {
        width: 27px;
        height: 17px;
        background-position: -467px -366px;
    }

    &.sprite-glyphicon_233_direction-png {
        width: 26px;
        height: 26px;
        background-position: -200px -106px;
    }

    &.sprite-glyphicon_234_brush-png {
        width: 25px;
        height: 23px;
        background-position: -420px -534px;
    }

    &.sprite-glyphicon_235_pen-png {
        width: 24px;
        height: 24px;
        background-position: -175px -499px;
    }

    &.sprite-glyphicon_236_zoom_in-png {
        width: 25px;
        height: 25px;
        background-position: -550px -254px;
    }

    &.sprite-glyphicon_237_zoom_out-png {
        width: 25px;
        height: 25px;
        background-position: -514px -254px;
    }

    &.sprite-glyphicon_238_pin-png {
        width: 10px;
        height: 25px;
        background-position: -727px -697px;
    }

    &.sprite-glyphicon_239_riflescope-png {
        width: 25px;
        height: 25px;
        background-position: -478px -254px;
    }

    &.sprite-glyphicon_240_rotation_lock-png {
        width: 27px;
        height: 24px;
        background-position: -291px -254px;
    }

    &.sprite-glyphicon_241_flash-png {
        width: 14px;
        height: 25px;
        background-position: -70px -697px;
    }

    &.sprite-glyphicon_242_google_maps-png {
        width: 15px;
        height: 24px;
        background-position: -730px -662px;
    }

    &.sprite-glyphicon_243_anchor-png {
        width: 24px;
        height: 25px;
        background-position: -0px -359px;
    }

    &.sprite-glyphicon_244_conversation-png {
        width: 25px;
        height: 18px;
        background-position: -729px -270px;
    }

    &.sprite-glyphicon_245_chat-png {
        width: 24px;
        height: 19px;
        background-position: -493px -399px;
    }

    &.sprite-glyphicon_246_male-png {
        width: 22px;
        height: 22px;
        background-position: -706px -366px;
    }

    &.sprite-glyphicon_247_female-png {
        width: 16px;
        height: 27px;
        background-position: -741px -211px;
    }

    &.sprite-glyphicon_248_asterisk-png {
        width: 20px;
        height: 20px;
        background-position: -736px -502px;
    }

    &.sprite-glyphicon_249_divide-png {
        width: 18px;
        height: 16px;
        background-position: -581px -697px;
    }

    &.sprite-glyphicon_250_snorkel_diving-png {
        width: 27px;
        height: 25px;
        background-position: -520px -143px;
    }

    &.sprite-glyphicon_251_scuba_diving-png {
        width: 27px;
        height: 24px;
        background-position: -253px -254px;
    }

    &.sprite-glyphicon_252_oxygen_bottle-png {
        width: 22px;
        height: 27px;
        background-position: -504px -359px;
    }

    &.sprite-glyphicon_253_fins-png {
        width: 31px;
        height: 27px;
        background-position: -129px -0px;
    }

    &.sprite-glyphicon_254_fishes-png {
        width: 28px;
        height: 30px;
        background-position: -90px -0px;
    }

    &.sprite-glyphicon_255_boat-png {
        width: 24px;
        height: 24px;
        background-position: -140px -499px;
    }

    &.sprite-glyphicon_256_delete_point-png {
        width: 26px;
        height: 17px;
        background-position: -36px -328px;
    }

    &.sprite-glyphicon_257_sheriffs_-star-png {
        width: 24px;
        height: 26px;
        background-position: -0px -290px;
    }

    &.sprite-glyphicon_258_qrcode-png {
        width: 24px;
        height: 24px;
        background-position: -105px -499px;
    }

    &.sprite-glyphicon_259_barcode-png {
        width: 24px;
        height: 24px;
        background-position: -70px -499px;
    }

    &.sprite-glyphicon_260_pool-png {
        width: 24px;
        height: 24px;
        background-position: -35px -499px;
    }

    &.sprite-glyphicon_261_buoy-png {
        width: 24px;
        height: 24px;
        background-position: -0px -499px;
    }

    &.sprite-glyphicon_262_spade-png {
        width: 24px;
        height: 24px;
        background-position: -630px -464px;
    }

    &.sprite-glyphicon_263_bank-png {
        width: 24px;
        height: 24px;
        background-position: -595px -464px;
    }

    &.sprite-glyphicon_264_vcard-png {
        width: 22px;
        height: 24px;
        background-position: -594px -634px;
    }

    &.sprite-glyphicon_265_electrical_plug-png {
        width: 18px;
        height: 25px;
        background-position: -738px -102px;
    }

    &.sprite-glyphicon_266_flag-png {
        width: 21px;
        height: 26px;
        background-position: -239px -601px;
    }

    &.sprite-glyphicon_267_credit_card-png {
        width: 26px;
        height: 19px;
        background-position: -694px -336px;
    }

    &.sprite-glyphicon_268_keyboard_wireless-png {
        width: 27px;
        height: 19px;
        background-position: -665px -492px;
    }

    &.sprite-glyphicon_269_keyboard_wired-png {
        width: 27px;
        height: 25px;
        background-position: -482px -143px;
    }

    &.sprite-glyphicon_270_shield-png {
        width: 22px;
        height: 24px;
        background-position: -525px -634px;
    }

    &.sprite-glyphicon_271_ring-png {
        width: 21px;
        height: 24px;
        background-position: -270px -661px;
    }

    &.sprite-glyphicon_272_cake-png {
        width: 22px;
        height: 24px;
        background-position: -492px -634px;
    }

    &.sprite-glyphicon_273_drink-png {
        width: 23px;
        height: 24px;
        background-position: -102px -601px;
    }

    &.sprite-glyphicon_274_beer-png {
        width: 23px;
        height: 24px;
        background-position: -68px -601px;
    }

    &.sprite-glyphicon_275_fast_food-png {
        width: 28px;
        height: 24px;
        background-position: -596px -143px;
    }

    &.sprite-glyphicon_276_cutlery-png {
        width: 13px;
        height: 24px;
        background-position: -503px -697px;
    }

    &.sprite-glyphicon_277_pizza-png {
        width: 26px;
        height: 29px;
        background-position: -336px -0px;
    }

    &.sprite-glyphicon_278_birthday_cake-png {
        width: 26px;
        height: 29px;
        background-position: -299px -0px;
    }

    &.sprite-glyphicon_279_tablet-png {
        width: 25px;
        height: 25px;
        background-position: -442px -254px;
    }

    &.sprite-glyphicon_280_settings-png {
        width: 24px;
        height: 24px;
        background-position: -560px -464px;
    }

    &.sprite-glyphicon_281_bullets-png {
        width: 27px;
        height: 23px;
        background-position: -472px -290px;
    }

    &.sprite-glyphicon_282_cardio-png {
        width: 25px;
        height: 26px;
        background-position: -421px -217px;
    }

    &.sprite-glyphicon_283_t-shirt-png {
        width: 28px;
        height: 23px;
        background-position: -367px -254px;
    }

    &.sprite-glyphicon_284_pants-png {
        width: 19px;
        height: 24px;
        background-position: -697px -668px;
    }

    &.sprite-glyphicon_285_sweater-png {
        width: 29px;
        height: 24px;
        background-position: -0px -106px;
    }

    &.sprite-glyphicon_286_fabric-png {
        width: 27px;
        height: 22px;
        background-position: -429px -359px;
    }

    &.sprite-glyphicon_287_leather-png {
        width: 23px;
        height: 24px;
        background-position: -34px -601px;
    }

    &.sprite-glyphicon_288_scissors-png {
        width: 24px;
        height: 27px;
        background-position: -218px -254px;
    }

    &.sprite-glyphicon_289_podium-png {
        width: 28px;
        height: 21px;
        background-position: -537px -359px;
    }

    &.sprite-glyphicon_290_skull-png {
        width: 22px;
        height: 24px;
        background-position: -459px -634px;
    }

    &.sprite-glyphicon_291_celebration-png {
        width: 24px;
        height: 25px;
        background-position: -620px -323px;
    }

    &.sprite-glyphicon_292_tea_kettle-png {
        width: 26px;
        height: 23px;
        background-position: -245px -359px;
    }

    &.sprite-glyphicon_293_french_press-png {
        width: 23px;
        height: 25px;
        background-position: -386px -534px;
    }

    &.sprite-glyphicon_294_coffe_cup-png {
        width: 25px;
        height: 19px;
        background-position: -210px -399px;
    }

    &.sprite-glyphicon_295_pot-png {
        width: 27px;
        height: 22px;
        background-position: -391px -359px;
    }

    &.sprite-glyphicon_296_grater-png {
        width: 18px;
        height: 24px;
        background-position: -739px -361px;
    }

    &.sprite-glyphicon_297_kettle-png {
        width: 23px;
        height: 24px;
        background-position: -0px -601px;
    }

    &.sprite-glyphicon_298_hospital-png {
        width: 24px;
        height: 24px;
        background-position: -525px -464px;
    }

    &.sprite-glyphicon_299_hospital_h-png {
        width: 24px;
        height: 24px;
        background-position: -490px -464px;
    }

    &.sprite-glyphicon_300_microphone-png {
        width: 17px;
        height: 24px;
        background-position: -739px -432px;
    }

    &.sprite-glyphicon_301_webcam-png {
        width: 19px;
        height: 24px;
        background-position: -632px -668px;
    }

    &.sprite-glyphicon_302_temple_christianity_church-png {
        width: 24px;
        height: 25px;
        background-position: -540px -323px;
    }

    &.sprite-glyphicon_303_temple_islam-png {
        width: 25px;
        height: 24px;
        background-position: -504px -323px;
    }

    &.sprite-glyphicon_304_temple_hindu-png {
        width: 24px;
        height: 24px;
        background-position: -455px -464px;
    }

    &.sprite-glyphicon_305_temple_buddhist-png {
        width: 28px;
        height: 22px;
        background-position: -620px -290px;
    }

    &.sprite-glyphicon_306_electrical_socket_eu-png {
        width: 23px;
        height: 23px;
        background-position: -493px -601px;
    }

    &.sprite-glyphicon_307_electrical_socket_us-png {
        width: 23px;
        height: 23px;
        background-position: -459px -601px;
    }

    &.sprite-glyphicon_308_bomb-png {
        width: 27px;
        height: 26px;
        background-position: -76px -70px;
    }

    &.sprite-glyphicon_309_comments-png {
        width: 24px;
        height: 23px;
        background-position: -634px -567px;
    }

    &.sprite-glyphicon_310_flower-png {
        width: 19px;
        height: 25px;
        background-position: -473px -668px;
    }

    &.sprite-glyphicon_311_baseball-png {
        width: 25px;
        height: 26px;
        background-position: -385px -217px;
    }

    &.sprite-glyphicon_312_rugby-png {
        width: 23px;
        height: 24px;
        background-position: -563px -567px;
    }

    &.sprite-glyphicon_313_ax-png {
        width: 27px;
        height: 25px;
        background-position: -444px -143px;
    }

    &.sprite-glyphicon_314_table_tennis-png {
        width: 24px;
        height: 24px;
        background-position: -420px -464px;
    }

    &.sprite-glyphicon_315_bowling-png {
        width: 24px;
        height: 24px;
        background-position: -385px -464px;
    }

    &.sprite-glyphicon_316_tree_conifer-png {
        width: 21px;
        height: 24px;
        background-position: -238px -661px;
    }

    &.sprite-glyphicon_317_tree_deciduous-png {
        width: 20px;
        height: 25px;
        background-position: -707px -128px;
    }

    &.sprite-glyphicon_318_more-items-png {
        width: 21px;
        height: 24px;
        background-position: -206px -661px;
    }

    &.sprite-glyphicon_319_sort-png {
        width: 25px;
        height: 25px;
        background-position: -406px -254px;
    }

    &.sprite-glyphicon_320_filter-png {
        width: 20px;
        height: 24px;
        background-position: -699px -633px;
    }

    &.sprite-glyphicon_321_gamepad-png {
        width: 27px;
        height: 19px;
        background-position: -319px -39px;
    }

    &.sprite-glyphicon_322_playing_dices-png {
        width: 27px;
        height: 23px;
        background-position: -434px -290px;
    }

    &.sprite-glyphicon_323_calculator-png {
        width: 21px;
        height: 24px;
        background-position: -105px -661px;
    }

    &.sprite-glyphicon_324_tie-png {
        width: 11px;
        height: 26px;
        background-position: -421px -697px;
    }

    &.sprite-glyphicon_325_wallet-png {
        width: 25px;
        height: 20px;
        background-position: -697px -97px;
    }

    &.sprite-glyphicon_326_share-png {
        width: 22px;
        height: 22px;
        background-position: -708px -237px;
    }

    &.sprite-glyphicon_327_sampler-png {
        width: 27px;
        height: 22px;
        background-position: -353px -359px;
    }

    &.sprite-glyphicon_328_piano-png {
        width: 23px;
        height: 24px;
        background-position: -529px -567px;
    }

    &.sprite-glyphicon_329_web_browser-png {
        width: 24px;
        height: 22px;
        background-position: -136px -634px;
    }

    &.sprite-glyphicon_330_blog-png {
        width: 21px;
        height: 23px;
        background-position: -704px -531px;
    }

    &.sprite-glyphicon_331_dashboard-png {
        width: 24px;
        height: 24px;
        background-position: -350px -464px;
    }

    &.sprite-glyphicon_332_certificate-png {
        width: 17px;
        height: 25px;
        background-position: -739px -396px;
    }

    &.sprite-glyphicon_333_bell-png {
        width: 24px;
        height: 24px;
        background-position: -315px -464px;
    }

    &.sprite-glyphicon_334_candle-png {
        width: 20px;
        height: 25px;
        background-position: -709px -0px;
    }

    &.sprite-glyphicon_335_pin_classic-png {
        width: 24px;
        height: 24px;
        background-position: -280px -464px;
    }

    &.sprite-glyphicon_336_iphone_shake-png {
        width: 24px;
        height: 24px;
        background-position: -245px -464px;
    }

    &.sprite-glyphicon_337_pin_flag-png {
        width: 30px;
        height: 22px;
        background-position: -303px -217px;
    }

    &.sprite-glyphicon_338_turtle-png {
        width: 28px;
        height: 16px;
        background-position: -593px -668px;
    }

    &.sprite-glyphicon_339_rabbit-png {
        width: 26px;
        height: 22px;
        background-position: -490px -534px;
    }

    &.sprite-glyphicon_340_globe-png {
        width: 24px;
        height: 24px;
        background-position: -210px -464px;
    }

    &.sprite-glyphicon_341_briefcase-png {
        width: 24px;
        height: 21px;
        background-position: -171px -661px;
    }

    &.sprite-glyphicon_342_hdd-png {
        width: 24px;
        height: 21px;
        background-position: -70px -661px;
    }

    &.sprite-glyphicon_343_thumbs_up-png {
        width: 24px;
        height: 21px;
        background-position: -35px -661px;
    }

    &.sprite-glyphicon_344_thumbs_down-png {
        width: 24px;
        height: 21px;
        background-position: -0px -661px;
    }

    &.sprite-glyphicon_345_hand_right-png {
        width: 26px;
        height: 19px;
        background-position: -694px -306px;
    }

    &.sprite-glyphicon_346_hand_left-png {
        width: 26px;
        height: 19px;
        background-position: -692px -276px;
    }

    &.sprite-glyphicon_347_hand_up-png {
        width: 19px;
        height: 26px;
        background-position: -708px -200px;
    }

    &.sprite-glyphicon_348_hand_down-png {
        width: 19px;
        height: 27px;
        background-position: -665px -454px;
    }

    &.sprite-glyphicon_349_fullscreen-png {
        width: 24px;
        height: 24px;
        background-position: -175px -464px;
    }

    &.sprite-glyphicon_350_shopping_bag-png {
        width: 23px;
        height: 26px;
        background-position: -211px -359px;
    }

    &.sprite-glyphicon_351_book_open-png {
        width: 25px;
        height: 23px;
        background-position: -350px -534px;
    }

    &.sprite-glyphicon_352_nameplate-png {
        width: 24px;
        height: 21px;
        background-position: -664px -629px;
    }

    &.sprite-glyphicon_353_nameplate_alt-png {
        width: 24px;
        height: 22px;
        background-position: -629px -601px;
    }

    &.sprite-glyphicon_354_vases-png {
        width: 24px;
        height: 24px;
        background-position: -140px -464px;
    }

    &.sprite-glyphicon_355_announcement-png {
        width: 25px;
        height: 20px;
        background-position: -697px -66px;
    }

    &.sprite-glyphicon_356_dumbbell-png {
        width: 26px;
        height: 16px;
        background-position: -292px -328px;
    }

    &.sprite-glyphicon_357_suitcase-png {
        width: 24px;
        height: 22px;
        background-position: -594px -601px;
    }

    &.sprite-glyphicon_358_file_import-png {
        width: 22px;
        height: 24px;
        background-position: -561px -601px;
    }

    &.sprite-glyphicon_359_file_export-png {
        width: 23px;
        height: 24px;
        background-position: -420px -567px;
    }

    &.sprite-glyphicon_360_pinterest-png {
        width: 24px;
        height: 24px;
        background-position: -105px -464px;
    }

    &.sprite-glyphicon_361_dropbox-png {
        width: 24px;
        height: 24px;
        background-position: -70px -464px;
    }

    &.sprite-glyphicon_362_google__alt-png {
        width: 24px;
        height: 24px;
        background-position: -35px -464px;
    }

    &.sprite-glyphicon_363_jolicloud-png {
        width: 24px;
        height: 24px;
        background-position: -0px -464px;
    }

    &.sprite-glyphicon_364_yahoo-png {
        width: 24px;
        height: 24px;
        background-position: -630px -429px;
    }

    &.sprite-glyphicon_365_blogger-png {
        width: 24px;
        height: 24px;
        background-position: -595px -429px;
    }

    &.sprite-glyphicon_366_picasa-png {
        width: 24px;
        height: 24px;
        background-position: -560px -429px;
    }

    &.sprite-glyphicon_367_amazon-png {
        width: 24px;
        height: 24px;
        background-position: -525px -429px;
    }

    &.sprite-glyphicon_368_tumblr-png {
        width: 24px;
        height: 24px;
        background-position: -490px -429px;
    }

    &.sprite-glyphicon_369_wordpress-png {
        width: 24px;
        height: 24px;
        background-position: -455px -429px;
    }

    &.sprite-glyphicon_370_instapaper-png {
        width: 24px;
        height: 24px;
        background-position: -420px -429px;
    }

    &.sprite-glyphicon_371_evernote-png {
        width: 24px;
        height: 24px;
        background-position: -385px -429px;
    }

    &.sprite-glyphicon_372_xing-png {
        width: 24px;
        height: 24px;
        background-position: -350px -429px;
    }

    &.sprite-glyphicon_373_zootool-png {
        width: 24px;
        height: 24px;
        background-position: -315px -429px;
    }

    &.sprite-glyphicon_374_dribbble-png {
        width: 24px;
        height: 24px;
        background-position: -280px -429px;
    }

    &.sprite-glyphicon_375_deviantart-png {
        width: 24px;
        height: 24px;
        background-position: -245px -429px;
    }

    &.sprite-glyphicon_376_read_it_later-png {
        width: 24px;
        height: 24px;
        background-position: -210px -429px;
    }

    &.sprite-glyphicon_377_linked_in-png {
        width: 24px;
        height: 24px;
        background-position: -175px -429px;
    }

    &.sprite-glyphicon_378_forrst-png {
        width: 24px;
        height: 24px;
        background-position: -140px -429px;
    }

    &.sprite-glyphicon_379_pinboard-png {
        width: 24px;
        height: 24px;
        background-position: -105px -429px;
    }

    &.sprite-glyphicon_380_behance-png {
        width: 24px;
        height: 24px;
        background-position: -70px -429px;
    }

    &.sprite-glyphicon_381_github-png {
        width: 24px;
        height: 24px;
        background-position: -35px -429px;
    }

    &.sprite-glyphicon_382_youtube-png {
        width: 24px;
        height: 24px;
        background-position: -0px -429px;
    }

    &.sprite-glyphicon_383_skitch-png {
        width: 24px;
        height: 24px;
        background-position: -607px -394px;
    }

    &.sprite-glyphicon_384_4square-png {
        width: 24px;
        height: 24px;
        background-position: -572px -394px;
    }

    &.sprite-glyphicon_385_quora-png {
        width: 24px;
        height: 24px;
        background-position: -537px -394px;
    }

    &.sprite-glyphicon_386_google_plus-png {
        width: 24px;
        height: 24px;
        background-position: -458px -394px;
    }

    &.sprite-glyphicon_387_spootify-png {
        width: 24px;
        height: 24px;
        background-position: -423px -394px;
    }

    &.sprite-glyphicon_388_stumbleupon-png {
        width: 24px;
        height: 24px;
        background-position: -388px -394px;
    }

    &.sprite-glyphicon_389_readability-png {
        width: 24px;
        height: 24px;
        background-position: -353px -394px;
    }

    &.sprite-glyphicon_390_facebook-png {
        width: 24px;
        height: 24px;
        background-position: -280px -394px;
    }

    &.sprite-glyphicon_391_twitter_t-png {
        width: 24px;
        height: 24px;
        background-position: -245px -394px;
    }

    &.sprite-glyphicon_392_twitter-png {
        width: 24px;
        height: 24px;
        background-position: -175px -394px;
    }

    &.sprite-glyphicon_393_buzz-png {
        width: 24px;
        height: 24px;
        background-position: -140px -394px;
    }

    &.sprite-glyphicon_394_vimeo-png {
        width: 24px;
        height: 24px;
        background-position: -105px -394px;
    }

    &.sprite-glyphicon_395_flickr-png {
        width: 24px;
        height: 24px;
        background-position: -70px -394px;
    }

    &.sprite-glyphicon_396_last_fm-png {
        width: 24px;
        height: 24px;
        background-position: -35px -394px;
    }

    &.sprite-glyphicon_397_rss-png {
        width: 24px;
        height: 24px;
        background-position: -0px -394px;
    }

    &.sprite-glyphicon_398_skype-png {
        width: 24px;
        height: 24px;
        background-position: -611px -359px;
    }

    &.sprite-glyphicon_399_e-mail-png {
        width: 24px;
        height: 24px;
        background-position: -576px -359px;
    }
}