@charset "UTF-8";
@import 'master-variables';
@import 'master-mixins';

@import "compass";

header
{
  width: 100%;
  padding: 3px 5px;
  border-bottom: 1px $gray solid;

  div.header-logo
  {
    @include staticImage('/images/header/logo.png');
    @include inline-block();
    background-size: 100%;
    background-repeat: no-repeat;
    width: 155px;
    height: 50px;
  }

  div.nav-button
  {
    @include inline-block();
  }

  div.search
  {
    @include inline-block();
  }
}

