@charset "UTF-8";
@import 'master-variables';
@import 'master-mixins';

header {
  height: 40px;
  background-color: $gray;
  div.header-contents {
    width: $default-page-width;
    margin: 0 auto;
  }
}



