@charset "UTF-8";
@import 'master-variables';
@import 'master-mixins';

@import "compass";

header
{
  width: 100%;
  padding: 3px 5px;
  font-family: Sonus-Light;
  padding-top:5px;
  div.header-logo
  {
    @include staticImage('/images/header/logo.png');
    float:left;
    @include clearfix;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 155px;
    height: 50px;
    cursor: pointer;
    @include transition(0.15s);
    &:hover {
      @include opacity(0.55);
    }
  }

  img.beta {
    margin-top:19px;
    float:left;
  }

  ul {
    list-decoration: none;
    @include inline-block;
    cursor: pointer;
    margin: 3px;
    li {
      color: $red;
      @include inline-block;
      font-size: 20px;
      float:left;
      margin: 9px 5px;
      padding: 5px 5px 1px 5px;
      &:hover {
        background-color: $red;
        color: white;
      }
      &:active {
        background-color: $orange;
        color: white;
      }
    }
  }

  div.head-right {
    float: right;

    div.search
    {
      @include inline-block();
      float: left;
      margin-top: 15px;
      margin-right:10px;
      position: relative;
      input {
        height: 30px;
        padding: 0 30px 0 10px;
        font-size: 12px;
        color: $deep-gray;
        width: 190px;
        @include transition(0.25s);
        font-family: Sonus-ExtraLight;
        &:focus {
          border-color: $deep-gray;
          width: 245px;
          @include transition(0.25s);
        }
      }
      img.mag-glass {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
      }
    }

    img.setting-icon, div.setting-icon {
      float: left;
      height: 25px;
      margin: 17px 0 10px 10px;
      cursor: pointer;
      padding-top:1px;
    }

    div.notices {
      float: left;
      height: 25px;
      width: 25px;
      background-color: $red;
      position: relative;
      color: white;
      text-align: center;
      font-size: 18px;
      vertical-align: middle;
      cursor: pointer;

      span.triangle {
        @include triangle('down', $red, 10px);
        position: absolute;
        top: 20px;
        left: 3px;
      }

      div.notifications-dropdown-button
      {
        margin-top: 3px;
      }
    }

    span.header-id {
      span.head-avatar div.avatar-box {
        float: left;
        margin: 10px;
        margin-top:15px;
      }

      span.name {
        float: left;
        max-width: 150px;
        text-overflow: ellipsis;
        @include inline-block;
        #white-space: nowrap;
        overflow: hidden;
        margin: 15px 4px 0 0;
        height: 30px;
        text-align: center;
      }



      div.triangle-area {
        float: left;
        display: inline;
      }
      div.triangle-wrapper {
        cursor: pointer;
        padding: 32px 3px 0px 3px;
        @include inline-block
      }
      span.head-triangle {
        @include triangle('down', $red, 6px);
      }
    }

    }

}













