@import 'master-mixins';
@import 'master-variables';

.histogram-main {
  @include main-div();
  margin-top:25px;

  .histogram-wrapper {
    width:980px;
    height:500px;
    border: 1px solid $red;
    overflow:hidden;


    .histogram-body {
      position:relative;
      width:980px;
      height:450px;

      div.count {
        @include big();
        @include fontSize(40px);
        position:absolute;
        top: 40px;
        left: 55px;
      }

      div.histogram-topic-selector-wrapper {
        width: 500px;
        height: 55px;
        position: absolute;
        top: 27px;
        left: 230px;

        .histogram-topic-icon-wrapper {
          float:left;
          margin-left:20px;
        }
      }

      div.histogram-bars {
        width: 850px;
        height: 300px;
        position: absolute;
        top: 110px;
        left: 65px;

        .bar {
          float:left;

          .red_bar {
            background-color:$red;
          }

          .label {
            margin-top:10px;
            text-align:center;
          }
          .label.clicked {
            color:$blue;
          }
        }

      }


    }

    .histogram-footer {
      background-color:$red;
      width:980px;
      height:50px;

      .histogram-title {
        float:left;
        @include really-big();
        @include fontSize(30px);
        color:white;
        margin: 15px 0 0 20px;
      }

      .histogram-topic {
        float:right;
        @include really-big();
        @include fontSize(30px);
        color:white;
        margin: 15px 20px 0 0px;
      }

    }

  }

  div.group-members-wrapper {
    margin: 10px 0 0 0;
    width: 980px;
    height:500px;


    div.histogram-avatar {
      float:left;
      margin: 20px 0 0 30px;
    }

    a.get_more_members {
      float:left;
      margin: 35px 0 0 30px;
    }
  }

}