.icon-sprite {
    background: url('/static/images/sprites.png') no-repeat;

    .sprite-FB_login-png {
        width: 167px;
        height: 32px;
        background-position: -420px -588px;
    }

    .sprite-FB_login_hover-png {
        width: 167px;
        height: 32px;
        background-position: -420px -497px;
    }

    .sprite-Poll_Icon-png {
        width: 75px;
        height: 75px;
        background-position: -684px -588px;
    }

    .sprite-Question_Icon-png {
        width: 75px;
        height: 75px;
        background-position: -598px -588px;
    }

    .sprite-Twitter_login-png {
        width: 156px;
        height: 32px;
        background-position: -273px -674px;
    }

    .sprite-Twitter_login_hover-png {
        width: 156px;
        height: 32px;
        background-position: -106px -674px;
    }

    .sprite-answered-png {
        width: 18px;
        height: 18px;
        background-position: -825px -821px;
    }

    .sprite-arrow_red-png {
        width: 18px;
        height: 9px;
        background-position: -0px -189px;
    }

    .sprite-arrow_right_red-png {
        width: 9px;
        height: 18px;
        background-position: -854px -239px;
    }

    .sprite-back_arrow-png {
        width: 15px;
        height: 20px;
        background-position: -851px -56px;
    }

    .sprite-beta-png {
        width: 50px;
        height: 24px;
        background-position: -0px -785px;
    }

    .sprite-check-png {
        width: 47px;
        height: 46px;
        background-position: -781px -658px;
    }

    .sprite-check-small-png {
        width: 18px;
        height: 18px;
        background-position: -796px -821px;
    }

    .sprite-checkbox_checked-png {
        width: 48px;
        height: 48px;
        background-position: -770px -599px;
    }

    .sprite-checkbox_unchecked-png {
        width: 48px;
        height: 48px;
        background-position: -316px -599px;
    }

    .sprite-comments_arrow-png {
        width: 13px;
        height: 50px;
        background-position: -839px -624px;
    }

    .sprite-democrat-png {
        width: 93px;
        height: 20px;
        background-position: -627px -745px;
    }

    .sprite-discussion-png {
        width: 250px;
        height: 150px;
        background-position: -0px -372px;
    }

    .sprite-discussion_blue-png {
        width: 60px;
        height: 60px;
        background-position: -783px -284px;
    }

    .sprite-discussion_plus-png {
        width: 95px;
        height: 97px;
        background-position: -0px -588px;
    }

    .sprite-discussions-png {
        width: 50px;
        height: 50px;
        background-position: -192px -599px;
    }

    .sprite-downarrow-invert-png {
        width: 12px;
        height: 8px;
        background-position: -73px -189px;
    }

    .sprite-downarrow-png {
        width: 12px;
        height: 8px;
        background-position: -50px -189px;
    }

    .sprite-edit-feed-png {
        width: 18px;
        height: 18px;
        background-position: -631px -821px;
    }

    .sprite-edit-pencil-blue-png {
        width: 18px;
        height: 18px;
        background-position: -461px -821px;
    }

    .sprite-edit-pencil-png {
        width: 18px;
        height: 18px;
        background-position: -432px -821px;
    }

    .sprite-election_blue-png {
        width: 60px;
        height: 60px;
        background-position: -783px -213px;
    }

    .sprite-ex-png {
        width: 15px;
        height: 15px;
        background-position: -865px -113px;
    }

    .sprite-ex_dark-png {
        width: 15px;
        height: 15px;
        background-position: -865px -87px;
    }

    .sprite-facebook-png {
        width: 40px;
        height: 40px;
        background-position: -598px -538px;
    }

    .sprite-feedback-png {
        width: 16px;
        height: 75px;
        background-position: -831px -538px;
    }

    .sprite-findandcompare-png {
        width: 148px;
        height: 150px;
        background-position: -261px -436px;
    }

    .sprite-gear-png {
        width: 30px;
        height: 30px;
        background-position: -150px -538px;
    }

    .sprite-gear_red-png {
        width: 20px;
        height: 20px;
        background-position: -765px -792px;
    }

    .sprite-gear_white-png {
        width: 20px;
        height: 20px;
        background-position: -734px -792px;
    }

    .sprite-gray_arrow-png {
        width: 59px;
        height: 28px;
        background-position: -423px -756px;
    }

    .sprite-gray_comment-png {
        width: 64px;
        height: 64px;
        background-position: -440px -674px;
    }

    .sprite-green-png {
        width: 57px;
        height: 18px;
        background-position: -61px -785px;
    }

    .sprite-group-png {
        width: 250px;
        height: 150px;
        background-position: -522px -211px;
    }

    .sprite-group_blue-png {
        width: 60px;
        height: 60px;
        background-position: -783px -142px;
    }

    .sprite-groups-png {
        width: 50px;
        height: 50px;
        background-position: -770px -538px;
    }

    .sprite-heart-small-png {
        width: 18px;
        height: 18px;
        background-position: -403px -821px;
    }

    .sprite-heart_minus-png {
        width: 15px;
        height: 14px;
        background-position: -854px -214px;
    }

    .sprite-heart_minus_hover-png {
        width: 15px;
        height: 14px;
        background-position: -854px -189px;
    }

    .sprite-heart_plus-png {
        width: 15px;
        height: 14px;
        background-position: -854px -164px;
    }

    .sprite-heart_plus_hover-png {
        width: 15px;
        height: 14px;
        background-position: -854px -139px;
    }

    .sprite-independent-png {
        width: 107px;
        height: 20px;
        background-position: -0px -745px;
    }

    .sprite-invite-png {
        width: 16px;
        height: 75px;
        background-position: -824px -0px;
    }

    .sprite-join-group-png {
        width: 18px;
        height: 18px;
        background-position: -374px -821px;
    }

    .sprite-libertarian-png {
        width: 101px;
        height: 20px;
        background-position: -515px -745px;
    }

    .sprite-lightred_comment-png {
        width: 60px;
        height: 50px;
        background-position: -793px -416px;
    }

    .sprite-lockgray-png {
        width: 25px;
        height: 25px;
        background-position: -529px -792px;
    }

    .sprite-lockwhite-png {
        width: 25px;
        height: 25px;
        background-position: -493px -792px;
    }

    .sprite-login_FB-png {
        width: 415px;
        height: 53px;
        background-position: -261px -372px;
    }

    .sprite-logout-png {
        width: 20px;
        height: 20px;
        background-position: -703px -792px;
    }

    .sprite-minusHeartBlue-png {
        width: 30px;
        height: 15px;
        background-position: -631px -792px;
    }

    .sprite-minusheart-gray-png {
        width: 18px;
        height: 18px;
        background-position: -345px -821px;
    }

    .sprite-minusheart-red-png {
        width: 18px;
        height: 18px;
        background-position: -87px -821px;
    }

    .sprite-news-copy-png {
        width: 250px;
        height: 150px;
        background-position: -261px -211px;
    }

    .sprite-news-png {
        width: 50px;
        height: 50px;
        background-position: -192px -538px;
    }

    .sprite-news-small-png {
        width: 18px;
        height: 18px;
        background-position: -58px -821px;
    }

    .sprite-news_blue-png {
        width: 60px;
        height: 60px;
        background-position: -753px -71px;
    }

    .sprite-news_plus-png {
        width: 95px;
        height: 97px;
        background-position: -665px -480px;
    }

    .sprite-people-png {
        width: 30px;
        height: 30px;
        background-position: -824px -86px;
    }

    .sprite-petition-png {
        width: 250px;
        height: 150px;
        background-position: -0px -211px;
    }

    .sprite-petition-small-png {
        width: 18px;
        height: 18px;
        background-position: -29px -821px;
    }

    .sprite-petition_blue-png {
        width: 60px;
        height: 60px;
        background-position: -753px -0px;
    }

    .sprite-petition_plus-png {
        width: 95px;
        height: 97px;
        background-position: -687px -372px;
    }

    .sprite-petitions-png {
        width: 50px;
        height: 50px;
        background-position: -793px -477px;
    }

    .sprite-pirate-png {
        width: 73px;
        height: 20px;
        background-position: -0px -715px;
    }

    .sprite-plusheart-gray-png {
        width: 18px;
        height: 18px;
        background-position: -0px -821px;
    }

    .sprite-plusheart-red-png {
        width: 18px;
        height: 18px;
        background-position: -825px -792px;
    }

    .sprite-poll-png {
        width: 75px;
        height: 75px;
        background-position: -106px -588px;
    }

    .sprite-poll_blue-png {
        width: 60px;
        height: 60px;
        background-position: -710px -674px;
    }

    .sprite-poll_plus-png {
        width: 95px;
        height: 97px;
        background-position: -647px -0px;
    }

    .sprite-private-inverted-png {
        width: 25px;
        height: 25px;
        background-position: -309px -792px;
    }

    .sprite-private-png {
        width: 25px;
        height: 25px;
        background-position: -273px -792px;
    }

    .sprite-privategray-png {
        width: 25px;
        height: 25px;
        background-position: -237px -792px;
    }

    .sprite-privatewhite-png {
        width: 25px;
        height: 25px;
        background-position: -201px -792px;
    }

    .sprite-profile_default-jpg {
        width: 200px;
        height: 200px;
        background-position: -436px -0px;
    }

    .sprite-progressive-png {
        width: 105px;
        height: 20px;
        background-position: -118px -745px;
    }

    .sprite-public-inverted-png {
        width: 25px;
        height: 25px;
        background-position: -165px -792px;
    }

    .sprite-public-png {
        width: 20px;
        height: 20px;
        background-position: -672px -792px;
    }

    .sprite-publicgray-png {
        width: 25px;
        height: 25px;
        background-position: -129px -792px;
    }

    .sprite-publicwhite-png {
        width: 25px;
        height: 25px;
        background-position: -822px -756px;
    }

    .sprite-question-png {
        width: 75px;
        height: 75px;
        background-position: -647px -108px;
    }

    .sprite-red_comment-png {
        width: 60px;
        height: 50px;
        background-position: -793px -355px;
    }

    .sprite-red_heart-png {
        width: 30px;
        height: 24px;
        background-position: -375px -599px;
    }

    .sprite-republican-png {
        width: 103px;
        height: 20px;
        background-position: -234px -745px;
    }

    .sprite-scorecard_blue-png {
        width: 60px;
        height: 60px;
        background-position: -639px -674px;
    }

    .sprite-seach-png {
        width: 18px;
        height: 17px;
        background-position: -851px -28px;
    }

    .sprite-search-png {
        width: 18px;
        height: 17px;
        background-position: -851px -0px;
    }

    .sprite-setting_grey-png {
        width: 22px;
        height: 22px;
        background-position: -598px -792px;
    }

    .sprite-setting_red-png {
        width: 22px;
        height: 22px;
        background-position: -565px -792px;
    }

    .sprite-share-png {
        width: 18px;
        height: 18px;
        background-position: -796px -792px;
    }

    .sprite-signup-facebook-md-png {
        width: 234px;
        height: 50px;
        background-position: -420px -436px;
    }

    .sprite-splashlogo-png {
        width: 425px;
        height: 165px;
        background-position: -0px -0px;
    }

    .sprite-status-arrow1-png {
        width: 64px;
        height: 30px;
        background-position: -348px -756px;
    }

    .sprite-status-arrow2-png {
        width: 64px;
        height: 30px;
        background-position: -781px -715px;
    }

    .sprite-status-arrow3-png {
        width: 64px;
        height: 30px;
        background-position: -75px -538px;
    }

    .sprite-status-arrow4-png {
        width: 64px;
        height: 30px;
        background-position: -0px -538px;
    }

    .sprite-tea-png {
        width: 80px;
        height: 18px;
        background-position: -731px -756px;
    }

    .sprite-twitter-png {
        width: 40px;
        height: 40px;
        background-position: -733px -142px;
    }

    .sprite-white_create-png {
        width: 52px;
        height: 45px;
        background-position: -253px -599px;
    }

    .sprite-white_logo-png {
        width: 113px;
        height: 34px;
        background-position: -515px -674px;
    }

    .sprite-x-png {
        width: 10px;
        height: 10px;
        background-position: -29px -189px;
    }

    .sprite-x_hover-png {
        width: 10px;
        height: 10px;
        background-position: -733px -113px;
    }
}