@import 'master-mixins';

div.invite-modal
{
  min-height: 300px;
  border:1px solid $red;
  position: absolute;
  top: 100px;
  @include modal;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 50px;

  div.invite-modal-container
  {
    text-align: center;

    div.invite-modal-header
    {
      @include h3;
      margin-bottom: 10px;
    }

    div.invite-select-container
    {
      margin-bottom:15px;
    }

    div.invite-submit-container
    {
      margin-bottom:15px;
    }

    div.invite-submit-message
    {
      color: $dark-gray;
      @include fontSize(14px);
      display: none;
    }

    a.invite-button-modal
    {
      @include fontSize(18px);
      @include rounded(10px);
      padding: 10px 15px 10px 15px;
    }

    a.invite-button-modal:hover
    {
      background-color: $light-gray;
    }

    select.invite-select {
      width: 600px;
    }
  }
}

