{

@charset "UTF-8";
@import 'master-variables';
@import 'master-mixins';

@import "compass";

div.main {
  columns:100px 3;
  margin-left: 50px;
  width: 300px;

  div.leg-title {
    margin-left: 0px;
    margin-top: 100px;
    height: 100px;
    width: 200px;
  }

  div.level1-header {
    margin-left: 0px;
    margin-top: 5px;
    height: 30px;
    width: 200px;

    div.bill-title {
      height: 0px;
      width: 200px;
      color: blue;
    }
  }

  div.level1-div {
    margin-left: 0px;
    margin-top: 5px;
    height: 30px;
    width: 200px;

    div.title-text {
      height: 60px;
      width: 200px;
    }
  }

  }
}

div.secondary {

}
