@charset "UTF-8";
@import 'master-variables';
@import 'master-mixins';

#content-leg-div {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  font-family: "Helvetica";

  .select-prompt {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font-family: "Helvetica";
  }
}