@charset "UTF-8";
@import 'master-variables';
@import 'master-mixins';


option.line-spaced {
  line-height: 120%;
}

div.main-block {
  height: auto;
  width: 100%;
  padding-left: 5px;
  padding-top: 0px;

  div.legislation_filter {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    height: auto;
    width: 100%;
    padding-left: 9px;


    div.filter_prompt {
      float: left;
      width: 150px;
      margin-bottom: 9px;
      padding-top: 5px;
      margin-right: 5px;
    }

    div.filter_box {
      cursor: pointer;
      display: inline-block;
      width: 90px;
      margin-bottom: 9px;
      padding-top: 5px;
      margin-right: 5px;
      text-align: center;
      border-bottom: 5px solid $gray;

      &:hover {
        background-color: $gray;
        color: $white;
        font-weight: bold;
      }

      &.clicked {
        background-color: $gray;
        color: $white;
        font-weight: bold;
      }
    }
  }

  div.legislation_selector_wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: auto;
    width: 600px;

    div.select2-container-multi .select2-choices .select2-search-field input {
      height:16px;
    }

    ul {
      padding: 0;
    }

    h3 {
      margin-top: 10px;
    }

    div.session_selector {
      margin-left: 0px;
      margin-top: 0px;
      height: auto;
      width: 350px;
      z-index:0;

      select.session_select {
        height: 15px;
        width: 350px;

        #bill-sessions {
          color: $blue;
        }
      }

      div.select2-container {
        width: 350px;

        ul {

          li.select-2-search-field {
            height: 100%;
          }
        }
      }
    }

    div.type_selector {
      margin-left: 0px;
      margin-top: 0px;
      height: auto;
      width: 500px;
      padding-left: 0px;
      z-index:1;

      select.type_select {
        width: 500px;

        #bill-types {
          color: $blue;
        }
      }

      div.select2-container {
        width: 500px;

        ul {

          li.select-2-search-field {
            height: 100%;
          }
        }
      }
    }

    div.subject_selector {
      margin-left: 0px;
      margin-top: 0px;
      min-height: 30px;
      width: 350px;
      padding-left: 0px;
      z-index:2;

      select.subject_select {
        width: 350px;

        #bill-subjects {
          color: $blue;
        }
      }

      div.select2-container {
        width: 350px;

        ul {

          li.select-2-search-field {
            height: 100%;
          }
        }
      }
    }

    div.committee_selector {
      margin-left: 0px;
      margin-top: 0px;
      height: auto;
      width: 500px;
      padding-left: 0px;
      z-index:3;

      select.committee_select {
        width: 500px;

        #bill-committees {
          color: $blue;
        }
      }

      div.select2-container {
        width: 500px;

        ul {

          li.select-2-search-field {
            height: 100%;
          }
        }
      }
    }

    div.introduced_selector {
      margin-left: 0px;
      margin-top: 0px;
      height: auto;
      width: 350px;
      padding-left: 0px;
      z-index:3;

      select.introduced_select {
        width: 350px;

        #introduced-dates {
          color: $blue;
        }
      }

      div.select2-container {
        width: 350px;

        ul {

          li.select-2-search-field {
            height: 100%;
          }
        }
      }
    }
    div.sponsor_selector {
      margin-left: 0px;
      margin-top: 0px;
      height: auto;
      width: 450px;
      padding-left: 0px;
      z-index:5;

      ul {

        li {
          list-style-type:none;

          select.sponsor_select_body {
            display: block;
            width: 400px;
          }

          div.select2-container {
            width: 400px;

            ul {

              li.select-2-search-field {
                height: 100%;
              }
            }
          }

          select.sponsor_select_name {
            display: block;
            width: 400px;
          }

          div.select2-container {
            width: 400px;

            ul {

              li.select-2-search-field {
                height: 100%;
              }
            }
          }

          select.sponsor_select_party {
            display: block;
            width: 400px;
          }

          div.select2-container {
            width: 400px;

            ul {

              li.select-2-search-field {
                height: 100%;
              }
            }
          }

          select.sponsor_select_district {
            display: block;
            width: 400px;
          }

          div.select2-container {
            width: 400px;

            ul {

              li.select-2-search-field {
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}

div.filter-results {
  margin-top: 18px;
  height:auto;
  width: 100%;
  overflow: auto;

  div.results-heading {
    margin-left: 5px;
    margin-top: 5px;
  }
}


/*
input[type="checkbox"]{
  margin-top: 5px;
  margin-right: 5px;
}
*/

/*
input[type="form"]{
  margin-top: 0px;
  margin-right: 5px;
  width:200px;
  height: 20px;
  text-decoration-color:#000000;
  font-size: 14px;

  :focus {
    border: 1px solid #EF503B;
  }
}
*/

/*
h5 {
  color: #005468;

  &:hover {
    color: #ef503b;
  }
  .no-hover {
    color: #005468;
  }
}
*/

