@import 'master-variables';
@import 'master-mixins';

@import "compass";

/*
a {
  color: #0254EB;

  &:visited {
    color: #0254EB
  }

  &:hover {
    text-decoration: underline;
  }

  .morelink {
    text-decoration:none;
    outline: none;
  }
}
*/

.morecontent span {
  display: none;
}

.leg-list {
  padding-top: 5px;
}

div.legislation-wrapper {
  min-height: 450px;
  width: 1100px;

  div.leg-title {
    height: 25px;
    width: 400px;
    clear:both;
  }

  div.legislation-template {
    float: left;

    div.main {
      float: left;
      margin-left: 0px;
      margin-top: 0px;
      height: auto;
      width: 630px;

      div.summary-outlook {
        float: left;
        height: auto;
        width: 510px;
        margin-top: 0px;

        div.level1-summary {
          margin-left: 0px;
          margin-top: 0px;
          height: 25px;
          width: 510px;

          div.bill-summary {
            height: 100%;
            width: 510px;

            h4 {
              font-size:18px;
              text-align: left;
              background-color: #E0E0E0;
              color: black;
              padding-top: 5px;
              padding-left: 5px;
            }
          }
        }

        div.level1-summary-div {
          margin-left: 0px;
          margin-top: 10px;
          height: auto;
          width: 510px;

          div.summary.long_text.more {
            margin-top: 0px;
            height: auto;
            width: 510px;
            padding-left: 5px;
            text-align: justify;
          }
        }

        div.level1-bill-views {
          margin-left: 0px;
          margin-top: 40px;
          height: 25px;
          width: 350px;

          div.bill-views-label {
            height: 100%;
            width: 350px;

            h4 {
              font-size:18px;
              text-align: left;
              background-color: #E0E0E0;
              color: black;
              padding-top: 5px;
              padding-left: 5px;
            }
          }
        }

        div.level1-bill-view-stats {
          margin-left: 5px;
          margin-top: 30px;
          height: 70px;
          width: 90px;

          div.bill-views {
            margin-top: 0px;
            margin-left: 0px;
            height: 50px;
            width: 80px;
            text-align: center;
            border-right-width: 2px;
            border-right-style: solid;
            border-right-color: $blue;

            h4.views {
              margin-top: 10px;
              color: $text-blue;
              font-size: 28px;
            }

            h4 {
              color: $text-blue;
              font-size: 20px;
              margin-top: -10px;
            }
          }

          div.bill-outlook {
            display:block;
            margin-left: 90px;
            margin-top: -35px;
            height:70px;
            width: 200px;

            div.spectrum {
              margin-left: 75px;
              margin-top: 0px;
              margin-bottom: 5px;
              width:80px;
              height:20px;
              border: 1px;
              border-color: black;
              background-color:blue;
              background-image: -webkit-gradient(linear, left top, right top, color-stop(0.01, $yellow), color-stop(0.5, white), color-stop(0.99, $green));
              background-image: -moz-linear-gradient(left center, $yellow 1%, white 50%, $green 99%);
              z-index: 1;
            }

            div.spectrum-select {
              margin-top: -25px;
              margin-left: 85px;
              height:20px;
              width: 10px;
              border-style: solid;
              border-width: 2px;
              border-color: black;
              z-index:2;
            }

            div.spectrum-labels {
              margin-left: 5px;
              margin-top: -20px;
              height: 30px;
              width: 300px;
              z-index:3;

              div.gridlock {
                height: 40px;
                width: 100px;
                margin-left: 0px;
                margin-top: 0px;

                h4.gridlock {
                  font-size: 18px;
                  color: $black;
                }
              }

              div.consensus {
                height: 40px;
                width: 100px;
                margin-left: 155px;
                margin-top: -40px;

                h4.consensus {
                  font-size: 18px;
                  color: $black;
                }
              }
            }
          }
        }
      }

      div.sponsor {
        display: inline-block;
        margin-left: 15px;
        vertical-align: top;
        height: 100%;
        width: 100px;

        div.level1-sponsor {
          margin-top: 0px;
          height: 25px;
          width: 100px;

          div.bill-sponsor {
            height: 100%;
            width: 100px;

            h4 {
              font-size:18px;
              text-align: left;
              background-color: #E0E0E0;
              color: black;
              padding-top: 5px;
              padding-left: 5px;
            }
          }
        }

        div.sponsor-pic {
          display: center;
          height: 120px;
          width: 100px;
          margin-top: 10px;
          padding: 5px 5px 5px 5px;
          background-color: $gray;
        }

        div.sponsor-caption {
          margin-left: 0px;
          margin-top: 5px;
          height: auto;
          width: 100px;
          text-align: center;
          background-color: #E0E0E0;
        }
      }

      div.progress {
        display: inline-block;
        margin-left: 10px;
        vertical-align: top;
        height: 100%;
        width: 150px;

        div.level1-progress {
          margin-left: 0px;
          margin-top: 0px;
          height: 25px;
          width: 150px;

          div.bill-progress-title {
            height: 25px;
            width: 150px;

            h4 {
              font-size:18px;
              text-align: left;
              background-color: #E0E0E0;
              color: black;
              padding-top: 5px;
              padding-left: 5px;
            }
          }
        }

        div.level1-progress-div {
          margin-left: auto;
          margin-right: auto;
          margin-top: 5px;
          height: 230px;
          width: 150px;

          div.progress-graphic1 {
            text-align: center;
            margin-top: 10px;

            img.progress-img1 {
              margin-top: -10px;
            }

            h3.progress-label1 {
              color: black;
              font-size: 14px;
              margin-top: 5px;
              margin-bottom: 4px;
            }

            img.progress-img2 {
              margin-top: -10px;
            }

            h3.progress-label2 {
              color: black;
              font-size: 14px;
              margin-top: 5px;
              margin-bottom: 4px;
            }

            img.progress-img3 {
              margin-top: -10px;
            }

            h3.progress-label3 {
              color: black;
              font-size: 14px;
              margin-top: 5px;
              margin-bottom: 4px;
            }

            img.progress-img4 {
              margin-top: -10px;
            }
          }
        }
      }
    }

    div.bill-stats {
      display: inline-block;
      margin-top: 0px;
      margin-left: 10px;
      vertical-align: top;
      height: 100%;
      width: 150px;
      border: 1px;

      div.bill-stats-div {
        height: 260px;
        width: 150px;
        background-color: $light-gray;

        div.support-stats {
          text-align: center;
          padding-top: 7px;

          h3.number {
            color: $text-blue;
            font-size: 40px;
            margin-top: 8px;
          }

          h3 {
            color: $text-blue;
            margin-top: -15px;
          }
        }

        div.button {
          margin-top: 3px;
          margin-left: 0px;
          height: 40px;
          width: 100px;
          text-align: center;
          border-style: solid;
          border-width: 2px;
          border-color: $gray;

          &.support {
            background-color: $text-blue;
            margin-left: 25px;

            span {
              color: white;
              font-size: 18px;
              font-weight: bold;
            }
          }
        }

        div.oppose-stats {
          text-align: center;

          h4.number {
            color: $red;
            font-size: 40px;
            margin-top: 5px;
          }

          h4 {
            color: $red;
            margin-top: -15px;
          }
        }

        div.button {
          margin-top: 3px;
          margin-left: 0px;
          height: 40px;
          width: 100px;
          text-align: center;
          border-style: solid;
          border-width: 2px;
          border-color: $gray;

          &.oppose {
            background-color: $red;
            margin-left: 25px;

            span {
              color: white;
              font-size: 18px;
              font-weight: bold;
            }
          }
        }
      }
    }

    div.bill-share-and-actions {
      display: inline-block;
      margin-left: 10px;
      height: 100%;
      width: 160px;

      div.bill-share {
        margin-top: 0px;
        margin-left: 0px;
        height: 100px;
        width: 160px;
        border: 1px;

        div.bill-share-div {
          height: 100%;
          width: 160px;
          background-color: $light-gray;
          padding-top: 7px;

          div.button {
            margin-top: 3px;
            margin-left: 0px;
            height: 40px;
            width: 130px;
            text-align: center;
            border-style: solid;
            border-width: 2px;
            border-color: $gray;

            &.share {
              background-color: $green;
              margin-left: 15px;
              margin-top: 5px;

              span {
                color: white;
                font-size: 18px;
                font-weight: bold;
              }
            }
          }

          div.share-icons {
            margin-left: 15px;
            margin-top: 5px;
          }
        }
      }

      div.bill-other-actions {
        margin-top: 10px;
        margin-left: 0px;
        height: 150px;
        width: 160px;
        border: 1px;

        div.bill-other-actions-div {
          height: 100%;
          width: 160px;
          background-color: $light-gray;
          padding-top: 7px;


          div.button {
            margin-top: 3px;
            margin-left: 0px;
            height: 40px;
            width: 130px;
            text-align: center;
            border-style: solid;
            border-width: 2px;
            border-color: $gray;

            &.follow {
              background-color: $green;
              margin-left: 15px;
              margin-top: 5px;

              span {
                color: white;
                font-size: 18px;
                font-weight: bold;
              }
            }
          }

          div.button {
            margin-top: 3px;
            margin-left: 0px;
            height: 40px;
            width: 130px;
            text-align: center;
            border-style: solid;
            border-width: 2px;
            border-color: $gray;

            &.contact {
              background-color: $green;
              margin-left: 15px;
              margin-top: 5px;
              height: 80px;

              span {
                color: white;
                padding-right: 2px;
                font-size: 15px;
                font-weight: bold;
              }
            }
          }
        }
      }
    }

    div.secondary {
      height: auto;
      width: 630px;


        div.bill-text {
          float: left;
          height: auto;
          width: 630px;

          div.level2-bill-text {
            height: 25px;
            width: 630px;

            div.bill-text-title {
              height: 25px;
              width: 630px;

              h4 {
                font-size:18px;
                text-align: left;
                background-color: #E0E0E0;
                color: black;
                padding-top: 5px;
                padding-left: 5px;
              }
            }
          }

          div.level2-bill-text-div {
            margin-left: 0px;
            margin-top: 10px;
            height: auto;
            width: 630px;

            div.bill-text.long_text.more {
              margin-top: 0px;
              height: auto;
              width: 630px;
              padding-left: 5px;
              text-align: justify;
            }
          }
        }


      div.secondary-bottom {
        height:auto;
        width: 630px;

        div.bill-amendments {
          float: left;
          height: auto;
          margin-top: 20px;
          width: 360px;

          div.level2-bill-amendments {
            height: auto;
            width: 360px;

            div.bill-amendments-title {
              height: 25px;
              width: 360px;

              h4 {
                font-size:18px;
                text-align: left;
                background-color: #E0E0E0;
                color: black;
                padding-top: 5px;
                padding-left: 5px;
              }
            }

            div.level2-bill-amendments-div {
              display: block;
              margin-left: 0px;
              margin-top: 5px;
              height: auto;
              width: 360px;

              div.amendment-name {
                float: left;
                margin-top: 0px;
                height: 90px;
                width: 90px;
                padding-left: -10px;
                text-align: justify;

                span{

                  ul {

                    li {
                      margin-left: -20px;
                      list-style-type: none;
                      font-size: 14px;
                    }
                  }
                }
              }
            }

            div.amendment-type {
              display: inline-block;
              margin-top: 0;
              margin-left: 0px;
              height: 90px;
              width: 190px;
              padding-left: 0px;

              span{

                ul {

                  li {
                    margin-left: -10px;
                    list-style-type: none;
                    font-size: 14px;

                    a {
                      text-decoration: none;
                      font-color: black;
                    }
                  }
                }
              }
            }

            div.amendment-result {
              display: inline-block;
              margin-top: 0px;
              margin-left: 0px;
              height: 90px;
              width: 60px;
              padding-left: -5px;

              span{

                ul {

                  li {
                    margin-left: -10px;
                    list-style-type: none;
                    font-size: 14px;

                    a {
                      text-decoration: none;
                      font-color: black;
                    }
                  }
                }
              }
            }
          }
        }

        div.bill-recent-actions {
          display: inline-block;
          margin-left: 0px;
          margin-top: 20px;
          height: auto;
          width: 625px;

          div.level2-recent-actions {
            height: 25px;
            width: 625px;

            div.recent-actions-title {
              height: 25px;
              width: 625px;

              h4 {
                font-size:18px;
                text-align: left;
                background-color: #E0E0E0;
                color: black;
                padding-top: 5px;
                padding-left: 5px;
              }
            }
          }

          div.level2-recent-actions-div {
            margin-left: 0px;
            margin-top: 0px;
            height: auto;
            width: 625px;
            @include clearfix;

            div.recent-actions {
              float: left;
              margin-top: 0px;
              height: auto;
              width: 350px;
              padding-left: -5px;
              text-align: top;
              @include clearfix;

              span{

                ul {

                  li {
                    margin-left: -20px;
                    list-style-type: none;
                    font-size: 14px;

                    span.leg-list {
                      text-decoration: none;
                      font-color: $black;
                    }
                  }
                }
              }
            }

            div.recent-action-dates {
              display: inline-block;
              margin-top: 0px;
              margin-left: 10px;
              height: auto;
              width: 115px;
              padding-left: 0px;
              text-align: top;

              span{

                ul {

                  li {
                    margin-left: -20px;
                    list-style-type: none;
                    font-size: 14px;

                    span.leg-list {
                      text-decoration: none;
                      font-color: $black;
                    }
                  }
                }
              }
            }

            div.recent-action-results {
              display: inline-block;
              margin-top: 0px;
              margin-left: 10px;
              height: auto;
              width: 80px;
              padding-left: 0px;
              text-align: top;

              span{

                ul {

                  li {
                    margin-left: -20px;
                    list-style-type: none;
                    font-size: 14px;

                    span.leg-list {
                      text-decoration: none;
                      font-color: $black;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  div.cosponsors-subjects-committees-related {
    display: inline-block;
    margin-left: 10px;
    height: auto;
    width: 320px;

    div.level1-cosponsors {
      margin-left: 0px;
      margin-top: 0px;
      height: 25px;
      width: 320px;

      div.bill-cosponsors-title {
        height: 25px;
        width: 320px;

        h4 {
          font-size:18px;
          text-align: left;
          background-color: #E0E0E0;
          color: black;
          padding-top: 5px;
          padding-left: 5px;
        }
      }
    }

    div.cosponsors {
      float:left;
      margin-top: 15px;
      height: 20px;
      width: 150px;
      overflow: hidden;

      span{

        ul {
          margin-top: -3px;

          li {
            margin-left: -20px;
            font-size: 14px;
          }
        }
      }
    }

    div.cosponsors-roles {
      display: inline-block;
      margin-top: 15px;
      height: 20px;
      width: 150px;
      overflow: hidden;

      span{

        ul {
          margin-top: -3px;

          li {
            margin-left: -20px;
            font-size: 14px;
          }
        }
      }
    }


    div.level1-subjects {
      margin-left: 0px;
      margin-top: 25px;
      height: 25px;
      width: 320px;

      div.bill-subjects-title {
        height: 25px;
        width: 320px;

        h4 {
          font-size:18px;
          text-align: left;
          background-color: #E0E0E0;
          color: black;
          padding-top: 5px;
          padding-left: 5px;
        }
      }
    }

    div.subjects {
      margin-top: 0px;
      height: auto;
      width: 320px;
      overflow: hidden;

      span{

        ul {

          li {
            margin-left: -20px;
            font-size: 14px;
          }
        }
      }
    }

    div.level1-committees {
      margin-left: 0px;
      margin-top: 25px;
      height: 25px;
      width: 320px;

      div.bill-committees-title {
        height: 100%;
        width: 320px;

        h4 {
          font-size: 18px;
          text-align: left;
          background-color: #E0E0E0;
          color: black;
          padding-top: 5px;
          padding-left: 5px;
        }
      }
    }

    div.level1-committees-div {
      margin-left: 0px;
      margin-top: 0px;
      height: auto;
      width: 320px;

      div.committees {
        margin-top: 0px;
        height: auto;
        width: 320px;
        padding-left: -10px;
        overflow: hidden;

        span {
          padding-left: -10px;

          ul {
            padding-left: -10px;

            li {
              margin-left: -20px;
              font-size: 14px;
            }
          }
        }
      }
    }

    div.level1-related {
      margin-left: 0px;
      margin-top: 25px;
      height: 25px;
      width: 320px;

      div.related-bill-title {
        height: 25px;
        width: 320px;

        h4 {
          font-size:18px;
          text-align: left;
          background-color: #E0E0E0;
          color: black;
          padding-top: 5px;
          padding-left: 5px;
        }
      }
    }

    div.related {
      margin-top: 0px;
      height: auto;
      width: 320px;
      overflow: hidden;

      span{

        ul {

          li {
            margin-left: -20px;
            font-size: 14px;
          }
        }
      }
    }
  }
}