@import 'master-variables';
@import 'master-mixins';

@import "compass";


a {
  color: #0254EB;

  &:visited {
    color: #0254EB
  }

  .morelink {
    text-decoration:none;
    outline: none;
  }
}

.morecontent span {
  display: none;
}


div.main {
  margin-left: 0px;
  height: 450px;
  width: 1000px;

  div.leg-title {
    margin-left: 0px;
    margin-top: 20px;
    height: 25px;
    width: 200px;
  }

  div.level1-title {
    margin-left: 0px;
    margin-top: 5px;
    height: 25px;
    width: 250px;

    div.bill-title {
      height: 25px;
      width: 250px;

      h4 {
        font-size:18px;
        text-align: left;
        background-color: #E0E0E0;
        color: black;
        padding-top: 5px;
        padding-left: 5px;

      }
    }
  }

  div.level1-title-div {
    margin-left: 0px;
    margin-top: 5px;
    height: 200px;
    width: 250px;

    div.title.long_text.more {
      text-align: justify;
      margin-top: 0px;
      height: 200px;
      width: 250px;
      padding-left: 5px;
    }
  }




  div.level1-sponsor {
    margin-left: 410px;
    margin-top: -230px;
    height: 25px;
    width: 120px;

    div.bill-sponsor {
      height: 25px;
      width: 120px;

      h4 {
        font-size:18px;
        text-align: left;
        background-color: #E0E0E0;
        color: black;
        padding-top: 5px;
        padding-left: 5px;

      }
    }
  }

  div.level1-sponsor-div {
    margin-left: 410px;
    margin-top: 8px;
    height: 120px;
    width: 120px;
    background-color: #E0E0E0;

    div.sponsor {
      height: 120px;
      width: 120px;
      padding-left: 5px;
    }
  }

  div.sponsor-caption {
    margin-left: 410px;
    margin-top: 5px;
    height: 50px;
    width: 120px;
    text-align: center;
    background-color: #E0E0E0;
  }
}



div.secondary {
  margin-top: 10px;
  margin-left: 0px;
  height: 400px;
  width: 1000px;
}


