@charset "UTF-8";
@import 'master-variables';
@import 'master-mixins';


div.main-block {
  position: absolute;
  left: 140px;
  top: 110px;
  height: 280px;
  width: 780px;
  overflow: hidden;
  border-bottom: solid;
  border-top: solid;
  border-color: #ef503b;
  border-width: 1px;
  padding-left: 5px;
  padding-top: 0px;

  div.legislation-filter {
    position: absolute;
    left: 5px;
    top: 5px;
    height: 200px;
    width: 350px;
    margin-top: 10px;
    padding-left: 9px;

    div.filter-prompt {
      display: block;
      margin-bottom: 13px;
    }

     div.session_filter.unchecked {
      display: block;
      margin-bottom: 9px;
    }

    div.type_filter.unchecked {
      display: block;
      margin-bottom: 9px;
    }

    div.introduced_filter.unchecked {
      display: block;
      margin-bottom: 9px;
    }

    div.sponsor_filter.unchecked {
      display:block;
      margin-bottom: 9px;
    }

    div.myrepsvotes_filter.unchecked {
      display:block;
    }
  }

  div.legislation-selector {
    position: absolute;
    left:370px;
    top: 5px;
    height: 280px;
    width: 400px;

    div.session_selector {
      position: absolute;
      left: 0px;
      top: 0px;
      height: 500px;
      width: 400px;
      padding-left: 0px;
    }

    div.type_selector {
      position: absolute;
      left: 0px;
      top: 0px;
      height: 500px;
      width: 400px;
      padding-left: 0px;
    }

    div.introduced_selector {
      position: absolute;
      left: 0px;
      top: 0px;
      height: 500px;
      width: 400px;
      padding-left: 0px;
    }

    div.sponsor_selector {
      position: absolute;
      left: 0px;
      top: 0px;
      height: 500px;
      width: 400px;
      padding-left: 0px;

      ul {

        li {

          #sponsor_body {
            display: block;
          }

          #sponsor_name {
            display: block;
          }

          #sponsor_party {
            display: block;
          }

          #sponsor_district {
            display: block;
          }
        }
      }
    }
  }
}

div.div-button, div.div-button:active, div.div-button:link, div.div-button:visited {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  position: absolute;
  left: 540px;
  top:310px;
  border-radius: 10px;
  width: 160px;
  height: 53px;
  float: left;
  font-size: 20px;
  font-family: "Sonus Light";
  background-color: #f0f0f0;
  color: #353535;
  letter-spacing: 1px;
  text-decoration: none;
  outline: none;
  border: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 15px;
  margin: 10px 10px;
  text-align: center;

  span {
    display: inline-block;
    margin-top: 16px;
  }

  &:hover {
    color: white;
    background-color: #ef503b;
    cursor: pointer;
  }

  .clicked {
    color: white;
    background-color: #ef503b;
  }
}

div.div-filter-button, div.div-filter-button:active, div.div-filter-button:link, div.div-filter-button:visited {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  position: absolute;
  left: 710px;
  top:310px;
  border-radius: 10px;
  width: 160px;
  height: 53px;
  float: left;
  font-size: 20px;
  font-family: "Sonus Light";
  background-color: #f0f0f0;
  color: #353535;
  letter-spacing: 1px;
  text-decoration: none;
  outline: none;
  border: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 15px;
  margin: 10px 10px;
  text-align: center;

  span {
    display: inline-block;
    margin-top: 16px;
  }

  &:hover {
    color: white;
    background-color: #A1C5C3;
    cursor: pointer;
  }

  .clicked {
    color: white;
    background-color: #A1C5C3;
  }
}

input[type="checkbox"]{
  position: relative;
  display: block;
  top: 6px;
  right: 5px;
}

input[type="form"]{
  position: relative;
  display: block;
  top: 5px;
  right: 5px;
  width:200px;
}

div.filter-results {
  position: absolute;
  left: 140px;
  top: 400px;
  height: 250px;
  width: 780px;
  overflow: hidden;

  div.results-heading {
    position: relative;
    left: 5px;
    top: 5px;
  }
}

div.filter-congress-feed {
  position: absolute;
  left:1000px;
  width: 200px;
  top:130px;
}