@charset "UTF-8";
@import 'master-variables';
@import 'master-mixins';
@import "compass";

/* mission wrapper */
div.mission-wrapper {
  padding:0px 50px;
}

/* post twitter form */
div.post-twitter {

  padding:0px 50px;
  width:550px;
  position:relative;

  div.post-twitter-title {

  }

  input.twitter-input {
    width:300px;
    height:30px;
    padding-left:5px;
    font-size:16px;
    display:block;
    margin-top:20px;
  }

  a.twitter-register-button {
    @extend .october-red-button;
    float:right;
  }

  p.twitter-error {
    margin-top:20px;
    color:$red;
  }

  div.twitter-registering {
    position:absolute;
    left: 100%;
    top: 261px;
    display:none;
  }

}

/* blog */
div.blog-wrapper {
  padding: 0px 0px;
}

/* october login */
$darkish-red:#C22E1B;
.october-red-button {
  background-color: $red;
  padding: 10px;
  font-size:18px;
  color: white;
  @include border-radius(8px);
  &:hover {
    background-color:$red-light;
    text-decoration:none;
  }
}

/* request password recovery */
div.request-password-recovery {
  padding: 0px 100px;
  width:700px;
  margin:auto;
  div.request-password-recovery-title {
    font-size:24px;
    line-height: 32px;
  }
  input.request-password-recovery-email {
    width: 100%;
    height: 35px;
    padding-left: 5px;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  div.requested-message {
    padding-top:10px;
    float:left;
    font-size:16px;
    display:none;
  }
  div.requesting-password {
    margin-top: 14px;
    margin-right: 40px;
    float: right;
    display: none;
  }
  a.request-password-recovery-button {
    display: block;
    float: right;
    @extend .october-red-button;
  }
}


/* terms and priavcy */
div.october-login {
  h3.terms-header {
    font-size:32px;
  }
}

/* confirm page */
div.confirm-wrapper {
  div.confirm-text {
    width:800px;
    font-size:16px;
  }
}

/* hello page */
div.hello-wrapper {
  padding:0px 50px;
  div.hello-header {
    font-size:64px;
    color:$dark-gray;
  }
  div.hello-robot {
    float:left;
  }
  div.hello-text {
    float:left;
    margin-left:25px;
    font-size:18px;
    padding-top:13px;
    //width:700px;
  }
}

div.october-header {

  width:100%;
  border-bottom:1px solid $light-gray;
  padding-left:20px;
  padding-right:20px;
  min-width:1110px;
  text-align:center;

  a.header-logo {
    @include staticImage("/images/icons/logo/big_welcome_logo.png");
    width: 210px;
    height: 70px;
    background-size: 210px 70px;
    background-repeat: no-repeat;
    float:left;
    margin-top:9px;
    margin-left:5px;
    //margin-right:15px;
    margin-right:30px;
    @include transition(0.15s);
    &:hover {
      @include opacity(0.55);
    }
  }

  a.october-link {

  /*
  margin-top:35px;
  float:left;
  margin-left:35px;
  font-size:18px;
  color:$red;
  padding-bottom:15px;
  */

    color: $red;
    @include inline-block;
    font-size: 15px;
    float:left;
    margin-top: -11px;
    padding: 12px;
    padding-bottom: 34px;
    padding-top: 50px;
    width:140px;
    &:hover {
      background-color: $red;
      color: white;
      text-decoration:none;
    }
    &:active {
      background-color: $red;
      color: white;
    }
    &.clicked {
      background-color: $red;
      color:white;
    }

  }

  div.heart-gif {
    float:left;
    margin-top: 43px;
    margin-left: 45px;
    display:none;
  }

  p.lovegov-tagline {
    display:none;
    text-align:center;
    font-size:28px;
    color:$dark-gray;
    width: 800px;
    float: left;
    margin: auto;
    margin-top: 28px;
    position: relative;
    left: 14px;
  }

  div.top-right {
    padding-top: 30px;
    margin-right:30px;
    padding-bottom:15px;
    div.sign-in {
      position:relative;
      float:right;
      margin-left:50px;
      margin-right:0px;
      p {
        margin-top: 10px;
        margin-right: 10px;
        float:left;
        color:$dark-gray;
      }
      a.sign-in-button {
        margin-left:10px;
        float:left;
        @include div-button-padding($radius:7px,$padding:8px,$font-size:14px,$color:white,$background-color:$red,$hover-color:$red-light);
      }

      div.sign-in-dialogue {
        display:none;
        position:absolute;
        left: -243px;
        top: 67px;
        padding: 30px 65px;
        z-index:20;
        border: 1px solid $black;
        background-color:white;
        min-height:315px;
        padding-top: 40px;

        div.dialogue-pointer
        {
          @include trianglePointer($direction:'up',$width:15px,$color-inner:#FFFFFF,$color-border:black,$offset:30px);
          z-index:25;
          left:380px;
          top:-29px;
        }

        div.connect-buttons {
          margin-top:0px;
          display:block;

          a.sign-in-fb {
            @include staticImage($rel-path:'/images/login/FB_login.png');
            background-repeat: no-repeat;
            float: left;
            width: 145px;
            height: 35px;
            background-size: 145px 30px;
          }
          a.sign-in-twitter {
            @include staticImage($rel-path:'/images/login/Twitter_login.png');
            background-repeat: no-repeat;
            float: right;
            width: 145px;
            height: 35px;
            background-size: 145px 30px;
          }
          a.sign-in-fb:hover {
            @include staticImage($rel-path:'/images/login/FB_login_hover.png');
          }
          a.sign-in-twitter:hover {
            @include staticImage($rel-path:'/images/login/Twitter_login_hover.png');
          }
        }

        p {
          clear:both;
          text-align:center;
          display:block;
          text-transform: uppercase;
          margin:0px;
          margin-top:5px;
          @include titleFont();
          font-size: 20px;
          width:100%;
        }

        input.sign-in-input {
          display:block;
          margin-top:5px;
          width:300px;
          height:30px;
          color:$black;
          padding-left:5px;
          @include titleFont();
          font-size: 18px;
        }
        input.password-input {
          margin-top:8px;
        }

        div.dialogue-bottom {
          display:block;
          width:100%;
          margin-top:10px;

          div.heart-gif {
            float:left;
            margin-left:5px;
            margin-top:20px;
            display:none;
          }

          span.login-error {
            font-size: 14px;
            float:left;
            width: 100%;
            text-align: left;
            margin: 17px 0px 0px 0;
            color:$red;
          }
          a.forgot-link {
            float:right;
            margin: 21px 17px 0px 0;
          }
          a.login-button {
            float:right;
            margin: 15px 0 0px 0;
            @include div-button-padding($radius:7px,$padding:8px,$font-size:14px,$color:white,$background-color:$red,$hover-color:$red-light);
          }
        }

      }
    }
  }
}


div.no-login-footer.october-footer {
  width:100%;
  //position:fixed;
  //bottom:15px;
  //margin-top:20px;
  div.new-footer {
    padding-left:20px;
    width:100%;
  }
}


div.october-login {

  width:1100px;
  margin:auto;
  padding:50px;
  min-height:600px;

  div.october-central {
    width:100%;
    float:left;
    margin-left:0px;
    position:relative;
    left:-7px;
    margin-bottom:40px;

    div.login-first-page {
      padding:0px 50px;
      div.video-wrapper {
        width:100%;
        text-align:center;
        div.want-to-learn-more {
          font-size: 22px;
          margin-top: 15px;
          width:800px;
          span.new-to-lovegov {
            font-size:22px;
          }
          a.presidential-matching-link {
            margin-left: 51px;
            position: relative;
            top: 12px;
          }
        }
        div.or-sign-up-wrapper {
          width:800px;
          margin-left:100px;
          font-size:16px;
          @include clearfix;
          text-align: left;
          display: inline-block;
        }
      }
      div.sign-up-wrapper {
        float: left;
        margin-top: 25px;
        overflow:hidden;
        height:0px;
        div.october-sign-up {
          padding-top:25px;
          padding-left:0px;
          float:left;
          //text-align:left;
          width:900px;
        }
      }

      div.how-it-works-wrapper {
        margin-top:100px;
      }

      div.mission-wrapper {

      }
    }

    div.feed-main {
      min-height:400px;
    }
  }

  div.screenshots-div {
    display:none;
  }
}

a.presidential-matching-link {
  font-size: 22px;
  padding: 17px 25px 13px;
  color: white;
  background-color: $red;
  text-transform: uppercase;
  &:hover {
    background-color:$darkish-red;
    text-decoration:none;
  }
}

div.october-sign-up {
  width:900px;
  margin:auto;
  div.lg-appeal {
    width:100%;
    float:left;
    text-align:center;
    font-size:24px;
    margin-bottom:25px;
    display:none;
  }
  div.top-buttons {
    text-align: center;
    width: 30%;
    float: left;
    a.fb-button {
      @include staticImage($rel-path:'/images/login/fb-connect.png');
      width:250px;
      height:50px;
      background-repeat:no-repeat;
      background-position: top left;
      display: inline-block;
    }
    a.twitter-button {
      @include staticImage($rel-path:'/images/login/tw-connect.png');
      background-repeat:no-repeat;
      display: inline-block;
      width:250px;
      height:50px;
      background-size:250px 50px;
    }
  }
  div.left-side-disclaimer {
    width: 70%;
    float: left;
    font-size: 16px;
    text-align:center;
    color:$dark-gray;
    margin-top: 30px;
    margin-bottom: 35px;
  }
  div.lower-area {
    text-align:center;
    div.sign-up-with-email-area {
      display: inline-block;
      width:80%%;
      text-align:left;
      padding:30px;
      background-color: #eee;
      margin-bottom: 25px;
      @include border-radius(10px);
      p.sign-up-form-header {
        color:$red;
        font-size: 20px;
      }
    }

    div.action-items-area {
      float:right;
      width:41%;
      position: relative;
      left: 120px;
      top: 10px;
      div.action-items-header {
        font-size:20px;
        margin-bottom:15px;
        display:none;
      }
      div.action-item {
        width:100%;
        display:block;
        margin-bottom:15px;
        @include clearfix;
        div.action-item-num {
          font-size:28px;
          color:$red;
          float:left;
        }
        div.action-item-text {
          float:left;
          margin-left: 30px;
          padding-top: 8px;
          font-size: 20px;
        }
      }
      div.conclusion-item {
        border-top:1px solid $red;
        padding-top:15px;
        font-size:20px;
      }
    }

  }
  div.about-privacy-policy {
    float: left;
    margin-top: 40px;
    font-size: 16px;
    width: 100%;
    text-align:left;
  }
}

div.presidential-matching {
  min-height:500px;
  padding-left:50px;
  padding-right:50px;
  position:relative;
  min-height:800px;
  div.top-section {
    float:left;
    width: 100%;
    div.the-matching {
      display:block;
      width:620px;
      height: 180px;
      float:left;
      margin-bottom:20px;
      div.president-match.left {
        float:left;
      }
      div.president-match.right {
        float:right;
      }
      div.election-card {
        div.left-side {
          float:left;
          div.politician-image {
            float:none;
            position:relative;
            div.agreement-thoughts {
              position:absolute;
              left:105%;
              top:-10%;
              display:none;
            }
          }
          div.politician-name {
            font-size:21px;
            margin-top: 7px;
          }
        }
        div.right-side {
          padding-left:0px;
          div.match {
            padding-top: 62px;
          }
          .support-button {
            height: 35px;
            padding-top: 12px;
            font-size: 20px;
          }
          div.support-politician {
            @extend .support-button;
          }
          div.unsupport-politician {
            @extend .support-button;
          }
        }
      }
    }

    div.top-right-sign-up {
      float:right;
      margin-top: 0px;
      text-align: right;
      width: 160px;
      p.sign-up-text {
        text-align: right;
        float: right;
        width: 160px;
        font-size: 16px;
      }
      a.sign-up-button {
        padding:5px 10px;
        width:150px;
        float:right;
        font-size: 16px;
        background-color:$green;
        text-align:center;
        color:white;
        &:hover {
          background-color:$dark-green;
          text-decoration:none;
        }
      }
    }
  }
  div.trial-answering-questions-header {
    margin-top:20px;
    width: 100%;
    float:left;
    height:50px;
    div.presidential-matching-explanation {
      float:left;
      font-size:20px;
      color:$dark-gray;
      width: 700px;
    }
    div.presidential-matching-counter {
      float: right;
      font-size: 33px;
      position: relative;
      top: -7px;
    }
    div.big-loading {
      @include staticImage("/images/gifs/fetching.gif");
      float:left;
      width:500px;
      height:330px;
      background-size:500px 330px;
      background-repeat:no-repeat;
      margin-left: 145px;
      margin-top: 30px;
      display:none;
    }
  }
  div.presidential-matching-finished {
    float:left;
    padding-top:12px;
    font-size:24px;
    color:$black;
    width:750px;
    padding-bottom:25px;
    //width: 500px;
    display:none;
  }
  div.bottom-section {
    width: 100%;
    float:left;
  }
  div.sign-up-wrapper {
    display:none;
    padding-top:25px;
    padding-left:0px;
    float:left;
    div.october-sign-up {
      padding-left:0px;
      width:795px;
      float:left;
    }
    div.how-it-works-wrapper {
      float:left;
      margin-top:30px;
    }
  }
}

div.trial-questions-wrapper {
  float:left;
  margin-top:0px;
  div.feed-main {
    width:100%;
  }
  a.question-title {
    &:hover {
      cursor:default;
      text-decoration:none;
      color:$black;
    }
  }
  div.question_stub div.question_expanded_choose div.answer-actions div.a-action.discuss-question {
    display:none;
  }
  div.question_stub div.question_expanded_choose div.answers-wrapper {
    width:560px;
    div.answer-choice {
      width:96%;
    }
  }
}

/* password reset */
input.password-reset-input {
  margin-bottom:15px;
}
input.change-password-button {
  float:right;
  @include div-button-padding($radius:7px,$padding:8px,$font-size:14px,$color:white,$background-color:$red,$hover-color:$red-light);
  font-size:18px;
}

/* new register form */
div.new-register-form {
  width:100%;
  text-align: center;
  span.r-error {
    position: absolute;
    line-height: 14px;
    color: $red;
    width: 165px;
    text-align: left;
    position: absolute;
    top: 12px;
    left: 473px;
  }
  div.r-form-inputs {
    background-color: #f7f7f7;
    padding: 20px;
    @include border-radius(10px);
  }
  div.r-form-input {
    position:relative;
    width:100%;
    float:left;
    margin-bottom:10px;
    span.r-label {
      margin-top:7px;
      width: 160px;
      text-align: left;
      float: left;
      padding-left:45px;
    }
    input.r-input {
      float:left;
      color:$black;
      padding-left:5px;
      height:35px;
      width:300px;
      @include titleFont();
      font-size: 20px;
    }
    input.r-input.dob-input {
      width:35px;
    }
    input.r-input.year-input {
      width:60px;
    }
    span.dob-sep {
      float:left;
      margin: 0px 5px;
      font-size: 24px;
    }
    span.r-label.dob-label {
      margin-left:10px;
    }
    input.r-input.zip-input {
      width:90px;
      margin-left:10px;
    }
  }
  div.r-bottom {
    position:relative;
    width:100%;
    margin-top:30px;
    span.r-error {
      top: 30px;
      left: -15px;
      text-align:right;
    }
    input.privacy-checkbox {
      margin-top: 15px;
      margin-left: 5px;
    }
    span.privacy-agree
    {
      font-size:14px;
      @include titleFont;
      margin-top: 11px;
      margin-left:10px;
    }
    a.r-register {
      margin-left:24px;
    }
    div.registering-gif {
      margin-left: 27px;
      margin-top: 16px;
      display:none;
      position: absolute;
      top: 0px;
      left: 107%;
    }
  }
}























div.mission-statement
{
  clear:both;
  @include titleFont;
  color:$deep-gray;
  display:block;
  width:325px;
  font-size:20px;
  text-align:right;
  margin-top:50px;
  margin-right:0px;
}


#post-twitter-div {

  input.twitter-input {
    height:28px;
    width:410px;
    padding:3px;
    font-size:22px;
    color:$black;
    @include titleFont;
  }

  input.top {
    margin-top:10px;
  }
  input.middle {
    margin-top:10px;
    margin-bottom:10px;
  }
  input.bottom {
    margin-bottom:15px;
  }
  input.register-button {
    float:right;
  }
}

.developer_title
{
  color: $dark-gray;
}

.developer_names
{
  color: $text-blue;
  font-weight:lighter;
}

.team
{
  float:left;
}

$margin:20px;

.team_left
{
  @extend .team;
  @include setMargin(0,$margin);
}

.team_right
{
  @extend .team;
  @include setMargin($margin,0);
}

.team_center
{
  @extend .team;
  @include setMargin($margin,$margin);
}

p.fb_login_p
{
  float:left;
  @include titleFont;
  color:$deep-gray;
  font-size:17px;
  margin-bottom:0;
}

h1
{
  @extend h1;
  margin-top:15px;
}

h3
{
  @extend h3;
  font-size:21px;
}

#what-is-p
{
  width: 565px;
  font-size: 24px;
  color: $deep-gray;
  line-height: 150%;
  float: right;
  @include titleFont;
}

p.privacy_p
{
  margin-top:5px;
  margin-bottom:25px;
  margin-left:25px;
  margin-right:25px;

}

#loginform
{
  float:left;
}

.input-span
{
  position:absolute;
  left:6px;
  color:$deep-gray;
  cursor:text;
  font-size:28px;
  @include titleFont;
}

#username-span
{
  top:54px;
}

#password-span
{
  top:120px;
}

#fullname-span
{
  top:54px;
}

#email-span
{
  top:120px;
}

#email2-span
{
  top:186px;
}

#password-register-span
{
  top:252px;
}

.login-input
{
  height:42px;
  width:410px;
  padding:3px;
  font-size:22px;
  color:$black;
  @include titleFont;
}

div#register-div {

  position:relative;
  top:-40px;

  h2.register-title {
    margin-bottom:10px;
  }

  input#zip-register-input {
    width:150px;
    margin-left:20px;
    float:left;
  }
  input#age-register-input {
    width:150px;
    float:left;
  }

  table.register-form {
    input.register-button {
      @include div-button-padding($radius:7px,$padding:8px,$font-size:14px,$color:white,$background-color:$red,$hover-color:$red-light);
      float:left;
      margin-left:90px;
      font-size:23px;
    }
  }

  table td
  {
    text-align:right;
    padding-bottom:10px;
    padding-right:5px;
  }

  tr.privacy-policy {
    margin-top:5px;
    float:left;
  }
}

.account-actions, .account-actions:link, .account-actions:visited, .account-actions:active
{
  @include setMargin(0,15px);
  margin-top: 21px;
  font-size: 15px;
  color:$deep-gray;

}

.account-actions:hover
{
  text-decoration:underline;
  color:$text-blue;
}

div.get-started-left
{
/*tribute to cs17 project bignum. rest in peace. */
  font-weight:bold;
  font-size:170px;
  color:$red;
  float:left;
  @include setMargin(0,15px);
}

.get-started-right
{
  float:left;
  text-align:center;
}

.get-started-bottom
{
  float:left;
}

.get-started-paragraph
{
  @include titleFont;
  font-size:17px;
  line-height:150%;
  @include setMargin(15px,15px,10px);
}

p.recovery-error
{
  font-size: 17px;
  @include setMargin($margin-top:5px);
  float:left;
  width:260px;
  text-align:left;
  margin-top:15px;
}

div.resetting-gif {
  @include staticImage("/images/gifs/ajax-loader.gif");
  width: 15px;
  height: 15px;
  background-size: 15px 13px;
  background-repeat: no-repeat;
  float: left;
  margin-top: 31px;
  display:none;
}

div.vertical-separator
{
  @include verticalSeparator($height:70px,$margin-left:25px,$margin-top:5px);
}

#why-facebook-hover
{
  position:absolute;
  width:250px;
  height:135px;
  border-radius:5px;
  padding:25px;
  opacity:0.95;
  background-color:#f0503b;
  color:white;
  font-weight:bold;
  text-align:center;
  top:-10px;
  left:60px;
  font-size:19px;
  @include titleFont;

  a
  {
    position:absolute;
    top:10px;
    right:10px;
    color:white;
    cursor:pointer;
  }

  p
  {
    padding-top:10px;
    padding-bottom:10px;
  }
}

#emailForm
{
  float:left;
}

#mailingList
{
  float:left;
  margin-right:15px;
  margin-top:2px;
  @include titleFont;
  font-size:16px;
}

span.add-to-mailing-list-msg {
  display: block;
  color: $red;
}

#emailInput
{
  width:165px;
}

#emailSubmit
{
  width:60px;
}

#emailMessage
{
  float:right;
}

#facebook-button
{
  border:0;
  width:415px;
}

.about-div
{
  width:1000px;
  @include clearfix;
  margin-bottom:20px;

  h3
  {
    font-size: 24px;
  }
}

.get-started-container
{
  padding-top:15px;
  width:320px;
  float:left;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

.get-started-container:hover
{
  background-color:#F0F0F0;
}

.bottom-box {
  padding-top:15px;
  width:300px;
  float:left;
  -moz-border-radius: 25px;
  border-radius: 25px;
  &:first-child {
    clear: left;
  }
}

#privacy-div
{
  float:left;
  margin-top:20px;

  li
  {
    border:0;
  }

}

#privacy-div div
{
  width:475px;
  float:left;
}

.get-started-container-left
{
  padding-right:10px;
}

.get-started-container-right
{
  padding-left:10px;
}

.get-started-container-center
{
  padding-left:10px;
  padding-right:10px;
}

table
{
  border-spacing:0;
}

.forgot-password
{
  width:425px;
  margin-left:auto;
  margin-right:auto;
  position:relative;

  input.button-red {
    float: right;
    margin-top: 15px;
  }
}


div.upper {

}

div.screenshots-div {
  display:block;
  margin-top:0px;

  div.screenshot {
    margin-left:10px;
    clear:both;
    box-shadow: 0px 0px 15px 5px #f0f0f0;
    height:230px;
  }
  div.screenshot.qa_screenshot {
    margin-left:15px;
  }

  h4.explanation-header {
    margin-top:27px;
    margin-left:10px;
    font-size: 26px;
  }

  p.explanation {
    padding: 0 10px 0 10px;
    margin-top:15px;
    @include titleFont();
    font-size: 18px;
  }

}

div.hiw-what-is-lovegov {
  font-size: 72px;
}

div.hiw-lovegov-is {
  p {
    font-size: 40px;
    line-height: 125%;
    &.gray {
      padding:  15px;
      background-color: $white-gray;
      @include border-radius(15px);
      color: $deep-gray;
    }
  }
}

div.how-it-works-video-wrapper {
  margin-top:30px;
  margin-bottom:50px;
}

div.hiw-call-to-action {
  margin-bottom:50px;
  float:left;
  width:100%;
}

div.try-it-out {
  margin: 60px;
  text-align: center;
  span.try-it-out {
    background-color: $red;
    color: white;
    padding: 25px;
    font-size: 40px;
    cursor: pointer;
    @include border-radius(15px);
    &:hover {
      background-color: $red-light;
    }
  }
}

div.hiw-section {
  @include clearfix;
  margin: 50px 0;
  clear: left;
  div.hiw-section-title {
    color: $red;
    font-weight: bold;
    font-size: 48px;
  }
  div.hiw-section-body {
    font-size: 28px;
  }
}

div.hiw-left {
  float: left;
  width: 70%;
}

div.hiw-right {
  text-align: right;
  float: left;
  width: 25%;
  clear: right;
  margin-left: 40px;
}