/*

                       8?
                       8?
                       8?
                       8?                                                 ,7777   I7777
                       8?    88I  888   8       8.  88~  88    I8Z Z8.   7777777+7777777  8       8
                       8?   8~      O8  OZ     O8  87     ~8   8     8   7777777777777777 88     =8
                       8?  O8        8:  8     8  $8???????8  $?     ~8  7777777777777777  8     8
                       8?  8~        88   8   8   88           8     8   777777777777777    8   8,
                       8?  +8        8    Z8 $8   ,8            I888$     7777777777777     88 88
                       8?   88      88     8 8     88          8+          .7777777777       8~8
                       8?    =888888.       8=       8888888   88             77777?          8.
                                                               8I    88         I                  :=
                                                              8       88
                                               :  =           8.      8
                        +:.:  :, I :  :: ?:: :,: 7, : ~I        88888,
                         .I~?7,.  +               ?+   .
                                            ?

                             _______  _______  _______ _________ _______  _______
                            (       )(  ___  )(  ____ \\__   __/(  ____ \(  ____ )
                            | () () || (   ) || (    \/   ) (   | (    \/| (    )|
                            | || || || (___) || (_____    | |   | (__    | (____)|
                            | |(_)| ||  ___  |(_____  )   | |   |  __)   |     __)
                            | |   | || (   ) |      ) |   | |   | (      | (\ (
                            | )   ( || )   ( |/\____) |   | |   | (____/\| ) \ \__
                            |/     \||/     \|\_______)   )_(   (_______/|/   \__/

                             _______  _______  _______    _______           _______  _______ _________
                            (  ____ \(  ____ \(  ____ \  (  ____ \|\     /|(  ____ \(  ____ \\__   __/
                            | (    \/| (    \/| (    \/  | (    \/| )   ( || (    \/| (    \/   ) (
                            | |      | (_____ | (_____   | (_____ | (___) || (__    | (__       | |
                            | |      (_____  )(_____  )  (_____  )|  ___  ||  __)   |  __)      | |
                            | |            ) |      ) |        ) || (   ) || (      | (         | |
                            | (____/\/\____) |/\____) |  /\____) || )   ( || (____/\| (____/\   | |
                            (_______/\_______)\_______)  \_______)|/     \|(_______/(_______/   )_(

*/
@charset "UTF-8";
@import 'master-variables';
@import 'master-mixins';

@import "compass";

html {
  /* Default to standard browser font-size of 16px */
  font-size: 16px;
}

body {
  font-family:$body-fonts;
  color:$black;
  font-size: 62.5%; /* 1em = 10px */
}


* {
  /* Prevent padding from altering defined sizes */
  @include box-sizing(border-box);
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway-Thin'), url(http://themes.googleusercontent.com/static/fonts/raleway/v5/RJMlAoFXXQEzZoMSUteGWLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

body {
  font-family: 'Raleway', cursive;
}
