@charset "UTF-8";
@import 'master-variables';
@import 'master-mixins';

@import "compass";

div.match-wrapper {

  float:left;
  width:950px;

  div.match-header-wrapper {
    float:left;
    width:100%;
    margin-bottom:15px;
    padding-left:5px;

    div.match-header-link-wrapper {
      width:150px;
      margin-right:0px;
      float:left;
      a.match-header-link {
        text-align:left;
        width:85px;
        float:left;
        padding: 10px 5px;
        @include border-radius(10px);
        &:hover {
          background-color:$light-gray;
        }
        &.clicked {
          background-color:$red;
          div.match-link-num {
            color:white;
          }
          div.match-link-text {
            color:white;
          }
        }
        @include clearfix();
        &.last {
          margin-right:0px;
        }
        div.match-link-num {
          color:$dark-gray;
          font-family:$body-fonts;
          font-size:32px;
          font-size: 36px;
          line-height: 30px;
          margin-left:27px;
          width:25px;
        }
        div.match-link-text {
          text-align:center;
          color:$black;
          div.match-word {
            margin-top:3px;
          }
          div.match-description {
            //margin-top:-4px;
            margin-top:2px;
          }
        }
      }
      div.dot-divider {
        font-size: 72px;
        line-height: 33px;
        margin-left: 27px;
        float: left;
        color:$light-gray;
      }
    }
    div.get-involved {
      float: right;
      margin-top: 18px;
      font-size: 22px;
      margin-left: 10px;
      margin-right:35px;
      a {
        color: $black;
        &:hover {
          color:blue;
        }
      }
      a.clicked {
        color:blue;
      }
    }
    img {
      float: left;
      height: 60px;
      margin: 0 20px 0 10px;
    }
  }



  div.match-body-wrapper {
    float:left;
    width:100%;
    padding-left: 5px;
    div.histogram-main {
      margin-top:0px;
    }

    div.match-section-header {
      font-size:24px;
      float:left;
      margin-bottom:10px;
      width:100%;
    }

    div.below-match-section-header {
      float:left;
      width:100%;
      top:-5px;
      position: relative;
      div.reps-where {
        font-size: 20px;
        color: $dark-gray;
        float: left;
        margin-right: 20px;
      }
      span.not-your-district {
        margin-top: 5px;
        float: left;
        margin-right: 15px;
      }
      a.enter-new-address {
        float: left;
        margin-top: 5px;
      }
    }
    div.reps-wrapper {
      float:left;
      margin-top:10px;
    }
    div.google-maps-wrapper {
      margin-top:15px;
    }

    div.what-would-be-wrapper {
      width:100%;
      float:left;
      div.what-would-be-text {
        width:780px;
      }
    }

    div.match-with-congress {
      font-size:24px;
      float:left;
      margin-bottom:10px;
    }

    div.questions-wrapper {
      float:left;
      div.feed-content-wrapper {
        /*
        border-left: 1px solid $light-gray;
        border-right: 1px solid $light-gray;
        border-bottom: 1px solid $light-gray;
        border-top:1px solid $light-gray;
        */
        div.feed-item-wrapper {
          //border-top: 1px solid $light-gray;
        }
        div.feed-item-wrapper {
          padding-bottom: 30px;
          padding-top: 25px;

          div.right-part {
            margin-left:0px;
            div.top-comment {
              margin-left:5px;
            }
          }
        }
      }
    }

    div.representatives {
      float: left;
      margin-bottom: 15px;
    }

    div.feed-main {
      width:100%;
      div.feed-content-wrapper {
        margin-top:25px;

        div.above-rule-line {
          div.main-part {
            width:615px;
          }
        }
        div.right-part {
          margin-left:5px;
          div.top-comment {
            margin-left:20px;
          }
        }

      }
    }

    div.the-content {
      width:100%;
    }

    div.find-your-reps {
      margin-bottom: 5px;
      margin-top: 10px;
    }

    div.running {
      height: 405px;
      float: left;
      margin-bottom: 15px;
    }

    div.feed-main {
      //margin-top: 20px;
      width: 100%;
      position: relative;
      float: left;
    }

    div.dismissible-header {
      float:left;
    }

    div.election-card {
      margin-right:15px;
    }

    div.google-maps-wrapper {
      float:left;
      width:100%;
    }

    div.people-list-wrapper {
      float: left;
      width: 100%;
      margin-bottom: 30px;

      div.avatar-strip {
        float:left;
      }
      div.no-friends {
        font-size: 16px;
        padding-top: 35px;
        display:none;
      }

    }

    div.match-feed {
      position: relative;
      top: -15px;
      div.feed-top-bar {
        display:none;
      }
      div.feed-content-wrapper {
        margin-top:0px;
      }
      div.feed-main {
        min-height:0px;
      }
      div.load-more {
        margin-top:15px;
      }
    }

    div.like-minded-bottom {
      border-top:none;
      div.like-minded-bottom-header {
        margin-bottom:15px;

        div.like-minded-match-header {
          float:left;
          font-size:23px;
        }
      }
    }

    a.import-friends {
      float:right;
    }

    div.histogram-main {
      div.feed-main div.feed-content-wrapper div.everything_loaded_wrapper {
        text-align:left;
      }
    }

  }

}

div.match-body-wrapper {
  div.match-groups-section {
    float: left;
    width: 100%;

    div.below-match-section-header {
      padding-bottom: 6px;
    }

    span.initializing-heart-gif {
      @include staticImage("/images/gifs/ajax-loader.gif");
      width: 15px;
      height: 15px;
      background-size: 15px 13px;
      background-repeat: no-repeat;
      float: left;
      margin-left:20px;
      margin-top: 10px;
      display:block;
    }

    div.groups-list-wrapper {
      float:left;
      min-height: 100px;
      width:100%;
      padding-top:20px;
      padding-bottom:20px;
      //border-top: 1px solid $light-gray;
    }

    div.group-expanded {
      width:785px;
      div.group-left-column {
        margin-right:25px;
      }
      div.group-text {
        margin-right:25px;
      }
    }

  }
}