@import 'master.scss';

div.notification
{
  padding: 15px 0px 15px 10px;
}

td.notification-thumbnail
{
  padding-right: 10px;
  width: 25px;
  text-align: center;
  height: 25px;
  vertical-align: middle;
}

td.notification-text
{
  width: 250px;
  vertical-align: middle;
}