@import 'master-variables.scss';

@mixin notification-box {
  border-bottom: solid 1px;
  border-color: $gray;
  background-color: white;
}

div.notification {
  @include notification-box;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

div.see-more-notifications {
  @include notification-box;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}