@import 'master-variables';
@import 'master-mixins';

@mixin notification-box
{
  border-bottom: solid 1px;
  border-color: $gray;
  background-color: white;
}

div.notifications-dropdown
{
  border-top: solid 1px $gray;
  border-right: solid 1px $gray;
  border-left: solid 1px $gray;
  position: absolute;
  left: -197px;
  top: 66px;
  width: 315px;
  color: $black;
  font-size: 13px;
  z-index: 1;
  background-color: white;
  cursor: auto;
  display: none;

  $triangle-size: 16px;
  span.triangle-wrapper {
    position:relative;
    left: 253px;
    top: 1px;
    span.triangle {
      @include triangle('up', $white, $triangle-size + -1px);
      position: absolute;
      top:-$triangle-size + 1px;
      right:20px;
    }
    span.triangle-border {
      @extend span.triangle;
      @include triangle('up', $deep-gray, $triangle-size);
      top:-16px;
      right:19px;
    }
  }

  div.notifications-header
  {
    @include grayText();
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align:center;
    border-bottom: solid 1px $gray;
  }

  div.notification
  {
    @include notification-box;
    padding-top: 15px;
    padding-left: 10px;

    &:hover{ background-color: $light-gray; }
  }

  div.notification-highlighted
  {
    background-color: $white-gray;
  }

  div.no-notifications
  {
    @include notification-box;
    padding-top: 50px;
    padding-bottom: 50px;
    @include grayText();
    width: 100%;
    text-align: center;

  }

  div.see-more-notifications
  {
    @include notification-box;
    padding-top: 6px;
    padding-bottom: 5px;
    text-align: center;

    &:hover{ background-color: $light-gray; }
  }


  div.notifications-container {
    min-height: 55px;
    div.notifications-loading {
      @include staticImage("/images/gifs/ajax-loader.gif");
      width: 15px;
      height: 15px;
      background-size: 15px 13px;
      background-repeat: no-repeat;
      position: absolute;
      top: 65px;
      left: 137px;
      display:none;
    }
  }
}

