@charset "UTF-8";
@import 'master-variables';
@import 'master-mixins';

@import "compass";


// avatar-with-name
div.avatar-with-name
{
  margin-right: 5px;
  margin-bottom: 5px;
  vertical-align: middle;

  span.avatar-name
  {
    display:inline-block;
    text-size: 12px;
    color: $black;
  }

  span.avatar-image
  {
    display:inline-block;
    margin-right: 10px;
  }
}

