@charset "UTF-8";
@import 'master-variables';
@import 'master-mixins';
@import "compass";

div.profile-page {
  width:1140px;
  div.top {

    width:100%;
    overflow:hidden;

    div.top-left {
      float:left;
      @include clearfix;
      background-color: white;
    }

    span.name {
      float:left;
      @include fontSize(22px);
      @include inline-block;
      color: $black;
      &:hover {
        color:black;
      }
    }

    span.election-icon-wrapper {
      position:relative;
      float:left;
      width:60px;
      height:10px;
      margin-left:10px;
      span.election-icon {
        @include staticImage('/images/create/election_blue.png');
        width:60px;
        height:60px;
        background-size:60px 60px;
        background-repeat:no-repeat;
        position:absolute;
      }
    }

    span.state {
      float:left;
      margin-left:10px;
      margin-top:6px;
      @include fontSize(16px);
      color:$gray;
    }

    span.redheart {
      float:left;
      margin-left:8px;
      margin-top:6px;
    }

    span.upvotes {
      float:left;
      margin-left:8px;
      margin-top:6px;
      margin-right: 15px;
      color:$red;
      @include fontSize(16px);
    }

    a.edit-profile-link {
      float:left;
      margin-left:8px;
      margin-top:6px;
      margin-right:10px;
    }

    span.redline {
      display: block;
      margin-left:8px;
      margin-top:16px;
      border-top: 1px solid $red;

    }

  }

/* everything below little top part */
  div.not-top {
    table.profile-table {
      width:100%;

      margin-top:10px;
      td.left-bar {
        width:150px;
        margin-right:30px;

        .profile-button {
          width:100%;
          height:30px;
          margin-top:5px;
          text-align:center;
          cursor: pointer;
          text-transform:uppercase;
          @include fontSize(16px);
          padding:7px;
        }

        div.user-follow {
          @extend .profile-button;
          background-color:$light-gray;
          color: $black;
          &:hover { background-color: $gray; }
        }

        div.user-unfollow {
          @extend .profile-button;
          background-color:$green;
          color:white;
          &:hover { background-color: $red; }
        }

        div.support-politician {
          @extend .profile-button;
          background-color:$light-gray;
          color: $black;
          &:hover { background-color: $gray; }
        }

        div.unsupport-politician {
          @extend .profile-button;
          background-color:$blue;
          color:white;
          &:hover { background-color: $red; }
        }

        div.message-politician {
          @extend .profile-button;
          margin-top:10px;
          background-color:$light-gray;
          color: $black;
          &:hover { background-color: $gray; }
        }



        div.stats {
          div.stats-row.first {
            margin-top:12px;
          }
          div.stats-row {
            margin-top:15px;
          }

          div.stats-box {
            float:left;
            width:60px;
            height:60px;
            border: 1px solid $gray;
            text-align:center;
            div.num {
              margin-top:14px;
              @include fontSize(36px);
              line-height:20px;
            }
            div.label {
              @include fontSize(12px);
              margin-top:5px;
            }
            &:hover {
              //cursor:pointer;
              //background-color:$dark-gray;
            }
          }
          div.stats-box.supporter-box {
            width:90%;
          }
          div.left-box {
            margin-left:5px;
            float:left;
          }
          div.right-box {
            float:right;
            margin-right:5px;
          }

          div.gray-box {
            background-color:$light-gray;
            div.num {
              color:white;
            }
          }
          div.white-box {
            div.num {
              color:$red;
            }
          }
        }

        div.follow-button {
          margin-top:20px;
        }
        div.profile-bar-button {
          width:100%;
          height:40px;
          padding-top:5px;
          padding-left:10px;
          background-color:$light-gray;
          text-align:left;
          @include fontSize(24px);
          &:hover {
            background-color:$red;
            color:white;
          }
        }
      }

      td.profile-main {
        padding-left:30px;
      }
    }

    div.profile-header {
      @include fontSize(18px);
      font-weight:bold;
    }

    div.profile {
      width:100%;
      a.box-link {
        height:27px;
        width:100%;
        background-color:$gray;
        color:$black;
        padding:3px;
        display:block;
        &:hover {
          background-color:$dark-gray;
          cursor:pointer;
        }
      }

    /* profile top */
      div.profile-top {
        height:385px;
        div.match-container {
          float:left;
          width:250px;
          margin-right:80px;
          div.web-comparison-wrapper {
            position:relative;
            top:-20px;
            left:-20px;
          }
          a.see-breakdown {
            width:100%;
            float:left;
            text-align:center;
            color:$black;
            background-color:$light-gray;
            padding:5px;
            position: relative;
            top: -16px;
            left: 4px;
            &:hover {
              background-color:$dark-gray;
              cursor:pointer;
            }
          }
        }

        div.profile-info {
          float:left;
          width:300px;
          margin-right:30px;

          div.profile-is-running-for {
            margin-top:10px;
            margin-bottom:15px;
            div.self-politician {
              position:relative;
              @include fontSize(18px);
              color:$green;
              max-height: 115px;
              a.link-to-election {
                float:left;
                width:100%;
                margin-top:5px;
              }
            }
            div.profile-office {
              margin-top:15px;
              div.office-title {
                width:100%;
                @include fontSize(16px);
                color:$text-blue;
              }
              div.office-description {
                margin-top:5px;
                color:$black;
                font-size:12px;
              }
            }
            margin-bottom:15px;
          }

          div.bio-statement {
            max-height:308px;
            display:block;
            width:100%;
            div.profile-header {
              float:left;
              width:90px;
            }
            div.pencil-button {
              margin-top:3px;
              float:left;
            }
            div.bio-text {
              overflow:hidden;
              //padding-left:10px;
              width:100%;
              margin-top:6px;
              max-height:150px;
              div.inline-div {
                width:100%;
              }
              a.edit-link {
                float:right;
                margin-left:8px;
              }
              textarea.bio-inline
              {
                height: 230px;
                padding:5px;
                width: 100%;

                border:0;
                color:$deep-gray;
                font-family:$title-font;
                padding: 15px;
                position: relative;
                top: -15px;
                left: -15px;
                background-color:$awesome-blue;
                &:focus {
                  color:$black;
                  background-color:$light-gray;
                }
                &:hover {
                  background-color:$light-gray;
                  cursor:pointer;
                }
              }
            }
          }

          div.profile-about {
            width:100%;
            display:block;

            div.about-items {
              margin-top:25px;
            }
            div.about-item {
              margin-top:10px;
            }
            .value {
              margin-left:15px;
              display:inline;
            }

            a.party-wrapper {
              margin-top:5px;
              img.party-label
              {
                margin-right: 5px;
                margin-bottom: 10px;
              }
            }
          }
        }

        div.profile-stuff {
          float:left;
          span.breakdown-box {
            width:240px;
            display:block;
            height:180px;

            div.breakdown-top {
              div.profile-header {
                float:left;
              }
              a.link-all {
                float:right;
                margin-top:3px;
                margin-right:3px;
                display:none;
              }
            }

            div.stuff {
              width:100%;
              height:150px;
              margin-top:3px;
            }

            a.view-all {
              width:100%;
              margin-top:10px;
              background-color:$light-gray;
              padding:5px;
              padding-left:10px;
              &:hover {
                background-color:$dark-gray;
                cursor:pointer;
              }
            }
          }

          span.profile-groups {
            margin-bottom:20px;
            a.box-link {
              margin-top:10px;
            }
            a.box-link.first-box {
              margin-top:0;
            }
          }

          span.profile-politicians {
            a.profile-avatar {
              float:left;
              margin-right:20px;
              margin-bottom:20px;
              &:hover {
                cursor:pointer;
              }
            }
            div.empty-profile {
              margin-top:15px;
            }
          }
        }
        div.profile-ghost {
          padding-top:20px;
          float: left;
          width: 620px;
          div.ghost-header {
            @include fontSize(24px);
          }
          .claim-button {
            float:right;
            margin-top:8px;
            padding:8px;
            background-color:$gray;
            color:white;
            @include border-radius(7px);
            &:hover {
              background-color:$light-gray;
            }
          }
          div.are-you-a-politician {
            margin-top: 43px;
            @include fontSize(14px);
            position:relative;
            input.claim-profile {
              width:250px;
              margin-top:10px;
              height:25px;
              float:right;
              margin-right:15px;
              padding-left:5px;
              color:$black;
            }
            a.claim-profile-button {
              @extend .claim-button;
              margin-top:26px;
            }
            p.claimed-message {
              @include fontSize(12px);
              position: absolute;
              left: 105px;
              top: 68px;
              width: 450px;
              color:$dark-gray;
              display:none;
            }
          }
          div.are-you-concerned {
            margin-top: 100px;
            position:relative;
            @include fontSize(14px);
            p.asked-message {
              position:relative;
              top:20px;
              span.asked-counter {
                float:right;
                font-size: 14px;
                margin-right: 25px;
                margin-top: 17px;
                color:$dark-gray;
              }
              a.ask-to-join {
                @extend .claim-button;
                background-color:$red;
                &:hover {
                  background-color:red;
                }
              }
            }
          }
        }
      }

    /* Profile bottom */
      div.profile-bottom {
        position: relative;
        top: -71px;
        div.profile-tabs {
          width:100%;
          margin-top:100px;
          a.profile-tab {
            float:left;
            position:relative;
            top:-41px;
            background-color:$light-gray;
            padding:6px 14px;
            @include fontSize(20px);
            color:$black;
            border: 1px solid $gray;
            border-bottom: none;
            &:hover {
              border-color:$black;
            }
          }
          a.profile-tab.clicked {
            background-color:white;
            z-index:1;
            &:hover {
              border-color:$black;
            }
          }
          div.separator-line {
            float:left;
            border-bottom:1px solid $gray;
            width:15px;
          }
          div.separator-line.end {
            width:630px;
          }
        }
      }

      div.profile-focus {
        div.profile_focus {
          display:none;
        }
        div.profile_focus.questions_focus {
          display:block;
        }

        div.activity {
          width:100%;
          div.activity-header {
            width:100%;
            margin-top:50px;
            span.filter-by {
              float:left;
            }
          }
        }
      }
    }
  }
}


/* profile questions */
div.profile-questions {

  div.breakdown-wrapper {
    float:left;
    width:800px;
  }

  div.has-answered-text {
    @include fontSize(16px);
    float:left;
  }

  div.questions-feed-wrapper {
    margin-top:15px;
    a.browse-all {
      padding:5px;
      padding-left:10px;
      padding-right:10px;
      background-color:$gray;
      color:white;
      margin-top:2px;
      float:right;
      &:hover {
        background-color:$dark-gray;
        color:white;
      }
    }
  }
}


/* message politician */
div.message-politician-wrapper {
  position:relative;
  padding: 5px 20px 5px 20px;
  div.message-header {
    width:100%;
    text-align:center;
    @include fontSize(24px);
  }
  div.message-wrapper {
    margin-top:20px;
    padding:20px;
    border:1px solid $red;
    @include fontSize(14px);
    textarea.message-textarea {
      width: 100%;
      height: 200px;
      padding: 10px;
    }
  }
  a.send-message {
    float:right;
    margin-top:15px;
    @include fontSize(20px);
    color:white;
    padding:8px;
    background-color:$red;
    @include border-radius(8px);
    &:hover {
      background-color:$red-light;
    }
  }
  div.message-success {
    position:absolute;
    display:none;
    top:50px;
    left:50px;
    @include fontSize(24px);
    top: 170px;
    left: 85px;
    a.close-button {
      float: right;
      position: relative;
      top: 80px;
      left: -300px;
    }
  }
  div.enter-your-phonenumber {
    margin-top:30px;
    span.please-enter {
      float:left;
    }
    input.phonenumber-input {
      float:left;
      margin-left: 20px;
      margin-top: -4px;
      height: 25px;
      width: 180px;
      padding-left:8px;
    }
  }
  div.why-phonenumber {
    @include fontSize(12px);
    width:400px;
    color:$dark-gray;
  }
  div.no-phonenumber {
    color:$red;
    display:none;
  }
}