@import 'master-mixins';

div.profile-section-title
{
  @include h4;
  color: $text-blue;
}

/* LEFT MODULE */
div.middle-left
{
  position:relative;
  float:left;
  width:650px;

  /* Basic Info */
  div.basic-info
  {
    position:relative;
    margin-bottom:5px;
    margin-left:30px;
    min-height:250px;

    /* Info Left Side */
    div.basic-info-left
    {
      @include float-left;
      margin-right: 20px;

      div.profile-follows-you
      {
        font-size: 9px;
        margin-top: 2px;
        text-align: center;
        color: $deep-gray;
      }
    }

    /* Info Main Contents */
    div.basic-info-main
    {
      @include float-left;
      max-width: 520px;

      span.plus-color
      {
        color: $deep-gray;
        font-weight: bold;
      }

      div.profile-username
      {
        @include h2;
        margin-bottom:5px;
      }

      div.profile-location
      {
        @include h5;
        color: $text-blue;
        margin-left: 2px;
      }

      div.profile-school
      {
        @include h5;
        margin-left: 2px;
      }

      div.profile-summary
      {
        color: $deep-gray;
        font-style: italic;
        width: 380px;
      }

      /* Profile Stat Boxes */
      div.profile-stats
      {
        margin-top: 20px;
        height: 80px;

        div.stat-box
        {
          @include rounded-box;
          @include float-left;
          border-width: 2px;
          border-color: $gray;
          border-style: solid;
          background-color: $gray;
          margin-right: 10px;

          div.profile-stats-number
          {
            @include big-num;
            color: white;
            position: relative;
            line-height: 52px;
          }

          div.profile-stats-title
          {
            @include fontSize(12px);
            color: $deep-gray;
            position: relative;
            top: -3px;
          }
        }

        div.stat-box:hover
        {
          background-color: $light-gray;
          border-color: $light-gray;
        }

        div.followers-stat
        {
          background-color: white;

          div.followers-number
          {
            color: $red;
          }
        }

        div.followers-stat:hover
        {
          background-color: white;
          border-color: $gray;

          div.followers-number
          {
            color: $red-light;
          }
        }
      }

      /* Profile Buttons */
      div.profile-buttons
      {
        margin-top: 10px;
        height: 50px;
      }
    }
  }

  /* Profile Bottom */
  div.profile-bottom
  {
    @include float-left;
    display: block;
    margin-top: 50px;

    /* Activity Feed */
    div.profile-activity-container
    {
      @include float-left;
      display: block;
      width: 400px;
      margin-right: 30px;

      div.profile-activity-feed
      {
        display: block;

        div.action-separator
        {
          @include horizontalSeparator(400px);
        }
      }
    }

  /* Groups Container */
    div.profile-group-container
    {
      @include float-left;
      width: 200px;
      $linkborder: 3px;

      a.profile-group-link, a.profile-group-link:link, a.profile-group-link:active, a.profile-group-link:visited
      {
        @include rounded-box(80px);
        @include float-left;
        margin: $linkborder 10+$linkborder 10+$linkborder $linkborder;
        border: hidden $linkborder $gray;
      }

      a.profile-group-link:hover
      {
        @include rounded-box(80px);
        @include float-left;
        margin: 0px 10px 10px 0px;
        border-style: solid;
      }

      img.rounded
      {
        @include rounded(18px);
        height: 80px;
        width: 80px;
      }
    }
  }
}

/* Activity Feed */
div.profile-activity-container
{
  @include float-left;
  display: block;
  width: 400px;
  margin-right: 50px;

  div.profile-activity-feed
  {
    display: block;

    div.action-separator
    {
      @include horizontalSeparator(400px);
    }
  }
}

/* RIGHT MODULE */
div.middle-right
{
  float:left;
  width:300px;
  margin-left:20px;

  div.right-separator
  {
    @include horizontalSeparator(300px);
  }

  div.follow-requests-container
  {
    width: 300px;

    div.follow-request
    {
      padding: 15px 0px 15px 10px;
    }
  }

  div.matching
  {
    @include rounded();
    border-width: 3px;
    border-color: $gray;
    border-style: solid;
    text-align:center;
    position: relative;
    top: -20px;
    z-index:0;

    div#qaweb
    {
      z-index:0;
      position:relative;
      width:300px;
      height:300px;
      text-align:left;
    }

    div#qaweb-title
    {
      @include rounded-bottom(10px);
      position:relative;
      background-color: $gray;
      padding-top:10px;
      padding-bottom:2px;
      @include h5;
      color: white;
    }
  }
}


