@import 'master-variables';
@import 'master-mixins';


#sidebar
{
	margin-left: 20px;
	padding-left: 29px;
    width:250px;
    float:left;
    padding-bottom:20px;
}

div.topics-header span.content_header {
	text-align: center;
	font-size: 26px;
}

div.sidebar-box {
	border: 1px solid $light-gray;
	padding: 15px;
	margin: 50px 0 50px 0;
	@include rounded(8px)
}



#sidebar-fixed-div
{
    width:250px;
}

#sidebar h3
{
    font-weight:normal;
    font-size:14pt;
    font-family:"Gill Sans Std", Helvetica, Verdana, sans-serif;
    color:#0f5569;
}

.panel
{
    position:relative;
}

.panel a, .panel a:link, .panel a:visited, .panel a:active
{
    color: #5d5d5d;
    text-decoration:none;
}

.panel a:hover
{
    color: #f0503b;
    text-decoration:none;
}

#random-questions
{
    float:left;
    border-top:1px solid #ccc;
    margin-top:15px;
}


#topic-questions
{
    position:relative;
    float:left;
}

.topic-img-mini
{
    float:left;
    margin-right:15px;
}

.topic-title
{
    float:left;
    margin-top:10px;
}

.question
{
    float:left;
    margin-bottom: 30px;
}

.upper-title
{
    float:left;
    margin-top:0px;
    margin-bottom:10px;
}

.topic-heading
{
    margin-top:10px;
    margin-bottom:10px;
}


.lower-title
{
    float:left;
    margin-top:20px;
}

#topics-title
{
    float:left;
}


.topic-questions-header
{
    margin-bottom:20px;
}


.q-topic-wrapper
{
    position:relative;
    float:right;
    padding-left:5px;
}

.q-topics-wrapper
{
    float:left;
}

div.topics-header
{
    width:200px;
}

#topics-header a
{
    cursor:pointer;
}

#all-topics-button
{
    float:right;
}

#all-topics-button:hover
{
    color:#F0503B;
    cursor:pointer;
}

#home-sidebar-title
{
    margin-top:0px;
    padding-right:50px;
}

.share-button {
    background-color: #EBEBEB;
    margin-bottom: 10px;
}

div.shareModal {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20%;
    width: 60%;
    height: 40%;
    display: block;
    background-color: #fff;
    z-index: 103;
    position: absolute;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: none;
}

div.shareModal div.share_content {
    margin: 20px;
}
div.shareModal span.share_header {
    text-align: center;
}

select.share_select {
    width: 600px;
}

div.action {
    td.action-text {
        width: auto;
    }
}
