@charset "UTF-8";
@import 'master-variables';
@import 'master-mixins';
@import "compass";


div.top {
  width:100%;
}

div.left-sidebar {
  float:left;
  width:150px;
  margin-right:30px;
}

div.main-focus {
  float:left;
  width:950px;
}