<div class="blog_item">
    <div class="blog_item_left">
        <h3><a class="clear-link" href="{{ blogPost.getURL }}">{{ blogPost.title }}</a></h3>
        <div class="blog_posted">Posted on <strong>{{ blogPost.datetime }}</strong> in {% for cat in blogPost.category %}<a class="category_blog" href="/blog/{{ cat|lower }}">{{ cat }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
        {{ blogPost.message|urlize|linebreaks }}
    </div>
    <div class="blog_item_right">
        <h6 style="margin-bottom:5px">Author</h6>
        <div class="blog_creator">
            {% load thumbnail %}
            {% thumbnail blogPost.creator.getProfileImage.image "35x35" crop="center" format="PNG" as img %}
                <img src="{{ img.url }}"/>
            {% endthumbnail %}
                <div style="display:inline-block">
                    <div>
                        <a href="{{ blogPost.creator.get_url }}">{{ blogPost.creator.get_name }}</a>
                    </div>
                    <div>
                        <span>{{ blogPost.creator.user_title }}</span>
                    </div>
                </div>
        </div>
        <div class="blog_options">
            {% if viewer == blogPost.creator %}<a class="delete_blog_post" href="{{ blogPost.getURL }}">Delete</a>{% endif %}
        </div>
    </div>
</div>