<!-- center -->
<img id="myviews" class="Education" style="height:100px; width:100px; position:absolute; left:250px; top:110px;" src="/static/orange.gif"/>
<!-- top -->
<img id="q1" style="height:50px; width:50px; position:absolute; left:275px; top:50px;" src="/static/question.png"/>
<!-- bottom -->
<img id="q2" style="height:50px; width:50px; position:absolute; left:210px; top:10px;" src="/static/question.png"/>
<!-- right -->
<img id="q3" style="height:50px; width:50px; position:absolute; left:340px; top:10px;" src="/static/question.png"/>
<!-- left -->
<img id="q4" style="height:50px; width:50px; position:absolute; left:420px; top:50px;" src="/static/question.png"/>