@import '../master-variables';
@import '../master-mixins';

div.match-list-main {
  @include main-div();
  margin-top: 25px;


  div.match-list-left {

    width:650px;
    float:left;

    a.navbar-link {
      @include rounded(10px);
      color:$black;
      @include fontSize(16px);
      padding:10px;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-left:15px;
    }
    a.navbar-link:hover {
      background-color:$light-gray;
    }
    a.clicked {
      background-color:$light-gray;
    }

    div.match-list-header {
      width:100%;
      height:25px;
      margin-top: 20px;
      background-color:$light-gray;
      padding:10px;

      div.your-what {
        @include titleFont();
        @include fontSize(16px);
        color:$text-blue;
        padding: 2px 0 0 10px;
      }
    }

    div.list-wrapper {
      width:100%;

      a.member-wrapper {
        float:left;
        width:150px;
        margin: 20px 20px 0 30px;
        padding:5px;
        div.avatar-box {
          float:left;
        }
        div.name-wrapper {
          float:left;
          @include fontSize(16px);
          margin-left:8px;
          margin-top: 5px;
          div.first-name {
            display:block;
          }
          div.last-name {
            display:block;
          }
        }
      }
      a.member-wrapper:hover {
        background-color:$light-gray;
        cursor:pointer;
      }

      div.group-wrapper {

        width:100%;
        margin-top:40px;
        padding:15px;
        border-bottom:1px solid $gray;

        div.group-left {
          float:left;

          a.group-meta {
            padding:5px;
            display:block;

            div.avatar-box {
              float:left;
            }
            div.name-wrapper {
              margin-left:10px;
              margin-top:8px;
              float:left;
              div.title {
                display:block;
              }
              div.members {
                display:block;
              }
            }
          }
          a.group-meta:hover {
            background-color:$light-gray;
            cursor:pointer;
          }

          a.group-meta.you-are-member {
            border:1px solid $light-gray;
          }

          div.you-are {
            display:block;
            @include titleFont();
            margin-top: 10px;
          }
        }

        div.group-comparison {
          float:right;
          top:-20px;
          margin-right:50px;
          position:relative;
        }
      }
    }
  }

  div.match-list-right {
    float:left;
    margin-left:20px;
    width:320px;
    text-align:center;

    a.go-back {
      float:right;
      padding:5px;
      margin-left:20px;
      @include fontSize(30px);
      @include titleFont();
      color:$red;
    }

    a.group-link {
      display:block;
      margin-top:90px;
      margin-left:40px;
      float:left;
      padding:10px;
    }
    a.group-link:hover {
      background-color:$text-blue;
      color:white;
    }

    div.group-histogram-container {
      display:block;
      margin-top:10px;
      margin-left:30px;
    }
  }
}