@import 'master-variables';
@import 'master-mixins';

#match-main
{
  width:1000px;
  padding-top:10px;
  margin-left:auto;
  margin-right:auto;
  font-family: $gill-light;
  text-align: center;
}

#match-mid
{
  text-align:center;
}

#match-ajax-content
{
  float:left;
  width:920px;
  text-align: center;
}

.match-arrow
{
  width:40px;
  height:435px;
  float:left;
}

.match-arrow img
{
  margin-top:180px;
  padding:8px;
  cursor:pointer;
}

#match-arrow-left img
{
  border-radius:10px 0 0 10px;
}

#match-arrow-right img
{
  border-radius:0 10px 10px 0;
}

.match-title
{

}

.match-content
{
  float: left;
}

.match-box-div
{
  float:left;
  width:300px;
  padding:10px;
  margin: 10px;
  border-radius:15px;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  -khtml-border-radius:15px;
  border:1px solid #DBDBDB;

  .match-user-image
  {
    float:left;
    margin-right:10px;
    @include rounded(10px);
    height: 50px;
    width: 50px;
  }
}

#match-selection-line-break-container
{
  width:1000px;
  margin-top:15px;
  margin-bottom:15px;

  .match-selection-line-break
  {
    float:left;
    width:461px;
    height:7px;
    border-bottom:1px solid #CCC;
  }

  .circle-div
  {
    width: 14px;
    height: 14px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    float:left;
  }

  .circle-div-gray
  {
    background: #CCC;
  }

  .circle-div-red
  {
    background: #f0503b;
  }

  .circle-div-left
  {
    margin-right:3px;
    margin-left:12px;

  }

  .circle-div-center
  {
    margin-left:3px;
    margin-right:3px;

  }

  .circle-div-right
  {
    margin-left:3px;
    margin-right:12px;
  }
}

.match-quicklinks
{
  width:960px;
  height:200px;
  margin: 0px 15px 20px 0;
  @include rounded;

  h3.quick-links-header {
  }

  a.center {
    margin-left:75px;
    margin-right:75px;
  }

  a.quick-link {
    float:left;
    margin-top: 20px;
    padding: 10px;
    padding-top:15px;
    width: 250px;
    background-color:$light-gray;
    @include fontSize(24px);
    color: $black;
  }
  a.quick-link:hover {
    background-color:$gray;
  }

  p.quick-links-explanation {
    text-align:left;
    padding-left:20px;
    float:left;
    width:200px;
    margin-top:20px;
    @include fontSize(15px);
  }

}


#match-featured-social-network {

  div.match-box-div-wrapper {
    float:left;
    div.match-box-div {
      width:280px;
      height:350px;
    }
  }

  div.page-right {
    float:left;
    margin-left:30px;

    div.page-summary {
      text-align:left;
      display:block;
      width:550px;
      margin-top:30px;
      @include titleFont();
      @include fontSize(20px);
      color:$dark-gray;
    }

    div.boxes {
      display:block;
      width:560px;
      height:180px;
      margin-top:20px;

      div.box-center {
        margin-left:20px;
        margin-right:20px;
      }
      div.match-link-box {
        float:left;
        width:170px;
        height:160px;
        border: 1px solid $gray;
        position:relative;
        @include rounded(15px);
        overflow:hidden;

        a.match-link-box-header {
          display:block;
          text-align:left;
          height:20px;
          padding: 10px 0 10px 0;
          width:100%;
          background-color:$light-gray;
          color:$black;
          @include fontSize(18px);

          p.header-words {
            margin-left:15px;
            float:left;
            text-transform:uppercase;
            text-spacing: 1px;
          }
          div.arrow {
            float:right;
            margin-right:15px;
          }
        }
        a.match-link-box-header:hover {
          background-color:$dark-gray;
          border-color:$black;
        }

        div.items-wrapper {
          display:block;
          padding:10px 10px 10px 10px;
          position:relative;
          top:-9px;
          a.mini-avatar {
            float:left;
            margin-right:10px;
            margin-top:10px;
          }
          a.network-choice {
            padding:4px;
            display:block;
            height:20px;
            border-bottom:1px solid $gray;
            width:100%;
            @include titleFont();
            @include fontSize(14px);
          }
          a.network-choice:hover {
            background-color:$gray;
          }
        }
        a.see-all {
          position:absolute;
          top:140px;
          left:125px;
        }
      }
    }

    div.or-text {
      display:block;
    }

    a.import-friends {
      display:block;
      margin-top:30px;
      @include fontSize(20px);
    }

  }
}
