{% extends 'site/pages/home/focus.html' %}

{% block home_header %}

    <div class="browse-all">

        {% if not hide_intros %}
            {% include 'site/pages/groups/introduction_groups_header.html' with intro_title="Join Groups" %}
        {% endif %}

        <div class="questions-header">

            <div class="questions-left">
                <div class="header-title">
                    Groups
                </div>
                <div class="questions-explanation">
                    Follow a group to add it to your feed. Join a group to support their cause.
                </div>
            </div>

            <a class="create-a-group create_group_link">
                create a group
            </a>

            <div style="clear:both;"></div>

        </div>

    </div>

{% endblock %}

{% block home_feed %}

    <div class="browse-all-wrapper">
        {% include 'site/pages/browse/feed_browse_groups.html' with special_feed="getGroups" %}
    </div>

    <script> rebind="browse"; </script>

{% endblock %}