{% extends 'site/pages/dismissible_headers/introduction_header.html' %}

{% block introduction_content %}

    <p>
        This page is for finding the groups which are relevant to you.
        Follow a group to add it to your feed. Join a group to support their cause.
    </p>

    <p>
        Groups are for posting and finding content that is relevant to that specific community.
        Political parties, regional communities, and organizations are all groups on LoveGov.
        If you entered your voting address, then you’ve already been added to your city and state groups.
    </p>

{% endblock %}