{% extends 'site/pages/home/focus.html' %}

{% block home_header %}
    {% include 'site/pages/groups/like_minded_header.html' with info_height="200" %}
{% endblock %}

{% block home_feed %}
    {% if like_minded %}
        {% include 'site/pages/feed/feed.html' %}
    {% else %}
        <div class="questions-wrapper">
            {% include 'site/pages/qa/feed_browse_questions.html' with special_feed="getQuestions" default_display="choose" %}
        </div>
    {% endif %}

    <script> rebind="home"; </script>
{% endblock %}
