<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>novavote: coming soon</title>
<LINK REL=StyleSheet HREF="comingsoon.css" TYPE="text/css" MEDIA=screen>
</head>

<div id="main">

<div id="lovegov"><img src="novavote.png" /></div>

<h1 style="padding-bottom: 10px;">In politics, the problem is the noise factor.<br />
We'll filter the noise.</h1>

<img src="matching.png" style="padding-bottom: 30px; margin-top:-10px;" />

<p style="width:700px;">Aenean sollicitudin felis at risus malesuada fermentum. Vivamus porta odio eu enim pretium at venenatis sem eleifend. Donec varius rhoncus quam nec convallis. Morbi nulla turpis, fermentum in lobortis id, malesuada quis arcu. Integer ut nunc ut velit faucibus rutrum eu sit amet massa. Nam lorem odio, dignissim a fringilla eget, molestie at sapien. In viverra dictum vestibulum. Curabitur</p>




<div class="footer">

<table width="700px" height="20px"><tr><td width="500px">
<div class="dark" style="margin-left:0px;">Join our mailing list:&nbsp; <input name="name" type="text" value=" " maxlength="200px" /> &nbsp; <a href="heythere">submit</a></div></td>

<td align="center"><div class="smallish" id="blog"><a href="/devblog.html">our blog</a></div> </td>
<td align="center" valign="middle"><a href="ourfacebook" target="_blank"><img src="facebook.png" /></a></td>
<td align="center" valign="middle"><a href="http://twitter.com/novavote" target="_blank" border=0><img src="twitter.png" /></a></td></tr></table>


<div class="smallish" id="dev">development team
</div><br />
<table width=720 style="position: relative;left:-15px;top:-40px;"><tr id="devtable"><td width="165px">
<div class="dark" style="margin-left: 15px;">Yoshi Tryba<br /></div>
<div class="light" style="margin-left: 15px;">Chief Executive Officer<br />
yoshi@novavote.com</div></td>

<td><div class="dark">Clayton Dunwell<br /></div>
<div class="light">Product Development<br />
clay@novavote.com</div></td>

<td><div class="dark">Maximus Fowler<br /></div>
<div class="light">Software Engineering<br />
max@novavote.com</div></td>

<td><div class="dark">Catherine Schmidt<br /></div>
<div class="light">Lead Designer<br />
cat@novavote.com</div></td></tr></table>

</div>
</div>

<body>
</body>
</html>

