<!DOCTYPE html>
<html>
<head>
    <!-- Javascript for autocomplete -->
    <link rel="stylesheet" type="text/css" href="/static/css/alpha/env_dialogueBox.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/alpha/alpha.css" />
    <link type="text/css" href="/static/jquery/css/smoothness/jquery-ui-1.8.18.custom.css" rel="Stylesheet" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery/js/jquery-ui-1.8.18.custom.min.js"></script>
</head>
<body>
<h1> Welcome to the alpha! </h1>
<div class="password">
    <a id="change-password" href="/password/"> CHANGE PASSWORD </a>
</div>
<div class="logout">
    <a href="/logout/"> LOGOUT </a>
</div>
<div style="height:350px;">
<table>
    <tr>

        <!-- left pane -->
        <td class="left-pane" style="vertical-align:text-top;">
            <p class="your-name">
               You are {{ user.get_name }}.
            </p>

            <div>
                <form name="search" id="search_bar" action="" method="post"> {% csrf_token %}
                    compare yourself <br>
                    <input type="text" name="q"  id="search_text" value="{{ to_compare.get_name }}"/>
                    <input type="hidden" name="u_id" id="u_id_input" value="{{ user.alias }}"/>
                </form>
                <p class="users-list">
                    {% for u in all_users %}

                        <a href="/alpha/{{ u.alias }}/"> {{ u.get_name }} </a>
                        <br><br>

                    {% endfor %}
                </p>
            </div>

        </td>


        <!-- main focus -->
        <td class="middle-pane" width=500>
            <div class="default">
                {% block page %}
                    Never show default!
                {% endblock %}
            </div>
        </td>


        <!-- random questions -->
        <td class='right-pane'>
            <h3> Random </h3>
            <a class="links see-all" href="/alpha/thequestions/"> all </a>
            <a class="links see-more" href=""> more </a>

            {% for q in random_questions %}
                    <div class="question">
                        <a class="q-title" href="q{{ q.id }}">{{ q.get_name }}</a>
                    </div>
                    <br>
            {% empty %}
                Congratulations, you have answered every question!
            {% endfor %}


            <!-- hidden dialogs -->
            {% for q in random_questions %}
                <div id="q{{ q.id }}" class="q-dialog dialog">
                    {% include 'development/q.html' with question=q response=r.0.userresponse %}
                </div>
            {% endfor %}
        </td>

    </tr>

</table>
<br>
<br>
</div>


<div class="password-dialog dialog">
    {% include 'development/password.html' %}
</div>

<div class="message-dialog dialog">

</div>

<script>



    var csrf = '{{ csrf_token|escapejs }}';
    $(document).ready(function()
    {
        $.ajaxSetup
        ({
            data: {csrfmiddlewaretoken: csrf }
        });
    });

    /** autocomplete **/
    $(function() {
        var availableTags = [
            {% for u in all_users %}
                {label:"{{ u.get_name }}", value:"{{ u.alias }}"},
            {% endfor %}
        ];
        $( "#search_text" ).autocomplete({
            source: availableTags,
            focus: function(event, ui) {
                event.preventDefault();
                var label = ui.item.label;
                $("#search_text").val(label);
            },
            select: function(event, ui) {
                event.preventDefault();
                var value = ui.item.value;
                window.location = '/alpha/' + value +'/'
            },
            minLength: 1
        });
    });

    /** question dialogs **/
    $(".q-title").click(function(event)
    {
        $(".dialog").hide();
        event.preventDefault();
        var me = $(this);
        var id = $(this).attr('href');
        var d = $("#" + id);
        d.css('top', Math.max(me.offset().top - 300, 0));
        d.css('left',d.css('left')-1200);
        d.show();
    });


    $(".cancel").click(function(event)
    {
        event.preventDefault();
        $(this).parents(".dialog").hide();
    });




    $(".submit").click(function(event)
    {
        event.preventDefault();
        $(this).parents(".answerform").submit();
    });




    $("#change-password").click(function(event)
    {
        $(".dialog").hide();
        event.preventDefault();
        $(".password-dialog").show();
    });




</script>
</body>
</html>