<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/static/css/feed.css" type="text/css" media="screen" title="no title" charset="utf-8">
	
</head>

<body>

	<div id="home-feed">
		<div id="home-feed-left">
			
			<div id="feed-buttons">
				<a class="dialogue-buttons">Hot!</a>
				<a class="dialogue-buttons">Default</a>
				<a class="dialogue-buttons">Bayesian</a>
			</div>
			
			<div class="feed-item">
	            <div class="feed-avatar"><img src="catherine.jpg" width="65px" height="65px"></div>
	            <div class="feed-item-username">Catherine Schmidt</div>
				<div class="feed-item-text">
	                Lorem Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vulputate 			 mauris id justo pretium aliquet. Fusce non mauris metus. Aliquam sed justo in diam consequat tempor  non mauris non mauris non mauris non maurisnon mauris non mauris
	            </div>
				<div class="links">
					<div class="link-img"><img src="screen1.png">http://twitter.com/poop/id738324...</div>
					<h3>Twittrrr</h3>We're no-nonsense realists with an itch to fix politics. We believe participating in democracy doesn't need to be difficult — we believe it should be simple and engaging, even a little fun. Lovegov will inform you on the issues, keep you current with legislation that you care about, and connect you ...
				</div >
				<div class="meta-div">
	            	<div class="seemore">
		               see more
			    	</div>
		           <div class="metadata">
		               <img src="plusHeartBlue.png"/>
		           </div>
		           <div class="metadata">
		               <img src="minusHeartGrey.png"/>
		           </div>
					<div class="metadata">
						<span class="post-score">200</span>
					</div>
				</div>
	        </div>
	
	
			<div class="feed-item">
	            <div class="feed-avatar"><img src="catherine.jpg" width="65px" height="65px"></div>
	            <div class="feed-item-username">Catherine Schmidt</div>
				<div class="feed-item-text">
	                Lorem Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vulputate 			 mauris id justo pretium aliquet. Fusce non mauris metus. Aliquam sed justo in diam consequat tempor  non mauris non mauris non mauris non maurisnon mauris non mauris
	            </div>
				<div class="links">
					<div class="link-img"><img src="screen1.png">http://twitter.com/poop/id738324...</div>
					<h3>Twittrrr</h3>We're no-nonsense realists with an itch to fix politics. We believe participating in democracy doesn't need to be difficult — we believe it should be simple and engaging, even a little fun. Lovegov will inform you on the issues, keep you current with legislation that you care about, and connect you ...
				</div >
				<div class="meta-div">
	            	<div class="seemore">
		               see more
			    	</div>
		           <div class="metadata">
		               <img src="plusHeartBlue.png"/>
		           </div>
		           <div class="metadata">
		               <img src="minusHeartGrey.png"/>
		           </div>
					<div class="metadata">
						<span class="post-score">200</span>
					</div>
				</div>
	        </div>
	
	
			<div class="feed-item">
	            <div class="feed-avatar"><img src="catherine.jpg" width="65px" height="65px"></div>
	            <div class="feed-item-username">Catherine Schmidt</div>
				<div class="feed-item-text">
	                Lorem Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vulputate 			 mauris id justo pretium aliquet. Fusce non mauris metus. Aliquam sed justo in diam consequat tempor  non mauris non mauris non mauris non maurisnon mauris non mauris
	            </div>
				<div class="links">
					<div class="link-img"><img src="screen1.png">http://twitter.com/poop/id738324...</div>
					<h3>Twittrrr</h3>We're no-nonsense realists with an itch to fix politics. We believe participating in democracy doesn't need to be difficult — we believe it should be simple and engaging, even a little fun. Lovegov will inform you on the issues, keep you current with legislation that you care about, and connect you ...
				</div >
				<div class="meta-div">
	            	<div class="seemore">
		               see more
			    	</div>
		           <div class="metadata">
		               <img src="plusHeartBlue.png"/>
		           </div>
		           <div class="metadata">
		               <img src="minusHeartGrey.png"/>
		           </div>
					<div class="metadata">
						<span class="post-score">200</span>
					</div>
				</div>
	        </div>
	
	
	
			<div class="feed-item">
	            <div class="feed-avatar"><img src="catherine.jpg" width="65px" height="65px"></div>
	            <div class="feed-item-username">Catherine Schmidt</div>
				<div class="feed-item-text">
	                Lorem Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vulputate 			 mauris id justo pretium aliquet. Fusce non mauris metus. Aliquam sed justo in diam consequat tempor  non mauris non mauris non mauris non maurisnon mauris non mauris
	            </div>
				<div class="links">
					<div class="link-img"><img src="screen1.png">http://twitter.com/poop/id738324...</div>
					<h3>Twittrrr</h3>We're no-nonsense realists with an itch to fix politics. We believe participating in democracy doesn't need to be difficult — we believe it should be simple and engaging, even a little fun. Lovegov will inform you on the issues, keep you current with legislation that you care about, and connect you ...
				</div >
				<div class="meta-div">
	            	<div class="seemore">
		               see more
			    	</div>
		           <div class="metadata">
		               <img src="plusHeartBlue.png"/>
		           </div>
		           <div class="metadata">
		               <img src="minusHeartGrey.png"/>
		           </div>
					<div class="metadata">
						<span class="post-score">200</span>
					</div>
				</div>
	        </div>
	
	
			<div class="feed-item">
	            <div class="feed-avatar"><img src="catherine.jpg" width="65px" height="65px"></div>
	            <div class="feed-item-username">Catherine Schmidt</div>
				<div class="feed-item-text">
	                Lorem Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vulputate 			 mauris id justo pretium aliquet. Fusce non mauris metus. Aliquam sed justo in diam consequat tempor  non mauris non mauris non mauris non maurisnon mauris non mauris
	            </div>
				<div class="links">
					<div class="link-img"><img src="screen1.png">http://twitter.com/poop/id738324...</div>
					<h3>Twittrrr</h3>We're no-nonsense realists with an itch to fix politics. We believe participating in democracy doesn't need to be difficult — we believe it should be simple and engaging, even a little fun. Lovegov will inform you on the issues, keep you current with legislation that you care about, and connect you ...
				</div >
				<div class="meta-div">
	            	<div class="seemore">
		               see more
			    	</div>
		           <div class="metadata">
		               <img src="plusHeartBlue.png"/>
		           </div>
		           <div class="metadata">
		               <img src="minusHeartGrey.png"/>
		           </div>
					<div class="metadata">
						<span class="post-score">200</span>
					</div>
				</div>
	        </div>
	
	
		</div>
		<div id="sidebar">
		        <div id="sidebar-fixed-div">    
				<div id="discussed-questions" class="panel">
		                <h3 id="top-h3"> Discussed Questions </h3>


		                        <div class="question">
		                            <a class="q-title" href="/alpha/question/41">Should the government be required to fully disclose all entities and organizations that have received federal funding?</a>
		                        </div>
		                        <br>



		                        <div class="question">
		                            <a class="q-title" href="/alpha/question/30">Should the government play an active role in environmental conservation?</a>
		                        </div>
		                        <br>



		                        <div class="question">
		                            <a class="q-title" href="/alpha/question/15">Should the U.S. have a contingency plan for military operations in Iran?</a>
		                        </div>
		                        <br>


		            </div>
		            <div id="random-questions" class="panel">
		                <h3> Random Questions </h3>

		                    Congratulations, you have answered every question!

		            </div>
		        </div>
		</div>
	</div>

</body>
</html>