{% extends 'deployment/templates/frame.html' %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="/static/css/alpha/question.css" />

    <div id="content">
        <div id="question-div">
            <div id="question-detail">
                {% with topic=question.getMainTopic %}
                    <a href="{{topic.get_url}}">
                        <div id="question-topic-img">
                            <img src="{{ topic.getImageRef }}"/>
                        </div>
                    </a>
                {% endwith %}
                <div id="question-text">
                    <div id="question">
                        <h3>{{ question.question_text }}</h3>
                    </div>

                    <ul>
                        <form action="/action/" method="post" id="questionform"> {% csrf_token %}
                            {% for a in answers %}
                                <input type=radio name="choice" value="{{ a.value }}"
                                        {% if a.value == response.answer_val %}
                                       CHECKED
                                        {% endif %}
                                        />
                                <span class="answer-text">{{ a.text }}</span>
                                <div class="percent"> chosen by {{ a.percent }}% of users </div>
                                <br>
                            {% endfor %}
                            <textarea name="explanation" id="explanation"> {{ response.explanation }}</textarea>
                            <input type="hidden" name="q_id" value="{{ question.id }}"/>
                            <input type="hidden" name="action" value="answer"/>
                            <p><a class="button submit" id="submitquestion" href="">answer</a></p>
                        </form>
                    </ul>
                </div>
            </div>

            <div id="comment-thread">

                <h2> DISCUSS </h2>

                <form id="commentform" name="postcomment" action="/comment/" method="post"> {% csrf_token %}
                    <textarea class="comment-text" rows="7" cols="80" name="comment">what's your opinion?</textarea>
                    <input id="content_id" type="hidden" name="c_id" value="{{ question.id }}">
                    <br>
                    <input class="submit-comment" type="submit" value="New Comment" />
                </form>

                <!-- created by makeThreadHTML -->
                <div id="threadJSON" style="display:none">
                    {{ thread }}
                </div>
                <!-- created by makeThreadHTML -->
                <div id="threadHTML" style="margin-top:30px">

                </div>


            </div>
        </div>


    <script type="text/javascript" src="/static/js/jsonthread.js"></script>



{% endblock %}