<div class="everything">
    <div id="dialogue-wrapper">

        <div id="dialogue-main">

            <div id="question">

                {{ question.question_text }}

            </div>

            <form class="p_form" action="" method="post"> {% csrf_token %}
                {{ password_form.as_p }}
                <input type="submit" value="change password">
            </form>

        </div>

        <div id="buttons">

            <a id="blah" class="dialogue-buttons cancel" href="somewhere.html"> cancel </a>

        </div>

        <div id="dialogue-pointer">

            <img src="/static/catherine/environment/env_dialogue-pointer.png">

        </div>

    </div>
</div>


<script>

    $(".p_form").submit(function(event){
       event.preventDefault();
        var new1 = $("#id_new1").val();
        var new2 = $("#id_new2").val();
        var old = $("#id_old").val();
        $.ajax({
            url:'/password/',
            type: 'POST',
            data: {'new1':new1, 'new2':new2, 'old':old},
            success: function(data){
                $(".dialog").hide();
                var obj = jQuery.parseJSON(data);
                alert(obj[0]);
                var message = $('.message-dialog');
                message.replaceWith(obj[0]);
                $('.message-dialog').show();
                $(".cancel").click(function(event) {
                    event.preventDefault();
                    $(this).parents(".dialog").hide();
                });
            },
            error: function(jqXHR, textStatus, errorThrown){
                $('body').replace(jqXHR.responseText);
            }
        });
    });
</script>

