<div class="everything">
    <div id="dialogue-wrapper">

        <div id="dialogue-main">

            <div id="question">

                {{ question.question_text }}

            </div>

            <form class="answerform" action="" method="post"> {% csrf_token %}

            <div id="answers">

                <ul>
                    {% for a in question.answers.all %}
                    <p>

                        <input type=radio name="choice" value="{{ a.value }}"
                                {% if a.value == response.answer_val %}
                               CHECKED
                                {% endif %}
                                />
                        {{ a.answer_text }}


                    </p>
                    {% endfor %}
                </ul>
                <textarea id ="explanation" name="explanation">{{ response.explanation }}</textarea>
                <input type="hidden" name="action" value="answer"/>
                <input type="hidden" name="q_id" value="{{ question.id }}"/>

            </div>

            <div id="buttons">

                <a id="blah" class="dialogue-buttons cancel" href="somewhere.html">cancel</a>
                <a class="dialogue-buttons discuss" href="/alpha/question/{{ question.id }}">discuss</a>
                <a class="dialogue-buttons submit" href="somewhere.html">submit</a>

            </div>

            </form>

        </div>

        <div id="dialogue-pointer">

            <img src="/static/catherine/environment/env_dialogue-pointer.png">

        </div>

    </div>
</div>

