<div id="toolbox">
    <p class="middle-right-head-font">toolbox</p>
    <table style="position:relative;top:10px;">
        <tr>
            <td>
                <ul>
                    <li><a href="toolbox.html" class="toolbox-button button">create</a></li>
                    <li><a href="toolbox.html" class="button toolbox-button">follow</a></li>
                    <li><a href="toolbox.html" class="button toolbox-button">share</a></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><a href="toolbox.html" class="toolbox-button button">help</a></li>
                    <li><a href="toolbox.html" class="button toolbox-button">feedback</a></li>
                    <li><a href="toolbox.html" class="button toolbox-button">? ? ? ?</a></li>
                </ul>
            </td>
        </tr>
    </table>
</div>

<div id="myreps">
    <p class="middle-right-head-font">my reps</p>
    <a href="reps.html" class="toolbox-button button">go to reps</a>
</div>