div.user-name
{
  margin-top: 5px;
  margin-bottom: 5px;

  .user-name-pic
  {
    vertical-align: middle;
    padding-right: 5px;
  }

  .user-name-name
  {
    vertical-align: middle;
    padding:5px;
  }
}