<!-- css -->
<link rel="stylesheet" type="text/css" href="/static/css/compiled/create-modal.css" />

<!-- wrapper -->
<div class="create-wrapper">

    <div id="create-buttons">

        <div id="create_news_button" class="button-placeholder">
            <img src="/static/images/create/newsicon.png"/>
        </div>

        <div id="create_petition_button" class="button-placeholder">
            <img src="/static/images/create/petitionsicon.png"/>
        </div>

        <div id="create_group_button" class="button-placeholder">
            <img src="/static/images/questionIcons/socialissues/soc_default.png"/>
        </div>

    </div>

    {% include 'deployment/pieces/create_news.html' %}
    {% include 'deployment/pieces/create_petition.html' %}
    {% include 'deployment/pieces/create_group.html' %}

</div>