<!-- wrapper -->
<div class="create-wrapper">

    <div id="create-buttons">

        <div id="create_news_button" class="button-placeholder">
            <img src="/static/images/create/news.png"/>
        </div>

        <div id="create_petition_button" class="button-placeholder">
            <img src="/static/images/create/petitions.png"/>
        </div>

        <div id="create_group_button" class="button-placeholder">
            <img src="/static/images/create/groups.png"/>
        </div>

    </div>

    {% include 'deployment/pieces/create_news.html' %}
    {% include 'deployment/pieces/create_petition.html' %}
    {% include 'deployment/pieces/create_group.html' %}

</div>