<div id="create_petition_div" class="create-wrapper create_content_div" style="display:none">

    <h2>New Petition:</h2>

    <form id="petitionform" action="/action/" method="post" enctype="multipart/form-data"> {% csrf_token %}
        <input type="hidden" name="action" value="create" />
        <input type="hidden" name="type" value="P" />


        <table class='create-table'>
            <tr class="petition-title">
                <td class="create-title"><span class="sub-title">Title:</span></td>
                <td><input name="title" type="text" class="title-input"/></td>
            </tr>

            <tr class="petition-full-text">
                <td class="create-title"><span class="sub-title">Description:</span></td>
                <td><textarea name="full_text" class="full-text-input"></textarea></td>
            </tr>

            <tr class="petition-scale-wrapper">
                <td class="create-title"><span class="sub-title">Scale:</span></td>
                <td>
                    <div class="create-radio petition_scale_radio">
                        Federal
                        <input type="radio" class="custom-radio petition_scale" id="government-scale-federal" value='F' name="scale"/>
                    </div>
                    <div class="create-radio petition_scale_radio">
                        State
                        <input type="radio" class="custom-radio petition_scale" id="government-scale-state" value='S' name="scale"/>
                    </div>
                    <div class="create-radio petition_scale_radio">
                        Local
                        <input type="radio" class="custom-radio petition_scale" id="government-scale-local" value='L' name="scale"/>
                    </div>
                    <div class='clear-both'></div>
                </td>
            </tr>

            <tr class="petition-image">
                <td class="create-title"><span class="sub-title">Petition Image:</span></td>
                <td><input type="file" name="image" /></td>
            </tr>

            <tr class="create-topic">
                <td class="create-title"><span class="sub-title">Topic:</span></td>
                <td>
                    <div class="topic-images petition-input-topic">
                        {% include 'deployment/pieces/topic_images.html' %}
                    </div>
                </td>
            </tr>
        </table>
    <div class="submit-button">
        <input type="submit" class="button-red" id="create_news_button" value="create petition" />
    </div>
    </form>

</div>


