<div id="create_group_div" class="create-wrapper create_content_div" style="display:none">

    <h2>Create Group:</h2>

        <form id="group_form" action="/action/" method="post" enctype="multipart/form-data"> {% csrf_token %}
            <input type="hidden" name="action" value="create" />
            <input type="hidden" name="group_type" value="U" />
            <input type="hidden" name="type" value="G" />


        <table class='create-table'>

            <tr class="group-title">
                <td class="create-title">
                    <div class="sub-title">Name:</div>
                    <div class="create-error" id="group_name_error"></div>
                </td>
                <td><input id="group_title" name="title" type="text" class="title-input"/></td>
            </tr>

            <tr class="group-full-text">
                <td class="create-title">
                    <div class="sub-title">Description:</div>
                    <div class="create-error" id="group_description_error"></div>
                </td>
                <td><textarea id="group_description" name="full_text" class="full-text-input"></textarea></td>
            </tr>

            <tr class="group-privacy-wrapper">

                <td class="create-title">
                    <div class="sub-title">Privacy:</div>
                    <div class="create-error" id="group_privacy_error"></div>
                </td>
                <td>
                    <div class="create-radio create-radio-selected group_privacy_radio">
                        Open
                        <input type="radio" class="custom-radio" checked="checked" id="group-input-type-open" value='O' name="group_privacy"/>
                    </div>
                    <div class="create-radio group_privacy_radio">
                        Private
                        <input type="radio" class="custom-radio" id="group-input-type-private" value='P' name="group_privacy"/>
                    </div>
                    <div class="create-radio group_privacy_radio">
                        Hidden
                        <input type="radio" class="custom-radio" id="group-input-type-secret" value='S' name="group_privacy"/>
                    </div>
                    <div class='clear-both'></div>
                </td>
            </tr>

            <tr class="group-scale-wrapper">
                <td class="create-title">
                    <div class="sub-title">Scale:</div>
                    <div class="create-error" id="group_scale_error"></div>
                </td>
                <td>
                    {% include 'deployment/snippets/select_scale.html' %}
                </td>
            </tr>

            <tr class="group-image">
                <td class="create-title">
                    <div class="sub-title">Group Image:</div>
                    <div class="create-error" id="group_image_error"></div>
                </td>
                <td><input type="file" name="image" id="group_image"/></td>
            </tr>

            <tr class="create-topic">
                <td class="create-title">
                    <div class="sub-title">Topic:</div>
                    <div class="create-error" id="group_topic_error"></div>
                </td>
                <td>
                    <div class="topic-images" id="group_input_topic">
                        {% include 'deployment/snippets/topic_images.html' %}
                    </div>
                </td>
            </tr>

        </table>

        <div class="submit-button">
            <input type="submit" class="button-red" id="submit_group_button" value="create group"/>
        </div>
    </form>
</div>