<div id="create_news_div" class="create-wrapper create_content_div">

    <h2>Share News:</h2>
    <table class='create-table'>
        <tr class="news-title">
            <td class="create-title">
                <div class="sub-title">Link:</div>
                <div class="create-error" id="news_name_error"></div>
            </td>
            <td><input id="news-input-link" class="title-input" type="text" name="link" /></td>
        </tr>

        <tr id="news-link-generation" style="display:none">
            <td class="create-title">
                <div class="sub-title">Link Image:</div>
                <div class="create-error" id="news_link_error"></div>
            </td>
            <td class="news-link-cell"><div id="news-link-generation-wrapper"></div></td>
        </tr>

        <tr id="news-summary" class="summary" style="display:none">
            <td class="create-title">
                <div class="sub-title">Your View:</div>
                <div class="create-info" id="news_summary_info">[optional]</div>
            </td>
            <td><textarea id="news-input-summary" class="full-text-input" type="text" name="summary"></textarea></td>
        </tr>

        <tr class="news-scale-wrapper">
            <td class="create-title">
                <div class="sub-title">Scale:</div>
                <div class="create-error" id="news_scale_error"></div>
            </td>
            <td>
                <div class="create-radio news_scale_radio">
                    All
                    <input type="radio" class="custom-radio news_scale" id="government-scale-all" value='A' name="scale"/>
                </div>
                <div class="create-radio news_scale_radio">
                    Federal
                    <input type="radio" class="custom-radio news_scale" id="government-scale-federal" value='F' name="scale"/>
                </div>
                <div class="create-radio news_scale_radio">
                    State
                    <input type="radio" class="custom-radio news_scale" id="government-scale-state" value='S' name="scale"/>
                </div>
                <div class="create-radio news_scale_radio">
                    Local
                    <input type="radio" class="custom-radio news_scale" id="government-scale-local" value='L' name="scale"/>
                </div>
                <div class='clear-both'></div>
            </td>
        </tr>

        <tr class="news-topic">
            <td class="create-title">
                <div class="sub-title">Topic:</div>
                <div class="create-error" id="news_topic_error"></div>
            </td>
            <td>
                <div class="topic-images" id="news_input_topic">
                    {% include 'deployment/pieces/topic_images.html' %}
                </div>
            </td>
        </tr>

    </table>

    <div class="submit-button">
        <a href="" id="submit_news_button" class="button-red">share</a>
    </div>

</div>