<div id="create_group_div" class="create-wrapper create_content_div" style="display:none">

    <div id="group-errors-json"></div>
    <h2>Create Group:</h2>
    <div id="group-errors-non_field"></div>

    <div class="title">
        <div id="group-errors-link"></div>
        <span class="sub-title">Name:</span>
        <input id="group-input-title" type="text" name="title" />
    </div>

    <div id="group-full_text" class="full_text">
        <div id="group-errors-full_text"></div>
        <div id="group-full_text-text">
            <span class="sub-title">Description:</span>
        </div>
        <textarea id="group-input-full_text" type="text" name="full_text" ></textarea>
    </div>

    <div id="group-privacy">
        <div id="group-errors-privacy"></div>
        <div id="group-privacy-text">
            <span class="sub-title">Privacy:</span>
        </div>
        Open:
        <input type="radio" id="group-input-type-open" value='O' name="privacy"/> ||
        Private:
        <input type="radio" id="group-input-type-private" value='P' name="privacy"/> ||
        Secret:
        <input type="radio" id="group-input-type-secret" value='S' name="privacy"/> ||
    </div>

    <div class="group-image">
        <input type="submit" class="button submit" id="submitpicture" value="Upload"/>
        <div id="choose-image">{{ uploadform.image }}</div>

        <input type="hidden" name="box" value="pic"/>
    </div>

    <div class="create-topic-div">
        <div id="group-errors-topic"></div>
        <div class="create-topic-text">
            <span class="sub-title">Topic: </span> <br>
            select which topics your news falls under
        </div>
        <div class="topic-images news-input-topic">
            {% include 'deployment/pieces/topic_images.html' %}
        </div>
    </div>

    <div class="create-submit-div">
        <a href="" id="create-group" class="left-sidebar-button">create group</a>
    </div>

</div>