<!-- HTML5 Boilerplate -->
<link rel="stylesheet" type="text/css" href="/static/css/deployment/boilerplate.css">
<link rel="stylesheet" type="text/css" href="/static/css/compiled/1140.css" />
<link rel="Stylesheet" type="text/css" href="/static/jquery/css/smoothness/jquery-ui-1.8.18.custom.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/deployment/frame.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/compiled/master.css" />
<link rel="stylesheet" type="text/css" href="/static/css/deployment/dialogue_box.css" />
<link rel="stylesheet" type="text/css" href="/static/css/deployment/qaweb.css" />
<link rel="stylesheet" type="text/css" href="/static/css/deployment/about.css" />
<link rel="stylesheet" type="text/css" href="/static/css/compiled/account.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/compiled/group.css" />
<link rel="stylesheet" type="text/css" href="/static/css/compiled/action.css" />
<link rel="stylesheet" type="text/css" href="/static/css/compiled/user-name.css" />
<link rel="stylesheet" type="text/css" href="/static/css/compiled/histogram.css" />
<link rel="stylesheet" href="/static/css/deployment/home.css" type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/css/deployment/match.css" />
<link rel="stylesheet" type="text/css" href="/static/css/compiled/profile.css" />
<link href="/static/css/compiled/about.css" rel="stylesheet" type="text/css"/>
<link href="/static/css/compiled/feed/feed.css" rel="stylesheet" type="text/css"/>
<link href="/static/css/compiled/match/match-list.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="/static/css/deployment/legislation.css" />
<link rel="stylesheet" type="text/css" href="/static/css/deployment/presidential.css" />
<link href="/static/css/compiled/blog.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="/static/css/compiled/create-modal.css" />
<link rel="stylesheet" type="text/css" href="/static/css/deployment/feedback.css" />
<link type="text/css" href="/static/css/compiled/right_sidebar.css" rel="Stylesheet" />
<link rel="stylesheet" type="text/css" href="/static/css/deployment/left_sidebar.css" />
<link rel="stylesheet" type="text/css" href="/static/css/compiled/header.css" />
<link rel="stylesheet" type="text/css" href="/static/css/compiled/notification.css" />
<link type="text/css" href="/static/select2/select2.css" rel="Stylesheet" />
<link rel="stylesheet" type="text/css" href="/static/css/compiled/content_detail.css" />
<link rel="stylesheet" type="text/css" href="/static/css/compiled/match-new.css"/>