<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/deployment/feedback.css" />

<div class="left-side-wrapper left-side-wrapper-small" id="left-side-wrapper-feedback">

    <img id="left-side-img-feedback" class="left-side-img" src="/static/images/feedback2.png">

    <!-- default display -->

    <div class="left-side-main left-side-main-small">

        <div id="feedback-default">

            <h2>send us feedback</h2>
            <p>Please feel free to tell us what you think, or report any problems. This is a work in progress and your feedback is important to us.</p>

            <h3>name:</h3>

            <p><input id="feedback-name" class="feedback-input" type="text" name="name"/></p>

            <h3>message:</h3>

            <p style="margin-bottom:0;"><textarea id="feedback-text" class="feedback-input" name="feedback"></textarea></p>

            <div class="left-side-submit-div">
                <div id="feedback-response" style="display:none">

                    <h2>thank you!</h2>

                </div>

                <a href="" class="left-sidebar-button" id="feedback-submit">send</a>
            </div>

        </div>

        <!-- displays on successful feedback submit -->



    </div>


</div>