<link type="text/css" href="/static/css/compiled/right_sidebar.css" rel="Stylesheet" />

<div id="sidebar">

    <div id="home-sidebar" class="panel">


        <!-- random questions from all topics -->
        <div id="topic-all" class="topic-div">
            <h3  id="home-sidebar-title" class="panel-title lower-title"> What's Your Opinion? </h3>
            {% for q in random_questions %}
                <div  class="question">
                    <a class="q-title do-ajax-link" href="{{ q.get_url }}">{{ q.get_name }}</a>
                    <input class="q-id" type="hidden" name="q-id" value="{{ q.id }}"/>
                </div>
                <br>
            {% empty %}
                Congratulations, you have answered every question!
            {% endfor %}
        </div>

    </div>
</div>
