<!-- wrapper -->
<div class="create-wrapper create-wrapper-small" id="create-wrapper-invite">

    <img id="create-img-invite" class="create-img" src="/static/images/invite.png">

    <!-- form -->
    <div class="create-main create-main-small">

        <div id="invite-input">

            <div id="errors-json"></div>

            <h2> Invite your friends.</h2>

            <div id="errors-non_field"></div>

            <div id="errors-invite"></div>

            <div id="invite-form" class="link">
                <span id="email-label" class="sub-title"> email: </span>
                <input id="email-input" type="text" name="email" />
            </div>

            <div class="create-submit-div">
                <img id="invite-return-loading-img" src="/static/images/ajax-loader.gif" style="display:none;float:left;width:35px"/>
                <span id="invite-return-message" style="float:left;font-size:20px"></span>
                <a href="" id="invite-button" class="left-sidebar-button"> invite </a>
            </div>

        </div>

    </div>

</div>
