<!--<link rel="stylesheet" type="text/css" href="/static/css/deployment/header.css" />-->
<link rel="stylesheet" type="text/css" href="/static/css/compiled/notification.css" />
<link rel="stylesheet" type="text/css" href="/static/css/compiled/header.css" />
{% load thumbnail %}

    <!-- Header -->
    <div id="top">
        <div class="top-logo">
            <img id="logo-img" href="/home/" class="do-ajax-link" src="/static/images/top-logo-default.png"/>
        </div>
        <div class="link-wrapper">
            <div class="top-links">
                <a href="/feed/" id="about-link" class="do-ajax-link">feed</a>
            </div>
            <div class="top-links">
                <a href="/match/" id="match-link" class="do-ajax-link">match</a>
            </div>
            <div class="top-links">
                <a href="/web/" id="web-link" class="do-ajax-link">web</a>
            </div>
        </div>
        <div class="top-search">
            <input type="text" id="searchbar" value="Search Users">
            <img id="searchglass" src="/static/images/searchglass.png"/>
            <div id="search-dropdown" style="display:none">
                <!-- For Search AutoComplete -->
            </div>
        </div>

        <div id="user-menu-container">

            <div class="user-menu-options-wrapper">
                <div class="user-menu-options">
                    <div class="header-notifications">
                        <div id="notifications-dropdown-button">
                            <div id="notifications-number"><h5>{{ new_notification_count }}</h5></div>
                        </div>
                        <div id="notifications-dropdown" class="select-none" style="display:none">
                            <div class="notifications-dropdown-static-div">
                                <div class="notifications-pointer">
                                    <div class="border"></div>
                                    <div class="inner"></div>
                                </div>
                                <h5>Notifications</h5>
                                <div class="notifications-header-border"></div>
                                <div class="notifications-ajax-load" style="display:none">
                                    <img src="/static/images/ajax-loader.gif"/>
                                </div>
                            </div>
                            <!-- For Notifications -->
                        </div>
                    </div>
                    <img class="security-mode" src="/static/images/public.png"/>
                </div>
            </div>

            <div class="user-menu user-menu-unselected">
                {% thumbnail viewer.getProfileImage.image "40x40" crop="center" as img %}
                    <img class="user-img" class="user-menu-pointer" src="{{ img.url }}"/>
                {% empty %}
                    <img class="user-img" class="user-menu-pointer" src="{{ viewer.getProfileImage.image.url }}"/>
                {% endthumbnail %}
                <a id="user-name" class="do-ajax-link" href="{{ viewer.getAlphaURL }}">{{ viewer.get_nameShort }}</a>
                <div id="menu-down-arrow"></div>
            </div>

            <div id="user-menu-dropdown" class="select-none" style="display:none;">
                <div class="user-menu-pointer">
                    <div class="border"></div>
                    <div class="inner"></div>
                </div>
                <div id="user-menu-account" class="user-menu-dropdown-div user-menu-dropdown-div-top">
                    <img src="/static/images/user-menu/geargray.png"/><a href="/account/" class="do-ajax-link">account settings</a>
                </div>
                <div style="clear:both" id="user-menu-logout" class="user-menu-dropdown-div">
                    <img src="/static/images/user-menu/logout.png"/><a href="/logout/">logout</a>
                </div>
            </div>

            <div class="preload-images">
                <img src="/static/images/user-menu/geargray.png"/>
                <img src="/static/images/user-menu/gearwhite.png"/>
                <img src="/static/images/user-menu/lockgray.png"/>
                <img src="/static/images/user-menu/lockwhite.png"/>
            </div>
        </div>


    </div>
</div>