<div id="sidebar">
    <div id="sidebar-fixed-div">
    
    	<p><a href='' class='button share-button' data-share_id="{{ content.id }}">Share 'dis wit yo friends</a>

	    <div class="sidebar-box clearfix">
	
	        <div class="topics-header">
	            <span class="content_header">Recent Activity </span>
	        </div>
	        
	        {% for action in recent_actions %}
	        
	        <p>{{ action.getVerbose }}
	        
	        {% endfor %}
	        
	        <div class="activity_box_piece">
	        
	        </div>
	
		</div>

	    <div class="sidebar-box clearfix">
	
	        <div id="topic-questions" class="panel">
	
	            <div class="topics-header">
	                <span class="content_header">Answer Questions </span>
	                <a id="all-topics-button"> ALL </a>
	            </div>
	
	            <div class="topic-icons-wrapper q-topics-wrapper">
	                {% for t in main_topics %}
	                    {% load thumbnail %}
	                    <div class="topic-icon-wrapper q-topic-wrapper topic-filter">
	                        {% thumbnail t.image "25x25" format="PNG" as im %}
	                            <img class="topic-img normal q-topic-img" src="{{ im.url }}"/>
	                        {% endthumbnail %}
	                        {% thumbnail t.selected "25x25" format="PNG" as im %}
	                            <img class="topic-img selected q-topic-img tooltip-top" src="{{ im.url }}" title='{{t.topic_text}}'/>
	                        {% endthumbnail %}
	                        <input type="hidden" class="t-alias" value="{{t.alias}}">
	                    </div>
	                {% endfor %}
	            </div>
	        </div>
	
	
		    <div id="random-questions" class="panel">
		
		        <!-- by topic -->
		        {% for t in main_topics %}
		            <div id="topic-{{t.alias}}" class="topic-div">
		                <div class="topic-questions-header">
		                    <a href="{{t.get_url}}">
		                        <div id="content-topic-img">
		                            <img src="{{ t.getImageRef }}" width="50" height="50" class="topic-img-mini"/>
		                        </div>
		                    </a>
		                    <h3  class="panel-title lower-title"> {{ t.topic_text }} </h3>
		                </div>
		                {% for q in t.getQuestions %}
		                    <div class="question">
		                        <a class="q-title do-ajax-link" href="{{ q.get_url }}">{{ q.get_name }}</a>
		                        <input class="q-id" type="hidden" name="q-id" value="{{ q.id }}"/>
		                    </div>
		                    <br>
		                {% endfor %}
		            </div>
		        {% endfor %}
		
		        <!-- random questions from all topics -->
		        <div id="topic-all" class="topic-div">
		            <h3  id="random-title" class="panel-title lower-title"> Random Questions </h3>
		            {% for q in random_questions %}
		                <div  class="question">
		                    <a class="q-title" href="{{ q.get_url }}">{{ q.get_name }}</a>
		                    <input class="q-id" type="hidden" name="q-id" value="{{ q.id }}"/>
		                </div>
		                <br>
		            {% empty %}
		                Congratulations, you have answered every question!
		            {% endfor %}
		        </div>
		    </div>
	    </div>

    </div>
</div>

