<link type="text/css" href="/static/css/deployment/right_sidebar.css" rel="Stylesheet" />
<link type="text/css" href="/static/select2/select2.css" rel="Stylesheet" />
<script src="/static/select2/select2.js"></script>

<div class="share_content">
<span class="share_header"><h2>Share this with your followers, groups, or networks.</h2></span>
<hr>
<form>
<p>Share this with:</p>
<p><select multiple class="share_select">
	<option id='all_followers'>All my followers</option>
	<option id='all_groups'>All my groups</option>
	<option id='all_networks'>All my networks</option>
	<optgroup label="Followers">
		{% for follower in my_followers %}
		<option id='follower_{{folower.id}}'>{{follower.get_name}}</option>
		{% endfor %}
	</optgroup>
	<optgroup label="Groups">
		{% for follower in my_groups %}
		<option id='group_{{folower.id}}'>{{follower.get_name}}</option>
		{% endfor %}
	</optgroup>
	<optgroup label="Networks">
		{% for follower in my_networks %}
		<option id='network_{{folower.id}}'>{{follower.get_name}}</option>
		{% endfor %}
	</optgroup>
</select>
<p>
<p><input type="submit" value="Submit">
</form>
</div>

<script>
$('select.share_select').select2({
    placeholder: "Enter a follower, network, or group name",
});
</script>