<!DOCTYPE html>
<html>
<head>
    <title>lovegov: 500 error</title>
    <link rel="stylesheet" type='text/css' href="/static/css/deployment/microcopy.css"/>
</head>
<body>
    <div id="main">
        <img src="/static/images/login/splashlogo.png"/>
        <img src="/static/images/microcopy/Broken-Heart.png"/>
        <p style="margin-bottom:0px">
            Oh No! Something broke.
        </p>
        <p style="margin-top:0px">
            Don’t worry, it’s not you it's me.
        </p>
    </div>
</body>
</html>

