@charset "UTF-8";
/* CSS Document */

@font-face
{
  font-family: "Merge";
  src: url(../merge_light.otf);
}

#feedback-wrapper
{
    position:fixed;
    left:-459px;
    top:80px;
    width:500px;
    font-family:Helvetica, Verdana, sans-serif;
    font-size:9pt;
    color:#959595;
    z-index:5000;
}

#feedback-wrapper h2
{
	font-family:"Merge", Helvetica, Verdana, sans-serif;
	font-weight:normal;
	font-size:16pt;
	color:#f0503b;
}

#feedback-wrapper h3
{
	font-family:"Merge", Helvetica, Verdana, sans-serif;
	font-weight:normal;
	font-size:12pt;
	color:#959595;
}

#feedback-background
{
	padding:20px;
	background-color:#fff;
}



#feedback-wrapper img
{
	z-index:100;
	position:relative;
	float:right;
	background-color:#fff;
	border-top:1px solid #f0503b;
	border-right:1px solid #f0503b;
	border-bottom:1px solid #f0503b;
	border-left:1px solid #fff;
	margin-top:15px;
	margin-right:5px;
	margin-bottom:5px;
	padding:10px;
}


#feedback {
	background-color:#fff;
	z-index:1;
	width:417px;
	border:1px solid #f0503b;
	background-color:#fff;
	padding:20px;
	padding-bottom:30px;
}

#feedback textarea
{
	width:400px;
	height:200px;
	border:1px solid #ccc;
	margin-bottom:20px;
	resize: vertical;
}

#feedback input
{
	width:400px;
	height:20px;
	border:1px solid #ccc;
}



#feedback-wrapper input:focus
{
    outline: none;
}

#feedback-wrapper textarea:focus
{
    outline: none;
}

