<div class="representatives">

    {% comment %}
    {% if congressmen %}
        {% if not ABOVE_QUESTIONS_THRESHOLD or not reps_task %}
            {% include 'site/pages/politicians/introduction_representatives_header.html' %}
        {% endif %}
    {% endif %}
    {% endcomment %}

    {% include 'site/pages/politicians/representatives_header_and_dismissible.html' %}

    {% if not ABOVE_QUESTIONS_THRESHOLD %}
        <div class="questions-wrapper">
            {% include 'site/pages/qa/feed_browse_questions.html' with special_feed="getQuestions" default_display="choose" only_unanswered=1 %}
        </div>
    {% else %}
        <div class="representatives-feed-wrapper">
            {% include 'site/pages/feed/feed.html' with feed_boxed=1 %}
        </div>
    {% endif %}

</div>