{% extends 'site/pages/dismissible_headers/dismissible_header.html' %}

{% block dismissible_content %}
        <div class="find-your-reps find_your_reps">
            <div class="find-your-reps-title">
                Find your representatives:
            </div>
            <div class="find-your-reps-form address_form">
                <input class="street-input street_input reps-input" type="text" placeholder="street address"/>
                <input class="city-input city_input reps-input" type="text" placeholder="town/city"/>
                <input class="state-input state_input reps-input" type="text" placeholder="state"/>
                <input class="zip-input zip_input reps-input " type="text" placeholder="zip code"/>
                <a href="#" class="find-button find_address_button dummy_link"> find reps </a>
            </div>
            <div class="error-message error_message">
                Sorry we weren't able to locate your district. Please try submitting the form again or entering
                a different address.
            </div>
        </div>
{% endblock %}