{% extends 'site/pages/home/header_expandable.html' %}

{% block header_top %}

    <div class="reps-top">
        <div class="reps-header"> Your Representatives </div>

        <div class="reps-where"> {{ location.state }} [District {{ location.district }}] </div>

        <span class="not-your-district"> not your district? </span>
        <a class="enter-new-address enter_new_address dummy_link">
            enter a different address.
        </a>
    </div>

{% endblock %}


{% block header_info %}

    <div class="reps-wrapper">
    {% for politician in congressmen %}
        <div class="congressman-wrapper {% if forloop.first %} first {% endif %}">
            {% include 'site/pages/elections/election_card.html' %}
        </div>
    {% endfor %}
    </div>

    <div class="google-maps-wrapper">
        <div id="map_canvas" class="google-map"> </div>
    </div>

{% endblock %}
