{% extends 'site/pages/home/focus.html' %}

{% block home_header %}

    <div class="representatives">

        {% if congressmen %}
            {% include 'site/pages/politicians/representatives_header_and_dismissible.html' %}
        {% else %}
            {% include 'site/pages/politicians/representatives_header_and_dismissible.html' %}
        {% endif %}

    </div>

{% endblock %}

{% block home_feed %}

    {% if congressmen and not ABOVE_QUESTIONS_THRESHOLD %}

        {% include 'site/pages/dismissible_headers/not_enough_questions.html' with of_what="legislation" %}

        <div class="normal_feed" style="display:none;">
            {% include 'site/pages/feed/feed.html' with feed_boxed=1 %}
        </div>

    {% elif congressmen %}

        {% include 'site/pages/feed/feed.html' with feed_boxed=1 %}

    {% endif %}

{% endblock %}

