{% extends 'deployment/pages/login/login.html' %}

{% block middle %}

    <div>
        <div id="middle-left">
            <a id="what-is-lovegov">what is<br> lovegov?</a>
        </div>

        <div id="middle-right">
            <h1>To get the most out of LoveGov</h1>

            <div style="float:left">
                <a href="{{ fb_link }}" id="">
                    <input type="image" id="facebook-button" src="/static/images/login/login_FB.png" />
                    <input type="hidden" value="{{ request.path }}" name="next" />
                </a>
            </div>

            <p>
                By logging in with Facebook you agree to our <a id="privacy-policy">Privacy Policy</a>
            </p>

            <p style="margin:0">
                <a id="no-facebook" class="no-why-facebook">I don’t have a Facebook account</a> - <a id="why-facebook" class="no-why-facebook">Why we ask for Facebook</a>
            </p>

            <div id="why-facebook-hover" style="display:none">
                <a>X</a>
                By logging in with Facebook we are able to better match you with friends and networks giving you a better
                LoveGov experience.
            </div>
        </div>

        <div id="login-div" style="display:none">
            <h1>Log in to LoveGov</h1>
            <form action="" method="post" id="loginform"> {% csrf_token %}
                <table id="logintable">
                    <tr>
                        <td>
                            <input type="text" id="username-input" class="login-input" name="username"/>
                            <span class="input-span" id="username-span">email</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="password" id="password-input" class="login-input" name="password"/>
                            <span class="input-span" id="password-span">password</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan=2>
                            <input type="hidden" name="button" value="login"/>
                            <input class="submit-button" id="submit-login" type="submit" value="log in"/>
                            <div style="height:25px">
                                <a class="account-actions" id="forgot-password">forgot password?</a>
                            </div>
                            <div>
                                <a class="account-actions" id="create-content">create account</a>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </form>
            <script type="text/javascript">

                $('#username-input').focusin(function()
                {
                    $('#username-span').css('color','#CCCCCC');
                });

                $('#username-input').focusout(function()
                {
                    $('#username-span').css('color','#959595');
                    if ($(this).val()==''){ $('#username-span').show(); }
                });

                $('#username-input').keypress(function()
                {
                    $('#username-span').hide();
                });


                $('#password-input').focusin(function()
                {
                    $('#password-span').css('color','#CCCCCC');
                });

                $('#password-input').focusout(function()
                {
                    $('#password-span').css('color','#959595');
                    if ($(this).val()==''){ $('#password-span').show(); }
                });

                $('#password-input').keypress(function()
                {
                    $('#password-span').hide();
                });

            </script>
        </div>
    </div>

    {% include 'deployment/pages/login/login-about.html' %}

    {% include 'deployment/pages/login/login-privacy.html' %}

    <script type="text/javascript">
        $(document).ready(function()
        {
            $('#what-is-lovegov').click(function()
            {
                $('.fade').fadeOut(300);
                $('.about-div').fadeToggle(300);
            });

            $('#privacy-policy').click(function()
            {
                $('.fade').fadeOut(300);
                $('#privacy-div').fadeToggle(300);
            });

            $('#why-facebook').click(function()
            {
                $('#why-facebook-hover').fadeToggle(300);
                return false;
            });

            $('#why-facebook-hover').bind('clickoutside',function()
            {
                $(this).fadeOut(300);
            });

            $("#why-facebook-hover a").click(function()
            {
                $('#why-facebook-hover').fadeOut(300);
            });

            $('#no-facebook').click(function()
            {
                $('#middle-right').html($('#login-div').html());
            });
        });
    </script>

{% endblock %}