{% extends 'deployment/pages/login/login.html' %}

{% block middle %}

    <div>
        <div id="middle-left">
            <a id="what-is-lovegov">what is<br> lovegov?</a>
        </div>

        <div id="middle-right">
            {% include 'deployment/pages/login/login-fb.form.html' %}
            {% include 'deployment/pages/login/login-login.form.html' %}
            {% include 'deployment/pages/login/login-register.form.html' %}
        </div>
    </div>

    {% include 'deployment/pages/login/login-about.html' %}

    {% include 'deployment/pages/login/login-privacy.html' %}

    <script type="text/javascript">
        $(document).ready(function()
        {
            $('#what-is-lovegov').click(function()
            {
                $('.fade').fadeOut(300);
                $('.about-div').fadeToggle(300);
            });

            $('.privacy-policy').click(function()
            {
                $('.fade').fadeOut(300);
                $('#privacy-div').fadeToggle(300);
            });

            $('#why-facebook').click(function()
            {
                $('#why-facebook-hover').fadeToggle(300);
                return false;
            });

            $('#why-facebook-hover').bind('clickoutside',function()
            {
                $(this).fadeOut(300);
            });

            $("#why-facebook-hover a").click(function()
            {
                $('#why-facebook-hover').fadeOut(300);
            });

            $('.login-input').focusin(function()
            {
                var id_span = "#" + $(this).attr('id').replace("input",'span');
                $(id_span).css("color","#CCCCCC");
            });

            $('.login-input').focusout(function()
            {
                var id_span = "#" + $(this).attr('id').replace("input",'span');
                $(id_span).css('color','#959595');
                if ($(this).val()==''){ $(id_span).show(); }
            });

            $('.login-input').keyup(function()
            {
                var id_span = "#" + $(this).attr('id').replace("input",'span');
                if ($(this).val()=="") { $(id_span).show(); }
                else {  $(id_span).hide(); }
            });

            $('.input-span').click(function()
            {
                var id_span = "#" + $(this).attr('id').replace("span",'input');
                $(id_span).focus();
            });

            $('#create-account').click(function()
            {
                $('#login-div').hide();
                $('#register-div').show();
            });

            $('#no-facebook').click(function()
            {
                $('#fb-div').hide();
                $('#login-div').show();
            });

        });
    </script>

{% endblock %}