<!-- hidden variables we need for javascript -->
<div id="actions_variables">
    <input id="content_id" type="hidden" value="{{ content.id }}" />
</div>

<!-- ACTIONS-->
<div class="actions">
    <a id="contentlike" class="action"
            {% if i_vote == 1 %}
       style="color:green"
            {% else %}
       style="color:black"
            {% endif %}
            >
        like
    </a>
    <a id="contentdislike" class="action"
            {% if i_vote == -1 %}
                style="color:red"
            {% else %}
                style="color:black"
            {% endif %}
            > dislike </a>
    <a id="linkfrom" class="action"> linkfrom </a>
    <a id="linkto" class="action"> linkto </a>
    <a id="share" class="action"> share </a>
    <a id="follow" class="action"> follow </a>
    {% if iamcreator %}
        <a id="edit" class="action"> edit </a>
        <a id="deletecontent" class="action"> delete </a>
    {% endif %}
</div>

<style>
    .action
    {
        cursor:pointer
    }
</style>