{% extends 'usable/default.html' %}

{% block content_block %}

    <h3> Create: </h3>

    <div id="choice">
        <a id="make_petition"> Petition </a>
        <a id="make_event"> Event </a>
        <a id="make_news"> News </a>
        <a id="make_group"> Group </a>
        <a id="make_debate"> Debate </a>
    </div>

    <br>
    <div id=form>

        <form id=petition_form action="/create_content/" method="post" enctype="multipart/form-data"> {% csrf_token %}
            NEW PETITION:<br><br>
            {% include 'forms/contentform.html' with form=petition %}
            <input type="submit" value="Submit" />
        </form>

        <form id=event_form action="/create_content/" method="post" enctype="multipart/form-data"> {% csrf_token %}
            NEW EVENT:<br><br>
            {% include 'forms/contentform.html' with form=event %}
            <input type="submit" value="Submit" />
        </form>

        <form id=news_form action="/create_content/" method="post" enctype="multipart/form-data"> {% csrf_token %}
            NEW LINK:<br><br>
            {% include 'forms/contentform.html' with form=news %}
            <input type="submit" value="Submit" />
        </form>

        <form id=group_form action="/create_content/" method="post" enctype="multipart/form-data"> {% csrf_token %}
            NEW GROUP:<br><br>
            {% include 'forms/contentform.html' with form=group %}
            <input type="submit" value="Submit" />
        </form>

        <form id=debate_form action="/create_content/" method="post" enctype="multipart/form-data"> {% csrf_token %}
            NEW DEBATE:<br><br>
            {% include 'forms/contentform.html' with form=debate %}
            <input type="submit" value="Submit" />
        </form>

    </div>


    <style>
        .topicSelection > img input
        {
            float: left;
        }
        .topicSelection
        {
            width:400px;
            height:245px;
        }
            /* css for timepicker */
        .ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
        .ui-timepicker-div dl { text-align: left; }
        .ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
        .ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
        .ui-timepicker-div td { font-size: 90%; }
        .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }



    </style>

{% endblock %}

