<html>
<head>
</head>
<body style="background: green;">

<!-- hidden variables we need for javascript -->
<div id="default_variables">
    <input id="pagepath" type="hidden" value="{{ request.path }}" />
    <input id="csrftoken" type="hidden" value="{{ csrf_token }}" />
</div>

<table width="1000" border="0">
    <tr>
        <td colspan="3" style="background-color:purple;">
        <!Header>
            {% block header_block %}
            <table width="1000">
                <tr>
                    <td>
                        <h2> <a href="/novavote/"> NovaVote </a> </h2>
                    </td>
                    <td>
                        <h3> <a href="/questions/">My Opinion</a> </h3>
                    </td>
                    <td>
                        <h3> <a href="/mygovernment/">My Government</a> </h3>
                    </td>
                    <td>
                        <h3> <a href="/myinvolvement/">My Involvement</a> </h3>
                    </td>
                    <td>
                        {% include 'create_content/create_content.html' %}
                    </td>
                    <td>
                        <form name="search" action="/search/" method="get">
                            <input type="text" name="q"  id="id_q" />
                            <input type="submit" value="Search" />
                        </form>
                    </td>
                    <td>
                        <h3> <a href="/myprofile/"> {{ user.username }}</a> </h3>
                    </td>
                    <td>
                        <h3> <a href="/logout/">Logout</a> </h3>
                    </td>
                </tr>
            </table>

            {%  endblock %}

        </td>
    </tr>

    <tr valign="top">
        <td style="background-color:purple;width:100px;text-align:top;">
         <!User Information, WorldView Tree>
            {% block left_block %}
                <h1> linking from: {{ linkfrom }} </h1>
                <p>
                    <form class="feedback" name="feeder" action="/action/" method="post">
                        <textarea class="myfeedback" width=200 height=200> Help us make mopo better! </textarea>
                        <input type="submit" value="feedback" />
                    </form>
                </p>
            {%  endblock %}

        </td>
        <td style="background-color:#FFFFFF;height:200px;width:700px;text-align:top;">
        <!Content Section>
            {% block content_block %}
                <h1> content_block </h1>
            {%  endblock %}

        </td>
        <td style="background-color:purple;width:150px;text-align:top;">
            {% block right_block %}
                <!--Feed-->
                <a class="updatefeed"> update </a> <a class="refreshfeed"> refresh </a>
                <p>
                    {% include 'feed/simple_feed.html' %}
                </p>
            {% endblock %}
        </td>
    </tr>

    <tr>
        <td colspan="3" style="background-color:purple;text-align:center;">
        <!Footer>
            {% block footer_block %}
                <table width=1000>
                    <td>
                        {% if privacy == 'PRI' %}
                            <a style="font-size:150%"> You are currently in private mode. </a>
                        {% else %}
                            {% if privacy == 'PUB' %}
                                <a style="font-size:150%"> You are currently in public mode. </a>
                            {% else %}
                                <a style="font-size:150%"> You are currently in followers mode. </a>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td align="right">
                        {% if privacy == 'PRI' %}
                            <a class="private" style="font-size:200%"> private </a>
                            <a class="public"> public </a>
                            <a class="followers"> followers </a>
                        {% else %}
                            {% if privacy == 'PUB' %}
                                <a class="private"> private </a>
                                <a class="public" style="font-size:200%"> public </a>
                                <a class="followers"> followers </a>
                             {% else %}
                                <a class="private"> private </a>
                                <a class="public" > public </a>
                                <a class="followers" style="font-size:200%"> followers </a>
                            {% endif %}
                        {% endif %}
                    </td>
                </table>

            {%  endblock %}

        </td>
    </tr>
</table>

<!-- JAVASCRIPT -->
<!-- jquery -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<!-- jquery ui -->
<script type="text/javascript" src="/static/jquery/jquery-ui-1.8.17.custom.js"></script>
<!-- jquery dependencies -->
<script type="text/javascript" src="/static/jquery/jquery.hoverIntent.js"></script>
<script type="text/javascript" src="/static/jquery/dragscrollable.js"></script>
<script type="text/javascript" src="/static/jquery/jquery.livequery.js"></script>
<script type="text/javascript" src="/static/jquery/scrollsync.js"></script>
<script type="text/javascript" src="/static/jquery/jquery.scrollview.js"></script>
<script type='text/javascript' src="/static/jquery/jquery.ba-outside-events.js"></script>

<!-- import CSS stylesheets -->
<link type="text/css" href="/static/css/ui-lightness/jquery-ui-1.8.17.custom.css" rel="Stylesheet" />
<link type="text/css" href="/static/css/ui-lightness/jquery.ui.datepicker.css" rel="Stylesheet" />

<!-- our js -->
<script type='text/javascript' src="/static/js/create_content.js"></script>
<script type='text/javascript' src="/static/js/default.js"></script>
{% block javascript %}

{% endblock %}
<!-- for displaying errors -->
<div class="errors_div"> </div>


</body>
</html>

