
<h3> QUESTION </h3>

<!-- QUESTION -->
<div>
    <a class="field">{{ object.question_text }} </a>
    {% if iamcreator %}
        <a class="actions edit"> edit </a>
        <textarea  rows="5" cols="30" class="edit_field"></textarea>
        <input class="hidden" type="text" value="question_text"/>
        <a class="actions save"> save </a>
    {% endif %}
</div>

<!-- ANSWERS  -->
<form id="answerform" action="/answer/{{object.id}}/" method="post"> {% csrf_token %}
    {% for a in object.answers.all %}
    <p>
        <input type=radio name="choice" value="{{ a.value }}" />
         {{ a.answer_text }}
    </p>
    {% endfor %}
    <input type="submit" value="Answer" />
    <p>
        <label> My Explanation [optional] </label>
        <input id ="explanation" type="text" name="explanation" />
    </p>
</form>


