<h3> {{ object.title }} </h3>

<!-- QUESTION -->
<h4> {{ object.question.question_text }} </h4>

<!-- ANSWERS  -->
{% for tuple in object.responses.all %}
    <p
        {% if tuple.answer.value == object.answer_val %}
        style="color:blue"
        {% else %}
        style="color:black"
        {% endif %}
    >
        {{ tuple.answer.value }}- {{ tuple.answer.answer_text }} ({{tuple.tally}})
    </p>
{% endfor %}


<h3> average response value by Users:   {{ object.answer_avg }} </h3>
<ul>
    {% for u in object.users.all %}
        <li>
            <a href="{{ u.get_url }}"> {{u.username}} </a>
        </li>    
    {% endfor %}
</ul>



