{% extends "test/homepage.html" %}
{% block content %}
    <!--
    -->
    <link type="text/css" href="/static/css/jquery-ui-1.8.16.custom.css" rel="Stylesheet" />
    <script type="text/javascript" src="/static/jQuery.js"></script>
    <script type="text/javascript" src="/static/jquery-ui-1.8.16.custom.js"></script>
    <script type="text/javascript" src="/static/jquery.hoverIntent.js"></script>
    <script type="text/javascript">
        // encoded HTML form variables
        var petition = '{{ petition|escapejs }}';
        var event = '{{ event|escapejs }}';
        var newsarticle = '{{ newsarticle|escapejs }}';

        $(document).ready(function(){
            $('.topic').hide();
            $("#petition_button").click(function(){
                $('#2').html(petition );
                $('.topic').show();
                clearTopicIconArray();
            });
            $("#event_button").click(function(){
                $('#2').html(event);
                $('.topic').show();
                clearTopicIconArray();
            });
            $("#news_button").click(function(){
                $('#2').html(newsarticle);
                $('.topic').show();
                clearTopicIconArray();
            });
        });

        function clearTopicIconArray()
        {
            $('#testing').html("");
            testArray = [];
        }
    </script>
    <style>
        #project-label {
            display: block;
            font-weight: bold;
            margin-bottom: 1em;
        }
        #project-icon {
            float: left;
            height: 32px;
            width: 32px;
        }
        #project-description {
            margin: 0;
            padding: 0;
        }
    </style>

    <script>
        // Checks to see if the value is contained in the list
        function containsObject(list, value)
        {
            var i;
            for (i = 0; i < list.length; i++)
            {
                if (list[i].value == value)
                {
                    return true;
                }
            }
            return false;
        }
        function toggleIcon(image)
        {
            if (testArray[image.id].selected)
            {
                image.src="/static/govern.png";
                testArray[image.id].selected=false;
            }
            else
            {
                image.src="/static/govern-selected.png";
                testArray[image.id].selected=true;
            }
        }
        function clearIconHtml()
        {
            $('#testing').html("");
        }
        function generateIconHtml(object, index)
        {
            if (object.selected)
            {
                return '<img src="' + object.select_icon + '" alt="idk" onClick="toggleIcon(this);" id="' + index + '"/>';
            }
            else
            {
                return '<img src="' + object.icon + '" alt="idk" onClick="toggleIcon(this);" id="' + index + '"/>';
            }
        }
    </script>


    <script>
        var testArray = new Array();
        $(function() {
            var projects =
            [
                {
                    value: "economy",
                    label: "Economy",
                    //desc: "the write less, do more, JavaScript library",
                    icon: "govern.png",
                    select_icon: "govern-selected.png",
                    selected: false
                },
                {
                    value: "energy",
                    label: "Energy",
                  //  desc: "the official user interface library for jQuery",
                    icon: "govern.png",
                    select_icon: "govern-selected.png",
                    selected: false
                },
                {
                    value: "abortion",
                    label: "Abortion",
                    //desc: "a pure-JavaScript CSS selector engine",
                    icon: "calendar.png",
                    select_icon: "govern-selected.png",
                    selected: false
                },
                {
                    value: "taxes",
                    label: "Taxes",
                    //desc: "a pure-JavaScript CSS selector engine",
                    icon: "calendar.png",
                    select_icon: "govern-selected.png",
                    selected: false
                }
            ];

            $( "#project" ).autocomplete
            ({
                minLength: 0,
                source: projects,


                focus: function( event,ui )
                {
                    $( "#project" ).val( ui.item.label );
                    return false;
                },

                select: function( event, ui )
                {
                    $('#testing').html("");
                    if (!containsObject(testArray, ui.item.value))
                    {
                        var newItem = {value: ui.item.value , label:ui.item.label, icon: '/static/' + ui.item.icon, select_icon: '/static/' + ui.item.select_icon, selected: false};
                        testArray.push(newItem);
                    }

                    var len=testArray.length;
                    for(var i=0; i<len; i++)
                    {
                        $('#testing').append(generateIconHtml(testArray[i], i));
                    }

                    $( "#project" ).val( ui.item.label );
                    $( "#project-id" ).val( ui.item.value );
                  //  $( "#project-description" ).html( ui.item.desc );
                    $( "#project-icon" ).attr( "src", "/static/" + ui.item.icon );
                    return false;
                }
            })

            .data( "autocomplete" )._renderItem = function( ul, item )
            {
                return $( "<li></li>" )
                        .data( "item.autocomplete", item )
                        .append( "<a>" + item.label + "<br>" + "</a>" )
                        .appendTo( ul );
            };
        });
    </script>


<!--
    <div class="demo">
        <div id="project-label">Topic:</div>
        <img id="project-icon" src=""  class="ui-state-default"/>

        <p id="project-description"></p>
    </div>

    -->


    <br><br><br><br>
    <button id="event_button">Event</button>
    <button id="petition_button">Petition</button>
    <button id="news_button">News Article</button>
    <div id="test" style="background:yellow;width:200px">Click me to make me disappear</div>
    <form action="" method="post" id="3">{% csrf_token %}
        <div id="2"></div>
        <div id="testing"></div>
        <div class="topic"><label for="tags"><b>Topics:</b> </label><input id="project"/><input type="hidden" id="project-id"/></div>
        <input type="submit" value="Submit" id="1" />
    </form>


{% endblock %}