{% extends 'usable/default.html' %}

{% block content_block %}

    <ol width="400">

    {% for q,r in qr %}
    
        <li>
            <a href="/display/{{q.id}}"
                    {% if r %}
                       style="color:green"
                    {% else %}
                       style="color:black"
                    {% endif %}>
                {{ q.question_text }}          
            </a>
            <a align="right">
                {% if r %}

                {% endif %}
            </a>

            <br>
       </li>




    {% endfor %}

    </ol>

{% endblock %}