{% extends 'site/pages/dismissible_headers/dismissible_header.html' %}

{% block dismissible_content %}

    <div class="congress-header congress_header_link dummy_link"
         data-url="{{ congress.getHistogramURL }}" {% if answer_warning %} data-warning="1" {% else %} data-warning="0" {% endif %}>
        <div class="mouse-over">
            <div class="mouse-over-text"> mouse over </div>
            <div class="mouse-over-arrow"></div>
        </div>

        <div class="congress-teaser">
            {% for user in congress_members %}
                <div class="congress-pic-wrapper">
                    <div class="bind_link" data-url="{{ user.get_url }}">
                        {% include 'site/pieces/avatar.html' with height="35" width="35" %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="congress-explanation">
            <a href="{{ congress.getHistogramURL }}" class="congress-explanation-header">
                Compare yourself to congress
            </a>
            <div class="congress-explanation-text">
                Want to see how your compare with our policy and lawmakers?
                Use our matchmaking tools and get a breakdown.
            </div>
        </div>

        <div style="clear:both;"></div>
    </div>

{% endblock %}