{% extends 'site/pages/dismissible_headers/dismissible_header.html' %}

{% block dismissible_content %}
    <div class="find-your-reps-top-header">
        <div class="reps-teaser-image"></div>
        <div class="right-part">
            <div class="top-text">
                <div class="header-title">
                    Find Your Representatives
                </div>
                <input class="reps-zip-input reps_zip_input" type="text" placeholder="zipcode"/>
                <a class="find_reps_header_button go-button"> go </a>
            </div>
            <div class="find-reps-explanation">
                See how you compare with the politicians that directly represent your interests.
                View their latest action on legislation or send them a message.
            </div>
        </div>
    </div>
{% endblock %}