<div class="stats_object" data-object="not_enough_questions_warning" data-of_what="{{ of_what }}">
    <div class="what-would-be-wrapper what_would_be_wrapper {% if ABOVE_QUESTIONS_THRESHOLD %} strong-match {% endif %}">
        {% if not ABOVE_QUESTIONS_THRESHOLD %}
            <div class="what-would-be-text">
                <span class="bold-part"> You haven't answered enough questions to get meaningful matches. </span>
                <br> Answer questions to improve your matches.
            </div>
        {% else %}
            <div class="what-would-be-text strong-match">
                You've answered enough questions that your matches ought to tell you something. <br>
                {% comment %}
                Your match strength will continue to improve as you answer more <a href="/questions/"> questions </a>.
                {% endcomment %}
                To advance to the next match step <a href="/match/" class="next-step-link">click here</a>.
            </div>
        {% endif %}
        <span class="questions-progress">
            {% if not ABOVE_QUESTIONS_THRESHOLD %}
                {{ lgpoll_progress.completed }} / 15
            {% else %}
                {{ lgpoll_progress.completed }} / {{ lgpoll_progress.total }}
            {% endif %}
        </span>
        <a class="what-would-be-x what_would_be_x"> X </a>
        <div style="clear:both;"></div>
    </div>
</div>