{% for member in congressmen %}
    <div class="user-list-div {% cycle 'user-list-div-left' 'user-list-div-center' 'user-list-div-right' %}">
        <div class="user-list-item">

            <div>
                {% if member.title == "S" %}Your Senator{% else %}Your Representative &nbsp;[&nbsp;<a id="see-congressional-map">See Map</a>&nbsp;]{% endif %}
            </div>

            <div class="user-list-item-name-big">
                You & {{ member.get_name }}
            </div>

            <div class="match-images">
                {% load thumbnail %}
                {% thumbnail member.getProfileImage.image "85x85" crop="center" as im %}
                    <img class="user-image-comparison" src="{{ im.url }}"/>
                {% empty %}
                    <span> no pic </span>
                {% endthumbnail %}
            </div>

            <div id="{{ member.alias }}-canvas">

            </div>
        </div>
    </div>
    <script>
        new VisualComparison("{{ member.alias }}-canvas",eval('(' + '{{ member.json|escapejs }}' + ')')).draw();
    </script>
{% endfor %}
