<div class="match-quicklinks">

    <div class="quick-links-header">
        <h3> Match and Compare Quick Links </h3>
    </div>

    <div class="quick-links-column">
        <div class="quick-link-container">
            <a href="/friends/" class="quick-link do-ajax-link">Compare to Friends</a>
        </div>

        <div class="quick-link-container">
        <a href="/networks/" class="quick-link do-ajax-link">Compare to Networks</a>
        </div>
    </div>

    <div class="quick-links-column">
        <div class="quick-link-container">
            <a href="/groups/" class="quick-link do-ajax-link">Compare to Groups</a>
        </div>

        <div class="quick-link-container">
            <a href="/network/congress/" class="quick-link do-ajax-link">Compare to Congress</a>
        </div>
    </div>

    <div class="quick-links-column quick-links-border">
        <div class="quick-link-container quick-link-container-border">
            <a href="/match/representatives/" class="quick-link do-ajax-link">Find your Representatives</a>
        </div>

        <p class="quick-links-explanation">
        Use our tools to find who represents you in government
        and see your voting district.
        </p>
    </div>

</div>
