<div class="agreement-bargraph agreement_bargraph">

    <div class="graph-title"> % who agree with you </div>

    {% for g in groups_dict_list %}
        <div class="agreed-bar-wrapper {% if forloop.last %} last {% endif %}">
            {% with group=g.group g_title=g.g_title percent_agreed=g.percent_agreed percent_disagreed=g.percent_disagreed total_num=g.total_num %}
                <div class="agreed-bar tooltip-top" style="
                        height:{{ percent_agreed }}%;
                        top:{{ percent_disagreed }}%;"
                     title="{{ percent_agreed }}% of {{ total_num }} responders agree with you"></div>

                <a href="{{ group.get_url }}" class="agreed-bar-label"> {{ g_title }} </a>
            {% endwith %}
        </div>
    {% endfor %}

    <a href="{{ content.get_url }}" class="more-info"> + info </a>

</div>