{% extends 'site/pages/feed/feed_items/base_item.html' %}


{% block content-title %}

    {% load customtags %}
    <a class="feed-link-wrapper news_link dummy_link" href="{{ content.getAbsoluteLink }}" data-link_redirect="{{ content.getLinkRedirectURL }}" target="_blank">
        <span class="content-title"> {{ content.getFeedTitle }}
            <span class="feed-news-link news_link" data-n_id="{{ content.id }}">
                {{ content.getAbsoluteLink|domain }}
            </span>
        </span>
    </a>

{% endblock %}


{% block item_main %}

    <div class="news-wrapper">

        <div class="news-summary feed-item-summary">
            {{ content.getSummary }}
        </div>

    </div>

{% endblock %}
