<!-- goes inside a wrapper, and receives its dimensions from there -->
<div class="match_breakdown match_object" data-to_compare_alias="{{ to_compare.alias }}"
        {% if not match_display %} data-display="horizontal_breakdown" {% else %} data-display={{ match_display }} {% endif %}
     data-result="{{ comparison.main.result }}" data-num_q="{{ comparison.main.num_q }}">
    {% for t in comparison.topics %}
        {% with topic=t.topic %}
            {% if not match_display %}
                {% include 'site/pieces/match_breakdown/topic_row.html' %}
            {% elif match_display == 'group_header_match' %}
                {% include 'site/pieces/match_breakdown/group_header_bar.html' %}
            {% endif %}
        {% endwith %}
    {% endfor %}
</div>