<h1> Register </h1>
    
    <p>
        <form action="" method="post"> {% csrf_token %}

            {{ register_form.as_p }}
            <input type="submit" value="register">

            <br><br>
            <!-- RECAPTCHA stuff -->
            <script type="text/javascript"
                    src="http://www.google.com/recaptcha/api/challenge?k={{ recaptcha }}">
            </script>
            <noscript>
                <iframe src="http://www.google.com/recaptcha/api/noscript?k={{ recaptcha }}"
                        height="300" width="500" frameborder="0"></iframe><br>
                <textarea name="recaptcha_challenge_field" rows="3" cols="40">
                </textarea>
                <input type="hidden" name="recaptcha_response_field"
                       value="manual_challenge">
            </noscript>

        </form>
    </p>

    
