<h1> Search </h1>

<p>
<form name="search" id="search_bar" action="/search/" method="get">
    <input type="search_text" name="q"  id="id_q" />
    <input type="submit" value="Search" />
</form>
</p>


<!-- jquery -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link type="text/css" href="/static/css/jquery-ui-1.8.16.custom.css" rel="Stylesheet" />
<script type="text/javascript" src="/static/jquery-ui-1.8.16.custom.js"></script>
<script type="text/javascript" src="/static/jquery.hoverIntent.js"></script>
<script>
    $(function() {
        var availableTags = [
            "ActionScript",
            "AppleScript",
            "Asp",
            "BASIC",
            "C",
            "C++",
            "Clojure",
            "COBOL",
            "ColdFusion",
            "Erlang",
            "Fortran",
            "Groovy",
            "Haskell",
            "Java",
            "JavaScript",
            "Lisp",
            "Perl",
            "PHP",
            "Python",
            "Ruby",
            "Scala",
            "Scheme"
        ];
        $( "#search_text" ).autocomplete({
            source: availableTags
        });
    });
</script>


    
