{% extends 'deployment/templates/frame.html' %}

{% block content %}

<!-- CSS stylesheet -->
<link rel="stylesheet" type="text/css" href="/static/css/deployment/legislation.css" />

<div id="content-leg-div">

{% if error %}

<span style="color:red">{{error}}</span>

{% else %}

Session: {{session}}
<br>Type: {{type}}
<br>Number: {{number}}

<p><h2>Bill Information</h2>

{% for title in leg_titles %}
<p><h3>Bill title</h3>
<ul>
	<li>Title: {{title.title}}</li>
	<li>Type: {{title.title_type}}</li>
	<li>As: {{title.title_as}}</li>
</ul>
{% endfor %}

<p><h3>Misc Info</h3>

<ul>
	<li>Last updated: {{leg.bill_updated}}</li>
	<li>Introduced: {{leg.introduced_datetime}}</li>
	<li>Sponsor: <a href='{{leg.sponsor.get_url}}'>{{leg.sponsor.get_name}}</a></li>
	<li>Current state: {{leg.state_text}}</li>
	<ul>
		<li>Status: {{leg.bill_status.status_text}}</li>
		<li>Datetime: {{leg.bill_status.datetime}}</li>
		<li>Where: {{leg.bill_status.where}}</li>
		<li>Result: {{leg.bill_status.result}}</li>
		<li>How: {{leg.bill_status.how}}</li>
		<li>Roll: {{leg.bill_status.roll}}</li>
	</ul>
	<li>State datetime: {{leg.state_datetime}}</li>
</ul>

<p><h3>Bill Co-sponsors</h3>

<ul>
	{% for cosponsor in leg.cosponsors.all %}
	<li><a href='{{cosponsor.get_url}}'>{{cosponsor.get_name}}</a></li>
	{% endfor %}
</ul>

<p><h3>Committees</h3>

{% for committee in leg.committees.all %}

<ul>
	<li>Name: {{committee.name}}</li>
	<li>Code: {{committee.code}}</li>
	<li>Type: {{committee.type}}</li>
	<li>Members: <ul>
		{% for cmember in committee.members.electedofficial.all %}
		<li><a href='{{cmember.get_url}}'>{{cmember.get_name}}</a></li>
		{% endfor %}
	</ul></li>
</ul>

{% endfor %}

{% endif %}

</div>

{% endblock %}