{% extends 'deployment/templates/frame.html' %}

{% block content %}

    <!-- Begin Presidential -->

    <div id="presidential">
        {% for candidate in comparison_list %}
            {% with firstname=candidate.0 fullname=candidate.1 img=candidate.2%}
            <div class="comparison-div" id="{{ firstname }}">
                <div class="you-and-candidate">
                    You & {{ fullname }}
                </div>
                <div class="presidential-img">
                    <img src="{{ img }}"/>
                </div>
                <div id="{{ firstname }}-canvas" style="height:300px;width:300px;float:left">

                </div>
            </div>
            {% endwith %}
        {% endfor %}
    </div>


    <div id="result-json" style="display:none">
        {{ comparison_JSON }}
    </div>

    <script type="text/javascript" src="/static/catherine/home/kinetic-v3.8.2.min.js"></script>

    <!-- internal js -->
    <script type="text/javascript" src="/static/js/deployment/presidential.js"></script>

{% endblock %}