{% extends 'site/pages/october_login/october_login.html' %}

{% block middle %}

    <div class="upper">

        <div class="october-central october_central">

            <div class="video-wrapper login_central" data-url="/login/" style="display:block;">
                <iframe src="http://player.vimeo.com/video/48815262" width="800" height="450" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                <p class="want-to-learn-more">New to LoveGov? <a class="login_header_link" data-url="/presidential_matching/">Try our presidential matching.</a></p>
            </div>

            <div class="how-it-works-wrapper login_central" data-url="/how_it_works/">
               {% include 'site/pages/how-it-works.html' %}
            </div>

            <div class="mission-wrapper login_central" data-url="/mission/">
                {% include 'site/pages/who-are-we.html' %}
            </div>

            <div class="sign-up-wrapper login_central" data-url="/sign_up/">
                {% include 'site/pages/login/sign-up.html' %}
            </div>

            <div class="presidential-matching-wrapper login_central" data-url="/presidential_matching/">
                {% include 'site/pages/october_login/presidential_matching.html' %}
            </div>

        </div>

        <div id="middle-right">

            <div id="create-account-div" class="state-div" style="display:block;">
                {% include 'site/pages/login/create-account.html' %}
            </div>

            <div id="sign-up-div" class="state-div">
                {% include 'site/pages/login/sign-up.html' %}
            </div>

            <div id="register-div" class="state-div">
                {% include 'site/pages/login/new_register_form.html' %}
            </div>

            <div id="post-twitter-div" class="state-div">
                {% include 'site/pages/login/new_register_form.html' with form_type="twitter_register" %}
            </div>

            <div id="need-confirmation-div" class="state-div">
                <h3> {{ confirmation_message  }} </h3>
                <br><br>
                <h3> or </h3>
                <br><br>
                <h3> <a href="/logout/"> sign in as another user. </a> </h3>
            </div>

        </div>

        <div style="clear:both"></div>

    </div>

    <!-- Fade-in Divs -->
    {% include 'site/pages/login/login-about.html' %}
    {% include 'site/pages/login/screenshots.html' %}
    {% include 'site/pages/login/login-privacy.html' %}

    <script type="text/javascript">
        $(document).ready(function()
        {
            var register_state = "{{ state }}";
            if (register_state == 'register_error') {
                $(".state-div").hide();
                $("#register-div").show();
            }
            if (register_state == 'post-twitter') {
                $(".state-div").hide();
                $("#post-twitter-div").show();
            }
            if (register_state == 'need-confirmation') {
                $(".state-div").hide();
                $("#need-confirmation-div").show();
            }
            if (register_state == 'claimed_by') {
                $(".state-div").hide();
                $("#register-div").show();
            }
            if (register_state == 'register') {
                $(".state-div").hide();
                $("#sign-up-div").show();
            }

            if (login_state == 'login_error') {
                $(".sign_in_dialogue").show();
            }
        });
    </script>

{% endblock %}