<div class="presidential-matching">

    <div class="presidential-matching-top">
        Answer 10 questions about your political views and see how you compare with the candidates.
    </div>

    <div class="left-side">

        <div class="the-matching">
            <div class="president-match">
                {% include 'site/pieces/avatar.html' with user=mitt width="50" height="50" %}
            </div>
            <div class="president-match">
                {% include 'site/pieces/avatar.html' with user=obama width="50" height="50" %}
            </div>
        </div>

    </div>

    <div class="right-side">

        <div class="the-question">

        </div>

        <a class="next-question">
            next question
        </a>

    </div>


</div>