{% load thumbnail %}
<div class="october-sign-up">

    {% if not no_appeal %}
        <div class="lg-appeal">
            Let's use the internet to fix government.
        </div>
    {% endif %}

    <div class="top-buttons">
        <a href="/fb/redirect/" class="fb-button"></a>
        <a href="/twitter/redirect/" class="twitter-button twitter_register"> </a>
        <div style="clear:both;"></div>
    </div>

    <div class="below-buttons">
        <div class="left-side-disclaimer">
            We won't post on your behalf & will never sell personal information.
        </div>
        <div class="lower-area">
            <div class="sign-up-with-email-area">
                <div class="sign-up-form-wrapper">
                    {% include 'site/pages/october_login/sign_up_with_email_form.html' %}
                </div>
            </div>
            <div class="action-items-area">
                <div class="action-items-header">
                    LoveGov Tutorial
                </div>
                <div class="action-item">
                    <div class="action-item-num">1</div><div class="action-item-text">Answer questions</div>
                </div>
                <div class="action-item">
                    <div class="action-item-num">2</div><div class="action-item-text">Match yourself</div>
                </div>
                <div class="action-item">
                    <div class="action-item-num">3</div><div class="action-item-text">Take action</div>
                </div>
                <div class="conclusion-item">
                    It's easy to get involved.
                </div>

            </div>
            <div style="clear:both;"></div>
        </div>
    </div>

    <div class="about-privacy-policy">
        By signing up you agree to our <a href="/privacy_policy/" target="_blank">privacy policy</a> & <a href="/terms_of_use/" target="_blank">terms of use</a>.
    </div>

</div>