{% load thumbnail %}
<div class="october-sign-up">


    <div class="top-buttons">
        <a href="/fb/redirect/" class="fb-button"></a>
        <br>
        <a href="/twitter/redirect/" class="twitter-button twitter_register"> </a>
        <div style="clear:both;"></div>
    </div>
    <div class="left-side-disclaimer">
        <strong style="font-size: 24px">1-click sign up</strong>
        <br>Sign up with Facebook to see how you match with your friends and networks.
        <br>We won't post on your behalf, and we will never sell your personal information.
    </div>

    <div class="below-buttons">
        <div class="lower-area">
            <img src="{{ STATIC_URL }}/images/login/or.png" style="width: 300px; margin: 5px 20px; margin-bottom: 20px;">
            <div style="text-align: center">
                <div class="sign-up-with-email-area {% if to_page != '/sign_up/' %} has_hover_color {% endif %}" {% if to_page == '/sign_up/' %} style="padding:30px;"{% endif %}>
                    <div class="sign-up-form-wrapper">
                        {% include 'site/pages/october_login/sign_up_with_email_form.html' %}
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>

    {% comment %}
    <div class="registration-benefits">
        <div style="font-size: 48px; margin-bottom: 15px; text-align: center;">But wait, there's more!</div>

            <p>Signing up with your Facebook, Twitter, or email gives you access to a number of community organizing tools, allowing you
                and your interest group to share news, host discussions, create petitions, and much more. Read on to learn how it works.
        </div>
    </div>
    {% endcomment %}

</div>