{% load thumbnail %}
<div class="october-sign-up">

    {% if not no_appeal %}
        <div class="lg-appeal">
            Let's use the internet to fix government.
        </div>
    {% endif %}

    <div class="top-buttons">
        <a href="/fb/redirect/" class="fb-button"></a>
        <br>
        <a href="/twitter/redirect/" class="twitter-button twitter_register"> </a>
        <div style="clear:both;"></div>
    </div>
    <div class="left-side-disclaimer">
        Sign up with Facebook to see how you match with your friends and networks.
        <br>We won't post on your behalf, and we will never sell your personal information.
    </div>

    <div class="below-buttons">
        <div class="lower-area">
            <img src="{{ STATIC_URL }}/images/login/or.png" style="width: 300px; margin: 5px 20px; margin-bottom: 20px;">
            <div style="text-align: center">
                <div class="sign-up-with-email-area">
                    <div class="sign-up-form-wrapper">
                        {% include 'site/pages/october_login/sign_up_with_email_form.html' %}
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>

</div>