<div class="login-first-page login_first_page">

    <div class="video-wrapper login_central">
        <iframe src="http://player.vimeo.com/video/48815262" width="800" height="450" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        <div class="want-to-learn-more">
            <span class="new-to-lovegov">New to LoveGov?</span>
            <a class="dummy_link do_ajax_link presidential-matching-link" href="/presidential_matching/">Try our presidential matching</a>
        </div>
        <div class="or-sign-up-wrapper">
        <span class="or-sign-up">
        It's easy to
        </span>
            <a class="sign-up-button goto_sign_up">sign up</a>.
        </div>
    </div>

    <div class="sign-up-wrapper sign_up_wrapper" id="sign_up_wrapper">
        {% include 'site/pages/october_login/sign_up.html' %}
    </div>

    <div class="how-it-works-wrapper">
        {% include 'site/pages/how-it-works.html' %}
    </div>

</div>
