{% extends 'site/pages/helper_bubbles/helper_bubble.html' %}

{% block helper_text %}

    <p>
        These are all of the groups and elections you are following. Each has it’s own feed with the content that was posted to it.
    </p>

    <div class="switch-buttons">
        <a class="continue_tutorial previous-button" data-next="feedtut_create">previous</a>
        <span class="tutorial-progress"> 3/6 </span>
        <a class="continue_tutorial next-button" data-next="feedtut_posted_to">next</a>
        <div style="clear:both;"></div>
    </div>

{% endblock %}