{% extends 'site/pages/helper_bubbles/helper_bubble.html' %}

{% block helper_text %}

    <p>
        Click the hearts to up-vote or down-vote content.
        The total votes set how likely it is that the content will appear in other people’s feeds.
    </p>

    <div class="switch-buttons">
        <a class="continue_tutorial previous-button" data-next="feedtut_posted_to">previous</a>
        <span class="tutorial-progress"> 5/6 </span>
        <a class="continue_tutorial next-button" data-next="feedtut_creator">next</a>
        <div style="clear:both;"></div>
    </div>

{% endblock %}