{% extends 'site/pages/helper_bubbles/helper_bubble.html' %}

{% block helper_text %}
    <p>
        Not every question is as important to you as every other one. If you set the importance of your responses,
        we will take this into account in our comparisons and give you more accurate matches. The higher
        you set your importance for a response, the more heavily that question is weighted in your comparisons.
    </p>

    <p> And, that's it...you finished the question answering tutorial. Click <a class="x_helper_bubble"> here </a> to close this bubble,
        and have fun expressing your political beliefs!
    </p>

    <span class="qa-tutorial-progress"> 5/5 </span>

{% endblock %}