{% include 'site/pages/helper_bubbles/qa_start_tutorial.html' with bubble_task="Q" which_bubble="qa_start_tutorial" arrow_direction="right" bubble_show=first_questions %}
{% include 'site/pages/helper_bubbles/qa_this_is_title.html' with bubble_task="Q" which_bubble="qa_this_is_title" arrow_direction="up" %}
{% include 'site/pages/helper_bubbles/qa_these_are_answers.html' with bubble_task="Q" which_bubble="qa_these_are_answers" arrow_direction="left" %}
{% include 'site/pages/helper_bubbles/qa_privacy.html' with bubble_task="Q" which_bubble="qa_privacy" arrow_direction="right" %}
{% include 'site/pages/helper_bubbles/qa_only_unanswered.html' with bubble_task="Q" which_bubble="qa_only_unanswered" arrow_direction="up" %}
{% include 'site/pages/helper_bubbles/qa_add_explanation.html' with bubble_task="Q" which_bubble="qa_add_explanation" arrow_direction="down" %}
{% include 'site/pages/helper_bubbles/qa_importance.html' with bubble_task="Q" which_bubble="qa_importance" arrow_direction="right" %}