    <script>
        /* DOC SETUP */
        $(document).ready(function(){
            // To bypass csrf protection on ajax posts.
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}' }});
        });

    </script>

    <script language="JavaScript">
        // holds feed objects
        var feedArray = new Array();
        var FEEDSIZE = 10;
        var FEEDTIMER = 7500;
        var RANDOM = Math.floor(Math.random()*7501)

        // adds new items to feed
        function addFeedItem(feedItem)
        {
            if (!feedContains(feedItem))
            {
                if (feedArray.length == FEEDSIZE)
                {
                    // remove first element
                    feedArray.shift();
                    // add new element to end
                    feedArray.push(feedItem);
                }
                else
                {
                    // add new element to end
                    feedArray.push(feedItem);
                }
            }
        }

        function feedContains(feedItem)
        {
            for (var i = 0; i < feedArray.length; i++)
            {
                if (feedArray[i]['id'] == feedItem['id'])
                {
                    return true;
                }
            }
            return false;
        }

        // displays the feed
        function displayFeedArray()
        {
            $('#dataDisplay').html('');
            for (var i = 0; i < feedArray.length; i++)
            {
                $('#dataDisplay').prepend(displayFeedItem(feedArray[i]));
            }
        }

        // display individual feed items
        // TODO make methods for each content type
        function displayFeedItem(feedItem)
        {
            var toReturn = '';
            toReturn += getFullType(feedItem['type']) + "<br>" + "Title: " + feedItem['title'] + "<br>";
            if (feedItem.summary)
            {
                toReturn += "Summary: " + feedItem['summary'] + "<br>";
            }
            if (feedItem.link)
            {
                toReturn += "Link: " + feedItem['link'] + "<br>";
            }
            if (feedItem.commented)
            {
                toReturn += "received a comment<br>";
            }
            toReturn += "Topics: " + feedItem['topics'].toString() + "<br><br><br>";
            return toReturn;
        }

        // display full content type
        function getFullType(type)
        {
            switch(type)
            {
                case 'P': return "Petition"
                case 'N': return "News Article"
                case 'E': return "Event"
                case 'Q': return "Question"
                case 'R': return "Response"
                case 'C': return "Comment"
            }
        }

        // AJAX get funtion
        SANAjax = function()
        {
            $.ajax({
                url:'/access/',
                type: 'GET',
                data: {'access':"getFeed"},
                success: function(data)
                {
                    // parse json data into jscript object
                    var feedItem = eval('(' + data + ')');
                    // add feed item to array
                    addFeedItem(feedItem);
                    // display feed
                    $('#dataDisplay').html(displayFeedArray())
                },
                error: function(jqXHR, textStatus, errorThrown)
                {

                }
            });

        };
        // Runs function initially then on interval
        $(SANAjax);
        setInterval(SANAjax, FEEDTIMER + RANDOM);
    </script>


<div id="dataDisplay"></div>

