{% if num_results > 0 %}

{% load customtags %}
<img id="autocomplete-loading-gif" src="{{ STATIC_URL }}/images/ajax-loader.gif" style="display:none"/>

{% for userProfile in userProfiles %}
    {% include 'site/frame/searchbar/autocomplete-user.html' with userProfile=userProfile %}
{% endfor %}

{% if questions %}
<div class="autocomplete-div autocomplete-header">Discussions</div>
{% endif %}
{% for question in questions %}
	{% include 'site/frame/searchbar/autocomplete-question.html' with question=question %}
{% endfor %}

{% if news %}
<div class="autocomplete-div autocomplete-header">News</div>
{% endif %}
{% for article in news %}
	{% include 'site/frame/searchbar/autocomplete-news.html' with news=article %}
{% endfor %}

{% if petitions %}
<div class="autocomplete-div autocomplete-header">Petitions</div>
{% endif %}
{% for petition in petitions %}
	{% include 'site/frame/searchbar/autocomplete-petition.html' with petition=petition %}
{% endfor %}

{% if groups %}
    <div class="autocomplete-div autocomplete-header">Groups</div>
{% endif %}
{% for group in groups %}
    {% include 'site/frame/searchbar/autocomplete-group.html' with group=group %}
{% endfor %}


{% if num_results|subtract:shown > 0 %}
<a href="/search/{{search_string}}"> 
<div class="autocomplete-div autocomplete-more-results">
		More results for "{{search_string}}" ({{num_results}} total)<span style="float:right">→</span>
</div>
{% endif %}
</a>

{% else %}

Ain't no rezzies

{% endif %}