{% extends 'site/pages/content_detail/content_detail.html' %}

{% block content_detail_sidebar %}
{% endblock %}

{% block content_body %}

    <div class="based-off-of">
        {% with poll=scorecard.poll %}
            <span class="based-off-text"> This scorecard is based of the poll
                <a href="{{ poll.get_url }}" class="poll-link"> {{ poll.get_name }}</a>.
            </span>
            <a href="{{ poll.get_url }}" class="take-poll-button"> take the poll </a>
        {% endwith %}
        <div style="clear:both;"></div>
    </div>

    {% block scorecard_body %}

        <div class="politicians-compare">
            <div class="scorecard-section-header">
                <span class="header-text"> On This Scorecard </span>
                {% if i_can_edit %}   <a class="add-to-scorecard add_to_scorecard" data-s_id="{{ scorecard.id }}"> add people to scorecard </a> {% endif %}
                <div style="clear:both;"></div>
            </div>

            <div class="scorecard-avatar-strips-wrapper">
                {% for user in politicians %}
                    <div class="scorecard-avatar-strip-wrapper scorecard_avatar_strip_wrapper">
                        {% include 'site/pieces/avatar_strip.html' with user=user scorecard_strip=1 %}
                        {% if i_can_edit %}
                            <a class="remove_from_scorecard remove-from-scorecard tooltip-top"
                               data-s_id="{{ scorecard.id }}" data-p_id="{{ user.id }}" title="remove"> X </a>
                        {% endif %}
                    </div>
                {% empty %}
                    <div class="no-one-on-scorecard">
                        The creator of this scorecard hasn't added anyone to be compared.
                    </div>
                {% endfor %}
                <div style="clear:both;"></div>
            </div>
        </div>

        {% if representatives %}
            <div class="reps-compare">
                <div class="scorecard-section-header">
                    How your representatives compare
                </div>

                <div class="scorecard-avatar-strips-wrapper">
                    {% for user in representatives %}
                        <div class="scorecard-avatar-strip-wrapper">
                            {% include 'site/pieces/avatar_strip.html' with user=user scorecard_strip=1 %}
                        </div>
                    {% endfor %}
                    <div style="clear:both;"></div>
                </div>
            </div>
        {% endif %}

    {% endblock %}

{% endblock %}

{% block content_buttons %}
    <div class="content-action-button pin_content" data-c_id="{{ content.id }}">pin content</div>
    {% if i_can_edit %}
        {% if editing_scorecard %}
            <a class="content-action-button" href="{{ scorecard.get_url }}">view scorecard</a>
        {% else %}
            <a class="content-action-button group_edit_scorecard" href="{{ scorecard.getEditURL }}">edit scorecard</a>
        {% endif %}
    {% endif %}
{% endblock %}
