Dear Professor {{ professor_name }},

My name is Joschka Tryba, '12, and I'm one of the founders of LoveGov, a non-partisan political platform developed to help groups and communities organize and rally around a cause. We think your students in the {{ professor_affiliation }} in particular might be interested in the political information and tools provided by our website (petitions, legislation, matching to politicians, etc). Watch our 1-minute video to learn more:

http://www.youtube.com/watch?v=OdqzBtPlpoU.

Our goal is to help people stay informed and get involved within their communities.

If you think your students would be interested in LoveGov, please consider forwarding this email along to them.

Thank you,

Joschka Tryba
joschka@lovegov.com

http://www.lovegov.com