<p>Hello,</p>

<p>My name is Joschka Tryba, and I'm one of the founders of <a href="http://lovegov.com/to_lovegov/{{ email_code }}/">LoveGov</a>, a non-partisan political website developed to help groups and communities organize and rally around a cause. We think your group at {{ group_affiliation }} might be interested in the tools our platform has to offer (petitions, polls, messaging representatives, sharing news, etc).

    <p><a href="http://www.youtube.com/watch?v=OdqzBtPlpoU">Watch our 1-minute video to learn more about us</a>.</p>

<p>Our goal is to help people stay informed and get involved within their communities.</p>

<p>If you think your group members would be interested, please forward this along to them, or consider starting a LoveGov group.</p>

<p>Thanks,</p>

<p>
Joschka Tryba
<br><a href="mailto:joschka@lovegov.com">joschka@lovegov.com</a>
</p>

<p>
    <a href="http://lovegov.com/to_lovegov/{{ email_code }}/">http://www.lovegov.com</a>
    <br>
    <a href="http://www.facebook.com/lovegov/">http://www.facebook.com/lovegov/</a>
    <br>
    <a href="http://twitter.com/welovegov/">http://twitter.com/welovegov/</a>
</p>