{% extends 'emails/lovegov/white_section.html' %}

{% block white_section %}

    <p>
        The people of LoveGov have invited you to claim your spot in the {{ election.get_name }} on Lovegov.
        You will be able to reach out to constituents and follow the pulse of the news of the election all in one place.
    </p>

    <div class="claim-wrapper" style="width:100%;text-align:center;margin-top:30px;">

        {% with "/claim_your_profile/"|add:to_email|add:"/" as button_url %}
            {% include 'emails/lovegov/email_link_button.html' with button_text="Claim profile" %}
        {% endwith %}

        <span> or </span>

        {% include 'emails/lovegov/email_link_button.html' with button_url=election.get_url button_text="View election page" %}

    </div>

    {% include 'emails/lovegov/what_is_lovegov.html' %}

{% endblock %}