{% extends 'emails/lovegov/white_section.html' %}


{% block white_section %}

    <p>LoveGov’s mission is to develop tools that facilitate democracy.
    We are committed to non-partisanship, government transparency and the right to individual privacy.</p>


    <p>We believe that active and informed citizens make a better democracy.
    Political information should be easy to access, understand, and act upon.
    Current politics removes people from the discourse because it’s too frustrating,
    complicated and time consuming. By simplifying the process of staying knowledgeable
    and being involved, we hope everyone can participate in politics and actually make a difference.</p>

{% endblock %}