{% extends 'emails/lovegov/white_section.html' %}


{% block white_section %}

    <p>Hi {{ user_profile.first_name }},</p>

    <p>
        Someone (hopefully you) requested to reset your LoveGov password.
        Click the following link to go to a page where you can set a new password.
    </p>

    <p>
        <a style="color:#005468;" href="{{ domain }}{{ recovery_url }}"> {{ domain }}/password_recovery/ </a>
    </p>

    <p>
        If you ignore this email your password will remain the same.
    </p>

{% endblock %}