<p>Dear Professor {{ professor_name }},</p>

<p>My name is Joschka Tryba, and I'm one of the founders of <a href="http://lovegov.com/to_lovegov/{{ email_code }}/">LoveGov</a>, a non-partisan political platform developed to help groups and communities organize and rally around a cause. We think you or your students in the {{ professor_affiliation }} might be interested in the political information and tools provided by our website (petitions, legislation, matching to politicians, etc). <a href="http://www.youtube.com/watch?v=OdqzBtPlpoU">Watch our 1-minute video to learn more</a>.</p>

<p>Our goal is to help people stay informed and get involved within their communities.</p>

<p>If you think your students would be interested in LoveGov, please consider forwarding this email along to them.</p>

<p>Thank you,</p>

<p>
    Joschka Tryba
    <br><a href="mailto:joschka@lovegov.com">joschka@lovegov.com</a>
</p>

<p>
    <a href="http://lovegov.com/to_lovegov/{{ email_code }}/">http://www.lovegov.com</a>
    <br>
    <a href="http://www.facebook.com/lovegov/">http://www.facebook.com/lovegov/</a>
    <br>
    <a href="http://twitter.com/welovegov/">http://twitter.com/welovegov/</a>
</p>