<p>
    Hi {{ student_name }},
</p>
<p>
    My name is Joschka Tryba, and I'm one of the founders of LoveGov, a non-partisan political website developed to help groups and communities organize and rally around a cause.
    As the {{ student_affiliation }}, we think your group might be interested in the tools our platform has to offer (petitions, polls, messaging representatives, sharing news, etc).
    Watch our 1-minute video to learn more about us.
</p>
<p>
    http://www.youtube.com/watch?v=OdqzBtPlpoU
</p>
<p>
    Our goal is to help people stay informed and get involved within their communities.
    If you think your group members would be interested, please forward this along to them, and consider starting a LoveGov group.
    Here's a link to the site: <a href="http://lovegov.com/to_lovegov/{{ email_code }}/">http://lovegov.com</a>
</p>
<p>
    Thank you,
</p>
<p>
    Joschka Tryba
    joschka@lovegov.com
</p>

<p>
    http://www.lovegov.com
    <br>
    http://www.facebook.com/lovegov/
    <br>
    http://twitter.com/welovegov/
</p>