{% extends 'site/pages/profile/profile_base.html' %}

{% load thumbnail %}
{% load customtags %}

{% block profile_main %}

    <div class="profile-questions">

        <div class="profile-questions-top">
            <div class="profile-header"> Questions </div>

            <div class="breakdown-wrapper">
                {% include 'site/pieces/match_breakdown/match_breakdown.html' with to_compare=profile horizontal=1 %}
            </div>

            <!-- has answered match object -->
            {% include 'site/pages/profile/has_answered_match.html' with to_compare=profile %}

            <div style="clear:both;"></div>
        </div>

        <div class="questions-feed-wrapper">
            {% include 'site/pages/qa/feed_browse_comparisons.html' with to_compare=profile special_feed="getQuestions" default_display="responses" worldview_detail=1 %}
        </div>

    </div>

{% endblock %}