{% load thumbnail %}
{% load customtags %}
<div class="profile-page">
    <div class="top">

        <a href="{{ profile.get_url }}"> <span class="name"> {{ profile.get_name }} </span> </a>
    <span class="state"> {% with state=profile.location.state %}
        {% if state %}{{ profile.location.state }}{% else %} LoveGov {% endif %} {% endwith %}</span>
    <span class="redheart">
         {% with full_url='/static/images/icons/red_heart.png'|media_url:MEDIA_PREFIX %}
             {% thumbnail full_url "20" crop="center" format="PNG" as im %}
                 <img src="{{ im.url }}" />
             {% empty %}
                 ?
             {% endthumbnail %}
         {% endwith %}
    </span>
        <span class="upvotes"> {{ profile.upvotes }}</span>
        <span class="redline"></span>

    </div>

    <div class="not-top">

        <table class="profile-table">
            <tr>
                <td class="left-bar">

                    <div class="profile-image">
                        {% include 'site/pieces/avatar.html' with width="150" height="200" user=profile hoveroff=1 %}
                    </div>

                    {% if viewer.id != profile.id %}

                        {% if is_user_rejected or not is_user_confirmed and not is_user_requested %}
                            <div class="user-follow user_follow" data-p_id="{{ profile.id }}">follow</div>
                        {% elif is_user_confirmed %}
                            <div class="user-unfollow user_unfollow" data-p_id="{{ profile.id }}">following</div>
                        {% elif is_user_requested %}
                            <div class="user-unfollow user_unrequest" data-p_id="{{ profile.id }}">requested</div>
                        {% endif %}

                    {% endif %}


                    <!-- text match -->
                    {% include 'site/pages/profile/sidebar_match.html' with to_compare=profile %}

                    <div class="stats">

                        <div class="stats-row-one">
                            <div class="stats-box white-box left-box">
                                <div class="num">
                                    {{ profile.num_followme}}
                                </div>
                                <div class="label">
                                    followers
                                </div>
                            </div>
                            <div class="stats-box gray-box center-box">
                                <div class="num">
                                    {{ profile.num_ifollow }}
                                </div>
                                <div class="label">
                                    following
                                </div>
                            </div>
                            <div class="stats-box gray-box  right-box">
                                <div class="num">
                                    {{ profile.num_groups}}
                                </div>
                                <div class="label">
                                    groups
                                </div>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="stats-row-two">
                            <div class="stats-box gray-box  left-box">
                                <div class="num">
                                    {{ profile.num_posts}}
                                </div>
                                <div class="label">
                                    posts
                                </div>
                            </div>
                            <div class="stats-box gray-box center-box">
                                <div class="num">
                                    {{ profile.num_answers }}
                                </div>
                                <div class="label">
                                    answers
                                </div>
                            </div>
                            <div class="stats-box gray-box right-box">
                                <div class="num">
                                    {{ profile.num_signatures }}
                                </div>
                                <div class="label">
                                    signatures
                                </div>
                            </div>
                            <div style="clear:both;"></div>
                        </div>

                    </div>

                </td>

                <td class="profile-main">
                    {% block profile_main %}
                        profile main
                    {% endblock %}
                </td>
            </tr>
        </table>
    </div>
</div>

<script>
    {% if ifollow %}
        var ifollow=true;
    {% else %}
        var ifollow=false;
    {% endif %}
    rebind="profile";
</script>