{% extends 'site/pages/profile/profile_base.html' %}

{% block profile_main %}

    <div class='profile'>

        <div class="profile-top">
            <div class="political-statement">

                <div class="profile-header">
                    Political Statement
                </div>

                <p class="political-statement-text">
                    {{ profile.bio }}
                </p>

            </div>

            <div class="profile-about">

                <div class="profile-header">
                    About
                </div>

                <div class="about-item">
                    <span class="label"> age: </span> <span class="value"> 20 </span>
                </div>
                <div class="about-item">
                    <span class="label"> position: </span> <span class="value"> Citizen </span>
                </div>
                <div class="about-item">
                    <span class="label"> location: </span> <span class="value"> Rhode Island </span>
                </div>
                <div class="about-item">
                    <span class="label"> parties: </span> <span class="value"> 20 </span>
                </div>

            </div>
            <div style="clear:both"></div>
        </div>


        <div class="profile-breakdown">
            <span class="match-breakdown breakdown-box">
                <div class="profile-header">
                    Match Breakdown
                </div>
                <div class="stuff">
                    {% include 'site/pieces/match_breakdown.html' with comparison=comparison %}
                </div>
                <div class="view-all"> see comparison breakdown </div>
            </span>
            <span class="groups breakdown-box">
                 <div class="profile-header">
                    Groups
                 </div>
                <div class="stuff">

                </div>
                <div class="view-all"> view all </div>
            </span>
            <span class="politicians breakdown-box">
                 <div class="profile-header">
                     Politicians
                 </div>
                <div class="stuff">

                </div>
                <div class="view-all"> view all </div>
            </span>
        </div>

    </div>

{% endblock %}