{% extends 'site/pages/profile/profile_base.html' %}

{% load thumbnail %}
{% load customtags %}

{% block profile_main %}

    <div class='profile'>

        <div class="profile-top">
            <div class="political-statement">

                <div class="profile-header">
                    Political Statement
                </div>

                <p class="political-statement-text">
                    {{ profile.bio }}
                </p>

            </div>

            <div class="profile-about">

                <div class="profile-header">
                    About
                </div>

                <div class="about-item">
                    <span class="label"> role: </span> <span class="value"> {{ profile.political_title }} </span>
                </div>
                {% if profile.age %}
                    <div class="about-item">
                        <span class="label"> age: </span> <span class="value"> {{ profile.age }} </span>
                    </div>
                {% endif %}
                {% if profile.state %}
                <div class="about-item">
                    <span class="label"> location: </span> <span class="value"> {{ profile.city }}, {{ profile.state }} </span>
                </div>
                {% endif  %}
                <div class="about-item">
                    <span class="label"> parties: </span> <span class="value">
                        {% for p in profile.parties.all %}
                            {% with full_url=p.party_label|media_url:MEDIA_PREFIX %}
                                {% thumbnail full_url "20" crop="center" format="PNG" as im %}
                                    <img src="{{ im.url }}" />
                                {% empty %}
                                    ?
                                {% endthumbnail %}
                            {% endwith %}
                            {% empty %}
                            None
                        {% endfor %}
                    </span>
                </div>

            </div>
            <div style="clear:both"></div>
        </div>


        <div class="profile-breakdown">
            <span class="match-breakdown breakdown-box">
                <div class="profile-header">
                    Match Breakdown
                </div>
                <div class="stuff">
                    {% include 'site/pieces/match_breakdown.html' with comparison=comparison %}
                </div>
                <div class="view-all"> see comparison breakdown </div>
            </span>
            <span class="profile-groups breakdown-box">
                 <div class="profile-header">
                     Groups
                 </div>
                <div class="stuff">
                    {% for g in profile_groups %}
                        <a href="{{ g.get_url }}" class="box-link{% if forloop.first %} first-box{% endif %}"> {{ g.get_name }} </a>
                    {% endfor %}
                </div>
                <div class="view-all"> view all </div>
            </span>
            <span class="profile-politicians breakdown-box">
                 <div class="profile-header">
                     Politicians
                 </div>
                <div class="stuff">
                    {% for p in profile_politicians %}
                        <a class="profile-avatar" href="{{ p.get_url }}">
                            {% include 'site/pieces/avatar.html' with user=p width="60" height="60" %}
                        </a>
                    {% endfor %}
                </div>
                <div class="view-all"> view all </div>
            </span>

            <div style="clear:both"></div>
        </div>

        <div class="profile-bottom">

            <div class="profile-tabs">
                <a href="#" class="profile-tab profile_tab questions_tab clicked"> Questions </a>
                <div class="separator-line"></div>
                <a href="#" class="profile-tab profile_tab posts_tab"> Posts </a>
                <div class="separator-line"></div>
                <a href="#" class="profile-tab profile_tab activity_tab"> Activity </a>
                <div class="separator-line end"></div>
            </div>

            <div class="profile-focus">
                    <div class="questions_focus profile_focus">
                        {% include 'site/pages/feed/question_compare.html' with to_compare=profile special_feed="getQuestions" %}
                    </div>
                    <div class="posts_focus profile_focus">
                        {% include 'site/pages/feed/feed.html' %}
                    </div>
                    <div class="activity_focus profile_focus">
                        {% include 'site/pages/profile/profile_activity.html' %}
                    </div>
            </div>
        </div>
    </div>

{% endblock %}