{% load thumbnail %}
{% load customtags %}
<div class="profile-page">
    <div class="top">

        <a href="{{ profile.get_url }}"> <span class="name"> {{ profile.get_name }} </span> </a>
        {% if viewer.politician %} <span class="election-icon"></span> {% endif %}
        {% with state=profile.location.state %}
            <span class="state"> {{ profile.political_title }}{% if state %},{% endif %} </span>
            <span class="state"> {% if state %}{{ profile.location.state }}{% endif %}</span>
        {% endwith %}
        <span class="redheart">
         {% with full_url='/static/images/icons/red_heart.png'|media_url:MEDIA_PREFIX %}
             {% thumbnail full_url "20" crop="center" format="PNG" as im %}
                 <img src="{{ im.url }}" />
             {% empty %}
                 ?
             {% endthumbnail %}
         {% endwith %}
    </span>
        <span class="upvotes tooltip-top" title="upvotes received"> {{ profile.upvotes }}</span>
        {% if viewer.id == profile.id %}
            <a href="/settings/" class='edit-profile-link'> edit profile </a>
        {% endif %}
        <span class="redline"></span>

    </div>

    <div class="not-top">

        <table class="profile-table">
            <tr>
                <td class="left-bar">

                    <div class="profile-image">
                        {% include 'site/pieces/avatar.html' with width="150" height="200" user=profile hoveroff=1 %}
                    </div>

                    <!-- support or follow -->
                    {% if profile.politician %}

                        {% include 'site/pages/profile/support_button.html' with politician=profile %}

                        {% if my_rep %}
                            <div class="message-politician message_politician" data-p_id="{{ profile.id }}"> message </div>
                        {% endif %}

                    {% elif viewer.id != profile.id %}

                        {% if is_user_rejected or not is_user_confirmed and not is_user_requested %}
                            <div class=" user-follow user_follow" data-p_id="{{ profile.id }}">follow</div>
                        {% elif is_user_confirmed %}
                            <div class=" user-unfollow user_unfollow hover_text"
                                 data-p_id="{{ profile.id }}" data-hover_text="stop" data-original_text="following">following</div>
                        {% elif is_user_requested %}
                            <div class=" user-unfollow user_unrequest hover_text" data-p_id="{{ profile.id }}"
                                 data-hover_text="un-request" data-original_text="requested">requested</div>
                        {% endif %}

                    {% endif %}



                    {% if viewer.id == profile.id %}

                        {% if num_follow_requests > 0 %}
                            <div class=" user-follow follow_requests_modal">requests ({{ num_follow_requests }})</div>
                        {% endif %}

                        {% if num_group_invites > 0 %}
                            <div class=" user-follow group_invited_modal">invites ({{ num_group_invites }})</div>
                        {% endif %}

                    {% endif %}


                    <!-- stats -->
                    {% include 'site/pages/profile/profile_stats.html' %}

                </td>

                <td class="profile-main">
                    {% block profile_main %}
                        profile main
                    {% endblock %}
                </td>
            </tr>
        </table>
    </div>
</div>

<script>
    {% if ifollow %}
        var ifollow=true;
    {% else %}
        var ifollow=false;
    {% endif %}
    rebind="profile";
</script>