@charset "UTF-8";

@font-face
{
  font-family: "Gill Sans Std Light";
  src: url(GillSansStd-Light.otf);
}

@font-face
{
  font-family: "Gill Sans Std";
  src: url(GillSansStd.otf);
}

/* Main Colors */
$link: #0094A3;
$link-hover: #005468;
$red: #EF503B;
$red-light: #FC8A81;
$black: #353535;
$black-gray: #4C4C4C;
$deep-gray: #959595;
$dark-gray: #ADADAD;
$gray: #CCCCCC;
$light-gray: #E0E0E0;
$white-gray: #F0F0F0;

/* Topic Colors */
$green: #92B76C;
$green-light: #BED4A7;
$purple: #9797C6;
$purple-light: #C0C0C0;
$orange: #F9D180;
$orange-light: #FBE3B3;
$blue: #93CAD8;
$blue-light: #C4DCDE;
$teal: #639E9B;
$teal-light: #A1C5C3;
$pink: #EA7D95;
$pink-light: #FBCCD6;
$orange: #EA947D;
$orange-light: #F2BEB0;

/* Fonts */
$body-fonts: Helvetica, Arial, Verdana, sans-serif;
$header-font-light: "Gill Sans Std Light";
$header-font-std: "Gill Sans Std";

*
{
  margin:0;
  padding:0;
}

body
{
  font-family:$body-fonts;
  color:$black;
  font-size:13px;
}

a, a:visted, a:active, a:link
{
  text-decoration:none;
  color:$link;
}

a:hover
{
  text-decoration:none;
  color:$link-hover;
}

p
{
  line-height: 18px;
  margin-bottom: 13px;
}

p.big
{
  line-height: 18px;
  margin-bottom: 13px;
}

p.small
{
  line-height: 18px;
  margin-bottom: 13px;
}

h1, h2, h3, h4, h5, h6
{
  font-weight:normal;
  font-style: normal;
}

h1
{
  font-family:$header-font-light;
  color:$link-hover;
  font-size: 50px;
}

h2
{
  font-family:$header-font-light;
  color:$red;
  font-size: 32px;
}

h3
{
  font-family: $header-font-std;
  color: $link-hover;
  font-size: 26px;
}

h4
{
  font-family: $header-font-std;
  color: $red;
  font-size: 22px;
}

h5
{
  font-family: $header-font-std;
  color: $black;
  font-size: 18px;
}

h6
{
  font-family: $header-font-std;
  color: $link-hover;
  font-size: 13px;
}


.no-margin
{
  margin-bottom: 0;
  margin-top: 0;
}



















/* LoveGov main stylesheet */

/* COLORS
 *
 * orange: #f0503b;
 * blue: #005468;
 *
 * light orange: #FC8A81;
 * light blue: #0094A3;
 *
 * darkest gray: #353535;
 * dark gray: #4C4C4C;
 * gray: #959595;
 * light gray: #ADADAD;
 * lighter gray: #cccccc;
 * lightest gray: #E0E0E0;
 *
 */


/* CSS Document */






div.container {
  width:500px;
  margin-left:auto;
  margin-right:auto;
}

/*
 * Typography
 */





body a, body a:visited, body a:active, body a:link {
  color: #0094A3;
}

body a:hover {
  color: #005468;
}

.really-big
{
  font-family:"Gill Sans Std", sans-serif;
  color:gray;
  font-size:45px;
}

h1 {
  font-family:"Gill Sans Std", sans-serif;
  font-size:30px;
  color:#005468;
}

h1 a, h1 a:link, h1 a:visited, h1 a:active {
}

h2 {
  font-family: "Gill Sans Std Light";
  font-size: 23px;
  color:#f0503b;
}

h3 {
  font-family: "Gill Sans Std";
  font-size:15px;
  color:#959595;
}

h4 {
  font-family:"Gill Sans Std";
  color:#005468;
  font-size:13px;
}

.small {
  font-size:85%;
  color:#959595;
}

p {
  line-height: 18px;
  padding-bottom:13px;
}

ol, ul {
  padding-left:30px;
}

hr {
  height:1px;
  border:0px;
  background-color: #ccc;
  margin-bottom:10px;
  margin-top:10px;
}

blockquote {
  color: #959595;
  font-style:italic;
  padding-left:13px;
  padding-bottom:13px;
  padding-right:13px;
}

strong {
  font-weight:bold;
}

em {
  font-style:italic;
}

.bignum { /* extra big numbers - percents etc */
  font-size:50px;
  font-weight:bold;
  font-family: "Helvetica", Verdana, sans-serif;

}

/* Button Styles */

a.button {
  font-family: "Gill Sans Std";
}

/* Containers */

div.round-container {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;

}



/* Forms */

form {

}

input {
  border:1px solid #CCC;

}

input:focus{
  outline:1px solid #FC8A81;
}

input[type="text"]{
  cursor: text ;
  color: black;
}


textarea {

}

.nav-dropdown {

}

.vertical-rule {

}

.tool-tip {
  background-color:#f0503b;
  color:white;
}

/* Icons Resizing (Last resort) */

  }

img.icon-big {
  width: 50px;
  height: 50px;
}

img.icon-med {
  width: 38px;
  height: 38px;
}

img.icon-small {
  width: 10px;
  height: 10px;
}

a.button, a.button:link, a.button:active, a.button:visited {
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  -khtml-border-radius: 9px;
  border-radius: 9px;
  padding: 14px;
  padding-bottom: 8px;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: "Gill Sans Std", Helvetica, Verdana, sans-serif;
  background-color: #F0503B;
  color: #fff;
  text-decoration: none;
  outline: none;
  border: 0;
  margin:10px;
}

a.button:hover {
  text-decoration:none;
  background-color:#FC8A81;
  color: white;
}

a.button-square, a.button-square:link, a.button-square:visited {
  padding: 14px;
  padding-bottom: 8px;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: "Gill Sans Std", Helvetica, Verdana, sans-serif;
  background-color: #fff;
  color: #FC8A81;
  text-decoration: none;
  outline: none;
  border: 0;
  margin:10px;
  border: 1px solid #FC8A81;
}

a.button-square:hover {
  text-decoration:none;
  background-color:#FC8A81;
  color: white;
}

a.button-square:active{
  background-color:#FC8A81;
  color: white;
}

a#white:hover {
  color: #F0503B;
  background-color: white;
}
























font-family: Helvetica, Arial, Verdana, sans-serif;
font-size: 13px;
h1
{
  font-family: “Gill Sans Std Light”;
  color: #353535;

