{% extends 'emails/frame.html' %}

{% block content %}

    <h2 style="color:#005468;font-weight:normal;">Hello,</h2>

    <p>
        Your friend {{ user_name }} has invited you to join them on LoveGov. Come check us out and join
        a new growing network designed to help people better connect with their government.
    </p>

    <p>
        You may register at <a href="http://www.lovegov.com" style="text-decoration:none;color:#959595;">www.lovegov.com</a>.
        Leave the passcode field blank.
    </p>

{% endblock %}