<div class="anon_welcome anon-welcome">

    <span class="triangle-wrapper">
    <span class="triangle-border"></span>
    <span class="triangle"></span>
    </span>

    <a class="anon_x anon-x"> X </a>

    <div class="anon-welcome-top">
        <a href="/lovegov/"> <div class="lovegov-robot tooltip-top" title="I'm a robot that's here to help you."></div> </a>

        <div class="anonymous-welcome-header">
            Welcome To LoveGov!
        </div>

        <div style="clear:both;"></div>
    </div>

    <p>
        You are currently browsing <a href="/anonymous/" class="anon_x"> without an account. </a> Before registering
        you can explore the site but you won't be able to post, answer questions or vote on content.
    </p>

    <p>
        When you decide you're ready to join the community, click the <a href="/register/">sign up</a> button
        in the top right.
    </p>

</div>