{% load compress %}
{% compress css %}
<!-- HTML5 Boilerplate -->
<link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/boilerplate.css">
<!-- 1140 grid -->
<link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/1140.css" />
<!-- Frame -->
<link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/master.css" />
<link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/fonts.css" />
<link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/header.css" />
<link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/notification-dropdown.css" />
<link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/notification.css" />
<link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/sidetabs.css" />
<!-- pages -->
<link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/home/home.css" />
<link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/home/group.css" />
<link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/feed.css" />
<link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/login.css" />
<link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/blog.css" />
<link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/pieces.css" />
<link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/about.css" />
<link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/profile.css" />
<link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/user_menu.css" />
<link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/match_breakdown.css" />
<link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/account.css" />
<link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/qa.css" />
<link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/histogram.css" />
<!-- jquery -->
<link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/libraries/jquery/css/smoothness/jquery-ui-1.8.18.custom.css">
<!-- select2 -->
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}/libraries/select2/select2.css" />

{% endcompress %}