{% load compress %}
{% compress css %}

    <!-- HTML5 Boilerplate -->
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/boilerplate.css">

    <!-- 1140 grid -->
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/1140.css" />

    <!-- Frame -->
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/master.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/fonts.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/header.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/notification-dropdown.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/notification.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/action.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/sidetabs.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/autocomplete.css" />

    <!-- pages -->
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/home/home.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/home/group.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/home/groups.css" />

    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/feed/feed.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/feed/base-item.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/feed/base-item-thin.css" />

    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/friends/facebook-friend-card.css" />

    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/login.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/blog.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/pieces.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/about.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/profile.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/user_menu.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/match_breakdown.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/account.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/qa.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/account.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/content_detail/detail.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/content_detail/content_detail.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/histogram.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/browse.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/thread.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/friends/friends.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/elections/election.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/politicians/reps.css" />

    <!-- pieces -->
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/pieces/avatar_strip.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/pieces/hover_comparison.css" />

    <!-- modals -->
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/modals/group-invite-modal.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/modals/group-invites-modal.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/modals/group-requests-modal.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/modals/follow-requests-modal.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/modals/facebook-share-modal.css" />
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/css/compiled/modals/pin-content-modal.css" />

    <!-- jquery -->
    <link type="text/scss" rel="stylesheet" href="{{STATIC_URL}}/libraries/jquery/css/smoothness/jquery-ui-1.8.18.custom.css">
    <!-- select2 -->
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}/libraries/select2/select2.css" />


{% endcompress %}