<!DOCTYPE html>
<html>

<!-- html header -->
{% include 'site/frame/html-header.html' %}

<body>

<!-- Left Side Bar -->
{% include 'site/frame/sidetabs/sidetabs.html' %}
<!-- End Left Side Bar -->

    <div class="global-wrapper">

        {% include 'site/frame/header.html' %}

        <div class="main-content main_content">
            {% block content %}
                {{ center }}
            {% endblock %}
        </div>

    </div>

    <div class="modal_wrapper">
        <div class="modal_close"></div>
        <div class="modal_content"></div>
    </div>

    <div class="global_overdiv"></div>

</body>

</html>