<!DOCTYPE html>
<html>

<!-- html header -->
{% include 'site/frame/html-header.html' %}

<body>

    <div class="global-wrapper">

        {% include 'site/frame/header.html' %}

        <div class="main-content main_content">
            {% block content %}
                {{ center }}
            {% endblock %}
        </div>

    </div>

    <div class="modal_wrapper modal-general">
        <div class="modal_close modal-close"></div>
        <div class="modal_content"></div>
        <div style="clear:both"></div>
    </div>

    <div class="modal_overdiv overdiv"></div>

</body>

</html>