<!DOCTYPE html>
<html>

<!-- html header -->
{% include 'site/frame/html-header.html' %}

<body>

<!-- Left Side Bar -->
{% include 'site/frame/sidetabs/sidetabs.html' %}
<!-- End Left Side Bar -->

<div class="global-wrapper">

    {% include 'site/frame/header.html' %}

    <div class="clear-wrapper">
        <div class="main-content main_content">
            {% block content %}
                {{ center }}
            {% endblock %}
        </div>
        <div style="clear:both;"></div>
    </div>

    {% include 'site/frame/new_footer.html' %}

</div>

<div class="modal-wrapper">
    <div class="modal_general modal-general">
        <div class="modal_close modal-close"></div>
        <div class="modal_content modal-content"></div>
    </div>
</div>

<div class="modal_overdiv overdiv"></div>

<!-- comparison hover -->
{% include 'site/pieces/comparison_hover.html' %}

</body>

</html>