{% load thumbnail %}


<header>


    <div class="header-logo"></div>
    <img src="{{ STATIC_URL }}/images/beta.png" class="beta">
    <ul>
        <li>home</li>
        <li>match</li>
        <li>about</li>
    </ul>

    {% include 'site/pieces/avatar.html' with height='30' width='30' float='right' %}
    <img src="{{ STATIC_URL }}/images/people.png" class="setting-icon">
    <div class="notices setting-icon">5<img src="{{STATIC_URL}}/images/icons/arrow_red.png"></div>
    <img src="{{ STATIC_URL }}/images/setting_red.png" class="spin setting-icon">

    <div class="search">
        <input type="text" placeholder="Search">
        <img src="{{ STATIC_URL }}/images/search.png">
    </div>

</header>