{% load thumbnail %}


<header>


    <a href="/home/"><div class="header-logo"></div></a>
    <img src="{{ STATIC_URL }}/images/beta.png" class="beta">
    <ul>
        <a href="/home/" class="do_ajax_link dummy_link"><li>home</li></a>
        <a href="/questions/" class=""><li>questions</li></a>
        {% comment %} <a href="/match/" class="do_ajax_link dummy_link"><li>match</li></a> {% endcomment %}
        <a href="/about/" class=""><li>about</li></a>
    </ul>

    <div class="head-right">

        <div class="search">
            <input type="text" placeholder="Search">
            <img class="mag-glass" src="{{ STATIC_URL }}/images/search.png">
            <div class="search-dropdown"></div>
        </div>

        <div class="notifications-wrapper">

           {% include 'site/frame/notifications/notifications_button.html'%}

            <span class="triangle"></span>
            <div class="notifications-dropdown notifications_dropdown">
                {% include 'site/frame/notifications/notification_dropdown.html' %}
            </div>
            <div class="notifications-dropdown notifications_dropdown_loading">
                {% include 'site/frame/notifications/notification_dropdown.html' with loading=1 %}
            </div>
        </div>

        <img src="{{ STATIC_URL }}/images/people.png" class="setting-icon privacy-icon">

        <span class="header-id">

            <span class="head-avatar">
                <a href="{{ user.get_url }}">
                    {% include 'site/pieces/avatar.html' with user=user height='30' width='30' hoveroff=1 %}
                </a>
            </span>

            {% comment %}
            <span class="name">
                <div class="first-name"> {{ user.first_name }}</div>
                <div class="last-name"> {{ user.last_name }}</div>
            </span>
            {% endcomment %}

            <div class="triangle-area">
                {% include 'site/frame/user_menu.html' %}
                <div class="triangle-wrapper user_menu_toggle">
                    <span class="head-triangle"></span>
                </div>
            </div>

        </span>

    </div>

</header>
