<head>

    <!-- title -->
    <title>lovegov beta</title>

    <!-- css -->
    {% include 'site/frame/css-all.html' %}
    <link rel="icon" type="image/icon" href="/static/images/favicon.ico"/>
    <meta charset="UTF-8">
    <meta name="keywords" content="Lovegov, lovegov, lovegov.com, Government, Politics, Simplified, One Stop Shop, Participate, Informed, Connected, Involved, Social, Social Network, Political Network, Legislation, Democracy, Democracy 2.0, Vote, Advocacy Groups, Coalitions, Change" />
    <meta name="description" content="LoveGov is a political social network and one-stop shop for politics. We make it easy to stay informed and get involved." />

    <!-- javascript -->
    {% include 'site/frame/javascript-all.html' %}

    <!-- Google Analytics -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ google }}']);
        _gaq.push(['_trackPageview']);

        (function()
        {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

</head>