<div class="new-footer">

    <a href="http://www.facebook.com/lovegov/" class="facebook-link-button"></a>
    <a href="http://twitter.com/welovegov/" class="twitter-link-button"></a>
    <a href="/home/" class="footer-link"> home </a>
    <a href="/questions/" class="footer-link"> questions </a>
    {% comment %}
    <a href="/groups/" class="footer-link"> groups </a>
    <a href="/politicians/" class="footer-link"> politicians </a>
    <a href="/legislation/" class="footer-link"> legislation </a>
    {% endcomment %}
    <a href="/about/" class="footer-link"> about </a>
    <a href="/about/privacy_policy/" class="footer-link"> privacy policy </a>
    <a href="/blog/" class="footer-link"> blog </a>
    <a href="/about/mission/" class="footer-link"> mission </a>

    <div class="mission-sentence"> LoveGov's goal is to develop tools to facilitate democracy. We are committed to
    non-partisanship, government transparency and the right to individual privacy.

    </div>

    <div style="clear:both;"></div>

</div>