<div class="new-footer">

    <a href="http://www.facebook.com/lovegov/" class="facebook-link-button"></a>
    <a href="http://twitter.com/welovegov/" class="twitter-link-button"></a>

    <a href="/home/" class="footer-link">home</a>
    <a href="/how_it_works/" class="footer-link">how it works</a>
    <a href="/faq/" class="footer-link">faq</a>
    <a href="/privacy_policy/" class="footer-link">privacy policy</a>
    <a href="/blog/" class="footer-link">blog</a>
    <a href="/mission/" class="footer-link">mission</a>

    <div class="mission-sentence"> LoveGov's goal is to develop tools to facilitate democracy. We are committed to
    non-partisanship, government transparency and the right to individual privacy.

    </div>

    <div style="clear:both;"></div>

</div>