{% load thumbnail %}

<div class="user-menu">
    <span class="triangle-border"></span>
    <span class="triangle"></span>
    {% include 'site/pieces/avatar.html' with user=user height='100' width='100' hoveroff=1 %}
    <div class="name">{{user.get_name}}</div>
    <div class="email">{{user.email|truncatechars:26}}</div>
    <div class="options-row">
        <a href="/profile/"><span>View Profile</span></a>

        {% include 'site/frame/privacy_mode_button.html' %}

    </div>

    <div class="bottom-options"><a href="/settings/"><span>Settings <img src="{{ STATIC_URL }}/images/setting_red.png" style="float: left"></span></a><a href="/logout/"><span>Logout <img src="{{ STATIC_URL }}/images/logout.png"></span></a></div>

</div>