{% load thumbnail %}

<div class="user-menu">
    {% include 'site/pieces/avatar.html' with user=user height='100' width='100' %}
    <div class="name">{{user.get_name}}</div>
    <div class="email">{{user.email}}</div>

    <div class="options-row"><span>View Profile</span><span>Privacy</span></div>
    <div class="bottom-options"><span>Settings <img src="{{ STATIC_URL }}/images/setting_red.png" style="float: left"></span><span>Logout <img src="{{ STATIC_URL }}/images/logout.png"></span></div>

</div>
<!--
<div id="user-menu-container">
    <div id=user-menu class="user-menu-unselected">
        {% thumbnail viewer.getProfileImage.image "40x40" crop="center" as img %}
            <img class="user-img" class="user-menu-pointer" src="{{ img.url }}"/>
        {% empty %}
            ?
        {% endthumbnail %}
        <a id="user-name" class="user-menu-pointer do-ajax-link" href="{{ viewer.getAlphaURL }}">{{ viewer.get_nameShort }}</a>
        <div id="down-arrow"></div>
    </div>
    <div id="user-menu-dropdown" style="display:none;">

        <div>
            {% thumbnail viewer.getProfileImage.image "75x75" crop="center" as img %}
                <img src="{{ img.url }}"/>
            {% empty %}
                ?
            {% endthumbnail %}
        </div>

        <div id="user-menu-account" class="user-menu-dropdown-div user-menu-dropdown-div-top">
            <img src="{{ STATIC_URL }}/images/user-menu/geargray.png"/><a href="/account/" class="do-ajax-link">account settings</a>
        </div>

        <div>
            <div style="float:left;border-right:0;width:124px" id="user-menu-security-public" class="user-menu-dropdown-div user-menu-security">
                <img src="{{ STATIC_URL }}/images/user-menu/publicgray.png"/><a>public</a>
            </div>
            <div style="float:left;width:123px;" id="user-menu-security-private" class="user-menu-dropdown-div user-menu-security">
                <img src="{{ STATIC_URL }}/images/user-menu/lockgray.png"/><a>private</a>
            </div>
        </div>

        <div style="clear:both" id="user-menu-logout" class="user-menu-dropdown-div">
            <img src="{{ STATIC_URL }}/images/user-menu/logout.png"/><a class="no-ajax-link" href="/logout/">logout</a>
        </div>

    </div>
</div>
-->