@charset "UTF-8";
@import 'master-variables';
@import 'master-mixins';

@import "compass";

div.feed-item-content
{
  border: 1px solid $light-gray;
  height: 120px;
  margin-bottom:10px;
  padding: 0px;
  @include single-box-shadow($white-gray,0px,0px,10px);
  overflow: hidden;

  div.feed-item-left-buttons
  {
    border-right: 1px solid $light-gray;
    width: 40px;
    float: left;

    div.item-content-image
    {
      border-bottom: 1px solid $light-gray;
      height: 40px;
      background-repeat: no-repeat;
      background-position: 5px 5px;
      display:block;

      &.news-image { @include staticImage('/images/icons/content-type/news.png'); }
      &.poll-image { @include staticImage('/images/icons/content-type/poll.png'); }
      &.petition-image { @include staticImage('/images/icons/content-type/petition.png'); }
      &.discussion-image { @include staticImage('/images/icons/content-type/discussion.png'); }
    }

    div.item-ranking
    {
      text-align: center;

      div.heart-plus
      {
        @include staticImage('/images/icons/hearts/plusheart-gray.png');
        background-repeat: no-repeat;
        height: 18px;
        width: 18px;
        margin: 8px auto 4px auto;
        cursor: pointer;

        &:hover{ @include staticImage('/images/icons/hearts/plusheart-red.png'); }
        &.clicked{ @include staticImage('/images/icons/hearts/plusheart-red.png'); }
      }

      div.heart-minus
      {
        @include staticImage('/images/icons/hearts/minusheart-gray.png');
        background-repeat: no-repeat;
        height: 18px;
        width: 18px;
        margin: 4px auto 0px auto;
        cursor: pointer;

        &:hover{ @include staticImage('/images/icons/hearts/minusheart-red.png'); }
        &.clicked{ @include staticImage('/images/icons/hearts/minusheart-red.png'); }
      }
    }
  }

  div.feed-item-image
  {
    width: 180px;
    float: left;
    margin-right: 20px;
  }

  div.feed-item-main
  {
    margin-top: 8px;

    div.feed-item-title
    {
      margin-bottom: 2px;
      h3.title-text {
        color:$text-blue;
      }
      h3.title-text:hover {
        color:$black;
      }
    }

    div.feed-item-description {
      width:750px;
    }

    div.feed-item-group-name
    {
      color: $red;
      font-style: italic;
      &:hover {
        color:$dark-gray;
        cursor:pointer;
      }
    }
  }

  div.feed-item-user-info
  {
    display: block;
    float: right;
    width: 160px;
    height: 118px;
    padding-top: 2px;
    margin-right: 5px;
    margin-left: 20px;

    div.feed-item-comments-wrapper {
      @include clearfix();
      display:block;
      div.feed-item-comments
      {
        @include staticImage('/images/icons/red_comment.png');
        float: right;
        background-repeat: no-repeat;
        background-size: 60px 50px;
        background-position: 0px 10px;
        margin-right:10px;
        padding:5px;
        height: 70px;
        &:hover {
          background-color:$light-gray;
        }

        div.feed-num-comments
        {
          font-size: 20px;
          color: white;
          text-align: center;
          width: 50px;
          padding-top:14px;
        }
      }
    }

    div.feed-user-name
    {
      height: 40px;

      div.feed-avatar-image
      {
        float: left;
        margin-right: 5px;
      }

      div.feed-avatar-text
      {
        float: left;

        div.feed-avatar-name
        {
          margin-top: 2px;
          font-size: 14px;
          &:hover {
            color:$black;
          }
        }

        div.feed-avatar-timestamp
        {
          color: $dark-gray;
          @include fontSize(11px);
          font-style: italic;
        }
      }

    }
  }
}


/* petition item */
div.feed-petition-bar {
  margin-top:5px;
  width:40%;
  float:left;
}

/* poll sample */
div.sample-question {
  margin-top:10px;
}