@import '../master-variables';
@import '../master-mixins';



div.linear-wrapper {
  width:1000px;

  div.linear-items-wrapper {
    width:730px;
    margin: 10px 0 0 0;
    float:left;

    div.linear {
      width:100%;
      height:225px;
      margin-top:25px;
      overflow:hidden;
      border-bottom: 1px solid $light-gray;

      div.linear-left {
        width:220px;
        overflow:hidden;
        float:left;

        div.linear-picture {
          display:block;
          position:relative;
          height:170px;
          overflow:hidden;

          div.pinterest-image {
            width:220px;
          }

          div.header-topic {
            position:absolute;
            top:10px;
            left:20px;
          }

        }

        div.social-bar {
          display:block;
          margin-top:0px;
          width:218px;
          height:40px;
          overflow:hidden;
          @extend .box;

          div.hearts {
            width:60px;

            div.hearts-wrapper {
              margin:0px;

              div.heart {
                margin: 10px 0 0 0;
                width:20px;
                height:20px;
              }

              span.status {
                margin: 0px 0 4px 0;
                @include fontSize(14px);
              }

            }

          }

          div.comments {
            width:80px;
            margin:0px;

            a.comments-wrapper {
              margin: 7px 0 0 5px;
              width:70px;
              height:25px;

              div.text-wrapper {
                @include fontSize(10px);

                div.comments-text {
                  display:block;
                  margin: 0px 0 3px 4px;
                }

                div.comments-num {
                  display:block;
                  margin: 5px 0 0 4px;
                }
              }
            }
          }

          div.share
          {
            width:70px;
            margin:0px;

            a.share_button {
              position:relative;
              top:14px;
              margin:10px 0 3px 5px;
              width:30px;
              height:20px;
              @include titleFont;
              @include fontSize(14px);
            }
            a.share_button:hover {
              margin-bottom:2px;
              margin-left:4px;
            }
          }
        }
      }

      div.linear-right {
        float:left;
        margin: 0px 0px 0px 30px;
        width:500px;
        overflow:hidden;

        div.pinterest-title {
          height:40px;
        }

        div.pinterest-summary {
          @include really-big();
          @include fontSize(14px);
          height:120px;
          padding:0px;
          margin: 0 0 0 0;
          overflow:hidden;

          p.summary-text {
            margin:0px;
          }
        }

        div.pinterest-top-comment {
          margin-top:10px;
        }

        div.avatar {
          margin-top:10px;
          height:40px;
          overflow:hidden;

          div.prof-image {
            float:left;
            height:40px;
          }

          div.header-middle {
            margin-top:0px;
            height:40px;
            p.submitted {
              margin-bottom:0px;
            }

            div.user-name {
              margin: 0px;
              @include fontSize(14px);
            }
          }
        }
      }
    }
  }
}


div.right-sidebar {
  width:250px;
  overflow:hidden;
  float:left;
  padding: 0 0 0 0;
  margin: 0 0 0 10px;

  #sidebar {
    padding-left:0px;
    margin-top:0px;
    margin-left:0px;
    #sidebar-fixed-div {
      padding-left:0px;
      margin-top:0px;
      margin-left:0px;
      div.sidebar-box {
        margin-left:0px;
      }
    }
  }
}
