@import '../master-variables';
@import '../master-mixins';


div.linear-wrapper {
  display:none;
  width:1000px;

  div.linear-items-wrapper {
    width:730px;
    margin: 10px 0 0 0;
    float:left;

    div.linear {
      width:100%;
      height:190px;
      margin-top:25px;
      overflow:hidden;
      border-bottom: 1px solid $light-gray;

      div.linear-left {
        width:220px;
        overflow:hidden;
        float:left;

        div.linear-picture {
          display:block;
          position:relative;
          height:135px;
          overflow:hidden;

          div.pinterest-image {
            width:220px;
          }

          div.header-topic {
            position:absolute;
            top:10px;
            left:20px;
          }

        }

        div.social-bar {
          display:block;
          margin-top:4px;
          margin-bottom:15px;
          width:218px;
          height:35px;
          overflow:hidden;
          @extend .box;

          div.hearts {
            float:left;
            width:70px;

            div.hearts-wrapper {
              position:relative;
              margin-top: 7px;
              width:100%;
              text-align: center;

              div.heart {
                width:16px;
                height:16px;
                background:contain;
              }

              div.heart_minus {
                float:left;
                margin: 3px 0 0 5px;
              }

              div.heart_plus {
                float:right;
                margin: 3px 5px 0 0;
              }

              span.status {
                @include really-big();
                @include fontSize(20px);
                color:#4c4c4c;
                text-align:center;
              }

            }

          }

          div.comments {
            width:70px;
            margin:0px;

            a.comments-wrapper {
              margin: 7px 0 0 15px;
              width:40px;
              height:20px;

              div.text-wrapper {
                display:none;
                @include fontSize(10px);
                text-align:center;

                div.comments-text {
                  display:none;
                  margin: 0px 0 3px 4px;
                }

                div.comments-num {
                  display:block;
                  margin: 3px 0 0 17px;
                }
              }

              div.comments-bubble {
                position:relative;
                display:block;
                background-image: url('/static/images/icons/comments.png');
                background:contain;
                width:35px;
                height:35px;
                margin: 1px 0 0 20px;
                text-align:center;

                div.comments-num {
                  position:relative;
                  top: 7px;
                  color:$black;
                }
              }
              div.comments-bubble:hover {
                background-image: url('/static/images/icons/comments-filled.png');
                div.comments-num {
                  color:white;
                }
              }
            }
          }

          div.share
          {
            width:76px;
            margin:0px;
            text-align:center;

            p.share-text {
                margin-top:7px;
            }
          }
        }
      }

      div.linear-right {
        float:left;
        width:470px;
        margin: 0px 0px 0px 25px;

        div.pinterest-title {
          height:30px;
          overflow:hidden;
        }

        div.pinterest-summary {
          @include really-big();
          @include fontSize(14px);
          height:80px;
          padding:0px;
          margin: 5px 0 0 0;
          overflow:hidden;

          p.summary-text {
            margin:0px;
          }
        }

        a.pinterest-top-comment {
          margin-top:10px;
        }

        div.avatar {
          margin-top:10px;
          height:50px;
          overflow:hidden;

          div.prof-image {
            float:left;
            height:50px;
          }

          div.header-middle {
            margin-top:0px;
            height:50px;
            p.submitted {
              margin-bottom:0px;
            }

            div.user-name {
              margin: 0px;
              @include fontSize(14px);
            }
          }
        }
      }
    }
  }
}


div.right-sidebar {
  width:250px;
  overflow:hidden;
  float:left;
  padding: 0 0 0 0;
  margin: 20px 0 0 20px;

  #sidebar {
    padding:0px;
    margin:0px;
    #sidebar-fixed-div {
      padding:0px;
      margin:0px;
      div.sidebar-box {
        margin:0;
        padding-bottom:0px;
      }
    }
  }
}
