<!-- CSS stylesheet -->
<link rel="stylesheet" type="text/css" href="/static/css/deployment/about.css" />

<!-- HTML -->
<div id="about-content">

    <div class="about-div">
        <img src="/static/images/about/banner.png"/>
        <div id="what-is">
            <h3>What is LoveGov?</h3>
            <p>
                LoveGov will inform you on the issues, keep you current with legislation that you care about,
                and connect you with your representatives. We're making it easy to get involved.
            </p>
        </div>
    </div>

    <div class="about-div">
        <h2>Get Started</h2>

        <div class="get-started-container get-started-container-left about-hover-element">
            <div class="get-started-left">
                1
            </div>
            <div class="get-started-right">
                <h4>answer questions</h4>
                <img src="/static/images/about/question.png"/>
            </div>
            <div class="get-started-bottom">
                <p class="get-started-paragraph">
                    Define your political beliefs by answering questions about political issues. Questions
                    are based off legislation that has appeared in congress over the past few years.
                </p>
            </div>
        </div>

        <div class="get-started-container get-started-container-center about-hover-element">
            <div class="get-started-left">
                2
            </div>
            <div class="get-started-right">
                <h4>find &amp; compare</h4>
                <img src="/static/images/about/findandcompare.png"/>
            </div>
            <div class="get-started-bottom">
                <p class="get-started-paragraph">
                    See where you stand politically in your social world. Compare yourself with presidential candidates,
                    congress, as well as your friends.
                </p>
            </div>
        </div>

        <div class="get-started-container get-started-container-right about-hover-element">
            <div class="get-started-left">
                3
            </div>
            <div class="get-started-right">
                <h4>create &amp; discuss</h4>
                <img src="/static/images/about/creatediscuss.png"/>
            </div>
            <div class="get-started-bottom">
                <p class="get-started-paragraph">
                    Make petitions, share news, and debate the issues with others.  As our site grows you will have more
                    ways to express yourself and participate in your democracy.
                </p>
            </div>
        </div>

    </div>

    <div class="about-div">
        <h2>about the web</h2>
        <div id="about-web">
            <div class="about-web-points" style="left:15px;top:175px;">
                <h4>this is you</h4>
                <p>the central piece in the political puzzle</p>
            </div>
            <div class="about-web-points" style="left:650px;top:275px;">
                <h4>this is a topic</h4>
                <p>questions are categorized by seven main topics</p>
            </div>
            <div class="about-web-points" style="left:775px;top:-90px;">
                <h4>this is a question</h4>
                <p>select your answer by clicking</p>
            </div>
        </div>
        <h3>Why answer questions?</h3>
        <ul>
            <li><strong>Define Your Political Views.</strong></li>
            <li><strong>More Accurate Comparisons.</strong></li>
            <li><strong>Find Relevant Content More Easily.</strong></li>
        </ul>
    </div>
    <div class="about-div">
        <h2>what is a comparison?</h2>
        <img src="/static/images/about/comparison.png" style="float:left"/>
        <p class="get-started-paragraph" style="float:left;width:375px;margin-left:35px;margin-right:35px;margin-top:25px">
            Comparisons help you understand visually at-a-glance how you compare to your political world.  As you may see,
            the % in the red circle in the middle is your overall similarity. This % is also how much the circle is filled
            in from the bottom.
            <br>
            <br>
            The seven main topics function in the same way but you can hover over them to see the % value.
            Hover over any of the circles to see the total number of questions which created the comparison.
        </p>
        <img src="/static/images/about/comparison2.png" style="float:left"/>
    </div>
    <!--
    <div class="about-div">
        <div style="position:relative;float:left;">
            <div class="about-element">
                <h1>Get Informed</h1>
                <img src="http://www.lovegov.com/static/images/informed.png"/>
                <p class="paragraph">
                    Focus on the issues that you care about.  We're making politics more accessible by helping you find information
                    relevant to your interests. Stay on top of the news, track legislation,
                    and mark upcoming elections, all in one place.
                </p>
            </div>
            <div class="about-element">
                <h1>Build Connections</h1>
                <img src="http://www.lovegov.com/static/images/connected.png"/>
                <p class="paragraph">
                    Filter the noise. Through our social
                    networking tools, you'll be able to connect with like-minded folks as well
                    as with advocacy groups, politicians, and government agencies involved in the
                    issues you care about.
                </p>
            </div>
            <div class="about-element">
                <h1>Enact Change</h1>
                <img src="http://www.lovegov.com/static/images/involved.png" />
                <p class="paragraph">
                    We'll provide you with tools to assist you in organizing events,
                    writing and circulating petitions, engaging your representatives and much, much more.
                    Your views matter at LoveGov and your activity will make a difference.
                </p>
            </div>
        </div>
    </div>

    <div class="about-div">
        <div id="about-tagline" class="tagline">The Development Stages</div>
        <div style="position:relative;float:left;">
            <div class="about-element">
                <h1>Alpha</h1>
                <p class="paragraph">
                    Alpha is intended to be a small subset of our total planned features to present to a limited
                    audience so that we may start testing our site and collect feedback.
                    As an Alpha user, we highly encourage you to submit feedback as your opinions matter
                    and will aid us in moving forward with producing a quality product for release to the general public.
                </p>
            </div>
            <div class="about-element">
                <h1>Beta</h1>
                <p class="paragraph">
                    The transition to Beta won't happen overnight but rather over the next couple of months
                    you should expect to see big updates and changes to the site.  We will be gradually
                    implementing new features and notifying our users so that they may send us feedback on how
                    we can improve.  Stay tuned for exciting new features on the way.
                </p>
            </div>
            <div class="about-element">
                <h1>Live</h1>
                <p class="paragraph">
                    Our goal is to launch the site this fall with a rich and polished feature set that will
                    be as useful to the user as their feedback is to us! At the Live stage, LoveGov will
                    look and feel like the vision for a one-stop shop for politics where all your political
                    information and action tools are integrated into a simple, social interface.
                    Get excited - politics will never be the same!
                </p>
            </div>
        </div>
    </div>
    -->
</div>
