<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/deployment/account.css" />

<!-- HTML -->
<div id="account-main" style="width:1000px;margin-left:auto;margin-right:auto;margin-top:65px">
    <!-- Password Form -->
    <div id="left" class="box">
        <h3> Change Your Password </h3>
        <form action="" method="post" id="passwordform"> {% csrf_token %}

            <table>
                <tr height="5px"></tr>
                <tr>
                    <td>old:</td>
                    <td></td>
                    <td><input type="password" class="inputs" name="old"/></td>
                <tr height="4px"></tr>
                <tr>
                    <td>new:</td>
                    <td></td>
                    <td><input id="new1" type="password" class="inputs new" name="new1"/></td>
                </tr>
                <tr>
                    <td>new:</td>
                    <td></td>
                    <td><input id="new2" type="password" class="inputs new" name="new2"/></td>
                </tr>
            </table>

            <p><a class="button submit" id="submitpassword" href=""> submit </a></p>

            <input type="hidden" name="box" value="password"/>

        </form>

        <div id="pass-message">
            {{ pass_message }}
        </div>

    </div>

    <!-- Profile Image Form -->
    <div id="right" class="box">
        <h3> Change Your Profile Image </h3>

        <div id="profile-img">
            {% load thumbnail %}
            {% thumbnail userProfile.getProfileImage.image "130x130" crop="center" as im %}
                <img src="{{ im.url }}"/>
            {% empty %}
                <p> no pic </p>
            {% endthumbnail %}
        </div>

        <div id="pic-message">
            {{ pic_message }}
        </div>

        <form id="picform" action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
            <input type="submit" class="button submit" id="submitpicture" value="Upload"/>
            <div id="choose-image">{{ uploadform.image }}</div>

            <input type="hidden" name="box" value="pic"/>
        </form>

    </div>
</div>

<!-- Javascript -->
<script>


</script>

<!-- End Account -->