<link rel="stylesheet" href="/static/css/deployment/home.css" type="text/css" media="screen" title="no title">

<div id="home-feed">
    <div id="home-feed-left">

        <div id="home-header">
            <div id="feed-buttons">
                <a id="new_button" class="dialogue-buttons feed-button">New</a>
                <a id="hot_button" class="dialogue-buttons feed-button">Hot</a>
                <a id="best_button" class="dialogue-buttons feed-button">Best</a>
            </div>

            <div class="topic-icons-wrapper" id="filter-topics-wrapper">
                {% load thumbnail %}
                {% for t in main_topics %}
                    <div class="topic-icon-wrapper filter-topic-wrapper topic-filter">
                        {% thumbnail t.image "50x50" format="PNG" as im %}
                            <img class="topic-img normal filter-topic-img" src="{{ im.url }}"/>
                        {% endthumbnail %}
                        {% thumbnail t.selected "50x50" format="PNG" as im %}
                            <img class="topic-img selected filter-topic-img" src="{{ im.url }}"/>
                        {% endthumbnail %}
                        <input type="hidden" class="t-alias" value="{{t.alias}}">
                    </div>
                {% endfor %}
            </div>

            <a id="all-topics-button" style="margin-top:15px"> ALL </a>
        </div>

        <div id="newfeed" class="feed">
            <div class="items" id="N">
                {% for x in newfeed %}
                    {% include 'deployment/pieces/feed_item.html' with item=x.0 my_vote=x.1 %}
                {% endfor %}
            </div>
            <div class="more">

                <input type="hidden"  class="length" id="lengthN" value="{{ new_length }}"/>
            </div>
        </div>

        <div id="hotfeed" class="feed">
            <div class="items" id="H">
                {% for x in hotfeed %}
                    {% include 'deployment/pieces/feed_item.html' with item=x.0 my_vote=x.1 %}
                {% endfor %}
            </div>
            <div class="more">
                <input type="hidden" class="length" id="lengthH" value="{{ hot_length }}"/>
            </div>
        </div>

        <div id="bestfeed" class="feed">
            <div class="items" id="B">
                {% for x in bestfeed %}
                    {% include 'deployment/pieces/feed_item.html' with item=x.0 my_vote=x.1 %}
                {% endfor %}
            </div>
            <div class="more">
                <input type="hidden" class="length" id="lengthB" value="{{ best_length }}"/>
            </div>
        </div>

    </div>
</div>

<!-- Right Block -->
{% include 'deployment/pieces/home_sidebar.html' %}