<link rel="stylesheet" type="text/css" href="/static/css/deployment/profile.css" />

<script>
    var comparisonJSON = eval('(' + '{{ json|escapejs }}' + ')');
</script>

<!-- Middle Container -->
<div id="profile-main-div">
    <div style="font-size: 30px;">THIS SECTION IS UNDER CONSTRUCTION.</div>
    <!-- Left Block -->
    <div id="middle-left">
        <h1> {{ network.title }} </h1>

        <p>
            {{ network.summary }}
        </p>

        <div id="members-list">
            <h3> Members </h3>
            <input id="network-id" type="hidden" value="{{ network.id }}"/>
            <input id="histogram-topic" type="hidden" value="general"/>
            <input id="histogram-lower" type="hidden" value="0"/>
            <input id="histogram-upper" type="hidden" value="{{ histogram_resolution }}"/>
            <input id="histogram-resolution" type="hidden" value="{{ histogram_resolution }}"/>
            <input id="histogram-displayed" type="hidden" value="{{ network_members.count}} "/>
            {% for x in network_members %}
                {% include 'deployment/snippets/network-member.div.html' with member=x %}
            {% endfor %}
        </div>
        <div style="clear:both">
            <a id="network-see-more-users" href="" class="left-sidebar-button" style="float:left">See More</a>
        </div>

    </div>

    <!-- Right Block -->
    <div id="middle-right">
        <div id="matching">
            <div id="myviews" class="middle-right-head-font">
                You & {{ network.title }}
            </div>
            <div id="qaweb"></div>
        </div>
    </div>

</div>

<div style="margin-left:200px;">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% for k,v in histogram.items %}
    <p>
    key: {{ k }} value: {{ v }}
    </p>
{% endfor %}
</div>

</div>
