{% extends 'site/frame/frame.html' %}

{% block content %}

<aside class="sidebar">
    <h2>My Feed</h2>
    <h2>Groups</h2>
    <ul>
        <li>Rockland Democrats</li>
        <li>RI Business League</li>
        <li>Rockland Democrats</li>
        <li>RI Business League</li>
        <li>Rockland Democrats</li>
        <li>RI Business League</li>
    </ul>
    <div class="create">+ Create a Group</div>
    <h2>Elections</h2>
    <ul>
        <li>Presidential</li>
        <li>MA Senate</li>
    </ul>
    <h2>Friends</h2>
    <h2>Politicians</h2>
</aside>

<div class="group-feed-page">
    <section class="details">
        <div class="title-col">
            <img src="http://upload.wikimedia.org/wikipedia/en/thumb/e/ee/Democratslogo.svg/220px-Democratslogo.svg.png" class="group-image">
            <div class="title-details">
                <h1>Rockland Democrats</h1>
                <h2>Rockland County, NY</h2>
                <div class="membership">13 members</div>
            </div>
        </div>
        <div class="description-col">
            "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        </div>
        <div class="col">
            <div class="match">
                <div class="number">75</div>
                % match
            </div>
            <div class="stats-link">view group stats</div>
        </div>
    </section>
</div>
{% endblock %}