<div class="aggregate-notifications-modal">
    <div class="modal-close agg_notification_modal_close" ></div>
    <div class="modal-section-title">
        People who
        {% if agg_notification_type == "CO" %}
            commented on
        {% elif agg_notification_type == "VO" %}
            liked
        {% elif agg_notification_type == "SI" %}
            signed
        {% elif agg_notification_type == "SH" %}
            shared
        {% else %}
            prodded
        {% endif %}
        <a href="agg_notification_content.get_url" class="invert_link">{{ agg_notification_content.get_name }}</a>
    </div>
    <div class="modal-horizontal-separator"></div>
    <div class="aggregate-users-container">
        <table class="user-container">
            <tr>
                <td>
                    <h4>{{ agg_notification_anon }}</h4>
                </td>
                <td>Anonymous Users</td>
            </tr>
        </table>
        {% for user in agg_notification_users %}
            <table class="user-container">
                <tr>
                    <td>
                        <a href="{{ user.get_url }}">
                            {% include "site/pieces/snippets/avatar.html" with user=user width="38" height="38" %}
                        </a>
                    </td>
                    <td><a href="{{ user.get_url }}">{{ user.get_name }}</a></td>
                </tr>
            </table>
        {% endfor %}
    </div>
</div>