{% extends 'site/pieces/notifications/notification_verbose.html' %}

{% load humanize %}
{% load thumbnail %}

{% block notification_content %}

    {% if to_object.type == 'C' %}
    <td class="notification-thumbnail">
        {% include 'site/pieces/avatar.html' with user=user height='25' width='25'%}
    </td>
    <td class="notification-text">
        {% include "site/pieces/actions/action_name_snippet.html" with object=user you=you_acted capital=true %}
        {% if tally == 2 %}
            and <a href="" class="agg_popup" data-n_id="{{ n_id }}">one other person</a>
        {% elif tally > 2 %}
            and <a href="" class="agg_popup" data-n_id="{{ n_id }}">{{ tally|add:"-1" }} other people</a>
        {% endif %}
        commented on
        {% with obj=to_object.downcast.on_content.downcast %}{{ obj.id }}
        <a href="{{ obj.get_url }}">{{ obj.get_name }}</a>
        {% endwith %}
    </td>
    {% endif %}

{% endblock %}