{% extends 'site/pieces/notifications/notification_verbose.html' %}

{% load thumbnail %}

{% block notification_content %}

    <td class="notification-thumbnail">
        {% thumbnail group.getImage "25x25" crop="center" as im %}
            <img src="{{ im.url }}" class="icon-small"/>
        {% endthumbnail %}
    </td>

    {% if modifier == 'I' %}
        <td class="notification-text invite_response_text">
            {% include "site/pieces/actions/action_name_snippet.html" with object=user you=you_acted capital=true %}
            invited you to join {{ group.get_name }}
            <div class='notification-append invite_response_append_y'>You accepted {{ user.get_name }}'s invite</div>
            <div class='notification-append invite_response_append_n'>You declined {{ user.get_name }}'s invite</div>
        </td>
        {% if not group_join.declined and not group_join.confirmed and group_join.invited %}
            <td class="notification-buttons invite_response_buttons" data-g_id="{{ group.id }}">
                <div class="notification-follow-response invite_response_y">accept</div>
                <div class="notification-follow-response bottom invite_response_n">decline</div>
            </td>
        {% endif %}

    {% elif modifier == 'R' %}
        <td class="notification-text group_request_text">
            {% include "site/pieces/actions/action_name_snippet.html" with object=user you=you_acted capital=true %}
            requested to join {{ group.get_name }}
            <div class='notification-append group_request_append_y'>You accepted {{ user.get_name }}'s request</div>
            <div class='notification-append group_request_append_n'>You declined {{ user.get_name }}'s request</div>
        </td>
        {% if not group_join.rejected and not group_join.confirmed and group_join.requested %}
            <td class="notification-buttons group_request_buttons" data-follow_id="{{ from_user.id }}" data-g_id="{{ group.id }}">
                <div class="notification-follow-response group_response_y">accept</div>
                <div class="notification-follow-response bottom group_response_n">decline</div>
            </td>
        {% endif %}

    {% elif modifier == 'A' %}
        <td class="notification-text">
            {% include "site/pieces/actions/action_name_snippet.html" with object=user you=you_acted capital=true %}
            accepted
            {% include "site/pieces/actions/action_name_snippet.html" with object=from_user you=from_you possesive=true %}
            request to join {{ group.get_name }}
        </td>

    {% elif modifier == 'F' %}
        <td class="notification-text">
            {% include "site/pieces/actions/action_name_snippet.html" with object=user you=you_acted capital=true %}
            joined {{ group.get_name }}
        </td>

    {% elif modifier == 'N' %}
        <td class="notification-text">
            {% include "site/pieces/actions/action_name_snippet.html" with object=user you=you_acted capital=true %}
            declined
            {% include "site/pieces/actions/action_name_snippet.html" with object=inviter you=you_invited possesive=true %}
            request to join {{ group.get_name }}
        </td>

    {% elif modifier == 'X' %}
        <td class="notification-text">
            {% include "site/pieces/actions/action_name_snippet.html" with object=user you=you_acted capital=true %}
            rejected
            {% include "site/pieces/actions/action_name_snippet.html" with object=from_user you=from_you possesive=true %}
            request to join {{ group.get_name }}
        </td>
    {% elif modifier == 'S' %}
        <td class="notification-text">
            {% include "site/pieces/actions/action_name_snippet.html" with object=user you=you_acted capital=true %}
            left {{ group.get_name }}
        </td>
    {% endif %}

{% endblock %}