{% extends 'site/pieces/notifications/notification_verbose.html' %}

{% load humanize %}
{% load thumbnail %}

{% block notification_content %}

    <td class="notification-thumbnail"><img src="{{ STATIC_URL }}/images/icons/actions/share.png"/></td>
    
    <td class="notification-text">
        {% include "site/pieces/actions/action_name_snippet.html" with object=from_user you=you_acted capital=true %}
        {% if tally == 2 %}
            and <a href="" class="agg_popup" data-n_id="{{ n_id }}">one other person</a>
        {% elif tally > 2 %}
            and <a href="" class="agg_popup" data-n_id="{{ n_id }}">{{ tally|add:"-1" }} other people</a>
        {% endif %}
        shared {{ shared_object.get_name }} with
        {% include "site/pieces/actions/action_name_snippet.html" with object=to_object you=to_you %}
    </td>

{% endblock %}