{% extends 'site/pieces/notifications/notification_verbose.html' %}

{% load thumbnail %}

{% block action_content %}

    <td class="notification-thumbnail">
        {% include "site/pieces/avatar.html" with object=user width="25" height="25" hoveroff=hover_off %}
    </td>

    {% if modifier == 'R' %}
        <td class="notification-text follow_response_text">
            {% include "site/pieces/actions/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            requested to follow you
            <div class='notification-append follow_response_append_y'>{{ from_user.get_name }} is now following you</div>
            <div class='notification-append follow_response_append_n'>You declined {{ from_user.get_name }}'s request</div>
        </td>
        {% if not follow.rejected and not follow.confirmed and follow.requested %}
            <td class="notification-buttons follow_response_buttons" data-follow_id="{{ from_user.id }}">
                <div class="notification-follow-response follow_response_y">accept</div>
                <div class="notification-follow-response bottom follow_response_n">decline</div>
            </td>
        {% endif %}

    {% elif modifier == 'A' %}
        <td class="notification-text">
            {% include "site/pieces/actions/action_name_snippet.html" with user=user you=you_acted capital=true %}
            accepted your follow request
        </td>

    {% elif modifier == 'D' %}
        <td class="notification-text notification_text">
            {% include "site/pieces/actions/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            followed you
            <div class='notification-append notification_append'></div>
        </td>
        {% if not anon and reverse_follow and not reverse_follow.confirmed and not reverse_follow.requested %}
            <td class="notification-buttons notification_buttons">
                <div class="notification-follow-response notification_user_follow" data-follow_id="{{ from_user.id }}">follow</div>
            </td>
        {% endif %}

    {% elif modifier == 'X' %}
        <td class="notification-text">
            {% include "site/pieces/actions/action_name_snippet.html" with user=user you=you_acted capital=true %}
            rejected your follow request
        </td>
    {% elif modifier == 'S' %}
        <td class="notification-text">
            {% include "site/pieces/actions/action_name_snippet.html" with user=user you=you_acted capital=true %}
            stopped following you
        </td>
    {% endif %}

{% endblock %}