@charset "UTF-8";
/* CSS Document */

@font-face
{
  font-family: "Gill Sans Std Light";
  src: url(../GillSansStd-Light.otf);
}

@font-face
{
  font-family: "Gill Sans Std";
  src: url(../GillSansStd.otf);
}

.highlight
{
	color:#f0503b;
}

.answer
{
	color:#959595;
}

#introhover
{
    cursor:default;
    position:absolute;
    z-index:600;
}

#intro-wrapper
{
    position:relative;
}


.intro-main-style
{
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    border-radius:20px;
    padding:20px;
    border: 2px solid #ee452f;
    background-color:#fff;
    width:240px;
}

#intro-text
{
    font-family:"Gill Sans Std", Helvetica, Verdana, sans-serif;
    font-size:14pt;
    color:#005468;
    margin-bottom:5px;
}

#intro-text-small
{
    font-size:11pt;
    color:#959595;
}

#intro-text-small2
{
    padding-bottom:15px;
}

.intro-icon img
{
    position:relative;
    padding-right:40px;
    padding-bottom:5px;
}

#introhover a, #introhover a:link, #introhover a:active,#introhover a:visited
{
    color:#959595;
    font-weight:bold;
}

#introhover a:hover
{
    cursor:pointer;
    color:#ccc;
}



#topic-main
{
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    border-radius:20px;
    padding:10px;
    border: 3px solid #A299CE;
    background-color:#fff;
    width:140px;
}

#topic-text
{
    font-family:"Gill Sans Std", Helvetica, Verdana, sans-serif;
    font-size:12pt;
    color:#005468;
    text-align:center;
}

#topic-pointer
{
    position:relative;
    top:-3px;
    left: 43%;
}


/* Dialogue Box */

.dialogue-wrapper
{
	position:relative;
    z-index:300;
    -webkit-user-select:none;
    -moz-user-select:none;
}

#dialogue-pointer
{
	position:relative;
	top:-3px;
	margin-left: 47%;
}

#dialogue-main
{
	-moz-border-radius: 20px;
	-webkit-border-radius:20px;
	-khtml-border-radius:20px;
	border-radius:20px;
	padding:25px;
	border: 3px solid #A299CE;
	background-color:#fff;
	width:400px;
}

/* Question */

#question
{
	font-family:"Gill Sans Std", Helvetica, Verdana, sans-serif;
	font-size:13pt;
	color:#005468;
}

/* Answers */

#answers
{
	position:relative;
	font-size:10pt;
	color:#959595;
}

#answers img
{
	position:relative;
	top:5px;
}

#answers ul
{
	line-height:200%;
	list-style-type:none;
	margin-left:-15px;
}

/* Analysis */

#analysis
{
	position:relative;
	top:-100px;
	left:160px;
	width:200px;
}

/* Graph */

#graph
{
	position:relative;
	width:100px;
	padding:20px;
}

/* Buttons */

#buttons
{
	position:relative;
	text-align:right;
}

.dialogue-buttons
{
	-moz-border-radius: 10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	border-radius:10px;
    background-color:#A293CE;
	padding:8px;
	padding-bottom:4px;
	font-size:13pt;
	color:#fff;
	font-family:"Gill Sans Std Light", Verdana, sans-serif;
	margin-left:5px;
	text-decoration:none;
}

.dialogue-buttons:visited, .dialogue-buttons:active, .dialogue-buttons:link
{
    color:#FFFFFF;
	text-decoration:none;
}

.dialogue-buttons:hover 
{
	text-decoration:none;
	background-color:#D4D3EF;
}


