@charset "UTF-8";
/* CSS Document */

.left-side-wrapper
{
    position:fixed;
    font-family:Helvetica, Verdana, sans-serif;
    font-size:9pt;
    color:#959595;
    z-index:100;
    background-color:#ffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    top:25px;
    border:1px solid #f0503b;
}

.left-side-wrapper-large
{
    left:-603px;
}

.left-side-wrapper-small
{
    left:-493px;
}

.left-side-img
{
    z-index:101;
    position:relative;
    float:right;
    background-color:#fff;
    border-top:1px solid #f0503b;
    border-right:1px solid #f0503b;
    border-bottom:1px solid #f0503b;
    left:37px;
    margin-right:0px;
    padding:10px;
}

#left-side-img-invite
{
    top:85px;
}

#left-side-img-feedback
{
    top:210px;
}

.left-side-main
{
    z-index:99;
    position:relative;
    padding:30px;
}

.left-side-main-small
{
    width:430px;
}

.left-side-main-large
{
    width:540px;
    padding-top:15px;
}

.sub-title
{
    font-family:"Gill Sans Std", Helvetica, Verdana, sans-serif;
    font-weight:normal;
    font-size:18pt;
    color:#959595;
    margin:0px;
}


/* LINK */

.link
{
    position:relative;
    height:60px;
}

#link-text
{
    position:relative;
    width:130px;
    float:left;
}

.link input
{
    border:1px solid #ccc;
    width:321px;
    height:22px;
    position:relative;
    float:right;
    padding-left:5px;
    vertical-align: middle;
}

/* TOPIC */

.create-topic-div
{
    position:relative;
    height:65px;
}

.create-topic-text
{
    position:relative;
    width:130px;
    float:left;
}


.topic-images
{
    position:relative;
    float:right;
    margin-left:18px;
}

.topic-images img
{
    padding-right:3px;
}

/* SUBMIT BUTTON */

.left-sidebar-submit
{
    position:relative;
    padding-bottom:5px;
    margin-right:12px;
    text-align:right;
}

input:focus
{
    outline: none;
}

textarea:focus
{
    outline: none;
}

/* for invite form */
#invite-wrapper
{
    position:fixed;
    left:-562px;
    top:370px;
    width:560px;
    font-family:Helvetica, Verdana, sans-serif;
    font-size:9pt;
    color:#959595;
    z-index:5000;
    background-color:#ffffff;
}


#invite-img
{
    z-index:100;
    position:relative;
    float:right;
    background-color:#fff;
    border-top:1px solid #f0503b;
    border-right:1px solid #f0503b;
    border-bottom:1px solid #f0503b;
    border-left:1px solid #fff;
    top:50px;
    left:38px;
    margin-right:0px;
    margin-bottom:5px;
    padding:10px;
}

#invite-main
{
    position:relative;
    margin-top:18px;
    margin-left:0px;
    margin-right:40px;
    margin-bottom:40px;
    padding:30px;
    border:1px solid #f0503b;
    width:500px;
}

#invite-form
{

}

#email-label
{
    float:left;
}

#email-input
{
    float:right;
}

.left-sidebar-button
{
    -moz-border-radius: 10px;
    -webkit-border-radius:10px;
    -khtml-border-radius:10px;
    border-radius:10px;
    padding:10px;
    padding-bottom:7px;
    font-size:14pt;
    font-family:"Merge", Verdana, sans-serif;
}

.left-sidebar-button:link, .left-sidebar-button:visited, .left-sidebar-button:active
{
    color:#FFFFFF;
    background-color:#f0503b;
    text-decoration:none;
    float:right;
}

.left-sidebar-button:hover
{
    color:#f0503b;
    background-color:#fff;
}

.feedback-input
{
    width:427px;
    border:1px solid #ccc;
}

#feedback-text
{
    height:200px;
    margin-bottom:20px;
    resize: vertical;
}

#feedback-name
{
    height:20px;
}

.create-submit-div
{
    float:right;
    height:50px;
    width:430px;
}

#feedback-response
{
    width:369px;
    float:left;
}

#feedback-response h2
{
    margin-bottom:0;
}

#feedback-response p
{
    margin-top:0;
}