#user-menu-container
{
    width:250px;
    font-family:"Gill Sans Std", Helvetica, Verdana;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    float:right;
    margin-top:5px;
}

.user-menu-pointer
{
    cursor:pointer;
}

#user-menu
{
    height:40px;
   /* box-shadow: 0 0 5px 1px #CCC;*/
}

.user-menu-unselected
{
    border: 1px solid #CCC;
}

.user-menu-selected
{
    border-top: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-left: 1px solid #CCC;
}

.user-img
{
    width:38px;
    height:38px;
    padding:1px;
    vertical-align: middle;
    float:left
}

#user-name
{
    position:relative;
    float:left;
    margin-left:5px;
    margin-top:13px;
    font-size:19px;
    color:#0F5569;
}

#down-arrow
{
    height:40px;
    width:40px;
    float:right;
    position:relative;
    background-color:white;
    background-image:url(/static/images/user-menu/downarrow.png);
    background-repeat:no-repeat;
    background-position:center;
    cursor:pointer;
}

#down-arrow:hover
{
    height:40px;
    width:40px;
    float:right;
    position:relative;
    background-color:#F0503B;
    background-image:url(/static/images/user-menu/downarrow-invert.png);
    background-repeat:no-repeat;
    background-position:center;
}

#user-menu-dropdown
{
    position:absolute;
    width:250px;
    z-index:1000;
}

.user-menu-dropdown-div-top
{
    border-top:1px solid #CCC;
}

.user-menu-dropdown-div
{
    height:50px;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    font-size:15px;
    background-color:#FFFFFF;
    cursor:pointer;
}

.user-menu-dropdown-div-hover
{
    background-color:#F0503B;
    color:#FFFFFF;
}

.user-menu-dropdown-div-selected
{
    background-color:#F0503B;
    color:#FFFFFF;
}

.user-menu-dropdown-div img
{
    float:right;
    padding-top:12px;
    padding-bottom:12px;
    padding-right:8px;
    margin-left:20px;

}

.user-menu-dropdown-div a
{
    text-decoration:none;
    float:right;
    margin-top:18px;
    color:#000000;
}
