{% extends 'site/pages/match/match-list.html' %}

<!-- your what -->
{% block yourwhat %}
    <div class="your-what"> Your Friends (<span class="list-num">{{ friends|length }}</span>)</div>
{% endblock %}

<!-- list -->
{% block list %}
    {% for x in friends %}

        <a href="{{ x.get_url }}" class="member-wrapper">
            {% include 'site/pieces/snippets/avatar.html' with user=x width="50" height="50" %}
            <div class="name-wrapper">
                <div class="first-name"> {{ x.first_name|truncatechars:10 }}</div>
                <div class="last-name"> {{ x.last_name|truncatechars:10 }}</div>
            </div>
            <div style="clear:both"></div>
        </a>

    {% endfor %}
{% endblock %}

<!-- match right -->
{% block matchright %}
    <a href="{{ ifollow.get_url }}" class="group-link"> go to your friends group page. </a>

    <a href="{{ ifollow.getHistogramURL }}">
        <div class="group-histogram-container histogram_box">
            {% include 'site/pages/histogram/histogram_mini.html' %}
        </div>
    </a>
{% endblock %}

<!-- which javascript -->
{% block rebind %}
    <script> rebind="friends" </script>
{% endblock %}