{% extends 'site/pages/match/match-list.html' %}
{% load thumbnail %}
<!-- your what -->
{% block yourwhat %}
    <div class="your-what"> Your {{ what }} (<span class="list-num">{{ mygroups|length }}</span>)</div>
{% endblock %}

<!-- list -->
{% block list %}
    {% for x in groups %}

        <div class="group-wrapper">
            <div class="group-left">
                <a href="{{ x.get_url }}" class="group-meta {% if x.you_are_member %} you-are-member {% endif %}">
                    {% include 'site/pieces/snippets/avatar.html' with user=x width="50" height="50" hoveroff=1 %}
                    <div class="name-wrapper">
                        <div class="title"> {{ x.title|truncatechars:30 }} </div>
                        {% with members=x.members.all %}
                            <div class="members"> {{ members.count }} member{{ members|pluralize }} </div>
                        {% endwith %}
                    </div>
                    <div style="clear:both"></div>
                </a>

                {% if x.you_are_member %}
                    <div class="you-are"> you are a member of this group. </div>
                {% endif %}
                <div style="clear:both"></div>
            </div>

            <div class="group-comparison"> <div id="{{ x.title|slugify }}-canvas"></div> </div>

            <div style="clear:both"></div>

            <script>
                var json = eval('(' + '{{ x.compare|escapejs }}' + ')');
                new VisualComparison("{{ x.title|slugify }}-canvas",json).draw();
            </script>

        </div>

    {% endfor %}
{% endblock %}

<!-- match right -->
{% block matchright %}

{% endblock %}

<!-- which javascript -->
{% block rebind %}
    <script> rebind="groups" </script>
{% endblock %}