<div class="match-groups">



    <div class="groups-in-your-area match-groups-section">
        <div class="match-section-header">
            How do you match with groups in your area?
        </div>
        {% if viewer.location %}
            {% with location=viewer.location %}
                <div class="groups-list-wrapper">
                    <div class="best_matching_parties_seed initialize_self"
                         data-action="matchWithGroups"
                         data-which="in_your_area">
                    </div>
                    <span class="initializing-heart-gif initialize_loading"></span>
                </div>
            {% endwith %}
        {% else %}
            <div class="dismissible_wrapper">
                {% include 'site/pages/politicians/representatives_dismissible_header.html' %}
            </div>
        {% endif %}
    </div>



    <div class="political-party-matches match-groups-section">
        <div class="match-section-header">
            Which political party do you match best with?
        </div>
        <div class="groups-list-wrapper">
            <div class="best_matching_parties_seed initialize_self"
                 data-action="matchWithGroups"
                 data-which="best_matching_parties">
            </div>
            <span class="parties-heart-gif initialize_loading"></span>
        </div>
    </div>



</div>