<div class="match-friends">

    <div class="match-section-header">
        <span class="header-text"> How do you match with your friends? </span>
        {% if not viewer.facebook_id %}
            <a href="/fb/redirect/fb/connect/" class="import-friends"> import friends from facebook </a>
        {% endif %}
    </div>

    <div class="people-list-wrapper match-feed">
        {% include 'site/pages/feed/feed_no_top.html' with special_feed="matchWithPeople" %}

        {% comment %}
        <div class="match_with_friends_seed initialize_self"
             data-action="matchWithPeople"
             data-which="friends">
            matching...
        </div>
        <div class="no_friends no-friends"> You're not following anyone on LoveGov yet.  <a href="/fb/redirect/fb/connect/">Import friends from facebook</a> or find like-minded people below. </div>
        {% endcomment %}
    </div>

    <div class="match-like-minded-wrapper">
        {% include 'site/pages/like_minded/like_minded_bottom.html' with match_friends_page=1 %}
    </div>

</div>