<div class="match-wrapper">

    {% if show_welcome %}
        {% include 'site/pages/match/match_introduction_header.html' with no_dismissible_x=1 %}
    {% endif %}

    <div class="match-header-wrapper">

        <div class="match-progress-wrapper"><div class="match-progress {{ progress_down }}"></div></div>

        <div class="heart-wrapper">
            <img src="{{ STATIC_URL }}/images/matchwithheart.png">
        </div>

        {% include 'site/pages/match/match_header_link.html' with match_link_url="/match/presidential/" match_link_text="Presidents" match_link_num=1 match_char="P" %}

        {% include 'site/pages/match/match_header_link.html' with match_link_url="/match/representatives/" match_link_text="My Reps" match_link_num=2 match_char="R" %}

        {% include 'site/pages/match/match_header_link.html' with match_link_url="/match/groups/" match_link_text="Groups" match_link_num=3 match_char="G" %}

        {% include 'site/pages/match/match_header_link.html' with match_link_url="/match/friends/" match_link_text="Friends" match_link_num=4 match_char="F" %}

        {% include 'site/pages/match/match_header_link.html' with match_link_url="/match/congress/" match_link_text="Congress" match_link_num=5 last_link=1 match_char="C" %}

        <a class="dummy_link home_link match_link get-involved" href="/home/">
                <div class="glyphicon-sprite sprite-glyphicon_355_announcement-png" style="display:inline-block; margin-right: 10px;"></div>Get involved
        </a>

        <div style="clear:both;"></div>
    </div>

    <div class="match-body-wrapper">
        {{ match_body_html }}
    </div>

</div>