<div class="first-login-header">

    <div class="welcome-div">

        <div class="welcome-message">
            welcome to
        </div>

        <div class="logo"></div>

        <div class="our-goal">
            <p>
                Our goal is to make it easier to participate in democracy.
                We’ll start by matching you to the presidential candidates, your congressmen, friends, and other like-minded people/groups on LoveGov.
                Once connected with your local, state and national communities, you’ll be able to stay informed and take action.
                We hope you will make LoveGov your political home on the internet.
            </p>
            <p>
                Find out more about us <a href="/about/mission/"> here </a>.
            </p>
        </div>

    </div>

    {% include 'site/pages/dismissible_headers/get_started.html' %}

    {% if completed_all_tasks %}
        <div class="completed-all">
            Congratulations, you finished all of our getting started ideas. The next time you come to this page,
            this list won't be here, and LoveGov will be yours to conquer.
        </div>
    {% endif %}


    <div class="are-you">
        <div class="are-you-wrapper">
            Are you an interest group leader? <a href="/about/faq/#i_am_part_of" class="are-you-link"> Use our tools to further your cause. </a>
        </div>

        <div class="are-you-wrapper">
            Are you a politician? <a href="/about/faq/#i_am_part_of" class="are-you-link"> Find out how to connect with constituents and supporters.</a>
        </div>
    </div>

    {% comment %}
    <div class="get-involved">
        Once you've finished matching yourself, you can use LoveGov to keep track of politics and get involved.
        <a href="/home/"> Explore your feed. </a>
    </div>
    {% endcomment %}

</div>