{% extends 'deployment/pages/login/login.html' %}

{% block middle %}

    <div id="middle-left">
        <iframe src="http://player.vimeo.com/video/45207529?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="425" height="239" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        <p style="text-align:center;">Want to learn more? <a id="what-is-lovegov" class="invert_link">Click here</a>.</p>
    </div>

    <div id="middle-right">
        <!-- Forms -->
        {% include 'deployment/pages/login/login-fb.form.html' %}
        {% include 'deployment/pages/login/login-login.form.html' %}
        {% include 'deployment/pages/login/login-register.form.html' %}
    </div>

    <!-- Fade-in Divs -->
    {% include 'deployment/pages/login/login-about.html' %}
    {% include 'deployment/pages/login/login-privacy.html' %}

    <script type="text/javascript">
        $(document).ready(function()
        {
            $('#what-is-lovegov').click(function()
            {
                $('._fade').fadeOut(300);
                $('.about-div').fadeToggle(300);
            });

            $('.privacy_policy').click(function()
            {
                $('._fade').fadeOut(300);
                $('#privacy-div').fadeToggle(300);
            });

            $('#why-facebook').click(function()
            {
                $('#why-facebook-hover').fadeToggle(300);
                return false;
            });

            $('#why-facebook-hover').bind('clickoutside',function()
            {
                $(this).fadeOut(300);
            });

            $("#why-facebook-hover a").click(function()
            {
                $('#why-facebook-hover').fadeOut(300);
            });

            $('.login-input').inputFade();

            $('#create-account').click(function(event)
            {
                event.preventDefault();
                $('#login-div').hide();
                $('#register-div').show();
            });

            $('#no-facebook').click(function()
            {
                $('#fb-div').hide();
                $('#login-div').show();
            });

        });
    </script>

{% endblock %}