{% extends 'deployment/templates/no-login-frame.html' %}
{% block content %}

    <link rel="stylesheet" type="text/css" href="/static/css/deployment/login-new.css" />

    <div id="middle">
        {% block middle %}

        {% endblock %}
    </div>

    <div id="bottom">
        <div id="footer">
            <div style="float:left;margin-top:5px;">
                <span id="mailingList" class="dark">Join our mailing list:</span>
                <form id='emailForm' action="" method='post'>
                    <input id="emailInput" name="email" type="text" value=""/>
                    <input id="emailSubmit" type="submit" value="Submit" name="submitemail"/>
                </form>
                <div style="clear:both;padding-top:15px;">
                    <a href="http://www.facebook.com/pages/Lovegov/368496463180373" target="_blank"><img src="/static/images/facebook.png" ></a>
                    <a href="http://twitter.com/welovegov" target="_blank"><img src="/static/images/twitter.png"/></a>
                    <a class="big_link" href="/blog/" style="position:relative;bottom:10px;margin-left:5px">Blog</a>
                    <span id="emailMessage" class="dark">{{ emailMessage }}</span>
                </div>
            </div>

            <!-- Vertical Break -->
            <div style="float:left;border-left: 1px solid #F0503B;height: 65px;margin-left: 15px;margin-top: 10px;"></div>

            <div style="float:right">
                <h4 class="color_link-hover small_margin">development team</h4>
                <div>
                    <div class="team_left">
                        <div class="developer_names">Joschka Tryba</div>
                        <div class="developer_title">Chief Executive Officer</div>
                        <a class="light" href="mailto:joschka@lovegov.com">joschka@lovegov.com</a>
                    </div>
                    <div class="team_center">
                        <div class="developer_names">Clayton Dunwell</div>
                        <div class="developer_title">Product Developer</div>
                        <a class="light" href="mailto:clay@lovegov.com">clay@lovegov.com</a>
                    </div>
                    <div class="team_center">
                        <div class="developer_names">Maximus Fowler</div>
                        <div class="developer_title">Product Developer</div>
                        <a href="mailto:max@lovegov.com">max@lovegov.com</a>
                    </div>
                    <div class="team_right">
                        <div class="developer_names">Catherine Schmidt</div>
                        <div class="developer_title">Lead Designer</div>
                        <a href="mailto:cat@lovegov.com">cat@lovegov.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fb-root"></div>
    <div id="default_variables" style="display:none">
        <input id="csrftoken" type="hidden" value="{{ csrf_token }}" />
    </div>
    <!--Some facebook code requires the fb-root div -->
    <script src="/static/js/facebook.js" type="text/javascript"></script>
    <script type="text/javascript">
        facebookAppId = '{{ FACEBOOK_APP_ID }}';
        facebookDefaultScope = {{ FACEBOOK_DEFAULT_SCOPE_JS }};
        staticUrl = '{{ STATIC_URL }}';
        function facebookJSLoaded()
        {
            FB.init({appId: facebookAppId, status: true, cookie: true, xfbml: true, oauth: true});
        }
        window.fbAsyncInit = facebookJSLoaded;
        F = new facebookClass(facebookAppId);
        F.load();
    </script>

{% endblock %}