<div id="login-div" class="state-div" {% if state != "login" %}style="display:none"{% endif %}>
    <div class="form-div">
        <h2>Log in to LoveGov</h2>
        <form action="" method="post" id="loginform"> {% csrf_token %}
            <table id="logintable">
                <tr>
                    <td>
                        <input type="text" id="username-input" class="login-input" name="username"/>
                        <span class="input-span" id="username-span">email</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" id="password-input" class="login-input" name="password"/>
                        <span class="input-span" id="password-span">password</span>
                    </td>
                </tr>
                <tr>
                    <td colspan=2>
                        <input type="hidden" name="button" value="login"/>
                        <input class="button_red" id="submit-login" type="submit" value="log in"/>
                        <span style="float:left">
                            {{ error }}
                        </span>
                        <div style="margin-top:7px;margin-bottom:7px;">
                            <a class="account-actions" id="forgot-password" href="/passwordRecovery/">forgot password?</a>
                        </div>
                        <div>
                            <a class="account-actions" id="create-account" href="">create account</a>
                        </div>
                    </td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>
</div>
