{% extends 'deployment/pages/login/login.html' %}

{% block middle %}

<div class="forgot-password">
    <h2>Enter your email below</h2>
    <form action="" method="post"> {% csrf_token %}
        <table>
            <tr>
                <td>
                    <input type="text" id="email-recovery" class="login-input" name="email"/>
                </td>
            </tr>
            <tr>
                <td colspan=2>
                    <input class="button-red" id="first_step" type="submit" value="submit"/>
                    <p class="recovery-error">
                        {{ message }}
                    </p>
                </td>
                <td></td>
            </tr>
        </table>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function()
    {
        $('#first_step').click(function(event)
        {
            event.preventDefault();
            $.ajax
            ({
                url:"/passwordRecovery/",
                type:"POST",
                data:{email:$('#email-recovery').val(),first_step:true},
                success: function(data)
                {
                    var returned = eval('(' + data + ')');
                    $('#first_step').siblings('p').text(returned.message);
                },
                error: function(jqXHR, textStatus, errorThrown)
                {
                    $('#first_step').siblings('p').text("Server Error, Try Again.");
                }
            })
        });
    });

</script>

{% endblock %}