<div id="register-div" class="state-div" {% if state != "register" %}style="display:none"{% endif %}>
    <div class="form-div">
        <h2>Register</h2>
        <form action="" method="POST" id="registerform">{% csrf_token %}
            <table>
                <tr>
                    <td>
                        <input type="text" id="fullname-input" class="login-input" name="fullname" value="{% if not registerform.fullname.errors and registerform.fullname.value %}{{ registerform.fullname.value }}{% else %}{% endif %}"/>
                        <span class="input-span" id="fullname-span">{% if registerform.fullname.errors %}{{ registerform.fullname.errors|striptags }}{% else %}full name{% endif %}</span>
                    </td>
                </tr>

                <tr></tr>

                <tr>
                    <td>
                        <input type="text" id="email-input" class="login-input" name="email" value="{% if not registerform.email.errors and registerform.email.value %}{{ registerform.email.value }}{% else %}{% endif %}"/>
                        <span class="input-span" id="email-span">{% if registerform.email.errors %}{{ registerform.email.errors|striptags }}{% else %}email{% endif %}</span>
                    </td>
                </tr>

                <tr></tr>

                <tr>
                    <td>
                        <input type="text" id="email2-input" class="login-input" name="email2" value="{% if not registerform.email2.errors and registerform.email2.value %}{{ registerform.email2.value }}{% else %}{% endif %}"/>
                        <span class="input-span" id="email2-span">{% if registerform.email2.errors %}{{ registerform.email2.errors|striptags }}{% else %}email again{% endif %}</span>
                    </td>
                </tr>

                <tr></tr>

                <tr>
                    <td>
                        <input type="password" id="password-register-input" class="login-input" name="passwordregister"/>
                        <span class="input-span" id="password-register-span">password</span>
                    </td>
                </tr>

                <tr></tr>

                <tr>
                    <td style="text-align:left;" colspan="2">
                        <span class="privacy_agree">I agree to the <a class="invert_link privacy_policy">Privacy Policy</a></span>
                        <input style="margin-top:15px;margin-left:10px;float:none;" type="checkbox" name="privacy"/>
                        <span class="dark" style="color:#F0503B;margin-top:16px;margin-left:5px">{{ registerform.privacy.errors|striptags}}</span>
                        <input type="hidden" name="button" value="register"/>
                        <input class="button-red" type="submit" value="register"/>
                    </td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>
</div>