{% extends 'deployment/pages/login/login.html' %}

{% block middle %}

    <div class="forgot-password">
        <p style="font-size:21px">Please input your desired new password below.</p>
        <form action="" method="post"> {% csrf_token %}
            <table>
                <tr>
                    <td>
                        <input type="password" class="login-input" name="password1"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" class="login-input" name="password2"/>
                    </td>
                </tr>
                <tr>
                    <td colspan=2>
                        <input class="red-button" type="submit" value="submit"/>
                        <p style="font-size:17px;float:left;margin-top:10px;width:240px;text-align:left;">
                            {% if recoveryForm.password1.errors %}{{ recoveryForm.password1.errors|striptags }}
                            {% elif recoveryForm.password2.errors %}{{ recoveryForm.password2.errors|striptags }}
                            {% endif %}
                        </p>
                    </td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>

    <script type="text/javascript">

    </script>

{% endblock %}