{% extends 'deployment/templates/no-login-frame.html' %}
{% block content %}

    <div id="middle">
        {% block middle %}

        {% endblock %}
    </div>

    {% include 'deployment/pages/login/login-footer.html' %}

    <div id="default_variables" style="display:none">
        <input id="csrftoken" type="hidden" value="{{ csrf_token }}" />
    </div>

    <script type="text/javascript">

        $(document).ready(function()
        {
            var state = "{{ state }}";
            if (state == 'login_error') {
                $(".sign_in_dialogue").show();
            }
        });

    </script>

{% endblock %}