@charset "UTF-8";
@import 'master-variables';
@import 'master-mixins';
@import "compass";

div.avatar-strip {
  padding-top:15px;
  padding-left:25px;
  width:100%;
  float:left;
  height:150px;
  border:1px solid $gray;

  div.avatar-strip-top {
    @include clearfix;

    width:100%;
    span.user-name {
      @include fontSize(20px);
      float:left;
    }
    span.user-title {
      color:$gray;
      margin-top:3px;
      float:left;
      margin-left:10px;
    }
    span.heart-icon {
      @include staticImage("/images/icons/red_heart.png");
      background-repeat: no-repeat;
      width:15px;
      height:12px;
      background-size:15px 12px;
      margin-left:10px;
      margin-top:5px;
      float:left;
    }
    span.heart-score {
      margin-left:10px;
      margin-top:3px;
      float:left;
    }
  }

  div.avatar-strip-main {
    width:100%;
    @include clearfix;

    div.avatar-image {
      margin-top:5px;
      float:left;
    }

    div.avatar-stats {
      float:left;
      margin-left:10px;
    }

    div.avatar-description {
      foat:left;

    }

    div.avatar-match {
      margin-right:50px;
      float:right;
      color:$red;
      position:relative;
      top:-10px;
      div.match-number {
        @include fontSize(48px);
      }
      div.match-text {
        @include fontSize(24px);
        line-height:20px;
        top:-10px;
      }
    }
  }
}