@charset "UTF-8";
@import 'master-variables';
@import 'master-mixins';
@import "compass";

div.avatar-strip {
  padding-top:10px;
  padding-left:10px;
  padding-bottom:5px;
  padding-right:10px;
  width:100%;
  border:1px solid $gray;

  div.avatar-image {
    float:left;
  }

  div.avatar-strip-main {
    float:left;
    width:470px;

    div.avatar-strip-top {
      float:left;
      width:100%;
      span.user-name {
        @include fontSize(24px);
        float:left;
        margin-left: 10px;
        color:$black;
        &:hover {
          color:black;
        }
      }
      span.parties-wrapper {
        margin-left:10px;
        margin-top:7px;
        float:left;
        a.party-label-wrapper {
          float:left;
          margin-left:5px;
          margin-bottom:5px;
        }
      }
    }

    div.avatar-strip-bottom {
      float:left;
      width:100%;
      span.user-title {
        @include fontSize(16px);
        color:$gray;
        float:left;
        margin-left:10px;
      }
      span.heart-icon {
        @include staticImage("/images/icons/red_heart.png");
        background-repeat: no-repeat;
        width:15px;
        height:12px;
        background-size:15px 12px;
        margin-left:10px;
        margin-top:2px;
        float:left;
      }
      span.heart-score {
        margin-left:10px;
        float:left;
      }
    }
  }


  div.before-match {
    float:left;
    width: 100px;
    position:absolute;
    left:52%;
    margin-top: 35px;
    color:$gray;
    a.view-all-answers {
      float:left;
      width:100%;
      text-decoration:underline;
    }
    span.match-from {
      margin-top: 5px;
      margin-left: 0px;
      float: left;
    }
  }
  div.avatar-match {
    height: 50px;
    float:right;
    line-height: 36px;
    position: relative;
    top: -15px;
    color:$red;
    div.match-number {
      @include fontSize(66px);
      span.match-percent {
        margin-left:2px;
      }
    }
  }
  div.avatar-match.scorecard-match {
      color:$text-blue;
  }
}
