@charset "UTF-8";
@import 'master-variables';
@import 'master-mixins';
@import "compass";

#comparison-hover-div {

  p.hover-title {
    width:100%;
    text-align:center;
    margin-top:20px;
    @include fontSize(20px);
    color:$text-blue;
    margin-bottom:0px;
    line-height:18px;
  }

}