<!-- css -->
<link href="/static/css/compiled/feed.css" rel="stylesheet" type="text/css"/>
{% load thumbnail %}

<!-- feed metadata -->
<div class="feed-metadata" data-columns="3">

    <input type="hidden" class="feed_ranking" value="{{ feed_ranking }}"/>
    <input type="hidden" class="feed_topics" value="{{feed_topics}}"/>
    <input type="hidden" class="feed_types" value="{{feed_types}}"/>
    <input type="hidden" class="feed_levels" value="{{feed_levels}}"/>
    <input type="hidden" class="feed_groups" value="{{feed_groups}}"/>
    <input type="hidden" class="feed_display" value="{{ feed_display }}"/>
    <input type="hidden" class="feed_submissions_only" value="{{feed_submissions_only}}"/>
    <input type="hidden" class="feed_start" value="0"/>

</div>


<!-- center wrapper -->
<div class="feed-main-div">

    <!-- feed header -->
    <div class="feed-header">

        <p class="your-feed"> Your Feed </p>

        <div class="options-box more-options more_options red-hover">
            <p class="options-title">
                More Options
            </p>
            <div class="triangle-selector"></div>
        </div>

        <div class="options-box red-hover">
            <p class="options-title">
                Saved Filters
            </p>
        </div>

        <!-- get more -->
        <a class="get_feed more-feed-button" href="">
            load
        </a>

        <!-- display choice -->
        <div class="display-box">
            <div class="display-choice" data-display="P">
                <img src="/static/images/card-view.png" width="15px" height="15px" class="display-gray"/>
                <img src="/static/images/card-view-red.png" width="15px" height="15px" class="display-red"/>
            </div>
            <div class="display-choice" data-display="L">
                <img src="/static/images/list-view.png" width="15px" height="15px" class="display-gray"/>
                <img src="/static/images/list-view-red.png" width="15px" height="15px" class="display-red"/>
            </div>
        </div>

        <div class="create-box red-hover">
            <p class="options-title"> create </p>
        </div>

        <a href="" class="how-does"> how does this work? </a>

        <div class="clear-both"></div>
    </div>

    <!-- more options box -->
    <div class="more-options-wrapper">


        <div class="more-options-selector">

            <div class="sort-by">
                <h2 class="mini"> Sort by: </h2>
            </div>
            <div class="sort-by-choice red-hover">
                Hot
            </div>

            <div class="filter-by">
                <h2 class="mini"> Filter by: </h2>
            </div>

            <div class="filter-by-group red-hover">
                Groups
            </div>

            <div class="filter-by-network red-hover">
                Networks
            </div>

            <div class="filter-by-political red-hover">
                Local
            </div>

            <div class="filter-by-content red-hover">
                Type
            </div>

            <div class="feed-topic-selector-wrapper topic-icons-wrapper">
                {% for t in main_topics %}
                    <div class="feed-topic-icon-wrapper topic-icon-wrapper" data-id="{{ t.id }}">
                        {% thumbnail t.image "40x40" format="PNG" as im %}
                            <img class="topic-img normal feed-topic-img" src="{{ im.url }}"/>
                        {% endthumbnail %}
                        {% thumbnail t.selected "40x40" format="PNG" as im %}
                            <img class="topic-img selected feed-topic-img" src="{{ im.url }}"/>
                        {% endthumbnail %}
                    </div>
                {% endfor %}
            </div>

            <div class="filter-topic">
                <h2 class="mini"> Topics: </h2>
            </div>

        </div>

        <div class="current-selection">
                <div class="current-filter"> Current Filters: </div>
                <div class="current-options">
                    <a href="" class="feed-clear">
                        clear
                    </a>
                    <a href="" class="feed-save">
                        save
                    </a>
                </div>
        </div>

    </div>

    <!-- feed body -->
    <div class="feed-body">

        <div class="pinterest-wrapper">

        </div>

    </div>

</div>

<script> rebind = 'feed'; </script>