{% load thumbnail %}

<div class="prof-image">
    <a href="{{ creator.get_url }}">
        {% include 'deployment/snippets/avatar.html' with user=creator width="50" height="50" private=item.getPrivate %}
    </a>
</div>

<div class="header-middle">
    <div class="user-name">
        {% if item.getPublic %}
            <a href="{{ creator.get_url }}" class="user-name">
                {{ creator.get_name }}
            </a>
        {% else %}
            <a href="" class="user-name"> Anonymous </a>
        {% endif %}
    </div>
    <p class="submitted">
        {{ item.created_when }}
    </p>
</div>