{% load thumbnail %}

<div class="prof-image">
    {% if item.getPublic %}
        <a href="{{ creator.get_url }}">
            {% include 'deployment/snippets/avatar.html' with user=creator width="50" height="50" private=0 %}
        </a>
    {% else %}
        {% thumbnail defaultImage "50x50" format="PNG" as im %}
            <img src="{{ im.url }}"/>
        {% empty %}
            <img src="/static/images/obama.jpg" width="50px" height="50px">
        {% endthumbnail %}
    {% endif %}
</div>

<div class="header-middle">
    <p class="submitted" id="cman">
        submitted at {{ item.created_when|date:"h:m"}}
    </p>
    <div class="user-name">
        {% if item.getPublic %}
            <a href="{{ creator.get_url }}">
                {{ creator.get_name }}
            </a>
        {% else %}
            <a href=""> Anonymous </a>
        {% endif %}
    </div>
</div>