{% load thumbnail %}

<div class="create-modal create_modal">
    {% include 'deployment/pieces/create_modal.html' %}
</div>

<!-- feed metadata -->
<div id="feed_metadata" data-json="{{ feed_json }}"></div>

<!-- center wrapper -->
<div class="feed-main-div">

<!-- feed header -->
<div class="feed-header">

    <!-- sorting dropdown -->
    <div class="sort-by-choice  menu_toggle menu-toggle">
        <p class="feed-menu-title ranking_menu_title menu-title">
            Hot
        </p>
        <div class="triangle-selector"></div>
        <div class="sort-menu menu" id="menu_sort">
            <div class="menu-option single feed-ranking-selector" data-ranking="N" data-verbose="New">
                New
            </div>
            <div class="gen-menu-separator"></div>
            <div class="menu-option single feed-ranking-selector" data-ranking="H" data-verbose="Hot">
                Hot
            </div>
            <div class="gen-menu-separator"></div>
            <div class="menu-option single feed-ranking-selector" data-ranking="B" data-verbose="Best">
                Best
            </div>
        </div>
    </div>

    <div class="options-box more-options more_options menu-toggle">
        <p class="options-title menu-title">
            filter
        </p>
        <div class="triangle-selector"></div>
    </div>

    <div class="options-box saved-filters-box  menu_toggle menu-toggle">
        <p class="options-title menu-title">
            saved filters
        </p>
        <div class="triangle-selector"></div>
        <div class="saved-menu menu">
            {% for x in my_filters %}
                <div class="menu-option single saved-filter-selector" data-f_id="{{ x.id }}" data-f_name="{{ x.name }}">
                    {{ x.name }}
                    {% if x.name != 'default' %}
                        <div class="x-button delete_saved_filter"></div>
                    {% endif %}
                </div>
                {% if not forloop.last %}
                    <div class="gen-menu-separator"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <!-- display choice -->
    <div class="display-box">
        <div class="display-choice" data-display="P">
            <img src="/static/images/card-view.png" class="display-gray"/>
            <img src="/static/images/card-view-red.png" class="display-red"/>
        </div>
        <div class="display-choice" data-display="L">
            <img src="/static/images/list-view.png"  class="display-gray"/>
            <img src="/static/images/list-view-red.png" class="display-red"/>
        </div>
    </div>


    <div class="create-box create_button">
        <p class="options-title create-title"> create </p>
    </div>

    <a href="" class="how-does"> how does this work? </a>

    <div class="clear-both"></div>
</div>

<!-- more options box -->
<div class="more-options-wrapper">


    <div class="more-options-selector">

        <div class="filter-by">
            <h3 class="mini"> filter by: </h3>
        </div>

        <div class="filter-by-group  menu_toggle menu-toggle">
            <p class="feed-menu-title menu-title">
                groups
            </p>
            <div class="triangle-selector"></div>
            <div class="group-menu menu">
                {% for g in my_groups %}
                    <div class="group-box group_box feed_group_selector tooltip-top" data-g_id="{{ g.id }}" title="{{ g.title }}">
                        {% include 'deployment/snippets/group_box.html' with group=g %}
                    </div>
                {% empty %}
                    You are not a member of any groups.
                {% endfor %}
            </div>
        </div>

        <div class="filter-by-network menu_toggle menu-toggle">
            <p class="feed-menu-title menu-title">
                networks
            </p>
            <div class="triangle-selector"></div>
            <div class="group-menu menu">
                {% for g in my_networks %}
                    <div class="network-box feed_group_selector group_box" data-g_id="{{ g.id }}" title="{{ g.title }}">
                        {{ g.title|truncatechars:18 }}
                    </div>
                    {% if not forloop.last %}
                        <div class="gen-menu-separator"></div>
                    {% endif %}
                {% empty %}
                    You are not a member of any networks.
                {% endfor %}
            </div>
        </div>

        <div class="filter-by-political  menu_toggle menu-toggle">
            <p class="feed-menu-title political_menu_title menu-title">
                scale
            </p>
            <div class="triangle-selector"></div>
            <div class="political-menu menu">
                <div class="menu-option multi feed-level-selector" data-level="L">
                    Local
                </div>
                <div class="gen-menu-separator"></div>
                <div class="menu-option multi feed-level-selector" data-level="S">
                    State
                </div>
                <div class="gen-menu-separator"></div>
                <div class="menu-option multi feed-level-selector" data-level="F">
                    Federal
                </div>
                <div class="gen-menu-separator"></div>
                <div class="menu-option multi feed-level-selector" data-level="W">
                    World
                </div>
            </div>
        </div>

        <div class="filter-by-content  menu_toggle menu-toggle">
            <p class="feed-menu-title menu-title">
                type
            </p>
            <div class="triangle-selector"></div>
            <div class="type-menu menu">
                <div class="menu-option multi feed-type-selector" data-type="N">
                    News
                </div>
                <div class="gen-menu-separator"></div>
                <div class="menu-option multi feed-type-selector" data-type="P">
                    Petitions
                </div>
                <div class="gen-menu-separator"></div>
                <div class="menu-option multi feed-type-selector" data-type="G">
                    Groups
                </div>
            </div>
        </div>

        <div class="feed-topic-selector-wrapper topic-icons-wrapper">
            {% for t in main_topics %}
                <div class="feed-topic-icon-wrapper topic-icon-wrapper" data-t_id="{{ t.id }}">
                    {% thumbnail t.image "35x35" format="PNG" as im %}
                        <img class="topic-img normal feed-topic-img tooltip-top" title="{{ t.topic_text }}" src="{{ im.url }}"/>
                    {% endthumbnail %}
                    {% thumbnail t.selected "35x35" format="PNG" as im %}
                        <img class="topic-img selected feed-topic-img tooltip-top" title="{{ t.topic_text }}" src="{{ im.url }}"/>
                    {% endthumbnail %}
                </div>
            {% endfor %}
        </div>

        <div class="filter-topic">
            <h2 class="mini"> topics: </h2>
        </div>

    </div>

<!--
    <div class="current-selection">
        <div class="current-filter">
            <p class="current-filter-text"> Current Filters: </p>
        </div>
        <div class="current-options-images"> </div>
        <div class="current-options">
            <a href="" class="feed-clear feed_clear">
                clear
            </a>
            <a href="" class="feed-save save_filter_button">
                save
            </a>
        </div>
        <input type="text" name="filter-name" id="some_id" class="save_filter_input"/>
    </div>
-->

    <div id="clear-save">
        <a href="#" class="feed_clear gray-button">
            clear filter
        </a>
        <a href="#" class="save-filter gray-button open_save_button">
            save filter
        </a>
        <div class="save-dialog">
            <div class="save-pointer-up" class="select-none"></div>
            <div class="save-div">
                <div class="save-text">
                    Enter a name for this filter.
                </div>
                <input class='save_filter_input'/>
                <a href="#" class="save_filter_button save-filter-button"> save </a>
            </div>
        </div>
        <a class="saved-message"> saved </a>
    </div>

    <div style="clear:both"></div>

</div>

<!-- feed body -->
<div class="feed-body">

    <div class="pinterest-wrapper">

        {% for x in num_pinterest %}
            <div class="pinterest_column
                 {% if forloop.counter0 != 0 %}
                        pinterest-column-not-first
                    {% endif %}"
                 data-column="{{ forloop.counter0 }}"></div>
        {% endfor %}

    </div>

    <div class="linear-wrapper">
        <div class="linear-items-wrapper">

        </div>
        <div class="right-sidebar">
            <div id="sidebar">
                <div id="sidebar-fixed-div">
                    {% include 'deployment/pieces/right_sidebar_questions.html' %}
                </div>
            </div>
        </div>
    </div>

</div>

</div>

<script> rebind = 'feed'; </script>