{% for x in items %}

    {% with item=x.0 my_vote=x.1 %}

        {% if display == 'P' %}

            <div class="pinterest_card pinterest_unrendered" data-rank="{{ forloop.counter }}">
                {% include 'deployment/center/feed/pinterest.html' %}
            </div>

        {% else %}

            <div class="linear-wrapper">
                {% if item.type == "N" %}

                    {% include 'deployment/center/feed/linear_news.html' with news=item.downcast %}

                {% elif item.type == "P" %}

                    {% include 'deployment/center/feed/linear_petition.html' with petition=item.downcast %}

                {% endif %}
            </div>

        {% endif %}

    {% endwith %}

{% endfor %}


