{% load thumbnail %}

<div class="pinterest-image">
    {% if item.type == 'N' %}
        {% thumbnail item.link_screenshot "250x500" as im %}
            <img src="{{ im.url }}"/>
        {% endthumbnail %}
    {% elif item.type == 'G' %}
        {% thumbnail item.getImage "250x500" as im %}
            <img src="{{ im.url }}" data-height="{{ im.height }}"/>
        {% endthumbnail %}
    {% elif item.type == 'P' %}
            {% if item.main_image %}
                {% thumbnail item.getImage "250x500" as im %}
                    <img src="{{ im.url }}" data-height="{{ im.height }}"/>
                {% endthumbnail %}
            {% endif %}
    {% endif %}
</div>
