{% load thumbnail %}

<div class="pinterest-image">
    {% if item.type == 'N' %}
        {% thumbnail item.link_screenshot "300x500" as im %}
            <img src="{{ im.url }}"/>
        {% endthumbnail %}
    {% elif item.type == 'G' %}
        {% thumbnail item.getImage "300x500" as im %}
            <img src="{{ im.url }}" data-height="{{ im.height }}"/>
        {% endthumbnail %}
    {% elif item.type == 'P' %}
        {% with image=item.getFeedImage %}
            {% if image %}
                {% thumbnail image "300x500" as im %}
                    <img src="{{ im.url }}" data-height="{{ im.height }}"/>
                {% empty %}
                    ?
                {% endthumbnail %}
            {% endif %}
        {% endwith %}
    {% endif %}
</div>
