{% load thumbnail %}

{% with creator=item.getCreatorDisplay %}

    <div class="pinterest_card pinterest_unrendered" data-rank="{{ pinterest_sequence }}">

        <div class="pinterest">

            <div class="pinterest-main">

                <div class="pinterest-header">

                    <!-- avatar -->
                    {% include 'deployment/center/feed/feed_avatar.html' %}

                    <div class="header-topic">
                        {% thumbnail item.getMainTopic.image "50x50" format="PNG" as im %}
                            <img src="{{ im.url }}"/>
                        {% endthumbnail %}
                    </div>

                    <div style="clear:both"></div>
                </div>

                <!-- image -->
                {% if item.type == 'N' or item.type == 'G' %}
                    {% include 'deployment/center/feed/feed_image.html' %}
                {% endif %}

                <!-- title -->
                {% include 'deployment/center/feed/feed_title.html' %}

                <!-- summary -->
                {% include 'deployment/center/feed/feed_summary.html' %}

                <!-- top-comment -->
                {% with top_comment=item.getTopComment %}
                    {% if top_comment %}
                        {% include 'deployment/center/feed/top_comment.html' %}
                    {% endif %}
                {% endwith %}

                <!-- petition bar -->
                {% if item.type == 'P' %}
                    {% include 'deployment/snippets/petition_bar.html' with p=item %}
                {% endif %}

                <!-- footer -->
                {% include 'deployment/center/feed/social_bar.html' %}

            </div>

        </div>

    </div>

{% endwith %}