{% load thumbnail %}
{% load customtags %}

<a href="{{ item.get_url }}" class="pinterest-top-comment">

    <div class="comment-header">
        {% with creator=top_comment.getCreatorDisplay %}
            <div class="comment-image">
                    <div class="bind_link top-comment-name" data-url="{{ creator.get_url }}">
                        {% include 'deployment/snippets/avatar.html' with user=creator width="20" height="20" %}
                    </div>
            </div>

            <div class="comment-creator">
                {% if top_comment.getPublic %}
                    <div class="bind_link" data-url="{{creator.get_url}}"> {{ creator.get_name }} </div> said,
                {% else %}
                    Anonymous said,
                {% endif %}
            </div>
        {% endwith %}
    </div>

    <div class="comment-text">
        "{{ top_comment.text|truncate_chars:800 }}"
    </div>

</a>