{% extends 'emails/frame.html' %}

{% block content %}

    <h2 style="color:#005468;font-weight:normal;">Hello {{ name }},</h2>

    <p>
        Welcome to LoveGov!  You registered via Facebook and can continue to log in through Facebook.
        You may also log in using the username and password below.
    </p>
    <br>
    <p>
        <a style="color:#005468;">username:</a>{{ email }}
        <br/>
        <a style="color:#005468;">password:</a>{{ password }}</p>
    <br>
    <p>
        You can change your password once you are logged on through the account settings page.
    </p>

{% endblock %}