<!DOCTYPE html>

<html>
<body>

<div id="main" style="
		position:relative;
		margin-top:40px;
		margin-left:40px;
		margin-right:40px;
		margin-bottom:40px;
		padding:30px;
		border:1px solid #f0503b;
		font-family:Helvetica, Verdana, sans-serif;
		font-size:12pt;">

    <img src="http://lovegov.com/static/images/top-logo-default.png">

    {% block content %}
    {%  endblock %}

    <p>Love,</p>

    <h2 style="color:#005468;font-weight:normal;">The LoveGov Team</h2>

</div>

</body>
</html>