{% extends 'emails/frame.html' %}

{% block content %}

    <h2 style="color:#005468;font-weight:normal;">Hello {{ name }},</h2>

    <p>
        Now that Mitt Romney has announced his running mate,
        we put up a <a href="http://lovegov.com/match/vicepresidential/"> match page </a> comparing Paul Ryan and Joe Biden,
        so come check it out and see how they match with you. </p>

        <p>
        Also, stay tuned for our launch in September.
        The new LoveGov will be more community oriented with a host of new features.
        Some of the highlights include discussions, user generated polls,
        scorecards, and tools to explore legislation.
        We're hoping these new tools will help student groups,
        towns, non-profits, and politicians use LoveGov to make a difference, especially on the local level.
            </p>

    <p>
        Keep the feedback coming and thank you to our earliest users for all of your support.
        </p>
<br><br>
    <p>
        Love,
        </p>
    <p>
        The LoveGov Team
    </p>

{% endblock %}