{% load thumbnail %}
{% load customtags %}
{% load humanize %}

<div class="feed-item">

    <div class="feed-item-content">

        <!---- FLOATED RIGHT --->
        <div class="feed-item-user-info">

            <div class="feed-item-comments-wrapper">
                <div class="feed-item-comments">
                    <a href="{{ item.getCommentsURL}}">
                        <div class="feed-num-comments">
                            {{ item.num_comments }}
                        </div>
                    </a>
                </div>
            </div>

            {% with creator=item.creator %}
                <div class="feed-user-name">

                    <div class="feed-avatar-image">
                        <a href="{{ creator.get_url }}">{% include "site/pieces/avatar.html" with user=creator height='35' width='35' %}</a>
                    </div>

                    <div class="feed-avatar-text">
                        <a href="{{ creator.get_url }}">
                            <div class="feed-avatar-name">
                                {{ creator.get_name }}
                            </div>
                        </a>
                        <div class="feed-avatar-timestamp">
                            {{ item.created_when|naturaltime }}
                        </div>
                    </div>

                    <div style="clear:both"></div>

                </div>
            {% endwith %}

        </div>

        <div class="feed-item-left-buttons">

            {% block content-image %}

                <div class="item-content-image">

                </div>

            {% endblock %}

            <div class="item-ranking" data-c_id="{{ item.id }}">

                <div class="heart-plus heart_plus{% if my_vote == 1 %} clicked{% endif %}"></div>
                <div class="heart-number heart_number">{{ item.status }}</div>
                <div class="heart-minus heart_minus{% if my_vote == -1 %} clicked{% endif %}"></div>

            </div>

        </div>

        {% block feed-image %}
            <div class="feed-item-image">
                {% include 'site/pieces/avatar.html' with user=item width="180" height="118" hoveroff=1 %}
            </div>
        {% endblock %}

        <div class="feed-item-main">
            {% with g=item.posted_to %}
                <a href="{{ g.get_url }}">
                    <div class="feed-item-group-name">
                        {{ g.get_name }}
                    </div>
                </a>
            {% endwith %}

            <div class="feed-item-title">
                <a href="{{item.get_url}}" target="_blank"> <h3 class="title-text"> {{ item.getTitleDisplay|truncate_chars:80 }} </h3> </a>
            </div>
            {% block feed-item-content %}
                feed item content
            {% endblock %}
        </div>
    </div>

</div>