{% load thumbnail %}
{% load customtags %}
{% load humanize %}

<div class="feed-item-thin">

    <!-- FLOAT RIGHT -->
    <div class="feed-item-thin-right-info">

        <div class="feed-thin-user-name">

            <div class="feed-thin-avatar-image">
                {% include "site/pieces/avatar.html" with user=item.creator height='35' width='35' %}
            </div>

            <div class="feed-thin-avatar-text">
                <div class="feed-thin-avatar-name">
                    {{ item.creator.get_name }}
                </div>
                <div class="feed-thin-avatar-timestamp">
                    {{ item.created_when|naturaltime }}
                </div>
            </div>

        </div>

        <a href="{{ item.getCommentsURL }}">
            <div class="feed-item-thin-comments">
                <div class="feed-thin-num-comments">
                    {{ item.num_comments }}
                </div>
            </div>
        </a>

    </div>

    <div class="feed-item-thin-icon {{ item.getTypeIconClass }}"></div>

    <div class="feed-item-thin-ranking" data-c_id="{{ item.id }}">

        <div class="heart-minus heart_minus{% if my_vote == -1 %} clicked{% endif %}"></div>
        <div class="heart-number heart_number">{{ item.status }}</div>
        <div class="heart-plus heart_plus{% if my_vote == 1 %} clicked{% endif %}"></div>

    </div>

    <div class="feed-item-thin-text">
        {% with posted_to=item.posted_to %}
            {% if posted_to %}
                <a class="feed-item-thin-top-text" href="{{ posted_to.get_url }}"> {{ posted_to.get_name }} </a>
            {% else %}
                <a class="feed-item-thin-top-text"> not posted to group </a>
            {% endif %}
        {% endwith %}
        <a href="{{ item.get_url }}" class="feed-item-thin-title"><h3>{{ item.getTitleDisplay }}</h3></a>
    </div>

</div>