<div class="feed-main feed_main feedtut_start_tutorial_parent feedtut_groups_parent"
     data-feed_start="0"
        {% if not special_feed %} data-feed="getFeed" {% else %} data-feed="{{ special_feed }}" {% endif %}
        {% if not default_display %} data-default_display="none" {% else %} data-default_display="{{ default_display}}" {% endif %}
        {% if only_unanswered %} data-only_unanswered="true" {% else %} data-only_unanswered="false" {% endif %}
        {% if poll_id %} data-p_id="{{ poll_id }}" {% endif %}
        {% if scorecard_id %} data-scorecard_id="{{ scorecard_id }}" {% endif %}
        {% if save_scorecard_answer %} data-save_scorecard_answer="1" {% endif %}
        {% if to_compare %} data-to_compare_id="{{ to_compare.id }}" {% endif %}
        {% if like_minded_filter %} data-like_minded="" {% endif %}
        >

    <!-- feed tutorial -->
    {% include 'site/pages/helper_bubbles/feedtut/feedtut.html' %}

    <table class="feed-top-bar">
        <tr>

            <td class="feed-left-buttons">

                <div class="feed-buttons-container">

                    {% block sort_buttons %}
                        <div class='buttons-container-text'>Sort by:</div>
                        <div class="sort-button feed_button rank_button" data-rank="N" >New</div>
                        <div class="sort-button feed_button rank_button" data-rank="H">Hot</div>
                        <div class="sort-button feed_button rank_button last-button" data-rank="B">Best</div>
                    {% endblock %}

                </div>

                <div class="feed-buttons-container">

                    {% block filter_buttons %}

                        {% if not no_filters %}

                            <div class='buttons-container-text'>Filter by:</div>
                            <div class="sort-button feed_button type_button" data-type="N" >News</div>
                            <div class="sort-button feed_button type_button" data-type="O">Poll</div>
                            <div class="sort-button feed_button type_button" data-type="P">Petition</div>
                            <div class="sort-button feed_button type_button last-button" data-type="D">Discussion</div>

                            {% if like_minded_filter %}

                                <a class="like-minded-text like_minded_link dummy_link" id="like_minded_link_id"> only like-minded </a>
                                <input type="checkbox" class="like-minded-checkbox like_minded_button" id="like_minded_link_id1"
                                        {% if only_unanswered %} checked="checked" {% endif %} />

                                <div class="like-minded-header-dialogue like_minded_header_dialogue">
                                    {% include 'site/pages/like_minded/like_minded_dialogue.html' %}
                                </div>

                            {% endif %}

                        {% endif %}

                        <a class="take_a_tutorial help-robot tooltip-top" title="take a tutorial?" data-tutorial="feed">
                            {% include 'site/pieces/thumbnail.html' with thumbnail_url="/static/images/icons/logo/lg_robot.jpg" width="25" height="25" %}
                        </a>

                    {% endblock %}

                </div>

                <div style="clear:both"></div>

            </td>

            <td>
                {% block right_button %}
                    {% if not no_create_button %}
                        <table class='create-button feedtut_create_parent'>
                            <tr>
                                <td class="create-button" {% if g_id %} data-g_id="{{ g_id }}" {% endif %}>
                                    create
                                </td>
                            </tr>
                        </table>

                        <!-- helper bubble -->
                        {% include 'site/pages/helper_bubbles/create_helper_bubble.html' with which_bubble="create_helper_bubble" arrow_direction="up" %}

                    {% endif %}
                {% endblock %}
            </td>

        </tr>
    </table>

    <div class="feed-content-wrapper">
        <div class="feed-content feed_content {% if feed_boxed %} feed-boxed {% endif %}"></div>
        <div class="feed-fetching feed_fetching"></div>
        <div class="load-more load_more"> <p> load more </p></div>
        <div class="everything_loaded_wrapper">
            <div class="reached_the_end everything-loaded-header everything_loaded_header">
                You reached the end of the feed, so here's a politician.
            </div>
            <div class="nothing_there everything-loaded-header everything_loaded_header">
                This feed doesn't have any content, so here's a picture of a politician.
            </div>
            <div class="everything_loaded_image_wrapper">

            </div>
            {% comment %}
            <script src="//www.gmodules.com/ig/ifr?url=http://hosting.gmodules.com/ig/gadgets/file/108222585237173953480/XKCD-1_0_4.xml&amp;up_show_date=0&amp;up_show_summ=1&amp;up_num_entries=1&amp;synd=open&amp;w=940&amp;h=300&amp;title=&amp;border=%23ffffff%7C3px%2C1px+solid+%23999999&amp;output=js"></script>
            {% endcomment %}
        </div>
    </div>

</div>