{% for x in feed_items %}
    {% with item=x.0 my_vote=x.1 %}
        {% if item.type == "N" %}
            {% include "site/pages/feed/news-item.html" %}
        {% elif item.type == "P" %}
            {% include "site/pages/feed/petition-item.html" %}
        {% elif item.type == "S" %}
            {% include "site/pages/feed/poll-item.html" %}
        {% elif item.type == "D" %}
            {% include "site/pages/feed/discussion-item.html" %}
        {% endif %}
    {% endwith %}
{% endfor %}