<div class="feed-main feed_main" data-feed_start="0" {% if not special_feed %}
     data-feed="getFeed" {% else %} data-feed="{{ special_feed }}" {% endif %}>

    <table class="feed-top-bar">
        <tr>

            <td class="feed-left-buttons">

                <div class="feed-buttons-container">

                    {% block sort_buttons %}
                        <div class='buttons-container-text'>Sort by:</div>
                        <div class="sort-button feed_button rank_button" data-rank="N" >New</div>
                        <div class="sort-button feed_button rank_button" data-rank="H">Hot</div>
                        <div class="sort-button feed_button rank_button last-button" data-rank="B">Best</div>
                    {% endblock %}

                </div>

                <div class="feed-buttons-container">

                    {% block filter_buttons %}
                        <div class='buttons-container-text'>Filter by:</div>
                        <div class="sort-button feed_button type_button" data-type="N" >News</div>
                        <div class="sort-button feed_button type_button" data-type="O">Poll</div>
                        <div class="sort-button feed_button type_button" data-type="P">Petition</div>
                        <div class="sort-button feed_button type_button last-button" data-type="D">Discussion</div>
                    {% endblock %}

                </div>

                <div style="clear:both"></div>

            </td>

            <td>
                {% block right_button %}
                <table class='create-button'>
                    <tr>
                        <td class="create-button">
                            create
                        </td>
                    </tr>
                </table>
                {% endblock %}
            </td>

        </tr>
    </table>

    <div class="feed-content-wrapper">
        <div class="feed-content feed_content"></div>
        <div class="feed-fetching feed_fetching"></div>
        <div class="load-more load_more"> <p> load more </p></div>
    </div>

</div>