{% comment %}
{% for x in feed_items %}
    {% with item=x.0.downcast my_vote=x.1 %}
        {% if item.type == "N" %}
            {% include "site/pages/feed/news-item.html" %}
        {% elif item.type == "P" %}
            {% include "site/pages/feed/petition-item.html" %}
        {% elif item.type == "O" %}
            {% include "site/pages/feed/poll-item.html" %}
        {% elif item.type == "D" %}
            {% include "site/pages/feed/discussion-item.html" %}
        {% endif %}
    {% endwith %}
{% endfor %}
{% endcomment %}

{% for x in feed_items %}
    {% with content=x.0.downcast my_vote=x.1 %}
        {% if content.type == "N" %}
            {% include "site/pages/feed/feed_items/news_item.html" %}
        {% elif content.type == "P" %}
            {% include "site/pages/feed/feed_items/petition_item.html" %}
        {% elif content.type == "O" %}
            {% include "site/pages/feed/feed_items/poll_item.html" %}
        {% elif content.type == "D" %}
            {% include "site/pages/feed/feed_items/discussion_item.html" %}
        {% elif content.type == "Q" %}
            {% include "site/pages/feed/feed_items/question_item.html" %}
        {% elif content.type == "L" %}
            {% include "site/pages/legislation/legislation-stub.html" with l=content %}
        {% endif %}
    {% endwith %}
{% endfor %}