<div class="feed-main feed_main feedtut_start_tutorial_parent"
     data-feed_nonce="0"
     data-feed_start="0"
        {% if not special_feed %} data-feed="getFeed" {% else %} data-feed="{{ special_feed }}" {% endif %}
        {% if not default_display %} data-default_display="none" {% else %} data-default_display="{{ default_display}}" {% endif %}
        {% if only_unanswered %} data-only_unanswered="true" {% else %} data-only_unanswered="false" {% endif %}
        {% if poll_id %} data-p_id="{{ poll_id }}" {% endif %}
        {% if scorecard_id %} data-scorecard_id="{{ scorecard_id }}" {% endif %}
        {% if save_scorecard_answer %} data-save_scorecard_answer="1" {% endif %}
        {% if to_compare %} data-to_compare_id="{{ to_compare.id }}" {% endif %}
        {% if profile_id %} data-profile_id="{{ profile_id }}" {% endif %}
        {% if trial_questions %} data-trial_questions="1" {% endif %}
        {% if single_item %} data-single_item="1" {% endif %}
        {% if like_minded_filter %} data-like_minded="" {% endif %}
        {% if agreement_ids %} data-agreement_ids="{{ agreement_ids }}" {% endif %}
        {% if data_which %} data-which="{{ data_which }}" {% endif %}
        {% if data_u_ids %} data-u_ids="{{ data_u_ids }}" {% endif %}
        {% if data_g_id %} data-g_id="{{ data_g_id }}" {% endif %}
        >

    <!-- feed tutorial -->
    {% include 'site/pages/helper_bubbles/feedtut/feedtut.html' %}

    <div class="feed-top-bar">

        <div class="feed-left-buttons">

            {% block left_button %}
            {% endblock %}

            <div class="feed-buttons-container">

                {% block sort_buttons %}

                    <div class='buttons-container-text'>Sort by:</div>


                    <div class="sort-button feed_button rank_button" data-rank="N" >New</div>
                    <div class="sort-button feed_button rank_button" data-rank="H">Hot</div>
                    <div class="sort-button feed_button rank_button last-button" data-rank="B">Best</div>
                {% endblock %}

            </div>

            <div class="feed-buttons-container">

                {% block filter_buttons %}

                    {% if not no_filters %}


                        <div class='buttons-container-text'>Filter by:</div>

                        <div class="sort-button feed_button type_button" data-type="N" >News</div>
                        <div class="sort-button feed_button type_button" data-type="Q">Questions</div>
                        <div class="sort-button feed_button type_button" data-type="P">Petitions</div>
                        <div class="sort-button feed_button type_button last-button" data-type="D">Discussions</div>

                        {% comment %}
                            {% if like_minded_filter %}

                                <a class="like-minded-text like_minded_link dummy_link" id="like_minded_link_id"> only like-minded </a>
                                <input type="checkbox" class="like-minded-checkbox like_minded_button" id="like_minded_link_id1"
                                        {% if only_unanswered %} checked="checked" {% endif %} />

                                <div class="like-minded-header-dialogue like_minded_header_dialogue">
                                    {% include 'site/pages/like_minded/like_minded_dialogue.html' %}
                                </div>

                            {% endif %}
                            {% endcomment %}

                    {% endif %}

                {% endblock %}

            </div>

            {% if feedtut %}
                {% include 'site/pages/helper_bubbles/helper_robot.html' with tutorial="feed" %}
            {% endif %}

            <div style="clear:both"></div>

        </div>

        <div>
            {% block right_button %}
                {% if show_create_button %}
                    <div class="create-button feedtut_create_parent" {% if g_id %} data-g_id="{{ g_id }}" {% endif %}>
                        post
                    </div>
                {% endif %}
                <!-- helper bubble -->
                {% include 'site/pages/helper_bubbles/create_helper_bubble.html' with which_bubble="create_helper_bubble" arrow_direction="up" %}
            {% endblock %}
        </div>

    </div>


    <div class="feed-content-wrapper">
        <div class="feed-content feed_content {% if not no_feed_rules %} feed-rules {% endif %}"></div>

        {% if not no_fetching %}
            <div class="feed-fetching-wrapper">
                <div class="feed_fetching feed-fetching"></div>
            </div>
        {% endif %}

        {% if not no_load_more %}
            <div class="load-more load_more"> <p> load more </p></div>
        {% endif %}

        {% if single_item %}
            <div class="navigation-buttons">
                <a class="stub-button button-next load_previous left"> previous </a>
                <a class="stub-button button-next load_next right"> next </a>
            </div>
        {% endif %}

        {% if not no_everything_loaded %}
            <div class="everything_loaded_wrapper">
                <div class="reached_the_end everything-loaded-header everything_loaded_header">
                    You reached the end of the feed, so here's a politician.
                </div>
                <div class="nothing_there everything-loaded-header everything_loaded_header">
                    {% block nothing_there %}
                        This feed doesn't have any content, so here's a picture of a politician.
                    {% endblock %}
                </div>
                <div class="everything_loaded_image_wrapper">

                </div>
            </div>
        {% endif %}

    </div>

</div>