{% load customtags %}
{% load thumbnail %}

<div class="feed-item">

    <div class="feed-item-bar">

    </div>

    <div class="feed-item-content">

        <div class="feed-item-left-buttons">

            <div class="item-topic-image">

                {% with topic=item.getMainTopic %}
                    {% thumbnail topic.image "40x40" format="PNG" as im %}
                        <img src="{{ im.url }}" title="{{topic.topic_text}}" class="tooltip-top"/>
                    {% endthumbnail %}
                {% endwith %}

            </div>

            <div class="item-ranking">

            </div>

        </div>

        <div class="feed-item-image">

        </div>

        <div class="feed-item-main">

            {% thumbnail item.link_screenshot "250x500" format="PNG" as im %}
                <img src="{{ im.url }}"/>
            {% endthumbnail %}

            <a href="{{item.link}}" target="_blank"> <h3 class="title-text"> {{ item.title|truncate_chars:80 }} </h3> </a>
            {{ item.link_summary|truncatechars:50|linebreaks }}

        </div>

        <div class="feed-item-user-info">

        </div>

    </div>

</div>