{% extends 'site/pages/feed/base-item.html' %}
{% load thumbnail %}
{% load customtags %}


{% block content-image %}

    <div class="item-content-image poll-image">

    </div>

{% endblock %}




{% block feed-item-content %}

    <div class="feed-item-description">
        {{ item.description|truncate_chars:50 }}
    </div>

    <div class="poll-sample-wrapper">
        {% include 'site/pages/content_detail/poll_sample.html' with which=0 question=item.questions.all.0 poll=item %}
    </div>

{% endblock %}