<div class="sponsor_selector">
    <h3>Bill Sponsor</h3>
    <ul>
        <li>
            <select multiple class="sponsor_select_body" data-selector="sponsor_filter">
                <optgroup label="Sponsor body" id="bill_sponsor_body">
                    <option class="sponsors" value='S'>US Senate</option>
                    <option class="sponsors" value='H'>US House of Representatives</option>
                </optgroup>
            </select>
        </li>
        <li>
            <select multiple class="sponsor_select_name" data-selector="sponsor_filter">
                <optgroup label="Sponsor name" id="bill_sponsor_name">
                    {% for sponsor in sponsors %}
                        <option class="sponsors" value='{{ sponsor.id }}'>{{ sponsor.get_name }}</option>
                    {% endfor %}
                </optgroup>
            </select>
        </li>
        <li>
            <select class="sponsor_select_party" data-selector="sponsor_filter">
                <optgroup label="Sponsor party" id="bill_sponsor_party">
                    {% for sponsor_party in sponsor_parties %}
                        <option class="sponsors" value='{{ sponsor_party.id }}'>{{ sponsor_party.title }}</option>
                    {% endfor %}
                </optgroup>
            </select>
        </li>
        {% comment %}
                 <li>
                    <select multiple class="sponsor_select_district" data-selector="sponsor_filter">
                        <optgroup label="Sponsor district" id="bill_sponsor_district">
                            {% for district in districts %}
                                <option class="sponsors" value='{{ district }}'>{{ district }}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                </li>
{% endcomment %}
    </ul>
</div>
