
@font-face {
    font-family: "Gill Sans Std Light";
    src: url(../GillSansStd-Light.otf); }

@font-face {
    font-family: "Gill Sans Std";
    src: url(../GillSansStd.otf); }

@font-face {
    font-family: "Sonus Light";
    src: url(../SonusLig.otf); }

/* Main Colors */
/* Topic Colors */
/* Fonts */
@font-face {
    font-family: "Gill Sans Std Light";
    src: url(../GillSansStd-Light.otf); }

@font-face {
    font-family: "Gill Sans Std";
    src: url(../GillSansStd.otf); }

@font-face {
    font-family: "Sonus Light";
    src: url(../SonusLig.otf); }

/* Main Colors */
/* Topic Colors */
/* Fonts */
/* Mixins */


div.sidebar-box {
    position: fixed;
    left: 140px;
    top: 100px;
    height: 800px;
    width: 300px;
    padding: 5px;
    overflow: auto;
}

div.sidebar-box div.div-toggle {
    position:fixed;
    height:100px;
    width: 300px;
    left: 150px;
    top: 100px;
}

div.sidebar-box div.sidebar {
    position: fixed;
    left: 140px;
    top: 150px;
    height: 800px;
    width: 250px;
    padding: 5px;
    overflow: auto;
}

div.sidebar-box div.sidebar div.col1 {
    position: fixed;
    width: 230px;
    height: 50px;
    float: left;
    top: 150px;
    padding: 5px;
    text-align: left;
    overflow: auto;
}

div.sidebar-box div.sidebar div.col2 {
    position: fixed;
    width: 230px;
    height: 50px;
    float: left;
    top: 190px;
    padding: 5px;
    text-align: left;
    overflow: auto;
}

div.sidebar-box div.sidebar div.col3 {
    position: fixed;
    width: 230px;
    height: 50px;
    float: left;
    top: 230px;
    padding: 5px;
    text-align: left;
    overflow: auto;
}

div.sidebar-box div.sidebar div.col4 {
    position: fixed;
    width: 230px;
    height: 50px;
    float: left;
    top: 270px;
    padding: 5px;
    text-align: left;
    overflow: auto;
}

input[type="checkbox"]{
    position: relative;
    top: 5px;
    right: 5px;
}









