
div#content-leg-div {
    width: 200px;
	margin-left: 165px;
	margin-right: auto;
	margin-top: 40px;
    border: 10px;
	font-family: "Helvetica";
}

div#content-leg-div.content-filter-box.menu_toggle {
    background-color: black;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
}

div#content-leg-div.content-filter-box.menu_toggle.hovered {
    background-color: #8a2be2;
}

div#content-leg-div.content-filter-box.menu_toggle.hovered.clicked {
    background-color: blue;
}

div#content-leg-div.content-filter-box.menu_toggle.clicked {
    background-color:green;
}

div#content-leg-div.column1 {
    width: 200px;
    float: left;
}

div#content-leg-div.column2 {
    width:180px;
}

div#content-leg-div.column3 {
    width: 200px;
}

div#content-leg-div.column4 {
    width: 200px;
    float: right;
}

.checkbox {
   position: relative;
   top: 5px;
   right: 5px;
}






