{% load thumbnail %}

<div class="topic-icons-wrapper">
    {% for t in main_topics %}
        <div class="create-topic-icon-wrapper topic-icon-wrapper tooltip-bottom" title="{{ t.topic_text }}">
            {% thumbnail t.image "50x50" format="PNG" as im %}
                <img class="topic-img normal create-topic-img" src="{{ im.url }}"/>
            {% endthumbnail %}
            {% thumbnail t.selected "50x50" format="PNG" as im %}
                <img class="topic-img selected create-topic-img" src="{{ im.url }}"/>
            {% endthumbnail %}
            <input type="hidden" class="t-alias" value="{{t.alias}}"/>
            <input type="radio" class="topic-radio" id="P_{{t.id}}" value="{{t.id}}" name="topics" />
        </div>
    {% endfor %}
</div>

