<div class="main-div data_start" data-start="{{ start_page }}">

    <div class="nav-top-div">
        <div class="top-nav-left">
            <div data-show="howitworks-div" class="about-div-button"><span>How it works</span></div>
            <div data-show="whoarewe-div" class="about-div-button"><span>Team & Mission</span></div>
            <div data-show="faq-div" class="about-div-button"><span>FAQ</span></div>
            <div data-show="privacy-div" class="about-div-button"><span>Privacy</span></div>
            <div data-show="contact-div" class="about-div-button"><span>Contact</span></div>
            <div data-show="jobs-div" class="about-div-button"><span>Jobs</span></div>
            <div data-show="video-div" class="about-div-button"><span>Video</span></div>
            <div data-show="terms-div" class="about-div-button"><span>Terms Of Use</span></div>
        </div>
        <div id="about-content">

            <div id="privacy-div" class="about-section">
                {% include 'site/pages/privacy.html' %}
            </div>

            <div id="whoarewe-div" class="about-section">
                {% include 'site/pages/who-are-we.html' %}
            </div>

            <div id="howitworks-div" class="about-section">
                {% include 'site/pages/how-it-works.html' %}
            </div>

            <div id="faq-div" class="about-section">
                {% include 'site/pages/faq.html' %}
            </div>

            <div id="jobs-div" class="about-section">
                {% include 'site/pages/jobs.html' %}
            </div>

            <div id="contact-div" class="about-section">
                {% include 'site/pages/contact.html' %}
            </div>

            <div id="video-div" class="about-section">
                {% include 'site/pages/video.html' %}
            </div>

            <div id="terms-div" class="about-section">
                {% include 'site/pages/terms.html' %}
            </div>

        </div>
    </div>


</div>