<h1>FAQ</h1>

<div class="faq-question">

<h2>Where do your questions come from?</h2>

<p>We write all our own questions. 
They’re based off of the principle elements of legislation that was recently voted on in Congress. 
Right now we’re working on integrating legislation into the site—soon you’ll
be able to see specifically which piece of legislation a question is based on.</p>

</div>

<div class="faq-question">

<h2>How do you generate matches?</h2>

<p>Matches are based on which answer you gave and how strongly you weighted the question.
There’s no mysterious formula that generates a magic number. The formula is,  </p>
    <p>
 total weight of questions both users answered the same &divide total weight of questions both users answered = match %
    </p>
    <p>
    We generate answers for presidential
candidates and congressmen based on our own research of their voting records and their stated opinions. Right now only the views
        of the presidential candidates, and congressmen from Rhode Island and Massachusetts are researched by hand. The views
        of the rest of Congress are determined by parsing voting records from a legislation database, and answering our questions
        based on their ties to legislation. This doesn't totally capture a politician's views, but we hope that as LoveGov grows politicians will start to take notice,
        and eventually claim their profiles on LoveGov and answer our questions themselves.
    </p>

</div>

<div class="faq-question">

<h2>How does privacy work?</h2>

<p>It’s simple: we will never sell your personal information. You’re in complete control over whether people can 
see your information, activity and answers. There are two modes of navigating LoveGov: public and anonymous. 
In public mode, everyone can see what you’re doing. In anonymous mode, when you create a comment or piece of content, 
other users see “Anonymous” as the creator and it will not be attributable to you. If you’d like to keep your views 
to yourself, use the site in private mode.</p>
<p> Please keep in mind that any features relating to communications with elected officials cannot be used anonymously.
This includes sending messages to representatives and signing petitions, but may apply to other features in the future.  </p>

</div>

<div class="faq-question">

<h2>You’re asking me to login with Facebook. Doesn’t that contradict your privacy policy?</h2>

<p>Nope. Facebook doesn’t get any information about your activity on LoveGov except that you chose to login. Logging in with Facebook means that we can automatically provide you with matches to your representatives, school and geographical networks, and friends. Again, we promise to never sell this information. We just use it to simplify your experience.</p>

</div>

<div class="faq-question">

<h2>Are you partisan?</h2>

<p>No, we don’t represent either side of the aisle. LoveGov is a platform where all views have equal access tools and the community. Take a look at our mission statement to see more about our commitment to non-partisanship, government transparency, and the right to individual privacy.</p>

</div>

<div class="faq-question">

<h2>I am part of a political campaign/organization. How do I use LoveGov?</h2>

<p>We’ve designed our match function so that most of the work is done for you. Rather than go out looking for supporters, they’ll find you instead. The key is to fill out your matches as best as possible, giving users a better idea of how they compare to you. You should also make use of groups, news sharing, and petitions to rally people around your cause. In the future, you’ll also be able to highlight key legislation, conduct surveys, and raise money.</p>

<p>We’d really appreciate your feedback. Drop a line to our Head of Outreach, Alex Marcus, at <a href="mailto:alex@lovegov.com">alex@lovegov.com</a>, so that we can better understand how to meet your needs.</p>

</div>

<div class="faq-question">

<h2>What does the future look like for LoveGov?</h2>

<p>Good question. These days we’re focusing on our core features, but eventually we’d like to become a true political social network and one-stop shop for politics. We want people to be able to manage their entire political lives, federal through local, in one place.</p>

<p>Imagine a place where you can find out when and where all elections are, who is running, and how you stack up against the candidates. You can read the news, understand what legislation actually means, track voting records, and talk to your representatives. You’ll be able to find organizations and causes, donate to them, and participate in their initiatives. LoveGov will be the place where you sign petitions for the president, but you’ll also debate which roads to fix with members of your community. With each new issue, you’ll respond to surveys alongside millions of other Americans expressing your view: the people have spoken, and politicians won’t have a choice but to listen.</p>

<p>Yeah, we know that building a political social network sounds grandiose and difficult, but that’s the vision. And obviously, it won’t be possible without your help. We believe that the American people want and need LoveGov, and that together we have the ability to change politics.</p>

</div>


</div>

<div class="faq-question">

<h2>Why is LoveGov for-profit and how will you make money?</h2>

<p>We think being for-profit gives LoveGov a better chance of succeeding. Non-profits always struggle with money, and 
always have to make a fundraising a central part of their activities. Our goal is to build the best political website
in the world, and constantly having to raise money would be a distraction from that. We would also always be at risk of 
not being able to release all the features we want or having to cut back our services because we couldn't raise enough money.  </p> 

<p> We are aware of the concern that money could corrupt LoveGov. This is why we place our 
mission front and center; we are committed to non-partisanship, government transparency and the right to individual 
privacy. This mission always comes first. Any deviation from this would not only be a betrayal of the democratic process,
but would also completely undermine our business because our users would never trust us again. </p>

<p> Right now we don't make any money and are entirely focused on building a platform for our users. Eventually,
we will make money by chargine a fee for donations, doing targeted advertising,and selling aggregate data.
It is important to keep in mind here that no personal information will ever be sold and ads will be clearly demarcated.</p>

<p> Something we are very excited about is that our ads and data will actually be usable for small and more local level 
    campaigns. It will all be based around where people live and the questions they have answered. So now someone running 
    for mayor can find out how their city feels about the key issues and run ads targeting the people who are on the fence
    about them. We believe our users will actually find these ads worth reading/watching because they will be directly 
    addressing the issues they care about.  </p>
