<img src="{{ STATIC_URL }}/images/login/lgusa.png" style="float: right; height: 175px;">

<div class="hiw-what-is-lovegov" style="margin-bottom: 12px;">What is LoveGov?</div>



<div class="hiw-lovegov-is"><p>LoveGov is an organizing platform and social network for both politically passionate and politically curious people to
    <strong>discover causes</strong> they care about, take action, and stay informed.</p>

    <p class="gray">You answer questions, we match you with politicians, candidates, interest groups, and other LoveGov members based on your beliefs.</p>

</div>

<div class="hiw-what-is-lovegov" style="margin: 80px 0 40px 0">Who's your match?</div>

<div style="text-align: center"><img src="{{ STATIC_URL }}/images/login/crush.png" style="margin-bottom: 80px;"></div>

<div class="hiw-what-is-lovegov">Here's how it works.</div>

<div class="hiw-section">
    <div class="hiw-section-title">Find out where you stand</div>
    <div class="hiw-section-body"> Define your views by taking stances on issues and weighting their importance.
        See how your congressman's voting record matches up to your positions.
    </div>
</div>

<div style="text-align: center"><img src="{{ STATIC_URL }}/images/login/question.png" style="margin: 30px 0;"></div>

<div class="hiw-section">
    <div class="hiw-section-title">Match with friends and strangers</div>
    <div class="hiw-section-body">Compare your beliefs with other people on LoveGov by hovering over their name or
        picture, and instantly see the percentage of answers you share. Or view their profile to see a detailed comparison.</div>
</div>


<div class="about-div">
    <img src="{{ STATIC_URL }}/images/about/comparison.png" style="float:left"/>
    <p class="get-started-paragraph" style="float:left;width:375px;margin-left:35px;margin-right:35px;margin-top:25px">
        Comparisons give you an at-a-glance comparison to your political world.
        The central % is your overall match. It is broken into the seven main topics -
        National security, Social issues, Economy, Education, Energy, Environment, and Health.
        <br>
        <br>
        Hover over any of the circles to see the match percentage and the total number of questions that went into the
        comparison.
    </p>
    <img src="{{ STATIC_URL }}/images/about/comparison2.png" style="float:left"/>
</div>



<div class="hiw-section">
    <div class="hiw-section-title">Discover groups that share your passion</div>
    <div class="hiw-section-body"> Join political parties, find groups in your area and get matched to organizations
        that share your beliefs and interests. Or create your own group and gain visibility for your cause.</div>
</div>

<div style="text-align: center"><img src="{{ STATIC_URL }}/images/login/group.png" style="margin: 30px 0;"></div>


<div class="hiw-section">
    <div class="hiw-section-title">Advocate and express your beliefs</div>
    <div class="hiw-section-body"> Answer questions and defend your positions, publicly support candidates,
        sign petitions, and debate the issues in discussion threads.</div>
</div>

<div class="hiw-section" style="width: 75%; float: left; clear: none;">
    <div class="hiw-section-title">Share and collaborate with platform tools</div>
    <div class="hiw-section-body">Post news, discuss current events, poll your community, organize your
        group's efforts and coordinate with other groups.</div>
</div>

<div style="width: 20%; float: right; margin-right: 30px;">
    <img src="{{ STATIC_URL }}/images/about/creatediscuss.png" style="margin-top: 50px;">
</div>

<div style="text-align: center"><img src="{{ STATIC_URL }}/images/login/news.png" style="margin: 30px 0;"></div>

<div class="hiw-section">
    <div class="hiw-section-title">Get the facts</div>
    <div class="hiw-section-body">LoveGov aggregates publicly available data on legislation, voting records, elections,
        and other resources which can be easily browsed or referenced.
        For instance, we host detailed information on every bill passed by or proposed to the US Congress during the past three congressional sessions.
    </div>
</div>

<div class="hiw-section">
    <div class="hiw-section-title">Follow politics relevant to you</div>
    <div class="hiw-section-body">
        You can choose what groups and elections to follow, and we'll only show you content posted there.
        We'll also suggest local groups and content.
        By choosing what groups, regions, and elections to follow, you filter all the
        political noise down to what is directly relevant to you.</div>
</div>

<div class="hiw-section">
    <div class="hiw-section-title">Keep your private views private <img src="{{ STATIC_URL }}/images/login/privacy.png"></div>
    <div class="hiw-section-body">LoveGov users can post anything publicly or anonymously, a feature intended to encourage open, honest discussions. You can also answer questions privately, which will improve your matches to others, but not their matches to you. We will never sell your personal data to third parties.</div>
</div>

<div class="hiw-section">
    <div class="hiw-section-title">See where the world stands</div>
    <div class="hiw-section-body">All responses to questions are publicly available, and anyone can post questions 
    to LoveGov. By answering questions, users improve their matches on local,
    state and federal levels and get to have their views heard.</div>
</div>

