<h1 xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">Jobs</h1>

<p>We’re always looking for more help, so if you think you can contribute to the cause, please get in touch.
    Enthusiastic, hard-working and friendly people are very important to us. We work closely together as a 
        team, and everyone has input into the development of the product and rollout strategy. Please direct 
        general inquiries to <a href="mailto:joschka@lovegov.com">joschka@lovegov.com</a> (CEO)</p>

<p>Specifically, we are looking for two more developers and an army of campus liaisons.
<br> Developers, you must have experience with:
Responsive Web Design, CSS, JavaScript, Python, Django, MySQL, and/or server administration. Contact <a href="mailto:max@lovegov.com">max@lovegov.com</a> (Lead Developer)
<br>Campus Liaisons, you must be deeply involved in the politics/activism on your campus. Contact <a href="mailto:alex@lovegov.com">alex@lovegov.com</a> (Director of Outreach)</br></p>


<p><h2>Campus Liaison</h2></p>

<p>Young politicos are the foundation of LoveGov. Our matching mechanism and group tools are perfect for student groups to
recruit members, coordinate their efforts, take action, and promote their cause. We need you, the campus liaison,
    to get your school's political and activist groups to have a presence on LoveGov and utilize our tools to promote
    their cause. You will be responsible for leading campus-wide initiatives that engage these groups and the student body
    via our website. As we move past the election and into one of the most pivotal legislative periods, both nationally and locally,
    you will also be coordinating with leaders across campuses to begin national initiatives. </p>
<p> This is an un-paid internship. We are looking for enthusiastic volunteers from high schools and universities across the country
to join us in excting endeavor as we build this political plaform. You will target the issues that are important to 
your community and help build the political platform of the future. When young people are able to mobilize, coordinate their
efforts, and be heard, change can actually happen. LoveGov provides the platform for that mobilization 
and spread of information. You will be the one to bring that platform to your school and enable our generation 
to claim its stake in history. Are you up for the challenge?
If you are interested in being a liaison, please contact <a href="mailto:alex@lovegov.com">alex@lovegov.com</a>. 
</p>
<p>Participating Campuses:
    <ul> 
    <li> Brown University</li>
    <li> Rhode Island School of Design</li>
    <li> Suffolk University</li>
    <li> Northeastern University</li>
    <li> Fordham University</li>
    <li> Milton Academy</li>
    <li> Northfield Mount Hermon School</li>
    </ul>
</p>

<p><h2>Front-end Developer</h2></p>

<p>Do you write poetry in jQuery? Does IE 6 give you gangreen? Want to use your front-end badassery to actually make
    a difference in the way our country works? You might be a good fit for us. We’re looking for someone who’s both
    passionate about creating change and writing pretty code. Work collaboratively with our (friendly) designers to
    implement mock-ups and make the LoveGov experience beautiful, engaging, and fun.
    We’re also looking to start improving mobile optimizations, so any experience with that is definitely appreciated.
    If you are interested, please contact <a href="mailto:max@lovegov.com">max@lovegov.com</a>.

<p>We’d prefer you have experience with some of the following:
<ul>
    <li>Responsive web design</li>
    <li>HTML & CSS (we use <a href="http://sass-lang.com/">SASS</a>)</li>
    <li>JavaScript</li>
    <li>Knowledge of Python and the Django framework is a huge plus</li>
</ul>
</p>


<p><h2>Back-end Developer</h2></p>

<p>Optimization! Component Modularity! Distributed Systems!</p>

<p>Do you eat databases for breakfast? MySQL — more like MyCereal.</p>

<p>Find your amateur bonsai collection winning awards because you have so much free time because you finished
all of your coding already? Do you enjoy writing code on your computer? Come help build the platform for politics
of the future. If you are interested, please contact <a href="mailto:max@lovegov.com">max@lovegov.com</a>.</p>

<p>Preferred experience:
<ul>
<li>Python</li>
<li>Django</li>
<li>MySQL</li>
<li>Some front-end experience (CSS, javascript)</li>
<li>Some server administration experience</li>
</ul>
</p>