<!-- Wrapper for thread page -->
<div style="width:960px">

{% block thread %}

    <span class="discuss">Discuss</span>
    <div class="reply">
        <textarea class="reply" placeholder="What's your opinion?"></textarea>
        <input class="tab-button" type="submit" value="Save">
    </div>
    <!-- comment thread -->
    <div class="thread" data-cid="{{ content.id }}">
        {{ thread_html|safe }}
    </div>
    <div class="load-more-comments">load more comments</div>

{% endblock %}

</div>