<div id="comment-thread">

    <span class="discuss">Discuss</span>

    <form id="commentform" name="postcomment" action="/comment/" method="post"> {% csrf_token %}
        <textarea style="width:700px;" class="comment-textarea" rows="7" cols="80" name="comment" placeholder="what's your opinion?"></textarea>
        <input id="content_id" type="hidden" name="c_id" value="{{ content.id }}">
        <br>
        <input class="tab-button" type="submit" value="Save" style="float: right;" /><div class="clearfix"></div>
    </form>

    <!-- comment thread -->
    <div id="thread">
        {{ thread_html|safe }}
    </div>
</div>