{% load customtags %}
{% load thumbnail %}

<div class="who-are-we-circle" id="who_are_we_circle">
    {% for developer in developers %}
        <div class="who-are-we-circle-div {% cycle_list colors_cycle as color %}{{ color }}"
             style="left:{{ x|add:side_half }}px;top:{{ y|add:side_half }}px;width:{{ side }}px;height:{{ side }}px;border-radius:{{ side_half }}px;z-index:2"
             data-json='{"first_name":"{{developer.first_name}}","last_name":"{{ developer.last_name }}","user_title":"{{ developer.user_title }}","x":"{{ developer.x }}","y":"{{ developer.y }}"}' >
            {% thumbnail developer.getProfileImage.image "300x300" crop="center" format="PNG" as img %}
                <img src="{{ img.url }}" style="border-radius:{{ side_half }}px;width:{{ side }}px"/>
            {% endthumbnail %}
        </div>

        {% cycle_list colors as col %}

        <div style="-ms-transform:rotate({{ developer.angle }}deg);
                -moz-transform:rotate({{ developer.angle }}deg);
                -webkit-transform:rotate({{ developer.angle }}deg);
                -o-transform:rotate({{ developer.angle }}deg);
                background-color:{{ col }};
                position:absolute;
                top:{{ developer.y2|add:70 }}px;
                left:{{ developer.x2 }}px;
                width:{{ side }}px;
                height:2px;
                z-index:1;">
        </div>

    {% endfor %}
    <div class="who-are-we-circle-div-center" style="z-index:3;left:{{ x }}px;top:{{ y }}px;width:{{ main_side }}px;height:{{ main_side }}px;border-radius:{{ main_side_half }}px">
        <div style="display:none; text-align:center; margin-top:70px;">
            <h5 class="text-blue"></h5>
            <h6></h6>
        </div>
        <h3 class="capitalize-text" style="position:relative;color:white;text-align:center;top:70px">The Team</h3>
    </div>
    &nbsp;
</div>

<div class="mission">
    <h2 class="capitalize-text bold small-margin">our mission</h2>
    <p class="huge">
        We're a group of college kids who started a company to fix politics. We believe the best governments have 
        active and informed citizens. It’s really hard to find unbiased information, support causes, and actually 
        have our voices heard. We don’t want to be frustrated by politics, so we’re trying to build good, 
        nonpartisan tools to facilitate democracy. 
    </p>
    <br>
    <h3>Non-Partisanship</h3>
    <p class="huge">
        LoveGov is a platform where all parties are given equal access to tools and information.
        Non-Partisanship means we strive to ensure that none of our mechanisms or questions favor one perspective over another.
        We're building a forum where differing worldviews can argue on equal footing in the public spotlight, for the benefit of everyone.
    </p>
    <h3>Government Transparency</h3>
    <p class="huge">
        Voters need to know if their representatives’ actions are consistent with their claims, what impact legislation
        has on their lives, and how the political process actually works—otherwise they cannot be effective voters and
        hold their representatives accountable for their actions.
    </p>
    <h3>Right to Individual Privacy</h3>
    <p class="huge">
        Democracies are founded on the principle that citizens privately cast their ballots. People need to have the
        option of expressing their views without fear of consequences from their community or government, otherwise
        minority viewpoints will not be expressed. This is why we have a strong privacy policy. We will NEVER sell or
        share your personal information. On LoveGov, citizens are able to express themselves while controlling their
        information.
    </p>
    <p class="huge">
        Our privacy settings are simple. In public mode, everyone can see your activity. In private mode, nobody can
        see your activity—you are anonymous. That’s it. We don’t have custom privacy settings because they are too
        convoluted, and ultimately don’t completely protect your private information. If you are doing something on
        LoveGov that you don’t want anyone to know about, then do it in private mode.
    </p>
    <h2>Please see our <a href="/blog/">blog</a> for further discussions of our mission and policies and to learn about what features will come next!</h2>
</div>

<div class="former-team" style="border-top: 1px solid black; margin-top: 20px; padding-top: 10px;">

    <h2 class="capitalize-text bold small-margin" style="color:black;margin-bottom:20px;">Past Contributors</h2>


    <div class="past-contributor">

        <div class="past-contributor-img">
            {% include 'site/pieces/thumbnail.html' with thumbnail_url="/static/images/past_team/koh.png" width="80" height="100"%}
        </div>
        <a class="past-contributor-name" href="/jonathon_koh/"> Jonathon Koh </a>

    </div>

    <div class="past-contributor">

        <div class="past-contributor-img">
            {% include 'site/pieces/thumbnail.html' with thumbnail_url="/static/images/past_team/callil.png" width="80" height="100"%}
        </div>
        <a class="past-contributor-name" href="/callil_capuozzo/"> Callil Cappuozo </a>

    </div>

    <div class="past-contributor">

        <div class="past-contributor-img">
            {% include 'site/pieces/thumbnail.html' with thumbnail_url="/static/images/past_team/marcus.png" width="80" height="100"%}
        </div>
        <a class="past-contributor-name" href="/alex_marcus/"> Alex Marcus </a>

    </div>

    <div class="past-contributor">

        <div class="past-contributor-img">
            {% include 'site/pieces/thumbnail.html' with thumbnail_url="/static/images/past_team/koh.png" width="80" height="100"%}
        </div>
        <a class="past-contributor-name" href="/ric_lescouflair/"> Ric Lescouflair </a>

    </div>

    <div class="past-contributor">

        <div class="past-contributor-img dunwell">
            {% include 'site/pieces/thumbnail.html' with thumbnail_url="/static/images/past_team/dunwell.png" width="80" height="100"%}
        </div>
        <a class="past-contributor-name" href="/clayton_dunwell/"> Clayton Dunwell </a>

    </div>

    <div class="past-contributor">

        <div class="past-contributor-img">
            {% include 'site/pieces/thumbnail.html' with thumbnail_url="/static/images/past_team/jeremy.png" width="80" height="100"%}
        </div>
        <a class="past-contributor-name" href="/jeremy_greenfield/"> Jeremy Greenfield </a>

    </div>


</div>