<div class="match-box-div-wrapper">
    {% include 'deployment/center/match/match-new-box.html' with entity=c1 %}
</div>
<div id="match-featured-election-center">
    <h1 class="match-h1">Massachusetts Senate Election</h1>
    <p class="match-p">
        Here's how you compare to the candidates.
    </p>
    <div id="match-featured-election-center-explore">
        <a>Explore the Race</a>
    </div>
</div>
<div class="match-box-div-wrapper">
    {% include 'deployment/center/match/match-new-box.html' with entity=c2 %}
</div>
