{% include 'deployment/center/match/match-new-box.html' with userProfile=c1 %}
<div id="match-featured-social-network">
    <h1 class="match-h1">Friends & Networks</h1>
    <p class="match-p">
        Explore how your opinions compare with
        your friends on social media and networks
        from your school, state and more.
    </p>

    <!-- Friends -->
    <div class="match-social-network-entity-container match-social-network-entity-container-left">
        <div class="match-social-network-entity match-social-network-entity-left"></div>
        <div class="match-social-network-entity match-social-network-entity-center"></div>
        <div class="match-social-network-entity match-social-network-entity-right"></div>
        <div class="match-social-network-entity match-social-network-entity-left"></div>
        <div class="match-social-network-entity match-social-network-entity-center"></div>
        <div class="match-social-network-entity match-social-network-entity-right"></div>
        <div class="match-social-network-entity match-social-network-entity-left"></div>
        <div class="match-social-network-entity match-social-network-entity-center"></div>
        <div class="match-social-network-entity match-social-network-entity-right"></div>
        <div class="match-social-network-entity-button">
            <p>Friends <img src="/static/images/match/link_arrow.png"/></p>
        </div>
    </div>

    <div class="match-social-networking-entity-container-border"></div>

    <!-- Groups -->
    <div class="match-social-network-entity-container match-social-network-entity-container-center">
        <div class="match-social-network-entity match-social-network-entity-left"></div>
        <div class="match-social-network-entity match-social-network-entity-center"></div>
        <div class="match-social-network-entity match-social-network-entity-right"></div>
        <div class="match-social-network-entity match-social-network-entity-left"></div>
        <div class="match-social-network-entity match-social-network-entity-center"></div>
        <div class="match-social-network-entity match-social-network-entity-right"></div>
        <div class="match-social-network-entity match-social-network-entity-left"></div>
        <div class="match-social-network-entity match-social-network-entity-center"></div>
        <div class="match-social-network-entity match-social-network-entity-right"></div>
        <div class="match-social-network-entity-button">
            <p>Groups <img src="/static/images/match/link_arrow.png"/></p>
        </div>
    </div>

    <div class="match-social-networking-entity-container-border"></div>

    <!-- Networks -->
    <div class="match-social-network-entity-container match-social-network-entity-container-right">
        <div class="match-social-network-entity-container-wrapper">
        {% for network in networks %}
            <div class="match-social-network-entity {% cycle 'match-social-network-entity-left' 'match-social-network-entity-center' 'match-social-network-entity-right' %}">
                {% load thumbnail %}
                {% thumbnail network.getProfileImage.image "45x45" crop="center" as img %}
                    <img src="{{ img.url }}"/>
                {% empty %}
                    {% load thumbnail %}
                    {% thumbnail defaultImage "45x45" crop="center" as img %}
                        <img src="{{ img.url }}"/>
                    {% endthumbnail %}
                {% endthumbnail %}
            </div>
        {% endfor %}
        </div>
        <div class="match-social-network-entity-button">
            <p>Networks <img src="/static/images/match/link_arrow.png"/></p>
        </div>
    </div>

</div>

<script type="text/javascript">
    $('.match-social-network-entity-button').hover(function()
    {

    }, function()
    {

    })
</script>
