<h1> COMMENT THREAD </h1>

<!-- new comment form -->
<form id="newcomment" action="/comment/" method="post"> {% csrf_token %}
    <input id="comment_id" type="text" name="comment" value="...add comment" />
    <input id="hidden_id" type="hidden" name="c_id" value="{{ content_id }}">
    <input type="submit" value="Comment" />
</form>


{% for x in comments %}

    <!-- COMMENT -->
    <div class="comment">

       <div class="user">
            <!-- link to user-->
            <a> {{ x.0.creator_name }}</a>
            <!-- vote total-->
            <a class="votes">
            {% if x.2 > 0 %}
               +{{ x.2 }}
            {% endif %}
            {% if x.2 == 0 %}
                 0
            {% endif %}
            {% if x.2 < 0 %}
                {{ x.2 }}
            {% endif %}
            </a>
            <a> {% if simpercent %}
                    {{ simpercent }}
                {% else %}
                    ?
                {% endif %}% </a>
        </div>

        <div class="text">
            {{ x.0.text }}
        </div>

        <div class="actions">
                    <a class="like" href="/like/"
                            {% if x.3 == 1 %}
                       style="color:green"
                            {% else %}
                       style="color:black"
                            {% endif %}
                                >
                        like
                    </a>
                    <a class="dislike" href="/dislike/"
                            {% if x.3 == -1 %}
                       style="color:red"
                            {% else %}
                       style="color:black"
                            {% endif %}
                            > dislike </a>
                    <a class="reply"> reply </a>
        </div>

        <form class="replyform" name="postcomment" action="/comment/" method="post"> {% csrf_token %}
            <input class="comment_text" type="text" name="comment" value="...write here" />
            <input class="hidden_id" type="hidden" name="c_id" value="{{ x.0.id }}">
            <input type="submit" value="Comment" />
        </form>

    </div>
    <!-- END OF COMMENT -->

    <br>

{% endfor %}




<script type="text/javascript" src="/static/jQuery.js"> </script>

<script>
    $(document).ready(function(){
        // AJAX
        $.ajaxSetup({
           data: {csrfmiddlewaretoken: '{{ csrf_token }}' }});
    });
    // hide all reply forms
    $(".replyform").toggle();
    // make it so actions get underlined on mouseover
    $(".reply, .like, .dislike").hover(function (){
                $(this).css("text-decoration", "underline");
            },function(){
                $(this).css("text-decoration", "none");
            }
    );
    // make it so clicking reply unhides reply form
    $(".reply").click(function(){
        $(this).parent().next().toggle()
    });
    // like
    $(".like").click(function(event){
        event.preventDefault();
        var content_id = $(this).parent().next().children(".hidden_id").val();
        $.post('/like/', {'c_id':content_id},
                // call back function
                function(data) {
                    alert(success);
                });
    });
    // dislike
    $(".dislike").click(function(event){
        event.preventDefault();
        var content_id = $(this).parent().next().children(".hidden_id").val();
        $.post('/dislike/', {'c_id':content_id},
                // call back function
                function(data) {
                    alert(success);
                });
    });

</script>

