<!-- jquery -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/functions.js"></script>

<input id="csrftoken" type="hidden" value="{{ csrf_token }}"/>

<table>
<tr>
    <td>
    <h3> Notifications </h3>
        <ul>
            {% for n in notifications %}
                <li>
                sanity
                {% with relationship=n.action.getRelationship %}
                     {{ n.type }}
                    <br><br>
                    verbose = {{ n.verbose }}
                    <br><br>
                    viewed = {{ n.viewed }}
                    <br><br>
                    from: {{ n.getCreator.get_name }}
                    <br><br>
                    to: <a href="{{ relationship.get_url }}"> {{ relationship.getTo.get_name }}</a>
                    <br><br>
                    notified: {{ n.notify_user.get_name }}
                    <br><br>
                    {% if n.type == 'FO' and n.modifier == 'R' %}
                        <a id="accept" href=""> accept </a>
                        <br><br>
                        <script>
                            $("#accept").click(function(event) {
                                event.preventDefault();
                                alert("{{ relationship.user.get_name }}");
                                userFollowResponse({{ relationship.user.id }}, 'Y');
                            });
                        </script>
                    {% endif %}
                {% endwith %}
                </li>
            {% endfor %}
        </ul>
    </td>
    <td>
        <h3> Actions </h3>
        <ul>
            {% for a in actions %}
                <li>
                    {{ a.type }}
                    <br><br>
                    verbose: {{ a.verbose }}
                    <br><br>
                    from_user: {{ a.getCreator.get_name }}
                    <br><br>
                    to: {{ a.getRelationship.getTo.get_name }}
                    <br><br>
                    modifier: {{ a.modifier }}
                    <br><br>

                </li>
            {% endfor %}
        </ul>
    </td>
    <td>
        <h3> Relations </h3>
        <ul>
            {% for r in relations %}
                <li>
                    {{ r.relationship_type }} / {{ r.downcast.confirmed }}
                    <br><br>
                    from_user: {{ r.getFrom.get_name}}
                    <br><br>
                    to:
                    <a href="{{ r.getTo.get_url }}"> {{ r.getTo.get_name }}</a>
                    <br><br>
                </li>
            {% endfor %}
        </ul>
    </td>
</tr>

</table>