{% extends 'usable/default.html' %}

{% block content_block %}

    <! IMPORT jQuery >
    <script type="text/javascript" src="/static/jQuery.js"></script>


    <script type="text/javascript">


        $(document).ready(function(){

            // just to test my sanity
            alert("js test")


            // displays message returned by ajax
            $("#ajax_button").click(function(){
                // a get request is the way to get data from the server to use for something
                $.get("/test_ajax/", function(data) {
                    alert(data);
                });
                // making it so you can input what page to load from
                // CLAY COULD YOU LOOK AT THESE TWO LINES
                var url = $("#page_box").val()
                $("#paragraph_two").replaceWith("<p>" + url + "</p>");
                // a load request just takes the reponse and subs it.. good for loading !
                $("#paragraph").load(url, function(response, status, xhr) {
                    if (status=="error") {
                        var msg = "Error: ";
                        $("#error").html(msg + xhr.status + " " + xhr.statusText);
                    }
                    else {
                        alert('Load was performed');
                    }
                });
            });
        });

    </script>

    <! Should display error message if ajax load is not successful. >
    <div id="error"> </div>

    <form>
        URL: <input id="page_box" type="text" name="page" />
    </form>
    <button id="ajax_button"> Ajax </button>

    <! Should get changed to message on button press... if successful >
    <p id="paragraph">
        Initial
    </p>
    
    <p id="paragraph_two">
        This is my javascipt version of a debug print statement.
    </p>

{% endblock %}