{% extends 'usable/default.html' %}

{% block content_block %}

    <p>
        username: {{ user.username }}
    </p>
    <p>
        full name: {{ user.get_name }}
    </p>
    <p>
        facebook profile: {{ user.facebook_profile_url }}
    </p>
    <p>
        {% load thumbnail %}
        {% thumbnail user.getProfileImage.image "200x100" as im %}
            <p> test: {{ im.url }} </p>
            <img src="{{ im.url }}">
        {% empty %}
            <p> no pic </p>
        {% endthumbnail %}

        <form id="uploadPic" action="" method="post" enctype="multipart/form-data">
        {{ uploadform.as_p }}
        <input name="submitpic" type="submit" class="submitpic" id="submitpic" value="Upload Picture"/>
    </form>
    </p>
    <p>
        IP: {{ request.META.REMOTE_ADDR }}
    </p>
    <p>
        <a href="/logout"> Logout </a>
    </p>


{% endblock %}