{% extends 'emails/lovegov/white_section.html' %}


{% block white_section %}

    <p>
        {% include 'emails/lovegov/weekly_digest/digest_link.html' with the_link="http://lovegov.com/presidential_matching/" the_title="Redesigned our login page and added a presidential matching page for visitors thinking about signing up." %}

        {% include 'emails/lovegov/weekly_digest/digest_link.html' with the_link="http://lovegov.com/discussion/318204/" the_title="Improved comment threads to handle live updating as multiple users post comments." %}

        {% include 'emails/lovegov/weekly_digest/digest_link.html' with the_link="http://lovegov.com/groups/" the_title="Added new/hot/size filters to the groups page. We're working on new ways to connect you with groups right now!" %}
        <div style="clear:both;"></div>
    </p>

{% endblock %}