{% extends 'emails/lovegov/white_section.html' %}


{% block white_section %}

    <p>Hi {{ user_profile.first_name }},</p>
    <p>
        Here is a weekly roundup of the questions and news we think you might like. We just started
        sending this digest email so please send us feedback on what you would like to see in it.
        <br><br>
        If you would like to change your email subscription settings so that you don't receive these
        emails <a href="http://lovegov.com/settings/email_subscriptions/">click here</a>.
        <br><br>
    </p>

{% endblock %}