{% extends 'emails/lovegov/white_section.html' %}


{% block white_section %}

    <p>Hi {{ user_profile.first_name }},</p>

    <p>
        Here is our fourth weekly roundup of questions and news that we think you might like.
    </p>

    <p>
        The final presidential debate takes place tonight at 9pm EST and focuses entirely on foreign policy. Discuss and see what others are thinking during the debate at our <a href="http://lovegov.com/discussion/341690/" target="_blank" style="text-decoration:none;">live discussion</a>.
    </p>

        <p>
            <a href="http://teespring.com/lovegov" target="_blank" style="text-decoration:none;">LoveGov T-Shirts are now available</a>.
        </p>

    <p>
        We wish we could give everyone a shirt for free, but as a bootstrapping startup the best we can do is sell them at cost.
        Help us spread the word, and we hope you like them!
    </p>

    {% comment %}
    <p>
        This digest email is meant to keep you up to date with politics relevant to you, so please send us
        <a href="mailto:feedback@lovegov.com" target="_blank" style="text-decoration:none;">feedback</a> on what you would like to see in the future.
    </p>
    {% endcomment %}

{% endblock %}