@charset "UTF-8";
@import 'master-variables';
@import 'master-mixins';

@import "compass";

/* lovegov robot */
div.lovegov-robot {
  @include staticImage("/images/icons/logo/lg_robot.jpg");
  width: 75px;
  height: 75px;
  background-size: 75px 75px;
}

/* what would be, questions feed */
div.what-would-be-wrapper {
  position:relative;
  font-size: 18px;
  padding: 15px 15px;
  background-color: $yellow-light;
  margin-top: 15px;
  margin-bottom: 25px;

  &.strong-match {
    background-color:#D6ECBF;
  }

  div.what-would-be-text {
    float:left;
    width:820px;
    span.bold-part {
      font-weight:bold;
    }
  }
  span.questions-progress {
    float:right;
    margin-right: 25px;
    margin-top: 8px;
    font-size: 30px;
  }

  a.what-would-be-x {
    position: absolute;
    left: 947px;
    top: 7px;
    color:$black;
    &:hover {
      color:$red;
    }
  }

}

/* introduction headers */
div.completed-all-tasks {

  width:475px;
  float:left;

  div.congratulations-header {
    font-size:30px;
    color:$gray;

    div.lovegov-robot {
      float:left;
    }
    span.congratulations-header-text {
      float:left;
      margin-left:20px;
      height:100px;
      padding-top:20px;
      margin-right:25px;
    }

  }

  div.congratulations-text {
    margin-top:10px;
    font-size:16px;
  }
}

div.introduction-header {

  width:100%;

  div.where-am-i {

    width: 475px;
    float:left;

    div.where-am-i-header {
      width:100%;
      float:left;
      div.lovegov-robot {
        float:left;
      }
      div.where-am-i-text {
        float:left;
        font-size: 30px;
        margin-left: 30px;
        margin-top: 16px;
      }
      a.hide-intros {
        float: left;
        margin-top: 27px;
        margin-left: 31px;
      }
    }
    div.where-am-i-content {
      float:left;
      width:100%;
      margin-top:20px;
      font-size:16px;
      padding-left:20px;
    }
  }

}


/* get started checkboxes */
div.get-started {

  width:450px;
  float:left;
  margin-left:5px;
  margin-top: 25px;
  position: relative;
  left: 50px;

  div.get-started-header {
    @include fontSize(20px);
    width:100%;
    margin-bottom:15px;
    font-weight:bold;
    letter-spacing: 1px;
  }
  div.tasks-wrapper {
    width:100%;
    div.task-wrapper {
      width:100%;
      float:left;
      margin-bottom:20px;
      a.task-checkbox {
        width:25px;
        height:25px;
        border:1px solid $gray;
        float:left;
        &:hover {
          border-color:$dark-gray;
        }
        div.task-completed {
          @include staticImage("/images/icons/arrows/check.png");
          width: 30px;
          height: 30px;
          background-size: 30px 30px;
          position: relative;
          top: -10px;
          left: 2px;
          z-index:1;
        }
        &.incomplete {
          div.task-completed {
            display:none;
          }
        }
      }
      a.task-label {
        float:left;
        margin-left:15px;
        margin-top:0px;
        width:400px;
        @include fontSize(20px);
        color:$black;
        font-family:"Sonus-ExtraLight";
        &:hover {
          color:black;
        }
      }
    }
  }
}


/* helper bubbles */
div.helper-bubble {
  z-index:1;
  padding: 5px 10px 5px 10px;
  position:relative;
  display:none;

  a:hover {
    color:$black;
  }

  &.show {
    display:block;
  }
  div.x-helper-bubble {
    float:right;
    display:block;
    @include fontSize(24px);
    line-height:20px;
    &:hover {
      color:$black;
      cursor:pointer;
    }
  }
  background-color:$text-blue;
  color:white;
  @include border-radius(7px);
  div.helper-text {
    width:100%;
    padding:10px;
    float:left;
    font-size:16px;

    div.switch-buttons {
      width:100%;
      text-align:center;
      a.next-button {
        float:right;
      }
      span.tutorial-progress {
        width:100%;
        padding-right:10px;
        text-align:center;
      }
      a.previous-button {
        float:left;
      }
    }

  }
  div.helper-bubble-arrow-wrapper.down {
    top: 97%;
    width:100%;
    text-align:center;
    position: absolute;
    div.helper-bubble-arrow {
      @include triangle('down', $text-blue, 15px);
      margin-left:35%;
    }
  }
  div.helper-bubble-arrow-wrapper.up {
    top: -15px;
    width:100%;
    text-align:center;
    position: absolute;
    div.helper-bubble-arrow {
      @include triangle('up', $text-blue, 15px);
      margin-left:35%;
    }
  }
  div.helper-bubble-arrow-wrapper.right {
    top:45%;
    left:100%;
    position: absolute;
    div.helper-bubble-arrow {
      @include triangle('right', $text-blue, 15px);
    }
  }
  div.helper-bubble-arrow-wrapper.left {
    top: 50%;
    left: -5%;
    position: absolute;
    div.helper-bubble-arrow {
      @include triangle('left', $text-blue, 15px);
    }
  }
}


/* first login header */
div.first-login-header {

  padding-left:30px;

  div.welcome-div {

    width:375px;
    float:left;

    div.welcome-message {
      margin-top:20px;
      @include fontSize(36px);
      line-height:36px;
      font-family:"Sonus-ExtraLight";
      color:$dark-gray;
    }

    div.logo {
      margin-top:0px;
      @include staticImage("/images/icons/logo/big_welcome_logo.png");
      width: 350px;
      height: 120px;
      background-size: 350px 120px;
      background-repeat: no-repeat;
    }

    div.our-goal {
      margin-top:20px;
      width:100%;
      @include fontSize(18px);
    }
  }

  div.get-started {
    margin-top:100px;
    margin-left:50px;
    left:0px;
  }

  div.are-you {
    //width: 460px;
    width: 556px;
    float: left;
    margin-top: 14px;
    margin-bottom: 30px;
    padding-left: 49px;
    height: 142px;
    //margin-left: 65px;
    div.are-you-wrapper {
      margin-bottom:19px;
      @include fontSize(16px);
      color:$dark-gray;
      a.are-you-link {
        color:$text-blue;
        &:hover {
          color:$blue;
        }
      }
    }
  }

  div.get-involved {
    width: 450px;
    font-size: 16px;
    display: inline-block;
    margin-left: 77px;
    margin-top: 10px;
  }

  div.completed-all {
    float: right;
    width: 320px;
    margin-right: 140px;
    text-align: left;
    @include fontSize(14px);
    color:$green;
  }
}



/* dismissible header */
div.random-dismissible-header {
  width:100%;
  position:relative;
  div.dismissible-x {
    position:absolute;
    left:98%;
    top:5px;
    @include fontSize(20px);
    &:hover {
      color:$red;
      cursor:pointer;
    }
  }
}


/* congress dismissible header */
div.congress-header {
  padding:10px;
  &:hover {
    background-color:$light-gray;
    cursor:pointer;
  }
  div.mouse-over {
    float:left;
    margin-left:10px;
    margin-top:35px;
    div.mouse-over-text {
      font-style:italic;
    }
    div.mouse-over-arrow {
      @include staticImage("/images/icons/arrows/gray_arrow.png");
      width:59px;
      height:28px;
      background-size:59px 28px;
      position: relative;
      left: 20px;
      top:-5px;
    }
  }
  div.congress-teaser {
    float:left;
    margin-left:30px;
    width:360px;
    div.congress-pic-wrapper {
      float:left;
      margin-right:10px;
      margin-top:15px;
    }
  }
  div.congress-explanation {
    float:left;
    margin-left:20px;
    margin-top:20px;
    width:410px;
    a.congress-explanation-header {
      @include fontSize(24px);
      color:$text-blue;
      &:hover {
        color:$text-blue;
      }
    }
    div.congress-explanation-text {
      @include fontSize(16px);
    }
  }
}

/* answer questions warning modal */
div.warning-popup {
  padding:15px;
  width:400px;
  @include fontSize(18px);
}


/* find reps header */
div.find-your-reps-top-header {
  div.reps-teaser-image {
    width: 240px;
    height: 120px;
    @include staticImage('/images/dismissible_headers/find_reps.png');
    background-size:300px 150px;
    float:left;
  }
  div.right-part {
    float:left;
    margin-left:30px;
    width:600px;
    div.top-text {
      float:left;
      width:100%;
      margin-top:15px;
      div.header-title {
        float:left;
        @include fontSize(24px);
        color:$text-blue;
      }
      input.reps-zip-input {
        float: left;
        margin-left: 25px;
        margin-top:0px;
        height: 30px;
        padding-left: 10px;
        font-size: 18px;
        width: 110px;
      }
      a.go-button {
        float:left;
        margin-left:15px;
        padding:2px 14px;
        background-color:$teal;
        color:white;
        position:relative;
        top:0px;
        @include fontSize(20px);
        &:hover {
          background-color:$blue;
        }
      }
    }
    div.find-reps-explanation {
      float:left;
      margin-top:10px;
      width:100%;
      @include fontSize(18px);
    }
  }
}


/* lgpoll header */
a.lgpoll-header {
  float:left;
  color:$black;
  padding:5px 15px 15px 15px;
  width:930px;
  &:hover {
    background-color:$light-gray;
  }
  div.lgpoll-teaser-image {
    width: 209px;
    height: 127px;
    @include staticImage('/images/dismissible_headers/lovegov_poll.png');
    background-size:209px 127px;
    float:left;
  }

  div.poll-progress-wrapper {
    float:left;
    margin-left:25px;
    margin-top:30px;
    div.progress-numbers {
      display:block;
      @include fontSize(72px);
      color:$red;
      line-height:60px;
      letter-spacing:-2px;
      font-family:$body-fonts;
    }
    div.progress-header {
      @include fontSize(22px);
      display:block;
      margin-top:0px;
    }
  }

  div.right-part {
    float:left;
    margin-left: 45px;
    width: 400px;
    margin-top:30px;
    div.header-title {
      @include fontSize(24px);
      color:$text-blue;
    }
    div.d-header-explanation {
      margin-top:0px;
      @include fontSize(18px);
    }
  }
}

