@charset "UTF-8";
@import 'master-variables';
@import 'master-mixins';

@import "compass";

div.group-info-title
{
  @include grayText();
  @include fontSize(18px);
  margin-bottom: 5px;
}

.group-action
{
  padding:5px;
  background-color:$light-gray;
  width:160px;
  text-align:center;
  margin-bottom:7px;
  display: block;
  color: $black;

  &:hover
  {
    background-color:$dark-gray;
    cursor:pointer;
  }
}

div.group-top
{
  @include clearfix();
  margin-bottom: 20px;

  div.group-minimize-button
  {
    @extend .group-action;
    color: white;
    background-color:$red;
    &:hover { background-color: $red-light; }
  }

  span.group-title
  {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
    @include inline-block();
  }

  span.group-scale
  {
    color: $dark-gray;
    font-size: 12px;
    @include inline-block();
    margin-right: 10px;
  }

  span.group-num-members
  {
    font-size: 12px;
    @include inline-block();
  }
  div.group-action {
    float:right;
  }
}

div.group-info
{
  @include clearfix();

  div.group-image
  {
    float: left;
    height: 100px;
    width: 140px;
    background-color: $gray; //Temporary
    margin-right: 20px;
  }

  div.group-match
  {
    float: left;
    height: 100px;
    color: $red;

    div.match-number
    {
      font-size: 64px;
      font-weight: bold;
      height: 64px;
      text-align: center;
    }

    div.match-title
    {
      width: 100%;
      font-size: 20px;
      height: 20px;
      text-align: center;
    }

  }

  div.group-summary
  {
    float: left;
    margin-left: 30px;
    width: 230px;
    overflow:hidden;
  }

  div.group-moderators
  {
    float: left;
    margin-left: 20px;
  }

  div.group-actions
  {
    float:right;
    @include clearfix();
  }

}

div.group-expanded-info
{
  margin: 15px 0 20px 0;

  div.group-histogram
  {
    float:left;
    width:230px;
    height:180px;
  }

  div.group-members
  {
    float:left;
    margin-left:30px;
    width:200px;
    height:200px;

    div.group-member-avatar
    {
      margin-right:10px;
      margin-bottom:10px;
      float: left;
    }
  }

  div.group-description
  {
    float:left;
    margin-left: 60px;
    width: 400px;
  }
}


div.group-histogram {

  div.histogram {
    height:100%;

    .histogram-body {
      height:100%;
      width:100%;

      .histogram-meta-box {
        height:20%;
        width:100%;

        .total_count {
          @include big();
          @include fontSize(20px);
          margin:0px;
          display:none;
        }

        .identical_count {
          float:left;
          @include big();
          @include fontSize(20px);
          float:left;
          margin: 10px 0 0 20px;
        }


      }

      .histogram-bars {
        float:left;
        text-align:left;
        position:relative;
        left:-5px;
        margin-top:30px;
        height:80%;
        margin: 0 0 0 5px;

        .bar {
          width:25px;
          height:100%;
          float:left;
          margin-right:20px;
        }

        .white_bar {
          height:97%;
          width:100%;
          background-color:white;
        }

        .red_bar {
          width:100%;
          background-color:$red;
          border: 1px solid $red;
        }
        .red_bar:hover {
          border-color:$black;
        }

        .label {
          @include really-big();
          @include fontSize(14px);
          margin-top: 5px;
        }
      }
    }

  }

  div.histogram-title
  {
    @include rounded-bottom(18px);
    position:relative;
    background-color: $gray;
    height: 37px;
    color: white;

    p{
      position:relative;
      top:-13px;
      display:block;
      @include h5;
      color:white;
    }
  }
}