@charset "UTF-8";
@import 'master-variables';
@import 'master-mixins';

@import "compass";

/* page reloading */
div.home-reloading {
  @include staticImage("/images/gifs/ajax-loader.gif");
  width: 15px;
  height: 15px;
  background-size: 15px 13px;
  background-repeat: no-repeat;
  position:absolute;
  left: 126px;
  display:none;
}

/* stuff for section headers */
div.home-header-top {
  @include clearfix;
  margin-bottom: 7px;
  div.home-section-title {
    text-transform:uppercase;
    @include fontSize(20px);
    float:left;
  }

  div.minimize-button {
    float:right;
  }

}

/* home page stuff */
.gray-hover {
  //@include border-radius(5px);
  &:hover {
    background-color:$light-gray;
    color:white;
  }
  &.clicked {
    background-color:$light-gray;
    color:white;
  }
}



table.home
{
  width:100%;

  td.home-sidebar
  {
    width:150px;
    overflow:hidden;
  }

  td.home-main
  {
    //padding-left:30px;
    //padding-top: 6px;
    //float: left;
    margin-left: 30px;
    //padding: 6px;
    //padding-left: 25px;
    //border-left: 1px solid $light-gray;
    position: relative;
    top: 10px;

    padding-left: 20px;
    margin-left: 19px;
    //border-left: 1px solid $light-gray;

    div.home-header
    {
      width:100%;
      margin-top:8px;

      div.minimize-button
      {
        float: right;
        cursor: pointer;
        color: $text-blue-light;
        font-size: 10px;
        margin-top: 2px;

        &:hover { color: $text-blue; }
      }
    }

    div.feed-wrapper
    {
      width:100%;
    }
  }
}

div.expand-info
{
  @include titleFont();
  color:$deep-gray;
  width:100%;
  background-color:$light-gray;
  text-align:center;
  height: 18px;
  line-height: 12px;
  padding-top: 5px;
  margin-top: 5px;
  overflow: hidden;
  &:hover {
    cursor:pointer;
    background-color:$gray;
  }
  p.expand-text {
    line-height: 10px;
  }
}

div.left-navbar {
  position:relative;
  top:5px;
  //padding-left:5px;
  margin-top:5px;
  @include titleFont();
  width:150px;
  overflow:hidden;

  p.asterisk-pointer {
    color:$black;
    position:absolute;
    @include titleFont();
    @include fontSize(14px);
    display:none;
  }

  div.navbar-section {
    margin-bottom:10px;
    width:200px;

  /* old way of navbar link
  a.navbar-link {
    padding:5px 0 5px 5px;
    display:block;
    margin: 0px 0 0 10px;
    color:$black;
    width:139px;
    @extend .gray-hover;
  }
  */
    a.navbar-link {
      padding:5px 0 5px 5px;
      display:block;
      margin: 0px 0 0 8px;
      color:$black;
      width: 142px;
      @include border-radius(6px);
      &:hover {
        //font-style:italic;
        background-color:$light-gray;
      }
      &.clicked {
        background-color:$light-gray;
        //font-style:italic;
      }
      span.item-title {
        float:left;
        width:115px;
      }
      span.item-new {
        float:right;
        margin-right:10px;
        color:$red;
      }
    }
  }

  div.navbar-divider-line {
    width:65%;
    border-bottom:1px solid $gray;
    margin: 3px 0px 5px 0px;
  }

  div.navbar-permalink {
    margin-bottom:2px;
  }

/* navbar - simple */
  div.navbar-divider {
    width:85%;
    border-bottom:1px solid $gray;
    margin: 8px 0px 5px 0px;
    div.divider-title {
      margin-left: 3px;
      @include fontSize(10px);
    }
  }
  div.simple_navsection {
    div.navbar-divider {
      a.navbar-link {
        &.clicked {
        }
        &:hover {
        }
      }
    }
  }
  a.navbar-link {
    padding:5px 0 5px 0px;
    display:block;
    margin: 0px 0 0 0px;
    color:$black;
    width:139px;
    text-transform:lowercase;
    &:hover {
      background-color:$light-gray;
      //font-style:italic;
    }
    &.clicked {
      background-color:$light-gray;
      //font-style:italic;
    }
  }

/* old way  of doing navbars
div.navbar-title {
  @extend .gray-hover;
  @include inline-block;
  @include grayText();
  @include fontSize(24px);
  padding: 5px;
}
a.section_title.clicked {
  div.navbar-title {
    background-color:$light-gray;
    color:white;
  }
}
*/
  span.lil-goob {
    margin-top: 0px;
    height: 31px;
    width: 6px;
    float: left;
    background-color: $light-gray;
    display:none;
  }
  span.lil-goob.clicked {
    background-color:$red;
  }
  div.navbar-title {
    @include inline-block;
    @include fontSize(15px);
    padding: 5px;
    //width:150px;
    color:$black;
    //font-weight:bold;
    &:hover {
      //background-color:$light-gray;
      color:$red;
      //font-style:italic;
    }
  }
  a.section_title.clicked {
    div.navbar-title {
      //font-style:italic;
      //background-color:$light-gray;
      color:$red;
    }
    span.lil-goob {
        //background-color:$black;
      background-color:$red;
    }
  }

  span.red-triangle {
    @include inline-block;
    //display:none;
  /*
  width:9px;
  height:18px;
  */
    @include staticImage('/images/icons/arrow_right_red.png');
    @include transition(.25s);
    margin-left: 6px;
    margin-bottom: 2px;
    background-repeat: no-repeat;
    background-size: 5px 10px;
    width: 5px;
    height: 10px;
    //display:none;
  }
  span.red-triangle-down {
    @include transform(rotate(90deg));
    @include transition(.25s);
  }
  span.red-triangle:hover {
    cursor:pointer;
  }

  div.navbar_links_wrapper {
    height:0px;
    overflow:hidden;

    a.create-link {
      float:right;
      @include fontSize(12px);
      margin-right:50px;
      padding-right:5px;
    }

    div.create-wrapper {
      background-color:blue;
      a.create-link {
        float:right;
      }
    }
  }

  div.invite-friends-sidebar {
    margin-top:20px;
    margin-bottom:25px;
  }

  div.left-toggles {
    float:left;
    margin-top:5px;
    a.left-toggle {
      width:100%;
      display:block;
      margin-top:10px;
      color:$red;
      &:hover {
        color:$gray;
      }
    }
    a.sidebar-feedback {
      color:$red;
    }
  }

}


/* dismissible header */
div.dismissible-header {
  width:100%;

  div.the-content {
    width:930px;
    float:left;
  }
  div.x-out {
    position: absolute;
    left: 96%;
    top:0px;
    @include fontSize(32px);
    padding:5px;
    &:hover {
      background-color:$black;
      color:white;
      cursor:pointer;
    }
  }

  div.x-img {
    @include staticImage("/images/dismissible_headers/ex_dark.png");
    position: absolute;
    left: 96%;
    top:0px;
    width: 15px;
    height:15px;
    background-size:15px 15px;
    background-repeat:no-repeat;
    padding:15px;
    background-position:15px 15px;
    &:hover {
      cursor:pointer;
      @include staticImage("/images/dismissible_headers/ex.png");
    }
  }
}



/* new footer */
div.new-footer {
  border-top:1px solid $gray;
  margin-top:30px;
  padding-top:20px;
  padding-bottom:20px;

  a.facebook-link-button {
    float:left;
    margin-left:5px;
    @include staticImage('/images/icons/social_media/facebook.png');
    width:30px;
    height:30px;
    background-size:30px;
  }
  a.twitter-link-button {
    float:left;
    margin-left:15px;
    @include staticImage('/images/icons/social_media/twitter.png');
    width:30px;
    height:30px;
    background-size:30px;
  }
  a.footer-link {
    float:left;
    margin-left:40px;
    color:$dark-gray;
    &:hover {
      color:$light-gray;
    }
  }
  div.mission-sentence {
    width:400px;
    float:right;
    color:$gray;
  }
}




