@charset "UTF-8";
@import 'master-variables';
@import 'master-mixins';

@import "compass";

/* stuff for section headers */
div.home-header-top {
  @include clearfix;
  margin-bottom: 7px;
  div.home-section-title {
    text-transform:uppercase;
    @include fontSize(20px);
    float:left;
  }

  div.minimize-button {
    float:right;
  }

}

/* home page stuff */
.gray-hover {
  //@include border-radius(5px);
  &:hover {
    background-color:$light-gray;
    color:white;
  }
  &.clicked {
    background-color:$light-gray;
    color:white;
  }
}



table.home
{
  width:100%;

  td.home-sidebar
  {
    width:150px;
    overflow:hidden;
  }

  td.home-main
  {
    padding-left:30px;

    div.home-header
    {
      width:100%;
      margin-top:13px;

      div.minimize-button
      {
        float: right;
        cursor: pointer;
        color: $text-blue-light;
        font-size: 10px;
        margin-top: 2px;

        &:hover { color: $text-blue; }
      }
    }

    div.feed-wrapper
    {
      width:100%;
    }
  }
}

div.expand-info
{
  @include titleFont();
  color:$deep-gray;
  width:100%;
  background-color:$light-gray;
  text-align:center;
  height: 18px;
  line-height: 12px;
  padding-top: 5px;
  margin-top: 5px;
  overflow: hidden;
  &:hover {
    cursor:pointer;
    background-color:$gray;
  }
}

div.left-navbar {

  margin-top:20px;
  @include titleFont();
  width:150px;
  overflow:hidden;

  p.asterisk-pointer {
    color:$black;
    position:absolute;
    @include titleFont();
    @include fontSize(22px);
    display:none;
  }

  div.navbar-section {
    margin-bottom:10px;
    width:200px;

    a.navbar-link {
      padding:5px 0 5px 5px;
      display:block;
      margin: 0px 0 0 10px;
      color:$black;
      width:139px;
      @extend .gray-hover;
    }
  }

  div.navbar-title {
    @extend .gray-hover;
    @include inline-block;
    @include grayText();
    @include fontSize(24px);
    padding: 5px;
  }
  a.section_title.clicked {
    div.navbar-title {
      background-color:$light-gray;
      color:white;
    }
  }

  span.red-triangle {
    @include inline-block;
    width:9px;
    height:18px;
    @include staticImage('/images/icons/arrow_right_red.png');
    @include transition(.25s);
    margin-left:15px;
    margin-bottom:3px;
    //display:none;
  }
  span.red-triangle-down {
    @include transform(rotate(90deg));
    @include transition(.25s);
  }
  span.red-triangle:hover {
    cursor:pointer;
  }

  div.navbar_links_wrapper {
    height:0px;
    overflow:hidden;

    a.create-link {
      float:right;
      @include fontSize(12px);
      margin-right:50px;
      padding-right:5px;
    }
  }

}


/* dismissible header */
div.dismissible-header {
  width:100%;
  padding:10px;
  @include clearfix;
  background-color:$blue-light;
  div.the-content {
    float:left;
  }
  div.x-out {
    float:right;
    @include fontSize(32px);
    padding:5px;
    &:hover {
      background-color:$black;
      color:white;
      cursor:pointer;
    }
  }
}



