/* HTML5 Boilerplate...  */
/* line 3, ../scss/boilerplate.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 4, ../scss/boilerplate.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 5, ../scss/boilerplate.scss */
audio:not([controls]) {
  display: none;
}

/* line 6, ../scss/boilerplate.scss */
[hidden] {
  display: none;
}

/* line 8, ../scss/boilerplate.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 9, ../scss/boilerplate.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 10, ../scss/boilerplate.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/* line 12, ../scss/boilerplate.scss */
::-moz-selection {
  background: #FE57A1;
  color: #FFF;
  text-shadow: none;
}

/* line 13, ../scss/boilerplate.scss */
::selection {
  background: #FE57A1;
  color: #FFF;
  text-shadow: none;
}

/* line 15, ../scss/boilerplate.scss */
a {
  color: #00e;
}

/* line 16, ../scss/boilerplate.scss */
a:visited {
  color: #551a8b;
}

/* line 17, ../scss/boilerplate.scss */
a:hover {
  color: #06e;
}

/* line 18, ../scss/boilerplate.scss */
a:focus {
  outline: thin dotted;
}

/* line 19, ../scss/boilerplate.scss */
a:hover, a:active {
  outline: 0;
}

/* line 20, ../scss/boilerplate.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 21, ../scss/boilerplate.scss */
b, strong {
  font-weight: bold;
}

/* line 22, ../scss/boilerplate.scss */
blockquote {
  margin: 1em 40px;
}

/* line 23, ../scss/boilerplate.scss */
dfn {
  font-style: italic;
}

/* line 24, ../scss/boilerplate.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 25, ../scss/boilerplate.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 26, ../scss/boilerplate.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 27, ../scss/boilerplate.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 28, ../scss/boilerplate.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 30, ../scss/boilerplate.scss */
q {
  quotes: none;
}

/* line 31, ../scss/boilerplate.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 32, ../scss/boilerplate.scss */
small {
  font-size: 85%;
}

/* line 33, ../scss/boilerplate.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 34, ../scss/boilerplate.scss */
sup {
  top: -0.5em;
}

/* line 35, ../scss/boilerplate.scss */
sub {
  bottom: -0.25em;
}

/* line 37, ../scss/boilerplate.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 38, ../scss/boilerplate.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 39, ../scss/boilerplate.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 41, ../scss/boilerplate.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 42, ../scss/boilerplate.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 43, ../scss/boilerplate.scss */
figure {
  margin: 0;
}

/* line 45, ../scss/boilerplate.scss */
form {
  margin: 0;
}

/* line 46, ../scss/boilerplate.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 48, ../scss/boilerplate.scss */
label {
  cursor: pointer;
}

/* line 49, ../scss/boilerplate.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/* line 50, ../scss/boilerplate.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 51, ../scss/boilerplate.scss */
button, input {
  line-height: normal;
}

/* line 52, ../scss/boilerplate.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 53, ../scss/boilerplate.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 54, ../scss/boilerplate.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 55, ../scss/boilerplate.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 56, ../scss/boilerplate.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 57, ../scss/boilerplate.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 58, ../scss/boilerplate.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 60, ../scss/boilerplate.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 62, ../scss/boilerplate.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 63, ../scss/boilerplate.scss */
td {
  vertical-align: top;
}

/* line 65, ../scss/boilerplate.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

/* line 80, ../scss/boilerplate.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 81, ../scss/boilerplate.scss */
.ir br {
  display: none;
}

/* line 82, ../scss/boilerplate.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 83, ../scss/boilerplate.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 84, ../scss/boilerplate.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 85, ../scss/boilerplate.scss */
.invisible {
  visibility: hidden;
}

/* line 86, ../scss/boilerplate.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 87, ../scss/boilerplate.scss */
.clearfix:after {
  clear: both;
}

/* line 88, ../scss/boilerplate.scss */
.clearfix {
  *zoom: 1;
}

@media print {
  /* line 91, ../scss/boilerplate.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 92, ../scss/boilerplate.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 93, ../scss/boilerplate.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 94, ../scss/boilerplate.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 95, ../scss/boilerplate.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 96, ../scss/boilerplate.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 97, ../scss/boilerplate.scss */
  thead {
    display: table-header-group;
  }

  /* line 98, ../scss/boilerplate.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 99, ../scss/boilerplate.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 101, ../scss/boilerplate.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 102, ../scss/boilerplate.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
