{% extends 'site/pages/home/top_sidebar_main.html' %}

{% load humanize %}
{% load macros %}
{% loadmacros "site/pages/feed/feed_items/base_item.html" %}


{% block top %}
{% endblock %}

{% block sidebar %}
    {% comment %}
    <div class="content-detail-sidebar">
        <a href="/home/" class='back-to-feed'> Back To Feed </a>
        {% block content_detail_sidebar %}
            <div class="sidebar-header"> who liked this </div>
            <div class="liked-wrapper">
                {% for x in liked %}
                    <a href="{{ x.get_url }}" class="liked-avatar">
                        {% include 'site/pieces/avatar.html' with user=x width="50" height="50" %}
                    </a>
                {% empty %}
                    <p>
                        no one has liked this news yet :(
                    </p>
                {% endfor %}
            </div>
            {% if viewer.facebook_id %}
                {% include 'site/pages/friends/fb_invite_sidebar.html' %}
            {% endif %}
        {% endblock %}
    </div>
    {% endcomment %}
{% endblock %}

{% block sidebar_fixed %}
{% endblock %}

{% block main %}

    <div class="content-detail-wrapper">
        <div class="content-detail-top">
            <div class="the-hearts">
                {% usemacro hearts_rank content my_vote %}
            </div>
            <div class="detail-item-header">
                {% macro content_detail_title content %}
                    <div class="item-title-wrapper">
                        <a href="{{ content.get_url }}" class="item-title"> {{ content.getFeedTitle }} </a>
                        <div class="posted-in"> posted in </div>
                        {% with group=content.posted_to %}
                            <a href="{{ group.get_url }}" class="posted-in-group"> {{ group.get_name }} </a>
                        {% endwith %}
                        <div style="clear:both;"></div>
                    </div>
                {% endmacro %}
                {% usemacro content_detail_title content %}
                <div class="feed-item-bottom-wrapper">
                    {% usemacro feed_bottom content %}
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>

        <div class="content-main-wrapper">
            {% block content_body %}
            {% endblock %}

            <div id="comments" class="content-discussion">
                {% include 'site/pieces/thread.html' with content=content%}
            </div>

        </div>

        <div style="clear:both;"></div>
    </div>

{% endblock %}