{% extends 'site/pages/content_detail/leg_content_detail.html' %}

{% block content_detail_sidebar %}
{% endblock %}


{% block content_description %}
    <div class="content-info-header">
        Bill Summary
    </div>

    <div class="petition-description">
        {{ content.summary}}
    </div>

{% endblock %}


{% block content_body %}

<div class="legislation-wrapper">

    <div class="leg-title">

        {% if l.bill_type == "s" %}
            <h3><span>Session {{l.congress_session_id}}, Bill S {{l.bill_number}}</span></h3>
        {% elif l.bill_type == "h" %}
            <h3><span>Session {{l.congress_session_id}}, Bill H.R. {{l.bill_number}}</span></h3>
        {% elif l.bill_type == "hr" %}
            <h3><span>Session {{l.congress_session_id}}, Bill H.Res. {{l.bill_number}}</span></h3>
        {% elif l.bill_type == "sr" %}
            <h3><span>Session {{l.congress_session_id}}, Bill S.Res. {{l.bill_number}}</span></h3>
        {% elif l.bill_type == "hc" %}
            <h3><span>Session {{l.congress_session_id}}, Bill H.Con.Res. {{l.bill_number}}</span></h3>
        {% elif l.bill_type == "sc" %}
            <h3><span>Session {{l.congress_session_id}}, Bill S.Con.Res. {{l.bill_number}}</span></h3>
        {% elif l.bill_type == "hj" %}
            <h3><span>Session {{l.congress_session_id}}, Bill H.J.Res. {{l.bill_number}}</span></h3>
        {% elif .bill_type == "sj" %}
            <h3><span>Session {{l.congress_session_id}}, Bill S.J.Res. {{l.bill_number}}</span></h3>
        {% endif %}

    </div>
    <div class="legislation-template">
        <div class="main">
            <div class="summary-outlook">
                <div class="level1-summary">
                    <div class="bill-summary">
                        <h4>
                            <span>Summary</span>
                        </h4>
                    </div>
                </div>
                <div class="level1-summary-div">
                    <div class="summary bill_detail long_text more"><span>{{ l.bill_summary }}</span>
                    </div>
                </div>
                <div class="level1-bill-view-stats">
                    <div class="bill-views">
                        <h4 class="views">432</h4>
                        <h4>views</h4>
                    </div>
                    <div class="bill-outlook">
                        <div class="spectrum">
                        </div>
                        <div class="spectrum-select">
                        </div>
                        <div class="spectrum-labels">
                            <div class="gridlock">
                                <h4 class="gridlock">gridlock</h4>
                            </div>
                            <div class="consensus">
                                <h4 class="consensus">consensus</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sponsor">
                <div class="level1-sponsor">
                    <div class="bill-sponsor">
                        <h4>
                            <span>Sponsor</span>
                        </h4>
                    </div>
                </div>
                <div class="sponsor-pic">
                <span>
                    {{ l.sponsor.getProfileImage }}
                </span>
                </div>
                <div class="sponsor-caption">
                    <h6><span><a href='{{l.sponsor.get_url}}'><h6 class="sponsor-name">{{l.sponsor.get_name}}</h6></a>
                    {{ l.sponsor.getPartiesString }}<br>{{ l.sponsor.political_title }}<br></span></h6>
                </div>
            </div>
            <div class="progress">
                <div class="level1-progress">
                    <div class="bill-progress-title">
                        <h4>
                            <span>Status</span>
                        </h4>
                    </div>
                </div>
{% comment %}
                    {% ifequal bill_progress "Passed House and Senate" %}
                    <div class="level1-progress-div">
                        <br>
                        <div class="progress-graphic1">
                            <img class="progress-img1" src="/static/images/legislation/status-arrow3.png"/>
                            <h3 class="progress-label1">Passed in House</h3>
                            <img class="progress-img2" src="/static/images/legislation/status-arrow3.png"/>
                            <h3 class="progress-label2">Passed in Senate</h3>
                            <img class="progress-img3" src="/static/images/legislation/status-arrow3.png"/>
                            <h3 class="progress-label3">Signed into Law</h3>
                        </div>
                    </div>
                    {% endifequal %}
{% endcomment %}
                    {% ifequal bill_progress "Passed House and Senate, Signed into Law" %}
                        <div class="level1-progress-div">
                            <br>
                            <div class="progress-graphic1">
                                <img class="progress-img1" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label1">Passed in House</h3>
                                <img class="progress-img2" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label2">Passed in Senate</h3>
                                <img class="progress-img3" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label3">Signed into Law</h3>
                            </div>
                        </div>
                    {% endifequal %}
                    {% ifequal bill_progress "Passed House and Senate" %}
                        <div class="level1-progress-div">
                            <br>
                            <div class="progress-graphic1">
                                <img class="progress-img1" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label1">Passed in House</h3>
                                <img class="progress-img2" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label2">Passed in Senate</h3>
                                <img class="progress-img3" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label3">Signed into Law</h3>
                            </div>
                        </div>
                    {% endifequal %}
                    {% ifequal bill_progress "Passed House" %}
                        <div class="level1-progress-div">
                            <br>
                            <div class="progress-graphic1">
                                <img class="progress-img1" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label1">Passed in House</h3>
                                <img class="progress-img2" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label2">Passed in Senate</h3>
                                <img class="progress-img3" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label3">Signed into Law</h3>
                            </div>
                        </div>
                    {% endifequal %}
                    {% ifequal bill_progress "Joint Resolution Passed House and Senate" %}
                        <div class="level1-progress-div">
                            <br>
                            <div class="progress-graphic1">
                                <img class="progress-img1" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label1">Passed in House</h3>
                                <img class="progress-img2" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label2">Passed in Senate</h3>
                                <img class="progress-img3" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label3">Signed into Law</h3>
                            </div>
                        </div>
                    {% endifequal %}
                    {% ifequal bill_progress "Joint Resolution Passed House" %}
                        <div class="level1-progress-div">
                            <br>
                            <div class="progress-graphic1">
                                <img class="progress-img1" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label1">Passed in House</h3>
                                <img class="progress-img2" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label2">Passed in Senate</h3>
                                <img class="progress-img3" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label3">Signed into Law</h3>
                            </div>
                        </div>
                    {% endifequal %}
                    {% ifequal bill_progress "Concurrent Resolution Passed House and Senate" %}
                        <div class="level1-progress-div">
                            <br>
                            <div class="progress-graphic1">
                                <img class="progress-img1" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label1">Passed in Senate</h3>
                                <img class="progress-img2" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label2">Passed in House</h3>
                            </div>
                        </div>
                    {% endifequal %}
                    {% ifequal bill_progress "Concurrent Resolution Passed House" %}
                        <div class="level1-progress-div">
                            <br>
                            <div class="progress-graphic1">
                                <img class="progress-img1" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label1">Passed in House</h3>
                                <img class="progress-img2" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label2">Passed in Senate</h3>
                            </div>
                        </div>
                    {% endifequal %}
                    {% ifequal bill_progress "Resolution Passed House" %}
                        <div class="level1-progress-div">
                            <br>
                            <div class="progress-graphic1">
                                <img class="progress-img1" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label1">Passed in House</h3>
                            </div>
                        </div>
                    {% endifequal %}
                    {% ifequal bill_progress "Passed Senate, Not Passed House" %}
                        <div class="level1-progress-div">
                            <br>
                            <div class="progress-graphic1">
                                <img class="progress-img1" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label1">Passed in Senate</h3>
                                <img class="progress-img2" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label2">Passed in House</h3>
                                <img class="progress-img3" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label3">Signed into Law</h3>
                            </div>
                        </div>
                    {% endifequal %}
                    {% ifequal bill_progress "Not Passed House" %}
                        <div class="level1-progress-div">
                            <br>
                            <div class="progress-graphic1">
                                <img class="progress-img1" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label1">Passed in House</h3>
                                <img class="progress-img2" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label2">Passed in Senate</h3>
                                <img class="progress-img3" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label3">Signed into Law</h3>
                            </div>
                        </div>
                    {% endifequal %}
                    {% ifequal bill_progress "Resolution Not Passed House" %}
                        <div class="level1-progress-div">
                            <br>
                            <div class="progress-graphic1">
                                <img class="progress-img1" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label1">Passed in House</h3>
                            </div>
                        </div>
                    {% endifequal %}
                    {% ifequal bill_progress "Joint Resolution Passed Senate, Not Passed House" %}
                        <div class="level1-progress-div">
                            <br>
                            <div class="progress-graphic1">
                                <img class="progress-img1" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label1">Passed in Senate</h3>
                                <img class="progress-img2" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label2">Passed in House</h3>
                                <img class="progress-img3" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label3">Signed into Law</h3>
                            </div>
                        </div>
                    {% endifequal %}
                    {% ifequal bill_progress "Joint Resolution Not Passed House" %}
                        <div class="level1-progress-div">
                            <br>
                            <div class="progress-graphic1">
                                <img class="progress-img1" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label1">Passed in House</h3>
                                <img class="progress-img2" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label2">Passed in Senate</h3>
                                <img class="progress-img3" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label3">Signed into Law</h3>
                            </div>
                        </div>
                    {% endifequal %}
                    {% ifequal bill_progress "Concurrent Resolution Passed Senate, Not Passed House" %}
                        <div class="level1-progress-div">
                            <br>
                            <div class="progress-graphic1">
                                <img class="progress-img1" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label1">Passed in Senate</h3>
                                <img class="progress-img2" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label2">Passed in House</h3>
                            </div>
                        </div>
                    {% endifequal %}
                    {% ifequal bill_progress "Concurrent Resolution Not Passed House" %}
                        <div class="level1-progress-div">
                            <br>
                            <div class="progress-graphic1">
                                <img class="progress-img1" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label1">Passed in House</h3>
                                <img class="progress-img2" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label2">Passed in Senate</h3>
                            </div>
                        </div>
                    {% endifequal %}
                    {% ifequal bill_progress "Passed Senate and House, Signed into Law" %}
                        <div class="level1-progress-div">
                            <br>
                            <div class="progress-graphic1">
                                <img class="progress-img1" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label1">Passed in Senate</h3>
                                <img class="progress-img2" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label2">Passed in House</h3>
                                <img class="progress-img3" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label3">Signed into Law</h3>
                            </div>
                        </div>
                    {% endifequal %}
                    {% ifequal bill_progress "Passed Senate and House" %}
                        <div class="level1-progress-div">
                            <br>
                            <div class="progress-graphic1">
                                <img class="progress-img1" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label1">Passed in Senate</h3>
                                <img class="progress-img2" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label2">Passed in House</h3>
                                <img class="progress-img3" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label3">Signed into Law</h3>
                            </div>
                        </div>
                    {% endifequal %}
                    {% ifequal bill_progress "Passed Senate" %}
                        <div class="level1-progress-div">
                            <br>
                            <div class="progress-graphic1">
                                <img class="progress-img1" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label1">Passed in Senate</h3>
                                <img class="progress-img2" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label2">Passed in House</h3>
                                <img class="progress-img3" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label3">Signed into Law</h3>
                            </div>
                        </div>
                    {% endifequal %}
                    {% ifequal bill_progress "Joint Resolution Passed Senate and House" %}
                        <div class="level1-progress-div">
                            <br>
                            <div class="progress-graphic1">
                                <img class="progress-img1" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label1">Passed in Senate</h3>
                                <img class="progress-img2" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label2">Passed in House</h3>
                                <img class="progress-img3" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label3">Signed into Law</h3>
                            </div>
                        </div>
                    {% endifequal %}
                    {% ifequal bill_progress "Joint Resolution Passed Senate" %}
                        <div class="level1-progress-div">
                            <br>
                            <div class="progress-graphic1">
                                <img class="progress-img1" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label1">Passed in Senate</h3>
                                <img class="progress-img2" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label2">Passed in House</h3>
                                <img class="progress-img3" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label3">Signed into Law</h3>
                            </div>
                        </div>
                    {% endifequal %}
                    {% ifequal bill_progress "Concurrent Resolution Passed Senate and House" %}
                        <div class="level1-progress-div">
                            <br>
                            <div class="progress-graphic1">
                                <img class="progress-img1" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label1">Passed in Senate</h3>
                                <img class="progress-img2" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label2">Passed in House</h3>
                            </div>
                        </div>
                    {% endifequal %}
                    {% ifequal bill_progress "Concurrent Resolution Passed Senate" %}
                        <div class="level1-progress-div">
                            <br>
                            <div class="progress-graphic1">
                                <img class="progress-img1" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label1">Passed in Senate</h3>
                                <img class="progress-img2" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label2">Passed in House</h3>
                            </div>
                        </div>
                    {% endifequal %}
                    {% ifequal bill_progress "Resolution Passed Senate" %}
                        <div class="level1-progress-div">
                            <br>
                            <div class="progress-graphic1">
                                <img class="progress-img1" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label1">Passed in Senate</h3>
                            </div>
                        </div>
                    {% endifequal %}
                    {% ifequal bill_progress "Passed House, Not Passed Senate" %}
                        <div class="level1-progress-div">
                            <br>
                            <div class="progress-graphic1">
                                <img class="progress-img1" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label1">Passed in House</h3>
                                <img class="progress-img2" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label2">Passed in Senate</h3>
                                <img class="progress-img3" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label3">Signed into Law</h3>
                            </div>
                        </div>
                    {% endifequal %}
                    {% ifequal bill_progress "Not Passed Senate" %}
                        <div class="level1-progress-div">
                            <br>
                            <div class="progress-graphic1">
                                <img class="progress-img1" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label1">Passed in Senate</h3>
                                <img class="progress-img2" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label2">Passed in House</h3>
                                <img class="progress-img3" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label3">Signed into Law</h3>
                            </div>
                        </div>
                    {% endifequal %}
                    {% ifequal bill_progress "Resolution Not Passed Senate" %}
                        <div class="level1-progress-div">
                            <br>
                            <div class="progress-graphic1">
                                <img class="progress-img1" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label1">Passed in Senate</h3>
                            </div>
                        </div>
                    {% endifequal %}
                    {% ifequal bill_progress "Joint Resolution Passed House, Not Passed Senate" %}
                        <div class="level1-progress-div">
                            <br>
                            <div class="progress-graphic1">
                                <img class="progress-img1" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label1">Passed in House</h3>
                                <img class="progress-img2" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label2">Passed in Senate</h3>
                                <img class="progress-img3" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label3">Signed into Law</h3>
                            </div>
                        </div>
                    {% endifequal %}
                    {% ifequal bill_progress "Joint Resolution Not Passed Senate" %}
                        <div class="level1-progress-div">
                            <br>
                            <div class="progress-graphic1">
                                <img class="progress-img1" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label1">Passed in Senate</h3>
                                <img class="progress-img2" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label2">Passed in House</h3>
                                <img class="progress-img3" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label3">Signed into Law</h3>
                            </div>
                        </div>
                    {% endifequal %}
                    {% ifequal bill_progress "Concurrent Resolution Passed House, Not Passed Senate" %}
                        <div class="level1-progress-div">
                            <br>
                            <div class="progress-graphic1">
                                <img class="progress-img1" src="/static/images/legislation/status-arrow3.png"/>
                                <h3 class="progress-label1">Passed in House</h3>
                                <img class="progress-img2" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label2">Passed in Senate</h3>
                            </div>
                        </div>
                    {% endifequal %}
                    {% ifequal bill_progress "Concurrent Resolution Not Passed Senate" %}
                        <div class="level1-progress-div">
                            <br>
                            <div class="progress-graphic1">
                                <img class="progress-img1" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label1">Passed in Senate</h3>
                                <img class="progress-img2" src="/static/images/legislation/status-arrow4.png"/>
                                <h3 class="progress-label2">Passed in House</h3>
                            </div>
                        </div>
                    {% endifequal %}
            </div>
        </div>
    {%comment%}
            <div class="bill-stats">
                <div class="bill-stats-div">
                    <div class="support-stats">
                        <h3 class="number">88%</h3>
                        <h3>support</h3>
                    </div>
                    <div class="oppose-stats">
                        <h4 class="number">12%</h4>
                        <h4>oppose</h4>
                    </div>
                    <div class="button support">
                        <span>support</span>
                    </div>
                    <div class="button oppose">
                        <span>oppose</span>
                    </div>
                </div>
            </div>

            <div class="bill-share-and-actions">
                <div class="bill-share">
                    <div class="bill-share-div">
                        <div class="button share">
                            <span>share</span>
                        </div>
                        <div class="share-icons">
                            <img src="/static/images/footer/facebook.png">
                            <img src="/static/images/footer/twitter.png">
                            <img src="/static/images/old/feed/plusHeartBlue.png">
                        </div>
                    </div>
                </div>
                <div class="bill-other-actions">
                    <div class="bill-other-actions-div">
                        <div class="button follow">
                            <span>follow</span>
                        </div>
                        <div class="button contact">
                            <span>contact  your representative</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endcomment%}

        <div class="secondary">
{%comment%}
                <div class="bill-text">
                    <div class="level2-bill-text">
                        <div class="bill-text-title">
                            <h4>
                                <span>Bill Text</span>
                            </h4>
                       </div>
                    </div>
                    <div class="level2-bill-text-div">
                        <div class="bill-text bill_detail long_text more"><span>
                        Providing for consideration of the bill (<a href="">H.R. 3463</a>) to
                        reduce Federal spending and the deficit by terminating taxpay
                       er financing of presidential election campaigns and party con-
                        ventions and by terminating the Election Assistance Commis
                       sion; providing for consideration of the bill (<a href="">H.R. 527</a>) to amend
                        chapter 6 of title 5, United States Code (commonly known as
                        the Regulatory Flexibility Act), to ensure complete analysis of
                        potential impacts on small entities of rules, and for other pur
                        poses; and providing for consideration of the bill (<a href="">H.R. 3010</a>) to
                        reform the process by which Federal agencies analyze and for
                       mulate new regulations and guidance documents.</span>
                        </div>
                    </div>
                </div>
{% endcomment%}

            <div class="secondary-bottom">
{% comment %}
                <div class="bill-amendments">
                    <div class="level2-bill-amendments">
                        <div class="bill-amendments-title">
                            <h4>
                                <span>Amendments</span>
                            </h4>
                        </div>
                        <div class="level2-bill-amendments-div">
                            <div class="amendment-name">
                                <span>
                                    <ul>
                                        <li><a href="">S.Amdt.1886</a></li>
                                        <li><a href="">S.Amdt.1885</a></li>
                                        <li><a href="">S.Amdt.1884</a></li>
                                    </ul>
                                </span>
                            </div>
                        </div>
                        <div class="amendment-type">
                            <span>
                                <ul>
                                    <li><a>In the nature of a substitute.</a></li>
                                    <li><a>In the nature of a substitute.</a></li>
                                    <li><a>In the nature of a substitute.</a></li>
                                </ul>
                            </span>
                        </div>
                        <div class="amendment-result">
                            <span>
                                <ul>
                                    <li><a>Passed</a></li>
                                    <li><a>Passed</a></li>
                                    <li><a>Passed</a></li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
{% endcomment %}
                <div class="bill-recent-actions">
                    <div class="level2-recent-actions">
                        <div class="recent-actions-title">
                            <h4>
                                <span>Actions</span>
                            </h4>
                        </div>
                    </div>
                    {% for action in actions %}
                    <div class="level2-recent-actions-div">
                        <div class="recent-actions">

                                <span>
                                    <ul>
                                        <li><span class="leg-list">{{ action.text }}</span></li>
                                    </ul>
                                </span>

                        </div>
                        <div class="recent-action-dates">

                                <span>
                                    <ul>
                                        <li><span class="leg-list">{{ action.datetime.date }}</span></li>
                                    </ul>
                                </span>

                        </div>
                        <div class="recent-action-results">

                                <span>
                                    <ul>
                                        <li><span class="leg-list">{{ action.state }}</span></li>
                                    </ul>
                                </span>

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
    <div class="subjects-committees-related">
        <div class="level1-subjects">
            <div class="bill-subjects-title">
                <h4>
                    <span>Related Subjects</span>
                </h4>
            </div>
        </div>
        <div class="level1-subjects-div">
            <div class="subjects">
                <span>
                    <ul>
                        {% for subject in l.bill_subjects.all.reverse %}
                            <li><span class="leg-list"><a class="feed_by_subject">{{ subject.name }}</a></span></li>
                        {% endfor %}
                    </ul>
                </span>
            </div>
        </div>
        <div class="level1-committees">
            <div class="bill-committees-title">
                <h4>
                    <span>Committees</span>
                </h4>
            </div>
        </div>
        <div class="level1-committees-div">
            <div class="committees">
                <span>
                    <ul>
                        {% for committee in l.committees.all %}
                            <li><span class="leg-list"><a class="feed_by_committee">{{ committee.title }}</a></span></li>
                        {% endfor %}
                    </ul>
                </span>
            </div>
        </div>
        <div class="level1-related">
            <div class="related-bill-title">
                <h4>
                    <span>Related Bills</span>
                </h4>
            </div>
        </div>
        <div class="level1-related-div">
            <div class="related">
                <span>
                    <ul>
                        {% for related_bill in related %}
                            <li><span class="leg-list"><a class="feed_by_related_bills">{{ related_bill.congress_session }} {{ related_bill.bill_number }} {{ related_bill.full_title }}</a></span></li>
                        {% endfor %}
                    </ul>
                </span>
            </div>
        </div>
    </div>
</div>
<script> rebind="legislation_detail"; </script>


{% endblock %}


