{% extends 'site/pages/content_detail/content_detail.html' %}

{% block content_body %}

    <div class="news-detail-wrapper">

        <div class="news-link-wrapper">
            {% comment %}<span class="link-label"> Link: </span> {% endcomment %}
            <a class="news-link news_link" href="{{ news.getAbsoluteLink }}" data-n_id="{{ news.id }}" target="_blank"> {{ news.link }}</a>

            {% if news.link_clicks %}
                <span class="link-clicks"> ( {{ news.link_clicks }} click{{ news.link_clicks|pluralize }} )</span>
            {% endif %}
        </div>

        <div class="content-detail-description">
            {{ news.summary}}
        </div>

    </div>

    <script> rebind="news_detail"; </script>

{% endblock %}

