<div class="sign-area sign_area" data-p_id="{{ petition.id }}">
    {% if petition.finalized %}
        <a class="action-button sign_button dummy_link" data-p_id="{{ petition.id }}"
                {% if i_signed %} style="display:none" {% endif %}> sign </a>
        <div class="signed signed_text" {% if not i_signed %} style="display:none" {% endif %}> you signed this petition </div>
    {% else %}
        {% if i_created %}
            <a class="action-button finalize_button dummy_link" data-p_id="{{ petition.id }}"> finalize </a>
        {% endif %}
        <div class="not-finalized {% if in_feed_sign %} tooltip-top {% endif %}"
             {% if in_feed_sign %}title="Before a petition is finalized by its author it cannot be signed."{% endif %}>
            {% if not in_feed_sign %}
                This petition has not been finalized by its author. Before it's finalized a petition can be discussed and edited by
                its author, but no one can sign it.
            {% else %}
                not finalized
            {% endif %}
        </div>
    {% endif %}
    <div style="clear:both;"></div>
</div>
