{% extends 'site/pages/content_detail/content_detail.html' %}

{% block content_detail_sidebar %}
    {% include 'site/pages/content_detail/signers_sidebar.html' %}
{% endblock %}


{% block content_description %}
    <div class="content-info-header">
        Description
    </div>

    <div class="petition-description">
        {{ content.summary}}
    </div>

    <div class="petition-bar-wrapper">
        {% include 'site/pages/content_detail/petition_bar.html' %}
    </div>

{% endblock %}


{% block content_body %}

    <div class="petition-wrapper">
        <div class="inline_editable" data-model="Petition" data-p_id="{{ content.id }}">
            <div class="header-wrapper">
                <div class="content-info-header">
                    Full Text
                </div>
                {% if iown and not petition.finalized %}
                    <div class="edit-link pencil-button edit_button not_editing_display"></div>
                {% endif %}
                <div style="clear:both;"></div>
            </div>
            <div class="text-wrapper being_edited not_editing_display">
                {{ content.full_text }}
            </div>
            {% if iown and not petition.finalized %}
                <div class="inline-edit-input inline_edit doing_editing_display">
                    <textarea type="text" maxlength="10000" class="edit_input edit-petition" name="full_text" >{{ petition.full_text|linebreaksbr }}</textarea>
                    <a href="" class="edit-link submit_inline_edit dummy_link">save</a>
                    <a href="" class="edit-link cancel_inline_edit dummy_link">cancel</a>
                </div>
            {% endif %}
        </div>
    </div>

    <script> rebind="petition_detail"; </script>

{% endblock %}

