<div class="pin-content-modal">

    <div class="pin-title">Pin Content </div>
    <div class="pin-explanation">
        A moderator of a group can pin a piece of content to that group so that it is highlighted on that group's page.
    </div>

    <div class="pin-to-wrapper">

        <div class="pin-to-header">
            pin <span class="pin-what"> {{ content.title }} </span> to:
        </div>

        {% if groups %}
            <div class="pin-select-wrapper">
                <select class="pin-to pin_to_select select_2" data-placeholder="Choose one of your groups.">
                    {% for group in groups %}
                        <option value="{{ group.id }}">{{ group.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="was-pinned was_pinned"></div>
            <a class="pin-it pin_it d" data-c_id="{{ content.id }}"> pin it  </a>
        {% else %}
            <div class="no-groups">
                Either you aren't the moderator of any groups, or this content has already been pinned to all of your
                groups.
            </div>
        {% endif %}
    </div>
</div>