{% load customtags %}

<div class="poll-sample-question sample_question" data-p_id="{{ poll.id }}" data-which="{{ which }}">
    <div class="arrow left-arrow poll_arrow" data-direction="L"> < </div>
    <div class="poll-question-wrapper poll_question_wrapper">
        <a href="{{ poll.get_url }}">
            <div class="current-question"> {{ question.title }} </div>
        </a>
        <div class="poll-answers-wrapper">
            {% for a in question.answers.all %}
                <div class="poll-answer poll_answer" data-a_id="{{ a.id }}">
                        {{ a.answer_text }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="arrow right-arrow poll_arrow" data-direction="R"> > </div>
</div>