{% extends 'site/pages/content_detail/content_detail.html' %}


{% block content_detail_sidebar %}
    <a href="/questions/" class="back-to"> Back To Questions </a>
{% endblock %}



{% block sidebar_fixed %}

    <div class="poll-detail-sidebar">
        <div class="sidebar-header">
            Your Poll Progress
        </div>

        <div class="poll-progress-wrapper">
            {% include 'site/pages/qa/poll_progress.html' %}
        </div>
    </div>
{% endblock %}



{% block content_body %}

    <div class="poll-detail-wrapper">
        <div class="content-detail-description">
            {{ content.summary}}
        </div>
    </div>

    <div class="mini-feed-wrapper">
        {% include 'site/pages/qa/feed_browse_questions.html' with special_feed="getQuestions" only_unanswered=1 default_display="choose" poll_id=poll.id %}
    </div>

    <script> rebind="poll_detail"; </script>

{% endblock %}

