{% extends 'site/pages/content_detail/content_detail.html' %}

{% block content_detail_sidebar %}
    <div class="question-detail-sidebar">
        <a href="/questions/" class="back-to"> Back To Questions </a>
        {% if group_tuples %}
            <div class='agree-wrapper'>
                <div class="agree-with">
                    You agree with
                </div>
                {% include 'site/pages/qa/you_agree_with_stats.html' %}
            </div>
        {% endif %}
        <div class="friends">
            Friends who answered this question,
        </div>
        <div class="friend-avatars">
            {% for f in friends_answered %}
                <a href="{{ f.get_url }}" class="friend-link">
                    {% include 'site/pieces/avatar.html' with user=f width="30" height="30"%}
                </a>
            {% empty %}
                be the first of your friends to answer this question!
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block sidebar_fixed %}
{% endblock %}


{% block content_body %}

    <div class="question-detail mini-feed-wrapper">
        {% with question=question your_response=response show_answer=response default_display="choose"%}
            {% include 'site/pages/qa/question_stub.html' %}
        {% endwith %}
    </div>

    {% if question.source %}

        <div class="question-source">
            <strong>Source (by question submitter):</strong> {{ question.source }}
        </div>

    {% endif %}

    <script> rebind="question_detail"; </script>

{% endblock %}

