{% extends 'site/pages/home/top_sidebar_main.html' %}

{% block top %}
{% endblock %}

{% block sidebar %}
    <div class="question-detail-sidebar">
        <a href="/questions/" class="back-to"> Back To Questions </a>
        {% if group_tuples %}
            <div class='agree-wrapper'>
                <div class="agree-with">
                    You agree with
                </div>
                {% include 'site/pages/qa/you_agree_with_stats.html' %}
            </div>
        {% endif %}
        <div class="friends">
            Friends who answered this question,
        </div>
        <div class="friend-avatars">
            {% for f in friends_answered %}
                <a href="{{ f.get_url }}" class="friend-link">
                    {% include 'site/pieces/avatar.html' with user=f width="30" height="30"%}
                </a>
            {% empty %}
                be the first of your friends to answer this question!
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block main %}
    <div class="question-detail">
        {% with question=question your_response=response show_answer=response %}
            {% include 'site/pages/qa/question_stub.html' %}
        {% endwith %}

        <div class="comment-thread">

        </div>

    </div>

    <script> rebind="question_detail"; </script>
{% endblock %}