{% extends 'site/pages/content_detail/content_detail.html' %}

{% block content_detail_sidebar %}
{% endblock %}

{% block sidebar_fixed %}
{% endblock %}


{% block content_detail_top %}

    <div class="question-detail mini-feed-wrapper" style="position:relative;left:-20px;top:-25px;">
        {% with content=question %}
            {% include 'site/pages/feed/feed_items/question_item.html' with question_detail=1 %}
        {% endwith %}
    </div>

    {% comment %}
        {% if question.source %}
            <div class="question-source">
                <strong>Source (by question submitter):</strong> {{ question.source|urlize }}
            </div>
        {% endif %}
    {% endcomment %}

    {% comment %}
    {% if content.official %}
        <div class="agreement_people_list_seed
        {% if content.my_response %} initialize_self {% endif %}
        update_after_answer"
             data-action="getAgreementPeopleListHTML"
             data-which="congress"
             data-title="Congressmen who"
             data-q_id="{{ question.id }}">
            <div class="updating-object initialize_loading"></div>
        </div>
    {% endif %}

    {% if viewer.i_follow.num_members %}
        <div class="agreement_people_list_seed
        {% if content.my_response %} initialize_self {% endif %}
        update_after_answer"
             data-action="getAgreementPeopleListHTML"
             data-which="friends"
             data-title="Friends who"
             data-q_id="{{ question.id }}">
            <div class="updating-object initialize_loading"></div>
        </div>
    {% endif %}

    <div class="agreement_people_list_seed
        {% if content.my_response %} initialize_self {% endif %}
        update_after_answer"
         data-action="getAgreementPeopleListHTML"
         data-which="people"
         data-title="People who"
         data-q_id="{{ question.id }}">
        <div class="updating-object initialize_loading"></div>
    </div>
    {% endcomment %}

    <script> rebind="question_detail"; </script>

{% endblock %}

