<div class="signers-sidebar signers_sidebar">

    <div class="sidebar-sign-area">
        {% include 'site/pages/content_detail/petition_sign_area.html' %}
    </div>

    {% if petition.finalized %}
        <div class="signers-header"> People who've signed this petition ({{ num_signers }}) </div>
        <div class="petition_signers">
            {% if i_signed %}
                {% include 'site/pages/content_detail/signer_avatar.html' with signer=viewer %}
            {% endif %}
            {% for signer in signers %}
                {% if signer.id != viewer.id %}
                    {% include 'site/pages/content_detail/signer_avatar.html' %}
                {% endif %}
            {% empty %}
                <div class="no-one"> no one has signed this petition yet </div>
            {% endfor %}
            <a class="see-all-signers see_all_signers" data-p_id="{{ petition.id }}"> see all </a>
            <div style="clear:both;"></div>
        </div>
    {% endif %}

    <div style="clear:both;"></div>
</div>