@charset "UTF-8";
@import 'master-variables';
@import 'master-mixins';

@import "compass";

div.facebook-friend-card
{
  text-align: center;
  padding: 20px;
  float: left;
  width: 220px;
  border: $red 2px solid;
  @include border-radius(5px);
  margin-right: 20px;
  margin-bottom: 20px;

  div.facebook-friend-name
  {
    margin-bottom:5px;
    h5 { color: $red }
  }

  div.facebook-invite-button
  {
    margin-top:5px;
  }
}

div.invite-friends-sidebar {
  float:left;
  div.fb-friends-wrapper {
    div.not-connected {
      a.sign-in-fb {
        float:left;
        font-size:14px;
        margin-top:10px;
        color:$dark-gray;
        &:hover {
          color:$black;
        }
      }
    }
  }
  div.invite-header {
    margin-top:0px;
    margin-bottom: 8px;
    font-size: 20px;
  }
  div.fb-invite-card {
    display:block;
    margin-bottom:15px;
    div.fb-image-wrapper {
      float:left;
    }
    div.name-and-invite {
      float:left;
      margin-left:5px;
      div.facebook-friend-name {
        width:90px;
      }
    }
    div.facebook-invite-button {
      width: 39px;
      margin-left: 12px;
      margin-top: 5px;
      padding:3px;
      background-color:$gray;
      @include border-radius(7px);
      &:hover {
        background-color:$dark-gray;
        cursor:pointer;
      }
    }
  }
}