{% extends 'site/pieces/actions/action_verbose.html' %}

{% load humanize %}
{% load thumbnail %}

{% block action_content %}

    {% if to_object.type == 'R' %}
        <td class="action-thumbnail"><img src="{{ STATIC_URL }}/images/icons/actions/answered.png"/></td>
        <td class="action-text">
            {% include "site/pieces/actions/action_name_snippet.html" with object=user you=you_acted capital=true %}
            answered
            {% include 'site/pieces/actions/action_object.html' with to_object=to_object.downcast.question %}
        </td>

    {% elif to_object.type == 'P' %}
        <td class="action-thumbnail"><img src="{{ STATIC_URL }}/images/icons/actions/petition-small.png"/></td>
        <td class="action-text">
            {% include "site/pieces/actions/action_name_snippet.html" with object=user you=you_acted capital=true %}
            created
            {% include 'site/pieces/actions/action_object.html' with to_object=to_object %}
        </td>

    {% elif to_object.type == 'N' %}
        <td class="action-thumbnail"><img src="{{ STATIC_URL }}/images/icons/actions/news-small.png"/></td>
        <td class="action-text">
            {% include "site/pieces/actions/action_name_snippet.html" with object=user you=you_acted capital=true %}
            shared
            {% include 'site/pieces/actions/action_object.html' with to_object=to_object %}
        </td>

    {% elif to_object.type == 'G' %}
        <td class="action-thumbnail">
            {% thumbnail to_object.getImage "25x25" crop="center" as im %}
                <img src="{{ im.url }}" class="icon-small"/>
            {% endthumbnail %}
        </td>
        <td class="action-text">
            {% include "site/pieces/actions/action_name_snippet.html" with object=user you=you_acted capital=true %}
            created
            {% include 'site/pieces/actions/action_object.html' with to_object=to_object %}
        </td>

    {% elif to_object.type == 'C' %}
        <td class="action-thumbnail">
            {% thumbnail to_object.getImage "25x25" crop="center" as im %}
                <img src="{{ im.url }}" class="icon-small"/>
            {% endthumbnail %}
        </td>
        <td class="action-text">
            {% include "site/pieces/actions/action_name_snippet.html" with object=user you=you_acted capital=true %}
            <a href="{{ to_object.downcast.get_url }}">commented</a> on
            {% include 'site/pieces/actions/action_object.html' with to_object=to_object.downcast.root_content %}
        </td>

    {% else %}
        {% include "site/pieces/actions/action_name_snippet.html" with object=user you=you_acted capital=true %}
        created
        {% include 'site/pieces/actions/action_object.html' with to_object=to_object %}
    {% endif %}

{% endblock %}