{% extends 'site/pieces/actions/action_verbose.html' %}

{% load humanize %}
{% load thumbnail %}

{% block action_content %}

    {% if value == 1 %}
        <td class="action-thumbnail"><img src="{{ STATIC_URL }}/images/icons/actions/heart-small.png"/></td>
        <td class="action-text">
            {% include "site/pieces/actions/action_name_snippet.html" with object=user you=you_acted capital=true %}
            liked
            {{ to_object.get_name }}
        </td>

    {% elif value == -1 %}
        <td class="action-thumbnail"><img src="{{ STATIC_URL }}/images/icons/actions/heart-small.png"/></td>
        <td class="action-text">
            {% include "site/pieces/actions/action_name_snippet.html" with object=user you=you_acted capital=true %}
            disliked
            {{ to_object.get_name }}
        </td>
        
    {% else %}
        <td class="action-thumbnail"><img src="{{ STATIC_URL }}/images/icons/actions/heart-small.png"/></td>
        <td class="action-text">
            {% include "site/pieces/actions/action_name_snippet.html" with object=user you=you_acted capital=true %}
            unvoted
            {{ to_object.get_name }}
        </td>
    {% endif %}

{% endblock %}