<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>learn to lovegov</title>
<LINK REL=StyleSheet HREF="comingsoon.css" TYPE="text/css" MEDIA=screen>
</head>

<div id="main">

<div id="lovegov"><img src="lovegov.png" /></div>

<p><h1 style="padding-bottom: 20px;">In politics, the problem is the noise factor.<br />
We'll filter the noise.</h1></p>

<p style="padding-bottom: 30px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a neque vitae nunc porta venenatis in ut lectus. Etiam vel diam arcu. Nulla at erat elit. Quisque fermentum faucibus dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet diam lectus. Aliquam eget placerat arcu. Cras a neque elit.</p>

<p><img src="matching.png" style="padding-bottom: 50px;" /></p>

<p style="padding-bottom: 20px;">Aenean sollicitudin felis at risus malesuada fermentum. Vivamus porta odio eu enim pretium at venenatis sem eleifend. Donec varius rhoncus quam nec convallis. Morbi nulla turpis, fermentum in lobortis id, malesuada quis arcu. Integer ut nunc ut velit faucibus rutrum eu sit amet massa. Nam lorem odio, dignissim a fringilla eget, molestie at sapien. In viverra dictum vestibulum. Curabitur lacinia viverra tortor, eget pulvinar tortor sollicitudin sed. Nunc fermentum tempus ornare.</p>

<p><h1><a href="/devblog.html">our blog</a> <a href="http://twitter.com/novavote" target="_blank" border=0><img src="twitter.png" style="position: relative; top:7px; left: 10px;" /></a></h1><p> 

</div>

<body>
</body>
</html>
