{% load thumbnail %}
<div class="user-name">
    <table>
        <tr>
            <td class="user-name-pic">
                <a href="{{ user.get_url }}">
                    {% include 'site/pieces/snippets/avatar.html' with user=user width="38" height="38" private=0 %}
                </a>
            </td>

            <td class="user-name-name">
                <a href="{{ user.get_url }}">
                    {{ user.get_name }}
                </a>
            </td>
        </tr>
    </table>
</div>