@charset "UTF-8";
/* CSS Document */

@font-face
{
  font-family: "Gill Sans Std Light";
  src: url(GillSansSTD-Light.otf);
}

@font-face
{
  font-family: "Gill Sans Std";
  src: url(GillSansSTD.otf);
}

body
{
	font-family:Helvetica, Verdana, sans-serif;
	font-size:9pt;
	color:#ccc;
}

h2
{
	font-family:"Gill Sans Std", Helvetica, Verdana, sans-serif;
	font-weight:normal;
	font-size:20pt;
	color:#f0503b;
}

.sub-title
{
	font-family:"Gill Sans Std", Helvetica, Verdana, sans-serif;
	font-weight:normal;
	font-size:18pt;
	color:#959595;
	margin:0px;
}

/* CREATE-MAIN */

#create-main
{
	position:relative;
	margin-top:40px;
	margin-left:40px;
	margin-right:40px;
	margin-bottom:40px;
	padding:30px;
	border:1px solid #f0503b;
	width:500px;
}

/* CREATE-BUTTONS */

#create-buttons
{
	position:relative;
	text-align:center;
	height:75px;
	border-bottom:1px solid #ccc;
}

.button-placeholder
{
	position:relative;
	float:left;
	margin-right:10px;
	padding:5px;
	width:50px;
	height:50px;
	background-color:#ccc;
	color: #fff;
}

.button-placeholder a, a:visited, a:active 
{
	background-color:#ccc;
}

.button-placeholder a, a:visited, a:active 
{
	background-color:#959595;
}

/* CREATE-INPUT */

#create-input
{
	position:relative;
}


/* TILE */
.title 
{
	position:relative;
	height:50px;
	width:500px;
}

.title input
{
	border:1px solid #ccc;
	width:321px;
	height:22px;
	
	position:relative;
	float:right;
	padding-left:5px;
    vertical-align: middle;
}

/* SUMMARY */

.summary
{
	position:relative;
	height:116px;
	width:500px;
}

#summary-text
{
	width:130px;
	position:relative;
	float:left;
}

.summary textarea
{
	border:1px solid #ccc;
	width:320px;
	height:75px;
	
	resize:none;
	position:relative;
	float:right;
	padding-top:2px;
	padding-left:5px;
}

#summary-char-count
{
	position:relative;
	float:right;
	top:26px;
	left:328px;
	text-align:right;
}

/* FULL TEXT */

.full-text
{
	position:relative;
	height:230px;
	width:500px;
}

#full-text-text
{
	position:relative;
	width:130px;
	float:left;
}

.full-text textarea
{
	border:1px solid #ccc;
	width:320px;
	height:200px;
   
	resize:none;
	position:relative;
	float:right;
	padding-top:2px;
	padding-left:5px;
}

/* LINK */

.link
{
	position:relative;
	height:60px;
	width:500px;
}

#link-text
{
	position:relative;
	width:130px;
	float:left;
}

.link input
{
	border:1px solid #ccc;
	width:321px;
	height:22px;
   
	position:relative;
	float:right;
	padding-left:5px;
    vertical-align: middle;
}

/* TOPIC */

.topic
{
	position:relative;
	height:95px;
	width:500px;
}

#topic-text
{
	position:relative;
	width:130px;
	float:left;
}

.topic-images
{
	position:relative;
	float:right;
	left:3px;
}

.topic-images img
{
	padding-right:3px;
}

/* SUBMIT BUTTON */

.submit
{
	position:relative;
	padding-bottom:5px;
	width:500px;
	text-align:right;	
}

#submit-button
{
	-moz-border-radius: 10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	border-radius:10px;
	padding:10px;
	padding-bottom:7px;
	font-size:14pt;
	font-family:"Gill Sans Std Light", Verdana, sans-serif;
}

#submit-button:link
{
    color:#fff;
	background-color:#f0503b;
	position:relative;
	margin-bottom:10px;
}

#submit-button:link, #submit-button:visited, #submit-button:active 
{
	text-decoration:none;
}

#submit-button:hover
{
	color:#f0503b;
    background-color:#fff;
}

input:focus
{
    outline: none;
}

textarea:focus
{
    outline: none;
}

