<!DOCTYPE html>
<html>
<head>
    <title>lovegov: page not found</title>
    <link rel="stylesheet" type='text/css' href="/static/css/compiled/master.css"/>
    <link rel="stylesheet" type='text/css' href="/static/css/compiled/microcopy.css"/>
</head>
<body style="background-image: url('/static/images/404texture.png');">
<div id="main">
    <a href='/home'><img src="/static/images/404.png" style="width: 600px; margin-top: 10px"></a>
    <p style="margin-bottom:0px; text-align: left;">
        Sorry, but the page you were looking for can't be found. If you clicked a link from LoveGov to get here,
        please <a href="mailto:team@lovegov.com?subject=Broken%20link">let us know</a>.
    </p>
    <p style="font-size: 50px; margin-top: 80px"><a href="/home">Take me home</a></p>
    <p>
</div>
</body>
</HTML>