<!DOCTYPE html>
<html>
<head>
    <title>lovegov: 500 error</title>
    <link rel="stylesheet" type='text/css' href="/static/css/compiled/master.css"/>
    <link rel="stylesheet" type='text/css' href="/static/css/compiled/microcopy.css"/>
</head>
<body>
    <div id="main">
        <a href='/home'><img src="/static/images/login/splashlogo.png"/></a>
        <img src="/static/images/Broken-Heart.png"/>
        <p style="margin-bottom:0px">
            Oh No! Something broke.
        </p>
        <p style="margin-top:0px">
            Don’t worry, it’s not you. It's me.
        </p>
        <p style="font-size: 16px">The problem has been logged and sent to the lovegov team.</p>
        <p style="font-size: 50px"><a href="/home">Take me back</a></p>
        <p>
    </div>
</body>
</HTML>