<div style="margin-left:200px;margin-top:100px">

    <h2> The Feed! </h2>

    {% load thumbnail %}

    <div class="feed-controller">

        <!-- topics -->
        <div class="feed-topic-selector-wrapper topic-icons-wrapper" style="float:left;">
            {% for t in main_topics %}
                <div class="feed-topic-icon-wrapper topic-icon-wrapper" data-id="{{ t.id }}">
                    {% thumbnail t.image "50x50" format="PNG" as im %}
                        <img class="topic-img normal feed-topic-img" src="{{ im.url }}"/>
                    {% endthumbnail %}
                    {% thumbnail t.selected "50x50" format="PNG" as im %}
                        <img class="topic-img selected feed-topic-img" src="{{ im.url }}"/>
                    {% endthumbnail %}
                </div>
            {% endfor %}
        </div>

        <!-- my filters -->
        <div class="my-filters-wrapper" style="float:left;margin-left:100px;">
            <h4> saved filters </h4>
            {% for x in my_filters %}
                <a href="" class="my-filter-selector" data-id="{{ x.id }}"> {{ x.name }} </a>
                <br>
            {% empty %}
                .. no saved filters
            {% endfor %}
        </div>

        <!-- ranking -->
        <div style="float:left;margin-left:100px;">
            <div class="feed-ranking-selector" data-ranking="B">
                <a href=""> Best </a>
            </div>
            /
            <div class="feed-ranking-selector" data-ranking="H">
                <a href=""> Hot </a>
            </div>
            /
            <div class="feed-ranking-selector" data-ranking="N">
                <a href=""> New </a>
            </div>
        </div>

        <!-- type -->
        <div style="float:left;margin-left:100px;">
            Petition <input type="checkbox" class="feed-type-selector" value="P"/>
            News <input type="checkbox" class="feed-type-selector" value="N"/>
            Groups <input type="checkbox" class="feed-type-selector" value="G"/>
            Legislation <input type="checkbox" class="feed-type-selector" value="L"/>
        </div>

        <!-- level -->
        <div style="float:left;margin-left:100px;margin-top:20px;">
            Local <input type="checkbox" class="feed-level-selector" value="L"/>
            State <input type="checkbox" class="feed-level-selector" value="S"/>
            Federal <input type="checkbox" class="feed-level-selector" value="F"/>
            World <input type="checkbox" class="feed-level-selector" value="W"/>
        </div>

        <!-- groups -->
        <div style="float:left;margin-left:100px;">
            {% for g in groups %}
                {{ g.title }} <input type="checkbox" class="feed-group-selector" value="{{ g.id }}"/>
            {% endfor %}
        </div>

        <!-- save -->
        <div class="save-filter-wrapper" style="float:left;margin-left:20px;margin-top:100px;">
            <input type="text" class="save-filter-name"/>
            <input type="button" class="save-filter-button" value="save"/>
        </div>

        <!-- display -->
        <div style="float:left;margin-left:100px;margin-top:100px;">
            <div class="feed-display-selector" data-display="P">
                <a href=""> Pinterest </a>
            </div>
            /
            <div class="feed-display-selector" data-ranking="L">
                <a href=""> Linear </a>
            </div>
        </div>

        <!-- clear -->
        <a href="" class="feed-clear" style="float:left;margin-left:100px;margin-top:100px;"> clear </a>

    </div>

    <div class="feed-metadata">
        <input type="hidden" class="feed_ranking" value="{{ feed_ranking }}"/>
        <input type="hidden" class="feed_topics" value="{{feed_topics}}"/>
        <input type="hidden" class="feed_types" value="{{feed_types}}"/>
        <input type="hidden" class="feed_levels" value="{{feed_levels}}"/>
        <input type="hidden" class="feed_groups" value="{{feed_groups}}"/>
        <input type="hidden" class="feed_display" value="{{ feed_display }}"/>
        <input type="hidden" class="feed_submissions_only" value="{{feed_submissions_only}}"/>
        <input type="hidden" class="feed_start" value="0"/>
    </div>

    <div class="the_feed" style="clear:both;margin-left:100px;margin-top:100px;">
        ...
    </div>

    <a href="" class="get_feed"> more </a>   <a href="" class="refresh_feed"> refresh </a>



</div>

<script> rebind="feed"; </script>