<div style="margin-left:200px;margin-top:100px">
    <h2> The Feed! </h2>

    <a href="" class="get_feed"> get feed </a>

    <div class="feed-metadata">
        <input type="hidden" class="feed_ranking" value="{{feed_ranking}}"/>
        <input type="hidden" class="feed_topics" value="{{feed_topics}}"/>
        <input type="hidden" class="feed_types" value="{{feed_types}}"/>
        <input type="hidden" class="feed_groups" value="{{feed_groups}}"/>
        <input type="hidden" class="feed_just" value="{{feed_just}}"/>
        <input type="hidden" class="feed_start" value="0"/>
        <input type="hidden" class="feed_display" value="{{feed_display}}"/>
    </div>

    <div class="the_feed">
        ...
    </div>

</div>

<script> rebind="feed"; </script>