<html>
<head>
    <title></title>
</head>
<body>

{% load thumbnail %}

    {% thumbnail 'http://lovegov.com/static/images/login/lovegovlogo.png' "50x50" as im%}
        <img src="{{ im.url }}"/>
    {% empty %}
        <p> no pic </p>
        <img src="http://lovegov.com/static/images/login/lovegovlogo.png"/>
    {% endthumbnail %}

<h2> HELLO </h2>

{% for t in main_topics %}
    <div class="feed-topic-icon-wrapper topic-icon-wrapper" data-t_id="{{ t.id }}">
        {% thumbnail t.image "40x40" format="PNG" as im %}
            <img class="topic-img normal feed-topic-img" src="{{ im.url }}"/>
        {% endthumbnail %}
        {% thumbnail t.selected "40x40" format="PNG" as im %}
            <img class="topic-img selected feed-topic-img" src="{{ im.url }}"/>
        {% endthumbnail %}
    </div>
{% endfor %}

<h2> HELLO </h2>

{% thumbnail viewer.getProfileImage.image "50x50" format="PNG" as im %}
    <img src="{{ im.url }}"/>
{% empty %}
    <p> why! {{ viewer.getProfileImage.image.url }} </p>
    <img src="{{ viewer.getProfileImage.image.url }}"/>
{% endthumbnail %}

</body>
</html>