<html>
<head>
    <title></title>
</head>
<body>

<h3> <a href="/twitter/redirect/"> twitter </a></h3>

<h1>{{ viewer.get_name }}</h1>
<br>
<h2> Dropdown </h2>
{% for x in notifications_dropdown %}
    {{ x.verbose }}
    <br>
{% endfor %}

<h2> Profile </h2>
{% for x in notifications_profile%}
    {{ x.verbose }}
    <br>
{% endfor %}

<h2> All </h2>
{% for x in notifications_all%}
    {{ x.verbose }}
    <br>
{% endfor %}

<h2> Actions </h2>
{% for x in actions %}
    {{ x.verbose }}
    <br>
{% endfor %}

</body>
</html>