{% extends 'site/pages/home/header_expandable.html' %}
<!-- CSS for this file is in group.scss -->

{% load humanize %}
{% load thumbnail %}

{% block header_top %}

    <div class="group-top">

        <span class="group-title">
            <a href="{{ group.get_url }}">
                <div class="inline-div inline_hide">
                    {{ group.title }}
                </div>
            </a>
            {% if info.is_user_admin %}
                <div class="edit-link edit_button"></div>
                <div class="inline-edit-input inline_edit" data-model="Content" data-id="{{ group.id }}">
                    <input type="text" maxlength="200" value="{{ group.title }}" class="edit_input" name="title"/>
                    <a href="" class="edit-link submit_inline_edit">submit</a>
                    <a href="" class="edit-link cancel_inline_edit">cancel</a>
                </div>
            {% endif %}
        </span>


        <span class="group-scale"> {{ group.getScaleVerbose }} </span>
        <span class="group-num-members"> {{ group.num_members }} member{{ group.num_members|pluralize }} </span>

    </div>

{% endblock %}


{% block header_info %}

    <div class="group-expanded">

        <div class="group-info">

            <!-- float right -->
            <div class="group-actions group_actions">

                {% if info.is_user_admin %}
                    <div class="group-action group_invite_members" data-g_id="{{ group.id }}"> invite/add members </div>
                    <a href="edit/" class="group-action"> edit group settings </a>
                    {% if num_group_requests > 0 %}
                        <div class="group-action view_group_requests" data-g_id="{{ group.id }}">join requests ({{ info.num_group_requests }})</div>
                    {% endif %}
                {% endif %}

                {% include 'site/pages/group/group_join_button.html' %}

                {% include 'site/pages/group/group_follow_button.html' with is_user_following=info.is_user_following %}

            </div>

            <!-- float left -->
            <div class="group-column">

                <div class="group-image">
                    {% thumbnail group.getImageURL "140x100" crop="center" as im %}
                        <img src="{{ im.url }}" />
                    {% endthumbnail %}
                </div>

                <div class="group-match">

                    <div class="match-number">
                        {{ info.group_comparison.result }}
                    </div>

                    <div class="match-title">match</div>

                </div>

                <div class="group-histogram">
                    {% include 'site/pages/histogram/histogram_mini.html' with histogram_metadata=info.histogram_metadata buckets=info.buckets %}
                </div>

                <a href="{{ group.getHistogramURL }}" class="see-more">
                    see comparison breakdown
                </a>

            </div>


            <div class="group-column group-text">

                <div class="group-info-title">Description</div>
                <div class="group-full-text">
                    <div class="inline-div inline_hide">
                        {{ group.full_text|linebreaksbr }}
                    </div>
                    {% if info.is_user_admin %}
                        <div class="edit-link edit_button"></div>
                        <div class="inline-edit-input inline_edit" data-model="Content" data-id="{{ group.id }}">
                            <textarea type="text" maxlength="1000" class="edit_input group-description-edit" name="full_text">{{ group.full_text }}</textarea>
                            <a href="" class="edit-link submit_inline_edit">submit</a>
                            <a href="" class="edit-link cancel_inline_edit">cancel</a>
                        </div>
                    {% endif %}
                </div>

                <a href="/profile/" class="see-more">
                    see full description
                </a>
            </div>


            <div class="group-column group-people">

                <div class="group-moderators">

                    <div class="group-info-title">Moderators</div>
                    {% for admin in info.group_admins %}
                        <a href="{{ admin.get_url }}">{% include 'site/pieces/avatar-with-name.html' with user=admin height="30" width="30" %}</a>
                    {% endfor %}

                </div>

                <div class="group-members">
                    <div class="group-info-title">Members</div>
                    {% for member in info.group_members %}
                        <div class="group-member-avatar">
                            <a href="{{ member.get_url }}">{% include 'site/pieces/avatar.html' with user=member width="30" height="30" %}</a>
                        </div>
                    {% endfor %}
                    <div style="clear:both"></div>
                </div>

                <a href="{{ group.getHistogramURL }}" class="see-more">
                    see all members
                </a>

            </div>

        </div>

        {% with pinned=info.pinned %}
            {% if pinned %}
                <div class="group-pinned-content">
                    {% for item in pinned %}
                        <div class="pinned-wrapper pinned_wrapper">
                            {% if info.is_user_admin %}
                                <a class="unpin-content unpin_content" data-c_id="{{ item.id }}" data-g_id="{{ group.id }}"> unpin </a>
                            {% endif %}
                            {% include 'site/pages/feed/base-item-thin.html' with item=item %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

    </div>

{% endblock %}
