<!-- wrapper -->
<div class="left-side-wrapper left-side-wrapper-small" id="left-side-wrapper-invite">

    <img id="left-side-img-invite" class="left-side-img" src="/static/images/invite.png">

    <!-- form -->
    <div class="left-side-main left-side-main-small">

        <div id="invite-input">

            <div id="errors-json"></div>

            <h2> Invite your friends.</h2>

            <div id="errors-non_field"></div>

            <div id="errors-invite"></div>

            <div id="invite-form" class="link">
                <span id="email-label" class="sub-title"> email: </span>
                <input id="email-input" type="text" name="email" />
            </div>

            <div class="left-side-submit-div">
                <img id="invite-return-loading-img" src="/static/images/ajax-loader.gif" style="display:none;width:35px"/>
                <span id="invite-return-message" style="font-size:20px"></span>
                <a href="" id="invite-button" class="left-sidebar-button"> invite </a>
                <div style="clear:both"></div>
            </div>

        </div>

    </div>

</div>
