@import 'master-variables';

div.forbidden_modal {
    font-size:18px;
	padding: 40px;
	a.btn {
		margin: 50px;
		padding: 10px 30px;
		background-color: $red;
		color: white;
	}
	p {

		margin-top: 50px;
		text-align: center;
	}
}