<!-- javascript libraries -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<!-- google maps -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<!-- jquery stuff -->
<script type="text/javascript" src="/static/libraries/jquery/js/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript" src="/static/libraries/jquery/js/jquery.hoverIntent.js"></script>
<script type="text/javascript" src="/static/libraries/jquery/js/jquery.bindWithDelay.js"></script>
<script type="text/javascript" src="/static/libraries/jquery/js/jquery.ba-outside-events.js"></script>
<script type="text/javascript" src="/static/libraries/jquery/js/jquery.cookie.js"></script>
<script type='text/javascript' src="/static/libraries/jquery/js/jquery.jsPlumb-1.3.7-all-min.js"></script>
<script type="text/javascript" src="/static/libraries/jquery/js/jquery.dragscrollable.js"></script>
<script type="text/javascript" src="/static/libraries/jquery/js/jquery.livequery.js"></script>
<script type="text/javascript" src="/static/libraries/jquery/js/jquery.scrollsync.js"></script>
<script type="text/javascript" src="/static/libraries/jquery/js/jquery.scrollview.js"></script>
<script type='text/javascript' src="/static/libraries/jquery/js/jquery.ba-outside-events.js"></script>
<script type='text/javascript' src="/static/libraries/jquery/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/static/libraries/jquery/bootstrap-tooltips.js"></script>

<!-- kinetic -->
<script type="text/javascript" src="/static/libraries/kinetic/QueryData.compressed.js"></script>
<script type="text/javascript" src="/static/libraries/kinetic/kinetic-v3.8.2.min.js"></script>

<!-- js history -->
<script type="text/javascript" src="/static/libraries/jquery/history/scripts/bundled/html5/jquery.history.js"></script>

<!-- select 2 -->
<script type="text/javascript" src="/static/libraries/select2/select2.js"></script>

<!-- our jquery plugins -->
<script type="text/javascript" src="/static/js/custom-jquery/bindOnce.js"></script>

<!-- Our JavaScript -->
<script type="text/javascript" src="/static/js/inheritance.js"></script>
<script type="text/javascript" src="/static/js/visualcomparison.js"></script>
<script type="text/javascript" src="/static/js/javascript.js"></script>

<!-- For script variables -->
<script>
    var pageTitle = '{{ page_title }}';
    var csrf = '{{ csrf_token|escapejs }}';
    var path = '{{ request.path }}';
</script>