{% extends 'site/pages/home/header_expandable.html' %}
<!-- CSS for this file is in group.scss -->

{% load humanize %}
{% load thumbnail %}

{% block header_top %}

    <div class="home-section-title friends-title"> People & Friends </div>

    <a class="view-all-friends" href="{{ viewer.getIFollowHistogramURL }}"> view all </a>

{% endblock %}


{% block header_info %}

    <div class="friends-header">
        {% for friend in friends %}
            {% include 'site/pages/friends/friend_card.html' %}
        {% empty %}
            <div class="no-friends">
                <div class="no-friends-message">
                    You're not following anyone on lovegov :(
                </div>
                <div class="import-friends">
                    {% if viewer.facebook_id %}
                        import friends from facebook?
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

