{% extends 'site/pages/home/header_expandable.html' %}
<!-- CSS for this file is in group.scss -->

{% load humanize %}
{% load thumbnail %}

{% block header_top %}

    <div class="home-section-title friends-title"> People & Friends </div>
    <span class="num-people"> {{ i_follow.num_members }} people </span>
    <a class="view-all-friends" href="{{ i_follow.getHistogramURL }}"> view all </a>

{% endblock %}


{% block header_info %}

    <div class="friends-header">

        <div class="friends-explanation">
            These are all the people you're following on LoveGov.
        </div>

        <div class="friends-wrapper">
            {% for user in friends %}
                <div class="friend-wrapper">
                    {% include 'site/pages/friends/match_card.html' %}
                </div>
            {% empty %}
                <div class="no-friends">
                    <div class="no-friends-message">
                        You're not following anyone on lovegov :(
                    </div>
                    <div class="import-friends">
                        {% if viewer.facebook_id %}
                            import friends from facebook?
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}

