{% load thumbnail %}

{% if match_with_congress %}
    <div class="match-section-header">
        How do you compare with congress?
    </div>
{% endif %}

<div class="histogram-main">

    <div class="histogram_wrapper" data-metadata="{{ histogram_metadata }}">

        <div class="histogram-wrapper histogram">

            <div class="histogram-body">

                <div class="count histogram_count"> 0 </div>

                <p class="time-explanation">
                    this could take a couple minutes
                </p>

                <p class="bars-explanation">
                    click each column to see who matches in that range
                </p>

                <div class="axis-label"> match: </div>

                <div class="histogram-topic-selector-wrapper topic-icons-wrapper">
                    {% for t in main_topics %}
                        <div class="histogram-topic-icon-wrapper topic-icon-wrapper topic_icon_wrapper" data-t_id="{{ t.id }}" data-t_alias="{{ t.alias }}" data-t_text="{{t.topic_text }}">
                            {% thumbnail t.image "50x50" format="PNG" as im %}
                                <img class="topic-img normal histogram-topic-img histogram_topic_img tooltip-top" title="{{ t.topic_text }}" src="{{ im.url }}"/>
                            {% endthumbnail %}
                            {% thumbnail t.selected "50x50" format="PNG" as im %}
                                <img class="topic-img selected histogram-topic-img histogram_topic_img tooltip-top" title="{{ t.topic_text }}" src="{{ im.url }}"/>
                            {% endthumbnail %}
                        </div>
                    {% endfor %}
                </div>

                <div class="histogram-bars">
                    {% for bucket in buckets %}
                        <div class="bar" data-bucket="{{ bucket }}" data-num="0">

                            <div class="white_bar"></div>
                            <div class="red_bar tooltip-top" title="whatup"></div>
                            <div class="label bar_label"> {{ bucket }}% </div>

                        </div>
                    {% endfor %}
                    <div style="clear:both"></div>
                </div>
            </div>

            <div class="histogram-footer histogram_footer">

                <p class="histogram-title histogram-footer-text">
                    <a class="group_link" href="{{ group.get_url }}"> {{ group.title|truncatechars:20}} </a>
                </p>

                <p class="histogram-breakdown histogram-footer-text"> Match Percentage Breakdown </p>

                <p class="histogram-topic histogram-footer-text"> All Topics </p>

            </div>

        </div>

        <div class="members-header">
            <div class="members-avatars-header">
                <h3> <span class="num_members"> All </span>
                    Members
                    <span class="in_percentile"></span> </h3>
                    <div class="heart-gif histogram_loading_members"></div>
            </div>

            <div class="identical-avatars-header">
                <h3 class="identical identical_count"> <span class="histogram_identical"> </span> Identical </h3>
            </div>

            <div style="clear:both"></div>
        </div>

        <div class="group-members-wrapper">
            <div class="members-avatars">
                <div class="members_wrapper">

                </div>
                <div class="get-more-members get_more_members">

                </div>
            </div>

            <div class="identical-avatars identical_wrapper">
            </div>
        </div>

        <div style="clear:both"></div>

    </div>

    <script> rebind='histogram'; </script>

</div>