{% load thumbnail %}
<div class="match-box-div">

    <div class="match-user-info">
        {% thumbnail item.getProfileImage.image "65x65" crop="center" as im %}
            <img src="{{ im.url }}" class="match-user-img"/>
        {% endthumbnail %}

        <div class="match-user-text">
            <h4>{{ item.get_name }}</h4>
            {% if item.type == "U" %}
                <h5>Party:</h5>
            {% elif item.type == "G" %}
                <h5>Members:</h5>
            {% endif %}
        </div>
        <div class="clear-both"></div>
    </div>

    <div class="qaweb">
        <div id="{{ item.get_name|slugify }}-canvas"></div>
    </div>

    <script>
        var json = eval('(' + '{{ item.compare|escapejs }}' + ')');
        new VisualComparison("{{ item.get_name|slugify }}-canvas",json).draw();
    </script>

</div>
