<!-- HTML -->
<div id="match-main">

    <div id="match-mid-header">
        <h5>Featured Matches</h5>
    </div>

    <!-- Content Section -->
    <div id="match-mid">

        <div id="match-mid-content">

            <div id="match-arrow-left" class="match-arrow">
                <img src="/static/images/match/arrow_left_light.png"/>
            </div>

            <div id="match-ajax-content">

                <div class="match-presidential match-section" data-sequence="0">
                    {% include 'deployment/center/match/match-tryptic-template.html' with prof1=viewer prof2=viewer prof3=viewer match_title="Your 2012 Presidential Candidates" %}
                </div>

                <div class="match-massachusettes match-section" data-sequence="1">
                    {% include 'deployment/center/match/match-tryptic-template.html' with prof1=viewer prof2=viewer prof3=viewer match_title="Your Massachusettes Senate Election" %}
                </div>

                <div class="match-social match-section" data-sequence="2">
                    {% include 'deployment/center/match/match-social.html' %}
                </div>

                <div class="match-representatives match-section" data-sequence="3">
                    {% if congressmen %}
                        {% include 'deployment/center/match/match-tryptic-template.html' with prof1=congressmen.0 prof2=congressmen.1 prof3=congressmen.2 match_title="Find Your Representatives" %}
                    {% else %}
                        <div class="match-title">
                            <h3> Find Your Representatives. </h3>
                        </div>
                        {% include 'deployment/center/match/address.html' %}
                    {% endif %}
                </div>

            </div>

        </div>

        <div id="match-arrow-right" class="match-arrow">
            <img src="/static/images/match/arrow_right_light.png"/>
        </div>

    </div>

    <div class="clear-both"></div>

<!-- Red/Gray Circles -->
{% include 'deployment/center/match/match-selection-line-break.html' %}

<!-- QuickLinks -->
{% include 'deployment/center/match/match-quicklinks.html' %}

</div>

<script> match_current_section={{ start_sequence }};</script>



