{% load thumbnail %}
<div class="match-box-div">

    <div class="match-user-info">
        <a href="{{ item.get_url }}">
            {% with full_url=host_full|add:item.getImageURL %}
                {% thumbnail full_url "65x65" crop="center" as im %}
                    <img src="{{ im.url }}" class="match-user-img"/>
                {% endthumbnail %}
            {% endwith %}
        </a>

        <div class="match-user-text">
            <h4>{{ item.get_name|truncatechars:20 }}</h4>

            {% if item.type == "U" %}
                {% if item.user_type == "S" and item.first_name != "Barack" %}
                    <h5>Senator</h5>
                {% endif %}
                {% if item.user_type == "R" %}
                    <h5>Representative</h5>
                {% endif %}
                {% if item.first_name == "Barack" %}
                    <h5>President</h5>
                {% endif %}
            {% endif %}

            {% if item.type == "U" %}
                {% for party in item.parties.all %}
                <div class="party-image">
                    {% thumbnail party.party_label "100x20" as label %}
                        <img src="{{ label.url }}" />
                    {% endthumbnail %}
                </div>
                {% endfor %}
            {% elif item.type == "G" %}
                <h5>Members: {{ item.getNumMembers }}</h5>
            {% endif %}
        </div>
        <div class="clear-both"></div>
    </div>

    <div class="qaweb">
        <div class="{{ item.get_name|slugify }}-canvas"></div>
    </div>

    <script>
        var json = eval('(' + '{{ item.compare|escapejs }}' + ')');
        $("." + "{{ item.get_name|slugify }}" + "-canvas").each(function()
        {
            new VisualComparison($(this),json).draw();
        });

       // new VisualComparison("{{ item.get_name|slugify }}-canvas",json).draw();
    </script>

</div>
