<!-- HTML -->
<div id="match-main">

    <div id="match-mid-header">
        <h5>Featured Matches</h5>
    </div>

    <!-- Content Section -->
    <div id="match-mid">
        {% comment %}
        <div id="match-mid-content">
            <div id="match-arrow-left" class="match-arrow">
                <img src="/static/images/match/arrow_left_light.png"/>
            </div>

            <div id="match-ajax-content">
                {% include 'deployment/center/match/match-election-center.html' %}
            </div>


            <div id="match-arrow-right" class="match-arrow">
                <img src="/static/images/match/arrow_right_light.png"/>
            </div>
        </div>
        {% endcomment %}
    </div>

    <!-- Red/Gray Circles -->
    {% include 'deployment/center/match/match-selection-line-break.html' %}

    <!-- QuickLinks -->
    {% include 'deployment/center/match/match-quicklinks.html' %}

</div>

<script type="text/javascript">
    $('.match-arrow img').hover(function()
    {
        $(this).css({'background-color':'#F0F0F0'});
    },function()
    {
        $(this).css({'background-color':'#FFFFFF'});
    });
</script>

