<!-- HTML -->
<div id="match-main">

    <div id="match-mid-header">
        <h5>Featured Matches</h5>
    </div>

    <!-- Content Section -->
    <div id="match-mid">

        <div id="match-mid-content">

            <div id="match-arrow-left" class="match-arrow">
                <img src="/static/images/match/arrow_left_light.png"/>
            </div>

            <div id="match-ajax-content">

                <div class="match-presidential match-section" data-sequence="0">
                    {% include 'deployment/center/match/match-tryptic-template.html' with prof1=presidential.0 prof2=presidential.1 prof3=presidential.2 match_title="Your 2012 Presidential Candidates" %}
                </div>

                <div class="match-massachusettes match-section" data-sequence="1">
                    {% include 'deployment/center/match/match-tryptic-template.html' with prof1=elizabeth prof2=mass prof3=brown match_title="Your Massachusettes Senate Election" %}
                </div>

                <div class="match-social match-section" data-sequence="2">
                    {% include 'deployment/center/match/match-social.html' %}
                </div>

                <div class="match-representatives match-section" data-sequence="3">
                    {% if congressmen %}
                        {% include 'deployment/center/match/match-tryptic-template.html' with prof1=congressmen.0 prof2=congressmen.1 prof3=congressmen.2 match_title="Find Your Congressmen" %}
                    {% else %}
                        <div class="match-title">
                            <h3>Find Your Congressmen</h3>
                        </div>
                        {% if invalid_address %}
                            <p>
                                We could not find any congressmen associated with the last address you entered. You could try entering the
                                address again or lookup a different one.
                            </p>
                        {% endif %}
                        {% include 'deployment/center/match/address.html' %}
                    {% endif %}
                    <div style="clear:both"></div>
                    <div class="address-wrapper">

                        {% if state and district and longitude and latitude %}
                        <div id="map_canvas" style='width:930px;height:500px'>

                        </div>
                        {% endif %}

                        {% if not invalid_address %}
                            <div class="new-address-wrapper">
                                {% include 'deployment/center/match/address.html' %}
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>

        </div>

        <div id="match-arrow-right" class="match-arrow">
            <img src="/static/images/match/arrow_right_light.png"/>
        </div>

    </div>

    <div class="clear-both"></div>

<!-- Red/Gray Circles -->
{% include 'deployment/center/match/match-selection-line-break.html' %}

<!-- QuickLinks -->
{% include 'deployment/center/match/match-quicklinks.html' %}

</div>

<script>
    match_current_section={{ start_sequence }};
    
    {% if start_sequence== 3 and state and district and longitude and latitude %}
        var match_state = "{{ state }}";
        var match_district = {{ district }};
        var match_longtitude = {{ longitude }};
        var match_latitude = {{ latitude }};
        $(document).ready(function(){
           loadGoogleMap();
        });

    {% endif %}
</script>



