<div id="match-featured-social-network">

    <h3 class="match-title"> Your Friends, Networks and Groups </h3>

    <div class="match-content">

        <div id="social-comparison" class="match-box-div-wrapper">
            {% include 'deployment/pages/match/match-new-box.html' with item=viewer %}
        </div>

        <div class="page-right">

            <div class="page-summary">
                <p class="match-p">
                    Explore how your opinions compare with
                    your friends on social media and networks
                    from your school, state and more.
                </p>
            </div>

            <div class="boxes">

                <!-- Friends -->
                <div class="match-link-box">
                    <a href="/friends/" class="match-link-box-header">
                        <p class="header-words"> Friends </p>
                        <div class="arrow"> > </div>
                    </a>
                    <div class="items-wrapper">
                        {% for friend in friends %}
                            <a href="{{ friend.get_url }}" class="mini-avatar match-item">
                                {% include 'deployment/snippets/avatar.html' with user=friend width="40" height="40" hoveroff=1 %}
                            </a>
                        {% empty %}
                            <br>
                            <p> You haven't followed anyone on LoveGov yet. </p>
                        {% endfor %}
                        <div style="clear:both"></div>
                    </div>
                    <a href="/friends/" class="see-all"> see all </a>
                </div>

                <!-- Networks -->
                <div class="match-link-box box-center network-box">
                    <a href="/networks/" class="match-link-box-header">
                        <p class="header-words"> Networks </p>
                        <div class="arrow"> > </div>
                    </a>
                    <div class="items-wrapper">
                        {% for network in networks %}
                            <a href="{{ network.get_url }}" class="network-choice match-item
                            {% if forloop.counter == 4 %} last {% endif %}"> {{ network.get_name|truncatechars:10 }} </a>
                        {% empty %}
                            <br>
                            <p> You aren't a member of any networks. </p>
                        {% endfor %}
                    </div>
                </div>

                <!-- Groups -->
                <div class="match-link-box">
                    <a href="/groups/" class="match-link-box-header">
                        <p class="header-words"> Groups </p>
                        <div class="arrow"> > </div>
                    </a>
                    <div class="items-wrapper">
                        {% for group in groups %}
                            <a href="{{ group.get_url }}" class="mini-avatar match-item">
                                {% include 'deployment/snippets/avatar.html' with user=group width="40" height="40" hoveroff=1 %}
                            </a>
                        {% empty %}
                            <br>
                            <p> You aren't a member of any groups. </p>
                        {% endfor %}
                        <div style="clear:both"></div>
                    </div>
                    <a href="/groups/" class="see-all"> see all </a>
                </div>

            </div>

            <a href="/fb/action/?fb_action=make_friends&action_to_page=/match/social/" class="import-friends">
                <img src="/static/images/find-friends.png" />
            </a>

        </div>
    </div>
</div>

<script> rebind="newMatch"; </script>
