<div class="match-list-main">

    <div class="match-list-left">

        <!-- navbar -->
        {% include 'deployment/pages/match/match-detail-navbar.html' %}

        <div class="match-list-header">
            {% block yourwhat %}
                <div class="your-friends"> Your Friends (<span class="list-num">{{ friends|length }}</span>)</div>
            {% endblock %}
        </div>

        <div class="list-wrapper">

            {% block list %}

                {% for x in friends %}

                    <a href="{{ x.get_url }}" class="member-wrapper">
                        {% include 'deployment/snippets/avatar.html' with user=x width="50" height="50" %}
                        <div class="name-wrapper">
                            <div class="first-name"> {{ x.first_name|truncatechars:10 }}</div>
                            <div class="last-name"> {{ x.last_name|truncatechars:10 }}</div>
                        </div>
                        <div style="clear:both"></div>
                    </a>

                {% endfor %}

            {% endblock %}

        </div>

    </div>

    <div class="match-list-right">

        <a href="/match/" class="go-back"> Back To Match Page </a>

        {% block matchright %}
            <a href="{{ ifollow.get_url }}" class="group-link"> go to your friends group page. </a>

            <a href="{{ ifollow.getHistogramURL }}">
                <div class="group-histogram-container histogram_box">
                    {% include 'deployment/pages/histogram/histogram_mini.html' %}
                </div>
            </a>
        {% endblock %}
    </div>

</div>

{% block rebind %}
    <script> rebind="friends" </script>
{% endblock %}