@charset "UTF-8";
@import 'master-variables';
@import 'master-mixins';
@import "compass";


div.election-card-wrapper {
  float:left;
  margin-right:20px;
  margin-bottom:25px;
}
div.election-card-wrapper.last {
  margin-right:0px;
}


div.election-card {
  margin-right:30px;
  //margin-bottom:50px;

  div.card-top {

    div.politician-image {
      float:left;
    }
    div.right-side {
      float:left;
      width:120px;
      padding-left:15px;
      line-height:64px;

      div.match {
        padding-top:5px;
        .match-num {
          display:block;
          font-family: $body-fonts;
          color:$red;
          text-align:center;
          width:100%;
          font-size: 72px;
          line-height:48px;
          font-weight:bold;
          padding-top: 2px;
          span {
            line-height:48px;
          }
        }
        div.match-text {
          display:block;
          color:$red;
          text-align:center;
          width:100%;
          font-size: 28px;
          font-weight:bold;
          line-height:38px;
        }
      }
    }
  }
  .action-button {
    text-align:center;
    line-height:14px;
    float:left;
    margin-bottom:10px;
    padding:5px;
    color:$black;
    width:100%;
    background-color:$light-gray;
    &:hover {
      background-color:$dark-gray;
      cursor:pointer;
    }
  }
  div.support-politician {
    @extend .action-button;
  }
  div.unsupport-politician {
    @extend .action-button;
    background-color:$blue;
    color:white;
    &:hover {
      background-color:$red;
      cursor:pointer;
    }
  }
  div.card-bottom {
    a.politician-name {
      float:left;
      font-size: 20px;
      color:$black;
      &:hover {
        color:black;
      }
    }
  }
}



div.election-info {
  width:100%;
  display:block;
  margin-bottom: 20px;
  max-height: 120px;
  div.election-info-left {
    float:left;
    div.election-date {
      width:250px;
      color:gray;
      font-size: 32px;
      display:block;
    }
    div.election-created-by {

    }
  }
  div.election-description-wrapper {
    float:left;
    width: 500px;
    div.election-description {
      margin-top:5px;
      width: 500px;
      padding-top: 5px;
    }
  }
  div.election-buttons {
    float:right;
    width:165px;
  }
}
div.running {
  width:100%;
  display:block;
  div.no-one-running {
    margin-top:20px;
    width:100%;
    text-align:center;
    font-size:48px;
    margin-bottom:30px;
  }
}

div.election-leader {
  color:$gray;
  float:left;
  margin-left:10px;
  margin-top:1px;
  span.leader-name {
    color:$black;
    font-weight:bold;
  }
  span.leader-num {
    color:$red;
  }
}

/* election feed */
div.election-feed-item-wrapper {
  margin-top:25px;
}


/* invite to run for modal */
div.invite-to-election-wrapper {
  padding:40px;
  div.invite-to-election-header {
    font-size: 28px;
    margin-bottom:25px;
    width:400px;
  }

  div.invite-to-election {
    input.invite-to-election {
      height:30px;
      padding:5px;
      width:200px;
      float:left;
    }
    a.invite-to-button {
      float:left;
      margin-left:20px;
      padding:7px;
      background-color:$red;
      color:white;
      &:hover {
        background-color:$red-light;
      }
    }
    div.invite-success-message {
      float:left;
      margin-left:20px;
      width:150px;
    }
  }
}