@charset "UTF-8";
@import 'master-variables';
@import 'master-mixins';
@import "compass";


div.election-card-wrapper {
  float:left;
  margin-right:20px;
  margin-bottom:25px;
}
div.election-card-wrapper.last {
  margin-right:0px;
}


div.election-card {
  margin-right:30px;
  margin-bottom:50px;

  div.card-top {

    div.politician-image {
      float:left;
    }
    div.right-side {
      float:left;
      width:120px;
      padding-left:15px;
      line-height:64px;

      div.match {
        padding-top:5px;
        a.match-num {
          display:block;
          font-family: $body-fonts;
          color:$red;
          text-align:center;
          width:100%;
          @include fontSize(72px);
          line-height:48px;
          font-weight:bold;
          padding-top: 2px;
        }
        div.match-text {
          display:block;
          color:$red;
          text-align:center;
          width:100%;
          @include fontSize(28px);
          font-weight:bold;
          line-height:38px;
        }
      }
    }
  }
  .action-button {
    text-align:center;
    line-height:14px;
    float:left;
    margin-bottom:10px;
    padding:5px;
    color:$black;
    width:100%;
    background-color:$light-gray;
    &:hover {
      background-color:$dark-gray;
      cursor:pointer;
    }
  }
  div.support-politician {
    @extend .action-button;
  }
  div.unsupport-politician {
    @extend .action-button;
    background-color:$blue;
    color:white;
    &:hover {
      background-color:$red;
      cursor:pointer;
    }
  }
  div.card-bottom {
    a.politician-name {
      float:left;
      @include fontSize(20px);
      color:$black;
      &:hover {
        color:black;
      }
    }
  }
}



div.election-info {
  width:100%;
  display:block;
  margin-bottom:20px;
  div.election-date {
    width:100%;
    text-align:center;
    background-color:$black;
    color:white;
    padding:15px;
    @include fontSize(32px);
    float:left;
  }
  div.election-info-lower {
    margin-top:20px;
    float:left;
    width:100%;
    div.election-description {
      float:left;
    }
    div.election-actions {
      float:right;
    }
  }
}
div.running {
  width:100%;
  display:block;
}