{% load humanize %}
{% load thumbnail %}

{% if not viewed %}
    <div class="notification notification-highlighted">
{% else %}
    <div class="notification">
{% endif %}

<table class="notification-container">

<tr>
    <!-- Commented -->
    {% if type == 'CO' %}
        <td class="notification-thumbnail">
            {% include "site/pieces/avatar.html" with user=from_user width="25" height="25" hoveroff=hover_off %}
        </td>
        <td class="notification-text">
            {% include "site/pieces/actions/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            {% if tally == 2 %}
                and <a href="" class="agg_popup" data-n_id="{{ n_id }}">one other person</a>
            {% elif tally > 2 %}
                and <a href="" class="agg_popup" data-n_id="{{ n_id }}">{{ tally|add:"-1" }} other people</a>
            {% endif %}
            commented on
            {% include "site/pieces/actions/action_name_snippet.html" with user=to_user you=to_you %}
        </td>

    <!-- Voted -->
    {% elif type == 'VO' %}
        {% if modifier == 'L' %}
            <td class="notification-thumbnail">
                <img src="{{ STATIC_URL }}/images/icons/actions/heart-small.png"/>
            </td>
            <td class="notification-text">
                {% include "site/pieces/actions/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                {% if tally == 2 %}
                    and <a href="" class="agg_popup" data-n_id="{{ n_id }}">one other person</a>
                {% elif tally > 2 %}
                    and <a href="" class="agg_popup" data-n_id="{{ n_id }}">{{ tally|add:"-1" }} other people</a>
                {% endif %}
                liked
                {% include "site/pieces/actions/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% elif modifier == 'D' %}
            <td class="notification-thumbnail">
                <img src="{{ STATIC_URL }}/images/icons/actions/heart-small.png"/>
            </td>
            <td class="notification-text">
                {% include "site/pieces/actions/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                {% if tally == 2 %}
                    and <a href="" class="agg_popup" data-n_id="{{ n_id }}">one other person</a>
                {% elif tally > 2 %}
                    and <a href="" class="agg_popup" data-n_id="{{ n_id }}">{{ tally|add:"-1" }} other people</a>
                {% endif %}
                disliked
                {% include "site/pieces/actions/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% else %}
            <td class="notification-thumbnail">
                <img src="{{ STATIC_URL }}/images/icons/actions/heart-small.png"/>
            </td>
            <td class="notification-text">
                {% include "site/pieces/actions/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                {% if tally == 2 %}
                    and <a href="" class="agg_popup" data-n_id="{{ n_id }}">one other person</a>
                {% elif tally > 2 %}
                    and <a href="" class="agg_popup" data-n_id="{{ n_id }}">{{ tally|add:"-1" }} other people</a>
                {% endif %}
                unvoted
                {% include "site/pieces/actions/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% endif %}


    {% elif type == 'FC' %}
        {% include "site/pieces/actions/action_name_snippet.html" with user=from_user you=from_you capital=true%}
        followed
        {% include "site/pieces/actions/action_name_snippet.html" with user=to_user you=to_you %}

    {% elif type == 'MV' %}
        {% include "site/pieces/actions/action_name_snippet.html" with user=from_user you=from_you capital=true %}
        voted on
        {% include "site/pieces/actions/action_name_snippet.html" with user=to_user you=to_you %}

    {% elif type == 'DV' %}
        {% include "site/pieces/actions/action_name_snippet.html" with user=from_user you=from_you capital=true %}
        voted on
        {% include "site/pieces/actions/action_name_snippet.html" with user=to_user you=to_you %}

    {% elif type == 'DM' %}
        {% include "site/pieces/actions/action_name_snippet.html" with user=from_user you=from_you capital=true %}
        responded in
        {% include "site/pieces/actions/action_name_snippet.html" with user=to_user you=to_you %}

    {% elif type == 'SI' %}
        <td class="notification-thumbnail">
            <img src="{{ STATIC_URL }}/images/icons/actions/check-small.png"/>
        </td>
        <td class="notification-text">
            {% include "site/pieces/actions/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            {% if tally == 2 %}
                and <a href="" class="agg_popup" data-n_id="{{ n_id }}">one other person</a>
            {% elif tally > 2 %}
                and <a href="" class="agg_popup" data-n_id="{{ n_id }}">{{ tally|add:"-1" }} other people</a>
            {% endif %}
            signed
            {% include "site/pieces/actions/action_name_snippet.html" with user=to_user you=to_you %}
        </td>

    {% elif type == 'SH' %}
        <td class="notification-thumbnail">
            <img src="{{ STATIC_URL }}/images/icons/actions/share.png"/>
        </td>
        <td class="notification-text">
            {% include "site/pieces/actions/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            {% if tally == 2 %}
                and <a href="" class="agg_popup" data-n_id="{{ n_id }}">one other person</a>
            {% elif tally > 2 %}
                and <a href="" class="agg_popup" data-n_id="{{ n_id }}">{{ tally|add:"-1" }} other people</a>
            {% endif %}
            shared <a href="{{content.get_url}}"> {{ content.title }} </a>
            with you
        </td>

    {% elif type == 'CR' %}
        {% if to_user.type == 'R' %}
            <td class="notification-thumbnail"><img src="{{ STATIC_URL }}/images/icons/actions/answered.png"/></td>
            <td class="notification-text">
            {% include "site/pieces/actions/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            answered
            {% include "site/pieces/actions/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% elif to_user.type == 'P' %}
            <td class="notification-thumbnail"><img src="{{ STATIC_URL }}/images/icons/actions/petition-small.png"/></td>
            <td class="notification-text">
            {% include "site/pieces/actions/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            created
            {% include "site/pieces/actions/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% elif to_user.type == 'N' %}
            <td class="notification-thumbnail"><img src="{{ STATIC_URL }}/images/icons/actions/news-small.png"/></td>
            <td class="notification-text">
            {% include "site/pieces/actions/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            created
            {% include "site/pieces/actions/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% endif %}

    {% elif type == 'ED' %}
        <td class="notification-thumbnail"><img src="{{ STATIC_URL }}/images/icons/actions/edit-feed.png"/></td>
        <td class="notification-text">
        {% include "site/pieces/actions/action_name_snippet.html" with user=from_user you=from_you capital=true %}
        edited
        {% include "site/pieces/actions/action_name_snippet.html" with user=to_user you=to_you %}
        </td>

    {% elif type == 'XX' %}
        {% include "site/pieces/actions/action_name_snippet.html" with user=from_user you=from_you capital=true %}
        deleted
        {% include "site/pieces/actions/action_name_snippet.html" with user=to_user you=to_you %}

    {% endif %}
</tr>
<tr>
    <td colspan="3" class="notification-timestamp">
        {{ timestamp|naturaltime }}
    </td>
</tr>
</table>
{% if not viewed %}
    </div>
{% else %}
    </div>
{% endif %}
