<div class="notifications-header">
    Notifications
</div>

<div class="notifications-container">
    {% if not loading %}
        {% for note in dropdown_notifications_text %}
            {{ note|safe|escape }}
        {% empty %}
            <div class="no-notifications">You have no notifications.</div>
        {% endfor %}
    {% else %}
        <div class="no-notifications">
            <img src="/static/images/icons/ajax-loader.gif">
        </div>
    {% endif %}
</div>

<div class="see-more-notifications">
    <a href="{{ viewer.get_url }}">See more notifications</a>
</div>