{% load humanize %}
{% load thumbnail %}
{% if not viewed %}
    <div class="notification notification-highlighted">
{% else %}
    <div class="notification">
{% endif %}

<table class="notification-container">

<tr>
    <!-- Commented -->
    {% if type == 'CO' %}
        <td class="notification-thumbnail">
            {% include "site/pieces/avatar.html" with user=from_user width="25" height="25" hoveroff=hover_off %}
        </td>
        <td class="notification-text">
            {% include "site/frame/notifications/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            {% if tally == 2 %}
                and <a href="" class="agg_popup" data-n_id="{{ n_id }}">one other person</a>
            {% elif tally > 2 %}
                and <a href="" class="agg_popup" data-n_id="{{ n_id }}">{{ tally|add:"-1" }} other people</a>
            {% endif %}
            commented on
            {% include "site/frame/notifications/action_name_snippet.html" with user=to_user you=to_you %}
        </td>

    <!-- Voted -->
    {% elif type == 'VO' %}
        {% if modifier == 'L' %}
            <td class="notification-thumbnail">
                <img src="{{ STATIC_URL }}/images/icons/actions/heart-small.png"/>
            </td>
            <td class="notification-text">
                {% include "site/frame/notifications/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                {% if tally == 2 %}
                    and <a href="" class="agg_popup" data-n_id="{{ n_id }}">one other person</a>
                {% elif tally > 2 %}
                    and <a href="" class="agg_popup" data-n_id="{{ n_id }}">{{ tally|add:"-1" }} other people</a>
                {% endif %}
                liked
                {% include "site/frame/notifications/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% elif modifier == 'D' %}
            <td class="notification-thumbnail">
                <img src="{{ STATIC_URL }}/images/icons/actions/heart-small.png"/>
            </td>
            <td class="notification-text">
                {% include "site/frame/notifications/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                {% if tally == 2 %}
                    and <a href="" class="agg_popup" data-n_id="{{ n_id }}">one other person</a>
                {% elif tally > 2 %}
                    and <a href="" class="agg_popup" data-n_id="{{ n_id }}">{{ tally|add:"-1" }} other people</a>
                {% endif %}
                disliked
                {% include "site/frame/notifications/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% else %}
            <td class="notification-thumbnail">
                <img src="{{ STATIC_URL }}/images/icons/actions/heart-small.png"/>
            </td>
            <td class="notification-text">
                {% include "site/frame/notifications/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                {% if tally == 2 %}
                    and <a href="" class="agg_popup" data-n_id="{{ n_id }}">one other person</a>
                {% elif tally > 2 %}
                    and <a href="" class="agg_popup" data-n_id="{{ n_id }}">{{ tally|add:"-1" }} other people</a>
                {% endif %}
                unvoted
                {% include "site/frame/notifications/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% endif %}

    <!-- Followed -->
    {% elif type == 'FO' %}
        {% if modifier == 'R' %}
            <td class="notification-thumbnail">
                {% include "site/pieces/avatar.html" with user=from_user width="25" height="25" hoveroff=hover_off %}
            </td>
            <td class="notification-text follow_response_text">
                {% include "site/frame/notifications/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                requested to follow
                {% include "site/frame/notifications/action_name_snippet.html" with user=to_user you=to_you %}
                <div class='notification-append follow_response_append_y'>They are now following you</div>
                <div class='notification-append follow_response_append_n'>Request declined</div>
            </td>
            {% if not follow.rejected and not follow.confirmed and follow.requested %}
                <td class="notification-buttons follow_response_buttons" data-follow_id="{{ from_user.id }}">
                    <div class="notification-follow-response follow_response_y">accept</div>
                    <div class="notification-follow-response bottom follow_response_n">decline</div>
                </td>
            {% endif %}
        {% elif modifier == 'A' %}
            <td class="notification-thumbnail">
                {% include "site/pieces/avatar.html" with user=to_user width="25" height="25" hoveroff=hover_off %}
            </td>
            <td class="notification-text">
                {% include "site/frame/notifications/action_name_snippet.html" with user=to_user you=to_you capital=true %}
                accepted
                {% include "site/frame/notifications/action_name_snippet.html" with user=from_user you=from_you possesive=true %}
                follow request
            </td>
        {% elif modifier == 'D' %}
            <td class="notification-thumbnail">
                {% include "site/pieces/avatar.html" with user=from_user width="25" height="25" hoveroff=hover_off %}
            </td>
            <td class="notification-text notification_text">
                {% include "site/frame/notifications/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                followed
                {% include "site/frame/notifications/action_name_snippet.html" with user=to_user you=to_you %}
                <div class='notification-append notification_append'></div>
            </td>
                {% if not anon and not reverse_follow.confirmed and not reverse_follow.requested %}
                    <td class="notification-buttons notification_buttons">
                        <div class="notification-follow-response notification_user_follow" data-follow_id="{{ from_user.id }}">follow</div>
                    </td>
                {% endif %}
        {% elif modifier == 'X' %}
            <td class="notification-thumbnail">
                {% include "site/pieces/avatar.html" with user=to_user width="25" height="25" hoveroff=hover_off %}
            </td>
            <td class="notification-text">
                {% include "site/frame/notifications/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                {% if from_you %}
                    were rejected from following
                {% else %}
                    was rejected from following
                {% endif %}
                {% include "site/frame/notifications/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% elif modifier == 'S' %}
            <td class="notification-thumbnail">
                {% include "site/pieces/avatar.html" with user=from_user width="25" height="25" hoveroff=hover_off %}
            </td>
            <td class="notification-text">
                {% include "site/frame/notifications/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                stopped following
                {% include "site/frame/notifications/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% endif %}

    <!-- Group Follow -->
    {% elif type == 'JO' %}
        {% if modifier == 'I' %}
            <td class="notification-thumbnail">
                {% include "site/pieces/avatar.html" with user=to_user width="25" height="25" hoveroff=hover_off %}
            </td>
            <td class="notification-text notification_text">
                {% include "site/frame/notifications/action_name_snippet.html" with user=inviter capital=true %}
                invited
                {% include "site/frame/notifications/action_name_snippet.html" with user=from_user you=from_you %}
                to join
                {% include "site/frame/notifications/action_name_snippet.html" with user=to_user you=to_you %}
                <div class='notification-append notification_append_y'>Invite accepted</div>
                <div class='notification-append notification_append_n'>Invite declined</div>
            </td>
            {% if not group_join.declined and not group_join.confirmed and group_join.invited %}
                <td class="notification-buttons notification_buttons" data-g_id="{{ to_user.id }}">
                    <div class="notification-follow-response notification_invite_response_y">accept</div>
                    <div class="notification-follow-response bottom notification_invite_response_n">decline</div>
                </td>
            {% endif %}
        {% elif modifier == 'R' %}
            <td class="notification-thumbnail">
                {% include "site/pieces/avatar.html" with user=from_user width="25" height="25" hoveroff=hover_off %}
            </td>
            <td class="notification-text group_request_text">
                {% include "site/frame/notifications/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                requested to join
                {% include "site/frame/notifications/action_name_snippet.html" with user=to_user you=to_you %}
                <div class='notification-append group_request_append_y'>They have joined your group</div>
                <div class='notification-append group_request_append_n'>Request declined</div>
            </td>
            {% if not group_join.rejected and not group_join.confirmed and group_join.requested %}
                <td class="notification-buttons group_request_buttons" data-follow_id="{{ from_user.id }}" data-g_id="{{ to_user.id }}">
                    <div class="notification-follow-response group_response_y">accept</div>
                    <div class="notification-follow-response bottom group_response_n">decline</div>
                </td>
            {% endif %}
        {% elif modifier == 'A' %}
            <td class="notification-thumbnail">
                {% include "site/pieces/avatar.html" with user=to_user width="25" height="25" hoveroff=hover_off %}
            </td>
            <td class="notification-text">
                {% include "site/frame/notifications/action_name_snippet.html" with user=to_user you=to_you capital=true %}
                accepted
                {% include "site/frame/notifications/action_name_snippet.html" with user=from_user you=from_you possesive=true %}
                join request
            </td>
        {% elif modifier == 'D' %}
            <td class="notification-thumbnail">
                {% include "site/pieces/avatar.html" with user=from_user width="25" height="25" hoveroff=hover_off %}
            </td>
            <td class="notification-text">
                {% include "site/frame/notifications/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                joined
                {% include "site/frame/notifications/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% elif modifier == 'N' %}
            <td class="notification-thumbnail">
                {% include "site/pieces/avatar.html" with user=from_user width="25" height="25" hoveroff=hover_off %}
            </td>
            <td class="notification-text">
                {% include "site/frame/notifications/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                declined to join
                {% include "site/frame/notifications/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% elif modifier == 'X' %}
            <td class="notification-thumbnail">
                {% include "site/pieces/avatar.html" with user=to_user width="25" height="25" hoveroff=hover_off %}
            </td>
            <td class="notification-text">
                {% include "site/frame/notifications/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                {% if from_you %}
                    were rejected from
                {% else %}
                    was rejected from
                {% endif %}
                {% include "site/frame/notifications/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% elif modifier == 'S' %}
            <td class="notification-thumbnail">
                {% include "site/pieces/avatar.html" with user=from_user width="25" height="25" hoveroff=hover_off %}
            </td>
            <td class="notification-text">
                {% include "site/frame/notifications/action_name_snippet.html" with user=from_user you=from_you capital=true %}
                left
                {% include "site/frame/notifications/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% endif %}

    <!-- Events -->
    {% elif type == 'AE' %}
        {% include "site/frame/notifications/action_name_snippet.html" with user=from_user you=from_you capital=true%}
        {% if modifier == 'I' %}
            {% if from_you %}
                 were invited to attend
            {% else %}
                was invited to attend
            {% endif %}
        {% elif modifier == 'R' %}
            requested to attend
        {% elif modifier == 'D' %}
            {% if from_you %}
                are attending
            {% else %}
                is attending
            {% endif %}
        {% elif modifier == 'N' %}
            refused to attend
        {% elif modifier == 'X' %}
            {% if from_you %}
                were rejected from attending
            {% else %}
                was rejected from attending
            {% endif %}
        {% endif %}
        {% include "site/frame/notifications/action_name_snippet.html" with user=to_user you=to_you %}

<!-- Debate Section -->
    {% elif type == 'JD' %}
        {% include "site/frame/notifications/action_name_snippet.html" with user=from_user you=from_you capital=true%}
        {% if modifier == 'I' %}
            was invited to debate
        {% elif modifier == 'R' %}
            requested to debate
        {% elif modifier == 'D' %}
            is debating
        {% elif modifier == 'N' %}
            declined to debate
        {% elif modifier == 'X' %}
            was rejected from debating
        {% endif %}
        {% include "site/frame/notifications/action_name_snippet.html" with user=to_user you=to_you %}

    {% elif type == 'FC' %}
        {% include "site/frame/notifications/action_name_snippet.html" with user=from_user you=from_you capital=true%}
        followed
        {% include "site/frame/notifications/action_name_snippet.html" with user=to_user you=to_you %}

    {% elif type == 'MV' %}
        {% include "site/frame/notifications/action_name_snippet.html" with user=from_user you=from_you capital=true %}
        voted on
        {% include "site/frame/notifications/action_name_snippet.html" with user=to_user you=to_you %}

    {% elif type == 'DV' %}
        {% include "site/frame/notifications/action_name_snippet.html" with user=from_user you=from_you capital=true %}
        voted on
        {% include "site/frame/notifications/action_name_snippet.html" with user=to_user you=to_you %}

    {% elif type == 'DM' %}
        {% include "site/frame/notifications/action_name_snippet.html" with user=from_user you=from_you capital=true %}
        responded in
        {% include "site/frame/notifications/action_name_snippet.html" with user=to_user you=to_you %}

    {% elif type == 'SI' %}
        <td class="notification-thumbnail">
            <img src="{{ STATIC_URL }}/images/icons/actions/check-small.png"/>
        </td>
        <td class="notification-text">
            {% include "site/frame/notifications/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            {% if tally == 2 %}
                and <a href="" class="agg_popup" data-n_id="{{ n_id }}">one other person</a>
            {% elif tally > 2 %}
                and <a href="" class="agg_popup" data-n_id="{{ n_id }}">{{ tally|add:"-1" }} other people</a>
            {% endif %}
            signed
            {% include "site/frame/notifications/action_name_snippet.html" with user=to_user you=to_you %}
        </td>

    {% elif type == 'SH' %}
        <td class="notification-thumbnail">
            <img src="{{ STATIC_URL }}/images/icons/actions/share.png"/>
        </td>
        <td class="notification-text">
            {% include "site/frame/notifications/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            {% if tally == 2 %}
                and <a href="" class="agg_popup" data-n_id="{{ n_id }}">one other person</a>
            {% elif tally > 2 %}
                and <a href="" class="agg_popup" data-n_id="{{ n_id }}">{{ tally|add:"-1" }} other people</a>
            {% endif %}
            shared <a href="{{content.get_url}}"> {{ content.title }} </a>
            with you
        </td>

    {% elif type == 'CR' %}
        {% if to_user.type == 'R' %}
            <td class="notification-thumbnail"><img src="{{ STATIC_URL }}/images/icons/actions/answered.png"/></td>
            <td class="notification-text">
            {% include "site/frame/notifications/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            answered
            {% include "site/frame/notifications/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% elif to_user.type == 'P' %}
            <td class="notification-thumbnail"><img src="{{ STATIC_URL }}/images/icons/actions/petition-small.png"/></td>
            <td class="notification-text">
            {% include "site/frame/notifications/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            created
            {% include "site/frame/notifications/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% elif to_user.type == 'N' %}
            <td class="notification-thumbnail"><img src="{{ STATIC_URL }}/images/icons/actions/news-small.png"/></td>
            <td class="notification-text">
            {% include "site/frame/notifications/action_name_snippet.html" with user=from_user you=from_you capital=true %}
            created
            {% include "site/frame/notifications/action_name_snippet.html" with user=to_user you=to_you %}
            </td>
        {% endif %}

    {% elif type == 'ED' %}
        <td class="notification-thumbnail"><img src="{{ STATIC_URL }}/images/icons/actions/edit-feed.png"/></td>
        <td class="notification-text">
        {% include "site/frame/notifications/action_name_snippet.html" with user=from_user you=from_you capital=true %}
        edited
        {% include "site/frame/notifications/action_name_snippet.html" with user=to_user you=to_you %}
        </td>

    {% elif type == 'XX' %}
        {% include "site/frame/notifications/action_name_snippet.html" with user=from_user you=from_you capital=true %}
        deleted
        {% include "site/frame/notifications/action_name_snippet.html" with user=to_user you=to_you %}

    {% endif %}
</tr>
<tr>
    <td colspan="3" class="notification-timestamp">
        {{ timestamp|naturaltime }}
    </td>
</tr>
</table>
{% if not viewed %}
    </div>
{% else %}
    </div>
{% endif %}
