<span class="triangle-wrapper">
<span class="triangle-border"></span>
<span class="triangle"></span>
</span>

<div class="notifications-header">
    Notifications
</div>

<div class="notifications-container">
    {% if not loading %}
        {% for note in dropdown_notifications_text %}
            {{ note|safe|escape }}
        {% empty %}
            <div class="no-notifications">You have no notifications.</div>
        {% endfor %}
    {% else %}
        <div class="notifications-loading">

        </div>
    {% endif %}
</div>

<div class="see-more-notifications">
    <a href="{{ viewer.get_url }}">See more notifications</a>
</div>