@charset "UTF-8";
/* CSS Document */

@font-face
{
  font-family: "Gill Sans Std Light";
  src: url(GillSansSTD-Light.otf);
}

@font-face
{
  font-family: "Gill Sans Std";
  src: url(GillSansSTD.otf);
}

body
{
	font-family:Helvetica, Verdana, sans-serif;
	font-size:11pt;
}


#create-main
{
	
}

a, a:link, a:visited, a:active
{
	color:#ccc;
}

/* -- BUTTON & TAB CLASSES -- */
.button
{
	-moz-border-radius: 10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	border-radius:10px;
	padding:10px;
	padding-bottom:7px;
	font-size:14pt;
	font-family:"Gill Sans Std Light", Verdana, sans-serif;
}

#main
{
	position:relative;
	top:45px;
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	overflow:visible;
	padding-bottom:40px;
}

/* HEADER */
#top
{
	position:relative;
	width:1000px;
	padding-bottom:15px;
	border-bottom:1px solid #ccc;
	height:45px;
	font-family:"Gill Sans Std Light", Verdana, sans-serif;
	font-size:14pt;
	background-color:#fff;
}

#top a, #top a:link, #top a:active, #top a:visited
{
	color:#f0503b;
	text-decoration:none;
	padding:10px;
}

#top a:hover
{
	padding-top:8px;
    padding-bottom:8px;
	background-color:#f0503b;
	color:#fff;
}

#searchbar
{
	border:1px solid #ccc;
	width:275px;
	height:22px;
    position:relative;
	padding-left:5px;
    left:8px;
    vertical-align: middle;
}

input:focus
{
    outline: none;
}

#searchicon
{
    float:left;
    position:relative;
    left:3px;
    height:22px;
    padding-bottom:2px;
    border-right:1px solid #ccc;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    cursor:pointer;
}

#searchicon:hover
{
    background-color: #A9BAB9;
    cursor:pointer;
}

#top table
{
    width:1000px;
}


.toptd
{
	padding-right:10px;
}

.toptd-search
{
    position:relative;
    width:280px;
}

/* SUB HEADER */

#sub-head
{
	position:relative;
	width:1000px;
	padding-top:10px;
}

#public-private
{
	float:right;
	font-size:10pt;
	color:#959595;
	background-color:#fff;
}

.security-unselected, .security-unselected:active, .security-unselected:visited
{
    color:#f0503b;
    text-decoration:none;
    padding:5px;
}

.security-unselected:hover
{
    padding-top:5px;
    padding-bottom:5px;
    background-color:#f0503b;
    color:#fff;
    cursor:pointer;
}

.security-selected, .security-selected:active, .security-selected:visited
{
    padding:5px;
    padding-top:5px;
    padding-bottom:5px;
    background-color:#f0503b;
    color:#fff;
    cursor:pointer;
}





/* MIDDLE */

#middle
{
    position:relative;
    top:40px;
}

/* LEFT MODULE */
#middle-left
{
	position:relative;
	float:left;
	width:630px;
	padding-right:20px;
}

#left-titles
{
	color:#ccc;
	font-size:14pt;
	font-family:"Gill Sans Std Light", Verdana, sans-serif;
}

#tab-wrapper
{
    padding-bottom:75px;
	position:relative;
    left:80px;
}

#profile-tab-wrapper
{
	padding-bottom:75px;
	position:relative;
    left:20px;	
}

.tab-selected a
{
    position:relative;
    float:left;
    padding:8px;
    top:4px;
    font-size:14pt;
    font-family:"Gill Sans Std Light", Verdana, sans-serif;
    color:#0f5569;
    border:1px solid #ccc;
    border-bottom:0px;
    cursor:pointer;
}

.tab-selected a, a:visited, a:link, a:active
{
    text-decoration:none;
}

.tab-selected a:hover
{
    text-decoration:none;
    color:#ccc;
}

.tab-unselected a
{
    position:relative;
    float:left;
    padding:10px;
    font-size:14pt;
    font-family:"Gill Sans Std Light", Verdana, sans-serif;
    color:#0f5569;
    border-bottom:1px solid #ccc;
    cursor:pointer;
}

.tab-unselected a, a:visited, a:link, a:active
{
    text-decoration:none;
}

.tab-unselected a:hover
{
    text-decoration:none;
    color:#ccc;
}

.tab-border
{
    position:relative;
    float:left;
    width:100px;
    font-size:14pt;
    font-family:"Gill Sans Std Light", Verdana, sans-serif;
    float:left;
    padding:10px;
    border-bottom:1px solid #ccc;
    text-decoration:none;
}

/* -- FEED ITEMS --*/
.feed-item
{
    position:relative;
    border-bottom:1px solid #ccc;
    padding-bottom:20px;
    margin-bottom:45px;
    margin-left:30px;
}

#profile
{
	position:relative;
    top:15px;
    margin-bottom:5px;
    margin-left:30px;
	height:235px;
}

#profile-img
{
	position:relative;
	float:left;
	padding: 6px;
	border:1px solid #f0503b;
	margin-right:20px;
}

.profile-username
{
	position:relative;
    padding-bottom:5px;
	font-size:20pt;
	font-family:"Gill Sans Std", Helvetica, Verdana, sans-serif;
	color:#0f5569;;
}

#profile-summary
{
	position:relative;
	width:380px;
	margin-left:220px;
	margin-bottom:12px;
}

#profile-info-stats
{
    position:relative;
    left:10px;
}

#profile-info
{
	position:relative;
	float:left;
	width:200px;
    margin-bottom:15px;
}

.profile-header
{
	font-family:"Gill Sans Std Light", Helvetica, Verdana, sans-serif;
	color:#959595;
	font-size:14pt;
    margin-bottom:3px;
}

#profile-stats
{
	position:relative;
	left:65px;
    margin-bottom:15px;
	float:left;
	width:150px;

	
}

#profile-stats ul {
	margin-top:0;
	list-style-type:circle;
	margin-left:-15px;
}

.profile-stats-numbers
{
	color:#f0503b;
}

.feed-item-text
{
	margin-left:120px;
	width:490px;
}

.feed-item-text-expanded
{
	width:490px;
	margin-left: 120px;

}

.feed-avatar
{
	float:left;
    padding-right:20px;
}

.feed-item-username
{
    padding-bottom:2px;
	font-size:14pt;
	font-family:"Gill Sans Std", Helvetica, Verdana, sans-serif;
	color:#0f5569;
}

.metadata
{
    position:relative;
    float:right;
    font-family:"Gill Sans Std Light", Verdana, sans-serif;
    color: #ccc;
    font-size:10pt;
    padding-left:10px;
    cursor:pointer;
}

.seemore
{
    position:relative;
    left:20px;
	top:10px;
    font-family:"Gill Sans Std Light", Verdana, sans-serif;
    color: #f0503b;
    font-size:13pt;
    cursor:pointer;
}



.feed-item-expanded img
{
	width:500px;
}


/* RIGHT MODULE */
#middle-right
{
	position:relative;
	float:right;
	width:280px;
	padding-left:35px;
	border-left:1px solid #ff886c;
}

.middle-right-head-font
{
    text-align:left;
    font-family:"Gill Sans Std Light", Verdana, sans-serif;
    font-size:18pt;
    color:#959595;
}

#qaweb
{
    z-index:0;
    position:relative;
    width:275px;
    height:275px;
    text-align:left;
}


/* matching */

#matching
{
    text-align:center;
    z-index:0;
	padding-bottom:20px;
	border-bottom:1px solid #ccc;
    position:relative;
}

#myviews
{
    position:relative;
    padding-bottom:25px;
}

#match-hover
{
    position:absolute;
    z-index:10;
    visibility:hidden;
    width:50px;
    height:30px;
    padding-top:10px;
}

.middle-right-padding
{
    margin-top:35px;
    padding-bottom:10px;
}

#matchme
{
    position:relative;
    background-color:#ff886c;
}

#matchme:link,#matchme:visited,#matchme:active
{
	text-decoration:none;
	color:#fff;
}

#matchme:hover
{
	background-color:#fff;
	color:#f0503b;
}

/* toolbox */

#toolbox
{
    height:215px;
	margin-bottom:20px;
	border-bottom:1px solid #ccc;
}

#toolbox p
{
    height:8px;
}

#toolbox ul
{
	list-style-type:none;
}

#toolbox li
{
	margin-bottom:25px;
}

.toolbox-button:link
{
    color:#FFFFFF;
	background-color:#ccc;
	position:relative;
	margin-bottom:10px;
}

.toolbox-button:link, .toolboox-button:visited, .toolbox-button:active 
{
	text-decoration:none;
}

.toolbox-button:hover
{
	color:#ccc;
    background-color:#FFFFFF;
}

/* my reps */

#myreps
{
	font-family:"Gill Sans Std Light", Verdana, sans-serif;
	font-size:18pt;
	color:#ccc;
	padding-bottom:30px;
	border-bottom:1px solid #ccc;
}

#help-hover
{
    position:absolute;
    background-color: #ffffff;
    height:120px;
    width:200px;
    border:1px solid #000000;
    visibility:hidden;
    z-index:130;
}






